.sp-radio-buttons {
  > label.sp-radio-option {
    > .help-text {
      .arrow img {
        background-color: $secondaryColor;
      }

      .text {
        color: $secondaryColor;
      }
    }
  }

  &.switcher > label.sp-radio-option.checked {
    background-color: $secondaryColor;
  }
}