$productTagIconWidth: 3.5em;
$productTagIconHeight: $productTagIconWidth * 0.6666;
$productTagToolTipPadding: 0.2em;
$productTagToolTipMarginFromIcon: $productTagIconWidth + $productTagToolTipPadding;

product-tag-line {
  font-size: 1em;
  width: 100%;
  display: block;
  white-space: nowrap;

  .ltr & {
    text-align: left;
  }
  .rtl & {
    text-align: right;
  }

  > * {
    display: inline-block;
    vertical-align: middle;
  }

  > img.product-tag-icon {
    width: $productTagIconWidth;
    height: $productTagIconHeight;
    object-fit: contain;

    + .tool-tip {
      .ltr & {
        margin-left: $productTagToolTipMarginFromIcon * -1;
      }

      .rtl & {
        margin-right: $productTagToolTipMarginFromIcon * -1;
      }
    }
  }

  > .tool-tip {
    white-space: normal;
    width: 100%;
    max-height: 2.1em + ($productTagToolTipPadding * 2);
    padding: $productTagToolTipPadding 0;
    box-sizing: border-box;
    overflow: hidden;

    .ltr & {
      padding-left: $productTagToolTipMarginFromIcon;
    }

    .rtl & {
      padding-right: $productTagToolTipMarginFromIcon;
    }
  }

  div.dialog.product > .dialog-body > .product-details > .product-image > .product-tags-wrapper > .all-product-tags > .sp-virtual-repeat-container & {
    $productTagLinePadding: 0.5625em;
    height: $productTagIconHeight + ($productTagLinePadding * 2);
    padding: $productTagLinePadding;
    box-sizing: border-box;
  }
}