<div class="summary tab-container">
    <h1 class="summary-title" id="page_title">
        {{summaryCtrl.creditCardDisplay[$root.config.language.culture].pageTitle || (checkoutCtrl.isRememberCreditCardsMode ? 'Payment Details' : 'Payment Details' | translate)}}
    </h1>

    <div class="summary-container">
        <div class="summary-details" role="region" aria-labelledby="summary_details_title">
            <div class="center">
                <h2 id="summary_details_title" class="title secondary-font">{{'Checkout Summary' | translate}}</h2>
                <svg focusable="false">
                    <use xlink:href="#sp-icons-next-delivery"></use>
                </svg>
                <div class="delivery-type" ng-if="checkoutCtrl.detailsData.delivery.time.type != $root.DELIVERY_TIMES_TYPES.DELIVERY_WITHIN_DAYS">
                    {{checkoutCtrl.detailsData.isShippingService ?
                    ('You selected' | translate) :
                    ('Your order will be ' + (checkoutCtrl.detailsData.deliveryMethod.id == $root.SP_SERVICES.DELIVERY_TYPES.DELIVERY ? 'delivered' : 'ready for pickup') | translate)}}
                </div>
                <div class="delivery-type" ng-if="checkoutCtrl.detailsData.delivery.time.type == $root.DELIVERY_TIMES_TYPES.DELIVERY_WITHIN_DAYS">
                    {{'Your order will be ' + (checkoutCtrl.detailsData.deliveryMethod.id == $root.SP_SERVICES.DELIVERY_TYPES.DELIVERY ? 'delivered' : 'ready for pickup') + ' in' | translate}}
                </div>
                <div class="delivery-type" ng-if="checkoutCtrl.area.deliveryProviderId === $root.SP_SERVICES.DELIVERY_PROVIDERS.MANUAL">
                    {{checkoutCtrl.area.providerName}}
                </div>
                <div class="delivery-type" ng-if="checkoutCtrl.detailsData.deliveryMethod.id == $root.SP_SERVICES.DELIVERY_TYPES.PICKUP">
                    {{('fromBranch' | translate) + ' ' + checkoutCtrl.pickupAddress }}
                </div>
                <div class="delivery-time" ng-if="!checkoutCtrl.detailsData.isShippingService && checkoutCtrl.detailsData.delivery.time.type != $root.DELIVERY_TIMES_TYPES.DELIVERY_WITHIN_DAYS">
                    <div class="date">
                        {{checkoutCtrl.detailsData.delivery.time.type == $root.DELIVERY_TIMES_TYPES.DELIVERY_WITHIN_HOURS ?
                        ('Today' | translate) + ' ' :
                        (checkoutCtrl.detailsData.delivery.times.isToday ? 'Today' : 'day' + checkoutCtrl.detailsData.delivery.times.day | translate) + ' ' +
                        (checkoutCtrl.detailsData.delivery.times.date | date:($root.config.isUs ? 'MM/dd' : 'dd/MM'):'UTC') + ' '}}
                    </div>
                    <div class="times">
                        {{checkoutCtrl.detailsData.delivery.time.type == $root.DELIVERY_TIMES_TYPES.DELIVERY_WITHIN_HOURS ?
                        ('within' | translate) + ' ' + (checkoutCtrl.detailsData.delivery.time.timeRange | date:(checkoutCtrl.detailsData.delivery.time.hours === '0' ? 'mm': checkoutCtrl.detailsData.delivery.time.hours === '1' && checkoutCtrl.detailsData.delivery.time.minutes === '0' && $root.config.language.culture === 'he' ? ' ' : checkoutCtrl.detailsData.delivery.time.minutes > 0 ? 'H:mm' : 'h'):'UTC') + ' ' + ( checkoutCtrl.detailsData.delivery.time.hours === '0' ? 'minutes' : checkoutCtrl.detailsData.delivery.time.hours === '1' && checkoutCtrl.detailsData.delivery.time.minutes === '0' ? 'hour' : 'hours' | translate) :
                        ($root.config.retailer.twoHourLaw && checkoutCtrl.detailsData.deliveryMethod.id == $root.SP_SERVICES.DELIVERY_TYPES.DELIVERY ?
                        ('at_hour' | translate) + ' ' + ((checkoutCtrl.detailsData.delivery.time.fromDisplay || checkoutCtrl.detailsData.delivery.time.from) | date:($root.config.isUs ? 'hh:mm a': 'HH:mm'):'UTC') :
                        (checkoutCtrl.detailsData.delivery.time.from | date:($root.config.isUs ? 'hh:mm a': 'HH:mm'):'UTC') + ' - ' + (checkoutCtrl.detailsData.delivery.time.to | date:($root.config.isUs ? 'hh:mm a': 'HH:mm'):'UTC'))}}</div>
                    <div class="footnote" ng-if="$root.config.retailer.twoHourLaw && checkoutCtrl.detailsData.deliveryMethod.id == $root.SP_SERVICES.DELIVERY_TYPES.DELIVERY">{{'the waiting period will not exceed two hours' | translate}}</div>
                </div>
                <div class="delivery-time" ng-if="!checkoutCtrl.detailsData.isShippingService && checkoutCtrl.detailsData.delivery.time.type == $root.DELIVERY_TIMES_TYPES.DELIVERY_WITHIN_DAYS">
                    <div class="date">{{checkoutCtrl.detailsData.delivery.time.daysRange}} {{'Business Days' | translate}}</div>
                </div>
                <div class="delivery-time" ng-if="checkoutCtrl.detailsData.isShippingService">
                    <div class="date">{{checkoutCtrl.detailsData.delivery.time.serviceName}}</div>
                </div>
                <div class="asap" ng-if="checkoutCtrl.detailsData.delivery.times.asap">
                    <img ng-src="{{'https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/small-v.png'}}" alt="">
                    {{'Sooner if Possible' | translate}}
                </div>
                <h5 class="center substitutions" ng-if="!!checkoutCtrl.detailsData.substitutePreferences">
                    {{'Substitutions Choice' | translate}}:
                    {{'substitute_preference_' + checkoutCtrl.detailsData.substitutePreferences + '_label' | translate}}
                </h5>
            </div>
            <ng-include src="'template/views/checkout/partials/summary-box/index.html'"></ng-include>
        </div>

        <form name="paymentForm" class="paymentForm" novalidate aria-labelledby="payment_title" ng-if="!$root.isCreditCustomer">
            <div class="payment-details">
                <div ng-if="summaryCtrl.paymentMethods.length > 1">
                    <div class="payment-title" id="payment_title">{{'Choose how you\'d like to pay' | translate}}</div>

                    <div ng-if="summaryCtrl.primaryPayments.length > 1" class="payment-method-options">
                        <div class="payment-method" ng-repeat="method in summaryCtrl.primaryPayments"
                             ng-click="summaryCtrl.onPaymentMethodChanged(method)">
                            <img ng-if="method.name === $root.SP_PAYMENTS.PAYMENT_METHODS.NAMES.CREDIT_CARD"
                                 src="https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/payments-options-cc.png" alt="credit card Logo"/>
                            <img ng-if="method.name === $root.SP_PAYMENTS.PAYMENT_METHODS.NAMES.PAYPAL"
                                 src="https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/paypal-square-logo.png" alt="PayPal Logo"/>
                            <img ng-if="method.name === $root.SP_PAYMENTS.PAYMENT_METHODS.NAMES.BIT"
                                 src="https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/payments-options-bit.png" alt="bit Logo"/>
                            <img ng-if="method.name === $root.SP_PAYMENTS.PAYMENT_METHODS.NAMES.I_CREDIT_MASTER_PASS"
                                 src="https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/payments-options-masterpass.png" alt="masterpass Logo"/>
                            <!--                        <img ng-if="method.name === $root.SP_PAYMENTS.PAYMENT_METHODS.NAMES.EBT"-->
                            <!--                             src="https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/??.png" alt="ebt Logo"/>-->
                            <img ng-if="method.name === $root.SP_PAYMENTS.PAYMENT_METHODS.NAMES.CALL_CUSTOMER"
                                 src="https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/payments-options-callme.png" alt="callme Logo"/>
                            <img ng-if="method.name === $root.SP_PAYMENTS.PAYMENT_METHODS.NAMES.STORE_CREDIT"
                                 src="https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/payments-options-credit-on-file.png" alt="storeCredit Logo"/>
                            <span ng-class="{'bold': checkoutCtrl.summaryData.paymentMethod.name === method.name}" class="payment-option-{{(method.name || '').toLowerCase()}}">
                            {{method.name | translate | creditCardName}}
                        </span>
                        </div>
                        <payment-method-description class="explanation"
                                                    payment-method="paymentDetails.paymentMethod"
                                                    is-remember-cards-mode="isRememberCreditCardsMode">
                        </payment-method-description>
                    </div>
                    <div class="payment-border"></div>
                </div>

                <div class="call-customer-description" ng-if="checkoutCtrl.summaryData.paymentMethod.name === $root.SP_PAYMENTS.PAYMENT_METHODS.NAMES.CALL_CUSTOMER">
                    <h5 ng-if="summaryCtrl.paymentMethods.length === 1" class="bold">{{'Pay By Phone' | translate}}</h5>
                    <span>{{'Once we collected your order, we will call to collect your payment' | translate}}</span>
                </div>

                <div class="credit-on-file" ng-if="checkoutCtrl.summaryData.paymentMethod.name === $root.SP_PAYMENTS.PAYMENT_METHODS.NAMES.STORE_CREDIT">
                    <h5 class="bold">{{'Enter your credit on file' | translate}}</h5>
                    <div>
                        <input type="text" name="storecredit" ng-model="checkoutCtrl.summaryData.storeCredit" required
                               sp-inline-error/>
                    </div>
                </div>

                <div class="check-out-button paypal-button" ng-if="checkoutCtrl.summaryData.paymentMethod.name === $root.SP_PAYMENTS.PAYMENT_METHODS.NAMES.PAYPAL && !checkoutCtrl.summaryData.paypalAccount">
                    <button class="no-design disabled-opacity" ng-click="summaryCtrl.openPayPalWindow();" ng-disabled="summaryCtrl.checkOutDisabled || !$root.cart.sendingSucceeded">
                        <span class="for-vertical-align"></span><!--
                        --><span>{{'Pay with' | translate}} </span>
                        <img src="https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/paypal-logo.png" alt="PayPal"/>
                    </button>
                </div>

                <div class="check-out-button masterpass-button" ng-if="checkoutCtrl.summaryData.paymentMethod.name === $root.SP_PAYMENTS.PAYMENT_METHODS.NAMES.I_CREDIT_MASTER_PASS">
                    <button class="no-design" ng-click="summaryCtrl.openICreditMasterPassWindow();" ng-disabled="summaryCtrl.checkOutDisabled || !$root.cart.sendingSucceeded">
                        <span>{{'Pay with' | translate}}</span>
                        <img ng-src="{{'https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/masterpass-button-' + $root.config.language.direction + '.png'}}" alt="MasterPass"/>
                    </button>
                </div>

                <div class="check-out-button bit-button" ng-if="checkoutCtrl.summaryData.paymentMethod.name === $root.SP_PAYMENTS.PAYMENT_METHODS.NAMES.BIT">
                    <div id="bit-payment-button-container" ng-init="summaryCtrl.initBitButton()"></div>
                </div>

                <div class="ebt-details"
                     ng-if="checkoutCtrl.summaryData.paymentMethod.name === $root.SP_PAYMENTS.PAYMENT_METHODS.NAMES.EBT && checkoutCtrl.detailsData">
                    <h5 class="bold"
                        ng-if="checkoutCtrl.summaryData.paymentMethod.name === $root.SP_PAYMENTS.PAYMENT_METHODS.NAMES.EBT">
                        {{'EBT payment' | translate}} ({{'step' | translate}} 1/2)
                    </h5>

                    <div class="add-card-btn-wrapper" ng-if="!summaryCtrl.ebtCards.length">
                        <button type="button" class="no-design main-color pay-button" ng-click="summaryCtrl.showAddEBTCardDialog(true);">
                            <span class="text">{{'Add EBT card' | translate}}</span>
                        </button>
                        <div class="pin-text">
                            *{{'Pin is required to inquire balance' | translate}}
                        </div>
                    </div>

                    <div class="ebt-card-wrapper" ng-if="summaryCtrl.ebtCards.length">
                        <div class="ebt-card-number-wrapper">
                            <div class="card-icon">
                                <svg focusable="false">
                                    <use xlink:href="#sp-icons-ebt-card"></use>
                                </svg>
                            </div>
                            <div class="card">
                                <div class="number">*** **** **** **** {{summaryCtrl.ebtCards[0].lastFourDigits}}</div>
                                <div class="remove-button">
                                    <button type="button" class="no-design" ng-click="summaryCtrl.removeCard(summaryCtrl.ebtCards[0].id);">
                                        {{'Remove' | translate}}
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="ebt-amount" 
                          ng-if="summaryCtrl.ebtBranchSettings[summaryCtrl.ebtBranchSettings.branchId].eBTSnapAllowed">
                            <div class="title">
                                {{'EBT SNAP' | translate}}
                            </div>
                            <div class="data-row" ng-if="summaryCtrl.ebtBalance">
                                <span class="title">{{'Balance' | translate}}:</span>
                                <span>{{summaryCtrl.ebtBalance.fsBalance || 1 | currency}}</span>
                            </div>
                            <div class="data-row" ng-if="summaryCtrl.cartEBTEligibleData">
                                <span class="title">{{'Eligible' | translate}}:</span>
                                <span>
                                {{summaryCtrl.cartEBTEligibleData.snap.totalWithoutTax | currency}}
                                <span ng-include="'template/views/checkout/partials/ebt-weight-debit-disclaimer/index.html'"></span>
                            </span>
                            </div>
                            <div class="data-row input-wrapper">
                                <span class="title">{{'Amount to pay' | translate}}:</span>
                                <span class="value">
                                    <input type="number" 
                                    name="ebtFSAmount" 
                                    ng-model="checkoutCtrl.summaryData.ebt.fsAmount"                                                
                                    ng-change="summaryCtrl.onEBTAmountChange()"
                                          />
                                    {{$root.config.retailer.currencySymbol}}
                                </span>
                            </div>
                            <div ng-if="summaryCtrl.errorState.SNAP ? true : false">
                              <span class="error-ebt">
                                {{summaryCtrl.errorState.SNAP | translate}}
                              </span>
                            </div>
                        </div>
                        <div class="ebt-amount"  ng-if="summaryCtrl.ebtBranchSettings[summaryCtrl.ebtBranchSettings.branchId].eBTCashAllowed">
                            <div class="title">
                                {{'EBT Cash' | translate}}
                            </div>
                            <div class="data-row" ng-if="summaryCtrl.ebtBalance">
                                <span class="title">{{'Balance' | translate}}:</span>
                                <span>{{summaryCtrl.ebtBalance.cbBalance || 1 | currency}}</span>
                            </div>
                            <div class="data-row" ng-if="summaryCtrl.cartEBTEligibleData">
                                <span class="title">{{'Eligible' | translate}}:</span>
                                <span>
                              {{summaryCtrl.cartEBTEligibleData.cash.totalWithTax | currency}}
                                <span ng-include="'template/views/checkout/partials/ebt-weight-debit-disclaimer/index.html'"></span>
                            </span>
                            </div>
                            <div class="data-row input-wrapper">
                                <span class="title">{{'Amount to pay' | translate}}:</span>
                                <span class="value">
                                    <input 
                                    type="number" 
                                    name="ebtCBAmount" 
                                    ng-model="checkoutCtrl.summaryData.ebt.cbAmount"
                                    ng-change="summaryCtrl.onEBTAmountChange()"

                                    />
                                    {{$root.config.retailer.currencySymbol}}
                                </span>
                            </div>
                            <div ng-if="summaryCtrl.errorState.CASH ? true : false">
                              <span class="error-ebt">
                                {{summaryCtrl.errorState.CASH | translate}}
                              </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tav-plus-details"
                     ng-if="(checkoutCtrl.summaryData.paymentMethod.name === $root.SP_PAYMENTS.PAYMENT_METHODS.NAMES.TAV_PLUS || checkoutCtrl.summaryData.paymentMethod.name === $root.SP_PAYMENTS.PAYMENT_METHODS.NAMES.TAV_PLUS_LIGHT) && checkoutCtrl.detailsData">
                    <h5 class="bold"
                        ng-if="checkoutCtrl.summaryData.paymentMethod.name === $root.SP_PAYMENTS.PAYMENT_METHODS.NAMES.TAV_PLUS || checkoutCtrl.summaryData.paymentMethod.name === $root.SP_PAYMENTS.PAYMENT_METHODS.NAMES.TAV_PLUS_LIGHT">
                        {{'Your Tav Plus' | translate}}
                        <img class="question-mark" ng-click="summaryCtrl.openTavPlusExampleDialog()"
                             ng-src="https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/icon_question_mark.png" alt=""
                             src="https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/icon_question_mark.png">
                    </h5>

                    <div class="add-card-tav-plus-wrapper" ng-if="!checkoutCtrl.summaryData.tavPlus">
                        <button type="button" class="no-design main-color pay-button" ng-click="summaryCtrl.showAddTavPlusCardDialog(checkoutCtrl.summaryData.paymentMethod.paymentMethodId);">
                            <div class="card-icon">
                                <svg focusable="false">
                                    <use xlink:href="#sp-icons-tav-plus-card"></use>
                                </svg>
                            </div>
                            <span class="text">{{'Add voucher' | translate}}</span>
                        </button>
                    </div>

                    <div class="tav-plus-card-wrapper" ng-if="checkoutCtrl.summaryData.tavPlus">
                        <div class="tav-plus-card-number-wrapper">
                            <div class="card">
                                <div class="card-icon">
                                    <svg focusable="false">
                                        <use xlink:href="#sp-icons-tav-plus-card"></use>
                                    </svg>
                                </div>
                                <div class="number">*** **** **** **** {{checkoutCtrl.summaryData.tavPlus.lastFourDigits}}</div>
                                <div class="remove-button">
                                    <button type="button" class="no-design" ng-click="checkoutCtrl.summaryData.tavPlus = null;">
                                        {{'Remove' | translate}}
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="tav-plus-card-balance">
                            <div class="card-balance">
                                <span>{{'Balance' | translate}}:</span>
                                <span class="right">{{checkoutCtrl.summaryData.tavPlus.balance | currency}}</span>
                            </div>
                            <div class="amount-input">
                                <span>{{'Amount to pay' | translate}}:</span>
                                <span class="right">
                                {{$root.config.retailer.currencySymbol}}
                                <input id="tav_plus_amount" type="number"
                                       name="tavPlusAmount"
                                       autocomplete="off"
                                       required
                                       sp-inline-error
                                       ng-model="checkoutCtrl.summaryData.tavPlus.amount"
                                       ng-change="summaryCtrl.onTavPlusAmountChange()"
                                       max="{{summaryCtrl.tavPlusMaxAmount}}"/>
                            </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="credit-card-details"
                     ng-if="(checkoutCtrl.summaryData.paymentMethod.name === $root.SP_PAYMENTS.PAYMENT_METHODS.NAMES.CREDIT_CARD ||
                             checkoutCtrl.summaryData.paymentMethod.name === $root.SP_PAYMENTS.PAYMENT_METHODS.NAMES.EBT ||
                             checkoutCtrl.summaryData.paymentMethod.name === $root.SP_PAYMENTS.PAYMENT_METHODS.NAMES.TAV_PLUS ||
                             checkoutCtrl.summaryData.paymentMethod.name === $root.SP_PAYMENTS.PAYMENT_METHODS.NAMES.TAV_PLUS_LIGHT) && checkoutCtrl.detailsData">
                    <div class="add-credit-card-details" ng-if="checkoutCtrl.isRememberCreditCardsMode">
                        <h5 class="bold"
                            ng-if="checkoutCtrl.summaryData.paymentMethod.name === $root.SP_PAYMENTS.PAYMENT_METHODS.NAMES.CREDIT_CARD || checkoutCtrl.summaryData.paymentMethod.name === $root.SP_PAYMENTS.PAYMENT_METHODS.NAMES.TAV_PLUS || checkoutCtrl.summaryData.paymentMethod.name === $root.SP_PAYMENTS.PAYMENT_METHODS.NAMES.TAV_PLUS_LIGHT">
                            {{summaryCtrl.creditCardDisplay[$root.config.language.culture].sectionTitle || ('Your credit cards' | translate | creditCardName)}}
                        </h5>
                        <h5 class="bold"
                            ng-if="checkoutCtrl.summaryData.paymentMethod.name === $root.SP_PAYMENTS.PAYMENT_METHODS.NAMES.EBT">
                            {{'Credit Card' | translate | creditCardName}} ({{'step' | translate}} 2/2)
                        </h5>

                        <div class="ebt-credit-card-disclaimer"
                             ng-if="checkoutCtrl.summaryData.paymentMethod.name === $root.SP_PAYMENTS.PAYMENT_METHODS.NAMES.EBT">
                            {{'Please provide a credit card as backup. Any additional charges will be made to this payment method' | translate}}.
                        </div>

                        <div class="tav-plus-credit-card-disclaimer"
                             ng-if="checkoutCtrl.summaryData.paymentMethod.name === $root.SP_PAYMENTS.PAYMENT_METHODS.NAMES.TAV_PLUS || checkoutCtrl.summaryData.paymentMethod.name === $root.SP_PAYMENTS.PAYMENT_METHODS.NAMES.TAV_PLUS_LIGHT">
                            <div class="short" ng-if="!summaryCtrl.tavPlusSeeMore">
                                {{'tav_plus_credit_card_disclaimer_short' | translate}}
                                <button class="no-design" ng-click="summaryCtrl.tavPlusSeeMore = true">{{'See more' | translate}}</button>
                            </div>
                            <div class="long" ng-if="summaryCtrl.tavPlusSeeMore">
                                {{'tav_plus_credit_card_disclaimer_long' | translate}}
                                <div>
                                    {{('For additional terms and details' | translate) + ' '}}
                                    <a class="tav-plus-link" href="https://tavplus.co.il/" target="_blank">{{'go to site' | translate}}</a>
                                </div>
                            </div>
                        </div>

                        <div class="credit-cards-wrapper">
                            <table>
                                <tbody>
                                <tr ng-repeat="creditCard in summaryCtrl.creditCards">
                                    <td class="radio-column">
                                        <span>
                                        <sp-radio sp-model="checkoutCtrl.summaryData.creditCard"  sp-value="creditCard" sp-disabled="!creditCard.isActive" sp-name="credit-card"
                                                  ng-click="!creditCard.isActive ? summaryCtrl.showAddCardDialog() : summaryCtrl.chooseCreditCard(creditCard)"></sp-radio>
                                    </span>
                                    </td>
                                    <td class="card-number" ng-if="creditCard.isActive" ng-click="summaryCtrl.chooseCreditCard(creditCard)">
                                        <span class="card-hidden-no">**** **** **** </span>{{creditCard.lastFourDigits}}
                                    </td>
                                    <td class="card-number" ng-if="!creditCard.isActive" ng-click="summaryCtrl.showAddCardDialog();">
                                        <span class="card-hidden-no">**** **** **** </span>{{creditCard.lastFourDigits}}
                                    </td>
                                    <td class="cvv" ng-if="summaryCtrl.isCvvShownForCheckout">
                                        <input id="cvv" type="text" name="cvv" autocomplete="off" ng-model="checkoutCtrl.summaryData.creditCard.cvv"
                                               ng-if="creditCard == checkoutCtrl.summaryData.creditCard"
                                               placeholder="{{'Enter CVV' | translate | retailerNameReplacement}}" sp-inline-error sp-inline-error-class="cvv-error"/>
                                        <span ng-click="summaryCtrl.showAddCardDialog();" ng-if="!creditCard.isActive"> {{'Activate card' | translate}}</span>
                                    </td>
                                    <td class="cvv-explain-column" ng-if="summaryCtrl.isCvvShownForCheckout">
                                        <div class="cvv-explain" ng-if="creditCard == checkoutCtrl.summaryData.creditCard">
                                            <div class="question-mark">?</div>
                                            <div class="explanation">
                                                <div class="explanation-title">
                                                    <p>{{'Enter CVV number' | translate | retailerNameReplacement}}</p>

                                                    <img src="https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/credit-card-cvv-cnv.png" alt=""/>

                                                </div>
                                                <span class="detailed-text">{{($root.config.retailer.settings.cvvDescriptionTextReplacement[$root.config.language.id] ? $root.config.retailer.settings.cvvDescriptionTextReplacement[$root.config.language.id] : 'hover description for cvv' | translate)}}</span>
                                                <div class="arrow"></div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="has-credit-cards-details" ng-if="!summaryCtrl.hasCard">
                            <div class="add-card-btn-wrapper">
                                <button type="button" class="no-design main-color pay-button-new add-gift-card-btn" id="add_card"
                                        ng-click="summaryCtrl.showAddCardDialog();">
                                    <svg focusable="false" width="36" height="26">
                                        <use xlink:href="#sp-icons-add-gift-card-2"></use>
                                    </svg>
                                    <span>{{summaryCtrl.creditCardDisplay[$root.config.language.culture].cardButton || ('Add a Credit Card' | translate)}}</span>
                                </button>
                            </div>
                        </div>

                        <div class="has-credit-cards-details" ng-if="summaryCtrl.hasCard">
                            <div class="add-card-btn-wrapper">
                                <button type="button" class="no-design main-color add-gift-card-btn pay-button-new"  id="add_new_card"
                                        ng-click="summaryCtrl.showAddCardDialog();">
                                    <svg focusable="false" width="36" height="26">
                                        <use xlink:href="#sp-icons-add-gift-card-2"></use>
                                    </svg>
                                    <span>{{summaryCtrl.creditCardDisplay[$root.config.language.culture].cardButton || 'Add card' | translate}}</span>
                                </button>
                                <!--<button type="button" class="no-design" id="remove-card" ng-click="summaryCtrl.removeCard(checkoutCtrl.summaryData.creditCard.id);">-->
                                <!--{{'Remove card' |translate}}-->
                                <!--</button>-->
                            </div>

                            <div class="payments-number" ng-if="!!$root.config.creditCardConfig.paymentsNumber
                                                        && ($root.config.creditCardConfig.paymentsNumber | number) > 1
                                                        && checkoutCtrl.summaryData.creditCard.cardType != $root.CREDIT_CARD_TYPES.DIRECT">
                                <span>{{'Payments number' | translate}}&nbsp;</span>
                                <sp-kikar-dropdown sp-model="checkoutCtrl.summaryData.paymentsNumber" class="input narrow">
                                    <sp-kikar-text aria-label="{{'Payments number' | translate}}">
                                        {{checkoutCtrl.summaryData.paymentsNumber}}
                                    </sp-kikar-text>

                                    <sp-kikar-option ng-repeat="num in ($root.config.creditCardConfig.paymentsNumber | arrayInLength)" sp-value="num">
                                        {{num}}
                                    </sp-kikar-option>
                                </sp-kikar-dropdown>
                            </div>
                        </div>
                    </div>

                    <div class="gift-payment" ng-class="{'border-top': checkoutCtrl.isRememberCreditCardsMode, 'border-bottom': !checkoutCtrl.isRememberCreditCardsMode}"
                         ng-if="$root.config.retailer.allowGiftCardsInCheckout">
                        <h5>{{'Add your gift card' | translate}}</h5>
                        <input name="giftCards.0" type="text" ng-model="checkoutCtrl.summaryData.giftCardId" sp-inline-error/>
                    </div>

                    <div class="pay-with-credit-card"
                         ng-if="!checkoutCtrl.isRememberCreditCardsMode && summaryCtrl.paymentIFrameUrl &&
                                summaryCtrl.creditCardWindowType !== $root.SP_PAYMENTS.CREDIT_CARD_WINDOW_TYPES.WINDOW">
                        <iframe id="payment_iframe" ng-init="summaryCtrl.bindIFrameLoad();"  ng-src="{{summaryCtrl.paymentIFrameUrl}}"></iframe>
                    </div>

                    <div class="check-out-button pay-button"
                         ng-if="!checkoutCtrl.isRememberCreditCardsMode && summaryCtrl.creditCardWindowType === $root.SP_PAYMENTS.CREDIT_CARD_WINDOW_TYPES.WINDOW"">
                        <button type="button" class="no-design"  id="pay_button"
                                ng-click="checkoutCtrl.checkout(paymentForm)"
                                ng-disabled="checkoutCtrl.checkingOut || !$root.cart.sendingSucceeded">
                            <span class="text">{{'Pay with Credit Card' | translate | creditCardName}}</span>
                        </button>
                    </div>
                </div>

                <div class="credit-card-details" ng-if="checkoutCtrl.summaryData.paymentMethod.name === $root.SP_PAYMENTS.PAYMENT_METHODS.NAMES.PAYPAL && summaryCtrl.paypalAccounts.length">
                    <div class="add-paypal-accounts-details">
                        <h5 class="bold">{{'Your PayPal accounts' | translate}}</h5>

                        <div class="paypal-accounts-wrapper">
                            <table>
                                <tbody>
                                <tr ng-repeat="paypalAccount in summaryCtrl.paypalAccounts" >
                                    <td class="radio-column">
                                        <!--<span ng-if="summaryCtrl.creditCards.length > 1">-->
                                        <span>
                                        <sp-radio sp-model="checkoutCtrl.summaryData.paypalAccount" sp-name="paypal" sp-value="paypalAccount"></sp-radio>
                                    </span>
                                    </td>
                                    <td class="paypal-account" ng-click="checkoutCtrl.summaryData.paypalAccount = paypalAccount">
                                        <img class="bg-main-color" src="https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/paypal-account.png" alt="{{'PayPal account' | translate}}"/>
                                        <span class="Email"></span>{{paypalAccount.email}}
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="has-paypal-account-details" ng-if="!checkoutCtrl.summaryData.paypalAccount">
                            <div class="add-card-btn-wrapper">
                                <button type="button" class="no-design main-color"  id="add_paypal_account"
                                        ng-click="summaryCtrl.openPayPalWindow();">
                                    <img class="bg-main-color" src="https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/add-account-icon.png" alt=""/>
                                    <span class="text">{{'Add PayPal Account' | translate}}</span>
                                </button>
                            </div>
                        </div>

                        <div class="has-paypal-account-details" ng-if="checkoutCtrl.summaryData.paypalAccount">
                            <div class="add-card-btn-wrapper">
                                <button type="button" class="no-design main-color" id="add_new_paypal_account"
                                        ng-click="summaryCtrl.openPayPalWindow();">
                                    <img class="bg-main-color" src="https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/add-account-icon.png" alt=""/>
                                    <span class="text">{{'Add another account' | translate}}</span>
                                </button>
                            </div>
                        </div>
                        <br>
                    </div>
                </div>

                <div ng-if="summaryCtrl.paymentMethods.length === 1" class="payment-border under"></div>

                <div>
                    <div class="content-row gift-cards-btn-wrapper">
                        <span ng-if="summaryCtrl.giftCardPopupSettings[$root.config.language.culture] && summaryCtrl.giftCardPopupSettings[$root.config.language.culture].paymentLinkText"
                            ng-repeat="linkText in summaryCtrl.giftCardPopupSettings[$root.config.language.culture].paymentLinkText">
                            <span>{{linkText}}</span>
                            <span ng-if="$index !== (summaryCtrl.giftCardPopupSettings[$root.config.language.culture].paymentLinkText.length - 1)" ng-click="summaryCtrl.openGiftCardsPopup(summaryCtrl.secondaryPayments)" class="bold click-here-btn">{{'click here' | translate}}</span>
                        </span>
                    </div>
                </div>

                <div class="gift-card-wrapper"
                    ng-if="!checkoutCtrl.summaryData.paymentMethod.isStandAlone && summaryCtrl.secondaryPayments.length && checkoutCtrl.summaryData.paymentMethod.name !== $root.SP_PAYMENTS.PAYMENT_METHODS.NAMES.EBT">
                    <h5 class="bold">
                        {{summaryCtrl.giftCardDisplay[$root.config.language.culture] && summaryCtrl.giftCardDisplay[$root.config.language.culture].sectionTitle ? summaryCtrl.giftCardDisplay[$root.config.language.culture].sectionTitle : ('Gift Cards' | translate)}}
                    </h5>

                    <p>{{summaryCtrl.giftCardDisplay[$root.config.language.culture] && summaryCtrl.giftCardDisplay[$root.config.language.culture].sectionSubTitle ? summaryCtrl.giftCardDisplay[$root.config.language.culture].sectionSubTitle : ''}}</p>

                    <div class="redeemed-gift-card-list-wrapper" ng-if="summaryCtrl.redeemedGiftCards">
                        <div class="redeemed-gift-card-item-wrapper" ng-repeat="(methodId, redeemedGiftCard) in summaryCtrl.redeemedGiftCards">
                            <svg focusable="false" width="20" height="21">
                                <use xlink:href="#sp-icons-done-v2"></use>
                            </svg>

                            <div class="gift-card-info">    
                                <div class="gift-card-info__top">
                                    <span>{{methodId | paymentMethod | translate}}</span> 
                                    <span style="direction: ltr;">**** **** **** {{redeemedGiftCard.lastFourDigits}}</span>
                                </div>
                                <div class="gift-card-info__bottom">
                                    <strong>{{'Amount to pay' | translate}}:</strong>
                                    <span>{{redeemedGiftCard.amount | currency}}</span>
                                </div>
                            </div>

                            <a type="button" class="remove-btn" ng-click="summaryCtrl.removeRedeemedGiftCard(methodId)">
                                {{'Remove card' | translate}}
                            </a>
                        </div>
                    </div>

                    <button type="button" class="add-gift-card-btn no-design" 
                            ng-click="summaryCtrl.openGiftCardsPopup(summaryCtrl.secondaryPayments)"
                            ng-if="!summaryCtrl.giftCardPopupSettings[$root.config.language.culture] || !summaryCtrl.giftCardPopupSettings[$root.config.language.culture].paymentLinkText">
                        <svg focusable="false" width="37" height="27">
                            <use xlink:href="#sp-icons-add-gift-card"></use>
                        </svg>
                        <span>
                            {{summaryCtrl.giftCardDisplay[$root.config.language.culture] &&
                                summaryCtrl.giftCardDisplay[$root.config.language.culture].cardButton ? summaryCtrl.giftCardDisplay[$root.config.language.culture].cardButton : ('Add Gift Cards' | translate)}}
                        </span>
                    </button>
                </div>

                <div ng-if="checkoutCtrl.summaryData.paymentMethod.name === $root.SP_PAYMENTS.PAYMENT_METHODS.NAMES.ORGANIZATION" class="credit-card-details">
                    <div class="bold" ng-bind="('On Credit Payment' | translate)"></div>
                    <h5 class="bold" ng-bind="checkoutCtrl.userOrganization.name"></h5>

                    <div ng-if="!checkoutCtrl.userOrganization.isActive" class="error-message bold text-align-center">
                        {{'Sorry, Your organization account is inactive' | translate}}
                    </div>

                    <div ng-if="checkoutCtrl.userOrganization.isActive">
                        <input type="text"
                               name="order_organization_confirm"
                               ng-model="checkoutCtrl.summaryData.organization"
                               placeholder="{{'Please enter order confirmation number' | translate}}"
                               required
                               sp-inline-error/>
                    </div>
                </div>

                <div ng-if="summaryCtrl.tipsWasRemoved && !!summaryCtrl.removeTipsOnPickUpText[$root.config.language.id]" class="tips-error">
                    {{summaryCtrl.removeTipsOnPickUpText[$root.config.language.id]}}
                </div>

                <div class="loyalty-package-component-wrapper"
                    ng-if="summaryCtrl.presentLoyaltyPointsComponent()">
                    <div class="loyalty-package-component"
                        ng-if="!!summaryCtrl.userCashbackLoyalty.points">
                        <div class="eligible" ng-if="summaryCtrl.userCashbackLoyalty.points && (!summaryCtrl.activeCashbackLoyalty.isMinPointsRequired ||
                        (summaryCtrl.activeCashbackLoyalty.isMinPointsRequired && summaryCtrl.userCashbackLoyalty.points >= summaryCtrl.activeCashbackLoyalty.minPointsNum))"
                            ng-style="{'background-image': summaryCtrl.showAnimation ? 'url(' + summaryCtrl.activeCashbackLoyalty.banners.desktopAfterRedemptionAnimation + ')' : ''}">
                            <div class="component-image">
                                <img ng-src="{{summaryCtrl.activeCashbackLoyalty.banners.paymentDetailsDesktopComponent}}" alt=""/>
                            </div>
                            <div class="component-message">
                                <span ng-if="!summaryCtrl.userCashbackLoyalty.redeemedPointsAmount && !summaryCtrl.isRedeemedNow" ng-style="{'color': summaryCtrl.activeCashbackLoyalty.loyaltyPages.paymentDetailsPage.beforeRedemption.textColor}">
                                    {{summaryCtrl.activeCashbackLoyalty.loyaltyPages.paymentDetailsPage.beforeRedemption[$root.config.language.culture].text ||
                                summaryCtrl.activeCashbackLoyalty.loyaltyPages.paymentDetailsPage.beforeRedemption[$root.config.retailer.culture].text ||
                                ('Congrats! you have accumulated' | translate)}}
                                    {{summaryCtrl.userPointsToCashback | currency : '' : 1}}
                                </span>
                                <span ng-if="summaryCtrl.userCashbackLoyalty.redeemedPointsAmount && !summaryCtrl.isRedeemedNow"
                                    ng-style="{'color': summaryCtrl.activeCashbackLoyalty.loyaltyPages.paymentDetailsPage.afterRedemption.redeemedTextColor}">
                                    {{summaryCtrl.activeCashbackLoyalty.loyaltyPages.paymentDetailsPage.afterRedemption[$root.config.language.culture].redeemedText ||
                                summaryCtrl.activeCashbackLoyalty.loyaltyPages.paymentDetailsPage.afterRedemption[$root.config.retailer.culture].redeemedText ||
                                ('Congrats! You\'ve redeemed' | translate)}}
                                    {{summaryCtrl.availableUserCashback | currency : '' : 1}}
                                </span>
                                <span ng-if="summaryCtrl.isRedeemedNow" ng-style="{'color': summaryCtrl.activeCashbackLoyalty.loyaltyPages.paymentDetailsPage.afterRedemption.textColor}">
                                    {{summaryCtrl.activeCashbackLoyalty.loyaltyPages.paymentDetailsPage.afterRedemption[$root.config.language.culture].text ||
                                summaryCtrl.activeCashbackLoyalty.loyaltyPages.paymentDetailsPage.afterRedemption[$root.config.retailer.culture].text ||
                                ('Enjoy! We have updated your discount' | translate)}}
                                </span>
                            </div>
                            <div class="redeem-button" ng-if="!summaryCtrl.userCashbackLoyalty.redeemedPointsAmount" ng-click="summaryCtrl.redeemedNow()">
                                <span ng-style="{'color': summaryCtrl.activeCashbackLoyalty.loyaltyPages.paymentDetailsPage.beforeRedemption.buttonTextColor}">
                                    {{summaryCtrl.activeCashbackLoyalty.loyaltyPages.paymentDetailsPage.beforeRedemption[$root.config.language.culture].buttonText ||
                                summaryCtrl.activeCashbackLoyalty.loyaltyPages.paymentDetailsPage.beforeRedemption[$root.config.retailer.culture].buttonText ||
                                ('Redeem now' | translate)}}</span>
                            </div>
                            <div class="unredeemed-button" ng-if="summaryCtrl.userCashbackLoyalty.redeemedPointsAmount > 0" ng-click="summaryCtrl.unredeemed()">
                                <span>{{summaryCtrl.activeCashbackLoyalty.loyaltyPages.paymentDetailsPage.afterRedemption[$root.config.language.culture].buttonText ||
                                summaryCtrl.activeCashbackLoyalty.loyaltyPages.paymentDetailsPage.afterRedemption[$root.config.retailer.culture].buttonText ||
                                ('I have changed my mind' | translate)}}</span>
                            </div>
                        </div>
                        <div class="not-eligible" ng-if="summaryCtrl.activeCashbackLoyalty.isMinPointsRequired && (summaryCtrl.userCashbackLoyalty.points === 0 || summaryCtrl.userCashbackLoyalty.points < summaryCtrl.activeCashbackLoyalty.minPointsNum)">
                            <div class="points-progress-bar-wrapper">
                                <div ng-if="summaryCtrl.userCashbackLoyalty.points && summaryCtrl.userCashbackLoyalty.points < summaryCtrl.activeCashbackLoyalty.minPointsNum"
                                    class="progress-bar-description">
                                    {{'You have accumulated' | translate}}
                                    {{summaryCtrl.userCashbackLoyalty.points + ' ' +
                                (summaryCtrl.activeCashbackLoyalty.loyaltyPages.purchaseSummary[$root.config.language.culture].cashbackLabel ||
                                        summaryCtrl.activeCashbackLoyalty.loyaltyPages.purchaseSummary[$root.config.retailer.culture].cashbackLabel ||
                                        ('Points' | translate))}}
                                    {{('through {name}' |translate).replace('{name}', summaryCtrl.activeCashbackLoyalty.name)}}
                                </div>
                                <div ng-if="summaryCtrl.userCashbackLoyalty.points === 0" class="progress-bar-description">
                                    {{('You haven\'t accumulated any points on {name} yet' | translate).replace('{name}', summaryCtrl.activeCashbackLoyalty.name)}}
                                </div>
                                <div class="points-progress-bar">
                                    <div class="progress-bar">
                                        <div class="inner-progress-bar" style="width: {{summaryCtrl.precentsPointsOutOfMin}}%"></div>
                                    </div>
                                    <sapn>{{summaryCtrl.activeCashbackLoyalty.minPointsNum + ' ' +
                                    (summaryCtrl.activeCashbackLoyalty.loyaltyPages.purchaseSummary[$root.config.language.culture].cashbackLabel ||
                                            summaryCtrl.activeCashbackLoyalty.loyaltyPages.purchaseSummary[$root.config.retailer.culture].cashbackLabel ||
                                            ('Points' | translate))}}
                                    </sapn>
                                </div>
                            </div>
                            <div class="component-message" ng-style="{'color': summaryCtrl.activeCashbackLoyalty.loyaltyPages.paymentDetailsPage.afterRedemption.notRedeemedTextColor}">
                                <span>
                                    {{(summaryCtrl.activeCashbackLoyalty.loyaltyPages.paymentDetailsPage.afterRedemption[$root.config.language.culture].notRedeemedText ||
                                        summaryCtrl.activeCashbackLoyalty.loyaltyPages.paymentDetailsPage.afterRedemption[$root.config.retailer.culture].notRedeemedText ||
                                        ('accumulate another {xxx points} to get a discount on your next purchase' | translate))
                                        | replaceAll:'{xxx points}':(summaryCtrl.activeCashbackLoyalty.minPointsNum - summaryCtrl.userCashbackLoyalty.points).toFixed(1)}}
                                </span>
                            </div>
                        </div>
                    </div>
                    <div ng-if="summaryCtrl.userCashbackLoyalty && summaryCtrl.currentOrderPoints > 0" class="points-calculation-info">
                        {{(summaryCtrl.activeCashbackLoyalty.loyaltyPages.paymentDetailsPage.beforeRedemption[$root.config.language.culture].noteText ||
                            summaryCtrl.activeCashbackLoyalty.loyaltyPages.paymentDetailsPage.beforeRedemption[$root.config.retailer.culture].noteText ||
                            'In this purchase you have accumulated about {xxx points} Reward Points. The final calculation will be made after your order has been fulfilled and charged' | translate)
                            | replaceAll:'{xxx points}':summaryCtrl.currentOrderPoints}}
                    </div>
                </div>

                <div class="check-out-button" ng-if="summaryCtrl.isShowCheckoutButton()">
                    <button class="no-design disabled-opacity"
                            ng-click="checkoutCtrl.checkout(paymentForm)"
                            ng-disabled="checkoutCtrl.checkingOut || !$root.cart.sendingSucceeded">
                        {{'PLACE ORDER' | translate}}
                    </button>
                </div>
            </div>
        </form>

        <form name="paymentForm" class="paymentForm credit-customer-payment-form" novalidate aria-labelledby="payment_title" ng-if="$root.isCreditCustomer">
            <div class="payment-details">

                <div ng-if="checkoutCtrl.userOrganization && checkoutCtrl.userOrganization.id">{{checkoutCtrl.userOrganization.name}}</div>
                <h5 class="bold">{{checkoutCtrl.userOrganization && checkoutCtrl.userOrganization.id ? 'Payment by organization credit' : 'Payment by credit' | translate}}</h5>

                <div class="credit-customer-line">
                    <svg focusable="false" class="wallet-icon">
                        <use xlink:href="#sp-icons-wallet"></use>
                    </svg>
                    <span class="text">{{'Remaining Credit' | translate}}:</span>
                    <span class="price" ng-class="{'not-enough': $root.creditCustomerRemainingSum < ($root.cart.total.finalPriceWithTax + $root.cart.total.serviceFee.finalPriceWithTax + $root.cart.total.deliveryCost.finalPriceWithTax) }">{{$root.creditCustomerRemainingSum | currency:' '}}</span>
                </div>

                <div ng-if="summaryCtrl.tipsWasRemoved && !!summaryCtrl.removeTipsOnPickUpText[$root.config.language.id]" class="tips-error">
                    {{summaryCtrl.removeTipsOnPickUpText[$root.config.language.id]}}
                </div>

                <div class="check-out-button">
                    <button class="no-design disabled-opacity" ng-click="checkoutCtrl.checkoutCreditCustomer(paymentForm)" ng-disabled="checkoutCtrl.checkingOut || !$root.cart.sendingSucceeded">
                        {{'PLACE ORDER' | translate}}
                    </button>
                </div>

            </div>
        </form>

    </div>
</div>
