html.checkout section.view .checkout-content .tab>.summary > div {
  > .summary-details .summary-line.total-line span.you-save {
    > svg {
      fill: $mainColor;
    }

    > .special-icon {
      background-color: $mainColor;
    }
  }

  .payment-details {
    .check-out-button button {
      background-color: $secondaryColor;
    }

    h5 {
      font-family: $defaultFontFamily;
    }

    .credit-card-details .credit-cards-wrapper table .cvv-explain {
      .question-mark {
        border-color: $mainColor;
        color: $mainColor;
      }
    }

    .ebt-details .ebt-card-wrapper {
      .ebt-card-number-wrapper .balance-button button {
        border-color: $mainColor;
      }

      .ebt-amount > .title {
        color: $mainColor;
      }
    }

    .gift-card-wrapper {
      > .redeemed-gift-card-list-wrapper {
        > .redeemed-gift-card-item-wrapper {
          background-color: '{{mainColor-#ffffff-10}}';

          > svg {
            use {
              fill: '{{mainColor}}';
            }
          }
        }
      }

      .add-gift-card-btn {
        color: '{{mainColor}}';
        > svg {
            use {
              fill: '{{mainColor}}';
            }
        }
      }
    }
  }

  .detailed-payments {
    background-color: '{{mainColor-#ffffff-10}}';
  }

  .component-message {
    color: $mainColor;
  }

  .points-discount {
    color: $mainColor;
  }
}
