<div class="sp-cart-line-count" ng-show="line && (line.quantity || line.isProductOutOfStock)" ng-class="{'weighable': line.soldBy === $root.PRODUCT_DISPLAY.WEIGHT.name || (line.product && !line.isCase && $root.util.isWeightQuantity(line.product))}">
    <div ng-if="line">
        <span class="for-vertical-align"></span><!--
        --><span aria-live="assertive" ng-if="!line.isProductOutOfStock" aria-relevant="text">{{textBefore === undefined ? '+' : textBefore}}{{line.soldBy === $root.PRODUCT_DISPLAY.WEIGHT.name || $root.util.isWeightQuantity(line.product) ? (line.product | productWeight:line.isCase:null:line.quantity:line.soldBy) : line.quantity}}</span><!--
        --><span aria-live="assertive" ng-if="line.isProductOutOfStock" aria-relevant="text">0</span>
    </div>
</div>