.sp-cart-line-count {
  text-align: center;

  > div {
    display: inline-block;
    width: 3.125em;
    height: 3.125em;
    border-radius: 100%;
    box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.52);
    color: #414141;
    font-weight: 900;

    > span {
      display: inline-block;
      vertical-align: middle;
      font-size: 1em;
    }
  }

  &.weighable > div > span {
    font-size: 0.8125em;
  }
}