<div class="loyalty-title-wrapper">
    <h1 class="detail-title" ng-bind="::'Membership club' | translate" id="page_title"></h1>

    <div class="call-to-action"
         ng-if="!userLoyaltyCtrl.userLoyaltyClub || userLoyaltyCtrl.userLoyaltyClub.loyaltyVerificationStatus == null ||
          (userLoyaltyCtrl.isMultiLoyalty && userEditCtrl.user.loyaltyClubs.length !== $root.config.retailer.loyaltyClubDrivers.length) ||
         !userLoyaltyCtrl.loyaltyClubDriver || !userLoyaltyCtrl.loyaltyClubDriver.clientConfig.banners.registrationMembership">
        <button ng-click="$root.util.showLoyaltyClubDialog()" ng-bind="'Join / Connect to club' | translate | retailerNameReplacement"></button>
    </div>

    <div class="call-to-action"
         ng-if="!userLoyaltyCtrl.isMultiLoyalty && userLoyaltyCtrl.userLoyaltyClub && userLoyaltyCtrl.userLoyaltyClub.loyaltyVerificationStatus == 1 && !userLoyaltyCtrl.loyaltyClubDriver.clientConfig.banners.connectToCard">
        <button ng-click="$root.util.showLoyaltyClubDialog()" ng-bind="::'connect_to_loyalty' | translate"></button>
    </div>
</div>

<div class="loyalty-club">
    <div class="registarArea" ng-if="userLoyaltyCtrl.isMultiLoyalty || !userLoyaltyCtrl.userLoyaltyClub || (userLoyaltyCtrl.userLoyaltyClub.loyaltyClubCardId == null && userLoyaltyCtrl.loyaltyAtProcess == undefined)">

        <div ng-if="!userLoyaltyCtrl.userLoyaltyClub || userLoyaltyCtrl.userLoyaltyClub.loyaltyVerificationStatus == null">
            <div class="registrationBanner"
                 ng-if="!userLoyaltyCtrl.isMultiLoyalty && userLoyaltyCtrl.loyaltyClubDriver && userLoyaltyCtrl.loyaltyClubDriver.clientConfig.banners.registrationMembership">
                <img ng-src="{{userLoyaltyCtrl.loyaltyClubDriver.clientConfig.banners.registrationMembership}}"
                     ng-click="!!userLoyaltyCtrl.loyaltyClubDriver.clientConfig.bannersMap && !!userLoyaltyCtrl.loyaltyClubDriver.clientConfig.bannersMap.registrationMembershipBanner
                               && !!userLoyaltyCtrl.loyaltyClubDriver.clientConfig.bannersMap.registrationMembershipBanner.length ? null : $root.util.showLoyaltyClubDialog()"
                     alt="{{'membership club' | translate}}">
                <div ng-if="!!userLoyaltyCtrl.loyaltyClubDriver.clientConfig.bannersMap && !!userLoyaltyCtrl.loyaltyClubDriver.clientConfig.bannersMap.registrationMembershipBanner
                && !!userLoyaltyCtrl.loyaltyClubDriver.clientConfig.bannersMap.registrationMembershipBanner.length"
                     class="banner-map">
                    <div class="area"
                         ng-repeat="area in userLoyaltyCtrl.loyaltyClubDriver.clientConfig.bannersMap.registrationMembershipBanner"
                         ng-if="area.url"
                         aria-label="{{area.alt}}"
                         ng-style="{'top': (area.y + (userLoyaltyCtrl.registrationBannerImgOffsetTop || 0)) + 'px',
                         'left': (area.x + (userLoyaltyCtrl.registrationBannerImgOffsetLeft || 0)) + 'px',
                         'width': area.width + 'px',
                         'height': area.height + 'px'}"
                         ng-click="userLoyaltyCtrl.goTo(area.url)">
                    </div>
                </div>
            </div>
        </div>

        <div ng-if="!userLoyaltyCtrl.isMultiLoyalty && userLoyaltyCtrl.userLoyaltyClub && userLoyaltyCtrl.userLoyaltyClub.loyaltyVerificationStatus == 1">
            <div class="verificationBanner" ng-if="userLoyaltyCtrl.loyaltyClubDriver.clientConfig.banners.connectToCard">
                <img ng-src="{{userLoyaltyCtrl.loyaltyClubDriver.clientConfig.banners.connectToCard}}"
                     ng-click="!!userLoyaltyCtrl.loyaltyClubDriver.clientConfig.bannersMap && !!userLoyaltyCtrl.loyaltyClubDriver.clientConfig.bannersMap.connectToCardBanner
                               && !!userLoyaltyCtrl.loyaltyClubDriver.clientConfig.bannersMap.connectToCardBanner.length ? null : $root.util.showLoyaltyClubDialog()"
                     alt="{{'membership club' | translate}}">
                <div ng-if="!!userLoyaltyCtrl.loyaltyClubDriver.clientConfig.bannersMap && !!userLoyaltyCtrl.loyaltyClubDriver.clientConfig.bannersMap.connectToCardBanner
                && !!userLoyaltyCtrl.loyaltyClubDriver.clientConfig.bannersMap.connectToCardBanner.length"
                     class="banner-map">
                    <div class="area"
                         ng-repeat="area in userLoyaltyCtrl.loyaltyClubDriver.clientConfig.bannersMap.connectToCardBanner"
                         ng-if="area.url"
                         ng-style="{'top': (area.y + (userLoyaltyCtrl.connectBannerImgOffsetTop || 0)) + 'px',
                         'left': (area.x + (userLoyaltyCtrl.connectBannerImgOffsetLeft || 0)) + 'px',
                         'width': area.width + 'px',
                         'height': area.height + 'px'}"
                         ng-click="userLoyaltyCtrl.goTo(area.url)">
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>

    <div class="loyalty-clubs-details" ng-if="userEditCtrl.user && userEditCtrl.user.loyaltyClubs && userEditCtrl.user.loyaltyClubs.length">
        <div class="club-details" ng-repeat="loyaltyClub in userEditCtrl.user.loyaltyClubs">
            <!--These might be needed in the future...-->
            <!--<div ng-bind="('Membership number' | translate) + ': ' + userEditCtrl.user.loyaltyClubCardId"></div>-->
            <!--<div>-->
            <!--{{('Expiration date' | translate) + ': ' + (userEditCtrl.user.loyaltyClubExpiration | date:($root.isUs ? 'MM/dd/yyyy' : 'dd/MM/yyyy'):'UTC')}}-->
            <!--</div>-->
            <div class="details-wrapper">
                <div class="loyalty-name">
                    <span class="driver-icon">{{'Club' | translate}}</span>
                    <span class="name">{{loyaltyClub.loyaltyClubDriverName}}</span>
                </div>
                <div class="user-detail" ng-if="userLoyaltyCtrl.loyaltyClubDriver.clientConfig.addBarcodeOnLoyaltyMobile">
                    {{('Membership number' | translate) + ' ' + loyaltyClub.loyaltyCardId + userLoyaltyCtrl.generateGS1CheckDigit(loyaltyClub.loyaltyCardId)}}
                </div>
                <div class="user-detail" ng-if="!userLoyaltyCtrl.loyaltyClubDriver.clientConfig.addBarcodeOnLoyaltyMobile">
                    {{('Membership number' | translate) + ' ' + loyaltyClub.loyaltyCardId}}
                </div>
                <div class="user-detail">
                    {{userEditCtrl.user.firstName + ' ' + userEditCtrl.user.lastName + ', ' + userEditCtrl.user.phonesObj['3'].phoneNumber}}
                </div>
                <div class="user-detail" ng-if="loyaltyClub.loyaltyClubExpiration"
                     ng-class="{'is-expired': loyaltyClub.isExpired}">
                    {{('Validity' | translate) + ': ' + (loyaltyClub.loyaltyClubExpiration | date: ($root.isUs ? 'MM/dd/yyyy' : 'dd/MM/yyyy'):'UTC')
                + (loyaltyClub.isExpired ? (' ' + ('Expired' | translate)) : '')}}
                </div>
            </div>
        </div>
    </div>

    <div class="register-message" ng-if="!userLoyaltyCtrl.isMultiLoyalty && userLoyaltyCtrl.userLoyaltyClub && userLoyaltyCtrl.userLoyaltyClub.loyaltyVerificationStatus == null && userLoyaltyCtrl.userLoyaltyClub.loyaltyClubCardId == null && userLoyaltyCtrl.loyaltyAtProcess != undefined">
        {{'The registration process will end when you will pay a membership fee at checkout' | translate}}
    </div>

    <div class="register-message" ng-if="!userLoyaltyCtrl.isMultiLoyalty && userLoyaltyCtrl.userLoyaltyClub && userLoyaltyCtrl.userLoyaltyClub.loyaltyClubCardId == null && userLoyaltyCtrl.userLoyaltyClub.loyaltyVerificationStatus">
        {{('You have successfully registered to {clubname}. You will need to connect as a club member, once you receive your credit card' | translate)
        .replace('{clubname}', (!userLoyaltyCtrl.loyaltyClubDriver.name ? !userLoyaltyCtrl.loyaltyClubDriver.name : ('membership_club' | translate)))}}.
    </div>

    <div class="full-details-link" ng-if="!userLoyaltyCtrl.isMultiLoyalty && userLoyaltyCtrl.userLoyaltyClub && userLoyaltyCtrl.userLoyaltyClub.loyaltyClubId && $root.config.retailer.loyaltyFullDetailsUrl">
        {{
        ('For {clubname} full details' | translate)
        .replace('{clubname}', (!userLoyaltyCtrl.loyaltyClubDriver.name ? !userLoyaltyCtrl.loyaltyClubDriver.name : ('membership_club' | translate)))
        }}
        <a ng-href="{{$root.config.retailer.loyaltyFullDetailsUrl}}">{{'Click here' | translate}}</a>.
    </div>

    <div class="specials-carousel"
         ng-if="userLoyaltyCtrl.userType === $root.LOYALTY_PAGE_METHODS.NON_LOYALTY_MEMBER""
         ng-class="{'new-promotion': $root.config.retailer.settings.isNewPromotionDesignEnabled === 'true'}">
        <h2 class="left"> {{userLoyaltyCtrl.isMultiLoyalty ? ('Our clubs specials ' | translate | retailerNameReplacement) : (('{clubname} Special Deals' | translate).replace('{clubname}', (userLoyaltyCtrl.loyaltyClubDriver.name ?userLoyaltyCtrl.loyaltyClubDriver.name : ('membership_club' | translate))))}}</h2>
        <sp-carousel
            template-url="template/views/home/partials/special-carousel/index.html"
            load-more-items="userLoyaltyCtrl.loadSpecials"
            functions="userLoyaltyCtrl.specialsActions"
            item-width="278"
            rows="{default:1}"
            refresh-event="carousel.specials.add"
            watchers="userLoyaltyCtrl.specialsCarouselWatchers">
        </sp-carousel>
    </div>
</div>
