$marginInBetween: 1em;

.loyalty-title-wrapper {
  position: relative;

  .call-to-action {
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
    padding: 2em 0;

    button {
      color: #ffffff;
      font-weight: 700;
      background: #414141;
      border-radius: 2.625em;
      padding: 0.5em 2em;
    }
  }
}

.loyalty-club {
  .registarArea {
    .registrationBanner, .verificationBanner {
      cursor: pointer;
      position: relative;

      .banner-map .area {
        position: absolute;
      }
    }
  }

  .loyalty-clubs-details {
    margin-bottom: 2em;

    .club-details {
      display: inline-block;
      width: 32%;
      padding: 1em;
      background-color: #ffffff;
      position: relative;
      box-sizing: border-box;
      height: fit-content;
      vertical-align: top;

      .details-wrapper {
        display: inline-block;
        vertical-align: middle;
        width: 84%;

        .loyalty-name {
          padding-bottom: 1em;

          .name {
            font-size: 1.4em;
            font-weight: bold;
            padding: 0 0.2em;
            vertical-align: middle;
          }

          .driver-icon {
            vertical-align: middle;
            display: inline-block;
            border-radius: 5px;
            padding: 0.3em;
            color: #ffffff;
            font-size: 0.8em;
          }
        }

        .user-detail {
          color: #78797A;
          font-size: 1.1em;
          line-height: 1.4em;

          &.is-expired {
            font-weight: bold;
            color: #DA3B39;
          }
        }
      }

      &:not(:last-child) {
        margin-right: $marginInBetween;
      }
    }
  }

  .register-message {
    padding: 0 2em;
  }

  .full-details-link {
    display: block;
    padding: 0.5em 2em 0 2em;

    > a {
      text-decoration: underline;
      color: #0a9dc7;
    }
  }

  .specials-carousel {
    span.left, h2.left {
      margin: 1em 0 1em 2em;
      font-weight: bold;
      color: #616161;
      font-size: 1em;
    }

    span.right {
      margin: 1em 4em 1em 0;
      color: #616161;
    }
  }
}

.rtl {
  .loyalty-title-wrapper .call-to-action {
    left: 0;
    right: auto;
  }

  .loyalty-club {
    .loyalty-clubs-details {
      .club-details {
        .user-detail:not(:last-child) {
          padding-left: $marginInBetween;
          padding-right: 0;
        }

  /*      .driver-icon {
          left: 1em;
          right: auto;
        }*/
      }
    }
    .specials-carousel {
      span.left, h2.left {
        margin: 1em 2em 1em 0;
      }

      span.right {
        margin: 1em 0 1em 4em;
      }
    }
  }
}


