<div class="product-actions actions {{mode || 'landscape'}}"
     ng-click="$event.target !== $event.currentTarget && $event.stopPropagation();"
     role="none" tabindex="-1"
     ng-hide="line.product._suggestions || product._suggestions || showReplacementLabel"><!--
    --><span class="for-vertical-align" ng-if="mode !== 'portrait'"></span><!--
    --><sp-quantity ng-if="getLine() && getLine().quantity" est-text="{{estText}}" cart-line="getLine()" is-pack="isPack"
                 hide-cart="{{hideCart}}" hide-weight="{{mode == 'portrait'}}" design="{{mode || 'landscape'}}" sp-aria-live="spAriaLive"></sp-quantity><!--
    --><button type="button" class="no-design add-to-cart aria-show-focus" ng-if="(!getLine() || !getLine().quantity) && !hideAddButton" aria-label="{{('add to cart' | translate).replace('{cart}', $root.config.retailer.settings.setCartNameToBasket ? $root.config.retailer.settings.setCartNameToBasket : 'cart')}}"
            ng-click="addLine({product: product, isCase: line.isCase || isCase, quantity: isPack ? product.branch.packQuantity : null, productPropertyValue: productPropertyValue, source: 'productPage'}); setFocus(); removeOOS(product);" aria-hidden="true">
        <svg focusable="false">
            <use xlink:href="#sp-icons-add-to-cart"></use>
        </svg><!--
        --><span class="text">{{(product.oosProduct ? 'Replace' : 'Add') | translate}}</span>
    </button><!--
    --><button type="button" class="no-design add-to-cart" ng-if="(!getLine() || !getLine().quantity) && hideAddButton" aria-label="{{'Open' | translate}}"
               ng-click="removeOOS(product); openProduct(product, $index)">
        <svg focusable="false">
            <use xlink:href="#sp-icons-add-to-cart"></use>
        </svg><!--
        --><span ng-if="!product.oosProduct" class="text">{{'Open' | translate}}</span><!--
        --><span ng-if="product.oosProduct" class="text">{{'Replace' | translate}}</span><!--
    --></button><!--
    --><button type="button" class="remove-from-cart" ng-if="removeFromCart" ng-click="$root.cart.removeLine(product);">
        {{('remove from cart' | translate).replace('{cart}', $root.config.retailer.settings.setCartNameToBasket ? $root.config.retailer.settings.setCartNameToBasket : 'cart')}}
    </button><!--
--></div>
