.actions, .product-actions {
  > button.add-to-cart, &.landscape > .sp-quantity .quantity-wrapper {
    .text {
      font-family: $defaultFontFamily;
    }
  }

  > button.add-to-cart, &.large-actions.landscape > .sp-quantity .quantity-wrapper {
    background-color: $secondaryColor;
  }

  &.portrait .sp-quantity .btns-row > .quantity-wrapper {
    border-right-color: $mainColor;
    border-left-color: $mainColor;
  }
}