<div class="specials-wrapper" ng-controller="KikarTemplateSpecialsCtrl">
    <sp-items
        banner-title="{{'Specials' | translate}}"
        items="specials"
        total="total"
        no-results-message="{{'sorry_2' | translate}},<br/>{{'We couldn\'t find any specials' | translate}}"
        item-class="special-item"
        ng-class="{'new-promotion': $root.config.retailer.settings.isNewPromotionDesignEnabled === 'true'}"
        template-url="template/partials/special-item/index.html"
        on-click="openSpecial($item, $index)"
        filters="spItemsFilters"
        img="https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/new-template/sales-large-icon.png">
    </sp-items>
</div>