<div class="user-migration-wrapper">
    <div class="retailer-image"
        ng-if="userMigrationCtrl.entranceFlow && userMigrationCtrl.currentStep !== 'setPassword' && userMigrationCtrl.currentStep !== 'migrateSuccess'">
        <img
            ng-src="{{::($root.config.retailer.settings['migrationDesktopImage' + $root.config.language.culture.toUpperCase()] || 
                'https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/user-migration-desktop-top-image-'+ $root.config.language.culture +'.png') | image}}" />
    </div>
    <div class="retailer-logo"
        ng-if="(!userMigrationCtrl.entranceFlow || userMigrationCtrl.currentStep === 'setPassword' || userMigrationCtrl.currentStep === 'migrateSuccess') && $root.config.retailer.logoUrl">
        <img ng-src="{{::$root.config.retailer.logoUrl | image}}"
            alt="{{::$root.config.retailer.title + ' ' + ('Home page link' | translate)}}" />
    </div>

    <ng-switch on="userMigrationCtrl.currentStep">
        <form ng-switch-when="verifyEmail" name="verifyEmailForm" ng-submit="userMigrationCtrl.verifyEmail()">
            <span class="title" ng-style="{color: $root.config.retailer.settings.migrationMessageColor}"
                ng-if="userMigrationCtrl.entranceFlow" ng-bind="$root.config.retailer.settings['migrationMessage' + $root.config.language.culture.toUpperCase()] ||
                     ('A quick and easy way to login with your former account' | translate)">
            </span>
            <span class="title" ng-style="{color: $root.config.retailer.settings.migrationMessageColor}"
                ng-if="!userMigrationCtrl.entranceFlow"
                ng-bind="'This email address is used for an account on our previous site' | translate">
            </span>

            <span class="email" ng-if="!userMigrationCtrl.entranceFlow" ng-bind="'(' + userMigrationCtrl.email + ')'">
            </span>

            <span ng-bind="'In order to link your account information, a verification required via email' | translate">
            </span>

            <div ng-if="userMigrationCtrl.entranceFlow">
                <span class="email label"
                    ng-bind="'Please enter the email address you previously registered with' | translate">
                </span>

                <div class="input-container">
                    <input class="email-input" type="email" name="email" placeholder="{{::'Email' | translate}}"
                        ng-class="{error: userMigrationCtrl.showFormError}" ng-model="userMigrationCtrl.email" required
                        sp-inline-error />
                    <span class="error" ng-show="userMigrationCtrl.showFormError"
                        ng-bind="'No account associated with this email was found, please try again' | translate">
                    </span>
                </div>
            </div>

            <button class="block" type="submit" ng-bind="'Send me a verification code' | translate"></button>
        </form>

        <form ng-switch-when="verifyCode" name="verifyCodeForm" ng-submit="userMigrationCtrl.verifyCode()">
            <span class="title" ng-style="{color: $root.config.retailer.settings.migrationMessageColor}"
                ng-bind="'Enter verification code' | translate">
            </span>

            <div>
                <span class="description">
                    {{('An email with verification code has been sent to' | translate) + ' ' + userMigrationCtrl.email}}
                </span>

                <span ng-show="!userMigrationCtrl.showFormError">
                    {{('Didn\'t receive the code?' | translate) + ' '}}
                    <a ng-click="userMigrationCtrl.verifyEmail(true)" ng-bind="'Send again' | translate"></a>
                </span>

                <span class="info" ng-bind="'You may need to check your spam folder' | translate"></span>
            </div>

            <div class="code">
                <div class="inputs">
                    <input id="code1" type="text" name="code1" maxlength="1" required
                        ng-class="{error: userMigrationCtrl.showFormError}" ng-model="userMigrationCtrl.code.code1"
                        ng-keydown="userMigrationCtrl.onKeyDown($event)" ng-keyup="userMigrationCtrl.onKeyUp($event)"
                        ng-focus="$event.srcElement.select()" />
                    <input id="code2" type="text" name="code2" maxlength="1" required
                        ng-class="{error: userMigrationCtrl.showFormError}" ng-model="userMigrationCtrl.code.code2"
                        ng-keydown="userMigrationCtrl.onKeyDown($event)" ng-keyup="userMigrationCtrl.onKeyUp($event)"
                        ng-focus="$event.srcElement.select()" />
                    <input id="code3" type="text" name="code3" maxlength="1" required
                        ng-class="{error: userMigrationCtrl.showFormError}" ng-model="userMigrationCtrl.code.code3"
                        ng-keydown="userMigrationCtrl.onKeyDown($event)" ng-keyup="userMigrationCtrl.onKeyUp($event)"
                        ng-focus="$event.srcElement.select()" />
                    <input id="code4" type="text" name="code4" maxlength="1" required
                        ng-class="{error: userMigrationCtrl.showFormError}" ng-model="userMigrationCtrl.code.code4"
                        ng-keydown="userMigrationCtrl.onKeyDown($event)" ng-keyup="userMigrationCtrl.onKeyUp($event)"
                        ng-focus="$event.srcElement.select()" />
                    <input id="code5" type="text" name="code5" maxlength="1" required
                        ng-class="{error: userMigrationCtrl.showFormError}" ng-model="userMigrationCtrl.code.code5"
                        ng-keydown="userMigrationCtrl.onKeyDown($event)" ng-keyup="userMigrationCtrl.onKeyUp($event)"
                        ng-focus="$event.srcElement.select()" />
                </div>

                <div class="error" ng-show="userMigrationCtrl.showFormError">
                    <span ng-bind="'Invalid code' | translate"></span>
                    <span>
                        {{('Please try again or' | translate) + ' '}}
                        <a ng-click="userMigrationCtrl.verifyEmail(true)" ng-bind="'resend a new code' | translate"></a>
                    </span>
                </div>
            </div>

            <button class="block" type="submit" ng-bind="'CONFIRM' | translate"></button>
        </form>

        <form ng-switch-when="setPassword" name="setPasswordForm"
            ng-submit="userMigrationCtrl.setPassword(setPasswordForm, $event);" novalidate>

            <span class="title" ng-style="{color: $root.config.retailer.settings.migrationMessageColor}"
                ng-bind="'Choose a new password' | translate">
            </span>

            <div class="password">
                <span class="description" ng-bind="'From now on you will use this password to login' | translate">
                </span>

                <span class="form-info" ng-bind="'Required fields are marked with *' | translate"></span>

                <sp-password sp-model="userMigrationCtrl.password.newPassword" i-name="newPassword" i-id="new_password"
                    i-placeholder="{{::'Password' | translate}}" sp-minlength="6" sp-maxlength="30"
                    sp-pattern="/(?=.*[0-9])(?=.*[^0-9])/" required i-sp-inline-error i-autocomplete="off">
                </sp-password>

                <sp-password sp-model="userMigrationCtrl.password.confirmPassword" i-name="confirmPassword" i-id="confirm_password"
                    i-placeholder="{{::'Confirm password' | translate}}" required i-sp-inline-error
                    i-autocomplete="off">
                </sp-password>

                <sp-captcha ng-if="userMigrationCtrl.showSaveCaptcha" is-invalid="userMigrationCtrl.captchaIsInvalid"></sp-captcha>

                <sp-checkbox sp-model="userMigrationCtrl.user.policyApproval" i-name="policyApproval"
                    sp-change="policyApprovalError = '';" i-sp-inline-error i-sp-inline-error-attach-to-parent="label">
                    {{('I agree to the' | translate) + ' '}}
                    <a ui-sref="app.termsAndConditions" ng-click="$dialog.hide();"
                        ng-bind="'Terms & Conditions' | translate"></a>
                    {{'and the' | translate}}
                    <a ui-sref="app.policies" ng-click="$dialog.hide();" ng-bind="'Privacy Policy' | translate"></a>
                    {{('policy_end' | translate) + ' *'}}
                </sp-checkbox>

                <sp-checkbox sp-model="userMigrationCtrl.user.allowSendPromotions">
                    {{::'Please let me know about promotions' | translate}}
                </sp-checkbox>

                <div class="error" ng-show="userMigrationCtrl.showFormError">
                    <span>{{userMigrationCtrl.passwordError}}</span>
                </div>
            </div>

            <button class="block no-footer" type="submit" ng-bind="'SUBMIT' | translate"></button>
        </form>

        <form ng-switch-when="migrateSuccess" name="migrateSuccessForm" ng-submit="userMigrationCtrl.closeDialog()">
            <span class="title" ng-style="{color: $root.config.retailer.settings.migrationMessageColor}"
                ng-bind="'WELCOME!' | translate">
            </span>

            <span class="description"
                ng-bind="'Your account and loyalty club information has been successfully updated!' | translate">
            </span>

            <button class="block no-footer" type="submit" ng-bind="'Continue shopping' | translate"></button>
        </form>
    </ng-switch>

    <div class="footer"
        ng-if="userMigrationCtrl.currentStep !== 'setPassword' && userMigrationCtrl.currentStep !== 'migrateSuccess'">
        <span class="login-or-register" ng-if="userMigrationCtrl.entranceFlow">
            {{('Or go to' | translate) + ' '}}
            <a ng-click="userMigrationCtrl.openLoginOrRegisterDialog('1')" ng-bind="'to_login' | translate"></a>
            |
            <a ng-click="userMigrationCtrl.openLoginOrRegisterDialog('2')" ng-bind="'to_register' | translate"></a>
        </span>
        <span class="login-or-register register" ng-if="!userMigrationCtrl.entranceFlow">
            {{('Or you can' | translate) + ' '}}
            <a ng-click="userMigrationCtrl.openLoginOrRegisterDialog('2')"
                ng-bind="'register with a different email' | translate"></a>
        </span>

        <span class="contact" ng-bind="('For support Contact customer service:' | translate) + ' ' + userMigrationCtrl.customerSupportPhone"></span>
    </div>
</div>
