.dialog.user-migration-dialog {
  .dialog-body {
    .user-migration-wrapper form {
      > .title {
        color: $highlightColor;
      }

      > button {
        background-color: $mainColor;
      }
    }
  }
}
