<div>
    <svg focusable="false" class="store-icon" role="presentation">
        <use xlink:href="#sp-icons-retailer-details"></use>
    </svg><!--
    --><span class="content">
        <span class="for-vertical-align"></span><!--
        --><span class="text default-text-align">
            <span class="retailer-name">
           <span>{{$root.config.retailer.title}}
                   <span ng-if="$root.config.retailer.settings.isHiddenBranchName != 'true'">{{$root.config.branchAreaId && $root.config.retailer.branches.length > 1 ? ' - ' + $root.config.branch.name : ''}}</span>
               </span>
             </span><!--
            --><span class="zip" ng-click="$root.ChooseAreaDialog.show(false, true, null, $event)"
                     ng-if="$root.config.branchAreaId && $root.config.chooseAreaEvent !== $root.SP_SERVICES.CHOOSE_AREA_EVENT.NONE">
                {{('delivery_type_' + $root.config.getBranchArea().deliveryTypeId) | translate}}
            </span><!--
            --><span class="contact-us" ng-if="$root.config.retailer.contactPhone">
                {{$root.config.retailer.contactPhone}}
            </span>
        </span>
    </span>
</div>