.retailer-data > div {
  display: inline-block;
  height: 100%;
  width: 100%;
  white-space: nowrap;

  > .store-icon {
    width: 2.148em;
    height: 1.9175em;
    vertical-align: middle;
    fill: #999999;
  }

  > {
    & * {
      padding: 0;
      display: inline-block;
      vertical-align: middle;
    }

    span.content {
      width: 92%;
      height: 100%;
      padding: 0;
      @include box-sizing(border-box);
      display: inline-block;
      vertical-align: middle;
      line-height: 1.35em;

      > span.text {
        display: inline-block;
        vertical-align: middle;
        width: 100%;

        > span {
          display: inline-block;
          border-left: 1px solid;
          padding: 0 0.39em;

          &.retailer-name {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }

          &.zip {
            text-decoration: underline;
          }

          &:first-child {
            border-left-width: 0;
          }
        }
      }
    }
  }
}

.rtl {
  .retailer-data > div > span.content > span.text > span {
    border-left-width: 0;
    border-right-width: 1px;
    border-right-style: solid;

    &:first-child {
      border-right-width: 0;
    }
  }
}
