<div class="choose-address">
    <h1 id="choose_address_dialog_title">{{::'Please choose your address' | translate}}</h1>
    <p class="info">{{'You will be able to edit the address details' | translate}}</p>
    <p class="error" ng-if="dialogCtrl.errorMessage">{{'we couldn\'t find any addresses for this country code' | translate}}</p>
    <div class="postcode-addresses" role="radiogroup" aria-label="addresses">
        <sp-radio sp-model="dialogCtrl.address"
                  options="dialogCtrl.addresses"
                  sp-aria-label="{{option.description}}"
                  value-key="option" aria-labelledby="{{option.description}}">
            {{option.description}}
        </sp-radio>
    </div>

    <div class="postcode-buttons">
        <button class="cancel" ng-click="cancel()">{{::'CANCEL' | translate}}</button>
        <button class="confirm" ng-click="continue()" >{{::'CONFIRM' | translate}}</button>
    </div>
</div>
