.dialog.choose-address .dialog-body {
  button {
    &.confirm {
      border: none;
      background-color: $mainColor;
    }
  }

  .addresses {
    .sp-radio-buttons {
      > .sp-radio-option {

        &:before {
          color: $mainColor;
          background-color: $mainColor;
        }
      }

      .checked {
        font-weight: bold;
      }
    }
  }
}
