<header ui-view="header"></header>
<section class="main" ng-controller="MainKikarCtrl" id="main_content" tabindex="-1">
    <section class="view" tabindex="0" aria-labelledby="page_title">
        <div ui-view endless-scroll="endlessScrollOptions"></div>
    </section>
    <div class="sidenav" ui-view="sidenav"></div>
</section>
<footer ui-view="footer" role="contentinfo" id="footer" tabindex="-1"></footer>