<div class="user-delete-confirm">
    <h4 class="align-center">{{::'Please confirm removing user from the organization' | translate}}</h4>
    <div class="align-center">{{ userDeleteConfirmationCtrl.user.firstName }} {{ userDeleteConfirmationCtrl.user.lastName }} <b>({{ userDeleteConfirmationCtrl.user.email }})</b></div>
    <div class="buttons align-center">
        <button id="delete-button" ng-click="userDeleteConfirmationCtrl.ok()">{{::'Remove user' | translate}}</button>
        <button ng-click="userDeleteConfirmationCtrl.cancel()">{{::'Cancel' | translate}}</button>
    </div>
</div>