<div class="premium-loyalty-club">
    <div class="components"
         ng-repeat="component in  premiumLoyaltyCtrl.loyaltyClubDriver.loyaltyPageDesign[premiumLoyaltyCtrl.userType] | orderBy:'sort'"
         ng-if="!$root.LOYALTY_PAGE_COMPONENT_TYPES.BY_VALUE[component.type].disabled &&
                ($root.LOYALTY_PAGE_COMPONENT_TYPES.BY_VALUE[component.type].isMandatory || component.isActive) &&
                (premiumLoyaltyCtrl.loyaltyClub.pointsToCashback || component.type !== $root.LOYALTY_PAGE_COMPONENT_TYPES.BY_NAME.POINTS_ACCUMULATION_PROGRESS_BAR)">
        <ng-include src="$root.LOYALTY_PAGE_COMPONENT_TYPES.BY_VALUE[component.type].templateUrl" class="component"></ng-include>
    </div>
</div>
