html.user-edit {
  --sliderColor: #4CAF50;
  --sliderPosition: 50%;
  --sliderBackgroundColor: #ffffff;
  .premium-loyalty-club {
    font-family: 'Mixtape', 'Almarai', 'Open Sans Hebrew';
    .components {
      .marketing-banner {
        margin-top: 30px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 45em;
        text-align: center;
      }

      @media screen and (min-width: 2559px) {
        .marketing-banner {
          height: 65em;
        }
      }

      @media screen and (max-width: 942px) {
        .marketing-banner {
          height: 25em;
        }
      }

      .main-banner {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 45em;
        text-align: center;

        &.display-grid {
          display: grid;
          grid-template-rows: 35% 10% 55%;
        }

        h1 {
          width: 9em;
          padding: 2em 0 0;
          margin: auto;
          font-weight: 500;
          font-size: 4em;
        }

        h2 {
          font-size: 1.5em;
          font-weight: 500;
          padding-top: 2em;
        }

        button {
          font-size: 1.125em;
          padding: 0.7em 1.5em;
          font-weight: 700;
          margin-top: 3em;
          border-radius: 30px;
        }

        @media screen and (max-width: 745px) {
          h1 {
            width: 5em;
          }
          button {
            margin-top: 5.5em;
          }
        }

        .external-text {
          text-align: center;
          font-size: 1em;
          margin-top: 35px;
        }
      }

      @media screen and (min-width: 2559px) {
        .main-banner {
          height: 65em;
        }
      }

      .points-calculator {
        display: grid;
        grid-template-rows: 28% 8% 28% 11% 4% 21%;
        height: 600px;
        text-align: center;
        padding: 0 11%;

        h2 {
          font-size: 3.5em;
          font-weight: 400;
          padding: 1em 0 0;
          margin: auto;
          width: 10em;
        }

        h3 {
          font-size: 1.5em;
          font-weight: 400;
          padding-bottom: 0.5em;
        }

        @media screen and (max-width: 800px) {
          h2 {
            width: 7em;
          }
        }

        @media screen and (max-width: 630px) {
          h2 {
            width: 6em;
          }
        }

        .slider-container {
          position: relative;
          padding: 3em 3em 2em;
          border-radius: 9.98426px;
          margin: 1em 0;
          direction: ltr;

          @media screen and (max-width: 690px) {
            width: 70%;
          }

          .slider {
            position: relative;
          }

          input[type=range] {
            width: 100%;
            height: 20px;
            -webkit-appearance: none;
            background-color: transparent;
            border: none;
            outline: none;
            margin-top: 10px;

          }

          input[type=range]:focus {
            outline: none;
          }

          input[type=range]::-webkit-slider-runnable-track {
            width: 100%;
            height: 4px;
            cursor: pointer;
            background: linear-gradient(to right, var(--sliderColor) 0%, var(--sliderColor) var(--sliderPosition), var(--sliderBackgroundColor)  var(--sliderPosition), var(--sliderBackgroundColor) 100%);

            border-radius: 10px;
            position: relative;
          }

          input[type=range]::-moz-range-track {
            width: 100%;
            height: 4px;
            cursor: pointer;
            background-color: #ddd;
            border-radius: 10px;
            position: relative;
          }

          input[type=range]::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: 28px;
            height: 28px;
            transform: rotate(45deg);
            border-radius: 4px;
            background-color: var(--sliderColor);
            cursor: pointer;
            margin-top: -11px;
            position: relative;
            z-index: 1;
            
          }

          input[type=range]::-moz-range-thumb {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: var(--sliderColor);
            cursor: pointer;
            margin-top: -8px;
            position: relative;
            z-index: 1;
          }

          .slider-values {
            display: flex;
            justify-content: space-between;
            width: 100%;
            font-size: 1.05em;
            padding-top: 0.5em;
          }

          .slider-values div {
            text-align: center;
            position: relative;
          }

          .current-value {
            position: absolute;
            top: -1.2em;
            left: 0;
            transform: translateX(-50%);
            font-size: 1.5em;
            font-weight: 700;
            padding: 4px;
            border-radius: 4px;
            white-space: nowrap;
          }
        }

        .cashback-calculator {
          padding-top: 0.5em;
          padding-bottom: 2em;
          font-size: 1.125em;
          //font-weight: 700;

          .money {
            font-weight: 700;
          }

          @media screen and (max-width: 690px) {
            .money {
              margin: 6em 0;
            }
          }
        }

        .text-1 {
          font-weight: 600;
          font-size: 1.125em;
        }

        .text-2 {
          font-size: 2em;
          font-weight: 600;
          padding-bottom: 2em;
          width: 14em;
          margin: auto;
          line-height: 1.2em;
        }
      }

      .loyalty-specials {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        padding: 1.5em 1.5em 5em 1.5em;

        h2 {
          text-align: center;
          margin: auto;
          font-size: 3.5em;
          font-weight: 400;
          width: 15em;
          padding: 1em 0 0.5em 0;
        }

        @media screen and (max-width: 985px) {
          h2 {
            width: auto;
          }
        }

        .sp-carousel {
          height: 252px;

          .special-item {
            background-color: #ffffff;
            border: 1px solid #C8C8C8;
            a.special, .special-product {
              >.actions {
                top: 37%;
                > button.add-to-cart, > div.sp-quantity {
                  width: 8.625em;
                }
              }
            }
          }
        }
      }

      .coupons-component {
        padding: 1.5em 1.5em 5em 1.5em;
        h2 {
          text-align: center;
          margin: auto;
          font-size: 3.5em;
          font-weight: 400;
          width: 15em;
          padding: 1em 0 0.5em 0;
        }

        .sp-carousel {
          height: 252px;

          .coupon-item {
            background-color: #ffffff;
            padding: 0;

            .coupon {
              //>.actions {
              //  top: 37%;
              //  > button.add-to-cart, > div.sp-quantity {
              //    width: 8.625em;
              //  }
              //}
            }
          }
        }
      }

      .member-main-banner {
        height: 9.0625em;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        text-align: center;

        h1 {
          padding: 0.5em 0 0;
          margin: auto;
          font-size: 3.5em;
          font-weight: 700;
        }

        h2 {
          font-size: 1.6em;
          font-weight: 700;
          padding-top: 0.5em;
        }
      }

      @media screen and (min-width: 2559px) {
        .member-main-banner {
          height: auto;
        }
      }

      .points-accumulation-progress-bar {
        padding: 0;
        text-align: center;

        .not-eligible {
          padding: 1em;
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          min-height: 27em;

          h2 {
            font-size: 3em;
            font-weight: 300;
            padding: 3.5em 0 0.2em 0;
          }

          @media screen and (min-width: 1000px) and (max-width: 1745px) {
            h2 {
              margin: auto;
              width: 11em;
            }
          }

          .points-progress-bar {
            padding: 0.5em;
            line-height: 23px;
            width: 63%;
            margin: 0 auto;

            .progress-bar {
              width: 100%;
              height: 23px;
              border-radius: 62px;
              position: relative;

              .inner-progress-bar {
                border-radius: 62px 0 0 62px;
                width: 100%;
                height: 23px;
              }

              .progress-bar-max {
                position: absolute;
                top: 0.5px;
                right: 8px;
                font-weight: 700;
              }
            }
          }

          .description {
            font-size: 1.125em;
            margin-top: 10px;
            font-weight: 400;
          }
        }

        .eligible {
          padding: 1em;
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          min-height: 40em;

          &.isOneTimeUser {
            .point-calculation {
              padding-bottom: 2em;
            }
          }

          h2 {
            font-size: 3em;
            font-weight: 300;
            padding: 2.5em 0;
            max-width: 16em;
            margin: auto;
          }

          .point-calculation {
            font-size: 1.375em;
            color: #ffffff;
            padding-bottom: 4em;
            //font-weight: 600;
          }

          button {
            padding: 0.6em 2.5em;
            margin-bottom: 1em;
            font-size: 1.2em;
            font-weight: 700;
            border-radius: 20px;
          }
        }

        @media screen and (min-width: 2559px) {
          .eligible {
            min-height: 52em;
          }
        }

        .redeemed {
          height: 40em;
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;

          .animation-wrapper {
            width: 100%;
            height: 100%;
            background-size: contain;
            padding: 1em;
            box-sizing: border-box;

            h2 {
              font-size: 2.8em;
              font-weight: 700;
              padding-top: 2em;
              padding-bottom: 1em;
              width: 16em;
              margin: auto;
            }

            button {
              font-size: 1.3em;
              margin-bottom: 0.5em;
              text-decoration: underline;
            }
          }
        }
      }

      .external-services-component {
        padding: 0;
        overflow: auto;

        .external-code-wrapper {
          height: 12.5em;
          background-repeat: no-repeat;
          background-position: bottom;
          background-size: contain;
          margin-top: 4em;
          margin-bottom: 1em;
          cursor: pointer;
          display: flex;
          flex-direction: column;
          justify-content: flex-end;

          .button-title {
            font-size: 1.4em;
            text-align: center;
            font-weight: 700;
            padding-bottom: 0.7em;
          }

          .button-text {
            text-decoration: underline;
            font-weight: 700;
            padding-bottom: 1.3em;
            text-align: center;
            font-size: 0.9em;
          }
        }

        .services-wrapper {
          text-align: center;
          padding: 0 20% 1em;

          &.with-space {
            padding-top: 6em;
            padding-bottom: 7em;
          }

          > h2 {
            font-weight: 700;
            font-size: 2em;
            padding: 1em 3em;
          }

          @media screen and (max-width: 985px) {
            h2 {
              padding-right: 0;
              padding-left: 0;
              padding-top: 10px;
            }
          }

          > img, > a img {
            max-width: 100%;
          }

          > .external-services-button {
            font-size: 1.25em;
            font-weight: 600;
            text-decoration: underline;
            padding-top: 1em;
          }
        }
      }

      .q-and-a-component {
        padding: 1em 33%;

        > h2 {
          font-size: 1.5em;
          font-weight: 700;
          padding: 1em 0 0.5em;
        }

        > .questions-wrapper {
          .question-item {
            border-top: 1px solid #C8C8C8;
            padding: 0.7em 0;
            cursor: pointer;

            .question-row {
              display: flex;
              flex-direction: row;
              justify-content: space-between;

              > div {
                font-size: 1.1em;
              }

              > svg {
                width: 1.3em;
                height: 1.3em;
                fill: #000000;
              }
            }

            .answer {
              font-size: 0.9em;
              padding-top: 0.5em;
            }
          }
        }
      }

      .stores-component {
        text-align: center;

        > h2 {
          padding: 1.5em 0 0.5em;
          font-size: 1.3em;
          font-weight: 500;
        }

        > img {
          width: 100%;
          height: auto;
          display: block;
        }
      }

      .potential-coupons {
        > img {
          width: 100%;
          height: auto;
          display: block;
        }
      }

      .sign-in-component {
        text-align: center;
        padding: 2em;

        > button {
          font-size: 1.125em;
          padding: 0.7em 2em;
          font-weight: 700;
          border-radius: 30px;
        }

        > .desc {
          padding-top: 1em;
          font-size: 1.4em;
          font-weight: 500;
        }
      }

      .legal-text-component {
        padding: 3em 20%;
        text-align: center;

        > p {
          line-height: 1.3em;
          font-size: 1.1em;
        }
      }
    }
  }

  &.rtl .premium-loyalty-club .components {
    .points-accumulation-progress-bar .not-eligible .points-progress-bar .progress-bar {
      .inner-progress-bar {
        border-radius: 0 62px 62px 0;
      }

      .progress-bar-max {
        right: auto;
        left: 8px;
      }
    }
  }
}

