.auto-complete-wrapper {
  .sp-search-autocomplete {
    .highlight-wrapper {
      .arrow {
        border-color: $mainColor;

        > svg {
          fill: $mainColor;
        }
      }

      &.brands {
        background-color: $mainColorSecondaryBackground;

        .highlight-word {
          background-color: '{{mainColor-#ffffff-5}}';
        }
      }

      .highlight-title {
        color: $mainColor;
        font-family: $defaultFontFamily;
      }
      .highlight-word {
        background-color: $mainColorSecondaryBackground;
        color: $mainColor;

        &:not(.no-design):not(.highlight):not(.grey):hover:enabled,
        &:not(.no-design):not(.highlight):not(.grey):focus:enabled {
          background-color: '{{mainColor-#ffffff-40}}';
        }
      }
    }

    > .retailer-rules {
      background-color: $mainColorSecondaryBackground;

      .rule a {
        color: $mainColor;
      }
    }
  }
}