.sp-sale-icon.sale-icon {
  > .sale-icon-text {
    position: absolute;
    top: 0;
    height: 100%;
    left: 0;
    right: 0;
    color: #ffffff;
    font-weight: 700;
    font-size: 0.8em;
    line-height: 1.2em;
    text-align: center;

    > div {
      display: inline-block;
      vertical-align: middle;
      width: 100%;

      &.number-first {
        margin-top: -0.4em;
      }

       > span {
         display: block;
       }
    }
  }

  $triangularSize: 0.5em;
  > button.save {
    $fontSize: 0.75em;
    $height: 3em;

    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    padding: 0.1em;
    font-size: $fontSize;
    font-weight: 700;
    color: #ffffff;
    border-radius: 3px;
    margin-top: $triangularSize + 0.25em;
    text-align: center;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);

    &.animated {
      animation: flash 1.5s 3;
    }

    &::after {
      content: '';
      position: absolute;
      left: 50%;
      margin-left: -$triangularSize;
      bottom: 100%;
      width: 0;
      height: 0;
      border-left: $triangularSize solid;
      border-right: $triangularSize solid;
      border-bottom: $triangularSize solid transparent;
    }
  }

  &.reminder-to-side {
    > button.save {
      $size: 200%;
      $xMargin: 0.5em;

      top: 0;
      padding: 0.3em 0.1em;

      html.ltr & {
        margin-left: -$xMargin;
        left: -$size;
      }

      html.rtl & {
        margin-right: -$xMargin;
        right: -$size;
      }

      width: $size;
      margin-top: 0;

      &::after {
        top: 50%;
        margin-top: -$triangularSize;
        border-top: $triangularSize solid;

        html.ltr & {
          left: 100%;
          margin-left: 0;
          border-right-width: 0;
        }

        html.rtl & {
          right: 100%;
          margin-right: 0;
          border-left-width: 0;
        }
      }
    }
  }

  &.club-icon > svg {
    fill: $clubIconFill;
  }
}