.sp-sale-icon.sale-icon {
  > svg {
    fill: $mainColor;
  }

  > button.save::after {
    border-color: $mainColor transparent;
  }

  &.reminder-to-side > button.save::after {
    border-color: transparent $mainColor !important;
  }
}