$navigationButtonsWidth: 15em;
$detailsUiViewLeftPadding: 2em;

$formInputTitleWidth: 22%;
$formInputWidth: 67%;
$saveButtonMarginRight: 7.5%;
$grayColor: #616161;
$backgroundColor: #f3f3f3;
$optionsFontSize: 0.875em;

html.retailer-details {
  &, body {
    height: 100%;
  }

  section.view {
    height: auto;
    min-height: 100%;

    background: $backgroundColor;

    > div > .retailer-details-container {
      .navigation-buttons {
        position: fixed;
        padding-top: 1em;
        width: $menuCategoriesTitleWidth / $optionsFontSize * 1em;
        font-size: $optionsFontSize;
        overflow: hidden;
        display: inline-block;
        vertical-align: top;
        box-sizing: border-box;
        color: #616161;

        .option-btn {
          width: 90%;
          height: 3.875em;
          line-height: 3.875em;
          padding: 0 1em 0 1.8em;
          box-sizing: border-box;
          text-align: left;

           svg {
            display: inline-block;
            max-width: 13%;
            height: 2em;
            vertical-align: middle;
            fill: #a4a4a4;
          }

           span {
            display: inline-block;
            width: 87%;
            vertical-align: middle;
            box-sizing: border-box;
            padding: 0 0.5em;
          }

          &.selected {
            border-radius: 0 30px 30px 0;
            background-color: #e8e8e8;
            color: #414141;
            font-weight: 700;
            padding-left: 1em;

             svg {
              fill: #414141;
            }
          }
        }
      }

      ui-view {
        display: inline-block;
        width: 100%;
        color: #606060;
        box-sizing: border-box;
        padding: 0 ($menuCategoriesTitleWidth + 1em) 3em ($menuCategoriesTitleWidth + 1em);

        h1 {
          padding: 0.5em 0 0.1em 0;
          color: $grayColor;
        }

        .faq-wrapper {
          padding-left: 2em;
          padding-right: 3em;

          .question {
            padding-bottom: 1em;
          }
        }
      }
    }

  }

  .gm-style-iw {
    text-align: center;

    div {
      overflow: hidden !important;
      margin: 0 auto;
      text-align: center;
    }

    img {
      width: 100%;
      height: 100%;
      max-width: 9em;
      max-height: 5em;
      object-fit: contain;
    }
  }
}

html.rtl.retailer-details {
  section.view > div > .retailer-details-container {
    .navigation-buttons {
      .option-btn {
        text-align: right;

        &.selected {
          border-left-width: 0;
          border-radius: 30px 0 0 30px;
        }
      }
    }

    ui-view {
      .store-information-wrapper .single-branch > .basic svg {
        left: 2em;
        right: auto;
      }
      .store-information-wrapper .single-branch > .extra .details-wrapper {
        padding-left: 1em;
        padding-right: 0;
      }

      .delivery-times-wrapper .select-branches label {
        padding-right: 0;
        padding-left: 1.5em;
      }

      .faq-wrapper {
        padding-left: 3em;
        padding-right: 2em;
      }
    }
  }
}

@media screen and (max-width: 1575px) {
  html {
    &.retailer-details section.view>div>.retailer-details-container {
      .navigation-buttons {
        width: $responsive1575MenuCategoriesTitleWidth / $optionsFontSize * 1em;
      }

      ui-view {
        padding-right: 10em;
        padding-left: $responsive1575MenuCategoriesTitleWidth + 1em;

        .store-information-wrapper .single-branch>.extra .details-wrapper>div.details-section span, .store-information-wrapper .single-branch>.extra .details-wrapper>div.details-section a {
          font-size: 0.8em;
        }
      }
    }

    &.rtl {
      &.retailer-details section.view>div>.retailer-details-container {
        ui-view {
          padding-left: 10em;
          padding-right: $responsive1575MenuCategoriesTitleWidth + 1em;
        }
      }
    }
  }
}

@media screen and (max-width: 1180px) {
  html {
    &.retailer-details section.view>div>.retailer-details-container {
      .navigation-buttons {
        width: $responsive1180MenuCategoriesTitleWidth / $optionsFontSize * 1em;
        .option-btn{
          width: 100%;
        }
      }

      ui-view {
        padding-right: 8em;
        padding-left: $responsive1180MenuCategoriesTitleWidth + 1em;
      }
    }

    &.rtl {
      &.retailer-details section.view>div>.retailer-details-container {
        ui-view {
          padding-left: 8em;
          padding-right: $responsive1180MenuCategoriesTitleWidth + 1em;
        }
      }
    }
  }
}
