html.retailer-details {
  .cant-find-message {
    color: $mainColor;
  }
  section.view > div > .retailer-details-container .navigation-buttons .option-btn {
    &.selected {
      border-left: 0.8em solid $secondaryColor;
    }
  }
}

html.rtl {
  &.retailer-details {
    section.view > div > .retailer-details-container .navigation-buttons .option-btn {
      &.selected {
        border-right: 0.5em solid $secondaryColor;
      }
    }
  }
}