<div class="cart-line-comments-wrapper" ng-click="$event.stopPropagation();" tabindex="-1" ng-class="{
    'has-cart-line-comments': !!spLine.comments || !!spLine.productPropertyValue,
    'hide-cart-line-comments': !spLine.comments && !ctrlData.isInFocus && !!spHide && !spLine.productPropertyValue,
    'edit-cart-line-comments': !!ctrlData.editMode && !spHide
}"><!--
    --><div class="cart-line-property" ng-if="spLine.productPropertyValue && showProductProperty">
        {{(spLine.productPropertyValue.propertyNames | name:'name') + ': ' + (spLine.productPropertyValue.names | name:'name')}}
        </div><!--
    --><div class="comments-wrapper" ng-if="spLine.comments || (!spReadonlyComments && !spHide)"><!--
        --><svg focusable="false">
            <use xlink:href="#sp-icons-edit"></use>
        </svg><!--
        --><span class="cart-line-comments-text clickable" ng-click="!spReadonlyComments && ctrlData.setToEditMode();">{{spLine.comments}}</span><!--
        --><input class="cart-line-comments-input" type="text" placeholder="{{::'Add comment' | translate}}" ng-if="(!spTextArea)" maxlength="500"
        ng-model="ctrlData.editableComments" ng-keyup="ctrlData.onKeyUp($event)" ng-focus="ctrlData.setFocusState(true)" ng-blur="ctrlData.setFocusState(false)"/><!--
        --><textarea class="cart-line-comments-input" placeholder="{{::'Add comment' | translate}}" ng-if="(!!spTextArea)"
                ng-model="ctrlData.editableComments" ng-keyup="ctrlData.onKeyUp($event)" maxlength="500"
                ng-focus="ctrlData.setFocusState(true)" ng-blur="ctrlData.setFocusState(false)"><!-- this line exists to prevent 'Invalid argument' Error in IE (happens with ng-model and placeholder) --><!-- http://stackoverflow.com/questions/20224698/angularjs-on-ie10-textarea-with-placeholder-cause-invalid-argument#26060157 --></textarea><!--
     --></div><!--
--></div>

<!--<div class="cart-line-comments-wrapper" ng-click="$event.stopPropagation();" ng-class="{-->
<!--'has-cart-line-comments': !!spLine.comments,-->
<!--'hide-cart-line-comments': !spLine.comments && !ctrlData.isInFocus && !!spHide,-->
<!--'edit-cart-line-comments': !!ctrlData.editMode-->
<!--}">-->
<!--<svg focusable="false">-->
<!--<use xlink:href="#sp-icons-edit"></use>-->
<!--</svg>-->
<!--<div class="cart-line-comments-input-wrapper">-->
<!--<span class="for-vertical-align"></span>&lt;!&ndash;-->
<!--&ndash;&gt;<input class="cart-line-comments-input" type="text" placeholder="{{::'Add comment' | translate}}" ng-if="(!spTextArea)"-->
<!--ng-model="ctrlData.editableComments" ng-keyup="ctrlData.onKeyUp($event)" ng-focus="ctrlData.setFocusState(true)" ng-blur="ctrlData.setFocusState(false)"/>&lt;!&ndash;-->
<!--&ndash;&gt;<textarea class="cart-line-comments-input" placeholder="{{::'Add comment' | translate}}" ng-if="(!!spTextArea)"-->
<!--ng-model="ctrlData.editableComments" ng-keyup="ctrlData.onKeyUp($event)" ng-focus="ctrlData.setFocusState(true)" ng-blur="ctrlData.setFocusState(false)">-->
<!--&lt;!&ndash; this line exists to prevent 'Invalid argument' Error in IE (happens with ng-model and placeholder) &ndash;&gt;-->
<!--&lt;!&ndash; http://stackoverflow.com/questions/20224698/angularjs-on-ie10-textarea-with-placeholder-cause-invalid-argument#26060157 &ndash;&gt;-->
<!--</textarea>-->
<!--</div>-->
<!--<div class="cart-line-comments" ng-click="ctrlData.setToEditMode();">-->
<!--<span class="for-vertical-align"></span>&lt;!&ndash;-->
<!--&ndash;&gt;<span class="cart-line-comments-text">{{spLine.comments}}</span>-->
<!--</div>-->
<!--</div>-->

