.cart-line-comments-wrapper {
  &.hide-cart-line-comments,
  > .comments-wrapper > textarea,
  > .comments-wrapper > input,
  &.edit-cart-line-comments .comments-wrapper span {
    display: none;
  }

  &.edit-cart-line-comments > .comments-wrapper {
    > textarea,
    > input {
      display: inline-block;
    }
  }

  .cart-line-property {
    display: block;
    padding: 0 0.5em 1em 0.5em;
  }

  .comments-wrapper {
    display: flex;

    > * {
      vertical-align: top;
    }

    > svg {
      flex: 0 0 auto;
      width: 1em;
      height: 1em;
      fill: #9c9c9c;
      margin: 0 0.6em;
    }

    > span,
    > textarea,
    > input {
      flex: 1 1 auto;
      color: #a3a3a3;
      font-weight: 700;
    }

    > span {
      line-height: 1.25em;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    > textarea,
    > input {
      resize: none;
      padding: 5px 0 3px 5px; // 3px at bottom to prevent scroll bar from showing when have 2 rows
      box-sizing: content-box;
      line-height: 1em;
      border: none;
      font-size: 1em;
      height: 2em;
      min-width: 9rem;
    }
  }
}
