<p class="additional-text">{{registerCtrl.additionalText}}</p>
<form sp-form-accessibility class="form" name="registerForm" novalidate ng-submit="registerCtrl.register(registerForm, $event);" ng-if="!registerCtrl.userLogin">
    <div class="sp-kikar-input first">
        <label for="first_name" ng-bind="registerCtrl.firstNamePlaceholder">
        </label>
        <input id="first_name"
               type="text"
               name="firstName"
               ng-model="loginOrRegisterCtrl.user.firstName"
               required
               ng-maxlength="50"
               sp-inline-error/>
    </div>
    <div class="sp-kikar-input">
        <label for="last_name" ng-bind="registerCtrl.lastNamePlaceholder">
        </label>
        <input id="last_name"
               type="text"
               name="lastName"
               ng-model="loginOrRegisterCtrl.user.lastName"
               required
               ng-maxlength="50"
               sp-inline-error/>
    </div>

    <div class="sp-kikar-input" ng-if="$root.config.retailer.settings.isPhoneNumberMandatoryWhileRegistering === 'true'">
        <label for="phone_number" ng-bind="registerCtrl.phoneNumberPlaceholder"></label>

        <input
            type="text"
            id="phone_number"
            name="phoneNumber"
            ng-model="loginOrRegisterCtrl.user.phoneNumber"
            ng-pattern="loginOrRegisterCtrl.phoneRegExp"
            required
            sp-inline-error
        />
    </div>

    <div class="sp-kikar-input">
        <label for="register_email" ng-bind="::('Email' | translate) + ' *'">
        </label>
        <input id="register_email"
               type="email"
               name="email"
               ng-model="loginOrRegisterCtrl.user.email"
               required
               sp-inline-error/>
    </div>
    <div class="two-inputs last">
        <div class="sp-kikar-input">
            <label for="register_password" ng-bind="::('Password' | translate) + ' *'">
            </label>
            <sp-password
                    sp-model="loginOrRegisterCtrl.user.password"
                    i-id="register_password"
                    i-name="password"
                    sp-minlength="6"
                    sp-maxlength="30"
                    sp-pattern="/(?=.*[0-9])(?=.*[^0-9])/"
                    on-blur="registerCtrl.checkConfirmPassword(registerForm)"
                    required
                    i-sp-inline-error 
                    ng-class="{'invalid': registerForm.password.$invalid && registerForm.password.$dirty}">
            </sp-password>
        </div><!--
        --><div class="sp-kikar-input">
        <label for="confirm_password" ng-bind="::('Confirm Password' | translate) + ' *'" class="confirm_password_label">
        </label>
        <sp-password
                sp-model="loginOrRegisterCtrl.user.confirmPassword"
                i-id="confirm_password"
                i-name="confirmPassword"
                required
                on-blur="registerCtrl.checkConfirmPassword(registerForm)"
                i-sp-inline-error>
        </sp-password>
    </div>
    </div>
    <sp-captcha ng-if="registerCtrl.showCaptcha"  is-invalid="registerCtrl.captchaIsInvalid" ng-style="{'margin-top': (registerForm.password.$invalid && registerForm.password.$dirty  && registerForm.password.$touched) ? '4em' : ''}"></sp-captcha>
    <sp-checkbox
            id="termsAndConditionsText"
            sp-model="loginOrRegisterCtrl.user.policyApproval"
            i-name="policyApproval"
            sp-change="policyApprovalError = '';"
            i-sp-inline-error
            i-sp-inline-error-attach-to-parent="label">
        <span ng-if="registerCtrl.termsAndConditionsText" ng-bind-html="registerCtrl.termsAndConditionsText"></span>
        <span ng-if="!registerCtrl.termsAndConditionsText">
            {{('I agree to the' | translate) + ' '}}
            <a ng-click="registerCtrl.openLink('app.termsAndConditions')" ng-bind="'Terms & Conditions' | translate"></a>
            {{'and the' | translate}}
            <a ng-click="registerCtrl.openLink('app.policies')" ng-bind="'Privacy Policy' | translate"></a>
            {{('policy_end' | translate) + ' *'}}
        </span>
    </sp-checkbox>
    <sp-checkbox sp-model="loginOrRegisterCtrl.user.allowSendPromotions">
        <span ng-bind-html="registerCtrl.promotionsText"></span>
    </sp-checkbox>
    <div class="button-wrapper register-button">
        <button type="submit" ng-bind="registerCtrl.registerButton" ng-disabled="registrationInProcess">
        </button>
    </div>
    <div aria-live="assertive" role="alert" class="server-err-msg" ng-if="!registerCtrl.showSuccessMessage"></div>
    <div aria-live="assertive" class="user-activation-required" ng-if="registerCtrl.showSuccessMessage">
        {{'Your account requires activation.' | translate}} </br>
        {{'email with activation link have been sent to your email.' | translate}}
        <div >
            <span>{{('The link is valid for {link_ttl} minutes' | translate).replace('{link_ttl}', $root.config.retailer.settings.userEmailVerificationExpirationMinutes)}}</span>
            <button ng-click="registerCtrl.resendActivationLink(registerForm, $event)" class="no-design resend-activation-link">
                {{'Didn\'t receive an email' | translate}}? - {{'Send again' | translate}}
            </button>
        </div>
    </div>
</form>

<div class="after-register" ng-if="registerCtrl.userLogin">
    <div>{{::'Registration Completed' | translate}}</div>
    <button class="no-design" ng-click="registerCtrl.hideDialog()">{{::'Continue Shopping' | translate}}</button>
</div>
