.dialog.login-or-register-v2, .dialog.form-completion-dialog {
  .dialog-body {
    font-family: 'Open Sans Hebrew';
    > .bold-alert {
      background-color: $mainColor;
    }
    
    .retailer-logo {
      img {
        width: 164px;
      }
    }

    form {
      button.block {
        border-radius: 56px;
      }

      h4.title {
        font-family: inherit;
      }

      &.selectOtpOption {
        .options-container {
          .option {
            button {
              border-radius: 56px;
            }
          }
        }
      }
    }



    button {
      &.link-btn {
        color: $mainColor;
        font-weight: 700;
  
        background-color: transparent;
  
        padding: 0;
        margin: 0;
  
        &:hover, &:active, &:focus-visible, &:active {
          background-color: inherit;
        }
      }

      &:disabled {
        filter: grayscale(100%);

        cursor: not-allowed;
      }
    }
  }
}