<div class="delivery-no-slots-popup" id="delivery_no_slots_popup">
    <div class="retailer-logo" ng-if="$root.config.retailer.logoUrl">
        <img ng-src="{{::$root.config.retailer.logoUrl | image}}" alt="{{::$root.config.retailer.title + ' ' + ('Home page link' | translate)}}"/>
    </div>
    <h2 ng-if="title" ng-bind="title"></h2>
    <div class="description" ng-if="text" ng-bind-html="text"></div>

    <div class="action-button" layout="row">
        <button type="button" id="cancel" class="cancel" ng-click="cancel()" ng-bind="::'Close' | translate"></button>
    </div>
</div>