
.dialog-wrapper .dialog.advanced-area-availability {
  .dialog-body {
    border-radius: 10px;
  }

  sp-tabs>.sp-tabs-selector>button {
    border-radius: 10px 10px 0 0;
  }

  .button-choose {
    &.check {
      width: 18em;
      margin-top: 1.5em;
    }
  }

  .button-choose {
    border-radius: 20px;
    height: 2.5em;
    width: 5em;
    padding: 0;
  }
}