.full-credit-card-charge-confirmation-dialog {

  .dialog-body {
    width: 48%;
    padding-top: 1.5em !important;
  }

  .close-dialog-corner-button {
    display: none;
  }
}

.full-credit-card-charge-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 40px;
  background-color: #fff;
  border-radius: 5px;
  margin: 0 auto;
  text-align: center;

  .top-section {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
  }
  
  .title {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
  }

  .content {
    font-size: 20px;
    margin-bottom: 30px;
    font-weight: 400;
    padding: 0 20px;
    line-height: 27px;
  }

  .buttons {
    display: flex;
    width: 80%;
    justify-content: center;
    gap: 20px;

    .btn-confirm {
        width: 275px;
        color: #fff;
        border: 1px solid #006931;
        background-color: #000000;
        border-radius: 30px;
        padding: 8px;
        font-weight: 700;
    }

    .btn-back {
        width: 275px;
        border: 3px solid #000000;
        background-color: #fff;
        color: #000000;
        border-radius: 30px;
        padding: 8px;
        font-weight: 700;
    }
  }
}
