<h1 class="sr-only-element">{{product | productName:product.isCaseMode}}</h1>
<svg focusable="false" class="product-dialog-indication" aria-labelledby="open_product_title" role="img">
    <title id="open_product_title">{{'open product page' | translate}}</title>
    <use xlink:href="#sp-icons-arrow-with-line"></use>
</svg>
<sp-unit-weight product="product" class="kikar-template" cart-line="getLine()" ng-if="product.productDisplayModeId === $root.PRODUCT_DISPLAY.WEIGHT_AND_UNIT.id && $root.config.retailer.enableSwitchUnitWeight && $root.util.isUnitsWeighable(product)" ng-click="$event.stopPropagation();" product-id="product.id"></sp-unit-weight>
<sp-sale-icon ng-if="!hideSales && productSpecials.length && $root.config.retailer.settings.isNewPromotionDesignEnabled !== 'true'" product-specials="productSpecials" product="product" class="reminder-to-side"></sp-sale-icon>
<img class="product-main-tag-icon" ng-if="product | productMainTag:(boostProductTags || $root.PermanentFilters.values[$root.PermanentFilters.TYPES.PRODUCT_TAGS])"
     ng-src="{{(product | productMainTag:(boostProductTags || $root.PermanentFilters.values[$root.PermanentFilters.TYPES.PRODUCT_TAGS])).languages | name:'iconResourceUrl'}}"
     alt="{{(product | productMainTag:(boostProductTags || $root.PermanentFilters.values[$root.PermanentFilters.TYPES.PRODUCT_TAGS])).languages | name:'displayName'}}" />
<product-image show-replacement-label="product.showReplacementLabel" line="getLine()" product="product" image-key="images" size="{{size || 'medium'}}" is-product-out-of-stock="{{ product.branch.isOutOfStock }}" role="none"></product-image>
<sp-product-pricing-method is-case="product.isCaseMode" is-pack="isPack" product="product"></sp-product-pricing-method>
<product-actions ng-if="!product.isOOS"
                 class="large-actions"
                 ng-click="$event.target !== $event.currentTarget && $event.stopPropagation();"
                 product="product"
                 is-case="product.isCaseMode"
                 is-pack="isPack"
                 text="{{text}}"
                 hide-cart="{{hideCart}}"
                 hide-add-button="!!product.productProperties && !!product.productProperties.length"
                 open-product="openProduct(product, $index)"
                 show-replacement-label="product.showReplacementLabel"></product-actions>
<div class="specials-wrapper" ng-if="((!hideSales && productSpecials && productSpecials.length ||
    (product | productMainTag:(boostProductTags || $root.PermanentFilters.values[$root.PermanentFilters.TYPES.PRODUCT_TAGS]))) && $root.config.retailer.settings.isNewPromotionDesignEnabled !== 'true')">
    <div class="special" ng-repeat="special in productSpecials | orderBy: '-special.firstLevel.type'">
        <sp-sale-icon product-special="special" without-actions="true"></sp-sale-icon>
        <span class="description" special-description-split="{{special.descriptions && special.descriptions[$root.config.language.culture] ? special.descriptions[$root.config.language.culture] : special.description}}"></span>
    </div>
    <div class="main-product-tag-text" ng-if="product | productMainTag:(boostProductTags || $root.PermanentFilters.values[$root.PermanentFilters.TYPES.PRODUCT_TAGS])">
        {{((product | productMainTag:(boostProductTags || $root.PermanentFilters.values[$root.PermanentFilters.TYPES.PRODUCT_TAGS])).languages | name:'description') ||
        ((product | productMainTag:(boostProductTags || $root.PermanentFilters.values[$root.PermanentFilters.TYPES.PRODUCT_TAGS])).languages | name:'displayName')}}
    </div>
</div>
<sp-cart-line-count line="getLine()" sold-by="soldBy"></sp-cart-line-count>
<div class="data" ng-class="{'disabled': product.branch.isOutOfStock}">
    <span class="brand" ng-if="product.brand.names">{{product.brand.names | name}}</span><!--
    --><span class="weight" ng-if="product.weight">
        {{product.brand.names && product.weight ? '&nbsp;|' : '' }}
        {{product | productWeight:product.isCaseMode }}
    </span>
</div>
<div class="clear"></div>
<div class="name" id="product_name" ng-class="{'disabled': product.branch.isOutOfStock}" ellipsis title="{{product | productName:product.isCaseMode}}" aria-hidden="true"></div>
<div itemprop="description" ng-class="{'disabled': product.branch.isOutOfStock}" class="description" ellipsis ng-if="showItemDescription" title="{{product.data | name:'description' | removeHtmlTags}}"></div>
<sp-product-price
    regular-price="product | regularPrice:product.isCaseMode"
    sale-price="!product.isCaseMode && (product | salePrice)"
    show-weight-unit="product.isWeighable && !product.isCaseMode"
    pack-quantity="isPack && product.branch.packQuantity"
    product="product"
    ng-class="{'disabled': product.branch.isOutOfStock}">
</sp-product-price>
<sp-promotion size="size" product="product" ng-if="!hideSales && productSpecials.length && $root.config.retailer.settings.isNewPromotionDesignEnabled === 'true'"></sp-promotion