$recipeBumperReadMoreWrapperPadding: 1em;
$bumperPadding: 1.4em;

.sp-carousel .item.product {
  .add-to-cart {
    padding-left: 0.7em;
  }
}

sp-product {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 1.125em;
  padding-bottom: 0.5em;
  background-color: #ffffff;
  border: 2px solid transparent;
  display: block;
  box-sizing: border-box;

  .disabled {
    opacity: 0.35;
    pointer-events: none;
  }

  // must not be used for suggestions
  .out-of-stock:not(.suggestions) {
    position: absolute;
    top: 50%;
    height: 2em;
    line-height: 2em;
    padding: 0 0.4em;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    margin-top: -0.75em;
    color: #ffffff;
    border-radius: 16px;
    font-size: 0.75em;
    white-space: nowrap;
    background-color: #F86B2F;
    width: auto;
    left: 50%;
    transform: translateX(-50%);
  }

  > .product-dialog-indication {
    display: none;
    height: 1em;
    position: absolute;
    top: 0;
    left: 0;
    width: 1em;
    transform: rotate(-90deg);
    padding: 0.4em;
    z-index: 3;
  }

  > .image-wrapper {
    text-align: center;
    vertical-align: middle;
    height: 9.16875em;

    .new-promotion & {
      height: 9em;
    }
  }

  > .sale-icon {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
    margin: 0.5em;
    width: 2.9375em;
    height: 2.875em;

    > svg {
      height: 100%;
      width: 100%;
    }

    &.club-icon > svg {
      fill: $clubIconFill;
    }
  }

  > .data {
    position: relative;
    padding-top: 0.928em;
    height: 6%;
    color: #828282;
    font-size: 0.9em;
    $width: 58%;

    .new-promotion & {
      padding-top: 2em;
      height: 1em;
    }

    > * {
      white-space: nowrap;
      //height: 1em;
      height: 3em;
      overflow: hidden;
      text-overflow: ellipsis;
      display: inline-block;
    }

    > .brand {
      max-width: $width;
    }

    > .weight {
      max-width: 100% - $width;
    }
  }

  > .name {
    height: 3em;
    padding-top: 0.375em;
    color: #4a4a4a;
    vertical-align: top;
    overflow: hidden;
    line-height: 1.15em;
    font-size: 1.1em;

    .new-promotion & {
      height: 2.4em;
      padding-top: 0.5em;
    }
  }

  > .sp-unit-weight {
    display: none;
    position: absolute;
    z-index: 2;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -48%);
    @include transition(0.2s);
  }

  > .sp-product-price {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    .new-promotion & {
      height: 2.5em;
    }

    .rtl &  {
     direction: rtl;
   }

    > * {
      font-size: 1.25em;
      padding-bottom: 0.2em;
    }

    > .regular-price {
      font-size: 0.875em;
    }
  }

  > .product-pricing-method {
    z-index: 2;
    border-width: 1px;
    border-style: solid;
    display: inline-flex;
    flex-flow: row;
    flex-wrap: nowrap;
    width: auto;
    height: 1.5em;
    border-radius: 19px;
    overflow: hidden;
    top: 40%;
    left: 1em;
    position: absolute;

    &.extended{
      height: 6em;
    }

    > button {
      color: #414141;
      text-align: center;
      margin: auto;
      display: block;
      border: none;
      width: auto;
      height: 100%;
      font-size: .487em;
      padding: 0 .5em;
      border-radius: 19px !important;

      &.pack {
        font-size: 0.487em;
      }

      &.selected {
        border-radius: 50%;
        color: #414141;
        background-color: #fff;
        border: none;
        font-weight: 700;
       // box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.24);
      }

      &:first-child {
        //border-radius: $toggleIsCaseButtonsBorderRadius 0 0 0;
      }
      &:last-child {
        //border-radius: 0 0 0 $toggleIsCaseButtonsBorderRadius;
      }

    }
  }

  > .product-actions {
    display: none;
    position: absolute;
    top: 3em;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 1;
    > div.sp-quantity > .btns-row > .quantity-wrapper {
      position: relative;
      
      > .weight {
        width: unset; 
        position: absolute;
        bottom: 15%;
        left: 45%;
        height: 1.5em;
      }
    }
  }

  > .specials-wrapper {
    display: none;
    position: absolute;
    top: 10.5em;
    background-color: #ffffff;
    z-index: 1;
    box-shadow: 0 0 35px 0 rgba(255, 255, 255, 0.5);
    min-height: 4.8em;
    padding-top: 0.6em;
    right: 1em;
    left: 1em;

    .special {
      padding-bottom: 0.5em;

      &:last-child {
        padding-bottom: 0;
      }

      .sp-sale-icon {
        width: 16%;
        display: inline-block;
        vertical-align: middle;
        position: relative;

        svg {
          height: 1.731em;
          width: 100%;
        }

        > .sale-icon-text {
          //top: 22%;
          font-size: 0.5em;
        }
      }

      > span {
        vertical-align: middle;
        color: #787878;
        display: inline-block;
        width: 77%;
        font-size: 0.9em;
        height: 2em;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .main-product-tag-text {
      color: #787878;
      height: 2em;
      font-size: 0.9em;
      overflow: hidden;
    }
  }

  > .sp-cart-line-count {
    position: absolute;
    top: 4.5em;
    left: 0;
    width: 100%;
  }

  &:hover, &.hover-mode {
    box-shadow: 0 0 35px 0 rgba(0, 0, 0, 0.15);

    .out-of-stock-tag {
      visibility: hidden;
      transition: 0 0.3s ease-in-out;
    }

    &:before {
      position: absolute;
      left: 0;
      top: 0;
      content: '';
      border-right: 3em solid transparent;
      z-index: 2;
    }

    > .sp-unit-weight { 
      display: flex;
    }

    > .product-actions, > .specials-wrapper, > .product-dialog-indication {
      display: block;
    }
  }

  &.large-product {
    padding: 0;
    border: 2px solid #E6EDEC;
    box-shadow: 0 0 7px 0 rgba(0,0,0,.04);
    width: calc(100% - 1em);
    margin: auto;
    display: block !important;

    &:hover, &:focus-within {
      >.sale-icon {
        visibility: hidden;
      }
    }

    > .image-wrapper {
      vertical-align: top;
      width: 100%;
      height: 62%;
      padding-bottom: 0;
      margin: 0 0 0 0;

      .new-promotion & {
        height: 53%;
      }

      .top-part-opacity {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 40%;
        z-index: 1;
        background-image: linear-gradient(to top, rgba(0,0,0,0), rgba(0,0,0,0.4));
      }

      > .image {
        background-size: contain;
        border: 0;
      }
    }

    .specials-wrapper {
      min-height: 1.5em;
      top: auto;
      bottom: 7.5em;
      right: 0;
      left: 0;
      padding: 1em 1em 0 1em;

      >.special {
        >.sale-icon {
          margin-top: -1em;
          width: 10%;
        }
      }
    }

    &.contain-image > .image-wrapper {
      padding: 0.5em;
      box-sizing: border-box;

      .top-part-opacity {
        display: none;
      }

      > .image {
        background-size: contain;
      }
    }

    > .actions {
      top: 18%;
    }

    > .data{
      height: 4%;
      padding: 0.6em 1.2em 0 1.2em;
      margin-bottom: 2px;

      .new-promotion & {
        padding: 0.5em 1em 0;
      }
    }

    > .name {
      height: 6%;
      padding: 0.1em 1em 0 1em;
      font-weight: bold;

      .new-promotion & {
        padding: 0.25em 1em 0;
      }
    }

    > .description {
      padding: 0.4em 1.2em 0 1.2em;
      margin-bottom: 0.6em;
      height: 2.4em;
      font-size: 0.9em;
      color: #636363;
      vertical-align: top;
      line-height: 1.2em;
      overflow: hidden;

      .new-promotion & {
        padding: 0.25em 1em 0;
      }
    }

    > .sp-unit-weight {
      top: 48%;
      transform: translate(-50%, -48%);
      font-size: 1.2em;
      > .weight-option,
      > .unit-option {
        min-width: 3.5em;
      }
    }

    > .sp-product-price {
      padding: 0 1.2em 0 1.2em;

      .new-promotion & {
        padding: 0.25em 1em 0;
      }
    }

    > .sp-cart-line-count{
      margin: 1em 0 0 0;
    }

    .new-promotion & {
      > .sp-promotion {
        width: calc(100% - 2.25em);
        margin: 0 1.125em;
      }
    }
  }

  &:not(:hover, :focus-within) {
    > .product-actions > .specials-wrapper  > .product-dialog-indication {
      display: none;
    }
  }
}

.item.product {
  position: relative;
  display: inline-block;
  padding: 0.5em;
  @include box-sizing(border-box);
  @include transition(width 0.4s);
  vertical-align: top;

  &.first-bumper {
    padding-right: 0;

    > .product-item.bumper {
      padding: $bumperPadding 0 $bumperPadding $bumperPadding;
    }
  }

  &.second-bumper {
    padding-left: 0;

    > .product-item.bumper {
      padding: $bumperPadding $bumperPadding $bumperPadding 0;

      > .double-bumper-second.video-bumper {
        left: -100%;
        right: auto;
        margin-left: 0;
        top: 0;
        position: absolute;
      }
    }
  }

  > .product-item {
    width: 100%;
    height: 100%;

    > * {
      display: inline-block;
      vertical-align: top;
      @include box-sizing(border-box);
    }

    &.bumper {
      position: relative;
      box-sizing: border-box;
      box-shadow: none;

      > * {
        width: 100%;
        height: 100%;
        box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.04);
      }

      &.single-bumper {
        display: flex;
        justify-content: center;
        align-items: initial;
        flex-direction: row;

        background-color: #eae8e8;
        border: 2px solid #E6EDEC;
        width: calc(100% - 1em - 2px);
        margin: auto;
        padding-top: 0.5em !important;

        > .recipe-bumper-image {
          width: calc(50% - 0.5em);
          height: 62%;
          outline: none;
          margin: 0 auto;
        }

        > .recipe-bumper {
          width: calc(50% - 0.5em);
          height: 62%;
          outline: none;
          margin: 0 auto;
        }

        > .double-bumper-second.double-bumper-second {
          height: 62%;
          padding: 0;
          width: calc(100% - 1em);
          display: block;
          position: inherit;
          margin: 0 auto;
        }

        > .banner-bumper {
          height: 62%;
          padding: 0;
          width: calc(100% - 1em);
          display: block;
          margin: 0 auto;

          &.has-link {
            &:hover {
              padding: 0 !important;
              border: none !important;
            }
          }

        }
      }

      .click-through {
        pointer-events: none;
      }

      > .double-bumper-second {
        position: relative;
        overflow: hidden;
        margin-left: 0.5em;
        max-width: 200%;

        iframe {
          width: 100%;
          height: 100%;
        }

        &.banner-bumper {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          background-color: #ffffff;
          padding: 20px;
          cursor: default;

          &.has-link {
            cursor: pointer;
            &:hover {
              opacity: 0.9;
              padding: 19px;
              border: 1px solid #c2c2c2;
            }
          }

          .image-full-size {
            height: 100%;
            width: 100%;
          }
        }

        .video-left {
          position: absolute;
          top: 0;
          left: 0;
          width: 50%;
          height: 100%;
          text-align: center;

          .for-middle {
            display: inline-block;
            height: 100%;
            width: 0;
            vertical-align: middle;

          }

          .play-icon {
            display: inline-block;
            vertical-align: middle;
            background-color: rgba(255, 255, 255, 0.45);
            border-radius: 100%;
          }
        }

        .video-right {
          position: absolute;
          width: 50%;
          height: 100%;
          top: 0;
          right: 0;

          > div {
            padding: 0.9em 1.3em 0.7em 1.3em;
            height: 100%;
            box-sizing: border-box;
          }

          h4, h5, h6 {
            color: white;
          }

          h6 {
            font-size: 98%;
            font-weight: lighter;
            padding: 0;
          }

          h4 {
            padding-bottom: 0;
            line-height: 1.1em;
            overflow: hidden;
            height: 70%;
          }

          h5 {
            padding-top: 0.4em;
            font-size: 98%;
            font-weight: lighter;
          }
        }

        .image-overlay-wrapper {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          right: 0;

          .image-overlay {
            height: 101%;
            width: 100%;
          }
        }

        .hide {
          opacity: 0;
          transition: opacity 1.8s linear;
        }

        .show {
          opacity: 1;
        }

        .move-right {
          transition: 1s;
          right: -100%;
        }

        .move-left {
          transition: 1s;
          right: 0;
        }
      }

      > .recipe-bumper-image {
        overflow: hidden;
        position: relative;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      > .recipe-bumper {
        position: relative;
        $dotColor: rgba(0,0,0,0.05);
        $dotSize: 1px;
        $dotSpace: 8px;
        background-image: radial-gradient($dotColor $dotSize, transparent $dotSize), radial-gradient($dotColor $dotSize, transparent $dotSize);
        background-size: $dotSpace $dotSpace, $dotSpace $dotSpace;
        background-position: 0 0, ($dotSpace / 2) ($dotSpace / 2);
        background-repeat: repeat, repeat;

        $bumperTypeHeight: 5.75em;

        > * {
          color: #ffffff;
        }

        > div {
          $padding: 1em;
          padding: ($bumperTypeHeight + $padding - $bumperPadding) $padding $padding $padding;
          height: 100%;
          box-sizing: border-box;
        }

        h4, h5 {
          color: #ffffff;
          padding: 0;
        }

        .bumper-type {
          position: absolute;
          top: $bumperPadding * -1;
          left: $bumperPadding * -1;
          width: 5.875em;
          height: $bumperTypeHeight;

          > * {
            height: 100%;
            width: 100%;
          }

          > svg {
            fill: #2f2f2f;
          }

          > .text {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            z-index: 1;
            text-align: center;
            font-size: 1.6875em;
            padding: 0.3em 0.3em 0.5em 0.3em;
            box-sizing: border-box;
            font-weight: 700;

            > * {
              display: inline-block;
              vertical-align: middle;
            }
          }
        }

        .name {
          font-size: 2.4375em;
          font-weight: 700;
        }

        .author {
          padding-top: 0.7em;
          font-size: 1.5313em;
          font-weight: lighter;
        }

        .read-more-wrapper {
          $height: 2.8375em;
          position: absolute;
          left: 0;
          bottom: $bumperPadding * -1;
          height: $height;
          width: 100%;
          text-align: center;
          padding: 0;

          > .read-more {
            display: inline-block;
            font-size: 1.0813em;
            padding: 0 0.9249em;
            height: 100%;
            min-width: 8.3006em;
            background-color: #414141;
            border-radius: $height;
            color: #ffffff;
            box-sizing: border-box;

            > * {
              display: inline-block;
              vertical-align: middle;
            }
          }
        }
      }
    }
  }
}

.rtl {
  sp-product {
    > .product-dialog-indication {
      right: 0;
      left: auto;
      transform: rotate(0deg);
    }

    > .product-pricing-method {
      left: auto;
      right: 0;
    }

    > .sale-icon {
      right: auto;
      left: 0;
    }

    &:hover, &.hover-mode, &:focus-within {
      &:before {
        right: 0;
        left: auto;
        border-left: 3em solid transparent;
        border-right-width: 0;
      }
    }
  }

  .item.product {
    &.first-bumper {
      padding-left: 0;
      padding-right: 0.5em;

      > .product-item.bumper {
        padding-right: $bumperPadding;
        padding-left: 0;
      }
    }

    &.second-bumper {
      padding-right: 0;
      padding-left: 0.5em;

      > .product-item.bumper {
        padding-left: $bumperPadding;
        padding-right: 0;

        > .double-bumper-second.video-bumper {
          right: -100%;
          left: auto;
        }
      }
    }
  }
}
