sp-product {
  > .product-pricing-method {
    background-color:$secondaryColor;
    border-color: $secondaryColor;

    > button {
      background-color: $secondaryColor;
    }
  }

  > .is-case {
    > button {
      border-color: $mainColor;
      color: $mainColor;
    }

    &.case > button.case, &.single > button.single {
      background-color: $mainColor;
    }
  }

  &:hover {
    border-color: $secondaryColor;

    &:before {
      border-top: 3em solid $secondaryColor;
    }
  }
}

.item.product {
  /*&.second-bumper > .bumper > .recipe-bumper {
    background-color: $mainColor;

    .read-more-wrapper > .read-more {
      background-color: $secondaryColor
    }
  }*/
  > .bumper {
    > .recipe-bumper {
      background-color: '{{secondaryColor-#000000-94}}';
      //f0ad1c

      .read-more-wrapper .read-more {
        color: $mainColor;
      }

      .bumper-type > .text {
        font-family: $creativeFontFamily;
      }
    }

    .video-right {
      background-color: $mainColor;
    }
  }
}