<div class="ebt-payment" ng-if="ebtPaymentCtrl.isValidToShowScreen">
    <h1>{{'Payment Details' | translate}}</h1>
    <div class="ebt-payment-wrapper">
        <div class="ebt-payment-wrapper__details">
            <p class="notice">
                <strong>{{'Updating your order resets your previous payment methods. Please reselect how you would like to pay.' | translate}}</strong>
            </p>
            <p class="subtitle"><strong>{{'EBT payment' | translate}}</strong></p>
            <br>
            <ng-include ng-repeat="pass in [{type: 'ebt'}]"
                        src="'template/views/update-order/partials/card-details/index.html'"></ng-include>
            <div class="ebt-payments">
                <div class="ebt-payments__type"
                     ng-repeat="(key, infoObj) in ebtPaymentCtrl.ebtInfo"
                     ng-if="infoObj.isEnabled">
                    <p class="title"><strong>{{infoObj.title | translate}}</strong></p>
                    <div class="row"
                         ng-if="ebtPaymentCtrl.ebtCard && ebtPaymentCtrl.ebtCard.balance && ebtPaymentCtrl.ebtCard.balance[key]">
                        <span>{{'Current Account Balance' | translate}}:</span>
                        <span>{{$root.config.retailer.currencySymbol}}{{ebtPaymentCtrl.ebtCard.balance[key]}}</span>
                    </div>
                    <div class="row"
                         ng-if="ebtPaymentCtrl.ebtCard && ebtPaymentCtrl.ebtCard.balance && ebtPaymentCtrl.ebtCard.balance[key]">
                        <span><strong>{{'Available Balance' | translate}}:</strong></span>
                        <span><strong>{{$root.config.retailer.currencySymbol}}{{ebtPaymentCtrl.ebtCard.balance[key] + (ebtPaymentCtrl.ebtInfo[key].previousPayment.initialAmount || 0)}}</strong></span>
                        <span><small>{{'(Includes' + ' ' + $root.config.retailer.currencySymbol + ebtPaymentCtrl.ebtInfo[key].previousPayment.initialAmount + ' ' + 'previously charged)'}}</small></span>
                    </div>
                    <br/>
                    <div class="row">
                        <span>{{'Eligible Amount' | translate}}:*</span>
                        <span>{{$root.config.retailer.currencySymbol}}{{
                          key === 'snap' 
                          ? ebtPaymentCtrl.dividedCart[key].totalWithoutTax
                          : ebtPaymentCtrl.dividedCart[key].totalWithTax
                          }}</span>
                        <span ng-include="'template/views/checkout/partials/ebt-weight-debit-disclaimer/index.html'"></span>
                    </div>
                    <div class="row amount-to-pay">
                        <span><strong>{{'Amount To Pay' | translate}}:</strong></span>
                        <span>{{$root.config.retailer.currencySymbol}}</span>
                        <input type="number"
                               sp-inline-error
                               min="0"
                               ng-model="ebtPaymentCtrl.ebtValues[infoObj.valName]"
                               ng-change="ebtPaymentCtrl.onChangeEBTChargeType(key)"/>
                        <span class="ebt-error" ng-show="ebtPaymentCtrl.ebtErrors[key]">{{ ebtPaymentCtrl.ebtErrors[key] }}</span>
                    </div>
                </div>
            </div>

            <br>
            <p class="subtitle"><strong>{{'Credit Card' | translate | creditCardName}}</strong></p>
            <br>
            <ng-include ng-repeat="pass in [{type: 'main'}]"
                        src="'template/views/update-order/partials/card-details/index.html'"></ng-include>
            <div class="row credit-card-balance">
                <span>{{'Balance to be paid by credit card' | translate}}:</span>
                <span>{{ebtPaymentCtrl.summary.creditCardReminder}}</span>
            </div>
            <div class="button-wrapper">
                <button class="button confirm" ng-click="ebtPaymentCtrl.onConfirm()">
                    <strong>{{'CONFIRM UPDATE' | translate}}</strong></button>
            </div>
        </div>
        <div class="ebt-payment-wrapper__summary">
            <div class="calculate-summary">
                <div class="row">
                    <span>{{'Previous order value' | translate}}:</span>
                    <span>{{$root.config.retailer.currencySymbol}}{{ebtPaymentCtrl.summary.previousCharged}}</span>
                </div>
                <br>
                <p class="subtitle"><strong>{{'Updated order summary' | translate}}</strong></p>
                <br>
                <div class="row">
                    <span>{{'Subtotal' | translate}}:</span>
                    <span>{{$root.config.retailer.currencySymbol}}{{ebtPaymentCtrl.summary.subTotal}}</span>
                </div>
                <div class="row" ng-if="ebtPaymentCtrl.summary.deliveryFee">
                    <span>{{'Delivery fee' | translate}}:</span>
                    <span>{{$root.config.retailer.currencySymbol}}{{ebtPaymentCtrl.summary.deliveryFee}}</span>
                </div>
                <div class="row" ng-if="ebtPaymentCtrl.summary.serviceFee">
                    <span>{{'Service fee' | translate}}:</span>
                    <span>{{$root.config.retailer.currencySymbol}}{{ebtPaymentCtrl.summary.serviceFee}}</span>
                </div>
                <div class="row">
                    <span>{{'Tax' | translate}}</span>
                    <span>{{$root.config.retailer.currencySymbol}}{{ebtPaymentCtrl.summary.finalTax}}</span>
                </div>
                <div
                    class="row"
                    ng-repeat="(key, infoObj) in ebtPaymentCtrl.ebtInfo"
                    ng-if="ebtPaymentCtrl.ebtDividerAmounts[infoObj.shortValName].amount && ebtPaymentCtrl.ebtDividerAmounts[infoObj.shortValName].deposit">
                    <span>{{ebtPaymentCtrl.ebtInfo[key].title + ' Weight debit' | translate}}:</span>
                    <span>{{$root.config.retailer.currencySymbol}}{{ebtPaymentCtrl.ebtDividerAmounts[infoObj.shortValName].deposit}}</span>
                </div>
                <hr>
                <div class="row">
                    <span><strong>{{'Total(Estimated)' | translate}}:</strong></span>
                    <span><strong>{{$root.config.retailer.currencySymbol}}{{ebtPaymentCtrl.summary.finalTotal}}</strong></span>
                </div>
            </div>
            <br>
            <div class="calculate-summary">
                <div class="row"
                     ng-if="ebtPaymentCtrl.dividedCart.snap.immutableWithTax">
                    <span>{{ebtPaymentCtrl.ebtInfo.snap.title | translate}}:</span>
                    <span>{{$root.config.retailer.currencySymbol}}{{ebtPaymentCtrl.ebtValues.fsAmount || '0.00'}}</span>
                </div>
                <div class="row"
                     ng-if="ebtPaymentCtrl.dividedCart.cash.immutableWithTax && ebtPaymentCtrl.ebtBranchSettings[ebtPaymentCtrl.ebtBranchSettings.branchId].eBTCashAllowed">
                    <span>{{ebtPaymentCtrl.ebtInfo.cash.title | translate}}:</span>
                    <span>{{$root.config.retailer.currencySymbol}}{{ebtPaymentCtrl.ebtValues.cbAmount || '0.00'}}</span>
                </div>
                <div class="row">
                    <span>{{'Credit Card' | translate | creditCardName}}:</span>
                    <span>{{$root.config.retailer.currencySymbol}}{{ebtPaymentCtrl.summary.creditCardReminder || '0.00'}}</span>
                </div>
            </div>
        </div>
    </div>
</div>
