@import './animations';

.ebt-payment {
  width: 1100px;
  margin: 20px auto 110px;

  h1, h2 {
    padding: 0;
  }

  .button {
    &, &:hover {
      background-color: transparent !important;
    }
  }

  .row {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    margin: 10px 0;
  }

  &-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 25px;

    .subtitle {
      font-size: 22px;
    }

    .button {
      &, &:hover {
        background-color: transparent !important;
      }
    }

    & > div {
      padding: 30px;
    }

    &__details {
      flex: .5;
      text-align: left;
      background-color: white;

      .notice {
        padding: 1em 0;
        font-size: 19px;
        color: #BE1625;
      }

      .balance-check {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 14px;
        background-color: #FDF3DA;
        border-radius: 5px;

        .digits {
          display: flex;
          align-items: center;
          color: currentColor;
          font-size: 14px;
          gap: 7px;

          svg {
            width: 30px;
            height: 24px;
          }
        }
        .button {
          color: currentColor;

          &, &:hover {
            background-color: transparent !important;
          }
        }
      }

      .ebt-payments {
        margin: 20px 0;
        &__type {
          padding: 14px;
          margin: 5px 0;

          small {color: #78797a}

          .title {
            color: #BE1625;
          }

          & > div {
            display: flex;
          }

          & > .row {
            justify-content: flex-start;
            & > *:first-child { width: 155px; }

            & > *:nth-child(2) { margin: 0 8px; }
          }

          .amount-to-pay {
            position: relative;

            input {
              padding: 1px 5px;
              border: none;
              border-bottom: 1px solid currentColor;
              border-radius: 0;
              width: 100px;

              &:focus,
              &:focus-visible {
                outline: none !important;
              }
            }

            .ebt-error {
              position: absolute;
              bottom: 0;
              right: 40px;
              font-size: 14px;
              color: red;
              animation: error-fade-in .5s forwards ease-out;
            }
          }
        }
      }

      .row.credit-card-balance {
        margin: 20px 0 40px;
      }

      .button-wrapper {
        text-align: center;
      }

      .button.confirm {
        color: white;
        padding: 15px 50px;
        border-radius: 50px;
      }
    }

    &__summary {
      flex: .5;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      background-color: #EDEDED;

      .calculate-summary {
        h2 {
          font-size: 25px;
          margin: 40px 0;
        }

        width: 100%;
      }
    }
  }
}