.ebt-payment-wrapper {
  .subtitle {
    color: $mainColor;
  }

  &__details {
    .balance-check {
      color: $secondaryColor;

      .button {
        border: 1px solid $mainColor;
      }
    }

    .ebt-payments {
      &__type {
        border: 1px solid $secondaryColor;
        border-radius: 5px;
      }
    }

    .button.confirm {
      &, &:hover {
        background-color: $secondaryColor !important;
      }
    }
  }
  &__summary {
    .delivery-image {
      background-color: $mainColor;
    }
  }
}