.product-properties {
  .property-name {
    max-width: 12.5em;
    vertical-align: middle;
    padding-bottom: 5px;
  }

  .error-text {
    color: #c20202;
  }

  .dropdown-wrapper {
    vertical-align: middle;
    position: relative;
    display: inline-block;
    min-width: fit-content;
    width: 40%;

    sp-kikar-dropdown {

      .sp-dropdown-text {
        overflow: hidden;

        .selected-value {
          font-weight: 700;
          color: #000000;
        }
      }

      &.is-empty {
        background-color: #FFFBD4;
      }
    }

  }
  .sp-dropdown-options-wrapper {
    max-height: 23em;
    right: -50%;
    border: 2px solid #787878;
    border-radius: 4px;
    left: 0;
    position: absolute;
    z-index: 99;

    .sp-kikar-option {
      border-bottom: 1px solid #DBD9DA;

      .option-link {
        padding: 0.5em 0;

        .value-name {
          font-weight: bold;
          padding-bottom: 0.3em;
        }

        .value-desc {
          font-size: 0.8em;
          line-height: 1.2em;
        }
      }

      &.active {
        color: #ffffff;
      }

      &:hover {
        background-color: #F7F7F9;
        color: black;
      }
    }
  }
}
