$navigationBarHeight: 5em;

.navigation-bar {
  @include fixed();
  left: 0;
  top: $headerHeight;
  @include box-sizing(border-box);
  height: $navigationBarHeight;
  width: 100%;
  border-bottom: 1px solid #EBEBEB;
  padding: 1em;
  background-color: #ffffff;
  z-index: 1;

  html.hub-child & {
    top: $headerHeightWithHub;
  }

  > * {
    display: inline-block;
    font-size: 1.6em;
    vertical-align: middle;
  }

  &:after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 0;
    vertical-align: middle;
  }
}

@media screen and (max-width: 1575px) {
  .navigation-bar {
    top: $responsive1575HeaderHeight;

    html.hub-child & {
      top: $responsive1575HeaderHeightWithHub;
    }
  }
}

$navigationMediaMaxWidth: 1120px;
$navigationMediaFontSize: 0.9em;
@media screen and (max-width: $navigationMediaMaxWidth) {
  .navigation-bar {
    font-size: $navigationMediaFontSize;
    top: $responsive1575HeaderHeight / $navigationMediaFontSize * 1em;

    html.hub-child & {
      top: ($responsive1575HeaderHeightWithHub / $navigationMediaFontSize) * 1em;
    }
  }
}