
<!-- Address Form -->
<!-- Default Mode, City Mode -->
<form class="form userEditCtrl.user-edit-form" autocomplete="off" name="accountInfoCtrl.addressForm"
    ng-click="accountInfoCtrl.checkForAutocompleteAddress($event)" ng-submit="accountInfoCtrl.saveAddress($event)"
    ng-if="!accountInfoCtrl.enableAddressFiltering || accountInfoCtrl.isAddressFilteringCityMode"
    novalidate>
    <div class="detail-container address-form-field-wrapper">
        <div class="error-message-wrapper">
            <label aria-live="assertive" class="server-err-msg"></label>
        </div>
        <div class="detail-body">
            <!-- title -->
            <h2 ng-class="{'smaller-font-size': config.language.id === 4}" class="detail-subtitle">
                {{'account_details_form_address_title' | translate}}
            </h2>
            <div class="input-flex-wrapper w-70">
                <!-- cancel droppin -->
                <div class="w-full sp-kikar-input cancel-drop-pin-button-wrapper"  ng-if="accountInfoCtrl.isDropPinAddress">
                    <span class="cancel-droppin-msg">{{ 'address_drop_pin_message_1' | translate }}</span>
                    <button type="button" class="no-design cancel-droppin-button" ng-click="accountInfoCtrl.cancelPinnedAddress()">
                        {{ 'address_drop_pin_message_cancel' | translate }}
                    </button>
                </div>

                <!-- City -->
                <div class="sp-kikar-input input-flex-item"
                    ng-if="accountInfoCtrl.addressFormSettings.city.isEnabled && !accountInfoCtrl.isDropPinAddress">
                    <label for="city_input">{{('address_form_field_label_' + accountInfoCtrl.addressFormSettings.city.label) | translate}}
                        {{accountInfoCtrl.addressFormSettings.city.isMandatory ? '*' : ''}}</label>
                    <input autocomplete="off" type="text" id="city_input" name="{{'address_form_field_error_' + accountInfoCtrl.addressFormSettings.city.label}}" 
                        ng-required="accountInfoCtrl.addressFormSettings.city.isMandatory"
                        ng-change="accountInfoCtrl.onCityChange()"
                        ng-class="{'input-disable': userEditCtrl.externalLoginSettings.isActive}"
                        ng-model="userEditCtrl.user.addresses[0].city" sp-inline-error
                        ng-class="{ 'form-control-error': accountInfoCtrl.formErrorCtrl.city }"
                        ng-blur="accountInfoCtrl.onCityBlur($event)" 
                        sp-kikar-input-dynamic-dimension
                        sp-inline-error-attach-to-parent="div" />
                    <sp-autocomplete ng-if="accountInfoCtrl.isAddressVerificationEnabled"
                        sp-model="userEditCtrl.user.addresses[0].city" sp-choose="accountInfoCtrl.onAutoCompleteCityChosen($event)"
                        sp-get-options="accountInfoCtrl.getCityAutoCompleteOptions()" sp-value="option.name">
                    </sp-autocomplete>
                </div>

                <!-- City for drop pin -->
                <div class="sp-kikar-input input-flex-item"
                    ng-if="accountInfoCtrl.addressFormSettings.city.isEnabled && accountInfoCtrl.isDropPinAddress">
                    <label for="city_input">{{('address_form_field_label_' + accountInfoCtrl.addressFormSettings.city.label) | translate}}
                        {{accountInfoCtrl.addressFormSettings.city.isMandatory ? '*' : ''}}</label>
                    <input autocomplete="off" type="text" id="city_input" name="{{'address_form_field_error_' + accountInfoCtrl.addressFormSettings.city.label}}" 
                        ng-required="accountInfoCtrl.addressFormSettings.city.isMandatory"
                        ng-model="userEditCtrl.user.addresses[0].city" sp-inline-error
                        ng-class="{ 'form-control-error': accountInfoCtrl.formErrorCtrl.city }"
                        ng-disabled="accountInfoCtrl.droppinDisableFields.city"
                        ng-blur="accountInfoCtrl.onDroppinAddressFieldBlur()"
                        class="input-with-edit-icon"
                        sp-kikar-input-dynamic-dimension
                        sp-inline-error-attach-to-parent="div" />
                    <div ng-click="accountInfoCtrl.editDroppinAddressField('#city_input', 'city')" class="btn-edit-address">
                        <svg focusable="false" width="24" height="24">
                            <use xlink:href="#sp-icons-black-edit"></use>
                        </svg>
                        <span class="btn-edit-address__tooltip">{{ 'Edit' | translate }}</span>
                    </div>
                </div>

                <!-- Address -->
                <div class="sp-kikar-input input-flex-item" 
                    ng-if="accountInfoCtrl.isShowAddressField() && !accountInfoCtrl.isDropPinAddress"
                    ng-class="{ 'unrecognized-address-error': accountInfoCtrl.isJustDropedNotDetectedAddress() }">
                    <label for="text1">{{('address_form_field_label_' + accountInfoCtrl.addressFormSettings.address.label) | translate}}
                        {{accountInfoCtrl.addressFormSettings.address.isMandatory ? '*' : ''}}</label>
                    <input autocomplete="off" type="text" id="text1" 
                        ng-keydown="accountInfoCtrl.onAddressInputKeyDown()"
                        name="{{'address_form_field_error_' + accountInfoCtrl.addressFormSettings.address.label}}"
                        ng-model="userEditCtrl.user.addresses[0].text1" sp-inline-error
                        ng-disabled="accountInfoCtrl.isDisableAddressField($root.FILTER_ADDRESS_MODE.CITY)"
                        ng-class="{'input-disable': userEditCtrl.externalLoginSettings.isActive}"
                        ng-required="accountInfoCtrl.addressFormSettings.address.isMandatory"
                        ng-change="accountInfoCtrl.onAddressChange()" 
                        ng-blur="accountInfoCtrl.onAddressBlur($event)" 
                        sp-kikar-input-dynamic-dimension
                        sp-inline-error-attach-to-parent="div" />
                    <sp-autocomplete
                        ng-if="accountInfoCtrl.isAddressVerificationEnabled && !accountInfoCtrl.isGoogleMapDropPinAllow"
                        sp-model="userEditCtrl.user.addresses[0].text1" sp-choose="accountInfoCtrl.onAddressChosen($event)"
                        sp-get-options="accountInfoCtrl.getAddressAutoCompleteOptions()" sp-value="option.name">
                    </sp-autocomplete>
                    <sp-autocomplete-address-and-map
                        ng-if="accountInfoCtrl.isAddressVerificationEnabled && accountInfoCtrl.isGoogleMapDropPinAllow"
                        hide-if-empty="true" sp-value="option.name" sp-model="userEditCtrl.user.addresses[0].text1"
                        sp-choose="accountInfoCtrl.onAddressChosen($event)"
                        sp-get-options="accountInfoCtrl.getAddressAutoCompleteOptions()"
                        sp-open-google-map="accountInfoCtrl.openGoogleMapDialog()">
                    </sp-autocomplete-address-and-map>
                </div>

                <!-- Address for drop pin -->
                <div class="sp-kikar-input input-flex-item" 
                    ng-if="accountInfoCtrl.isShowAddressField() && accountInfoCtrl.isDropPinAddress"
                    ng-class="{ 'unrecognized-address-error': accountInfoCtrl.isJustDropedNotDetectedAddress() }">
                    <label for="text1">{{('address_form_field_label_' + accountInfoCtrl.addressFormSettings.address.label) | translate}}
                        {{accountInfoCtrl.addressFormSettings.address.isMandatory ? '*' : ''}}</label>
                    <input autocomplete="off" type="text" id="text1" 
                        name="{{'address_form_field_error_' + accountInfoCtrl.addressFormSettings.address.label}}"
                        ng-model="userEditCtrl.user.addresses[0].text1" sp-inline-error
                        ng-disabled="accountInfoCtrl.droppinDisableFields.text1"
                        ng-required="accountInfoCtrl.addressFormSettings.address.isMandatory"
                        ng-blur="accountInfoCtrl.onDroppinAddressFieldBlur()"
                        class="input-with-edit-icon"
                        sp-kikar-input-dynamic-dimension
                        sp-inline-error-attach-to-parent="div" />
                    <div ng-click="accountInfoCtrl.editDroppinAddressField('#text1', 'text1')" class="btn-edit-address">
                        <svg focusable="false" width="24" height="24">
                            <use xlink:href="#sp-icons-black-edit"></use>
                        </svg>
                        <span class="btn-edit-address__tooltip">{{ 'Edit' | translate }}</span>
                    </div>
                </div>

                <!-- placeholder purpose -->
                <div class="sp-kikar-input input-flex-item" ng-if="accountInfoCtrl.isShowStreetAndHouseNumberFields()"></div>

                <!-- Street -->
                <div class="sp-kikar-input input-flex-item" ng-if="accountInfoCtrl.isShowStreetAndHouseNumberFields()">
                    <label for="street" class="label">{{'Street' | translate}} *</label>
                    <input class="content" id="street" type="text" name="street" autocomplete="off"
                        ng-model="userEditCtrl.user.addresses[0].street" required sp-inline-error />
                </div>
                <!-- House Number -->
                <div class="sp-kikar-input input-flex-item" ng-if="accountInfoCtrl.isShowStreetAndHouseNumberFields()">
                    <label for="house_num_input" class="label second">{{'House Number' | translate}} *</label>
                    <input class="content" id="house_num_input" type="number" name="houseNum" min="1"
                        ng-model="userEditCtrl.user.addresses[0].houseNumber" required sp-inline-error />
                </div>

                <!-- Zip code -->
                <div class="sp-kikar-input input-flex-item"
                    ng-if="accountInfoCtrl.addressFormSettings.zipCode.isEnabled && !accountInfoCtrl.isDropPinAddress">
                    <label for="zip_input">{{('address_form_field_label_' + accountInfoCtrl.addressFormSettings.zipCode.label) |
                        translate}} {{accountInfoCtrl.addressFormSettings.zipCode.isMandatory ? '*' : ''}}</label>
                    <input autocomplete="off" type="text" id="zip_input"
                        ng-disabled="accountInfoCtrl.isDisabledZipCodeField"
                        ng-class="{'input-disable': userEditCtrl.externalLoginSettings.isActive}"
                        ng-attr-maxlength="{{accountInfoCtrl.zipCodeLimitLength}}"
                        sp-kikar-input-dynamic-dimension
                        ng-change="accountInfoCtrl.onZipCodeChange()"
                        ng-blur="accountInfoCtrl.onZipCodeBlur();"
                        ng-required="accountInfoCtrl.addressFormSettings.zipCode.isMandatory" 
                        name="{{'address_form_field_error_' + accountInfoCtrl.addressFormSettings.zipCode.label}}"
                        ng-model="userEditCtrl.user.addresses[0].zipCode" sp-inline-error
                        sp-inline-error-attach-to-parent="div" />
                </div>

                <!-- Zip code for drop pin -->
                <div class="sp-kikar-input input-flex-item"
                    ng-if="accountInfoCtrl.addressFormSettings.zipCode.isEnabled && accountInfoCtrl.isDropPinAddress">
                    <label for="zip_input">{{('address_form_field_label_' + accountInfoCtrl.addressFormSettings.zipCode.label) |
                        translate}} {{accountInfoCtrl.addressFormSettings.zipCode.isMandatory ? '*' : ''}}</label>
                    <input autocomplete="off" type="text" id="zip_input"
                        ng-disabled="accountInfoCtrl.droppinDisableFields.zipCode"
                        ng-blur="accountInfoCtrl.onDroppinAddressFieldBlur()"
                        class="input-with-edit-icon"
                        ng-attr-maxlength="{{accountInfoCtrl.zipCodeLimitLength}}"
                        sp-kikar-input-dynamic-dimension
                        ng-required="accountInfoCtrl.addressFormSettings.zipCode.isMandatory" 
                        name="{{'address_form_field_error_' + accountInfoCtrl.addressFormSettings.zipCode.label}}"
                        ng-model="userEditCtrl.user.addresses[0].zipCode" sp-inline-error
                        sp-inline-error-attach-to-parent="div" />
                    <div ng-click="accountInfoCtrl.editDroppinAddressField('#zip_input', 'zipCode')" class="btn-edit-address">
                        <svg focusable="false" width="24" height="24">
                            <use xlink:href="#sp-icons-black-edit"></use>
                        </svg>
                        <span class="btn-edit-address__tooltip">{{ 'Edit' | translate }}</span>
                    </div>
                </div>

                <!-- Entrance -->
                <div class="sp-kikar-input input-flex-item" ng-if="accountInfoCtrl.addressFormSettings.entrance.isEnabled">
                    <label for="entry1">{{('address_form_field_label_' + accountInfoCtrl.addressFormSettings.entrance.label)
                        | translate}} {{accountInfoCtrl.addressFormSettings.entrance.isMandatory ? '*' : ''}}</label>
                    <input autocomplete="off" id="entry1" type="text" name="{{'address_form_field_error_' + accountInfoCtrl.addressFormSettings.entrance.label}}"
                        ng-model="userEditCtrl.user.addresses[0].entry" sp-inline-error
                        sp-kikar-input-dynamic-dimension
                        ng-class="{'input-disable': userEditCtrl.externalLoginSettings.isActive}"
                        ng-required="accountInfoCtrl.addressFormSettings.entrance.isMandatory"
                        sp-inline-error-attach-to-parent="div" />
                </div>
                
                <!-- Apartment Number -->
                <div class="sp-kikar-input input-flex-item" ng-if="accountInfoCtrl.addressFormSettings.apartment.isEnabled">
                    <label for="apartment_input">{{('address_form_field_label_' + accountInfoCtrl.addressFormSettings.apartment.label)
                        | translate}} {{accountInfoCtrl.addressFormSettings.apartment.isMandatory ? '*' : ''}}</label>
                    <input autocomplete="off" type="text" id="apartment_input"
                        ng-required="accountInfoCtrl.addressFormSettings.apartment.isMandatory" 
                        name="{{'address_form_field_error_' + accountInfoCtrl.addressFormSettings.apartment.label}}"
                        sp-kikar-input-dynamic-dimension
                        ng-class="{'input-disable': userEditCtrl.externalLoginSettings.isActive}"
                        ng-model="userEditCtrl.user.addresses[0].apartment" sp-inline-error
                        sp-inline-error-attach-to-parent="div" />
                </div>

                <!-- Building Code -->
                <div class="sp-kikar-input input-flex-item" ng-if="accountInfoCtrl.addressFormSettings.buildingCode.isEnabled">
                    <label for="buildingCode_input">{{('address_form_field_label_' + accountInfoCtrl.addressFormSettings.buildingCode.label)
                        | translate}} {{accountInfoCtrl.addressFormSettings.buildingCode.isMandatory ? '*' : ''}}</label>
                    <input autocomplete="off" type="text" id="buildingCode_input"
                        ng-required="accountInfoCtrl.addressFormSettings.buildingCode.isMandatory"
                        name="{{'address_form_field_error_' + accountInfoCtrl.addressFormSettings.buildingCode.label}}"
                        ng-class="{'input-disable': userEditCtrl.externalLoginSettings.isActive}"
                        ng-model="userEditCtrl.user.addresses[0].buildingCode" sp-inline-error
                        sp-kikar-input-dynamic-dimension maxlength="255"
                        sp-inline-error-attach-to-parent="div" />
                </div>

                <!-- State -->
                <div class="sp-kikar-input input-flex-item" ng-if="accountInfoCtrl.addressFormSettings.state.isEnabled && !accountInfoCtrl.isDropPinAddress">
                    <label for="state_input">{{('address_form_field_label_' + accountInfoCtrl.addressFormSettings.state.label)
                        | translate}} {{accountInfoCtrl.addressFormSettings.state.isMandatory ? '*' : ''}}</label>
                    <input autocomplete="off" type="text" id="state_input"
                        ng-required="accountInfoCtrl.addressFormSettings.state.isMandatory"
                        name="{{'address_form_field_error_' + accountInfoCtrl.addressFormSettings.state.label}}" 
                        ng-class="{'input-disable': userEditCtrl.externalLoginSettings.isActive}"
                        ng-model="userEditCtrl.user.addresses[0].state" sp-inline-error
                        sp-kikar-input-dynamic-dimension maxlength="255"
                        sp-inline-error-attach-to-parent="div" />
                </div>

                <!-- state for drop pin -->
                <div class="sp-kikar-input input-flex-item" ng-if="accountInfoCtrl.addressFormSettings.state.isEnabled && accountInfoCtrl.isDropPinAddress">
                    <label for="state_input">{{('address_form_field_label_' + accountInfoCtrl.addressFormSettings.state.label)
                        | translate}} {{accountInfoCtrl.addressFormSettings.state.isMandatory ? '*' : ''}}</label>
                    <input autocomplete="off" type="text" id="state_input"
                        ng-required="accountInfoCtrl.addressFormSettings.state.isMandatory"
                        name="{{'address_form_field_error_' + accountInfoCtrl.addressFormSettings.state.label}}" 
                        ng-model="userEditCtrl.user.addresses[0].state" sp-inline-error
                        ng-disabled="accountInfoCtrl.droppinDisableFields.state"
                        ng-blur="accountInfoCtrl.onDroppinAddressFieldBlur()"
                        class="input-with-edit-icon"
                        sp-kikar-input-dynamic-dimension maxlength="255"
                        sp-inline-error-attach-to-parent="div" />
                    <div ng-click="accountInfoCtrl.editDroppinAddressField('#state_input', 'state')" class="btn-edit-address">
                        <svg focusable="false" width="24" height="24">
                            <use xlink:href="#sp-icons-black-edit"></use>
                        </svg>
                        <span class="btn-edit-address__tooltip">{{ 'Edit' | translate }}</span>
                    </div>
                </div>

                <!-- More details -->
                <div class="sp-kikar-input input-flex-item w-full" ng-if="accountInfoCtrl.addressFormSettings.comments.isEnabled">
                    <label for="comments">{{('address_form_field_label_' + accountInfoCtrl.addressFormSettings.comments.label)
                        | translate}} {{accountInfoCtrl.addressFormSettings.comments.isMandatory ? '*' : ''}}</label>
                    <input id="comments" type="text"
                        name="{{'address_form_field_error_' + accountInfoCtrl.addressFormSettings.comments.label}}"
                        ng-required="accountInfoCtrl.addressFormSettings.comments.isMandatory"
                        ng-class="{'input-disable': userEditCtrl.externalLoginSettings.isActive}"
                        ng-model="userEditCtrl.user.addresses[0].text2"
                        sp-kikar-input-dynamic-dimension
                        sp-inline-error sp-inline-error-attach-to-parent="div"/>
                </div>
            </div>
        </div>
        <!-- footer -->
        <div class="detail-footer">
            <div class="submit-button-wrapper">
                <button class="submit-button" type="submit" id="btn-submit"
                    ng-if="!userEditCtrl.externalLoginSettings.isActive">
                    {{'account_details_form_address_save_btn' |translate}}
                </button>
            </div>
        </div>
    </div>
</form>

<!-- Filtering by Zip code -->
<form class="form userEditCtrl.user-edit-form" autocomplete="off" name="accountInfoCtrl.addressForm"
    ng-click="accountInfoCtrl.checkForAutocompleteAddress($event)" ng-submit="accountInfoCtrl.saveAddress($event)"
    ng-if="accountInfoCtrl.isAddressFilteringZipCodeMode"
    novalidate>
    <div class="detail-container address-form-field-wrapper">
        <div class="error-message-wrapper">
            <label aria-live="assertive" class="server-err-msg"></label>
        </div>
        <div class="detail-body">
            <!-- title -->
            <h2 ng-class="{'smaller-font-size': config.language.id === 4}" class="detail-subtitle">
                {{'account_details_form_address_title' | translate}}
            </h2>
            <div class="input-flex-wrapper w-70">

                <!-- cancel droppin -->
                <div class="w-full sp-kikar-input cancel-drop-pin-button-wrapper"  ng-if="accountInfoCtrl.isDropPinAddress">
                    <span class="cancel-droppin-msg">{{ 'address_drop_pin_message_1' | translate }}</span>
                    <button type="button" class="no-design cancel-droppin-button" ng-click="accountInfoCtrl.cancelPinnedAddress()">
                        {{ 'address_drop_pin_message_cancel' | translate }}
                    </button>
                </div>
                
                <!-- Zip code -->
                <div class="sp-kikar-input input-flex-item"
                    ng-if="accountInfoCtrl.addressFormSettings.zipCode.isEnabled && !accountInfoCtrl.isDropPinAddress">
                    <label for="zip_input">{{('address_form_field_label_' + accountInfoCtrl.addressFormSettings.zipCode.label) |
                        translate}} {{accountInfoCtrl.addressFormSettings.zipCode.isMandatory ? '*' : ''}}</label>
                    <input autocomplete="off" type="text" id="zip_input"
                        ng-disabled="accountInfoCtrl.isDisabledZipCodeField"
                        ng-class="{'input-disable': userEditCtrl.externalLoginSettings.isActive}"
                        ng-attr-maxlength="{{accountInfoCtrl.zipCodeLimitLength}}"
                        sp-kikar-input-dynamic-dimension
                        ng-change="accountInfoCtrl.onZipCodeChange()"
                        ng-blur="accountInfoCtrl.onZipCodeBlur();"
                        ng-required="accountInfoCtrl.addressFormSettings.zipCode.isMandatory" 
                        name="{{'address_form_field_error_' + accountInfoCtrl.addressFormSettings.zipCode.label}}"
                        ng-model="userEditCtrl.user.addresses[0].zipCode" sp-inline-error
                        sp-inline-error-attach-to-parent="div" />
                    <span focusable="false" class="valid-input-icon" ng-show="accountInfoCtrl.isZipCodeValid && userEditCtrl.user.addresses[0].zipCode.length">&#10003;</span>
                </div>

                <!-- Zip code for drop pin -->
                <div class="sp-kikar-input input-flex-item"
                    ng-if="accountInfoCtrl.addressFormSettings.zipCode.isEnabled && accountInfoCtrl.isDropPinAddress">
                    <label for="zip_input">{{('address_form_field_label_' + accountInfoCtrl.addressFormSettings.zipCode.label) |
                        translate}} {{accountInfoCtrl.addressFormSettings.zipCode.isMandatory ? '*' : ''}}</label>
                    <input autocomplete="off" type="text" id="zip_input"
                        ng-disabled="accountInfoCtrl.droppinDisableFields.zipCode"
                        ng-blur="accountInfoCtrl.onDroppinAddressFieldBlur()"
                        class="input-with-edit-icon"
                        ng-attr-maxlength="{{accountInfoCtrl.zipCodeLimitLength}}"
                        sp-kikar-input-dynamic-dimension
                        ng-required="accountInfoCtrl.addressFormSettings.zipCode.isMandatory" 
                        name="{{'address_form_field_error_' + accountInfoCtrl.addressFormSettings.zipCode.label}}"
                        ng-model="userEditCtrl.user.addresses[0].zipCode" sp-inline-error
                        sp-inline-error-attach-to-parent="div" />
                    <div ng-click="accountInfoCtrl.editDroppinAddressField('#zip_input', 'zipCode')" class="btn-edit-address">
                        <svg focusable="false" width="24" height="24">
                            <use xlink:href="#sp-icons-black-edit"></use>
                        </svg>
                        <span class="btn-edit-address__tooltip">{{ 'Edit' | translate }}</span>
                    </div>
                </div>

                <!-- Address -->
                <div class="sp-kikar-input input-flex-item" 
                    ng-if="accountInfoCtrl.isShowAddressField() && !accountInfoCtrl.isDropPinAddress"
                    ng-class="{ 'unrecognized-address-error': accountInfoCtrl.isJustDropedNotDetectedAddress() }">
                    <label for="text1">{{('address_form_field_label_' + accountInfoCtrl.addressFormSettings.address.label) | translate}}
                        {{accountInfoCtrl.addressFormSettings.address.isMandatory ? '*' : ''}}</label>
                    <input autocomplete="off" type="text" id="text1" 
                        ng-keydown="accountInfoCtrl.onAddressInputKeyDown()"
                        name="{{'address_form_field_error_' + accountInfoCtrl.addressFormSettings.address.label}}"
                        ng-model="userEditCtrl.user.addresses[0].text1" sp-inline-error
                        ng-disabled="accountInfoCtrl.isDisableAddressField($root.FILTER_ADDRESS_MODE.ZIP_CODE)"
                        ng-class="{'input-disable': userEditCtrl.externalLoginSettings.isActive}"
                        ng-required="accountInfoCtrl.addressFormSettings.address.isMandatory"
                        ng-change="accountInfoCtrl.onAddressChange()" 
                        ng-blur="accountInfoCtrl.onAddressBlur($event)" 
                        sp-inline-error-attach-to-parent="div" 
                        sp-kikar-input-dynamic-dimension />
                    <sp-autocomplete
                        ng-if="accountInfoCtrl.isAddressVerificationEnabled && !accountInfoCtrl.isGoogleMapDropPinAllow"
                        sp-model="userEditCtrl.user.addresses[0].text1" sp-choose="accountInfoCtrl.onAddressChosen($event)"
                        sp-get-options="accountInfoCtrl.getAddressAutoCompleteOptions()" sp-value="option.name">
                    </sp-autocomplete>
                    <sp-autocomplete-address-and-map
                        ng-if="accountInfoCtrl.isAddressVerificationEnabled && accountInfoCtrl.isGoogleMapDropPinAllow"
                        hide-if-empty="true" sp-value="option.name" sp-model="userEditCtrl.user.addresses[0].text1"
                        sp-choose="accountInfoCtrl.onAddressChosen($event)"
                        sp-get-options="accountInfoCtrl.getAddressAutoCompleteOptions()"
                        sp-open-google-map="accountInfoCtrl.openGoogleMapDialog()">
                    </sp-autocomplete-address-and-map>
                </div>

                <!-- Address for drop pin -->
                <div class="sp-kikar-input input-flex-item" 
                    ng-if="accountInfoCtrl.isShowAddressField() && accountInfoCtrl.isDropPinAddress"
                    ng-class="{ 'unrecognized-address-error': accountInfoCtrl.isJustDropedNotDetectedAddress() }">
                    <label for="text1">{{('address_form_field_label_' + accountInfoCtrl.addressFormSettings.address.label) | translate}}
                        {{accountInfoCtrl.addressFormSettings.address.isMandatory ? '*' : ''}}</label>
                    <input autocomplete="off" type="text" id="text1" 
                        name="{{'address_form_field_error_' + accountInfoCtrl.addressFormSettings.address.label}}"
                        ng-model="userEditCtrl.user.addresses[0].text1" sp-inline-error
                        class="input-with-edit-icon"
                        ng-disabled="accountInfoCtrl.droppinDisableFields.text1"
                        ng-required="accountInfoCtrl.addressFormSettings.address.isMandatory"
                        ng-blur="accountInfoCtrl.onDroppinAddressFieldBlur()"
                        sp-kikar-input-dynamic-dimension
                        sp-inline-error-attach-to-parent="div" />
                    <div ng-click="accountInfoCtrl.editDroppinAddressField('#text1', 'text1')" class="btn-edit-address">
                        <svg focusable="false" width="24" height="24">
                            <use xlink:href="#sp-icons-black-edit"></use>
                        </svg>
                        <span class="btn-edit-address__tooltip">{{ 'Edit' | translate }}</span>
                    </div>
                </div>

                <!-- placeholder purpose -->
                <div class="sp-kikar-input input-flex-item" ng-if="accountInfoCtrl.isShowStreetAndHouseNumberFields()"></div>

                <!-- Street -->
                <div class="sp-kikar-input input-flex-item" ng-if="accountInfoCtrl.isShowStreetAndHouseNumberFields()">
                    <label for="street" class="label">{{'Street' | translate}} *</label>
                    <input class="content" id="street" type="text" name="street" autocomplete="off"
                        ng-model="userEditCtrl.user.addresses[0].street" required sp-inline-error />
                </div>
                <!-- House Number -->
                <div class="sp-kikar-input input-flex-item" ng-if="accountInfoCtrl.isShowStreetAndHouseNumberFields()">
                    <label for="house_num_input" class="label second">{{'House Number' | translate}} *</label>
                    <input class="content" id="house_num_input" type="number" name="houseNum" min="1"
                        ng-model="userEditCtrl.user.addresses[0].houseNumber" required sp-inline-error />
                </div>
                
                <!-- Apartment Number -->
                <div class="sp-kikar-input input-flex-item" ng-if="accountInfoCtrl.addressFormSettings.apartment.isEnabled">
                    <label for="apartment_input">{{('address_form_field_label_' + accountInfoCtrl.addressFormSettings.apartment.label)
                        | translate}} {{accountInfoCtrl.addressFormSettings.apartment.isMandatory ? '*' : ''}}</label>
                    <input autocomplete="off" type="text" id="apartment_input"
                        ng-required="accountInfoCtrl.addressFormSettings.apartment.isMandatory" 
                        name="{{'address_form_field_error_' + accountInfoCtrl.addressFormSettings.apartment.label}}"
                        ng-class="{'input-disable': userEditCtrl.externalLoginSettings.isActive}"
                        sp-kikar-input-dynamic-dimension
                        ng-model="userEditCtrl.user.addresses[0].apartment" sp-inline-error
                        sp-inline-error-attach-to-parent="div" />
                </div>

                <!-- City -->
                <div class="sp-kikar-input input-flex-item"
                    ng-if="accountInfoCtrl.addressFormSettings.city.isEnabled && !accountInfoCtrl.isDropPinAddress">
                    <label for="city_input">{{('address_form_field_label_' + accountInfoCtrl.addressFormSettings.city.label) | translate}}
                        {{accountInfoCtrl.addressFormSettings.city.isMandatory ? '*' : ''}}</label>
                    <input autocomplete="off" type="text" id="city_input" name="{{'address_form_field_error_' + accountInfoCtrl.addressFormSettings.city.label}}" 
                        ng-required="accountInfoCtrl.addressFormSettings.city.isMandatory"
                        ng-change="accountInfoCtrl.onCityChange()"
                        ng-class="{'input-disable': userEditCtrl.externalLoginSettings.isActive}"
                        ng-model="userEditCtrl.user.addresses[0].city" sp-inline-error
                        ng-class="{ 'form-control-error': accountInfoCtrl.formErrorCtrl.city }"
                        ng-blur="accountInfoCtrl.onCityBlur($event)" 
                        sp-kikar-input-dynamic-dimension
                        sp-inline-error-attach-to-parent="div" />
                    <sp-autocomplete ng-if="accountInfoCtrl.isAddressVerificationEnabled"
                        sp-model="userEditCtrl.user.addresses[0].city" sp-choose="accountInfoCtrl.onAutoCompleteCityChosen($event)"
                        sp-get-options="accountInfoCtrl.getCityAutoCompleteOptions()" sp-value="option.name">
                    </sp-autocomplete>
                </div>

                <!-- City for drop pin -->
                <div class="sp-kikar-input input-flex-item"
                    ng-if="accountInfoCtrl.addressFormSettings.city.isEnabled && accountInfoCtrl.isDropPinAddress">
                    <label for="city_input">{{('address_form_field_label_' + accountInfoCtrl.addressFormSettings.city.label) | translate}}
                        {{accountInfoCtrl.addressFormSettings.city.isMandatory ? '*' : ''}}</label>
                    <input autocomplete="off" type="text" id="city_input" name="{{'address_form_field_error_' + accountInfoCtrl.addressFormSettings.city.label}}" 
                        ng-required="accountInfoCtrl.addressFormSettings.city.isMandatory"
                        ng-model="userEditCtrl.user.addresses[0].city" sp-inline-error
                        ng-class="{ 'form-control-error': accountInfoCtrl.formErrorCtrl.city }"
                        ng-disabled="accountInfoCtrl.droppinDisableFields.city"
                        class="input-with-edit-icon"
                        ng-blur="accountInfoCtrl.onDroppinAddressFieldBlur()"
                        sp-kikar-input-dynamic-dimension
                        sp-inline-error-attach-to-parent="div" />
                    <div ng-click="accountInfoCtrl.editDroppinAddressField('#city_input', 'city')" class="btn-edit-address">
                        <svg focusable="false" width="24" height="24">
                            <use xlink:href="#sp-icons-black-edit"></use>
                        </svg>
                        <span class="btn-edit-address__tooltip">{{ 'Edit' | translate }}</span>
                    </div>
                </div>

                <!-- State -->
                <div class="sp-kikar-input input-flex-item" ng-if="accountInfoCtrl.addressFormSettings.state.isEnabled && !accountInfoCtrl.isDropPinAddress">
                    <label for="state_input">{{('address_form_field_label_' + accountInfoCtrl.addressFormSettings.state.label)
                        | translate}} {{accountInfoCtrl.addressFormSettings.state.isMandatory ? '*' : ''}}</label>
                    <input autocomplete="off" type="text" id="state_input"
                        ng-required="accountInfoCtrl.addressFormSettings.state.isMandatory"
                        ng-class="{'input-disable': userEditCtrl.externalLoginSettings.isActive}"
                        name="{{'address_form_field_error_' + accountInfoCtrl.addressFormSettings.state.label}}" 
                        ng-model="userEditCtrl.user.addresses[0].state" sp-inline-error
                        sp-kikar-input-dynamic-dimension maxlength="255"
                        sp-inline-error-attach-to-parent="div" />
                </div>

                <!-- state for drop pin -->
                <div class="sp-kikar-input input-flex-item" ng-if="accountInfoCtrl.addressFormSettings.state.isEnabled && accountInfoCtrl.isDropPinAddress">
                    <label for="state_input">{{('address_form_field_label_' + accountInfoCtrl.addressFormSettings.state.label)
                        | translate}} {{accountInfoCtrl.addressFormSettings.state.isMandatory ? '*' : ''}}</label>
                    <input autocomplete="off" type="text" id="state_input"
                        ng-required="accountInfoCtrl.addressFormSettings.state.isMandatory"
                        name="{{'address_form_field_error_' + accountInfoCtrl.addressFormSettings.state.label}}" 
                        ng-model="userEditCtrl.user.addresses[0].state" sp-inline-error
                        ng-disabled="accountInfoCtrl.droppinDisableFields.state"
                        ng-blur="accountInfoCtrl.onDroppinAddressFieldBlur()"
                        class="input-with-edit-icon"
                        sp-kikar-input-dynamic-dimension maxlength="255"
                        sp-inline-error-attach-to-parent="div" />
                    <div ng-click="accountInfoCtrl.editDroppinAddressField('#state_input', 'state')" class="btn-edit-address">
                        <svg focusable="false" width="24" height="24">
                            <use xlink:href="#sp-icons-black-edit"></use>
                        </svg>
                        <span class="btn-edit-address__tooltip">{{ 'Edit' | translate }}</span>
                    </div>
                </div>

                <!-- More details -->
                <div class="sp-kikar-input input-flex-item w-full" ng-if="accountInfoCtrl.addressFormSettings.comments.isEnabled">
                    <label for="comments">{{('address_form_field_label_' + accountInfoCtrl.addressFormSettings.comments.label)
                        | translate}} {{accountInfoCtrl.addressFormSettings.comments.isMandatory ? '*' : ''}}</label>
                    <input id="comments" type="text"
                        name="{{'address_form_field_error_' + accountInfoCtrl.addressFormSettings.comments.label}}"
                        ng-required="accountInfoCtrl.addressFormSettings.comments.isMandatory"
                        ng-class="{'input-disable': userEditCtrl.externalLoginSettings.isActive}"
                        ng-model="userEditCtrl.user.addresses[0].text2"
                        sp-kikar-input-dynamic-dimension
                        sp-inline-error sp-inline-error-attach-to-parent="div"/>
                </div>

                <!-- Entrance -->
                <div class="sp-kikar-input input-flex-item" ng-if="accountInfoCtrl.addressFormSettings.entrance.isEnabled">
                    <label for="entry1">{{('address_form_field_label_' + accountInfoCtrl.addressFormSettings.entrance.label)
                        | translate}} {{accountInfoCtrl.addressFormSettings.entrance.isMandatory ? '*' : ''}}</label>
                    <input autocomplete="off" id="entry1" type="text" name="{{'address_form_field_error_' + accountInfoCtrl.addressFormSettings.entrance.label}}"
                        ng-model="userEditCtrl.user.addresses[0].entry" sp-inline-error
                        ng-class="{'input-disable': userEditCtrl.externalLoginSettings.isActive}"
                        sp-kikar-input-dynamic-dimension
                        ng-required="accountInfoCtrl.addressFormSettings.entrance.isMandatory"
                        sp-inline-error-attach-to-parent="div" />
                </div>
                <!-- Building Code -->
                <div class="sp-kikar-input input-flex-item" ng-if="accountInfoCtrl.addressFormSettings.buildingCode.isEnabled">
                    <label for="buildingCode_input">{{('address_form_field_label_' + accountInfoCtrl.addressFormSettings.buildingCode.label)
                        | translate}} {{accountInfoCtrl.addressFormSettings.buildingCode.isMandatory ? '*' : ''}}</label>
                    <input autocomplete="off" type="text" id="buildingCode_input"
                        ng-required="accountInfoCtrl.addressFormSettings.buildingCode.isMandatory"
                        name="{{'address_form_field_error_' + accountInfoCtrl.addressFormSettings.buildingCode.label}}"
                        ng-class="{'input-disable': userEditCtrl.externalLoginSettings.isActive}"
                        ng-model="userEditCtrl.user.addresses[0].buildingCode" sp-inline-error
                        sp-kikar-input-dynamic-dimension maxlength="255"
                        sp-inline-error-attach-to-parent="div" />
                </div>
            </div>
        </div>
        <!-- footer -->
        <div class="detail-footer">
            <div class="submit-button-wrapper">
                <button class="submit-button" type="submit" id="btn-submit"
                    ng-if="!userEditCtrl.externalLoginSettings.isActive">
                    {{'account_details_form_address_save_btn' |translate}}
                </button>
            </div>
        </div>
    </div>
</form>