<!-- Personal Details Form -->
<form class="form userEditCtrl.user-edit-form mt-8" autocomplete="off" name="accountInfoCtrl.userInfoForm"
    ng-submit="accountInfoCtrl.saveUserInfo($event)" novalidate>
    <div class="form-required-fields">{{'Required fields are marked with *' | translate}}</div>
    <br>
    <div class="form-general-message" ng-if="userEditCtrl.externalLoginSettings.isActive">
        {{::'To update details, log in to the yellow app or call *9974 customer service' | translate}}
    </div>
    <div class="detail-container address-form-field-wrapper">
        <div class="detail-body">
            <!-- title -->
            <h2 ng-class="{'smaller-font-size': config.language.id === 4}" class="detail-subtitle"
                ng-bind="'account_details_form_personal_details_title' | translate"></h2>
            <div class="input-flex-wrapper w-70">
                <!-- First name -->
                <div class="sp-kikar-input input-flex-item">
                    <label for="first_name" ng-bind="('First name' | translate) + ' *'"></label>
                    <input type="text" id="first_name" name="firstName" ng-model="userEditCtrl.user.firstName" required
                        maxlength="50" sp-inline-error
                        ng-class="{'input-disable': userEditCtrl.externalLoginSettings.isActive}"
                        sp-inline-error-attach-to-parent="div" />
                </div>

                <!-- Last name -->
                <div class="sp-kikar-input input-flex-item">
                    <label for="last_name" ng-bind="('Last name' | translate) + ' *'"></label>
                    <input type="text" id="last_name" name="lastName" ng-model="userEditCtrl.user.lastName" required
                        maxlength="50" sp-inline-error
                        ng-class="{'input-disable': userEditCtrl.externalLoginSettings.isActive}"
                        sp-inline-error-attach-to-parent="div" />
                </div>

                <!-- Birth date -->
                <div class="sp-kikar-input input-flex-item">
                    <label for="birth_date_input" ng-bind="'Birth date' | translate"></label>
                    <input id="birth_date_input" type="date" format="dd/MM/yyyy"
                        ng-class="{'input-disable': userEditCtrl.externalLoginSettings.isActive}"
                        ng-model="userEditCtrl.user.dateOfBirth" />
                </div>

                <!-- User name -->
                <div class="sp-kikar-input input-flex-item">
                    <label for="user_name" ng-bind="::'User name' | translate"></label>
                    <input id="user_name" type="email"
                        ng-class="{'input-disable': userEditCtrl.externalLoginSettings.isActive}"
                        ng-model="userEditCtrl.user.email" disabled />
                </div>

                <!-- Gender -->
                <div class="sp-kikar-input input-flex-item sp-gender-kikar-input w-full">
                    <span class="input-desc gender-label" id="gender">{{::'Gender' | translate}}</span>
                    <div class="gender-buttons" role="radiogroup" aria-labelledby="gender">
                        <sp-radio sp-model="userEditCtrl.user.gender" sp-name="gender"
                            ng-class="{'input-disable': userEditCtrl.externalLoginSettings.isActive}"
                            sp-value="$root.GENDERS.MALE">
                            {{::'Male' | translate}}
                        </sp-radio>
                        <sp-radio sp-model="userEditCtrl.user.gender" sp-name="gender"
                            ng-class="{'input-disable': userEditCtrl.externalLoginSettings.isActive}"
                            sp-value="$root.GENDERS.FEMALE">
                            {{::'Female' | translate}}
                        </sp-radio>
                        <sp-radio sp-model="userEditCtrl.user.gender" sp-name="gender"
                            ng-class="{'input-disable': userEditCtrl.externalLoginSettings.isActive}"
                            sp-value="$root.GENDERS.PREFER_NOT_TO_SAY">
                            {{::'Prefer not to say' | translate}}
                        </sp-radio>
                    </div>
                </div>

                <!-- Password -->
                <div class="sp-kikar-input input-flex-item">
                    <label for="password" ng-bind="::'Password' | translate"></label>
                    <input id="password" placeholder="**********" name="password" type="password"
                        ng-pattern="/(?=.*[0-9])(?=.*[^0-9])/" ng-model="userEditCtrl.user.password"
                        ng-class="{'input-disable': userEditCtrl.externalLoginSettings.isActive}"
                        autocomplete="new-password" ng-minlength="6" sp-inline-error
                        sp-inline-error-attach-to-parent="div" />
                </div>

                <!-- Confirm password -->
                <div class="sp-kikar-input input-flex-item">
                    <label for="confirm-password" ng-bind="::'Confirm password' | translate"></label>
                    <input id="confirm-password" placeholder="**********" name="confirmPassword" type="password"
                        ng-class="{'input-disable': userEditCtrl.externalLoginSettings.isActive}"
                        ng-model="userEditCtrl.user.confirmPassword" sp-inline-error
                        sp-inline-error-attach-to-parent="div" />
                </div>

                <!-- Home phone number -->
                <div ng-class="{'custom-phone-validation half-width': userEditCtrl.editPhonesMode[$root.PHONE_TYPES.HOME]}"
                    class="sp-kikar-input input-flex-item">
                    <label class="static-label" for="home_phone_number_input"
                        ng-bind="::'Home phone number' | translate"></label>
                    <span class="custom-phone-validation-item"
                        ng-if="!userEditCtrl.externalLoginSettings.isActive && userEditCtrl.editPhonesMode[$root.PHONE_TYPES.HOME] && $root.config.retailer.customPhoneValidation.countryCodes && $root.config.retailer.customPhoneValidation.countryCodes.length">
                        <sp-kikar-dropdown
                            sp-invalid=" userEditCtrl.homePhone != userEditCtrl.user.phonesObj[$root.PHONE_TYPES.HOME].phoneNumber ? !userEditCtrl.validateCountryCode(userEditCtrl.user.phonesObj[$root.PHONE_TYPES.HOME].countryCode, userEditCtrl.user.phonesObj[$root.PHONE_TYPES.HOME].phoneNumber) : false"
                            sp-model="userEditCtrl.user.phonesObj[$root.PHONE_TYPES.HOME].countryCode">
                            <sp-kikar-text>
                                {{userEditCtrl.user.phonesObj[$root.PHONE_TYPES.HOME].countryCode}}
                            </sp-kikar-text>
                            <sp-kikar-option
                                ng-repeat="countryCode in $root.config.retailer.customPhoneValidation.countryCodes"
                                sp-value="countryCode">
                                {{countryCode}}
                            </sp-kikar-option>
                        </sp-kikar-dropdown>
                    </span>
                    <span class="custom-phone-validation-item"
                        ng-if="!userEditCtrl.externalLoginSettings.isActive && userEditCtrl.editPhonesMode[$root.PHONE_TYPES.HOME] && $root.config.retailer.customPhoneValidation.areaCodes && $root.config.retailer.customPhoneValidation.areaCodes.length">
                        <sp-kikar-dropdown
                            sp-invalid=" userEditCtrl.homePhone != userEditCtrl.user.phonesObj[$root.PHONE_TYPES.HOME].phoneNumber ? !userEditCtrl.validateAreaCode(userEditCtrl.user.phonesObj[$root.PHONE_TYPES.HOME].areaCode, userEditCtrl.user.phonesObj[$root.PHONE_TYPES.HOME].phoneNumber) : false"
                            sp-model="userEditCtrl.user.phonesObj[$root.PHONE_TYPES.HOME].areaCode">
                            <sp-kikar-text>
                                {{userEditCtrl.user.phonesObj[$root.PHONE_TYPES.HOME].areaCode}}
                            </sp-kikar-text>
                            <sp-kikar-option
                                ng-repeat="areaCode in $root.config.retailer.customPhoneValidation.areaCodes"
                                sp-value="areaCode">
                                {{areaCode}}
                            </sp-kikar-option>
                        </sp-kikar-dropdown>
                    </span>
                    <input class="phone-input phone-input-account" name="homePhone"
                        placeholder="{{::'Phone number' | translate}}" type="tel"
                        ng-if="userEditCtrl.editPhonesMode[$root.PHONE_TYPES.HOME] && userEditCtrl.customPhoneValidation"
                        ng-model="userEditCtrl.user.phonesObj[$root.PHONE_TYPES.HOME].customPhoneNumber"
                        ng-class="{'input-disable': userEditCtrl.externalLoginSettings.isActive}"
                        ng-pattern="userEditCtrl.customPhoneRegExp"
                        ng-focus="userEditCtrl.phoneEditMode($root.PHONE_TYPES.HOME, true)" sp-inline-error />
                    <input class="phone-input" name="homePhone" id="home_phone_number_input" type="tel"
                        ng-model="userEditCtrl.user.phonesObj[$root.PHONE_TYPES.HOME].phoneNumber"
                        ng-class="{'input-disable': userEditCtrl.externalLoginSettings.isActive}"
                        ng-if="!userEditCtrl.customPhoneValidation"
                        ng-focus="userEditCtrl.phoneEditMode($root.PHONE_TYPES.HOME, true)"
                        ng-pattern="userEditCtrl.phoneRegExp" sp-inline-error sp-inline-error-attach-to-parent="div" />
                    <input class="phone-input" name="homePhone" type="tel"
                        ng-model="userEditCtrl.customValidatedPhoneNumbers[$root.PHONE_TYPES.HOME]"
                        ng-if="(userEditCtrl.customValidatedPhoneNumbers[$root.PHONE_TYPES.HOME] && !userEditCtrl.editPhonesMode[$root.PHONE_TYPES.HOME]) && userEditCtrl.customPhoneValidation"
                        ng-class="{'input-disable': userEditCtrl.externalLoginSettings.isActive}" input-disable
                        ng-change="userEditCtrl.phoneEditMode($root.PHONE_TYPES.HOME, true)"
                        ng-click="userEditCtrl.phoneEditMode($root.PHONE_TYPES.HOME, true)" />
                    <button type="button"
                        ng-if="!userEditCtrl.externalLoginSettings.isActive && userEditCtrl.editPhonesMode[$root.PHONE_TYPES.HOME] && userEditCtrl.user.phonesObj[$root.PHONE_TYPES.HOME].customPhoneNumber !== undefined"
                        class="custom-phone-validation-cancel-button"
                        ng-click="userEditCtrl.phoneEditMode($root.PHONE_TYPES.HOME, false)">Cancel</button>
                    <span class="phone-length-message" ng-if="userEditCtrl.editPhonesMode[$root.PHONE_TYPES.HOME] &&
                            $root.config.retailer.customPhoneValidation.phoneNumberRange.min &&
                            $root.config.retailer.customPhoneValidation.phoneNumberRange.max">
                        {{('custom-phone-validation-range' | translate).replace('{min}',
                        $root.config.retailer.customPhoneValidation.phoneNumberRange.min).replace('{max}',
                        $root.config.retailer.customPhoneValidation.phoneNumberRange.max)}}</span>
                    <span class="phone-length-message"
                        ng-if="userEditCtrl.editPhonesMode[$root.PHONE_TYPES.HOME] &&
                            $root.config.retailer.customPhoneValidation.phoneNumberRange.min &&
                            !$root.config.retailer.customPhoneValidation.phoneNumberRange.max">{{('custom-phone-validation-min' |
                        translate).replace('{min}',
                        $root.config.retailer.customPhoneValidation.phoneNumberRange.min)}}</span>
                    <span class="phone-length-message"
                        ng-if="userEditCtrl.editPhonesMode[$root.PHONE_TYPES.HOME] &&
                            !$root.config.retailer.customPhoneValidation.phoneNumberRange.min &&
                            $root.config.retailer.customPhoneValidation.phoneNumberRange.max">{{('custom-phone-validation-max' |
                        translate).replace('{max}',
                        $root.config.retailer.customPhoneValidation.phoneNumberRange.max)}}</span>
                </div>

                <!-- Work phone number -->
                <div ng-class="{'custom-phone-validation half-width': userEditCtrl.editPhonesMode[$root.PHONE_TYPES.WORK]}"
                    class="sp-kikar-input input-flex-item">
                    <label for="work_phone_number_input" ng-bind="::'Work phone number' | translate"></label>
                    <span class="custom-phone-validation-item"
                        ng-if="!userEditCtrl.externalLoginSettings.isActive && userEditCtrl.editPhonesMode[$root.PHONE_TYPES.WORK] && $root.config.retailer.customPhoneValidation.countryCodes && $root.config.retailer.customPhoneValidation.countryCodes.length">
                        <sp-kikar-dropdown
                            sp-invalid=" userEditCtrl.workPhone != userEditCtrl.user.phonesObj[$root.PHONE_TYPES.WORK].phoneNumber ? !userEditCtrl.validateCountryCode(userEditCtrl.user.phonesObj[$root.PHONE_TYPES.WORK].countryCode, userEditCtrl.user.phonesObj[$root.PHONE_TYPES.WORK].phoneNumber) : false"
                            sp-model="userEditCtrl.user.phonesObj[$root.PHONE_TYPES.WORK].countryCode">
                            <sp-kikar-text>
                                {{userEditCtrl.user.phonesObj[$root.PHONE_TYPES.WORK].countryCode}}
                            </sp-kikar-text>
                            <sp-kikar-option
                                ng-repeat="countryCode in $root.config.retailer.customPhoneValidation.countryCodes"
                                sp-value="countryCode">
                                {{countryCode}}
                            </sp-kikar-option>
                        </sp-kikar-dropdown>
                    </span>
                    <span class="custom-phone-validation-item"
                        ng-if="!userEditCtrl.externalLoginSettings.isActive && userEditCtrl.editPhonesMode[$root.PHONE_TYPES.WORK] && $root.config.retailer.customPhoneValidation.areaCodes && $root.config.retailer.customPhoneValidation.areaCodes.length">
                        <sp-kikar-dropdown
                            sp-invalid=" userEditCtrl.workPhone != userEditCtrl.user.phonesObj[$root.PHONE_TYPES.WORK].phoneNumber ? !userEditCtrl.validateAreaCode(userEditCtrl.user.phonesObj[$root.PHONE_TYPES.WORK].areaCode, userEditCtrl.user.phonesObj[$root.PHONE_TYPES.WORK].phoneNumber) : false"
                            sp-model="userEditCtrl.user.phonesObj[$root.PHONE_TYPES.WORK].areaCode">
                            <sp-kikar-text>
                                {{userEditCtrl.user.phonesObj[$root.PHONE_TYPES.WORK].areaCode}}
                            </sp-kikar-text>
                            <sp-kikar-option
                                ng-repeat="areaCode in $root.config.retailer.customPhoneValidation.areaCodes"
                                sp-value="areaCode">
                                {{areaCode}}
                            </sp-kikar-option>
                        </sp-kikar-dropdown>
                    </span>
                    <input class="phone-input" name="workPhone" id="work_phone_number_input" type="tel"
                        ng-model="userEditCtrl.user.phonesObj[$root.PHONE_TYPES.WORK].customPhoneNumber"
                        ng-if="userEditCtrl.editPhonesMode[$root.PHONE_TYPES.WORK] && userEditCtrl.customPhoneValidation"
                        ng-class="{'input-disable': userEditCtrl.externalLoginSettings.isActive}"
                        ng-focus="userEditCtrl.phoneEditMode($root.PHONE_TYPES.WORK, true)"
                        ng-pattern="userEditCtrl.customPhoneRegExp" sp-inline-error
                        sp-inline-error-attach-to-parent="div" />
                    <input class="phone-input" name="workPhone" id="work_phone_number_input" type="tel"
                        ng-model="userEditCtrl.user.phonesObj[$root.PHONE_TYPES.WORK].phoneNumber"
                        ng-class="{'input-disable': userEditCtrl.externalLoginSettings.isActive}"
                        ng-if="!userEditCtrl.customPhoneValidation"
                        ng-focus="userEditCtrl.phoneEditMode($root.PHONE_TYPES.WORK, true)"
                        ng-pattern="userEditCtrl.phoneRegExp" sp-inline-error sp-inline-error-attach-to-parent="div" />
                    <input class="phone-input" name="workPhone" type="tel"
                        ng-model="userEditCtrl.customValidatedPhoneNumbers[$root.PHONE_TYPES.WORK]"
                        ng-if="(userEditCtrl.customValidatedPhoneNumbers[$root.PHONE_TYPES.WORK] && !userEditCtrl.editPhonesMode[$root.PHONE_TYPES.WORK]) && userEditCtrl.customPhoneValidation"
                        ng-class="{'input-disable': userEditCtrl.externalLoginSettings.isActive}"
                        ng-change="userEditCtrl.phoneEditMode($root.PHONE_TYPES.WORK, true)"
                        ng-click="userEditCtrl.phoneEditMode($root.PHONE_TYPES.WORK, true)" />
                    <button type="button"
                        ng-if="!userEditCtrl.externalLoginSettings.isActive && userEditCtrl.editPhonesMode[$root.PHONE_TYPES.WORK] && userEditCtrl.user.phonesObj[$root.PHONE_TYPES.WORK].customPhoneNumber !== undefined"
                        class="custom-phone-validation-cancel-button"
                        ng-click="userEditCtrl.phoneEditMode($root.PHONE_TYPES.WORK, false)">Cancel</button>
                    <span class="phone-length-message" ng-if="userEditCtrl.editPhonesMode[$root.PHONE_TYPES.WORK] &&
                            $root.config.retailer.customPhoneValidation.phoneNumberRange.min &&
                            $root.config.retailer.customPhoneValidation.phoneNumberRange.max">
                        {{('custom-phone-validation-range' | translate).replace('{min}',
                        $root.config.retailer.customPhoneValidation.phoneNumberRange.min).replace('{max}',
                        $root.config.retailer.customPhoneValidation.phoneNumberRange.max)}}</span>
                    <span class="phone-length-message"
                        ng-if="userEditCtrl.editPhonesMode[$root.PHONE_TYPES.WORK] &&
                            $root.config.retailer.customPhoneValidation.phoneNumberRange.min &&
                            !$root.config.retailer.customPhoneValidation.phoneNumberRange.max">{{('custom-phone-validation-min' |
                        translate).replace('{min}',
                        $root.config.retailer.customPhoneValidation.phoneNumberRange.min)}}</span>
                    <span class="phone-length-message"
                        ng-if="userEditCtrl.editPhonesMode[$root.PHONE_TYPES.WORK] &&
                            !$root.config.retailer.customPhoneValidation.phoneNumberRange.min &&
                            $root.config.retailer.customPhoneValidation.phoneNumberRange.max">{{('custom-phone-validation-max' |
                        translate).replace('{max}',
                        $root.config.retailer.customPhoneValidation.phoneNumberRange.max)}}</span>
                </div>

                <!-- Mobile phone number -->
                <div ng-class="{'custom-phone-validation half-width': userEditCtrl.editPhonesMode[$root.PHONE_TYPES.MOBILE]}"
                    class="sp-kikar-input input-flex-item">
                    <label for="mobile_phone_number_input" ng-bind="::'Mobile phone number' | translate"></label>
                    <span class="custom-phone-validation-item"
                        ng-if="!userEditCtrl.externalLoginSettings.isActive && userEditCtrl.editPhonesMode[$root.PHONE_TYPES.MOBILE] && $root.config.retailer.customPhoneValidation.countryCodes && $root.config.retailer.customPhoneValidation.countryCodes.length">
                        <sp-kikar-dropdown
                            sp-invalid=" userEditCtrl.mobilePhone === userEditCtrl.user.phonesObj[$root.PHONE_TYPES.MOBILE].phoneNumber ? !userEditCtrl.validateCountryCode(userEditCtrl.user.phonesObj[$root.PHONE_TYPES.MOBILE].countryCode, userEditCtrl.user.phonesObj[$root.PHONE_TYPES.MOBILE].phoneNumber) : false"
                            sp-model="userEditCtrl.user.phonesObj[$root.PHONE_TYPES.MOBILE].countryCode">
                            <sp-kikar-text>
                                {{userEditCtrl.user.phonesObj[$root.PHONE_TYPES.MOBILE].countryCode}}
                            </sp-kikar-text>
                            <sp-kikar-option
                                ng-repeat="countryCode in $root.config.retailer.customPhoneValidation.countryCodes"
                                sp-value="countryCode">
                                {{countryCode}}
                            </sp-kikar-option>
                        </sp-kikar-dropdown>
                    </span>
                    <span class="custom-phone-validation-item"
                        ng-if="!userEditCtrl.externalLoginSettings.isActive && userEditCtrl.editPhonesMode[$root.PHONE_TYPES.MOBILE] && $root.config.retailer.customPhoneValidation.areaCodes && $root.config.retailer.customPhoneValidation.areaCodes.length">
                        <sp-kikar-dropdown
                            sp-invalid=" userEditCtrl.mobilePhone === userEditCtrl.user.phonesObj[$root.PHONE_TYPES.MOBILE].phoneNumber ? !userEditCtrl.validateAreaCode(userEditCtrl.user.phonesObj[$root.PHONE_TYPES.MOBILE].areaCode, userEditCtrl.user.phonesObj[$root.PHONE_TYPES.MOBILE].phoneNumber) : false"
                            sp-model="userEditCtrl.user.phonesObj[$root.PHONE_TYPES.MOBILE].areaCode">
                            <sp-kikar-text>
                                {{userEditCtrl.user.phonesObj[$root.PHONE_TYPES.MOBILE].areaCode}}
                            </sp-kikar-text>
                            <sp-kikar-option
                                ng-repeat="areaCode in $root.config.retailer.customPhoneValidation.areaCodes"
                                sp-value="areaCode">
                                {{areaCode}}
                            </sp-kikar-option>
                        </sp-kikar-dropdown>
                    </span>
                    <input class="phone-input" name="mobilePhone" id="mobile_phone_number_input" type="tel"
                        ng-class="{'input-disable': userEditCtrl.externalLoginSettings.isActive}"
                        ng-model="userEditCtrl.user.phonesObj[$root.PHONE_TYPES.MOBILE].customPhoneNumber"
                        ng-if="userEditCtrl.editPhonesMode[$root.PHONE_TYPES.MOBILE] && userEditCtrl.customPhoneValidation"
                        ng-pattern="userEditCtrl.customPhoneRegExp"
                        ng-focus="userEditCtrl.phoneEditMode($root.PHONE_TYPES.MOBILE, true)" sp-inline-error
                        sp-inline-error-attach-to-parent="div" />
                    <input class="phone-input" name="mobilePhone" id="mobile_phone_number_input" type="tel"
                        ng-class="{'input-disable': userEditCtrl.externalLoginSettings.isActive}"
                        ng-model="userEditCtrl.user.phonesObj[$root.PHONE_TYPES.MOBILE].phoneNumber"
                        ng-if="!userEditCtrl.customPhoneValidation"
                        ng-focus="userEditCtrl.phoneEditMode($root.PHONE_TYPES.MOBILE, true)"
                        ng-pattern="userEditCtrl.phoneRegExp" sp-inline-error sp-inline-error-attach-to-parent="div" />
                    <input class="phone-input" name="mobilePhone" type="tel"
                        ng-class="{'input-disable': userEditCtrl.externalLoginSettings.isActive}"
                        ng-model="userEditCtrl.customValidatedPhoneNumbers[$root.PHONE_TYPES.MOBILE]"
                        ng-if="!userEditCtrl.editPhonesMode[$root.PHONE_TYPES.MOBILE] && userEditCtrl.customPhoneValidation"
                        ng-change="userEditCtrl.phoneEditMode($root.PHONE_TYPES.MOBILE, true)"
                        ng-click="userEditCtrl.phoneEditMode($root.PHONE_TYPES.MOBILE, true)" />
                    <button type="button"
                        ng-if="!userEditCtrl.externalLoginSettings.isActive && userEditCtrl.editPhonesMode[$root.PHONE_TYPES.MOBILE] && userEditCtrl.user.phonesObj[$root.PHONE_TYPES.MOBILE].customPhoneNumber !== undefined"
                        class="custom-phone-validation-cancel-button"
                        ng-click="userEditCtrl.phoneEditMode($root.PHONE_TYPES.MOBILE, false)">Cancel</button>
                    <span class="phone-length-message" ng-if="userEditCtrl.editPhonesMode[$root.PHONE_TYPES.MOBILE] &&
                            $root.config.retailer.customPhoneValidation.phoneNumberRange.min &&
                            $root.config.retailer.customPhoneValidation.phoneNumberRange.max">
                        {{('custom-phone-validation-range' | translate).replace('{min}',
                        $root.config.retailer.customPhoneValidation.phoneNumberRange.min).replace('{max}',
                        $root.config.retailer.customPhoneValidation.phoneNumberRange.max)}}</span>
                    <span class="phone-length-message"
                        ng-if="userEditCtrl.editPhonesMode[$root.PHONE_TYPES.MOBILE] &&
                            $root.config.retailer.customPhoneValidation.phoneNumberRange.min &&
                            !$root.config.retailer.customPhoneValidation.phoneNumberRange.max">{{('custom-phone-validation-min' |
                        translate).replace('{min}',
                        $root.config.retailer.customPhoneValidation.phoneNumberRange.min)}}</span>
                    <span class="phone-length-message"
                        ng-if="userEditCtrl.editPhonesMode[$root.PHONE_TYPES.MOBILE] &&
                            !$root.config.retailer.customPhoneValidation.phoneNumberRange.min &&
                            $root.config.retailer.customPhoneValidation.phoneNumberRange.max">{{('custom-phone-validation-max' |
                        translate).replace('{max}',
                        $root.config.retailer.customPhoneValidation.phoneNumberRange.max)}}</span>
                </div>
            </div>
        </div>
        <!-- footer -->
        <div class="detail-footer">
            <div ng-if="!$root.config.retailer.settings.hidePromotionCheckboxOnUserDetails || $root.config.retailer.settings.hidePromotionCheckboxOnUserDetails == 'false'"
                class="promotions-checkbox">
                <sp-checkbox ng-if="!userEditCtrl.externalLoginSettings.isActive && (!$root.config.retailer.settings.hidePromotionCheckboxOnUserDetails || $root.config.retailer.settings.hidePromotionCheckboxOnUserDetails == 'false')"
                    sp-model="userEditCtrl.user.allowSendPromotions">
                    {{::'Allow to send promotions' | translate}}
                </sp-checkbox>
            </div>
            <div class="submit-button-wrapper">
                <button class="submit-button" type="submit" id="btn-submit"
                    ng-if="!userEditCtrl.externalLoginSettings.isActive">
                    {{'account_details_form_personal_details_save_btn' |translate}}
                </button>
                <div aria-live="assertive" class="server-err-msg"></div>
            </div>
        </div>
    </div>
</form>