<h2>
    <span id="login_or_register_title" ng-bind="loginOrRegisterCtrl.firstTitle"></span>
</h2>
<sp-tabs>
    <sp-tabs-pane title="{{tab.title}}" ng-repeat="tab in loginOrRegisterCtrl.tabs"
                  on-select="loginOrRegisterCtrl.show(tab)" selected="loginOrRegisterCtrl.shownTab == tab" sr-text="true">
        <ng-include src="tab.templateUrl" ng-controller="tab.controller"></ng-include>
    </sp-tabs-pane>
</sp-tabs>
<div class="loyalty-page-link" ng-if="loginOrRegisterCtrl.fromLoyaltyDialog">
    <a ui-sref="app.userEdit.loyalty" ng-click="$dialog.hide()">
        {{('Show full details in {clubName} club page' | translate).replace('{clubName}', $root.config.retailer.loyaltyClubDriver.name || $root.config.retailer.title)}}
    </a>
</div>
