.dialog.login-or-register > {
  .dialog-body {
    padding: 0;
    width: 48.875em;
    min-height: 39.563em;

    > h2 {
      font-size: 2.9125em;
      font-weight: 700;
      text-align: center;
      color: #606060;
      padding-top: 0.3172em;
      padding-bottom: 0.8799em;
    }

    sp-tabs > .sp-tabs-panes .sp-tabs-pane > ng-include {
      display: block;

      > * {
        display: block;
        margin: auto;
        width: 24em;
      }

      button[type="submit"], button.login-with-facebook, .after-register button, .back-to-login-btn {
        $height: 2.3334em;
        font-size: 1.125em;
        min-width: 7.945em;
        height: $height;
        padding: 0 0.8em;
        border-radius: $height;
        color: #ffffff;
        background-color: #414141;
      }

      form {
        label.checkbox {
          font-size: 0.88em;
          width: 100%;
          margin: 0.5938em 0;
        }

        a {
          font-weight: bold;
        }

        input, > .checkbox, > button {
          //margin: 0.5em 0;
        }

        .two-inputs, .sp-kikar-input {
          margin: 1.2em 0;

          &.first {
            margin-top: 1em;
          }

          &.last {
            margin-bottom: 1em;
          }
        }

        .sp-kikar-input {
          display: block;
        }

        .two-inputs > .sp-kikar-input {
          display: inline-block;
        }

        .button-wrapper {
          display: block;
          text-align: center;
          padding: 0.5em 0;

          &.register-button {
            padding-top: 1em;
          }
        }

        button.login-with-facebook {
          background-color: #3b579d;
          background-image: url("https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/facebook.png");
          background-position: 4px 40%;
          background-repeat: no-repeat;
          background-size: auto 70%;
          padding-left: 2.5em;
        }

        .login-with-otp-container {
          margin-top: 10px;
          display: flex;
          flex-direction: column;
          align-items: center;
          row-gap: 10px;

          img {
            width: 30%
          }
        }

        .forgot-and-register {
          font-size: 0.9375em;
          margin-bottom: 2.6em;

          > * {
            text-decoration: underline;
          }
          > .register-btn {
            color: red;
            border: none !important;
          }

          > .forgot-password {
            color: #616161;
            border: none !important;
          }

          &:after {
            content: '';
            display: block;
            clear: both;
          }
        }

        .login-err, .server-err-msg {
          color: #ff0000;
          font-size: 1.2em;
          height: 2em;
          font-weight: 100;
          text-align: center;
          display: block;
        }

        .login-err {
          margin: 0.7em 0 1em 0;

          &.success-color {
            color: #3c7920;
            font-weight: bold;
          }
        }

        .server-err-msg {
          margin: 0.5em 0;
        }

        .user-activation-required {
          text-align: center;
          margin: 0.5em 0;
          color: #ffffff;
          padding: 0.5em;
          font-weight: bold;
          border-radius: 5px;

          > div {
            font-weight: normal;
            font-size: 0.9em;
            padding-top: 0.5em;

            > span {
              padding: 0 0.5em;
            }

            .resend-activation-link {
              margin: 0;
              display: inline-block;
              text-decoration: underline;
            }
          }
        }
      }

      .reset-code-err-wrapper {
        text-align: center;

        .reset-code-err {
          padding-block: 5em;
          font-weight: 600;
          color: #E71B1B;
        }

        > .back-to-login-btn {
          margin: auto;
        }
      }

      .user-email-activation-err {
        .resend-activation-link {
          cursor: pointer;
          text-decoration: underline;
        }
      }

      div.reset-password-sent {
        margin-top: 1em;
        text-align: center;
        > .text-error{
          color: #E71B1B;
          padding-top: 1rem;
          font-size: 0.8em;
        }
      }

      .after-register {
        text-align: center;
        font-size: 1.2em;

        div {
          padding: 5em 0;
          color: #353b37;
          font-weight: bold;
        }

        button {
          padding-left: 1.5em;
          padding-right: 1.5em;
        }
      }
      .confirm_password_label {
        min-width: 130px;
      }
    }

    .loyalty-page-link {
      padding: 1em 0;
      text-align: center;
    }
  }
}
.login-email-password-text{
  color: #000000; 
  text-decoration: underline; 
  cursor: pointer; 
  display: flex; 
  justify-content: center; 
  margin-top: 70px;
}
html.ltr {
  .dialog.login-or-register > .dialog-body sp-tabs > .sp-tabs-panes .sp-tabs-pane > ng-include form .forgot-and-register {
    > .forgot-password {
      float: left;
    }

    > .register-btn {
      float: right;
    }
  }
}

html.rtl {
  .dialog.login-or-register > .dialog-body sp-tabs > .sp-tabs-panes .sp-tabs-pane > ng-include form .forgot-and-register {
    > .forgot-password {
      float: right;
    }

    > .register-btn {
      float: left;
    }
  }
}

.additional-text {
  font-size: 1.5em;
  text-align: center;
  font-weight: 500;
  padding: 1em;
}

@media screen and (max-width: 1575px) {
  .dialog.login-or-register > .dialog-body sp-tabs > .sp-tabs-panes .sp-tabs-pane > ng-include form {
    .forgot-and-register {
      font-size: 1.05em;
    }

    label.checkbox {
      font-size: 1em;
    }
  }
}

@media screen and (max-height: 890px) {
  .dialog.login-or-register > {
    .dialog-body {
      font-size: 0.9em;

      h2 {
        padding-bottom: 0.8em;
      }

      sp-tabs>.sp-tabs-panes .sp-tabs-pane>ng-include form {
        .sp-kikar-input, .two-inputs {
          margin: 1.9em 0;

          input {
            font-size: 1.4em;
          }
        }

        .sp-password {
          font-size: inherit;
        }

        .server-err-msg {
          font-size: 1.2em;
          line-height: 1.3em;
        }
      }
    }
  }
}

.round-button {
    $height: 2.3334em;
    font-size: 1.125em !important;
    min-width: 7.945em;
    height: $height;
    padding: 0 0.8em !important;;
    border-radius: $height !important;;
}

.selectOtpOption {
  h5 {
    text-transform: uppercase;
    text-align: center;
    margin: 42px 0;
  }

  .options-container {
    display: flex;
    text-align: center;

    .option {
      width: 50%;

      img {
        width: 45%;
        margin-bottom: 10px
      }
    }
  }
}

.enterOtpPhoneOrEmail {
  .enter-otp {
    text-align: center;
    margin-top: 20px;

    img {
      width: 20%;
      margin-bottom: 10px
    }

    .small-text {
      font-size: smaller;
      color: #A0A0A0;
    }

    input {
      margin: 20px 0;
    }
  }
}

.enterCodeToValidate {
  min-width: 360px;

  .enter-otp-code {
    text-align: center;
    margin-top: 20px;

    img {
      width: 20%;
      margin-bottom: 10px;
    }

    .validate-code-header {
      font-size: larger;
    }

    .hidden-phone-or-email {

    }

    .small-text {
      font-size: smaller;
      color: #A0A0A0;
    }

    .btn-disabled {
      cursor: not-allowed;
      opacity: 0.65;
      filter: alpha(opacity=65);
      -webkit-box-shadow: none;
      box-shadow: none;
    }

    .header-spacing {
      margin: 20px 0;
    }

    .otp-code-input {
      direction: ltr !important;
      min-width: 360px;

      input {
        height: 70px;
        width: 40px;
        text-align: center;
        font-size: 24px;
        margin: 0 8px;
      }
    }

    .invalid-or-expired-text {
      color: red;
      font-weight: bold;
      margin: 30px 0;
    }
  }
}

.otpError {
  .otp-error-container {
    text-align: center;
    margin-top: 20px;
  }

  .error-text {
    color: red;
    font-weight: bold;
    margin: 60px 0;
  }

  p {
    margin: 60px 0;
  }
}

.look-like-anchor {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.back-button-otp {
  color: black;
}

.additional-text {
  font-size: 1.5em;
  text-align: center;
  font-weight: 500;
  padding-top: 0.5em;
}

.force-direction-ltr {
  direction: ltr !important;
}