<div ng-if="loyaltyCtrl.isLookupEnabled()">
    <h6 class="bold" ng-if="loyaltyCtrl.connectClubActive"
        ng-bind="::'Existing Member' | translate">
    </h6>
    <div class="lookup-fields">
        <h6>
        <span ng-if="!loyaltyCtrl.clientConfig.text.preActivationLabel">
            {{('{retailername} membership offers exclusive' | translate).replace('{retailername}', $root.config.retailer.title)}}<br/>
            {{::'promotions in-store and online' | translate}}
        </span>
            <span ng-if="loyaltyCtrl.clientConfig.text.preActivationLabel" ng-bind-html="loyaltyCtrl.clientConfig.text.preActivationLabel">
        </span>
        </h6>

        <div class="form-required-fields">{{'Required fields are marked with *' | translate}}</div>

        <div ng-repeat="field in loyaltyCtrl.lookupFields">
            <input ng-if="field.type" type="{{field.type}}" ng-model="loyaltyCtrl.lookupData[field.key]"
                   name="{{field.key}}" sp-inline-error
                   placeholder="{{(field.name | translate) + (field.required ? ' *' : '')}}"
                   ng-required="field.required" ng-maxlength="field.maxLength"
                   ng-focus="loyaltyCtrl.setFocus('lookup')"/>
            <select ng-if="field.options" ng-model="loyaltyCtrl.lookupData[field.key]"
                    name="{{field.key}}" sp-inline-error
                    placeholder="{{(field.name | translate) + (field.required ? ' *' : '')}}"
                    ng-required="field.required"
                    ng-focus="loyaltyCtrl.setFocus('lookup')"
                    ng-options="option as (option | translate) for option in field.options">
            </select>
        </div>
    </div>
</div>
<sp-captcha is-invalid="loyaltyCtrl.captchaIsInvalid"></sp-captcha>

<div class="buttons">
    <button
            ng-click="loyaltyCtrl.existMember()"
            class="block"
            ng-bind="(loyaltyCtrl.loyaltyClubDriver.clientConfig.connectClub && loyaltyCtrl.loyaltyClubDriver.clientConfig.connectClub[$root.config.language.id]) || 'Connect to club' | translate">
    </button>
</div>
<div>
    <h6 ng-if="!loyaltyCtrl.isLookupEnabled()"
        ng-bind="'Existing members lookup is closed right now' | translate">
    </h6>
</div>
