$checkBoxSize: 0.9em;
$checkBoxColor: #616161;
//$checkBoxFontSize: 0.9375em;
$checkBoxLabelPaddingLeft: $checkBoxSize + 0.5em;

label.checkbox {
  @include user-select(none);
  cursor: pointer;
  display: inline-block;
  margin: 0.5em 0;
  //position: relative;

  > span {
    &.box {
      display: block;
      width: $checkBoxSize;
      height: $checkBoxSize;
      border-radius: 2px;
      border: 1px solid $checkBoxColor;
      text-align: center;
      box-sizing: border-box;
      margin-top: (1em - $checkBoxSize) / 2;

      svg {
        display: none;
        width: 80%;
        height: 100%;
        fill: $checkBoxColor;
      }

      &.true svg {
        display: inline-block;
        vertical-align: top;
      }
    }

    &.label {
      display: block;
      color: #606060;

      > span {
        display: inline-block;
        vertical-align: middle;
      }

      > .for-vertical-align {
        height: $checkBoxSize !important;
      }
    }
  }

  &.focus > span.box {
    box-shadow: 0 0 3px 0 #e8e8e8;
  }

  > .input-wrapper {
    display: block !important;
    width: 0 !important;
    height: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
    overflow: hidden !important;

    /*> input[type=checkbox] {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: none;
      -webkit-appearance: none;
    }*/
  }

  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

.ltr {
  label.checkbox > span {
    &.box {
      float: left;
    }

    &.label {
      padding-left: $checkBoxLabelPaddingLeft;
    }
  }
}

.rtl {
  label.checkbox > span {
    &.box {
      float: right;
    }

    &.label {
      padding-right: $checkBoxLabelPaddingLeft;
    }
  }
}

/*$checkBoxSize: 2.5em;
$checkBoxFontSize: 0.9375em;
$checkBoxLabelPaddingLeft: $checkBoxSize + 0.8em;

label.checkbox {
  @include user-select(none);
  cursor: pointer;
  display: inline-block;

  > span {
    &.box {
      display: block;
      width: $checkBoxSize / $checkBoxFontSize * 1em;
      height: $checkBoxSize / $checkBoxFontSize * 1em;
      @include border-radius(100%);
      border-width: 2px;
      border-style: solid;
      text-align: center;
      box-sizing: border-box;
      font-size: $checkBoxFontSize;

      svg {
        display: none;
        width: 1em;
        height: 100%;
      }

      &.true svg {
        display: inline-block;
        vertical-align: top;
      }
    }

    &.label {
      display: block;
      color: #606060;

      > span {
        display: inline-block;
        vertical-align: middle;
      }

      > .for-vertical-align {
        height: $checkBoxSize !important;
      }
    }
  }

  &.focus > span.box {
    box-shadow: 0 0 3px 0 #e8e8e8;
  }

  > .input-wrapper {
    display: block !important;
    width: 0 !important;
    height: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
    overflow: hidden !important;
  }

  &:after {
    content: '';
    display: block;
    clear: both;
  }
}
*/