html.checkout section.view .checkout-content .tab > .details section.delivery-details {
  .dropdown-options-wrapper > .dropdown-options ng-include div.disabled {
    margin: auto;
    font-size: 1.5em;
    color: #414141;
  }
}