$disclaimerToolTipMarginLeft: 0.3938em;
$similerItemsTitleHeight: 2em;
$shopListDropDownIconWidth: 1.5em;
$shopListDropDownTextHorizontalDistance: $shopListDropDownIconWidth;
$shopListDropDownTextMarginLeft: ($shopListDropDownTextHorizontalDistance * -1) - 0.2em;
$shopListDropDownArrowMarginLeft: ($shopListDropDownTextHorizontalDistance - 0.5em) * -1;
$font-color: #606060;
$red: #be4b2a;
$similarProductsContainerHeight: 21em;
//$similarProductsCarouselHeight: 16em; changed to fit-content
$dialog-min-height: 51em;
$product-details-height: 31em;
$product-details-width: 43%;
$product-image-width: 100% - $product-details-width;
$image-control-width: 5%;
$small-margin-padding: 0.4em;
$small-margin: 12px;
$med-margin: 20px;

.separate-produce-hide-sidenav{
  display: none;
}

.separate-product-wrapper {

  .overlay {
    height: 100% !important;
    z-index: 79 !important;
    background: white !important;
  }
  .dialog {
    height: calc(100vh - #{$headerHeight});
    margin-top: $headerHeight;
    z-index: 79 !important;

    .dialog-focus-trap {
      position: absolute;
    }

    .dialog-body {

      border: none !important;
      outline: none;

      .product-more-info {
        padding-bottom: 5em !important;
      }

      .bread-crumbs-wrapper {

        display: flex;
        justify-items: center;
        align-items: baseline;
        align-content: center;

        .back-button {
          z-index: 3;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          padding: 0.5em;
          background: #FFFFFF;
          border: 2px solid;
          box-sizing: border-box;
          border-radius: 1.875em;

          .ltr & {
            margin-right: 1em;
          }

          .rtl & {
            margin-left: 1em;
          }


          > * {
            display: inline-block;
            vertical-align: middle;
          }

          > svg {
            width: 1.5em;
            height: 1em;

            .rtl & {
              @include flipH();
            }
          }

          .ltr & {
            right: 1em;
          }

          .rtl & {
            left: 1em;
          }
        }

      }

      .bread-crumbs {
        pointer-events: all;
        padding-bottom: 2em;

        .category {
          cursor: pointer;
        }

        > span {
          &:after {
            content: ' > ';
            display: inline;
          }

          &:last-child:after {
            content: none;
            display: none;
          }

          > a {
            font-weight: 700;

            &:hover {
              border-bottom-width: 2px;
              border-bottom-style: solid;
            }
          }
        }
      }


    }
  }

  .close-dialog-corner-button {
    display: none !important;
  }
}

div.dialog.product {
  overflow: auto;

  &.animation-active {
    overflow: hidden;
  }

  > .dialog-body {
    width: 70%;
    max-width: 1130px;
    max-height: none;
    padding: 3em 1em 1em 1em;
    overflow: visible;

    .close-dialog-corner-button {
      text-align: right;
      background: white;
      padding: 0.2em;
    }

    > .full-screen-back {
      display: none;
      position: absolute;
      top: 1em;
      text-decoration: underline;
      z-index: 3;

      > * {
        display: inline-block;
        vertical-align: middle;
      }

      > svg {
        width: 1.5em;
        height: 1em;

        .ltr & {
          @include flipH();
        }
      }

      .ltr & {
        right: 1em;
      }

      .rtl & {
        left: 1em;
      }
    }

    .shadow {
      z-index: -1;
      right: 0;
      left: 0;
      top: 0;
      bottom: 0;
      display: block;
      position: absolute;
    }

    > .product-details {
      position: relative;

      * {
        @include box-sizing(border-box);
      }

      .disabled {
        opacity: 0.35;
        pointer-events: none;
      }

      .product-pricing-method {
        z-index: 2;
        top: 40%;
        left: 1em;
        width: auto;
        height: 2em;
        border-radius: 19px 19px;
        border-width: 1px;
        border-style: solid;
        display: inline-flex;
        flex-flow: row;
        flex-wrap: nowrap;
        overflow: hidden;

        &.extended {
          height: 7.25em;
        }

        > button {
          border: none;
          width: auto;
          height: 100%;
          font-size: .687em;
          color: #414141;
          text-align: center;
          display: block;
          margin: 0;
          border-radius: 19px;
          padding: 0 .5em;

          &.selected {
            border: none;
            font-weight: 700;
            background-color: #fff;
          }
        }
      }

      .product-arrows-buttons {
        * {
          box-sizing: content-box;
        }

        > * {
          position: absolute;
          top: 28em;
          width: 4.1em;
          height: 4.1em;
          border-radius: 50%;
          background-color: #ffffff;
          box-shadow: 0 0 12px 1px rgba(0, 0, 0, 0.11);
          cursor: pointer;
          z-index: 4;
          -webkit-transform: translateY(-50%);
          transform: translateY(-50%);

          &.disabled {
            border: none;

            svg {
              fill: #c5c5c5;
            }
          }

          svg {
            padding-top: 0.4em;
            width: 50%;
            height: 28%;
          }
        }

        > .previous-btn {
          left: -3.7em;
        }

        > .next-btn {
          right: -3.7em;
        }
      }

      .product-details {
        position: relative;
        display: inline-block;
        text-align: left;
        vertical-align: top;
        width: $product-details-width;
        min-height: $product-details-height;

        $product-details-padding: 1em;
        padding: 0 $product-details-padding;

        .product-data-wrap {
          max-height: 24em;
          min-height: 23.9em;
          margin-bottom: 1.5em;
          position: relative;

          &.new-promotion {
            margin-bottom: 1em;
          }

          &.has-overflow {
            overflow: hidden;
            border-bottom: 1px solid #E4E4E4;
          }

          .read-more-link {
            bottom: 5px;
          }
        }

        .brand-and-weight {
          font-size: 1em;
          color: #616161;
        }

        .name {
          font-size: 1.75em;
          line-height: 1.1em;
          height: auto;
          color: #616161;
          margin: 0.2em 0;
          padding: 0;
        }

        .origin-country-wrapper {
          border-bottom: 1px solid #e4e4e4;
          padding-bottom: 1em;
          padding-top: 1em;

          .origin-country-title {
            font-size: 0.9em;

            .country-name {
              background-color: #ececec;
              padding: 0.1em 0.7em;
              border-radius: 170px;
              margin: 0 0.3em;
            }
          }

          .origin-country-legal-text-wrap {
            max-height: 5em;
            overflow: hidden;
            position: relative;

            .origin-country-legal-text {
              font-size: 0.7em;
              line-height: 1.2em;
              color: #616161;
              padding-top: 0.5em;
            }
          }
        }

        .product_top_description {
          font-size: 0.875em;
          line-height: 1.4em;
          border-bottom: 1px solid #E4E4E4;
          padding-bottom: 0.7em;
        }

        .items-in-case {
          height: auto;
          border-bottom: 1px solid #E4E4E4;
          padding: 0.7em 0;
        }

        .arrows-buttons {
          float: right;
        }

        .supervisions {
          border-bottom: 1px solid #E4E4E4;

          .supervision {
            font-weight: 700;
            color: #606060;
            margin: 0.5em 0;
            display: inline-block;

            .img-container {
              display: inline-block;
              text-align: center;

              img {
                max-height: 3em;
                max-width: 4em;
                vertical-align: middle;
              }
            }
            span {
              vertical-align: middle;
              padding: 0 0.5em;
            }
          }
        }

        .product-tags-wrapper {
          border-bottom: 1px solid #E4E4E4;
          display: flex;
          flex-wrap: wrap;
          padding: 0.5em 0 1.1em 0;

          product-tag-line {
            width: 32%;
            display: inline-block;
            padding: 0.8em 0 0.2em 0.2em;

            img {
              width: 2em;
              height: 1.5em;
            }

            .tool-tip {
              padding: 0;
              margin: 0 0.2em;
              font-size: 0.8em;
              line-height: 1.2em;
              height: 1.2em;
              display: inline-block;
              width: fit-content;
            }
          }

          &.product-tags-cnt-1 product-tag-line {
            width: 99%;
          }

          &.product-tags-cnt-2 product-tag-line {
            width: 49%;
          }
        }

        .specials {
          height: auto;
          text-align: left;
          border-bottom: 1px solid #E4E4E4;

          > .special {
            font-weight: bold;
            padding: 0.5em 0;

            > .special-icon {
              -webkit-box-flex: 0;
              -ms-flex: 0 0 auto;
              flex: 0 0 auto;
              width: 2.8em;
              height: 2.8em;
              margin: 0 0.4em;
              position: relative;

              > svg {
                height: 100%;
                width: 100%;
              }

              > .sale-icon-text {
                font-size: 0.7em;
              }

              &.club-icon > svg {
                fill: $clubIconFill;
              }
            }

            > * {
              vertical-align: middle;
              display: inline-block;
            }

            > .description {
              max-width: 70%;
              text-overflow: ellipsis;
              overflow: hidden;
              padding: 0 0.2em;
              font-size: 0.85em;
              line-height: 1.05;
              font-weight: bold;
              @include box-sizing(border-box);

              > .special {
                color: #d02402;
              }

              > .experation {
                display: block;
                color: #010101;
                padding-top: 0.5em;
                line-height: 17px;
              }
            }

            .disclaimer-wrapper {
              @include box-sizing(border-box);
              display: inline-block;
              margin-left: 0.5em;
              height: 1.1875em;
              width: 1.3125em;
              position: relative;

              > svg {
                height: 100%;
                width: 100%;
                fill: #787878;
                cursor: pointer;
              }

              > .disclaimer-tooltip {
                $width: 17.1063em;
                $height: 6em;
                $arrowWrapperWidth: 0.5em;
                position: absolute;
                display: none;
                width: $width;
                height: $height;
                margin-top: $height / -2;
                top: 50%;
                left: 100%;
                z-index: 3;
                margin-left: $disclaimerToolTipMarginLeft;

                > .disclaimer-arrow {
                  $arrowSize: 0.9375em;
                  display: inline-block;
                  vertical-align: top;
                  width: $arrowWrapperWidth;
                  height: $arrowSize;
                  position: relative;
                  overflow: hidden;
                  margin-top: ($height / 2) - ($arrowSize / 2);

                  &:after {
                    content: '';
                    position: absolute;
                    display: inline-block;
                    width: $arrowSize;
                    transform: rotate(45deg);
                    margin-right: $arrowWrapperWidth / 2;
                    height: 100%;
                    background-color: #ffffff;
                  }
                }

                > .disclaimer-content {
                  display: inline-block;
                  vertical-align: top;
                  $fontSize: 0.75em;
                  font-size: $fontSize;
                  width: ($width - $arrowWrapperWidth) / $fontSize * 1em;
                  min-height: 100%;
                  box-shadow: 0.1px 1px 7px 0 rgba(0, 0, 0, 0.22);
                  background-color: #ffffff;
                  padding: 1.4167em;
                  @include box-sizing(border-box);

                  h5 {
                    padding: 0;
                  }
                }
              }

              &:hover, &:focus {
                > .disclaimer-tooltip {
                  display: block;
                }
              }
            }

            img {
              max-height: 2.5em;
              vertical-align: middle;
            }
          }
        }



        .age-icon-wrapper {
          height: 3.1em;
          border-bottom: 1px solid #E4E4E4;
          padding: 0.5em 0 0 0;

          .age-icon {
            display: inline-block;
            direction: ltr;
            border-radius: 100%;
            color: white;
            background-color: $red;
            font-size: 1em;
            line-height: 2em;
            height: 2em;
            width: 2em;
            text-align: center;
          }
        }

        .bottom {
          display: block;
          width: 100%;
          box-sizing: border-box;

          &.new-promotion > .weight-and-price {
            padding-top: 0.5em;
            border-top: 1px solid #E4E4E4;
          }

          .sp-unit-weight {
            margin: $med-margin 0;
            align-self: flex-start;
          }

          > .weight-and-price {
            padding: 0;
            min-height: 3.1em;
            border-bottom: 1px solid #E4E4E4;

            > *:not(.sp-product-price) {
              display: inline-block;
              width: 38%;
              height: 2.313em;
              vertical-align: middle;
            }

            > .product-actions {
              display: inline-block;
              vertical-align: middle;
              text-align: center;
              width: 38%;
              height: 100%;
              position: relative;
              margin-top: -0.3em;

              > .add-to-cart {
                width: 9.6em;
              }

              > .sp-quantity {
                .btns-row {
                  width: 9.6em;
                }

                > .weight-unit {
                  bottom: auto;
                  top: 70%;
                }

                > .est-weight {
                  bottom: auto;
                  top: 120%;

                  > .text {
                    padding: 0;
                  }
                }

                > .est-weight, > .weight-unit {
                  color: #616161;
                }

                .quantity-wrapper {
                  width: 4em;

                  > sp-vertical-value-slider > input {
                    color: #414141;
                  }
                }
              }
            }

            > .sp-product-price {
              width: 60%;
              height: 100%;
              display: inline-block;
              vertical-align: middle;

              > .price {
                font-size: 1.6em;
              }

              > .normalize-price {
                font-size: 1.1em;
                margin-top: 0.3em;
              }

              > .sale-price {
                font-size: 1.6em;
              }

              > .regular-price {
                font-size: 0.9em;
              }

              &.with-estimate {
                //padding-bottom: 0.8em;
              }
            }
          }

          > .border {
            margin-top: 2em;
            margin-right: 1.75em;
            width: 25em;
            height: 1px;
            background-color: #d0d0d0;
          }

          > .shopping-lists-and-comments {
            padding-top: 0.5em;
            width: 100%;
            height: 2em;
            display: block;
            @include box-sizing(border-box);

            > .shopping-lists {
              width: 50%;
              line-height: 18px;
              height: 100%;
              color: #616161;
              vertical-align: middle;
              display: inline-block;

              sp-kikar-dropdown {
                width: 100%;
                white-space: nowrap;

                > .sp-dropdown-text {
                  font-weight: bold;
                  padding: 0;
                  width: 100%;
                  padding-right: $shopListDropDownTextHorizontalDistance;
                  box-sizing: border-box;

                  svg {
                    -webkit-box-flex: 0;
                    -ms-flex: 0 0 auto;
                    flex: 0 0 auto;
                    width: $shopListDropDownIconWidth;
                    height: $shopListDropDownIconWidth;
                    fill: #616161;
                    margin-right: 0.6em;

                    &.arrow {
                      width: 1em;
                      height: 1em;
                      margin: 0 0.4em !important;
                    }
                  }

                  > span {
                    width: auto;

                    > .text {
                      width: 100%;
                      text-overflow: ellipsis;
                      overflow: hidden;
                      padding-left: $shopListDropDownTextHorizontalDistance;
                      margin-left: $shopListDropDownTextMarginLeft;
                      box-sizing: border-box;
                      font-weight: normal;
                    }
                  }
                }

                > .arrow {
                  margin-left: $shopListDropDownArrowMarginLeft;
                }

                > .sp-dropdown-options-wrapper {
                  margin-top: 0.4em;
                  z-index: 2;
                  white-space: normal;

                  .sp-kikar-option {
                    &.title {
                      > label {
                        padding-left: 0;
                        padding-right: 0;

                        > .option-content {
                          border: none;
                          font-size: 1.17em;

                          > .shop-list-input {
                            width: 72%;
                            display: inline-block;

                            input {
                              font-size: 1.2em;
                            }
                          }

                          > .shop-list-btn {
                            width: 20%;
                            display: inline-block;
                            border-radius: 9px;
                            color: #414141;
                            text-align: center;
                            padding: 0.5em;
                          }
                        }
                      }

                      > * {
                        font-size: 0.75em;
                      }
                    }

                    &:nth-child(2) {
                      margin-top: 0.3em;
                    }
                  }
                }
              }
            }

            > .comments {
              width: 49%;
              padding: 0;
              height: 100%;
              display: inline-block;
              vertical-align: middle;

              svg {
                -webkit-box-flex: 0;
                -ms-flex: 0 0 auto;
                flex: 0 0 auto;
                width: 1.5em;
                height: 1.5em;
                fill: #616161;
                margin: 0 0.5em;
              }

              > .cart-line-comments-wrapper {
                vertical-align: middle;
                span {
                  white-space: normal;
                  word-break: break-all;
                }

                > textarea {
                  padding: 4px 0 3px 0;
                  font-weight: normal;
                  color: #616161;
                  height: 3em;
                }

                .cart-line-comments-text {
                  color: #616161;
                  font-weight: normal;
                }

                .cart-line-comments-input-wrapper {
                  .cart-line-comments-input {
                    text-align: left;
                  }

                  .cart-line-comments {
                    line-height: 2.313em;
                    max-width: 100%;
                  }
                }
              }
            }
          }
        }
      }

      &.large-items-product-details {
        .title-border-bottom {
          border-bottom: none;
          padding-bottom: 0;
        }

        .product-image img.image {
          object-fit: contain;
          object-position: center center;
        }

        > .images-control > button > img {
          object-fit: cover;

          &.thumb360 {
            object-fit: contain;
          }
        }
        > .sp-vertical-carousel > items > ng-include > div > img {
          object-fit: cover;
          
          &.thumb360 {
            object-fit: contain;
          }
        }

      }

      > .product-image {
        $productImagePaddingLeft: 0;
        $productImagePaddingRight: 0;
        display: inline-block;
        vertical-align: top;
        width: $product-image-width - 1%;
        height: $product-details-height;
        padding: 0 1%;
        text-align: center;
        position: relative;
        cursor: zoom-in;

        .out-of-stock-label {
          position: absolute;
          top: 50%;
          height: 2em;
          line-height: 2em;
          padding: 0 0.4em;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          text-align: center;
          margin-top: -0.75em;
          color: #ffffff;
          font-size: 1.5em;
          white-space: nowrap;
          background-color: #F86B2F;
          width: auto;
          left: 50%;
          transform: translateX(-50%);
          opacity: 1;
        }

        .general-image-wrapper {
          .suggestions.outline {
            left: 50%;
            transform: translateX(-50%);
          }
          .out-of-stock.suggestions {
            font-size: 0.75em;
            font-weight: 700;
            left: 50%;
            transform: translateX(-50%);
            z-index: 4;
      
            &.text-1 {
              color: #F86B2F;
              top: 46.5%;
            }
            &.text-2 {
              color: #505050;
              top: 49%;
            }
          }
          .suggestions.outline {
            top: 43%;
          }
        }
        
        > .actual-image {
          width: 100%;
          height: 100%;
          overflow: hidden;
        }
      }

      > .images-control {
        display: none;
        width: $image-control-width;
        height: $product-details-height;
        vertical-align: top;
        box-sizing: border-box;
        padding-top: 0;

        > button {
          height: 3em;
          width: 100%;
          margin: 0 0 $small-margin-padding 0;
          padding: 2px;
          box-sizing: border-box;
          border: 1px solid #787878;

          > img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
      }

      > .similar-products {
        position: relative;
        height: $similarProductsContainerHeight;
        background-color: #f3f3f3;
        margin: 1.6em 0 0 0;

        &.hide-carousel {
          display: none;
        }
        .sp-carousel {
          height: fit-content;
        }

        > h2.title {
          width: 100%;
          padding: 0.8em 1.6em 0.5em 1.6em;
          color: #787878;
          font-size: 1.5em;
          @include box-sizing(border-box);
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .item.product {
          font-size: 0.9em;
          padding: 0.3em 0.5em;

          > sp-product {
            $spProductPadding: 0.8em;
            padding: $spProductPadding;
            border-width: 0;
            font-size: 0.88em;
            width: auto;

            > .product-dialog-indication {
              width: 1.8em;
              height: 1.8em;
            }

            > .product-main-tag-icon {
              height: 3em;
            }

            > .product-actions {
              margin-top: -1em;
            }

            > .sale-icon {
              height: 2.8em;
              visibility: visible;
            }

            &.large-product {
              > .image-wrapper {
                margin: -0.8em -0.8em 0 -0.8em;
                width: calc(100% + 1.6em);
                height: 11.8em;
                padding-top: 0;
              }
            }

            > .image-wrapper {
              height: 11em;
              padding: 1em 0;
            }

            .data {
              text-align: left;
              font-size: 1em;
              padding: 0;
              height: 6%;
              margin: 0;

              > .weight {
                width: 52%;
                max-width: none;
              }

              >* {
                height: auto;
              }
            }

            > .name {
              height: 20%;
              font-size: 1.2em;
              padding: 0.25em 0 0 0;
              text-align: left;
              font-weight: normal;
            }

            > .sp-unit-weight {
              top: 60%;
              left: 50%;
              transform: translate(-50%, -60%);
            }
            
            .sp-product-price {
              padding-right: 0.8em;

              .sale-price {
                color: #ce2302;
              }

              .regular-price {
                color: #a8a8a8;
              }
            }

            > .product-price {
              padding-top: 0;

              &.width {
                max-width: 50%;
              }
            }

            > .sp-cart-line-count {
              margin-top: -1em;
            }

            .data .brand {
              max-width: 47%;
              text-overflow: ellipsis;
            }

            &:hover {
              box-shadow: none;
            }

            .product-pricing-method {
              width: auto;
              height: auto;
              font-size: 0.6em;
              // border-radius: 0 0 10px 10px;

              > * {
                font-size: 0.75em;
              }

              > button {
                width: 6em;
                height: 5em;
              }
            }

            > .specials-wrapper {
              right: 0;
              left: 0;
              min-height: 3.2em;
              top: 13em;
              padding: 0.5em 1em 0.5em 1em;
              height: -moz-available;
              height: -webkit-fill-available;
              height: fill-available;

              .main-product-tag-text {
                font-size: 1.1em;
              }

              > .special {
                font-size: 1.1em;

                > .sale-icon {
                  margin-top: -0.8em;
                  width: 18%;
                }
              }
            }
          }
        }
      }

      .product-properties {
        margin-bottom: 1.5em;

        .product-property {
          .dropdown-wrapper {
            width: 14em;
            display: inline-block;
            position: relative;

            .error-text {
              bottom: 110%;
              position: absolute;
              color: #c20202;
            }

            sp-kikar-dropdown {

              &.is-empty {
                .sp-dropdown-text {
                  background-color: #FFFBD4;
                }
              }

              .sp-dropdown-text {
                font-weight: 700;
                color: #000000;
                width: 100%;
              }

              .sp-dropdown-options-wrapper {
                z-index: 100;
                left: 0;
                width: 22em;

                .sp-kikar-option {
                  border-bottom: 1px solid #DBD9DA;

                  .value-name {
                    font-weight: 700;
                    display: block;
                  }

                  .value-desc {
                    font-size: 0.8em;
                  }

                  &:focus {
                    background-color: #F7F7F9;
                  }
                }
              }
            }
          }
        }
      }

      &.with-images-control {
        > .images-control {
          display: inline-block;
        }
        > .sp-vertical-carousel {
          display: inline-block;
        }
 
        > .product-image {
          width: $product-image-width - $image-control-width - 1%;
        }
      }
    }

    &.full-screen-image {
      .close-dialog-corner-button {
        display: none;
      }

      > .full-screen-back {
        display: block;
      }

      > .product-details {
        min-height: $dialog-min-height;

        > .product-image {
          position: absolute;
          width: 100%;
          height: auto;
          top: 0;
          bottom: 0;
          z-index: 3;
          background-color: #fff;
          cursor: default;
          padding: 0;


          .ltr & {
            right: 0;
          }

          .rtl & {
            left: 0;
          }

          > * {
            display: none;
          }

          > .actual-image {
            display: block;
          }
        }

        > .images-control {
          position: absolute;
          top: 0;
          z-index: 2;

          .ltr & {
            right: 0;
          }

          .rtl & {
            left: 0;
          }
        }
        > .sp-vertical-carousel {
          position: absolute;
          top: 20px;
          z-index: 2;
          .ltr & {
            right: 0;
          }

          .rtl & {
            left: 0;
          }
        }

        > .similar-products, > .product-details {
          visibility: hidden;
        }

        &.with-images-control > .product-image {
          width: 100% - $image-control-width - 1%;

          .ltr & {
            right: $image-control-width + 1;
          }

          .rtl & {
            left: $image-control-width + 1;
          }
        }

        &.large-items-product-details .product-image img.image {
          width: auto;
          height: auto;
          object-fit: unset;
          object-position: unset;
        }
      }
    }
  }
  .sp-vertical-carousel {
    width: $image-control-width;
    height: $product-details-height;
    
    >.items {
      ng-include {
        > div {
            height: 3em;
            width: 3em;
            margin: 0 auto 0.4em auto;
            padding: 2px;
            box-sizing: border-box;
            border: 1px solid #C8C8C8;

            > img {
              width: 100%;
              height: 100%;
              object-fit: contain;
            }
        }
      }
    }
  }
}
.dialog-body .product-details .similar-products .item.product > sp-product {
  .image-wrapper {
    .general-image-wrapper {
      .suggestions.outline {
        left: 50%;
        transform: translateX(-50%);
      }
      .out-of-stock.suggestions {
        font-size: 0.75em;
        font-weight: 700;
        left: 50%;
        transform: translateX(-50%);
        z-index: 3;
  
        &.text-1 {
          color: #F86B2F;
          top: 60%;
        }
        &.text-2 {
          color: #505050;
          top: 68%;
        }
      }
      .suggestions.outline {
        top: 50%;
      }
    }
  }
}

.rtl {
  div.dialog.product > .dialog-body {
    .close-dialog-corner-button {
      text-align: left;
    }

    > .product-details {
      > .product-arrows-buttons {
        > .previous-btn {
          right: -3.7em;
          left: auto;
        }

        > .next-btn {
          left: -3.7em;
          right: auto;
        }
      }

      > .product-pricing-method {
        right: 0;
        left: auto;
        border-right: none;
      }

      > .product-details {
        text-align: right;

        .specials {
          text-align: right;

          > .special .disclaimer-wrapper {
            margin-right: 0.5em;
            margin-left: auto;

            > .disclaimer-tooltip {
              left: auto;
              right: 100%;
              margin-left: 0;
              margin-right: $disclaimerToolTipMarginLeft;

              > .disclaimer-arrow {
                &:after {
                  box-shadow: 0.1px 1px 7px 0 rgba(0, 0, 0, 0.22);
                }
              }
            }
          }
        }

        > .bottom {
          > .border {
            margin-right: 0;
            margin-left: 4.75em;
          }

          > .shopping-lists-and-comments {
            > .shopping-lists sp-kikar-dropdown {
              > .sp-dropdown-text {
                padding-right: 0;
                padding-left: $shopListDropDownTextHorizontalDistance;

                svg {
                  margin-right: auto;
                  margin-left: 0.6em;
                }

                > span > .text {
                  padding-left: 0;
                  padding-right: $shopListDropDownTextHorizontalDistance;
                  margin-left: 0;
                  margin-right: $shopListDropDownTextMarginLeft;
                }
              }

              > .arrow {
                margin-left: 0;
                margin-right: $shopListDropDownArrowMarginLeft;
              }
            }

            > .comments > .cart-line-comments-wrapper {
              .cart-line-comments-input {
                text-align: right;
              }

              > svg {
                fill: #616161;
              }
            }
          }
        }
      }

      > .similar-products .item.product > sp-product {
        .data {
          text-align: right;
        }

        > .name {
          text-align: right;
        }

        .sp-product-price {
          padding-right: 0;
          padding-left: 0.8em;
        }
      }
    }
  }
}

.ltr {
  div.dialog.product > .dialog-body > .product-details > .product-details > .specials > .special .disclaimer-wrapper > svg {
    @include flipH();
  }
}

@media screen and (max-width: 1575px) {
  div.dialog.product > .dialog-body > .product-details {
    > .product-details > .specials > .special > .description {
      font-size: 0.9em;
    }

    > .similar-products {
      height: fit-content;

      .sp-carousel {
        height: fit-content;
      }

      .item.product > sp-product {
        font-size: 1em;

        div.sp-product-price > .normalize-price {
          font-size: 0.8889em;
        }
      }
    }
  }
}

.saved-in-list {
  display: flex;
  font-weight: bold;
  vertical-align: middle;
  margin-top: 0.7rem;
  color: #616161;

  svg {
    flex: 0 0 auto;
    width: 1.5em;
    height: 1.5em;
    fill: #616161;
    margin-right: 0.6em;
  }

  span {
    overflow-wrap: break-word;
    white-space: normal;
  }
}

.space-bottom {
  padding-bottom: 2rem !important;
}

.product-bottle-deposit-disclaimer {
  margin-bottom: 10px;
}

@media screen and (max-height: 890px) {
  div.dialog.product > .dialog-body {
    min-height: 46em;
  }
}

@media screen and (max-height: 830px) {
  div.dialog.product > .dialog-body {
    min-height: 40em;
    font-size: 0.92em;
    max-width: 1020px;
  }
}

@media screen and (max-height: 800px) {
  div.dialog.product > .dialog-body {
    min-height: 36em;
    font-size: 0.86em;
    max-width: 1000px;
  }
}

@media screen and (max-height: 770px) {
  div.dialog.product > .dialog-body {
    min-height: 32em;
    font-size: 0.8em;
    max-width: 990px;
  }
}

