$shadowColor: rgba(255, 255, 255, 0.7);
$shadowBorderColor: '{{secondaryColor-25}}';
$shadowSize: -20px;
$shadowX: 45px;
$shadowSmallColor: rgba(255, 255, 255, 0.5);
$shadowSmallBorderColor: '{{secondaryColor-15}}';
$shadowSmallSize: -40px;
$shadowSmallX: 85px;

$rightShadow: $shadowX 0 0 $shadowSize $shadowColor,
        ($shadowX + 1) 0 0 ($shadowSize + 1) $shadowBorderColor,
$shadowSmallX 0 0 $shadowSmallSize $shadowSmallColor,
        ($shadowSmallX + 1) 0 0 ($shadowSmallSize + 1) $shadowSmallBorderColor;

$leftShadow: ($shadowX * -1) 0 0 $shadowSize $shadowColor,
        (($shadowX + 1) * -1) 0 0 ($shadowSize + 1) $shadowBorderColor,
        ($shadowSmallX * -1) 0 0 $shadowSmallSize $shadowSmallColor,
        (($shadowSmallX + 1) * -1) 0 0 ($shadowSmallSize + 1) $shadowSmallBorderColor;

div.dialog.product {
  > .dialog-body {
    border: 3px solid $secondaryColor;

    .bread-crumbs {
      * {
        color: gray;

        &.last {
          color: $mainColor;
        }
      }
    }

    .shadow {
      &.right {
        box-shadow: $rightShadow;
      }

      &.left {
        box-shadow: $leftShadow;
      }

      &.right.left {
        box-shadow: $leftShadow, $rightShadow;
      }
    }

    > .images-control > button.active {
      border: 2px solid $mainColor;
    }

    > .product-details {
      > .product-pricing-method {
        background-color: $secondaryColor;
        border-color: $secondaryColor;

        > button {
          background-color: $secondaryColor;
        }
      }

      > .product-arrows-buttons {
        > * {
          border: 3px solid $secondaryColor;
        }
      }

      > .product-details {
        > .specials > .special > .special-icon > svg {
          fill: $mainColor;
        }

        > .bottom > .shopping-lists-and-comments > .shopping-lists sp-kikar-dropdown > .sp-dropdown-options-wrapper {
          border-color: $secondaryColor;

          .sp-kikar-option.title > label > .option-content > .shop-list-btn {
            background-color: $secondaryColor;
          }
        }
      }

      > .similar-products > h2.title {
        font-family: $defaultFontFamily;
      }

      .product-properties .product-property sp-kikar-dropdown .sp-dropdown-options-wrapper .sp-kikar-option {
        &.active, &.active:focus {
          background-color: $mainColor;
        }
      }
    }
  }
}

.rtl {
  div.dialog.product > .dialog-body {
    .shadow {
      &.right {
        box-shadow: $leftShadow;
      }

      &.left {
        box-shadow: $rightShadow;
      }

      &.right.left {
        box-shadow: $leftShadow, $rightShadow;
      }
    }

    >.product-details .product-properties .product-property .dropdown-wrapper sp-kikar-dropdown .sp-dropdown-options-wrapper {
      right: 0;
    }
  }
}