html.web-page section.view div[ng-bind-html] {
  padding-top: $navigationBarHeight;
}

@media screen and (max-width: $navigationMediaMaxWidth) {
  html.web-page section.view div[ng-bind-html] {
    font-size: $navigationMediaFontSize;
  }
}