.dialog-wrapper .dialog.choose-area-dialog {
  .dialog-body {
   
    .no-store-content {
    
      input[type="email"] {
        width: 17em;
        height: 3em;
        border: 1px solid #A0A0A0;
        .rtl & {
          border-radius: 0 30px 30px 0;
          padding: 0 0.5em 0 0;
        }

        .ltr & {
          border-radius: 30px 0 0 30px;
          padding: 0 0 0 0.5em;
        }
      }

  

      .button-choose{
        width: 9em;
        height: 3em;
        .rtl & {
          border-radius: 30px 0 0 30px;
        }

        .ltr & {
          border-radius: 0 30px 30px 0;
        }
      }

    }

  }
}