html.user-edit  {

  .contact-us-button {
    margin: 2em 0;
    background-color: #414141;
    color: #ffffff;
    font-weight: 700;
    padding: 0.5em 1em;
    border-radius: 30px;
  }

  .single-ticket {
    padding: 1em;
    margin: 1.5em 0;
    overflow: hidden;
    display: block;
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.05);
    background-color: #ffffff;
    position: relative;

    &:first-child {
      margin-top: 0;
    }

    > .basic {
      cursor: pointer;

      svg {
        position: absolute;
        height: 1.188em;
        width: 1.188em;
        right: 2em;
        top: 3.8em;
        fill: #414141;
      }

      h2 {
        padding: 0 0 0.2em 0;
        color: $grayColor;
      }

      .ticket-name {
        font-size: 1.5em;
        font-weight: 300;
        max-width: 90%;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        color: $grayColor;
        padding: 0 0 0.4em 0;
      }

      .ticket-details {
        font-size: 0.75em;
        font-weight: 300;
      }
    }

    > .extra {
      height: 0;
      white-space: nowrap;
      @include transition(height 0.4s);
      overflow: hidden;

      > * {
        vertical-align: top;
      }

      .user-comment {
        padding: 1.7em 0 2.5em 0;
        height: 3em;

        > * {
          display: inline-block;
          vertical-align: bottom;
          padding-left: 0.2em;
          box-sizing: border-box;
          margin: 0 1%;

          &:first-child {
            margin-left: 0;
          }

          &:last-child {
            margin-right: 0;
          }
        }

        > .sp-kikar-input {
          width: 69%;
        }

        > .attachment {
          display: inline-block;
          width: 12%;

          svg {
            fill: #616161;
            width: 1.4em;
            height: 1.7em;
          }

          .sp-file-input {
            width: 8em;

            .title {
              white-space: normal;
              font-size: 0.8em;
              font-weight: 700;
              overflow-wrap: break-word;
            }
          }
        }

        > button {
          color: #414141;
          border: 2px solid #414141;
          padding: 0.2em 0.5em;
          border-radius: 30px;
          width: 14%;
          font-weight: 700;
          font-size: 0.9em;
        }
      }

      table {
        thead {
          background-color: #ebe8e8;
          border-bottom-width: 0;
          tr {
            th {
              font-weight: 700;
            }
          }
        }

        tbody {
          tr {
            &:nth-child(odd) {
              background-color: #f3f3f3;
            }

            td {

              &.attachments {
                a {
                  font-size: 0.744em;

                  > * {
                    vertical-align: middle;
                  }

                  svg {
                    height: 1.2em;
                    width: 1.2em;
                    fill: #616161;
                  }

                  span {
                    font-weight: 700;
                    padding: 0 0.5em;
                    color: #616161;
                  }
                }

                .no-attachments {
                  color: #8b8b8b;
                  font-size: 0.744em;

                  > * {
                    vertical-align: middle;
                  }

                  svg {
                    height: 0.8em;
                    width: 0.8em;
                    fill: #8b8b8b;
                    border: 1px solid #8b8b8b;
                    padding: 0.2em;
                    border-radius: 100%;
                  }

                  span {
                    padding: 0 0.5em;
                  }
                }
              }
            }
          }
        }
        
        .ticket-comment {
          margin: 0;
          white-space: normal;
          line-height: 1.2;
        }
      }
    }

    &.open-ticket {
      > .basic {
        svg {
          transform: rotate(180deg);
        }
      }
      > .extra {
        height: 15em;
        overflow-y: auto;
        overflow-x: hidden;
        margin-top: 1em;
        border-top: 1px solid #cecece;
      }
    }

    &.only-one {
      border-width: 0;

      > .basic {
        cursor: auto;
      }

      > .extra {
        height: auto;
        overflow: hidden;
      }
    }
  }
}

html.rtl {
  .user-edit .single-ticket {
    .extra .user-comment {
      > * {
        &:first-child {
          margin-right: 0;
          margin-left: 1%;
        }

        &:last-child {
          margin-left: 0;
          margin-right: 1%;
        }
      }
      > .attachment .title {
        margin-right: -1.2em;
      }
    }

    > .basic svg {
      left: 2em;
      right: auto;
    }
  }
}

@media screen and (max-width: 1575px) {
  html.user-edit .single-ticket>.extra .user-comment {
    > .sp-kikar-input {
      width: 64%;
    }

    > .attachment {
      width: 14%;
    }

    > button {
      width: 17%;
    }
  }
}