<div class="sp-carousel"><!--
    --><div class="action previous" ng-hide="hidePrevNext">
        <span class="for-vertical-align"></span><!--
        --><button type="button" class="no-design" ng-click="previous()" ng-hide="isStart">
            <svg focusable="false" aria-labelledby="previous_button_title" role="img">
                <title id="previous_button_title">{{'the previous items' | translate}}</title>
                <use xlink:href="" ng-attr-xlink:href="#sp-icons-arrow-left'"></use>
            </svg>
        </button>
    </div><!--
    --><div class="items">
        <div class="scroller">
            <div class="transform-wrapper">
                <ng-include src="templateUrl" ng-repeat="chunk in chunks" class="item {{itemClass}}"
                        ng-style="{width:itemActualWidth}" ng-click="!!spClick ? spClick(chunk) : null"
                            ng-mouseenter="!!spMouseEnter ? spMouseEnter(chunk) : null" tabindex="-1" role="none"></ng-include>
            </div>
        </div>
    </div><!--
    --><div class="action next" ng-hide="hidePrevNext">
        <div class="loading-wrapper">
            <span class="for-vertical-align"></span>
            <img src="https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/loading.gif" alt="{{'Loading' | translate}}"/>
        </div>
        <span class="for-vertical-align"></span><!--
        --><button type="button" class="no-design" ng-click="next()" ng-hide="isEnd">
            <svg focusable="false" aria-labelledby="next_button_title" role="img">
                <title id="next_button_title">{{'the next items' | translate}}</title>
                <use xlink:href="" ng-attr-xlink:href="#sp-icons-arrow-right"></use>
            </svg>
        </button>
    </div><!--
--></div>