.dialog-wrapper > div.dialog.external-cart {
  overflow: auto;

  &.animation-active {
    overflow: hidden;
  }

  > .dialog-body {
    padding: 0;
    overflow: visible;
    margin: 4.5em 0;
    max-width: 80%;
    max-height: none;

    .external-cart-wrapper {
      width: 32em;
      max-width: 100%;

      > .external-cart-header {
        height: auto;
        padding: 1.4em 0;
        text-align: center;

        > * {
          display: inline-block;
          vertical-align: top;
          box-sizing: border-box;
          height: 100%;
        }

        > .image-wrapper {
          width: 100%;
          height: 3.2em;
          margin: auto;
          display: block;

          img {
            height: 3.2em;
            width: auto;
            object-fit: fill;
          }
        }

        > .name-wrapper {
          width: 100%;
          height: auto;
          background: transparent;
          color: #ffffff;
          padding: 0 1.7em;

          > span {
            display: inline-block;

            > * {
              display: block;
              font-size: 2em;
            }

            > .name {
              padding-top: 1em;
              font-size: 1.4em;
            }
          }
        }
      }

      > .note {
        padding: 0.8em 1.6em;
        font-size: 1.1em;
      }

      > .external-cart-details {
        > * {
          @include box-sizing(border-box);

          > div, > span {
            padding: (1em / 2) 0;
          }
        }

        > .shopping-list {
          float: right;
          width: 32em;
          padding: 1.2em 2em;

          > button.sp-arrows-button {
            margin-bottom: 1em;
          }

          > .items {
            clear: both;
            border-top: 1px solid #F2F2F2;
            border-right: 1px solid #F2F2F2;
            border-left: 1px solid #F2F2F2;

            .items-list {
              position: relative;
              @include box-sizing(border-box);
              border-bottom: 1px solid #F2F2F2;
              padding: 0.5em 2em;
              overflow: hidden;

              .product-item .item-wrapper {
                white-space: nowrap;
                position: relative;
                font-size: 0.9em;

                > * {
                  display: inline-block;
                  vertical-align: middle;
                }

                > .quantity {
                  width: 1.6em;
                  text-align: center;
                  color: #606060;
                  font-weight: bold;
                  white-space: normal;
                }

                > .image-wrapper {
                  width: 20%;
                  height: 5em;
                  padding: 0 0.5em;
                }

                > .name {
                  width: 50%;
                  padding: 0 0 0 0.4em;
                  @include box-sizing(border-box);

                  > * {
                    display: block;
                  }

                  > .name {
                    height: 2.1em;
                    padding: 0.5em 0;
                    white-space: normal;
                    overflow: hidden;
                    width: 65%;
                  }

                  > .brand{
                    color: #adadad;
                    font-size: 0.85em;
                    width: 95%;
                  }

                  > .weight {
                    color: #adadad;
                    font-size: 0.85em;
                  }
                }

                > .out-of-stock {
                  width: 15%;
                  height: auto;
                  text-align: center;
                  font-weight: bold;
                  line-height: 1.3em;
                  white-space: normal;
                  padding-top: 0.4em;
                  color: #ff0000;
                }

                > .sp-product-price {
                  position: absolute;
                  right: 1em;
                  bottom: 0;
                }

                > .actions {
                  position: absolute;
                  left: 0;
                  top: -0.5em;
                  height: 100%;
                  width: 2.2em;

                  .sp-quantity {
                    opacity: 0;
                    transition: opacity 0.5s;
                    background-color: #ffffff;

                    .quantity-wrapper.with-unit>.additional-text {
                      display: block;
                    }

                    .btns-row {
                      .quantity-wrapper {
                        width: 2.1em;

                        span.weight {
                          display: block;
                          text-align: center;
                          width: 100%;
                        }
                      }
                    }
                  }
                }

                > .add-to-cart {
                  position: absolute;
                  top: 0;
                  bottom: 0;
                  right: 0;
                  opacity: 0;
                  transition: opacity 0.5s;

                  > .sp-arrows-button {
                    vertical-align: middle;
                  }
                }

                &:hover {
                  > .actions .sp-quantity, > .add-to-cart {
                    @include opacity(0.9999999);
                  }
                }
              }
            }

            .not-found-note {
              font-weight: bold;
              padding: 2em 0 1em 0;
              font-size: 0.9em;
            }
          }
        }
      }

    }
  }
}

.rtl {
  .dialog-wrapper > div.dialog.external-cart {
    direction: ltr;

    > .dialog-body {
      direction: rtl;

      .external-cart-wrapper .external-cart-header .name-wrapper .name {
        padding-top: 0.5em;
        font-size: 1.7em;
      }

      .external-cart-wrapper > .external-cart-details {

        > .details-content {

          > .action-button-wrapper {
            > * {
              margin-right: 0;
              margin-left: 0.5em;
            }
          }

          > .external-cart-steps > .steps-group .step > .step-description {
            padding-left: 0;
            padding-right: 1em;
          }
        }

        > .shopping-list {
          float: left;

          > .items .items-list {
            .product-item .item-wrapper {
              > .name {
                padding: 0 0.8em 0 0;
              }

              > .sp-product-price {
                right: auto;
                left: 1em;
              }

              > .actions {
                left: auto;
                right: 0;
              }

              > .add-to-cart {
                right: auto;
                left: 0;
              }
            }
          }
        }
      }
    }
  }
}


@media screen and (max-height: 768px) {
  div.dialog.external-cart > .dialog-body {
    font-size: 0.85em;
  }
}
