.dialog-wrapper .dialog.add-gift-cards-dialog > .dialog-body {
  width: 50em;
  max-width: 60em;
  padding: 1em !important;

  > button.close-dialog-corner-button {
    display: none;
  }
}

.add-gift-card-dialog {
  .error-msg {
    margin-top: 0.5em;
    color: #DB5151;
    font-size: 0.95em;

    &.not-eligible-gift-card {
      margin-inline-start: 1em;
    }
  }

  > .gift-card-dialog-header {
    > .close-btn {
      float: right;

      .rtl & {
        float: left;
      }
    }

    > .title {
      font-size: 2em;
    }
  }

  > .gift-card-dialog-body {
    > .gift-cards-wrapper {
      //display: grid;

      > .gift-cards {
        display: flex;
        gap: 1em;
        margin-top: 2em;

        .gift-card-wrapper {
           .gift-card {
            border: 1px solid #A5A5A6;
            width: 5em;
            height: 5em;
            padding: 1em;
            text-align: center;
            cursor: pointer;

             > .redeemed-amount {
               margin-top: 0.5em;
               font-size: 0.95em;
             }

            &.open-card {
              color: white;
            }
          }
        }

        &.disabled-carousel {
          .sp-carousel {
            > .action {
              display: none;
            }

            > .items {
              margin: 0;

              ng-include {
                width: 8.2em !important;
              }
            }
          }
        }

        .sp-carousel {
          > .items {
            > .scroller {
              margin-inline-start: 0;
            }
          }
        }
      }

      > .cards-details-wrapper:after {
        position: absolute;
        width: 20px;
        height: 20px;
        border-top: 1px solid #A5A5A6;
        border-left: 1px solid #A5A5A6;
        bottom: 100%;
        left: 4em;
        margin-left: -10px;
        content: '';
        transform: rotate(45deg);
        margin-bottom: -10px;
        background: white;
      }

      > .cards-details-wrapper {
        margin-top: 2em;
      }

      .card-details-wrapper-0::after {
        left: 4em;

        .rtl & {
          right: 3em;
        }
      }

      .card-details-wrapper-1::after {
        left: 11.5em;

        .rtl & {
          right: 11em;
        }
      }

      .card-details-wrapper-2::after {
        left: 20em;

        .rtl & {
          right: 19em;
        }
      }

      .card-details-wrapper-3::after {
        left: 28em;

        .rtl & {
          right: 27em;
        }
      }

      .card-details-wrapper-4::after {
        left: 36em;

        .rtl & {
          right: 35.5em;
        }
      }

      > .card-details-wrapper {
        position: relative;
        border: 1px solid #A5A5A6;
        display: grid;
        grid-template-columns: 142px auto;
        padding-block: 1em;
        height: 9.5em;

        .wrong-amount-error-msg-wrapper {
          max-width: 256px;
          .wrong-amount-error-msg {
            color: #ED1C24;
            font-size: 12px;
          }
        }

        > .card-name {
          border-inline-end: 1px solid #A5A5A6;
          text-align: center;

          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 12px;

          box-sizing: border-box;

          padding: 8px;

          > span {
            font-size: 14px;
          }

          > img {
            width: 100px;

            aspect-ratio: 234 / 150;

            object-fit: cover;
          }

          > .img-placeholder {
            width: 100px;

            aspect-ratio: 234 / 150;

            display: flex;
            align-items: center;
            justify-content: center;

            border: 1px dashed #C8C8C8;

            > svg {
              use {
                fill: #C6C4D1;
              }
            }
          }
        }

        > .card-info {
          > div {
            width: 100%;
            height: 100%;

            display: flex;
            align-items: center;
          }
          .card-details {
            width: 100%;
            height: 100%;

            padding: 1em;

            display: flex;
            flex-direction: column;
            justify-content: space-around;

            > .max-gift-card-wrapper {
              display: flex;
              flex-direction: column;
              justify-content: space-around;
              gap: 8px;

              height: 100%;

              > .input-and-balance > .card-number-wrapper {
                > .card-number-inner-wrapper {
                  display: flex;
                  align-items: center;
                  gap: 3em;

                  > .masking-card-number-wrapper {
                    display: flex;
                    align-items: center;
                    gap: 6px;

                    > svg {
                      > use {
                        fill: #006930;
                      }
                    }
                  }
                }
              }

              > .redeem-balance {
                display: grid;
                grid-template-columns: auto auto auto;
                align-items: center;
                gap: 2em;

                width: 100%;

                > .amount-to-pay {
                  display: flex;
                  flex-direction: column;
                  align-items: flex-start;
                  gap: 4px;

                  > .amount-to-pay-input-wrapper {
                    display: flex;
                    align-items: flex-end;
                    gap: 8px;

                    > label {
                      white-space: nowrap;
                    }

                    > .amount-to-pay-input {
                      display: flex;
                      align-items: flex-end;
  
                      border-bottom: 1px solid #616161;
  
                      > input {
                        border: 0;
                        outline: none;

                        padding: 0;
                      }

                      > span {
                        transform: translateY(-4px);
                      }
                    }
                  }

                  > .error-msg {
                    font-size: 12px;
                    color: #ED1C24;

                    margin: 0;
                  }
                }

                > .card-cvv-wrapper {
                  display: flex;
                  align-items: center;
                  width: fit-content;
                  width: -moz-fit-content;

                  > .cvv-input-wrapper {
                    display: flex;
                    flex-direction: column;
                    gap: 4px;
                    > .cvv-input-inner-wrapper {
                      display: flex;
                      align-items: flex-end;
                      justify-content: space-between;
  
                      border-bottom: 1px solid #616161;
                      #cvv {
                        letter-spacing: 1px;
                        @include border-radius(2px);
                        font-size: 1em;

                        border: 0;
                        outline: none;

                        padding: 0;
                      }
              
                      .cvv-explain {
                        text-align: center;
                        position: relative;
                        border: none;

                        transform: translateY(-4px);
              
                        $questionMarkSize: 1.05em;
                        .question-mark {
                          display: inline-flex;
                          justify-content: center;
                          align-items: center;
                          align-content: center;
                          $fontSize: 0.825em;
                          font-size: $fontSize;
                          font-weight: bold;
                          width: $questionMarkSize / clear-units($fontSize);
                          height: $questionMarkSize / clear-units($fontSize);
                          border-radius: 3em;
                          border: 1px solid;
                          box-sizing: border-box;
                          color: #78797a;
                          cursor: default;
                        }
              
                        &:hover > .explanation {
                          display: block;
                        }
              
                        .explanation {
                          $toolTipFontSize: 0.875em;
                          $toolTipArrowSize: 1em;
              
                          display: none;
                          position: absolute;
                          font-size: $toolTipFontSize;
                          $width: 24em;
                          width: $width;
                          bottom: ($questionMarkSize / clear-units($toolTipFontSize)) + $toolTipArrowSize;
                          left: $width / -2 + $questionMarkSize / 2 / clear-units($toolTipFontSize);
                          box-sizing: border-box;
                          padding: 1em;
                          z-index: 120;
                          line-height: 1.2;
                          text-align: left;
                          background-color: #ffffff;
                          @include border-radius(5px);
                          @include box-shadow(0 0 10px -1px gray);
              
                          .general-text {
                            display: block;
                            padding-bottom: 1em;
                          }
              
                          img, .detailed-text {
                            display: inline-block;
                            vertical-align: middle;
                          }
              
                          img {
                            width: 48%;
                          }
              
                          .detailed-text {
                            width: 44%;
                            font-size: 0.9em;
                            color: #ed7d10;
                            text-align: left;
                            padding-left: 1em;
                            @include box-sizing(border-box);
                          }
              
                          .arrow {
                            position: absolute;
                            @include rotate(45);
                            width: $toolTipArrowSize;
                            height: $toolTipArrowSize;
                            top: 100%;
                            left: 50%;
                            margin-top: $toolTipArrowSize / -2;
                            margin-left: $toolTipArrowSize / -2;
                            padding: 0;
                            background-color: #ffffff;
                            @include box-shadow(3px 3px 6px -3px grey);
                          }
                        }
                      }
                    }

                    > .error-msg {
                      margin: 0;

                      font-size: 12px;
                      color: #ED1C24;
                    }
                  }
                }
              }
            }
  
            .input-and-balance {
              display: flex;
              flex-direction: column;
              gap: 10px;

              width: 100%;
  
              > .gift-card-number-input-wrapper {
                display: flex;
                align-items: center;
                gap: 16px;

                > .gift-card-number-input-inner-wrapper {
                  display: flex;
                  align-items: center;
                  gap: 8px;

                  > .input-wrapper {
                    display: flex;
                    align-items: stretch;

                    border: 1px solid #C8C8C8;
                    
                    border-radius: 256px;
  
                    > .gift-card-number-input {
                      padding: 0.5em;
  
                      width: auto;
  
                      outline: none;
                      border: none;

                      color: #000;
                    }
      
                    > .check-btn {
                      border-end-end-radius: 256px;
                      border-start-end-radius: 256px;
                      border-start-start-radius: 0;
                      border-end-start-radius: 0;
  
                      cursor: pointer;
                    }
                  }
                }

                > .cvv-wrapper {
                  display: flex;
                  align-items: center;
                  gap: 8px;

                  width: 100px;
                  > input {
                    border: 1px solid #C8C8C8;
                    border-radius: 256px;

                    outline: none;

                    padding: .5em;

                    font-size: 14px;
                    color: #A0A0A0;
                  }
                }
              }
  
              > .card-number-wrapper {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 8px;

                width: 100%;

                > div {
                  display: flex;
                  align-items: center;
                  gap: 3em;

                  > .balance-wrapper {
                    display: flex;
                    align-items: center;
                    gap: 4px;
                    > svg {
                      > use {
                        fill: #006930;
                      }
                    }
                  }
    
                  > .reset-btn-wrapper {
                    text-align: end;
                    align-self: center;
    
                    > .reset-btn {
                      text-decoration: underline;
                      color: #2F80ED;
                      font-size: 0.9em;
                      cursor: pointer;
                    }
                  }
                }

                > .card-balance-wrapper {
                  > .card-balance {
                    display: flex;
                    align-items: center;
                    gap: 1em;
                    
                    color: #4B4C4D;
    
                    > .balance {
                      text-align: end;
                    }
    
                    &.no-balance {
                      color: #DB5151;
                    }
                  }
                }
              }

              > .check-btn {
                align-self: flex-start;

                border: 1px solid;
                border-radius: 256px;

                cursor: pointer;

                min-width: 150px;
              }
            }
  
            .redeem-balance {
              width: 100%;

              display: grid;
              grid-template-columns: 50% 50%;
              align-items: flex-end;

              > .amount-to-pay {
                display: flex;
                flex-direction: column;
                gap: 4px;

                > .amount-to-pay-input-wrapper {
                  display: flex;
                  align-items: flex-end;
                  gap: 8px;

                  > label.bold {
                    white-space: nowrap;
                  }
  
                  > .amount-to-pay-input {
                    align-items: center;
                    display: flex;
                    border-bottom: 1px solid black;
    
                    > input {
                      border: none;
                      outline: none;

                      padding: 0;

                      width: 100%;
                      padding-inline-start: 0.3em;
    
                      &.error-amount {
                        color: #DB5151;
                      }
                    }
  
                    > span {
                      color: #A5A5A6;
                      font-size: 17px;

                      transform: translateY(-4px);
                    }
                  }
                }
              }
  
              > .redeem-btn-wrapper {
                margin-inline-start: auto;
  
                > .redeem-btn {
                  min-width: 150px;

                  border: 1px solid;
                  border-radius: 22px;

                  padding: 0.5em;

                  font-weight: 900;
                }
              }

              .error-msg {
                color: red;
                font-weight: 500;
                grid-row: 3;
                justify-self: end;
              }
            }
  
            .disabled-btn {
              opacity: 0.3;
            }
          }
        }

        > .error-wrapper {
          margin-inline-start: 1em;
        }

        .after-redeemed-content {
          padding: 1em;

          height: 100%;
          > .after-redeemed-card-details {
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            height: 100%;

            > .redeemed-card-number {
              display: inline-flex;
              align-items: center;
              gap: 6px;
              
              > svg {
                > use {
                  fill: #006930;
                }
              }
            }

            > .remove-card-btn {
              text-decoration: underline;
              color: #2F80ED;
              font-size: 0.9em;
              cursor: pointer;
            }

            > .info-wrapper {
              align-items: center;
              display: flex;
              gap: 6px;

              .info-icon {
                flex-shrink: 0;
              }
            }
          }
        }
      }
    }

    .tooltip-wrapper {
      position: relative;

      > .preview-icon {
        width: 22px;
        height: 23px;
      }

      > .tooltip-anchor {
        padding: 4px;

        width: 22px;
        height: 22px;

        border: 1px solid #000;
        border-radius: 50%;

        cursor: help;

        display: flex;
        align-items: center;
        justify-content: center;
      }
      > .tooltip-content {
        display: none;

        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 8px;

        padding: 8px;

        box-shadow: 0px 4px 4px 0px #00000040;

        background-color: #fff;

        border-radius: 5px;

        min-width: 256px;
        box-sizing: border-box;

        position: absolute;
        bottom: 100%;
        left: 50%;
        z-index: 9;

        transform: translateX(-50%);

        > .img-wrapper {
          width: 100%;
          height: 100%;

          > img {
            width: 100%;
            height: 100%;

            max-height: 256px;

            object-fit: cover;
          }
        }
      }

      &:hover {
        > .tooltip-content {
          display: flex;
        }
      }

    }
  }

  > .gift-cards-disclaimer {
    margin-top: 1.5em;

    > span {
      font-size: 12px;
      line-height: 16px;
    }

    > a, button {
      text-decoration: underline;

      color: #2F80ED;

      font-size: 12px;

      margin-inline-start: 12px;

      cursor: pointer;
    }
  }

  > .gift-card-dialog-footer {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-block: 1em;
    align-items: center;

    > .next-btn-wrapper {
      text-align: end;

      > .next-btn {
        width: fit-content;
        border-radius: 22px;
        padding-left: 20px;
        padding-right: 20px;
      }
    }
  }
}
