<h1 class="detail-title" ng-bind="::'Account Info' | translate" id="page_title"></h1>
<div class="coupon-points-info" ng-if="$root.config.retailer.settings.showPointBalance === 'true'">
    <span>{{'Your points' | translate}}:</span>
    <div class="coupon-points">
        <svg focusable="false" ng-if="!$root.config.retailer.settings.loyaltyPointsIcon">
            <use xlink:href="#sp-icons-coupon-coin"></use>
        </svg>
        <img ng-if="$root.config.retailer.settings.loyaltyPointsIcon" ng-src="{{$root.config.retailer.settings.loyaltyPointsIcon}}" />
        <span>{{userEditCtrl.user.points}} </span>
    </div>
</div>
<div id="account-info" ng-if="!accountInfoCtrl.isEnabledAddressSettings || !accountInfoCtrl.isUseGMapDeliveryMethod || accountInfoCtrl.isGMapWithZipCodeProvider">
    <form class="form userEditCtrl.user-edit-form" id="user-edit" autocomplete="off" name="accountInfoCtrl.form"
          ng-click="accountInfoCtrl.checkForAutocompleteAddress($event)" ng-submit="accountInfoCtrl.save($event)" novalidate>
        <div class="form-required-fields">{{'Required fields are marked with *' | translate}}</div>

        <br>
        <div class="form-general-message" ng-if="userEditCtrl.externalLoginSettings.isActive">
            {{::'To update details, log in to the yellow app or call *9974 customer service' | translate}}
        </div>

        <div class="detail-container">
            <h2 ng-class="{'smaller-font-size': config.language.id === 4}" class="detail-subtitle" ng-bind="::'Personal Information' | translate"></h2><!--
            --><div class="detail-content account-info">
            <div class="input-group">

                <div class="sp-kikar-input">
                    <label for="first_name" ng-bind="('First name' | translate) + ' *'"></label>
                    <input autocomplete="new-password" type="text" id="first_name" name="firstName" ng-model="userEditCtrl.user.firstName" required maxlength="50"
                           sp-inline-error sp-inline-error-attach-to-parent="div"/>
                </div>

                <div class="sp-kikar-input">
                    <label for="last_name" ng-bind="('Last name' | translate) + ' *'"></label>
                    <input autocomplete="new-password" type="text" id="last_name" name="lastName" ng-model="userEditCtrl.user.lastName" required maxlength="50"
                           sp-inline-error sp-inline-error-attach-to-parent="div"/>
                </div>
                <div class="sp-kikar-input">
                    <label for="birth_date_input" ng-bind="'Birth date' | translate"></label>
                    <input autocomplete="new-password" id="birth_date_input" type="date" format="dd/MM/yyyy" ng-model="userEditCtrl.user.dateOfBirth"/>
                </div>
                <div class="sp-kikar-input sp-radio sp-gender-kikar-input">
                    <span class="input-desc" id="gender">{{::'Gender' | translate}}</span>
                    <span class="gender-buttons" role="radiogroup" aria-labelledby="gender">
                            <sp-radio sp-model="userEditCtrl.user.gender" sp-name="gender" sp-value="$root.GENDERS.MALE">
                                {{::'Male' | translate}}
                            </sp-radio>
                            <sp-radio sp-model="userEditCtrl.user.gender" sp-name="gender" sp-value="$root.GENDERS.FEMALE">
                                {{::'Female' | translate}}
                            </sp-radio>
                            <sp-radio sp-model="userEditCtrl.user.gender" sp-name="gender" sp-value="$root.GENDERS.PREFER_NOT_TO_SAY">
                                {{::'Prefer not to say' | translate}}
                            </sp-radio>
                        </span>
                </div>
            </div>

            <div class="input-group">
                <div class="sp-kikar-input"
                     ng-if="$root.config.retailer.settings.autocompleteAddressField">
                    <label for="autocomplete_address" ng-bind="::('Please type in your Zip code' | translate  | retailerNameReplacement) + ' *'"></label>
                    <input type="text" id="autocomplete_address" name="autocompleteAddress" ng-model="userEditCtrl.user.addresses[0].zipCode"/>
                    <button ng-disabled="userEditCtrl.user.addresses && !userEditCtrl.user.addresses[0].zipCode"
                            ng-click="userEditCtrl.openAutocompleteAddress($event)"
                            class="no-design select rounded">
                        <span class="text">{{::'Find address' | translate}}</span>
                    </button>
                </div>

                <div class="sp-kikar-input"
                     ng-if="$root.config.retailer.settings.enableDefaultCountry">
                    <label for="country_autocomplete_input">{{::'Country' | translate}}</label>
                    <input type="text" id="country_autocomplete_input"
                           name="countryInput"
                           ng-disabled="($root.config.retailer.settings.autocompleteAddressField && !userEditCtrl.user.hasAddressDetails &&
                               $root.config.retailer.settings.enableDefaultCountry) || $root.config.retailer.settings.activeZipProvider.isLockedAddress"
                           ng-change="userEditCtrl.filterCountries()"
                           ng-model="userEditCtrl.user.addresses[0].country"
                           sp-inline-error sp-inline-error-attach-to-parent="div"/>
                    <sp-autocomplete sp-model="userEditCtrl.user.addresses[0].country"
                                     sp-get-options="userEditCtrl.countryNames"
                                     class="auto-complete-scroll"
                    ></sp-autocomplete>
                </div>

                <div class="sp-kikar-input"
                     ng-if="$root.config.retailer.deliveryAreaMethod === $root.SP_SERVICES.DELIVERY_AREA_METHODS.POLYGON ||
                                $root.config.retailer.deliveryAreaMethod === $root.SP_SERVICES.DELIVERY_AREA_METHODS.GOOGLE_MAPS">
                    <label for="address1_input" ng-bind="::'Address' | translate | retailerNameReplacement"></label>
                    <input autocomplete="new-password" type="text" id="address1_input"
                           ng-disabled="($root.config.retailer.settings.autocompleteAddressField && !userEditCtrl.user.hasAddressDetails) ||
                               $root.config.retailer.settings.activeZipProvider.isLockedAddress"
                           name="text1" ng-model="userEditCtrl.user.addresses[0].text1"
                           sp-inline-error sp-inline-error-attach-to-parent="div"/>
                </div>

                <div class="sp-kikar-input">
                    <label for="address2_input" ng-bind="'More details' | translate | retailerNameReplacement"></label>
                    <input autocomplete="new-password" id="address2_input"
                           name="text2"
                           type="text" ng-model="userEditCtrl.user.addresses[0].text2"
                           sp-inline-error sp-inline-error-attach-to-parent="div"/>
                </div>

                <div class="sp-kikar-input"
                     ng-if="$root.config.retailer.deliveryAreaMethod === $root.SP_SERVICES.DELIVERY_AREA_METHODS.POLYGON ||
                                $root.config.retailer.deliveryAreaMethod === $root.SP_SERVICES.DELIVERY_AREA_METHODS.GOOGLE_MAPS">
                    <label for="city_input" ng-bind="::'City' | translate | retailerNameReplacement"></label>
                    <input autocomplete="new-password" type="text" id="city_input"
                           name="city"
                           ng-disabled="($root.config.retailer.settings.autocompleteAddressField && !userEditCtrl.user.hasAddressDetails) ||
                               $root.config.retailer.settings.activeZipProvider.isLockedAddress"
                           name="cityInput" ng-model="userEditCtrl.user.addresses[0].city"
                           sp-inline-error sp-inline-error-attach-to-parent="div"/>
                </div>

                <div class="sp-kikar-input" ng-if="!$root.config.retailer.settings.autocompleteAddressField"
                     ng-if="$root.config.retailer.deliveryAreaMethod === $root.SP_SERVICES.DELIVERY_AREA_METHODS.POLYGON ||
                                $root.config.retailer.deliveryAreaMethod === $root.SP_SERVICES.DELIVERY_AREA_METHODS.GOOGLE_MAPS">
                    <label for="zip_input" ng-bind="::'Zip' | translate | retailerNameReplacement"></label>
                    <input autocomplete="new-password" type="text" id="zip_input" name="zipcode"
                           ng-disabled="$root.config.retailer.settings.autocompleteAddressField"
                           name="cityInput" ng-model="userEditCtrl.user.addresses[0].zipCode"
                           sp-inline-error sp-inline-error-attach-to-parent="div"--/>
                </div>

                <div class="sp-kikar-input"
                     ng-if="$root.config.retailer.deliveryAreaMethod === $root.SP_SERVICES.DELIVERY_AREA_METHODS.ZIP_CODE || $root.config.retailer.deliveryAreaMethod === $root.SP_SERVICES.DELIVERY_AREA_METHODS.CITY">
                    <label for="autocomplete_city_input" ng-bind="::'City' | translate | retailerNameReplacement"></label>
                    <input autocomplete="new-password" type="text" id="autocomplete_city_input"
                           ng-disabled="($root.config.retailer.settings.autocompleteAddressField && !userEditCtrl.user.hasAddressDetails) ||
                               $root.config.retailer.settings.activeZipProvider.isLockedAddress"
                           name="cityInput" ng-model="userEditCtrl.user.addresses[0].city"
                           sp-inline-error sp-inline-error-attach-to-parent="div"/>
                    <sp-autocomplete sp-model="userEditCtrl.user.addresses[0].city"
                                     sp-choose="accountInfoCtrl.onCityChosen()"
                                     sp-get-options="userEditCtrl.getCityAutoCompleteOptions(userEditCtrl.user.addresses[0].city)"
                                     sp-require-match="true"></sp-autocomplete>
                </div>

                <div ng-if="$root.config.retailer.deliveryAreaMethod === $root.SP_SERVICES.DELIVERY_AREA_METHODS.ZIP_CODE || $root.config.retailer.deliveryAreaMethod === $root.SP_SERVICES.DELIVERY_AREA_METHODS.CITY">
                    <div class="sp-kikar-input">
                        <label for="street_input" ng-bind="::'Street' | translate"></label>
                        <input autocomplete="new-password" type="text" id="street_input" name="streetInput" ng-model="userEditCtrl.user.addresses[0].street"
                               sp-inline-error sp-inline-error-attach-to-parent="div"
                               ng-disabled="!userEditCtrl.user.addresses[0].city"/>
                        <sp-autocomplete sp-model="userEditCtrl.user.addresses[0].street"
                                         sp-get-options="accountInfoCtrl.getStreetAutoCompleteOptions()"
                                         sp-require-match="accountInfoCtrl.streetIsRequire"></sp-autocomplete>
                    </div>

                    <div ng-class="{'split': !$root.config.retailer.enableFloorApartment, 'splite50': !$root.config.retailer.enableFloorApartment}">
                        <div class="sp-kikar-input">
                            <label for="houseNumber_input" ng-bind="::'House Number' | translate"></label>
                            <input autocomplete="new-password" type="number" id="houseNumber_input"
                                   ng-disabled="($root.config.retailer.settings.autocompleteAddressField && !userEditCtrl.user.hasAddressDetails) ||
                                       $root.config.retailer.settings.activeZipProvider.isLockedAddress"
                                   name="houseNumberInput" ng-model="userEditCtrl.user.addresses[0].houseNumber"/>
                        </div><!--
                        --><div class="sp-kikar-input" ng-if="!$root.config.retailer.enableFloorApartment">
                        <label for="entry1" ng-bind="::'Entrance' | translate"></label>
                        <input autocomplete="new-password" id="entry1" type="text"
                               name="entry1"
                               ng-disabled="$root.config.retailer.settings.autocompleteAddressField && !userEditCtrl.user.hasAddressDetails"
                               ng-model="userEditCtrl.user.addresses[0].entry" name="entry"
                               sp-inline-error sp-inline-error-attach-to-parent="div"/>
                        <sp-autocomplete
                                sp-model="userEditCtrl.user.addresses[0].entry"
                                sp-get-options="accountInfoCtrl.getEntriesAutoComplete()"
                                sp-require-match="!!userEditCtrl.user.addresses[0].entry"
                                sp-show-on-focus="true">
                        </sp-autocomplete>
                    </div>
                    </div>
                </div>

                <div class="split" ng-if="$root.config.retailer.enableFloorApartment">
                    <div class="sp-kikar-input">
                        <label for="entry" ng-bind="::'Entrance' | translate"></label>
                        <input autocomplete="new-password" id="entry" type="text"
                               name="entry"
                               ng-disabled="$root.config.retailer.settings.autocompleteAddressField && !userEditCtrl.user.hasAddressDetails"
                               ng-model="userEditCtrl.user.addresses[0].entry" name="entry"
                               sp-inline-error sp-inline-error-attach-to-parent="div"/>
                        <sp-autocomplete
                                sp-model="userEditCtrl.user.addresses[0].entry"
                                sp-get-options="accountInfoCtrl.getEntriesAutoComplete()"
                                sp-require-match="!!userEditCtrl.user.addresses[0].entry"
                                sp-show-on-focus="true">
                        </sp-autocomplete>
                    </div><!--
                        --><div class="sp-kikar-input">
                    <label for="floor_input" ng-bind="::'Floor' | translate"></label>
                    <input autocomplete="new-password" type="number" id="floor_input"
                           ng-disabled="$root.config.retailer.settings.autocompleteAddressField && !userEditCtrl.user.hasAddressDetails"
                           name="floor" step="1" ng-model="userEditCtrl.user.addresses[0].floor" sp-inline-error sp-inline-error-attach-to-parent="div"/>
                </div><!--
                        --><div class="sp-kikar-input">
                    <label for="apartment_input" ng-bind="::'Apartment' | translate"></label>
                    <input autocomplete="new-password" type="text" id="apartment_input"
                           ng-disabled="$root.config.retailer.settings.autocompleteAddressField && !userEditCtrl.user.hasAddressDetails"
                           name="apartmentInput" ng-model="userEditCtrl.user.addresses[0].apartment"
                           sp-inline-error sp-inline-error-attach-to-parent="div"/>
                </div><!--
                        -->
                </div>
            </div>

            <div class="checkbox-input" ng-if="$root.config.retailer.isSeniorCitizenActive">
                <sp-checkbox sp-model="accountInfoCtrl.isSeniorCitizen"
                             sp-change="accountInfoCtrl.isSeniorCitizenChange()">
                    {{::'I am a senior citizen' | translate}}
                </sp-checkbox>
            </div>

            <div class="sp-kikar-input">
                <label for="comments" ng-bind="::'Comments' | translate"></label>
                <input id="comments" type="text"
                       name="comments"
                       ng-model="userEditCtrl.user.orderComments"
                       sp-inline-error sp-inline-error-attach-to-parent="div"/>
            </div>

        </div>
        </div>

        <div class="detail-container">
            <h2 class="detail-subtitle" ng-class="{'smaller-font-size': config.language.id === 4}" ng-bind="::'User Details' | translate"></h2><!--
            --><div class="detail-content account-info">
            <div class="input-group">
                <div class="sp-kikar-input">
                    <label for="user_name" ng-bind="::'User name' | translate"></label>
                    <input autocomplete="new-password" id="user_name" type="email" ng-model="userEditCtrl.user.email" disabled/>
                </div>
                <div class="sp-kikar-input">
                    <label for="password" ng-bind="::'Password' | translate"></label>
                    <input autocomplete="new-password" id="password" placeholder="**********" name="password" type="password" ng-pattern="/(?=.*[0-9])(?=.*[^0-9])/" ng-model="userEditCtrl.user.password"
                           autocomplete="new-password" ng-minlength="6" sp-inline-error sp-inline-error-attach-to-parent="div" />
                </div>
                <div class="sp-kikar-input">
                    <label for="confirm-password" ng-bind="::'Confirm password' | translate"></label>
                    <input autocomplete="new-password" id="confirm-password" name="confirmPassword" type="password" ng-model="userEditCtrl.user.confirmPassword"
                           sp-inline-error sp-inline-error-attach-to-parent="div"/>
                </div>
            </div>

            <div class="input-group second">
                <div class="input-wrapper phone-wrapper">
                    <label class="static-label" for="home_phone_number_input" ng-bind="::'Home phone number' | translate"></label>
                    <div ng-class="{'custom-phone-validation half-width': userEditCtrl.editPhonesMode[$root.PHONE_TYPES.HOME]}" class="sp-kikar-input input-wrapper">
                        <span class="custom-phone-validation-item" ng-if="userEditCtrl.editPhonesMode[$root.PHONE_TYPES.HOME] && $root.config.retailer.customPhoneValidation.countryCodes && $root.config.retailer.customPhoneValidation.countryCodes.length">
                                <sp-kikar-dropdown sp-invalid=" userEditCtrl.homePhone != userEditCtrl.user.phonesObj[$root.PHONE_TYPES.HOME].phoneNumber ? !userEditCtrl.validateCountryCode(userEditCtrl.user.phonesObj[$root.PHONE_TYPES.HOME].countryCode, userEditCtrl.user.phonesObj[$root.PHONE_TYPES.HOME].phoneNumber) : false"
                                                   sp-model="userEditCtrl.user.phonesObj[$root.PHONE_TYPES.HOME].countryCode">
                                  <sp-kikar-text>
                                        {{userEditCtrl.user.phonesObj[$root.PHONE_TYPES.HOME].countryCode}}
                                  </sp-kikar-text>
                                  <sp-kikar-option ng-repeat="countryCode in $root.config.retailer.customPhoneValidation.countryCodes" sp-value="countryCode">
                                     {{countryCode}}
                                  </sp-kikar-option>
                                 </sp-kikar-dropdown>
                        </span>
                        <span class="custom-phone-validation-item" ng-if="userEditCtrl.editPhonesMode[$root.PHONE_TYPES.HOME] && $root.config.retailer.customPhoneValidation.areaCodes && $root.config.retailer.customPhoneValidation.areaCodes.length">
                                <sp-kikar-dropdown sp-invalid=" userEditCtrl.homePhone != userEditCtrl.user.phonesObj[$root.PHONE_TYPES.HOME].phoneNumber ? !userEditCtrl.validateAreaCode(userEditCtrl.user.phonesObj[$root.PHONE_TYPES.HOME].areaCode, userEditCtrl.user.phonesObj[$root.PHONE_TYPES.HOME].phoneNumber) : false"
                                                   sp-model="userEditCtrl.user.phonesObj[$root.PHONE_TYPES.HOME].areaCode">
                                  <sp-kikar-text>
                                        {{userEditCtrl.user.phonesObj[$root.PHONE_TYPES.HOME].areaCode}}
                                  </sp-kikar-text>
                                  <sp-kikar-option ng-repeat="areaCode in $root.config.retailer.customPhoneValidation.areaCodes" sp-value="areaCode">
                                     {{areaCode}}
                                  </sp-kikar-option>
                                 </sp-kikar-dropdown>
                        </span><!--
                    --><input autocomplete="new-password" class="phone-input phone-input-account" name="homePhone"
                              placeholder="{{::'Phone number' | translate}}"
                              type="tel"
                              ng-if="userEditCtrl.editPhonesMode[$root.PHONE_TYPES.HOME] && userEditCtrl.customPhoneValidation"
                              ng-model="userEditCtrl.user.phonesObj[$root.PHONE_TYPES.HOME].customPhoneNumber"
                              ng-pattern="userEditCtrl.customPhoneRegExp"
                              ng-focus="userEditCtrl.phoneEditMode($root.PHONE_TYPES.HOME, true)"
                              sp-inline-error/>
                        <input autocomplete="new-password" class="phone-input" name="homePhone" id="home_phone_number_input" type="tel"
                               ng-model="userEditCtrl.user.phonesObj[$root.PHONE_TYPES.HOME].phoneNumber"
                               ng-if="!userEditCtrl.customPhoneValidation"
                               ng-focus="userEditCtrl.phoneEditMode($root.PHONE_TYPES.HOME, true)"
                               ng-pattern="userEditCtrl.phoneRegExp" sp-inline-error sp-inline-error-attach-to-parent="div"/>
                        <input autocomplete="new-password" class="phone-input" name="homePhone" type="tel"
                               ng-model="userEditCtrl.customValidatedPhoneNumbers[$root.PHONE_TYPES.HOME]"
                               ng-if="(userEditCtrl.customValidatedPhoneNumbers[$root.PHONE_TYPES.HOME] && !userEditCtrl.editPhonesMode[$root.PHONE_TYPES.HOME]) && userEditCtrl.customPhoneValidation"
                               ng-change="userEditCtrl.phoneEditMode($root.PHONE_TYPES.HOME, true)"
                               ng-click="userEditCtrl.phoneEditMode($root.PHONE_TYPES.HOME, true)"/>
                        <button type="button"
                                ng-if="userEditCtrl.editPhonesMode[$root.PHONE_TYPES.HOME] && userEditCtrl.user.phonesObj[$root.PHONE_TYPES.HOME].customPhoneNumber !== undefined"
                                class="custom-phone-validation-cancel-button"
                                ng-click="userEditCtrl.phoneEditMode($root.PHONE_TYPES.HOME, false)">Cancel</button>
                        <span class="phone-length-message"
                              ng-if="userEditCtrl.editPhonesMode[$root.PHONE_TYPES.HOME] &&
                              $root.config.retailer.customPhoneValidation.phoneNumberRange.min &&
                               $root.config.retailer.customPhoneValidation.phoneNumberRange.max">
                            {{('custom-phone-validation-range' | translate).replace('{min}', $root.config.retailer.customPhoneValidation.phoneNumberRange.min).replace('{max}', $root.config.retailer.customPhoneValidation.phoneNumberRange.max)}}</span>
                        <span class="phone-length-message" ng-if="userEditCtrl.editPhonesMode[$root.PHONE_TYPES.HOME] &&
                               $root.config.retailer.customPhoneValidation.phoneNumberRange.min &&
                               !$root.config.retailer.customPhoneValidation.phoneNumberRange.max">{{('custom-phone-validation-min' | translate).replace('{min}', $root.config.retailer.customPhoneValidation.phoneNumberRange.min)}}</span>
                        <span class="phone-length-message" ng-if="userEditCtrl.editPhonesMode[$root.PHONE_TYPES.HOME] &&
                              !$root.config.retailer.customPhoneValidation.phoneNumberRange.min &&
                               $root.config.retailer.customPhoneValidation.phoneNumberRange.max">{{('custom-phone-validation-max' | translate).replace('{max}', $root.config.retailer.customPhoneValidation.phoneNumberRange.max)}}</span>
                    </div>
                </div>
                <div class="input-wrapper phone-wrapper">
                    <label for="work_phone_number_input" ng-bind="::'Work phone number' | translate"></label>
                    <div ng-class="{'custom-phone-validation half-width': userEditCtrl.editPhonesMode[$root.PHONE_TYPES.WORK]}" class="sp-kikar-input input-wrapper">
                        <span class="custom-phone-validation-item" ng-if="userEditCtrl.editPhonesMode[$root.PHONE_TYPES.WORK] && $root.config.retailer.customPhoneValidation.countryCodes && $root.config.retailer.customPhoneValidation.countryCodes.length">
                                <sp-kikar-dropdown sp-invalid=" userEditCtrl.workPhone != userEditCtrl.user.phonesObj[$root.PHONE_TYPES.WORK].phoneNumber ? !userEditCtrl.validateCountryCode(userEditCtrl.user.phonesObj[$root.PHONE_TYPES.WORK].countryCode, userEditCtrl.user.phonesObj[$root.PHONE_TYPES.WORK].phoneNumber) : false"
                                                   sp-model="userEditCtrl.user.phonesObj[$root.PHONE_TYPES.WORK].countryCode">
                                  <sp-kikar-text>
                                        {{userEditCtrl.user.phonesObj[$root.PHONE_TYPES.WORK].countryCode}}
                                  </sp-kikar-text>
                                  <sp-kikar-option ng-repeat="countryCode in $root.config.retailer.customPhoneValidation.countryCodes" sp-value="countryCode">
                                     {{countryCode}}
                                  </sp-kikar-option>
                                 </sp-kikar-dropdown>
                        </span>
                        <span class="custom-phone-validation-item" ng-if="userEditCtrl.editPhonesMode[$root.PHONE_TYPES.WORK] && $root.config.retailer.customPhoneValidation.areaCodes && $root.config.retailer.customPhoneValidation.areaCodes.length">
                                <sp-kikar-dropdown sp-invalid=" userEditCtrl.workPhone != userEditCtrl.user.phonesObj[$root.PHONE_TYPES.WORK].phoneNumber ? !userEditCtrl.validateAreaCode(userEditCtrl.user.phonesObj[$root.PHONE_TYPES.WORK].areaCode, userEditCtrl.user.phonesObj[$root.PHONE_TYPES.WORK].phoneNumber) : false"
                                                   sp-model="userEditCtrl.user.phonesObj[$root.PHONE_TYPES.WORK].areaCode">
                                  <sp-kikar-text>
                                        {{userEditCtrl.user.phonesObj[$root.PHONE_TYPES.WORK].areaCode}}
                                  </sp-kikar-text>
                                  <sp-kikar-option ng-repeat="areaCode in $root.config.retailer.customPhoneValidation.areaCodes" sp-value="areaCode">
                                     {{areaCode}}
                                  </sp-kikar-option>
                                 </sp-kikar-dropdown>
                        </span><!--
                    --><input autocomplete="new-password" class="phone-input" name="workPhone" id="work_phone_number_input" type="tel"
                              ng-model="userEditCtrl.user.phonesObj[$root.PHONE_TYPES.WORK].customPhoneNumber"
                              ng-if="userEditCtrl.editPhonesMode[$root.PHONE_TYPES.WORK] && userEditCtrl.customPhoneValidation"
                              ng-focus="userEditCtrl.phoneEditMode($root.PHONE_TYPES.WORK, true)"
                              ng-pattern="userEditCtrl.customPhoneRegExp"
                              sp-inline-error sp-inline-error-attach-to-parent="div"/>
                        <input autocomplete="new-password" class="phone-input" name="workPhone" id="work_phone_number_input" type="tel"
                               ng-model="userEditCtrl.user.phonesObj[$root.PHONE_TYPES.WORK].phoneNumber"
                               ng-if="!userEditCtrl.customPhoneValidation"
                               ng-focus="userEditCtrl.phoneEditMode($root.PHONE_TYPES.WORK, true)"
                               ng-pattern="userEditCtrl.phoneRegExp" sp-inline-error sp-inline-error-attach-to-parent="div"/>
                        <input autocomplete="new-password" class="phone-input" name="workPhone" type="tel"
                               ng-model="userEditCtrl.customValidatedPhoneNumbers[$root.PHONE_TYPES.WORK]"
                               ng-if="(userEditCtrl.customValidatedPhoneNumbers[$root.PHONE_TYPES.WORK] && !userEditCtrl.editPhonesMode[$root.PHONE_TYPES.WORK]) && userEditCtrl.customPhoneValidation"
                               ng-change="userEditCtrl.phoneEditMode($root.PHONE_TYPES.WORK, true)"
                               ng-click="userEditCtrl.phoneEditMode($root.PHONE_TYPES.WORK, true)"/>
                        <button type="button"
                                ng-if="userEditCtrl.editPhonesMode[$root.PHONE_TYPES.WORK] && userEditCtrl.user.phonesObj[$root.PHONE_TYPES.WORK].customPhoneNumber !== undefined"
                                class="custom-phone-validation-cancel-button"
                                ng-click="userEditCtrl.phoneEditMode($root.PHONE_TYPES.WORK, false)">Cancel</button>
                        <span class="phone-length-message"
                              ng-if="userEditCtrl.editPhonesMode[$root.PHONE_TYPES.WORK] &&
                              $root.config.retailer.customPhoneValidation.phoneNumberRange.min &&
                               $root.config.retailer.customPhoneValidation.phoneNumberRange.max">
                            {{('custom-phone-validation-range' | translate).replace('{min}', $root.config.retailer.customPhoneValidation.phoneNumberRange.min).replace('{max}', $root.config.retailer.customPhoneValidation.phoneNumberRange.max)}}</span>
                        <span class="phone-length-message" ng-if="userEditCtrl.editPhonesMode[$root.PHONE_TYPES.WORK] &&
                               $root.config.retailer.customPhoneValidation.phoneNumberRange.min &&
                               !$root.config.retailer.customPhoneValidation.phoneNumberRange.max">{{('custom-phone-validation-min' | translate).replace('{min}', $root.config.retailer.customPhoneValidation.phoneNumberRange.min)}}</span>
                        <span class="phone-length-message" ng-if="userEditCtrl.editPhonesMode[$root.PHONE_TYPES.WORK] &&
                              !$root.config.retailer.customPhoneValidation.phoneNumberRange.min &&
                               $root.config.retailer.customPhoneValidation.phoneNumberRange.max">{{('custom-phone-validation-max' | translate).replace('{max}', $root.config.retailer.customPhoneValidation.phoneNumberRange.max)}}</span>
                    </div>
                </div>
                <div class="input-wrapper phone-wrapper">
                    <label for="mobile_phone_number_input" ng-bind="::'Mobile phone number' | translate"></label>
                    <div ng-class="{'custom-phone-validation half-width': userEditCtrl.editPhonesMode[$root.PHONE_TYPES.MOBILE]}" class="sp-kikar-input input-wrapper">
                        <span class="custom-phone-validation-item" ng-if="userEditCtrl.editPhonesMode[$root.PHONE_TYPES.MOBILE] && $root.config.retailer.customPhoneValidation.countryCodes && $root.config.retailer.customPhoneValidation.countryCodes.length">
                                <sp-kikar-dropdown sp-invalid=" userEditCtrl.mobilePhone === userEditCtrl.user.phonesObj[$root.PHONE_TYPES.MOBILE].phoneNumber ? !userEditCtrl.validateCountryCode(userEditCtrl.user.phonesObj[$root.PHONE_TYPES.MOBILE].countryCode, userEditCtrl.user.phonesObj[$root.PHONE_TYPES.MOBILE].phoneNumber) : false"
                                                   sp-model="userEditCtrl.user.phonesObj[$root.PHONE_TYPES.MOBILE].countryCode">
                                  <sp-kikar-text>
                                        {{userEditCtrl.user.phonesObj[$root.PHONE_TYPES.MOBILE].countryCode}}
                                  </sp-kikar-text>
                                  <sp-kikar-option ng-repeat="countryCode in $root.config.retailer.customPhoneValidation.countryCodes" sp-value="countryCode">
                                     {{countryCode}}
                                  </sp-kikar-option>
                                 </sp-kikar-dropdown>
                        </span>
                        <span class="custom-phone-validation-item" ng-if="userEditCtrl.editPhonesMode[$root.PHONE_TYPES.MOBILE] && $root.config.retailer.customPhoneValidation.areaCodes && $root.config.retailer.customPhoneValidation.areaCodes.length">
                                <sp-kikar-dropdown sp-invalid=" userEditCtrl.mobilePhone === userEditCtrl.user.phonesObj[$root.PHONE_TYPES.MOBILE].phoneNumber ? !userEditCtrl.validateAreaCode(userEditCtrl.user.phonesObj[$root.PHONE_TYPES.MOBILE].areaCode, userEditCtrl.user.phonesObj[$root.PHONE_TYPES.MOBILE].phoneNumber) : false"
                                                   sp-model="userEditCtrl.user.phonesObj[$root.PHONE_TYPES.MOBILE].areaCode">
                                  <sp-kikar-text>
                                        {{userEditCtrl.user.phonesObj[$root.PHONE_TYPES.MOBILE].areaCode}}
                                  </sp-kikar-text>
                                  <sp-kikar-option ng-repeat="areaCode in $root.config.retailer.customPhoneValidation.areaCodes" sp-value="areaCode">
                                     {{areaCode}}
                                  </sp-kikar-option>
                                 </sp-kikar-dropdown>
                        </span><!--
                    --><input autocomplete="new-password" class="phone-input" name="mobilePhone" id="mobile_phone_number_input" type="tel"
                              ng-model="userEditCtrl.user.phonesObj[$root.PHONE_TYPES.MOBILE].customPhoneNumber"
                              ng-if="userEditCtrl.editPhonesMode[$root.PHONE_TYPES.MOBILE] && userEditCtrl.customPhoneValidation"
                              ng-pattern="userEditCtrl.customPhoneRegExp"
                              ng-focus="userEditCtrl.phoneEditMode($root.PHONE_TYPES.MOBILE, true)"
                              sp-inline-error sp-inline-error-attach-to-parent="div"/>
                        <input autocomplete="new-password" class="phone-input" name="mobilePhone" id="mobile_phone_number_input" type="tel"
                               ng-model="userEditCtrl.user.phonesObj[$root.PHONE_TYPES.MOBILE].phoneNumber"
                               ng-if="!userEditCtrl.customPhoneValidation"
                               ng-focus="userEditCtrl.phoneEditMode($root.PHONE_TYPES.MOBILE, true)"
                               ng-pattern="userEditCtrl.phoneRegExp" sp-inline-error sp-inline-error-attach-to-parent="div"/>
                        <input autocomplete="new-password" class="phone-input" name="mobilePhone" type="tel"
                               ng-model="userEditCtrl.customValidatedPhoneNumbers[$root.PHONE_TYPES.MOBILE]"
                               ng-if="!userEditCtrl.editPhonesMode[$root.PHONE_TYPES.MOBILE] && userEditCtrl.customPhoneValidation"
                               ng-change="userEditCtrl.phoneEditMode($root.PHONE_TYPES.MOBILE, true)"
                               ng-click="userEditCtrl.phoneEditMode($root.PHONE_TYPES.MOBILE, true)"/>
                        <button type="button"
                                ng-if="userEditCtrl.editPhonesMode[$root.PHONE_TYPES.MOBILE] && userEditCtrl.user.phonesObj[$root.PHONE_TYPES.MOBILE].customPhoneNumber !== undefined"
                                class="custom-phone-validation-cancel-button"
                                ng-click="userEditCtrl.phoneEditMode($root.PHONE_TYPES.MOBILE, false)">Cancel</button>
                        <span class="phone-length-message"
                              ng-if="userEditCtrl.editPhonesMode[$root.PHONE_TYPES.MOBILE] &&
                              $root.config.retailer.customPhoneValidation.phoneNumberRange.min &&
                               $root.config.retailer.customPhoneValidation.phoneNumberRange.max">
                            {{('custom-phone-validation-range' | translate).replace('{min}', $root.config.retailer.customPhoneValidation.phoneNumberRange.min).replace('{max}', $root.config.retailer.customPhoneValidation.phoneNumberRange.max)}}</span>
                        <span class="phone-length-message" ng-if="userEditCtrl.editPhonesMode[$root.PHONE_TYPES.MOBILE] &&
                               $root.config.retailer.customPhoneValidation.phoneNumberRange.min &&
                               !$root.config.retailer.customPhoneValidation.phoneNumberRange.max">{{('custom-phone-validation-min' | translate).replace('{min}', $root.config.retailer.customPhoneValidation.phoneNumberRange.min)}}</span>
                        <span class="phone-length-message" ng-if="userEditCtrl.editPhonesMode[$root.PHONE_TYPES.MOBILE] &&
                              !$root.config.retailer.customPhoneValidation.phoneNumberRange.min &&
                               $root.config.retailer.customPhoneValidation.phoneNumberRange.max">{{('custom-phone-validation-max' | translate).replace('{max}', $root.config.retailer.customPhoneValidation.phoneNumberRange.max)}}</span>
                    </div>
                </div>
            </div>
        </div>

            <div class="detail-footer">
                <div ng-if="!$root.config.retailer.settings.hidePromotionCheckboxOnUserDetails || $root.config.retailer.settings.hidePromotionCheckboxOnUserDetails == 'false'" class="promotions-checkbox">
                    <sp-checkbox ng-if="!userEditCtrl.externalLoginSettings.isActive" sp-model="userEditCtrl.user.allowSendPromotions">
                        {{::'Allow to send promotions' | translate}}
                    </sp-checkbox>
                </div>

                <div class="save-button">
                    <button class="no-design" type="submit" id="btn-submit" ng-if="!userEditCtrl.externalLoginSettings.isActive">
                        {{::'Save Changes' |translate}}
                    </button>
                    <div aria-live="assertive" class="server-err-msg"></div>
                </div>
            </div>
        </div>
    </form>
</div>
<!-- TODO: paz external iframe -->

<ng-include ng-if="accountInfoCtrl.isEnabledAddressSettings && accountInfoCtrl.isUseGMapDeliveryMethod && !accountInfoCtrl.isGMapWithZipCodeProvider" src="'template/views/user-edit/account-info/partials/index.html'"></ng-include>