.coupon-points-info > .coupon-points > svg {
  fill: $mainColor;
}

#account-info-iframe {
  background: transparent;
  overflow: hidden;
  width: 900px;
  height: 600px;
  margin: 0;
  padding: 0;
}

#user_info_iframe{
  width: 900px;
  height: 600px;
  overflow: hidden;
}
