sp-kikar-dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer;
  @include user-select(none);


  &.display-under .sp-dropdown-options-wrapper {
    z-index: 2;
  }

  .sp-dropdown-text {
    display: inline-block;
    height: 100%;
    color: inherit;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: left;
    padding: 0 0.4em;

    * {
      color: inherit;
      vertical-align: middle;
      display: inline-block;
    }

    .arrow {
      display: inline-block;
      width: 0.86em;
      $height: 0.572em;
      height: $height;
      margin-left: 0.4em;
      max-height: none;
      max-width: none;
      fill: #616161;
    }
  }

  .sp-dropdown-options-wrapper {
    position: absolute;
    top: 100%;
    display: none;
    min-width: 100%;
    right: 0;
    border-top-width: 4px;
    border-top-style: solid;
    color: #000000;
    max-height: 20em;
    overflow: auto;
    padding-bottom: 0.1rem;

    .title {
      .label span.option-content {
        border-bottom: 1px solid #ccc;

        .shop-list-input {
          input {
            padding-left: 5px;
          }
        }
      }
    }

    .sp-kikar-option {
      display: block;
      height: 100%;
      text-align: left;
      padding: 0.16em 0.77em;
      @include box-sizing(border-box);

      &:first-child {
        border-top-width: 0;
      }

      &:hover, &.active {
        background: #ededed;
      }

      .label {
        text-align: left;
        cursor: inherit;
        display: inline-block;
        width: 100%;
        min-height: 2.23em;
        padding: 0.422em 1.243em;
        border-radius: 10em;
        @include box-sizing(border-box);

        > .option-content {
          display: inline-block;
          vertical-align: middle;
          width: 100%;
          box-sizing: border-box;
        }

        > .option-content {
          > * {
            display: inline-block;
            vertical-align: middle;
          }
        }

        .option-checkbox {
          display: none;
        }
      }
    }
  }

  &.open {
    .sp-dropdown-text {
      font-weight: bold;

      .arrow {
        transform: rotate(180deg);
      }
    }

    .sp-dropdown-options-wrapper {
      display: block;
      background-color: #ffffff;
      box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.19);
    }

    &.on-top .sp-dropdown-options-wrapper {
      top: auto;
      bottom: 100%;
    }
  }

  img {
    max-width: 20px;
    max-height: 20px;
  }

  &.input {
    width: 100%;
    @include box-sizing(border-box);
    height: 2.5em;
    border: 1px solid #adadad;
    @include border-radius(5px);
    color: #878787;

    &.narrow {
      width: auto;
      padding-left: 2em;
    }
  }
}

.rtl sp-kikar-dropdown {
  .sp-dropdown-text {
    text-align: right;
  }

  .sp-dropdown-options-wrapper {
    right: auto;
    left: 0;

    .sp-kikar-option {
      text-align: right;

      > .label {
        text-align: right;
        .option-checkbox {
          float: right;
          padding: 0 0 0 0.2em;
        }
      }
    }
  }

  .sp-dropdown-text .arrow {
    margin-left: 0;
    margin-right: 0.4em;
  }
}
