<div class="order-container" refresher="$root.config.language.id">
    <div class="order-details-wrapper">
       <div>
           <div class="clickable back" ng-click="goBack()">&lt;{{'Back' | translate}}</div>
           <p class="order-id">
               {{('Order number' | translate)  + ': ' + orderCtrl.order.id}}

               <span class="customer-service-title" ng-if="orderCtrl.order.orderTypeId === $root.ORDER_TYPES.CUSTOMER_SERVICE">
                {{'Customer service order' | translate}}
            </span>
           </p>
           <div class="order-details">
               <div>
                   {{orderCtrl.order.branchDeliveryTypeId == $root.SP_SERVICES.DELIVERY_TYPES.DELIVERY ? 'Delivery' : 'Pickup' | translate}}:
                   <span class="bold" ng-if="orderCtrl.order.branchDeliveryTypeId == $root.SP_SERVICES.DELIVERY_TYPES.DELIVERY && orderCtrl.order.shippingTimeFromDisplay && $root.config.retailer.twoHourLaw">
                     {{(orderCtrl.order.shippingTimeFrom | date: $root.util.getDateFormat() :'UTC') + ' ' + (orderCtrl.order.shippingTimeFromDisplay | date: $root.util.getTimeFormat() :'UTC')}} ,
                 </span>
                   <span class="bold" ng-if="item.deliveryTimeTypeId !== $root.DELIVERY_TIMES_TYPES.DELIVERY_WITHIN_DAYS && !(orderCtrl.order.branchDeliveryTypeId == $root.SP_SERVICES.DELIVERY_TYPES.DELIVERY && orderCtrl.order.shippingTimeFromDisplay && $root.config.retailer.twoHourLaw)  ">
                    {{(orderCtrl.order.shippingTimeFrom | date: $root.util.getDateTimeFormat() :'UTC') + '-' + (orderCtrl.order.shippingTimeTo | date: $root.util.getTimeFormat() :'UTC')}} ,
                 </span>
                   <span class="bold" ng-if="item.deliveryTimeTypeId === $root.DELIVERY_TIMES_TYPES.DELIVERY_WITHIN_DAYS">
                     {{orderCtrl.order.shippingTimeFrom | date:  $root.util.getDateFormat() :'UTC'}} + {{::orderCtrl.order.deliveryTimeDaysRange}} {{::'business days' | translate}} ,
                 </span>
               </div>
               <span class="order-status order-status-{{:: orderCtrl.order.statusId}}">
                <span class="bold">{{'Order status' | translate}} : </span>
                <span class="status-name" ng-class="{ warning: orderCtrl.order.statusId === $root.ORDER_STATUSES.CANCELLED }">
                    {{$root.ORDER_STATUSES[orderCtrl.order.statusId] | translate}}
                </span>
                <span class="status-description">
                    <span class="question-mark">?</span>
                    <span class="description">
                        {{(orderCtrl.order.statusId | orderStatus) + ' text' | translate}}
                    </span>
                </span>
            </span>
           </div>
       </div>
       <div class="actions-wrapper">
           <div class="order-actions">
                <button class="no-design" ng-click="$root.util.editOrder(orderCtrl.order.id);" ng-if="$root.util.isOrderEditable(orderCtrl.order)">
                    <div class="icon-wrapper">
                        <svg focusable="false">
                            <use xlink:href="#sp-icons-edit-order"></use>
                        </svg>
                    </div>
                    <div class="desc" ng-bind="::'Edit order' | translate"></div>
                </button>
                <button class="no-design" ng-click="orderCtrl.cancelOrder();" ng-if="$root.util.isOrderEditable(orderCtrl.order)">
                    <div class="icon-wrapper">
                        <svg focusable="false">
                            <use xlink:href="#sp-icons-cancel-order"></use>
                        </svg>
                    </div>
                    <div class="desc" ng-bind="::'Cancel order' | translate"></div>
                </button>

                <button class="no-design" ng-click="orderCtrl.addToCart();">
                    <div class="icon-wrapper">
                        <svg focusable="false">
                            <use xlink:href="#sp-icons-add-to-cart"></use>
                        </svg>
                    </div>
                    <div class="desc" ng-bind="::('add to cart' | translate).replace('{cart}', $root.config.retailer.settings.setCartNameToBasket ? $root.config.retailer.settings.setCartNameToBasket : 'cart')"></div>
                </button>

                <button class="no-design" ng-click="orderCtrl.addToShopList();">
                    <div class="icon-wrapper">
                        <svg focusable="false">
                            <use xlink:href="#sp-icons-add-to-list"></use>
                        </svg>
                    </div>
                    <div class="desc" ng-bind="::'Save to shopping list' | translate"></div>
                </button>
           </div>
       </div>
    </div>

    <div class="order-summary">
        <div>
            <div class="item">
                <span>{{ 'Order time' | translate }}</span>
                <span>{{ orderCtrl.order.timePlaced | date: $root.util.getDateTimeFormat() : 'UTC' }}</span>

                <span>{{ 'Substitutions' | translate }}</span>
                <span>
                    {{ 'substitute_preference_' + orderCtrl.order.substitutePreferences + '_label' | translate }}
                </span>

                <span ng-if="orderCtrl.order.fixedAddress">{{'Delivery address' | translate }}</span>
                <span class="address"  ng-if="orderCtrl.order.fixedAddress">{{ orderCtrl.order.fixedAddress }}</span>
            </div>
        </div>

        <div>
            <div class="item">
                <span ng-if="orderCtrl.showReceivedOrderData()" class="title">{{'Number of provided products' | translate}}</span>
                <span ng-if="orderCtrl.showReceivedOrderData()">{{ orderCtrl.itemsCount }}</span>
                <span>{{'Subtotal' | translate}}</span>
                <span>
                  {{($root.util.isOrderInStatuses(orderCtrl.order, $root.ORDER_STATUS_STAGES.FINISH) || $root.util.isOrderInStatuses(orderCtrl.order, $root.ORDER_STATUS_STAGES.READY))
                    ? ((orderCtrl.order.totalAmount - orderCtrl.order.totalTax + orderCtrl.order.ebtSnapTaxSaved) | currency)
                    : ((orderCtrl.order.totalAmount - orderCtrl.order.totalTax + orderCtrl.order.ebtWeightDeposit)  | currency)
                  }}
                </span>

                <span>{{'Delivery fee' | translate}}</span>
                <span>{{ orderCtrl.order.deliveryFee | currency }}</span>

                <span>{{'Tax' | translate}}</span>
                <span>{{ (orderCtrl.order.totalTax - orderCtrl.order.ebtSnapTaxSaved) | currency }}</span>

                <span class="bold">{{ ($root.util.isOrderInStatuses(orderCtrl.order, $root.ORDER_STATUS_STAGES.FINISH) || $root.util.isOrderInStatuses(orderCtrl.order, $root.ORDER_STATUS_STAGES.READY) ? 'Total' :'Total (estimated)') | translate }}</span>
                <span>{{($root.util.isOrderInStatuses(orderCtrl.order, $root.ORDER_STATUS_STAGES.FINISH) || $root.util.isOrderInStatuses(orderCtrl.order, $root.ORDER_STATUS_STAGES.READY))
                        ? ((orderCtrl.order.overallCharged || orderCtrl.order.amountCharged) | currency)
                        : ((orderCtrl.order.totalAmount - orderCtrl.order.ebtSnapTaxSaved + orderCtrl.order.ebtWeightDeposit)  | currency) }}
                </span>
            </div>
        </div>

        <div>
            <table class="secondary-payments">
                <tbody>
                    <tr ng-if="orderCtrl.order.paymentData.mainPayment.paymentMethodId === $root.SP_PAYMENTS.PAYMENT_METHODS.IDS.CALL_CUSTOMER ||
                        orderCtrl.order.paymentData.mainPayment.paymentMethodId === $root.SP_PAYMENTS.PAYMENT_METHODS.IDS.PAYPAL ||
                        orderCtrl.order.paymentData.mainPayment.paymentMethodId === $root.SP_PAYMENTS.PAYMENT_METHODS.IDS.STORE_CREDIT ||
                        orderCtrl.order.paymentData.mainPayment.paymentMethodId === $root.SP_PAYMENTS.PAYMENT_METHODS.IDS.ORGANIZATION">
                        <td>{{'Payment method' | translate}}</td>
                        <td>{{orderCtrl.order.paymentData.mainPayment.paymentMethodId | paymentMethod | translate}}</td>
                    </tr>
                    <tr ng-if="orderCtrl.order.paymentData.mainPayment.paymentMethodId === $root.SP_PAYMENTS.PAYMENT_METHODS.IDS.STORE_CREDIT">
                        <td>{{'Account Number' | translate}}:</td>
                        <td>{{orderCtrl.order.paymentData.mainPayment.paymentToken}}</td>
                    </tr>
                    <tr ng-if="orderCtrl.order.paymentData.mainPayment.paymentMethodId === $root.SP_PAYMENTS.PAYMENT_METHODS.IDS.ORGANIZATION">
                        <td>{{'Org & Order No.' | translate}}:</td>
                        <td>{{orderCtrl.order.paymentData.mainPayment.paymentToken}}</td>
                    </tr>
                    <tr ng-if="orderCtrl.order.paymentData.mainPayment && orderCtrl.order.paymentData.mainPayment.paymentMethodId == $root.SP_PAYMENTS.PAYMENT_METHODS.IDS.CREDIT_CARD">
                        <td>{{(orderCtrl.order.paymentData.tavPlusPayment ? 'Credit card' : 'Payment method ending with') | translate}}</td>
                        <td class="ltr">**** {{ orderCtrl.order.paymentData.mainPayment.lastFourDigits }}</td>
                    </tr>
                    <tr ng-if="orderCtrl.order.paymentData.mainPayment && orderCtrl.order.paymentData.mainPayment.paymentMethodId == $root.SP_PAYMENTS.PAYMENT_METHODS.IDS.CREDIT_CARD">
                        <td>{{'Credit card charge' | translate | creditCardName}}:</td>
                        <td>
                            {{(orderCtrl.order.amountCharged || orderCtrl.order.overallCharged) ? 
                                (orderCtrl.order.paymentData.mainPayment.amountCharged || '0') : (orderCtrl.order.paymentData.mainPayment.initialAmount) | currency }}
                        </td>
                    </tr>
                    <tr ng-if="orderCtrl.order.paymentData.ebtPayment">
                        <td>{{'EBT card' | translate}}</td>
                        <td class="ltr">**** {{ orderCtrl.order.paymentData.ebtPayment.lastFourDigits }}</td>
                    </tr>
                    <tr ng-if="orderCtrl.ebtPayment">
                        <td>{{'EBT SNAP Charge' | translate}}</td>
                        <td>{{ orderCtrl.ebtPayment.ebtSNAPPayment | currency }}</td>
                    </tr>
                    <tr ng-if="orderCtrl.ebtPayment">
                        <td>{{'EBT Cash Charge' | translate}}</td>
                        <td>{{ orderCtrl.ebtPayment.ebtCashPayment | currency }}</td>
                    </tr>
                    <tr ng-if="orderCtrl.showReceivedOrderData() && orderCtrl.order.paymentData.ebtSNAPPayment">
                        <td>{{'EBT Finalized amount' | translate}}</td>
                        <td>{{ orderCtrl.ebtPayment.ebtFinalizedAmount | currency }}</td>
                    </tr>
                    <tr ng-if="orderCtrl.showReceivedOrderData() && orderCtrl.order.paymentData.ebtSNAPPayment && orderCtrl.ebtPayment.ebtSNAPRefund > 0">
                        <td>{{'EBT SNAP refund' | translate}}</td>
                        <td>{{ orderCtrl.ebtPayment.ebtSNAPRefund | currency }}</td>
                    </tr>
                    <tr ng-if="orderCtrl.showReceivedOrderData() && orderCtrl.order.paymentData.ebtCashPayment && orderCtrl.ebtPayment.ebtCashRefund > 0">
                        <td>{{'EBT Cash refund' | translate}}</td>
                        <td>{{ orderCtrl.ebtPayment.ebtCashRefund | currency }}</td>
                    </tr>
                    <tr ng-if="orderCtrl.order.paymentData.secondaryPayments" ng-repeat="payment in orderCtrl.order.paymentData.secondaryPayments">
                        <td>{{ payment.paymentMethodId | paymentMethod | translate }}:</td>
                        <td>{{ (payment.amountCharged || payment.initialAmount)| currency }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <sp-table class="{{$root.config.retailer.settings.isNewPromotionDesignEnabled === 'true' ? 'new-promotion' : ''}}"
              actions="orderCtrl.actions"
              items="orderCtrl.order.lines"
              default-sort-by="index"
              is-reverse="true">
        <sp-table-column style-class="image">
            <p class="product-status"
               ng-class="{replaced : item.substituteId , added: $root.util.isCartLineAdded(item) && ($parent.$parent.orderCtrl.isCartHasOriginalPrices() || item.isPseudo),
                missing :item.status === $root.LINE_STATUS.MISSING || item.originalProductId, disabled: item.isProductOutOfStock}">
                <span ng-if="item.substituteId" ng-bind="'Replaced with' | translate"></span>
                <span ng-if="item.status === $root.LINE_STATUS.MISSING || item.originalProductId" ng-bind="'Out of stock' | translate"></span>
                <span ng-if="$root.util.isCartLineAdded(item) && ($parent.$parent.orderCtrl.isCartHasOriginalPrices() || item.isPseudo) && !(item.status === $root.LINE_STATUS.MISSING || item.originalProductId)" ng-bind="'New product' | translate"></span>
            </p>
            <div class="out-of-stock-container">
                <img ng-src="{{item.product | productImage:'small'}}" ng-class="{'disabled': item.isProductOutOfStock}" alt="{{item.product ? (item.product | productName:item.isCase) : item.name}}"/>
                <span ng-if="!item.product._suggestions && (item.isProductOutOfStock || item.isNeedToShowOutOfStockLabel)" class="out-of-stock">{{'Out of stock' | translate}}</span>
                <span ng-if="item.product._suggestions && (item.isProductOutOfStock || item.isNeedToShowOutOfStockLabel)" class="general-image-wrapper">
                    <span class="out-of-stock suggestions text-1" ng-click="openSuggestions(item)">{{'Out of Stock' | translate}}</span>
                    <span class="out-of-stock suggestions text-2" ng-click="openSuggestions(item)">
                        <span><svg role="presentation" class="replace-arrow" focusable="false"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{'#sp-icons-replace-arrow-' + $root.config.language.direction}}"></use></svg></span>
                        <span>{{'replace_2' | translate}}</span>
                    </span>
                    <span class="suggestions">
                        <svg id="suggestions-icon" class="outline-large" focusable="false"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#sp-icons-out-of-stock-outline"></use></svg>
                        <svg id="suggestions-icon" class="outline-small" focusable="false"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#sp-icons-out-of-stock-outline-small"></use></svg>
                    </span>
                </span>
            </div>

        </sp-table-column>
        <sp-table-column title="{{'Name' | translate}}" sort-by="name" style-class="product-details">
            <div class="brand" ng-class="{'disabled': item.isProductOutOfStock}">{{(item.product.brand.names | name) + (item.product.brand.names && item.product.weight ? ' | ' : '') + (item.product.weight ? (item.product | productWeight:item.product.isCaseMode) : '')}}</div>
            <div class="product-name" ng-class="{'disabled': item.isProductOutOfStock}">
                {{(item.product && item.product.isCoupon && item.couponPersonalizationName !== null) ? item.couponPersonalizationName : (item.product ? (item.product | productName:item.isCase) : item.name )}}
            </div>
<!--            <div class="specials" ng-if="item.product.branch && item.product.branch.specials && $root.config.retailer.settings.isNewPromotionDesignEnabled !== 'true'">-->
<!--                <div class="special-desc" ng-repeat="special in item.product.branch.specials">{{('Special' | translate) + ': ' + special.description}}</div>-->
<!--            </div>-->
        </sp-table-column>
        <sp-table-column style-class="{{$root.config.retailer.settings.isNewPromotionDesignEnabled === 'true' ? 'new-promotion' : 'new-promotion-hide'}}">
            <div ng-class="{'disabled': item.isProductOutOfStock}">
                <sp-promotion product="item.product" is-list="true" ng-if="item.product && item.product.branch.specials.length"></sp-promotion>
            </div>
        </sp-table-column>
        <sp-table-column title="{{'Ordered' | translate}}" sort-by="regularPrice" style-class="quantity-price">
            <div ng-class="{'disabled': item.isProductOutOfStock}">
                <p ng-if="(!$root.util.isCartLineAdded(item) || item.isPseudo) && !item.substituteId">
                    {{ item | cartLineQuantity : undefined : undefined : true }}
                    <span ng-if="item.product.isWeighable && item.product.weight && (!item.soldBy || item.soldBy === $root.PRODUCT_DISPLAY.WEIGHT.name)">
                        {{item.product | unitNames | name}}
                   </span>
                    <span ng-if="item.isCase || !item.isWeightable || item.soldBy === $root.PRODUCT_DISPLAY.UNIT.name">
                            {{(item.isCase ? 'Case' : 'Unit') | translate}}
                    </span>
                </p>
                <p ng-if="($root.util.isCartLineAdded(item) || item.substituteId) && !item.isPseudo">--</p>
                <sp-product-price
                        ng-if="item.originalTotalPrice && $root.util.isCartLineWithSale(item)"
                        regular-price="item.originalTotalPrice"
                        hide-normalize-price="true"
                        show-disclaimer-on-cart-pages="$root.config.retailer.settings.showPriceWithoutBottleDeposit"
                        product="item.product">
                </sp-product-price>
                <sp-product-price
                        ng-if="item.originalPrice && !$root.util.isCartLineWithSale(item)"
                        regular-price="item.regularPrice * item.quantity"
                        sale-price="item.originalTotalPrice"
                        show-disclaimer-on-cart-pages="$root.config.retailer.settings.showPriceWithoutBottleDeposit"
                        product="item.product"
                        hide-normalize-price="true">
                </sp-product-price>
            </div>
        </sp-table-column>
        <sp-table-column style-class="received quantity-price" title="{{'received_items' | translate}}" sort-by="totalPrice">
            <div ng-if="item.status !== $root.LINE_STATUS.MISSING && item.orderStatusId !== $root.ORDER_STATUSES.NEW && !item.originalProductId && item.orderStatusId !== $root.ORDER_STATUSES.CANCELLED && item.orderStatusId !== $root.ORDER_STATUSES.PROCESSING" ng-class="{'disabled': item.isProductOutOfStock}">
                {{ item | cartLineQuantity : (item.weightIncludeTare || item.actualQuantity) : undefined : true }}
                
                <span ng-if="item.isCase || !item.isWeightable">
                        {{(item.isCase ? 'Case' : 'Unit') | translate}}
                </span>

                <span ng-show="!item.isCase && $root.util.isUnitsWeighable(item.product)">
                    {{item.product | unitNames | name}}
                </span>

                <div ng-if="item.priceIncludeTare" tabindex="0">
                    <sp-product-price regular-price="item.priceIncludeTare" hide-normalize-price="true"></sp-product-price>
                </div>
                <div tabindex="0">
                    <sp-product-price
                        ng-if="$root.util.isCartLineWithSale(item)"
                        regular-price="item.totalPrice"
                        show-disclaimer-on-cart-pages="$root.config.retailer.settings.showPriceWithoutBottleDeposit"
                        product="item.product"
                        hide-normalize-price="true">
                    </sp-product-price>
                    <sp-product-price
                        ng-if="!$root.util.isCartLineWithSale(item)"
                        regular-price="item.regularPrice * item.actualQuantity"
                        show-disclaimer-on-cart-pages="$root.config.retailer.settings.showPriceWithoutBottleDeposit"
                        sale-price="item.totalPrice"
                        product="item.product"
                        hide-normalize-price="true">
                    </sp-product-price>
                    <p ng-if="item.priceIncludeTare">{{ 'After package deduction' | translate }}</p>
                </div>
            </div>
            <span ng-if="(item.status === $root.LINE_STATUS.MISSING || item.originalProductId) && item.orderStatusId !== $root.ORDER_STATUSES.CANCELLED && item.orderStatusId !== $root.ORDER_STATUSES.PROCESSING" ng-class="{'disabled': item.isProductOutOfStock}">--</span>
        </sp-table-column>
        <sp-table-column title="{{'Comments' | translate}}">
            <span  ng-class="{'disabled': item.isProductOutOfStock}">
                {{item.productPropertyValueName ? ((item.productPropertyValueName.propertyNames | name:'name') + ': ' + (item.productPropertyValueName.names | name:'name')) : ''}}
                <br ng-if="item.productPropertyValueName && item.comments"/><br ng-if="item.productPropertyValueName && item.comments"/>
                {{item.comments}}
            </span>
        </sp-table-column>
    </sp-table>
</div>
