$topBoxShadow: inset 0 2px 0 0 $secondaryColor;
$bottomBoxShadow: inset 0 -2px 0 0 $secondaryColor;
$leftBoxShadow: inset 2px 0 0 0 $secondaryColor;
$rightBoxShadow: inset -2px 0 0 0 $secondaryColor;

html.order section.view > div {
  .back {
    color: $mainColor;
  }
  .order-container sp-table table tbody tr {
    td {
      &.product-details > .specials {
        color: $mainColor;
      }

      &.image svg {
        fill: $mainColor;
      }

      &.select label.checkbox>.box {
        border: 2px solid $secondaryColor;

        svg {
          fill: $secondaryColor;
        }
      }
    }

    &:hover {
      td {
        box-shadow: $topBoxShadow, $bottomBoxShadow;

        &:first-child {
          box-shadow: $topBoxShadow, $bottomBoxShadow, $leftBoxShadow;
        }

        &:last-child {
          box-shadow: $topBoxShadow, $bottomBoxShadow, $rightBoxShadow;
        }
      }
    }
  }
}

html.rtl.order section.view > div .order-container sp-table table tbody tr:hover td {
  &:first-child {
    box-shadow: $topBoxShadow, $bottomBoxShadow, $rightBoxShadow;
  }

  &:last-child {
    box-shadow: $topBoxShadow, $bottomBoxShadow, $leftBoxShadow;
  }
}