.dialog-wrapper .dialog.choose-area-dialog {
  .dialog-body {
   
    .one-store-content {
    
      .continue-btn-wrapper {
        >button {
          border-radius: 30px;
        }
      }

    }

  }
}