<div class="search-products-wrapper" ng-controller="KikarTemplateSearchProductsCtrl">
    <sp-items
        total="searchCtrl.total"
        no-results-message="{{'sorry_2' | translate}}<br/>{{'We couldn\'t find any products' | translate}}"
        items="searchCtrl.products"
        img="https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/new-template/search-large-icon.png"
        banner-title="{{('Result for “{title}”' | translate).replace('{title}', searchCtrl.title)}}"
        template-url="template/partials/product-item/index.html"
        filters="[searchCtrl.productTagsFilter, searchCtrl.categoriesFilter, searchCtrl.brandFilter]"
        item-class="product"
        on-click="searchCtrl.openProduct($item, $index)"
        on-search-products="searchCtrl.onSearchProducts($model)">
    </sp-items>
</div>