.add-users-dialog {
  width: 45em;
  padding: 10px;

  .add-users-title {
    font-weight: normal;
    text-align: center;
    font-size: 1.6em;
    padding-bottom: 40px;
  }

  .add-users-sub-title {
    text-align: center;
    margin-top: 1em;
    > * {
      margin-top: 1em;
    }

    .red{
      color: red;
    }

    a {
      color: -webkit-link;
      cursor: pointer;
      text-decoration: underline;
    }

    p {
      padding: 10px;
    }
  }

  a.example-link {
    color: #207d3f;
    font-size: 90%;
    text-decoration: none;
    &:hover{
      text-decoration: underline;
    }
  }

  div.row {
    display: table;
    padding-top: 25px;
    width: 100%;
    table-layout: fixed;

    .upload {
      text-align: right;
      padding-right: 10px;


      button {
        padding-right: 2em;
        padding-left: 2em;
      }
    }

    .export {
      background: none;
      border: 1px solid #4B4C4D;
      color: #4B4C4D;
    }

    .close {
      text-align: center;
    }

    .delete-button {
      background-color: red;
    }

    .delete-button:hover{
      background-color: red;
    }

    input {
      font-size: 90%;
      width: 80%;
    }

    > div.column {
      display: table-cell;
    }

    > div.column.width-1 {
      width: 100%;
    }

    > div.column.width-2 {
      width: 50%;
    }

    > div.column.width-3 {
      width: 33%;
    }

    > div.column.width-4 {
      width: 25%;
    }

    > div.column.width-5 {
      width: 20%;
    }
  }
}

.rtl {
  .add-users-dialog div.row .upload {
    text-align: left;
    padding-left: 10px;
  }
}