<div class="add-users-dialog">
    <div class="add-users-title" >
        <span>{{(processOrganizationUsersCtrl.isAddMode() ? 'adding users' : 'remove users') | translate}} - {{::'Uploading a csv file' | translate}}.</span>
    </div>

    <div class="add-users-sub-title">
        <p>{{::'file upload complete. a summary email will be sent to your inbox' | translate}}.</p>
    </div>

    <div class="row">
        <div class="column width-5 close">
            <button type="button" class="export" ng-click="processOrganizationUsersCtrl.close();">
                {{::'close' | translate}}
            </button>
        </div>
    </div>
</div>