<div class="newsletter-arrow-wrapper">
    <span class="arrow"></span>
</div>
<div class="newsletter-bubble" tabindex="0" aria-label="{{'newsletter bubble' | translate}}"
     sp-focus-management previous-element-selector=".newsletterForm"
     next-element-selector="header > .toolbar > .data .retailer-data sp-kikar-dropdown > .sp-dropdown-text">
    <div class="left-box">
        <h5 id="newsletter_title" ng-bind="$root.config.retailer.settings.newsletterTitle"></h5>
        <p ng-bind="$root.config.retailer.settings.newsletterSubTitle"></p>
        <form name="newsletterForm" ng-submit="registerNewsletterUser(newsletterForm, $event)">
            <input aria-label="{{'Email' | translate}}" type="email" name="email" ng-model="$root.newsletterEmailUser" aria-describedby="newsletter_title" placeholder="{{ 'Email' | translate }}" sp-inline-error=required/>
            <sp-checkbox ng-if="hubData" sp-model="hubData.allowSendPromotions">
                {{('I agree to receive promotional content & offers from {company_name} and {hubname}' | translate)
                    .replace('{hubname}', hubData.hubRegisterName)
                    .replace('{company_name}', $root.config.retailer.companyDetails.names | name)
                }}
            </sp-checkbox>
            <sp-captcha is-invalid="$root.captchaNewsletterIsNotValid"></sp-captcha>
            <button class="newsletter-submit" type="submit"
                    ng-disabled="(hubData && !hubData.allowSendPromotions) || !$root.newsletterEmailUser"
                    ng-bind="$root.config.retailer.settings.newsletterSubmitButton">
            </button>
        </form>
    </div>
    <div>
        <img class="newsletter-image" ng-src="{{$root.config.retailer.settings.newsletterImage}}" alt=""/>
        <span class="close-popup" ng-click="closePopup()">
               <img src="https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/close-popup.png" alt="{{'close' | translate}}">
        </span>
    </div>
</div>
