<!-- Filtering by City -->
<div class="address-form-settings mt-8"
    ng-if="!checkoutCtrl.enableAddressFiltering || checkoutCtrl.isAddressFilteringCityMode">

    <div ng-include="'template/views/checkout/partials/drop-pin/cancel-drop-pin.html'" class="w-full" ng-if="checkoutCtrl.isDropPinAddress"></div>

    <div class="input-wrapper gap-8" ng-if="detailsCtrl.addressFormSettings.city.isEnabled && !checkoutCtrl.isDropPinAddress">
        <div class="sp-kikar-input flex-50">
            <!-- City -->
            <label for="city">{{('address_form_field_label_' + detailsCtrl.addressFormSettings.city.label) | translate}}
                {{detailsCtrl.addressFormSettings.city.isMandatory ? '*' : ''}}</label>
            <input id="city" type="text" name="{{'address_form_field_error_' + detailsCtrl.addressFormSettings.city.label}}" ng-keyup="detailsCtrl.setDeliveryTimesAfterInactivity()"
                ng-blur="detailsCtrl.onCityBlur($event)" ng-change="detailsCtrl.onCityChange()"
                ng-model="checkoutCtrl.detailsData.address.city" sp-inline-error sp-inline-error-attach-to-parent="div"
                ng-class="{ 'form-control-error': detailsCtrl.formErrorCtrl.city }"
                sp-kikar-input-dynamic-dimension
                autocomplete="off" ng-required="detailsCtrl.addressFormSettings.city.isMandatory" />
            <sp-autocomplete ng-if="detailsCtrl.isAddressVerificationEnabled"
                sp-model="checkoutCtrl.detailsData.address.city" sp-choose="detailsCtrl.onCityChosen($event)"
                sp-get-options="detailsCtrl.getCityAutoCompleteOptions()" sp-value="option.name">
            </sp-autocomplete>
        </div>
        <div class="flex-50"></div>
    </div>

    <!-- City for drop pin -->
    <div class="input-wrapper gap-8" ng-if="detailsCtrl.addressFormSettings.city.isEnabled && checkoutCtrl.isDropPinAddress">
        <div class="sp-kikar-input flex-50">
            <!-- City -->
            <label for="city">{{('address_form_field_label_' + detailsCtrl.addressFormSettings.city.label) | translate}}
                {{detailsCtrl.addressFormSettings.city.isMandatory ? '*' : ''}}</label>
            <input id="city" type="text" name="{{'address_form_field_error_' + detailsCtrl.addressFormSettings.city.label}}" 
                ng-model="checkoutCtrl.detailsData.address.city" sp-inline-error sp-inline-error-attach-to-parent="div"
                ng-class="{ 'form-control-error': detailsCtrl.formErrorCtrl.city }"
                ng-disabled="checkoutCtrl.droppinDisableFields.city"
                ng-blur="detailsCtrl.onDroppinAddressFieldBlur()"
                class="input-with-edit-icon"
                sp-kikar-input-dynamic-dimension
                autocomplete="off" ng-required="detailsCtrl.addressFormSettings.city.isMandatory" />
            <div ng-click="detailsCtrl.editDroppinAddressField('#city', 'city')" class="btn-edit-address">
                <svg focusable="false" width="24" height="24">
                    <use xlink:href="#sp-icons-black-edit"></use>
                </svg>
                <span class="btn-edit-address__tooltip">{{ 'Edit' | translate }}</span>
            </div>
        </div>
        <div class="flex-50"></div>
    </div>

    <div class="input-wrapper" 
        ng-if="detailsCtrl.isShowAddressField() && !checkoutCtrl.isDropPinAddress"
        ng-class="{ 'unrecognized-address-error': detailsCtrl.isJustDropedNotDetectedAddress() }">
        <div class="w-full sp-kikar-input">
            <!-- Address -->
            <label for="text1">{{('address_form_field_label_' + detailsCtrl.addressFormSettings.address.label) | translate}}
                {{detailsCtrl.addressFormSettings.address.isMandatory ? '*' : ''}}</label>
            <input id="text1" type="text" ng-model="checkoutCtrl.detailsData.address.text1" name="{{'address_form_field_error_' + detailsCtrl.addressFormSettings.address.label}}"
                ng-keyup="detailsCtrl.setDeliveryTimesAfterInactivity()"
                ng-keydown="detailsCtrl.onAddressInputKeyDown()" ng-blur="detailsCtrl.onAddressBlur($event)" sp-inline-error
                sp-inline-error-attach-to-parent="div" ng-required="detailsCtrl.addressFormSettings.address.isMandatory"
                ng-change="detailsCtrl.onAddressChange()" autocomplete="off" 
                sp-kikar-input-dynamic-dimension
                ng-disabled="detailsCtrl.isDisableAddressField($root.FILTER_ADDRESS_MODE.CITY)"
                ng-class="{ 'form-control-error': detailsCtrl.isAddressVerificationEnabled && detailsCtrl.formErrorCtrl.text1 && !checkoutCtrl.detailsData.address.geoCoordinates}"
            />
            <sp-autocomplete
                ng-if="detailsCtrl.isAddressVerificationEnabled && !checkoutCtrl.isGoogleMapDropPinAllow"
                sp-model="checkoutCtrl.detailsData.address.text1"
                sp-choose="detailsCtrl.onAddressChosen($event)"
                sp-get-options="detailsCtrl.getAddressAutoCompleteOptions()"
                sp-value="option.name">
            </sp-autocomplete>
            <sp-autocomplete-address-and-map ng-if="detailsCtrl.isAddressVerificationEnabled && checkoutCtrl.isGoogleMapDropPinAllow" hide-if-empty="true" sp-value="option.name"
                sp-model="checkoutCtrl.detailsData.address.text1" sp-choose="detailsCtrl.onAddressChosen($event)"
                sp-get-options="detailsCtrl.getAddressAutoCompleteOptions()"
                sp-open-google-map="detailsCtrl.openGoogleMapDialog()">
            </sp-autocomplete-address-and-map>
        </div>
    </div>

    <!-- Address for drop pin -->
    <div class="input-wrapper" 
        ng-if="detailsCtrl.isShowAddressField() && checkoutCtrl.isDropPinAddress"
        ng-class="{ 'unrecognized-address-error': detailsCtrl.isJustDropedNotDetectedAddress() }">
        <div class="w-full sp-kikar-input">
            <label for="text1">{{('address_form_field_label_' + detailsCtrl.addressFormSettings.address.label) | translate}}
                {{detailsCtrl.addressFormSettings.address.isMandatory ? '*' : ''}}</label>
            <input id="text1" type="text" ng-model="checkoutCtrl.detailsData.address.text1" name="{{'address_form_field_error_' + detailsCtrl.addressFormSettings.address.label}}"
                sp-inline-error
                ng-disabled="checkoutCtrl.droppinDisableFields.text1"
                ng-blur="detailsCtrl.onDroppinAddressFieldBlur()"
                sp-inline-error-attach-to-parent="div" ng-required="detailsCtrl.addressFormSettings.address.isMandatory"
                class="input-with-edit-icon"
                autocomplete="off" 
                sp-kikar-input-dynamic-dimension
            />
            <div ng-click="detailsCtrl.editDroppinAddressField('#text1', 'text1')" class="btn-edit-address">
                <svg focusable="false" width="24" height="24">
                    <use xlink:href="#sp-icons-black-edit"></use>
                </svg>
                <span class="btn-edit-address__tooltip">{{ 'Edit' | translate }}</span>
            </div>
        </div>
    </div>

    <div ng-include="'template/views/checkout/partials/drop-pin/house-number-street.html'" class="w-full" ng-if="detailsCtrl.isShowStreetAndHouseNumberFields()"></div>

    <div class="input-wrapper gap-4"
        ng-if="detailsCtrl.addressFormSettings.zipCode.isEnabled || detailsCtrl.addressFormSettings.entrance.isEnabled || detailsCtrl.addressFormSettings.apartment.isEnabled">
        <div class="sp-kikar-input flex-30" ng-if="detailsCtrl.addressFormSettings.zipCode.isEnabled && !checkoutCtrl.isDropPinAddress">
            <!-- Zip code -->
            <label for="zipCode">{{('address_form_field_label_' + detailsCtrl.addressFormSettings.zipCode.label) |
                translate}} {{detailsCtrl.addressFormSettings.zipCode.isMandatory ? '*' : ''}}</label>
            <input id="zipCode" type="text" ng-model="checkoutCtrl.detailsData.address.zipCode" name="{{'address_form_field_error_' + detailsCtrl.addressFormSettings.zipCode.label}}"
                ng-keyup="detailsCtrl.setDeliveryTimesAfterInactivity()" ng-blur="detailsCtrl.onZipCodeBlur();"
                ng-change="detailsCtrl.onZipCodeChange()"
                ng-attr-maxlength="{{detailsCtrl.zipCodeLimitLength}}"
                sp-kikar-input-dynamic-dimension
                ng-required="detailsCtrl.addressFormSettings.zipCode.isMandatory" sp-inline-error
                sp-inline-error-attach-to-parent="div" />
        </div>

        <!-- Zip code for drop pin -->
        <div class="sp-kikar-input flex-30" ng-if="detailsCtrl.addressFormSettings.zipCode.isEnabled && checkoutCtrl.isDropPinAddress">
            <label for="zipCode">{{('address_form_field_label_' + detailsCtrl.addressFormSettings.zipCode.label) |
                translate}} {{detailsCtrl.addressFormSettings.zipCode.isMandatory ? '*' : ''}}</label>
            <input id="zipCode" type="text" ng-model="checkoutCtrl.detailsData.address.zipCode" name="{{'address_form_field_error_' + detailsCtrl.addressFormSettings.zipCode.label}}"
                sp-kikar-input-dynamic-dimension
                ng-disabled="checkoutCtrl.droppinDisableFields.zipCode"
                ng-attr-maxlength="{{detailsCtrl.zipCodeLimitLength}}"
                class="input-with-edit-icon"
                ng-blur="detailsCtrl.onDroppinAddressFieldBlur()"
                ng-required="detailsCtrl.addressFormSettings.zipCode.isMandatory" sp-inline-error
                sp-inline-error-attach-to-parent="div" />
            <div ng-click="detailsCtrl.editDroppinAddressField('#zipCode', 'zipCode')" class="btn-edit-address">
                <svg focusable="false" width="24" height="24">
                    <use xlink:href="#sp-icons-black-edit"></use>
                </svg>
                <span class="btn-edit-address__tooltip">{{ 'Edit' | translate }}</span>
            </div>
        </div>

        <div class="sp-kikar-input flex-30" ng-if="detailsCtrl.addressFormSettings.entrance.isEnabled">
            <!-- Entrance -->
            <label for="entry1">{{('address_form_field_label_' + detailsCtrl.addressFormSettings.entrance.label)
                | translate}} {{detailsCtrl.addressFormSettings.entrance.isMandatory ? '*' : ''}}</label>
            <input id="entry1" type="text" ng-model="checkoutCtrl.detailsData.address.entry" name="{{'address_form_field_error_' + detailsCtrl.addressFormSettings.entrance.label}}"
                sp-kikar-input-dynamic-dimension
                sp-inline-error sp-inline-error-attach-to-parent="div"
                ng-required="detailsCtrl.addressFormSettings.entrance.isMandatory" />

        </div>

        <div class="sp-kikar-input flex-30" ng-if="detailsCtrl.addressFormSettings.apartment.isEnabled">
            <!-- Apartment Number -->
            <label for="apartment">{{('address_form_field_label_' + detailsCtrl.addressFormSettings.apartment.label)
                | translate}} {{detailsCtrl.addressFormSettings.apartment.isMandatory ? '*' : ''}}</label>
            <input id="apartment" type="text" name="{{'address_form_field_error_' + detailsCtrl.addressFormSettings.apartment.label}}" ng-model="checkoutCtrl.detailsData.address.apartment"
                sp-kikar-input-dynamic-dimension
                ng-required="detailsCtrl.addressFormSettings.apartment.isMandatory" sp-inline-error
                sp-inline-error-attach-to-parent="div" />
        </div>

        <!-- Placeholder when props is hidden -->
        <div class="flex-30" ng-if="!detailsCtrl.addressFormSettings.zipCode.isEnabled"></div>
        <div class="flex-30" ng-if="!detailsCtrl.addressFormSettings.entrance.isEnabled"></div>
        <div class="flex-30" ng-if="!detailsCtrl.addressFormSettings.apartment.isEnabled"></div>
    </div>

    <div class="input-wrapper gap-4"
        ng-if="detailsCtrl.addressFormSettings.buildingCode.isEnabled || detailsCtrl.addressFormSettings.state.isEnabled">
        <div class="sp-kikar-input flex-20" ng-if="detailsCtrl.addressFormSettings.buildingCode.isEnabled">
            <!-- Building Code -->
            <label for="buildingCode">{{('address_form_field_label_' + detailsCtrl.addressFormSettings.buildingCode.label)
                | translate}} {{detailsCtrl.addressFormSettings.buildingCode.isMandatory ? '*' : ''}}</label>
            <input id="buildingCode" type="text" name="{{'address_form_field_error_' + detailsCtrl.addressFormSettings.buildingCode.label}}"
                ng-model="checkoutCtrl.detailsData.address.buildingCode"
                ng-required="detailsCtrl.addressFormSettings.buildingCode.isMandatory" sp-inline-error
                sp-kikar-input-dynamic-dimension
                sp-inline-error-attach-to-parent="div" maxlength="255" />
        </div>
        <div class="sp-kikar-input flex-20" ng-if="detailsCtrl.addressFormSettings.state.isEnabled && !checkoutCtrl.isDropPinAddress">
            <!-- State -->
            <label for="state">{{('address_form_field_label_' + detailsCtrl.addressFormSettings.state.label)
                | translate}} {{detailsCtrl.addressFormSettings.state.isMandatory ? '*' : ''}}</label>
            <input id="state" type="text" name="{{'address_form_field_error_' + detailsCtrl.addressFormSettings.state.label}}" ng-model="checkoutCtrl.detailsData.address.state"
                ng-required="detailsCtrl.addressFormSettings.state.isMandatory" sp-inline-error
                ng-keyup="detailsCtrl.setDeliveryTimesAfterInactivity()"
                ng-blur="detailsCtrl.setDeliveryTimes();" 
                sp-kikar-input-dynamic-dimension
                sp-inline-error-attach-to-parent="div" maxlength="255" />
        </div>
        <div class="sp-kikar-input flex-20" ng-if="detailsCtrl.addressFormSettings.state.isEnabled && checkoutCtrl.isDropPinAddress">
            <!-- State for drop pin -->
            <label for="state">{{('address_form_field_label_' + detailsCtrl.addressFormSettings.state.label)
                | translate}} {{detailsCtrl.addressFormSettings.state.isMandatory ? '*' : ''}}</label>
            <input id="state" type="text" name="{{'address_form_field_error_' + detailsCtrl.addressFormSettings.state.label}}" ng-model="checkoutCtrl.detailsData.address.state"
                ng-required="detailsCtrl.addressFormSettings.state.isMandatory" sp-inline-error
                ng-disabled="checkoutCtrl.droppinDisableFields.state"
                ng-blur="detailsCtrl.onDroppinAddressFieldBlur()"
                class="input-with-edit-icon"
                sp-kikar-input-dynamic-dimension
                sp-inline-error-attach-to-parent="div" maxlength="255" />
            <div ng-click="detailsCtrl.editDroppinAddressField('#state', 'state')" class="btn-edit-address">
                <svg focusable="false" width="24" height="24">
                    <use xlink:href="#sp-icons-black-edit"></use>
                </svg>
                <span class="btn-edit-address__tooltip">{{ 'Edit' | translate }}</span>
            </div>
        </div>

        <!-- Placeholder when props is hidden -->
        <div class="flex-20" ng-if="!detailsCtrl.addressFormSettings.buildingCode.isEnabled"></div>
        <div class="flex-20" ng-if="!detailsCtrl.addressFormSettings.state.isEnabled"></div>
        <div class="flex-60"></div>
    </div>

    <div class="input-wrapper" ng-if="detailsCtrl.addressFormSettings.comments.isEnabled">
        <div class="sp-kikar-input w-full">
            <!-- More details -->
            <label for="moreDetails">{{('address_form_field_label_' + detailsCtrl.addressFormSettings.comments.label)
                | translate}} {{detailsCtrl.addressFormSettings.comments.isMandatory ? '*' : ''}}</label>
            <input id="moreDetails" type="text" name="{{'address_form_field_error_' + detailsCtrl.addressFormSettings.comments.label}}" ng-model="checkoutCtrl.detailsData.address.text2"
                ng-required="detailsCtrl.addressFormSettings.comments.isMandatory" sp-inline-error
                sp-kikar-input-dynamic-dimension
                sp-inline-error-attach-to-parent="div" maxlength="255" />
        </div>
    </div>
</div>

<!-- Filtering by Zip code -->
<div class="address-form-settings mt-8" ng-if="checkoutCtrl.isAddressFilteringZipCodeMode">
    <div ng-include="'template/views/checkout/partials/drop-pin/cancel-drop-pin.html'" class="w-full" ng-if="checkoutCtrl.isDropPinAddress"></div>

    <div class="input-wrapper gap-8" ng-if="detailsCtrl.addressFormSettings.zipCode.isEnabled && !checkoutCtrl.isDropPinAddress">
        <div class="sp-kikar-input flex-50">
            <!-- Zip code -->
            <label for="zipCode">{{('address_form_field_label_' + detailsCtrl.addressFormSettings.zipCode.label) |
                translate}} {{detailsCtrl.addressFormSettings.zipCode.isMandatory ? '*' : ''}}</label>
            <input id="zipCode" type="text" ng-model="checkoutCtrl.detailsData.address.zipCode" name="{{'address_form_field_error_' + detailsCtrl.addressFormSettings.zipCode.label}}"
                ng-keyup="detailsCtrl.setDeliveryTimesAfterInactivity()" ng-blur="detailsCtrl.onZipCodeBlur();"
                ng-change="detailsCtrl.onZipCodeChange()"
                ng-required="detailsCtrl.addressFormSettings.zipCode.isMandatory" sp-inline-error
                ng-attr-maxlength="{{detailsCtrl.zipCodeLimitLength}}"
                sp-kikar-input-dynamic-dimension
                sp-inline-error-attach-to-parent="div" />
            <span focusable="false" class="valid-input-icon" ng-show="checkoutCtrl.isZipCodeValid && checkoutCtrl.detailsData.address.zipCode.length">&#10003;</span>
        </div>
        <div class="flex-50"></div>
    </div>

    <!-- Zip code for drop pin -->
    <div class="input-wrapper gap-8" ng-if="detailsCtrl.addressFormSettings.zipCode.isEnabled && checkoutCtrl.isDropPinAddress">
        <div class="sp-kikar-input flex-50">
            <!-- Zip code -->
            <label for="zipCode">{{('address_form_field_label_' + detailsCtrl.addressFormSettings.zipCode.label) |
                translate}} {{detailsCtrl.addressFormSettings.zipCode.isMandatory ? '*' : ''}}</label>
            <input id="zipCode" type="text" ng-model="checkoutCtrl.detailsData.address.zipCode" name="{{'address_form_field_error_' + detailsCtrl.addressFormSettings.zipCode.label}}"
                ng-disabled="checkoutCtrl.droppinDisableFields.zipCode"
                ng-blur="detailsCtrl.onDroppinAddressFieldBlur()"
                ng-required="detailsCtrl.addressFormSettings.zipCode.isMandatory" sp-inline-error
                class="input-with-edit-icon"
                ng-attr-maxlength="{{detailsCtrl.zipCodeLimitLength}}"
                sp-kikar-input-dynamic-dimension
                sp-inline-error-attach-to-parent="div" />
            <div ng-click="detailsCtrl.editDroppinAddressField('#zipCode', 'zipCode')" class="btn-edit-address">
                <svg focusable="false" width="24" height="24">
                    <use xlink:href="#sp-icons-black-edit"></use>
                </svg>
                <span class="btn-edit-address__tooltip">{{ 'Edit' | translate }}</span>
            </div>
        </div>
        <div class="flex-50"></div>
    </div>

    <div class="input-wrapper" 
        ng-if="detailsCtrl.isShowAddressField() && !checkoutCtrl.isDropPinAddress"
        ng-class="{ 'unrecognized-address-error': detailsCtrl.isJustDropedNotDetectedAddress() }">
        <div class="w-full sp-kikar-input">
            <!-- Address -->
            <label for="text1">{{('address_form_field_label_' + detailsCtrl.addressFormSettings.address.label) | translate}}
                {{detailsCtrl.addressFormSettings.address.isMandatory ? '*' : ''}}</label>
            <input id="text1" type="text" ng-model="checkoutCtrl.detailsData.address.text1" name="{{'address_form_field_error_' + detailsCtrl.addressFormSettings.address.label}}"
                ng-keyup="detailsCtrl.setDeliveryTimesAfterInactivity()"
                ng-keydown="detailsCtrl.onAddressInputKeyDown()" ng-blur="detailsCtrl.onAddressBlur($event)" sp-inline-error
                sp-inline-error-attach-to-parent="div" ng-required="detailsCtrl.addressFormSettings.address.isMandatory"
                ng-change="detailsCtrl.onAddressChange()" autocomplete="off"
                sp-kikar-input-dynamic-dimension
                ng-disabled="detailsCtrl.isDisableAddressField($root.FILTER_ADDRESS_MODE.ZIP_CODE)"
                ng-class="{ 'form-control-error': detailsCtrl.isAddressVerificationEnabled && detailsCtrl.formErrorCtrl.text1 && !checkoutCtrl.detailsData.address.geoCoordinates}" />
            <sp-autocomplete
                ng-if="detailsCtrl.isAddressVerificationEnabled && !checkoutCtrl.isGoogleMapDropPinAllow"
                sp-model="checkoutCtrl.detailsData.address.text1"
                sp-choose="detailsCtrl.onAddressChosen($event)"
                sp-get-options="detailsCtrl.getAddressAutoCompleteOptions()"
                sp-value="option.name">
            </sp-autocomplete>
            <sp-autocomplete-address-and-map ng-if="detailsCtrl.isAddressVerificationEnabled && checkoutCtrl.isGoogleMapDropPinAllow" hide-if-empty="true" sp-value="option.name"
                sp-model="checkoutCtrl.detailsData.address.text1" sp-choose="detailsCtrl.onAddressChosen($event)"
                sp-get-options="detailsCtrl.getAddressAutoCompleteOptions()"
                sp-open-google-map="detailsCtrl.openGoogleMapDialog()">
            </sp-autocomplete-address-and-map>
        </div>
    </div>

    <!-- Address for drop pin -->
    <div class="input-wrapper" 
        ng-if="detailsCtrl.isShowAddressField() && checkoutCtrl.isDropPinAddress"
        ng-class="{ 'unrecognized-address-error': detailsCtrl.isJustDropedNotDetectedAddress() }">
        <div class="w-full sp-kikar-input">
            <label for="text1">{{('address_form_field_label_' + detailsCtrl.addressFormSettings.address.label) | translate}}
                {{detailsCtrl.addressFormSettings.address.isMandatory ? '*' : ''}}</label>
            <input id="text1" type="text" ng-model="checkoutCtrl.detailsData.address.text1" name="{{'address_form_field_error_' + detailsCtrl.addressFormSettings.address.label}}"
                sp-inline-error
                ng-disabled="checkoutCtrl.droppinDisableFields.text1"
                ng-blur="detailsCtrl.onDroppinAddressFieldBlur()"
                sp-inline-error-attach-to-parent="div" ng-required="detailsCtrl.addressFormSettings.address.isMandatory"
                class="input-with-edit-icon"
                autocomplete="off" 
                sp-kikar-input-dynamic-dimension
            />
            <div ng-click="detailsCtrl.editDroppinAddressField('#text1', 'text1')" class="btn-edit-address">
                <svg focusable="false" width="24" height="24">
                    <use xlink:href="#sp-icons-black-edit"></use>
                </svg>
                <span class="btn-edit-address__tooltip">{{ 'Edit' | translate }}</span>
            </div>
        </div>
    </div>

    <div ng-include="'template/views/checkout/partials/drop-pin/house-number-street.html'" class="w-full" ng-if="detailsCtrl.isShowStreetAndHouseNumberFields()"></div>

    <div class="input-wrapper" ng-if="detailsCtrl.addressFormSettings.apartment.isEnabled">
        <div class="w-full sp-kikar-input">
            <!-- Apartment Number -->
            <label for="apartment">{{('address_form_field_label_' + detailsCtrl.addressFormSettings.apartment.label)
                | translate}} {{detailsCtrl.addressFormSettings.apartment.isMandatory ? '*' : ''}}</label>
            <input id="apartment" type="text" name="{{'address_form_field_error_' + detailsCtrl.addressFormSettings.apartment.label}}" ng-model="checkoutCtrl.detailsData.address.apartment"
                ng-required="detailsCtrl.addressFormSettings.apartment.isMandatory" sp-inline-error
                sp-kikar-input-dynamic-dimension
                sp-inline-error-attach-to-parent="div" />
        </div>
    </div>
    <div class="input-wrapper gap-8"
        ng-if="detailsCtrl.addressFormSettings.city.isEnabled || detailsCtrl.addressFormSettings.state.isEnabled">
        <div class="sp-kikar-input flex-50" ng-if="detailsCtrl.addressFormSettings.city.isEnabled && !checkoutCtrl.isDropPinAddress">
            <!-- City -->
            <label for="city">{{('address_form_field_label_' + detailsCtrl.addressFormSettings.city.label) |
                translate}} {{detailsCtrl.addressFormSettings.city.isMandatory ? '*' : ''}}</label>
            <input id="city" type="text" name="{{'address_form_field_error_' + detailsCtrl.addressFormSettings.city.label}}" ng-keyup="detailsCtrl.setDeliveryTimesAfterInactivity()"
                ng-blur="detailsCtrl.onCityBlur($event)" ng-change="detailsCtrl.onCityChange()"
                ng-model="checkoutCtrl.detailsData.address.city"
                ng-required="detailsCtrl.addressFormSettings.city.isMandatory" sp-inline-error
                sp-inline-error-attach-to-parent="div" autocomplete="off"
                sp-kikar-input-dynamic-dimension
                ng-class="{ 'form-control-error': detailsCtrl.formErrorCtrl.city }" />
            <sp-autocomplete ng-if="detailsCtrl.isAddressVerificationEnabled"
                sp-model="checkoutCtrl.detailsData.address.city" sp-choose="detailsCtrl.onCityChosen($event)"
                sp-get-options="detailsCtrl.getCityAutoCompleteOptions()" sp-value="option.name">
            </sp-autocomplete>
        </div>

        <!-- City for drop pin -->
        <div class="sp-kikar-input flex-50" ng-if="detailsCtrl.addressFormSettings.city.isEnabled && checkoutCtrl.isDropPinAddress">
            <!-- City -->
            <label for="city">{{('address_form_field_label_' + detailsCtrl.addressFormSettings.city.label) |
                translate}} {{detailsCtrl.addressFormSettings.city.isMandatory ? '*' : ''}}</label>
            <input id="city" type="text" name="{{'address_form_field_error_' + detailsCtrl.addressFormSettings.city.label}}" 
                ng-model="checkoutCtrl.detailsData.address.city"
                ng-required="detailsCtrl.addressFormSettings.city.isMandatory" sp-inline-error
                sp-inline-error-attach-to-parent="div" autocomplete="off"
                class="input-with-edit-icon"
                sp-kikar-input-dynamic-dimension
                ng-disabled="checkoutCtrl.droppinDisableFields.city"
                ng-blur="detailsCtrl.onDroppinAddressFieldBlur()" />
            <div ng-click="detailsCtrl.editDroppinAddressField('#city', 'city')" class="btn-edit-address">
                <svg focusable="false" width="24" height="24">
                    <use xlink:href="#sp-icons-black-edit"></use>
                </svg>
                <span class="btn-edit-address__tooltip">{{ 'Edit' | translate }}</span>
            </div>
        </div>

        <div class="sp-kikar-input flex-50" ng-if="detailsCtrl.addressFormSettings.state.isEnabled && !checkoutCtrl.isDropPinAddress">
            <!-- State -->
            <label for="state">{{('address_form_field_label_' + detailsCtrl.addressFormSettings.state.label)
                | translate}} {{detailsCtrl.addressFormSettings.state.isMandatory ? '*' : ''}}</label>
            <input id="state" type="text" name="{{'address_form_field_error_' + detailsCtrl.addressFormSettings.state.label}}" ng-model="checkoutCtrl.detailsData.address.state" sp-inline-error
                ng-required="detailsCtrl.addressFormSettings.state.isMandatory" sp-inline-error-attach-to-parent="div"
                ng-keyup="detailsCtrl.setDeliveryTimesAfterInactivity()"
                ng-blur="detailsCtrl.setDeliveryTimes();" 
                sp-kikar-input-dynamic-dimension
                maxlength="255" />
        </div>

        <!-- State for drop pin -->
        <div class="sp-kikar-input flex-50" ng-if="detailsCtrl.addressFormSettings.state.isEnabled && checkoutCtrl.isDropPinAddress">
            <!-- State -->
            <label for="state">{{('address_form_field_label_' + detailsCtrl.addressFormSettings.state.label)
                | translate}} {{detailsCtrl.addressFormSettings.state.isMandatory ? '*' : ''}}</label>
            <input id="state" type="text" name="{{'address_form_field_error_' + detailsCtrl.addressFormSettings.state.label}}" ng-model="checkoutCtrl.detailsData.address.state" sp-inline-error
                ng-required="detailsCtrl.addressFormSettings.state.isMandatory" sp-inline-error-attach-to-parent="div"
                ng-disabled="checkoutCtrl.droppinDisableFields.state"
                ng-blur="detailsCtrl.onDroppinAddressFieldBlur()"
                class="input-with-edit-icon"
                sp-kikar-input-dynamic-dimension
                maxlength="255" />
            <div ng-click="detailsCtrl.editDroppinAddressField('#state', 'state')" class="btn-edit-address">
                <svg focusable="false" width="24" height="24">
                    <use xlink:href="#sp-icons-black-edit"></use>
                </svg>
                <span class="btn-edit-address__tooltip">{{ 'Edit' | translate }}</span>
            </div>
        </div>

        <!-- Placeholder when props is hidden -->
        <div class="flex-50" ng-if="!detailsCtrl.addressFormSettings.city.isEnabled"></div>
        <div class="flex-50" ng-if="!detailsCtrl.addressFormSettings.state.isEnabled"></div>
    </div>

    <div class="input-wrapper" ng-if="detailsCtrl.addressFormSettings.comments.isEnabled">
        <div class="sp-kikar-input w-full">
            <!-- More details -->
            <label for="moreDetails">{{('address_form_field_label_' + detailsCtrl.addressFormSettings.comments.label)
                | translate}} {{detailsCtrl.addressFormSettings.comments.isMandatory ? '*' : ''}}</label>
            <input id="moreDetails" type="text" name="{{'address_form_field_error_' + detailsCtrl.addressFormSettings.comments.label}}" ng-model="checkoutCtrl.detailsData.address.text2"
                ng-required="detailsCtrl.addressFormSettings.comments.isMandatory" sp-inline-error
                sp-kikar-input-dynamic-dimension
                sp-inline-error-attach-to-parent="div" maxlength="255" />
        </div>
    </div>

    <div class="input-wrapper gap-8"
        ng-if="detailsCtrl.addressFormSettings.entrance.isEnabled || detailsCtrl.addressFormSettings.buildingCode.isEnabled">
        <div class="sp-kikar-input flex-50" ng-if="detailsCtrl.addressFormSettings.entrance.isEnabled">
            <!-- Entrance -->
            <label for="entry1">{{('address_form_field_label_' + detailsCtrl.addressFormSettings.entrance.label)
                | translate}} {{detailsCtrl.addressFormSettings.entrance.isMandatory ? '*' : ''}}</label>
            <input id="entry1" type="text" ng-model="checkoutCtrl.detailsData.address.entry" name="{{'address_form_field_error_' + detailsCtrl.addressFormSettings.entrance.label}}"
                sp-inline-error sp-inline-error-attach-to-parent="div"
                sp-kikar-input-dynamic-dimension
                ng-required="detailsCtrl.addressFormSettings.entrance.isMandatory" />

        </div>
        <div class="sp-kikar-input flex-50" ng-if="detailsCtrl.addressFormSettings.buildingCode.isEnabled">
            <!-- Building Code -->
            <label for="buildingCode">{{('address_form_field_label_' + detailsCtrl.addressFormSettings.buildingCode.label)
                | translate}} {{detailsCtrl.addressFormSettings.buildingCode.isMandatory ? '*' : ''}}</label>
            <input id="buildingCode" type="text" name="{{'address_form_field_error_' + detailsCtrl.addressFormSettings.buildingCode.label}}"
                ng-model="checkoutCtrl.detailsData.address.buildingCode" sp-inline-error
                ng-required="detailsCtrl.addressFormSettings.buildingCode.isMandatory"
                sp-kikar-input-dynamic-dimension
                sp-inline-error-attach-to-parent="div" maxlength="255" />
        </div>

        <!-- Placeholder when props is hidden -->
        <div class="flex-50" ng-if="!detailsCtrl.addressFormSettings.entrance.isEnabled"></div>
        <div class="flex-50" ng-if="!detailsCtrl.addressFormSettings.buildingCode.isEnabled"></div>
    </div>
</div>