<div class="address-form-settings mt-8">

    <!-- Zip code -->
    <div class="input-wrapper" ng-if="$root.config.retailer.settings.autocompleteAddressField">
        <div class="sp-kikar-input w-full">
            <label for="autocomplete_address">{{'Please type in your Zip code' | translate | retailerNameReplacement}}
                *</label>
            <div class="container">
                <input type="text" id="autocomplete_address" name="autocomplete_address" class="content"
                    ng-model="checkoutCtrl.detailsData.address.zipCode" />
                <button class="no-design select rounded" ng-disabled="!checkoutCtrl.detailsData.address.zipCode"
                    ng-click="detailsCtrl.openAutocompleteAddress($event)">
                    <span class="text">{{::'Find address' | translate}}</span>
                </button>
            </div>
        </div>
    </div>


    <div class="input-wrapper gap-8">
        <!-- Country -->
        <div class="sp-kikar-input" ng-if="$root.config.retailer.settings.enableDefaultCountry">
            <label for="country_autocomplete_input" class="label">{{'Country' | translate}} *</label>
            <input type="text" id="country_autocomplete_input" name="country" class="content"
                ng-disabled="($root.config.retailer.settings.autocompleteAddressField && !checkoutCtrl.hasAddressDetails &&
                       !checkoutCtrl.detailsData.address.country) || $root.config.retailer.settings.activeZipProvider.isLockedAddress" ng-change="detailsCtrl.filterCountryNames()"
                ng-blur="detailsCtrl.onCountryBlur()" ng-model="checkoutCtrl.detailsData.address.country"
                sp-inline-error required />
            <sp-autocomplete sp-model="checkoutCtrl.detailsData.address.country"
                sp-get-options="checkoutCtrl.countryNames"></sp-autocomplete>
        </div>

        <!-- City -->
        <div class="sp-kikar-input">
            <label for="city" ng-bind="('City' | translate | retailerNameReplacement) + ' *'"></label>
            <input ng-if="!detailsCtrl.isAddressVerificationEnabled" id="city" type="text"
                ng-model="checkoutCtrl.detailsData.address.city" name="city"
                ng-keyup="detailsCtrl.setDeliveryTimesAfterInactivity()" ng-blur="detailsCtrl.setDeliveryTimes();"
                ng-disabled="($root.config.retailer.settings.autocompleteAddressField && !checkoutCtrl.hasAddressDetails &&
                                !checkoutCtrl.detailsData.address.city) || $root.config.retailer.settings.activeZipProvider.isLockedAddress"
                sp-inline-error sp-inline-error-attach-to-parent="div" required />
            <input ng-if="detailsCtrl.isAddressVerificationEnabled" id="city" type="text" name="city"
                ng-keyup="detailsCtrl.setDeliveryTimesAfterInactivity()" ng-blur="detailsCtrl.onCityBlur()"
                ng-change="detailsCtrl.onCityChange()" ng-model="checkoutCtrl.detailsData.address.city"
                ng-disabled="($root.config.retailer.settings.autocompleteAddressField && !checkoutCtrl.hasAddressDetails &&
                                !checkoutCtrl.detailsData.address.city) || $root.config.retailer.settings.activeZipProvider.isLockedAddress" required sp-inline-error sp-inline-error-attach-to-parent="div"
                autocomplete="off" ng-class="{ 'form-control-error': detailsCtrl.formErrorCtrl.city }" />
            <sp-autocomplete ng-if="detailsCtrl.isAddressVerificationEnabled"
                sp-model="checkoutCtrl.detailsData.address.city" sp-choose="detailsCtrl.onCityChosen($event)"
                sp-get-options="detailsCtrl.getCityAutoCompleteOptions()" sp-value="option.name">
            </sp-autocomplete>
        </div>
    </div>

    <!-- Address -->
    <div class="whole-line sp-kikar-input" 
        ng-class="{ 'unrecognized-address-error': !checkoutCtrl.detailsData.address.text1 && checkoutCtrl.detailsData.address.isShowEditAddress }">
        <label for="text1"
            ng-bind="('Address' | translate | retailerNameReplacement) + ((detailsCtrl.streetIsRequire || detailsCtrl.isAddressVerificationEnabled) ? ' *' : '')"></label>
        <span ng-if="checkoutCtrl.detailsData.address.isShowEditAddress" class="gg-map-confirmation-text">
            {{ 'Is this address correct? You can now edit and refine it' | translate }}
        </span>
        <input id="text1" type="text" ng-model="checkoutCtrl.detailsData.address.text1" name="text1"
            ng-keyup="detailsCtrl.setDeliveryTimesAfterInactivity()" ng-keydown="detailsCtrl.onAddressInputKeyDown()"
            ng-blur="detailsCtrl.onAddressBlur()"
            ng-disabled="($root.config.retailer.settings.autocompleteAddressField && !checkoutCtrl.hasAddressDetails &&
                            !checkoutCtrl.detailsData.address.text1) || $root.config.retailer.settings.activeZipProvider.isLockedAddress || checkoutCtrl.detailsData.address.isDisabledAddressField"
            sp-inline-error sp-inline-error-attach-to-parent="div"
            ng-required="!checkoutCtrl.detailsData.address.geoCoordinates && (detailsCtrl.streetIsRequire || detailsCtrl.isAddressVerificationEnabled)"
            ng-change="detailsCtrl.onAddressChange()" autocomplete="off"
            ng-class="{ 'form-control-error': detailsCtrl.isAddressVerificationEnabled && detailsCtrl.formErrorCtrl.text1 && !checkoutCtrl.detailsData.address.geoCoordinates}" />
        <sp-autocomplete ng-if="detailsCtrl.isAddressVerificationEnabled && !detailsCtrl.streetIsRequire"
            sp-model="checkoutCtrl.detailsData.address.text1" sp-choose="detailsCtrl.onAddressChosen($event)"
            sp-get-options="detailsCtrl.getAddressAutoCompleteOptions()" sp-value="option.name">
        </sp-autocomplete>
        <sp-autocomplete-address-and-map
            ng-if="detailsCtrl.isAddressVerificationEnabled && detailsCtrl.streetIsRequire && checkoutCtrl.detailsData.address.hasHouseNumberAndRoute"
            hide-if-empty="true" sp-value="option.name" sp-model="checkoutCtrl.detailsData.address.text1"
            sp-choose="detailsCtrl.onAddressChosen($event)" sp-get-options="detailsCtrl.getAddressAutoCompleteOptions()"
            sp-open-google-map="detailsCtrl.openGoogleMapDialog()">
        </sp-autocomplete-address-and-map>
        <div ng-if="checkoutCtrl.detailsData.address.isShowEditAddress" ng-click="detailsCtrl.editUnrecognizedAddress()"
            class="btn-edit-address">
            <svg focusable="false" width="24" height="24">
                <use xlink:href="#sp-icons-black-edit"></use>
            </svg>
            <span class="btn-edit-address__tooltip">{{ 'Edit Your Address' | translate }}</span>
        </div>
    </div>

    <div class="input-wrapper" ng-if="!$root.config.retailer.enableFloorApartment">
        <div class="sp-kikar-input w-full">
            <label for="text2" ng-bind="'More Details' | translate | retailerNameReplacement"></label>
            <input id="text2" type="text" ng-model="checkoutCtrl.detailsData.address.text2" name="text2" sp-inline-error
                sp-inline-error-attach-to-parent="div" ng-keyup="detailsCtrl.setDeliveryTimesAfterInactivity()"
                ng-blur="detailsCtrl.setDeliveryTimes();" maxlength="255"
                placeholder="{{'Apartment, Suite, Building, Floor, etc.' | translate}}" />
        </div>
    </div>

    <div class="input-wrapper gap-8" ng-if="$root.config.retailer.enableFloorApartment">
        <div class="sp-kikar-input flex-50">
            <label for="moreDetails" ng-bind="'More Details' | translate | retailerNameReplacement"></label>
            <input id="moreDetails" type="text" name="text2" ng-model="checkoutCtrl.detailsData.address.text2"
                sp-inline-error sp-inline-error-attach-to-parent="div" maxlength="255" />
        </div>

        <div class="input-wrapper gap-4 flex-50">
            <div class="sp-kikar-input">
                <label for="entry1" ng-bind="'Entrance' | translate"></label>
                <input id="entry1" type="text" ng-model="checkoutCtrl.detailsData.address.entry" name="entry"
                    ng-disabled="$root.config.retailer.settings.autocompleteAddressField && !checkoutCtrl.hasAddressDetails && !checkoutCtrl.detailsData.address.entry"
                    sp-inline-error sp-inline-error-attach-to-parent="div" placeholder="{{'Select' | translate}}"
                    ng-keyup="detailsCtrl.setDeliveryTimesAfterInactivity()" ng-blur="detailsCtrl.setDeliveryTimes()" />
                <sp-autocomplete sp-model="checkoutCtrl.detailsData.address.entry"
                    sp-get-options="detailsCtrl.getEntriesAutoComplete()" sp-reload-options-on="checkout.city.change"
                    sp-require-match="!!checkoutCtrl.detailsData.address.entry" sp-show-on-focus="true">
                </sp-autocomplete>
            </div>

            <div class="sp-kikar-input">
                <label for="floor" ng-bind="'Floor' | translate"></label>
                <input id="floor" type="number" name="floor" step="1" ng-model="checkoutCtrl.detailsData.address.floor"
                    ng-disabled="$root.config.retailer.settings.autocompleteAddressField && !checkoutCtrl.hasAddressDetails && !checkoutCtrl.detailsData.address.floor"
                    sp-inline-error sp-inline-error-attach-to-parent="div" />
            </div>

            <div class="sp-kikar-input">
                <label for="apartment" ng-bind="'Apartment' | translate"></label>
                <input id="apartment" type="text" name="apartment" ng-model="checkoutCtrl.detailsData.address.apartment"
                    ng-disabled="$root.config.retailer.settings.autocompleteAddressField && !checkoutCtrl.hasAddressDetails && !checkoutCtrl.detailsData.address.apartment"
                    sp-inline-error sp-inline-error-attach-to-parent="div" />
            </div>
        </div>
    </div>
</div>