<div class="address-form-settings mt-8">
    <div class="input-wrapper" ng-if="$root.config.retailer.settings.autocompleteAddressField">
        <div class="sp-kikar-input w-full">
            <label for="autocomplete_address">{{'Please type in your Zip code' | translate | retailerNameReplacement}}
                *</label>
            <div class="container">
                <input type="text" id="autocomplete_address" name="autocomplete_address" class="content"
                    ng-model="checkoutCtrl.detailsData.address.zipCode" />
                <button class="no-design select rounded" ng-disabled="!checkoutCtrl.detailsData.address.zipCode"
                    ng-click="detailsCtrl.openAutocompleteAddress($event)">
                    <span class="text">{{::'Find address' | translate}}</span>
                </button>
            </div>
        </div>
    </div>

    <div class="input-wrapper" ng-if="$root.config.retailer.settings.enableDefaultCountry">
        <div class="sp-kikar-input w-full">
            <label for="country_autocomplete_input" class="label">{{'Country' | translate}} *</label>
            <input type="text" id="country_autocomplete_input" name="country" class="content"
                ng-disabled="($root.config.retailer.settings.autocompleteAddressField && !checkoutCtrl.hasAddressDetails &&
                       !checkoutCtrl.detailsData.address.country) || $root.config.retailer.settings.activeZipProvider.isLockedAddress" ng-change="detailsCtrl.filterCountryNames()"
                ng-blur="detailsCtrl.onCountryBlur()" ng-model="checkoutCtrl.detailsData.address.country"
                sp-inline-error required />
            <sp-autocomplete sp-model="checkoutCtrl.detailsData.address.country"
                sp-get-options="checkoutCtrl.countryNames"></sp-autocomplete>
        </div>
    </div>

    <div class="input-wrapper gap-8">
        <div class="sp-kikar-input auto-complete-container flex-35">
            <label for="city_autocomplete" ng-bind="('City' | translate) + ' *'"></label>
            <input id="city_autocomplete" type="text" ng-model="checkoutCtrl.detailsData.address.city" name="city"
                ng-change="detailsCtrl.onCityChange()" ng-blur="detailsCtrl.onCityChosen()" sp-inline-error
                sp-inline-error-attach-to-parent="div" required autocomplete="off" />
            <sp-autocomplete sp-model="checkoutCtrl.detailsData.address.city" sp-choose="detailsCtrl.onCityChosen()"
                sp-get-options="detailsCtrl.getCityAutoCompleteOptions()" sp-value="option.name"
                sp-require-match="true">
            </sp-autocomplete>
        </div>
        <div class="sp-kikar-input auto-complete-container flex-35">
            <label for="street" ng-bind="('Street' | translate) + (detailsCtrl.streetIsRequire ? ' *' : '')"></label>
            <input id="street" type="text" ng-model="checkoutCtrl.detailsData.address.street" name="street"
                ng-disabled="($root.config.retailer.settings.autocompleteAddressField && !checkoutCtrl.hasAddressDetails &&
                           !checkoutCtrl.detailsData.address.street) || $root.config.retailer.settings.activeZipProvider.isLockedAddress" sp-inline-error sp-inline-error-attach-to-parent="div"
                ng-required="detailsCtrl.streetIsRequire" autocomplete="off" ng-change="detailsCtrl.onStreetBlur();" />
            <sp-autocomplete sp-choose="detailsCtrl.onStreetBlur();" sp-model="checkoutCtrl.detailsData.address.street"
                sp-get-options="detailsCtrl.getStreetAutoCompleteOptions()"
                sp-require-match="detailsCtrl.streetRequireMatch" sp-reload-options-on="checkout.city.change">
            </sp-autocomplete>
        </div>

        <div class="sp-kikar-input flex-30"  ng-class="{'flex-15': !$root.config.retailer.enableFloorApartment}">
            <label for="houseNumber"
                ng-bind="('House No.' | translate) + (detailsCtrl.streetIsRequire ? ' *' : '')"></label>
            <input id="houseNumber" type="number" ng-model="checkoutCtrl.detailsData.address.houseNumber"
                name="houseNum" ng-required="detailsCtrl.streetIsRequire"
                ng-disabled="($root.config.retailer.settings.autocompleteAddressField && !checkoutCtrl.hasAddressDetails &&
                           !checkoutCtrl.detailsData.address.houseNumber) || $root.config.retailer.settings.activeZipProvider.isLockedAddress" sp-inline-error
                sp-inline-error-attach-to-parent="div" ng-keyup="detailsCtrl.setDeliveryTimesAfterInactivity()"
                ng-blur="detailsCtrl.setDeliveryTimes()" />
        </div>

        <div class="sp-kikar-input flex-15" ng-if="!$root.config.retailer.enableFloorApartment">
            <label for="entry" ng-bind="'Entrance' | translate"></label>
            <input id="entry" type="text" ng-model="checkoutCtrl.detailsData.address.entry" name="entry"
                ng-disabled="($root.config.retailer.settings.autocompleteAddressField && !checkoutCtrl.hasAddressDetails &&
                           !checkoutCtrl.detailsData.address.entry) || $root.config.retailer.settings.activeZipProvider.isLockedAddress" sp-inline-error sp-inline-error-attach-to-parent="div"
                placeholder="{{'Select' | translate}}" ng-keyup="detailsCtrl.setDeliveryTimesAfterInactivity()"
                ng-blur="detailsCtrl.setDeliveryTimes()" />
            <sp-autocomplete sp-model="checkoutCtrl.detailsData.address.entry"
                sp-get-options="detailsCtrl.getEntriesAutoComplete()" sp-reload-options-on="checkout.city.change"
                sp-require-match="!!checkoutCtrl.detailsData.address.entry" sp-show-on-focus="true">
            </sp-autocomplete>
        </div>
    </div>

    <div class="input-wrapper" ng-if="!$root.config.retailer.enableFloorApartment">
        <div class="sp-kikar-input w-full">
            <label for="text2" ng-bind="'More Details' | translate | retailerNameReplacement"></label>
            <input id="text2" type="text" ng-model="checkoutCtrl.detailsData.address.text2" name="text2" sp-inline-error
                sp-inline-error-attach-to-parent="div" ng-keyup="detailsCtrl.setDeliveryTimesAfterInactivity()"
                ng-blur="detailsCtrl.setDeliveryTimes();" maxlength="255"
                placeholder="{{'Apartment, Suite, Building, Floor, etc.' | translate}}" />
        </div>
    </div>

    <div class="input-wrapper gap-8" ng-if="$root.config.retailer.enableFloorApartment">
        <div class="sp-kikar-input flex-50">
            <label for="moreDetails" ng-bind="'More Details' | translate | retailerNameReplacement"></label>
            <input id="moreDetails" type="text" name="text2" ng-model="checkoutCtrl.detailsData.address.text2"
                sp-inline-error sp-inline-error-attach-to-parent="div" maxlength="255" />
        </div>

        <div class="input-wrapper gap-4 flex-50">
            <div class="sp-kikar-input">
                <label for="entry1" ng-bind="'Entrance' | translate"></label>
                <input id="entry1" type="text" ng-model="checkoutCtrl.detailsData.address.entry" name="entry"
                    ng-disabled="$root.config.retailer.settings.autocompleteAddressField && !checkoutCtrl.hasAddressDetails && !checkoutCtrl.detailsData.address.entry"
                    sp-inline-error sp-inline-error-attach-to-parent="div" placeholder="{{'Select' | translate}}"
                    ng-keyup="detailsCtrl.setDeliveryTimesAfterInactivity()" ng-blur="detailsCtrl.setDeliveryTimes()" />
                <sp-autocomplete sp-model="checkoutCtrl.detailsData.address.entry"
                    sp-get-options="detailsCtrl.getEntriesAutoComplete()" sp-reload-options-on="checkout.city.change"
                    sp-require-match="!!checkoutCtrl.detailsData.address.entry" sp-show-on-focus="true">
                </sp-autocomplete>
            </div>

            <div class="sp-kikar-input">
                <label for="floor" ng-bind="'Floor' | translate"></label>
                <input id="floor" type="number" name="floor" step="1" ng-model="checkoutCtrl.detailsData.address.floor"
                    ng-disabled="$root.config.retailer.settings.autocompleteAddressField && !checkoutCtrl.hasAddressDetails && !checkoutCtrl.detailsData.address.floor"
                    sp-inline-error sp-inline-error-attach-to-parent="div" />
            </div>

            <div class="sp-kikar-input">
                <label for="apartment" ng-bind="'Apartment' | translate"></label>
                <input id="apartment" type="text" name="apartment" ng-model="checkoutCtrl.detailsData.address.apartment"
                    ng-disabled="$root.config.retailer.settings.autocompleteAddressField && !checkoutCtrl.hasAddressDetails && !checkoutCtrl.detailsData.address.apartment"
                    sp-inline-error sp-inline-error-attach-to-parent="div" />
            </div>
        </div>
    </div>
</div>