<div class="left-col">
    <h2 id="delivery_address_title">
        {{(checkoutCtrl.detailsData.deliveryMethod.id === $root.SP_SERVICES.DELIVERY_TYPES.DELIVERY ? 'Delivery
        Address' :
        'Your Details') | translate}}</h2>
</div>

<div class="right-col">
    <div class="error-wrapper">
        <label aria-live="assertive" class="server-err-msg"></label>
        <span
            ng-if="checkoutCtrl.otherBranchResponse && checkoutCtrl.detailsData.deliveryMethod.id === $root.SP_SERVICES.DELIVERY_TYPES.DELIVERY">
            {{'Sorry, branch change required' | translate}}.
            <button type="button" class="switch-stores-button no-design" ng-click="detailsCtrl.changeStore($event)">
                {{'Change Store' | translate}}
            </button>
            <br />
            {{'This address could only be delivered from branch' | translate}}
            {{checkoutCtrl.otherBranchResponse.branchName}}
        </span>
    </div>

    <!-- PICKUP SECTION -->
    <div 
        ng-include="'template/views/checkout/partials/checkout-address/picking-section.html'">
    </div>

    <!-- COMMON DELIVERY SECTION -->
    <div
        ng-include="'template/views/checkout/partials/checkout-address/delivery-section.html'" ng-if="checkoutCtrl.detailsData.deliveryMethod.id === $root.SP_SERVICES.DELIVERY_TYPES.DELIVERY && !(
        detailsCtrl.deliveryAreaMethod === $root.SP_SERVICES.DELIVERY_AREA_METHODS.POLYGON ||
        detailsCtrl.deliveryAreaMethod === $root.SP_SERVICES.DELIVERY_AREA_METHODS.GOOGLE_MAPS
        )">
    </div>

    <!-- OLD FORM - DELIVERY SECTION FOR GOOGLE_MAPS, POLYGON -->
    <div ng-include="'template/views/checkout/partials/checkout-address/delivery-zipcode-provider-section.html'" ng-if="checkoutCtrl.detailsData.deliveryMethod.id === $root.SP_SERVICES.DELIVERY_TYPES.DELIVERY && (
        detailsCtrl.deliveryAreaMethod === $root.SP_SERVICES.DELIVERY_AREA_METHODS.POLYGON ||
        detailsCtrl.deliveryAreaMethod === $root.SP_SERVICES.DELIVERY_AREA_METHODS.GOOGLE_MAPS
        ) && detailsCtrl.isGMapWithZipCodeProvider">
    </div>

    <!-- NEW FORM - DELIVERY SECTION FOR GOOGLE_MAPS, POLYGON -->
    <div ng-include="'template/views/checkout/partials/checkout-address/delivery-gmap-polygon-section.html'" ng-if="checkoutCtrl.detailsData.deliveryMethod.id === $root.SP_SERVICES.DELIVERY_TYPES.DELIVERY && (
        detailsCtrl.deliveryAreaMethod === $root.SP_SERVICES.DELIVERY_AREA_METHODS.POLYGON ||
        detailsCtrl.deliveryAreaMethod === $root.SP_SERVICES.DELIVERY_AREA_METHODS.GOOGLE_MAPS
        ) && !detailsCtrl.isGMapWithZipCodeProvider">
    </div>
</div>