<div class="address-form-settings">
    <div class="input-wrapper gap-8">
        <div class="sp-kikar-input flex-50">
            <label for="friendlyName" ng-bind="('Full Name' | translate) + ' *'"></label>
            <input id="friendlyName" type="text" ng-model="checkoutCtrl.detailsData.friendlyName" name="fullName"
                sp-kikar-input-dynamic-dimension
                sp-inline-error sp-inline-error-attach-to-parent="div" required />
        </div>

        <div class="flex-50">
            <label ng-if="detailsCtrl.editPhoneMode" class="static-label custom-phone-validation-kikar-label"
                for="mobile_input" ng-bind="('Phone Number' | translate) + ' *'"></label>
            <div ng-class="{'custom-phone-validation single-input': detailsCtrl.editPhoneMode}"
                class="sp-kikar-input input-wrapper">
                <label ng-if="!detailsCtrl.editPhoneMode" class="static-label" for="mobile_input"
                    ng-bind="('Phone Number' | translate) + ' *'"></label>
                <span class="custom-phone-validation-item" data-dropdown="countryCodeMobile"
                    ng-if="detailsCtrl.editPhoneMode && $root.config.retailer.customPhoneValidation.countryCodes && $root.config.retailer.customPhoneValidation.countryCodes.length">
                    <sp-kikar-dropdown
                        sp-invalid=" detailsCtrl.phoneNumber != checkoutCtrl.detailsData.mobilePhone.phoneNumber ? !detailsCtrl.validateCountryCode(checkoutCtrl.detailsData.mobilePhone.countryCode) : false"
                        sp-model="checkoutCtrl.detailsData.mobilePhone.countryCode">
                        <sp-kikar-text>
                            {{checkoutCtrl.detailsData.mobilePhone.countryCode}}
                        </sp-kikar-text>
                        <sp-kikar-option
                            ng-repeat="countryCode in $root.config.retailer.customPhoneValidation.countryCodes"
                            sp-value="countryCode">
                            {{countryCode}}
                        </sp-kikar-option>
                    </sp-kikar-dropdown>
                </span>
                <span class="custom-phone-validation-item" data-dropdown="areaCodeMobile"
                    ng-if="detailsCtrl.editPhoneMode && $root.config.retailer.customPhoneValidation.areaCodes && $root.config.retailer.customPhoneValidation.areaCodes.length">
                    <sp-kikar-dropdown
                        sp-invalid=" detailsCtrl.phoneNumber != checkoutCtrl.detailsData.mobilePhone.phoneNumber ? !detailsCtrl.validateAreaCode(checkoutCtrl.detailsData.mobilePhone.areaCode) : false"
                        sp-model="checkoutCtrl.detailsData.mobilePhone.areaCode">
                        <sp-kikar-text>
                            {{checkoutCtrl.detailsData.mobilePhone.areaCode}}
                        </sp-kikar-text>
                        <sp-kikar-option ng-repeat="areaCode in $root.config.retailer.customPhoneValidation.areaCodes"
                            sp-value="areaCode">
                            {{areaCode}}
                        </sp-kikar-option>
                    </sp-kikar-dropdown>
                </span>
                <input class="mobile-input" id="mobile_input" type="tel" name="phone"
                    ng-model="checkoutCtrl.detailsData.mobilePhone.customPhoneNumber"
                    ng-if="detailsCtrl.editPhoneMode && detailsCtrl.customPhoneValidation"
                    ng-pattern="detailsCtrl.customPhoneRegExp" ng-click="detailsCtrl.phoneEditMode($event, true)"
                    sp-kikar-input-dynamic-dimension
                    required sp-inline-error />
                <input class="mobile-input" id="mobile_input" type="tel" name="phone"
                    ng-model="checkoutCtrl.detailsData.mobilePhone.phoneNumber"
                    ng-if="!detailsCtrl.customPhoneValidation" ng-pattern="detailsCtrl.phoneRegExp"
                    sp-kikar-input-dynamic-dimension
                ng-click="detailsCtrl.phoneEditMode($event, true)" required sp-inline-error />
                <input required sp-inline-error ng-focus="detailsCtrl.phoneEditMode($event, true)"
                    ng-if="!detailsCtrl.editPhoneMode && detailsCtrl.customPhoneValidation" class="content" type="tel"
                    sp-kikar-input-dynamic-dimension
                    ng-model="checkoutCtrl.compiledPhoneNumber" />
                <button type="button" ng-if="detailsCtrl.editPhoneMode" class="custom-phone-validation-cancel-button"
                    ng-click="detailsCtrl.phoneEditMode($event, false)">Cancel
                </button>
                <span class="phone-length-message" ng-if="detailsCtrl.editPhoneMode &&
                      $root.config.retailer.customPhoneValidation.phoneNumberRange.min &&
                       $root.config.retailer.customPhoneValidation.phoneNumberRange.max">
                    {{('custom-phone-validation-range' | translate).replace('{min}',
                    $root.config.retailer.customPhoneValidation.phoneNumberRange.min).replace('{max}',
                    $root.config.retailer.customPhoneValidation.phoneNumberRange.max)}}
                </span>
                <span class="phone-length-message"
                    ng-if="detailsCtrl.editPhoneMode &&
                       $root.config.retailer.customPhoneValidation.phoneNumberRange.min &&
                       !$root.config.retailer.customPhoneValidation.phoneNumberRange.max">{{('custom-phone-validation-min' |
                    translate).replace('{min}',
                    $root.config.retailer.customPhoneValidation.phoneNumberRange.min)}}</span>
                <span class="phone-length-message"
                    ng-if="detailsCtrl.editPhoneMode &&
                      !$root.config.retailer.customPhoneValidation.phoneNumberRange.min &&
                       $root.config.retailer.customPhoneValidation.phoneNumberRange.max">{{('custom-phone-validation-max' |
                    translate).replace('{max}',
                    $root.config.retailer.customPhoneValidation.phoneNumberRange.max)}}</span>
            </div>
        </div>
    </div>
</div>