<div class="delivery-times-wrapper" refresher="$root.config.language.id">
    <h1 id="page_title" class="detail-title">{{($root.config.retailer.pickup && !$root.config.retailer.delivery ? 'Pickup Times & Areas' : 'Delivery Times & Areas') | translate}}</h1>
        <div class="content substitute-preferences-wrapper" ng-if="retailerDetailsCtrl.isHiddenBranchName">
            <sp-radio options="retailerDetailsCtrl.deliveryOptionsKeys" class="switcher delivery-options-switcher"
                      value-key="option" aria-label="{{'Delivery method options' | translate}}" sp-model="retailerDetailsCtrl.deliveryOptionSelected" sp-change="timesCtrl.onTabsChanged()"
                      role="radiogroup">
                {{retailerDetailsCtrl.deliveryOptions[option] | translate}}
            </sp-radio>
        </div>

    <div class="times-content">
        <div class="select-branches" ng-if="retailerDetailsCtrl.branchesInfo.length > 1 || timesCtrl.selectedBranch.areas.delivery.length > 1">
            <sp-kikar-dropdown ng-if="retailerDetailsCtrl.branchesInfo.length > 1 && (!retailerDetailsCtrl.isHiddenBranchName || retailerDetailsCtrl.deliveryOptionSelected == $root.SP_SERVICES.DELIVERY_TYPES.PICKUP)"
                               sp-model="timesCtrl.selectedBranch"
                               sp-change="timesCtrl.setSelectedBranch()">
                <sp-kikar-text>
                    {{('Branch' | translate) + ': ' + timesCtrl.selectedBranch.name}}
                </sp-kikar-text>
                <sp-kikar-option ng-repeat="branch in retailerDetailsCtrl.branchesInfo"
                                 ng-if="branch.areas.delivery.length  || branch.areas.pickup.length"
                                 sp-value="branch">
                    {{branch.name}}
                </sp-kikar-option>
            </sp-kikar-dropdown>

            <sp-kikar-dropdown ng-if="timesCtrl.selectedBranch.areas.delivery.length > 1 && (!retailerDetailsCtrl.isHiddenBranchName || retailerDetailsCtrl.deliveryOptionSelected == $root.SP_SERVICES.DELIVERY_TYPES.PICKUP)"
                               sp-change="timesCtrl.getAreaTimes()"
                               sp-model="timesCtrl.selectedArea">
                <sp-kikar-text>
                    {{('Area' | translate) + (timesCtrl.selectedArea ? (': ' + timesCtrl.selectedArea.name) : '')}}
                </sp-kikar-text>
                <sp-kikar-option ng-repeat="area in timesCtrl.selectedBranch.areas.delivery" sp-value="area">
                    {{area.name}}
                </sp-kikar-option>
            </sp-kikar-dropdown>
        </div>

        <div ng-if="retailerDetailsCtrl.isHiddenBranchName && retailerDetailsCtrl.deliveryOptionSelected == $root.SP_SERVICES.DELIVERY_TYPES.DELIVERY" class="select-wrapper">
            <span class="input-lable" ng-bind="::'Enter your city name' | translate"></span>
            <input type="text" ng-model="timesCtrl.cityTyped" ng-change="timesCtrl.submit();"/>
            <sp-autocomplete sp-model="timesCtrl.cityTyped"
                             sp-get-options="timesCtrl.autoComplete()"
                             threshold="0"
                             sp-choose="timesCtrl.submit();"
                             hide-if-empty="!timesCtrl.cityTyped">
            </sp-autocomplete>
        </div>

    <div class="title-wrapper" ng-if="retailerDetailsCtrl.deliveryOptionSelected == $root.SP_SERVICES.DELIVERY_TYPES.DELIVERY && (!timesCtrl.cityTyped || !timesCtrl.selectedArea.times && timesCtrl.cityTyped)">
        <svg focusable="false">
            <use xlink:href="#sp-icons-next-delivery"></use>
        </svg>
        <h2 class="tab-title secondary-font" ng-bind="::'Delivery hours' | translate"></h2>
    </div>

        <div class="details-tabs" >
                <div ng-if="!timesCtrl.selectedArea.times && timesCtrl.cityTyped && retailerDetailsCtrl.deliveryOptionSelected == $root.SP_SERVICES.DELIVERY_TYPES.DELIVERY" class="cant-find-message-wrapper">
                    <div class="cant-find-message">{{'Sorry, We do not deliver to your area' | translate }}.</div>
                </div>

            <div class="tab delivery-times" ng-if="$root.config.retailer.delivery && timesCtrl.selectedArea.times.length && (!retailerDetailsCtrl.isHiddenBranchName ||
            (retailerDetailsCtrl.deliveryOptionSelected == $root.SP_SERVICES.DELIVERY_TYPES.DELIVERY && timesCtrl.cityTyped && timesCtrl.selectedArea.times.length > 0))">
                    <div class="title-wrapper">
                        <svg focusable="false">
                            <use xlink:href="#sp-icons-next-delivery"></use>
                        </svg>
                        <h2 class="tab-title secondary-font" ng-bind="::'Delivery hours' | translate"></h2>
                    </div>
                    <ul class="days-wrapper">
                        <li ng-repeat="day in timesCtrl.selectedArea.times" class="day-wrapper" ng-class="{'empty-day': !day || !day.length}">
                            <div ng-class="{'today': $index == retailerDetailsCtrl.today}" class="week-day">
                                {{'week_day_' + $index | translate}}
                            </div>
                            <ul class="times-wrapper">
                                <li ng-repeat="time in day" class="time-row" ng-if="day && day.length">
                                    <span ng-if="!$root.config.retailer.twoHourLaw">{{time.from | date:($root.config.isUs ? 'hh:mm a': 'HH:mm'):'UTC' }} - {{time.to | date: ($root.config.isUs ? 'hh:mm a': 'HH:mm'):'UTC' }}</span>
                                    <span ng-if="$root.config.retailer.twoHourLaw">{{(time.fromDisplay || time.from) | date:($root.config.isUs ? 'hh:mm a': 'HH:mm'):'UTC' }}</span>
                                    <img ng-if="time.type == $root.DELIVERY_TIMES_TYPES.DELIVERY_WITHIN_HOURS"
                                         src="https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/express.png" alt="{{'Express delivery' | translate}}"/>
                                </li>
                                <div class="time-row none" ng-if="!day || !day.length" ng-bind="::'None' | translate"></div>
                            </ul>
                        </li>
                    </ul>
            </div><!--
            --><div class="tab pickup-times" ng-if="$root.config.retailer.pickup && timesCtrl.selectedBranch.areas.pickup[0].times.length && (!retailerDetailsCtrl.isHiddenBranchName ||
        retailerDetailsCtrl.deliveryOptionSelected == $root.SP_SERVICES.DELIVERY_TYPES.PICKUP)">
                <div class="title-wrapper">
                    <svg focusable="false">
                        <use xlink:href="#sp-icons-retailer-details"></use>
                    </svg>
                    <h2 class="tab-title secondary-font" ng-bind="::'Pickup Times' | translate"></h2>
                </div>

                <ul class="days-wrapper">
                    <li ng-repeat="day in timesCtrl.selectedBranch.areas.pickup[0].times" class="day-wrapper" ng-class="{'empty-day': !day || !day.length}">
                        <div ng-class="{'today': $index == retailerDetailsCtrl.today}" class="week-day">
                            {{'week_day_' + $index | translate}}
                        </div>
                        <ul class="times-wrapper">
                            <li ng-repeat="time in day" class="time-row" ng-if="day && day.length">
                                <span>{{time.from | date:($root.config.isUs ? 'hh:mm a': 'HH:mm'):'UTC' }} - {{time.to | date: ($root.config.isUs ? 'hh:mm a': 'HH:mm'):'UTC' }}</span>
                                <img ng-if="time.type == $root.DELIVERY_TIMES_TYPES.DELIVERY_WITHIN_HOURS"
                                     src="https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/pickup.png" alt="{{'Express pickup' | translate}}"/>
                            </li>
                            <div class="time-row none" ng-if="!day || !day.length">
                                {{::'None' | translate}}
                            </div>
                        </ul>
                    </li>
                </ul>
            </div><!--
            --><div class="tab area-map" ng-if="timesCtrl.selectedArea && (
                $root.config.retailer.deliveryAreaMethod === $root.SP_SERVICES.DELIVERY_AREA_METHODS.POLYGON ||
                $root.config.retailer.deliveryAreaMethod === $root.SP_SERVICES.DELIVERY_AREA_METHODS.GOOGLE_MAPS) && (!retailerDetailsCtrl.isHiddenBranchName ||
                retailerDetailsCtrl.deliveryOptionSelected == $root.SP_SERVICES.DELIVERY_TYPES.PICKUP && timesCtrl.selectedBranch.areas.pickup && timesCtrl.selectedBranch.areas.pickup.length)">
                <div class="title-wrapper">
                    <svg focusable="false">
                        <use xlink:href="#sp-icons-location"></use>
                    </svg>
                    <h2 class="tab-title secondary-font">
                        {{($root.config.retailer.pickup && !$root.config.retailer.delivery ? 'Pickup address' : 'Delivery Area') | translate}}
                    </h2>
                </div>

                <sp-google-maps model="timesCtrl.selectedArea" options="timesCtrl.selectedArea.mapOptions"></sp-google-maps>
            </div>
        </div>
        <div ng-if="retailerDetailsCtrl.deliveryOptionSelected == $root.SP_SERVICES.DELIVERY_TYPES.PICKUP && (!timesCtrl.selectedBranch.areas.pickup || timesCtrl.selectedBranch.areas.pickup && !timesCtrl.selectedBranch.areas.pickup.length)">
            <div class="cant-find-message">{{'Sorry, we do not provide pickup services' | translate }}.</div>
        </div>
    </div>
</div>