$productSuggestionPadding: 1em;

.carousel-product-item {
  position: relative;
  background: #ffffff;
  height: 100%;
  width: 100%;
  padding: $productSuggestionPadding;
  box-sizing: border-box;
  border: 1px solid #dcdcdc;

  > * {
    display: inline-block;
    vertical-align: middle;
    width: 50%;
  }

  > .sale-icon {
    position: absolute;
    top: $productSuggestionPadding;
    z-index: 1;
    width: 2.9375em;
    height: 2.875em;

    > svg {
      width: 100%;
      height: 100%;
    }
  }

  > .image-wrapper {
    padding: 0 1em;
    box-sizing: border-box;

    > img {
      max-width: 100%;
      max-height: 100%;
      vertical-align: middle;
    }
  }

  > .data {
    font-size: 0.9em;
    margin-top: -1em;

    > .brand-and-weight {
      color: #afafaf;
      font-size: 0.9em;
    }

    > .name {
      margin: 0.5em 0;
      color: #636363;
      min-height: 3em;
    }

    > .sp-product-price {
      font-size: 1em;

      > .regular-price {
        font-size: 0.9em;
      }
    }
  }

  > .product-actions {
    position: absolute;
    bottom: $productSuggestionPadding;
    opacity: 0;
    text-align: center;
  }

  &:hover, &:focus-within {
    > .product-actions {
    opacity: 1;
    }
  }
}

html.ltr .carousel-product-item {
  > .sale-icon {
    left: $productSuggestionPadding;
  }

  > .product-actions {
    right: $productSuggestionPadding;
  }
}

html.rtl .carousel-product-item {
  > .sale-icon {
    right: $productSuggestionPadding;
  }

  > .product-actions {
    left: $productSuggestionPadding;
  }
}