<td class="quantity">
    <sp-quantity
            ng-if="line.type !== $root.SP_SERVICES.CART_LINE_TYPES.DELIVERY && !line.isProductOutOfStock"
            read-only="line.type === $root.SP_SERVICES.CART_LINE_TYPES.COUPON" cart-line="line"
            design="landscape" sp-aria-live="true"></sp-quantity>
    <sp-cart-line-count line="line" text-before=""></sp-cart-line-count>
</td>
<td class="image">
    <div class="sale-icon" ng-class="{'club-icon': line.totalClubsGiftsForView}"
         ng-if="line.type !== $root.SP_SERVICES.CART_LINE_TYPES.COUPON && (line.totalClubsGiftsForView || line.totalGiftsForView) && !line.isProductOutOfStock && $root.config.retailer.settings.isNewPromotionDesignEnabled !== 'true'">
        <svg focusable="false" aria-labelledby="sale_icon_title" role="img">
            <title id="sale_icon_title">{{(line.totalClubsGiftsForView ? 'club ' : '') + 'sale' |
                translate}}</title>
            <use ng-if="!line.totalClubsGiftsForView" xlink:href=""
                 ng-attr-xlink:href="{{'#sp-icons-sale%translate%' | translateImage:{'he': '-he'} }}">
            </use>
            <use ng-if="line.totalClubsGiftsForView" xlink:href=""
                 ng-attr-xlink:href="{{'#sp-icons-sale-club%translate%' | translateImage:{'he': '-he'} }}">
            </use>
        </svg>
    </div>
    <div>
        <product-image line="line" simple-image="true" product="line.product"
                       is-product-out-of-stock="{{line.isProductOutOfStock}}"
                       is-need-to-show-out-of-stock-label="{{line.isNeedToShowOutOfStockLabel}}"
                       image-url="line.product.image.url" size="small"
                       alt="{{(line.product.names | name).long}}">
        </product-image>
    </div>
</td>
<td class="name">
    <div class="brand-and-weight" ng-class="{disabled: line.isProductOutOfStock}">
        <span class="brand" ng-bind="::line.product.brand.names | name"></span>
        <span class="weight">
                                {{::line.product.brand.names && line.product.weight ? ' | ' : ''}}
                                {{::line.product | productWeight:product.isCaseMode}}
                                <span ng-if="$root.config.retailer.settings.showPriceWithoutBottleDeposit && line.product && line.product.branch && line.product.branch.linkedProductPrice" id="{{'bottle_disclaimer_' + product.id}}" class="bottle-deposit-disclaimer">
                                    <img className="bottle-deposit-disclaimer-img" style="width:20px; height:20px" ng-src="{{'https://d226b0iufwcjmj.cloudfront.net/global/mobile/images/icons/info-icon.png'}}"/>
                                    <span class="bottle-deposit-disclaimer-content">
                                        <span class="text">{{$root.config.retailer.settings.disclaimerOnCartPages[$root.config.language.id]  || ('Price includes bottle deposit' | translate)}}</span>
                                        <span class="arrow"></span>
                                    </span>
                                </span>
                            </span>
    </div>
    <div class="name" ng-class="{disabled: line.isProductOutOfStock}"
         ng-bind="::(line.product.names | name).long">
    </div>
</td>
<td class="line-special-details">
    <div ng-if="line.type !== $root.SP_SERVICES.CART_LINE_TYPES.COUPON && !line.isProductOutOfStock && $root.config.retailer.settings.isNewPromotionDesignEnabled !== 'true'"
         ng-class="{disabled: line.isProductOutOfStock}" ng-repeat="gift in line.gifts">
        <span special-description-split="&#9642; {{gift.Description}}"></span>
    </div>
    <div class="product-main-tag-icon-wrapper" ng-class="{disabled: line.isProductOutOfStock}"
         ng-if="(line.product | productMainTag:$root.PermanentFilters.values[$root.PermanentFilters.TYPES.PRODUCT_TAGS]) && !line.isProductOutOfStock && $root.config.retailer.settings.isNewPromotionDesignEnabled !== 'true'">
        <img class="product-main-tag-icon"
             ng-src="{{(line.product | productMainTag:$root.PermanentFilters.values[$root.PermanentFilters.TYPES.PRODUCT_TAGS]).languages | name:'iconResourceUrl'}}"
             alt="{{(line.product | productMainTag:$root.PermanentFilters.values[$root.PermanentFilters.TYPES.PRODUCT_TAGS]).languages | name:'displayName'}}" />
        <div class="tool-tip">
            {{((line.product |
            productMainTag:$root.PermanentFilters.values[$root.PermanentFilters.TYPES.PRODUCT_TAGS]).languages
            | name:'description') ||
            ((line.product |
            productMainTag:$root.PermanentFilters.values[$root.PermanentFilters.TYPES.PRODUCT_TAGS]).languages
            | name:'displayName')}}
        </div>
    </div>
    <div class="removed" ng-class="{disabled: line.isProductOutOfStock}" ng-click="$event.stopPropagation();" ng-if="$root.config.retailer.settings.isNewPromotionDesignEnabled !== 'true'">
        <span class="for-vertical-align"></span>
        <span class="text">
                                {{'Removed' | translate}}
                            </span>
        <button class="no-design" ng-click="$root.cart.addLine(line)">
            {{'Restore' | translate}}
        </button>
    </div>
    <sp-promotion product="line.product" is-list="true"
                  ng-if="line.product && $root.util.filterProductSpecials(line.product.branch).length && $root.config.retailer.settings.isNewPromotionDesignEnabled === 'true'">
    </sp-promotion>
</td>
<td class="unit-weight">
    <sp-unit-weight product="line.product" cart-line="line" ng-if="line.product.productDisplayModeId === $root.PRODUCT_DISPLAY.WEIGHT_AND_UNIT.id && $root.config.retailer.enableSwitchUnitWeight && $root.util.isUnitsWeighable(line.product)" product-id="line.product.id"></sp-unit-weight>
</td>
<td class="unit-price">
    <sp-product-price ng-class="{disabled: line.isProductOutOfStock}"
                      ng-if="line.type !== $root.SP_SERVICES.CART_LINE_TYPES.COUPON"
                      regular-price="line.product | regularPrice: item.isCase"
                      show-weight-unit="!item.isCase && item.product.isWeighable" product="item.product"
                      hide-normalize-price="true">
    </sp-product-price>
</td>
<td class="total-price">
    <sp-product-price ng-class="{disabled: line.isProductOutOfStock}"
                      regular-price="line.totalPriceForView" sale-price="line.finalPriceForView" type="line.type"
                      hide-normalize-price="true">
    </sp-product-price>
</td>
<td class="product-properties large-property">
    <product-properties item="line"
                        ng-if="line.product.productProperties && line.product.productProperties.length">
    </product-properties>
</td>
<td class="comments">
    <sp-cart-line-comments
            ng-if="line.type !== $root.SP_SERVICES.CART_LINE_TYPES.COUPON && line.type !== $root.SP_SERVICES.CART_LINE_TYPES.DELIVERY && !line.isProductOutOfStock"
            sp-line="line" show-product-property="true" sp-text-area="true">
    </sp-cart-line-comments>
    <button class="remove no-design" ng-click="removeItem(line)"
            ng-if="line.type !== $root.SP_SERVICES.CART_LINE_TYPES.DELIVERY">
        <svg focusable="false" role="img">
            <title>{{'remove product' | translate}}</title>
            <use xlink:href="#sp-icons-remove"></use>
        </svg>
    </button>
</td>