.sp-scroll-actions-container {
  position: relative;
  overflow: hidden;

  $innerPadding: 1px;

  > [ng-transclude] {
    overflow: hidden;
    width: 100%;
    display: block;
    padding: $innerPadding;
    box-sizing: content-box;
  }

  > button {
    position: absolute;
    top: $innerPadding;
    bottom: $innerPadding;
    border: 1px solid #a5a5a6;
    $size: 2em;
    width: $size;
    height: $size;
    border-radius: 2em;
    background-color: #f3f3f3;

    > svg {
      height: 100%;
      width: 0.5625em;
    }

    &.backward {
      left: $innerPadding;
      box-shadow: -5px 0 0 9px #f3f3f3;
    }

    &.forward {
      right: $innerPadding;
      box-shadow: 5px 0 0 9px #f3f3f3;

      > svg {
        @include flipH();
      }
    }
  }
}