<div class="content">
    <div class="img">
        <img src="https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/cant-find-item-gray.png" alt=""/>
    </div>
    <h3>
        <span id="cant_find_item_dialog_title" class="cant-find">{{::'Can\'t find an item?' | translate}}</span>
        <div class="add-here">{{::'Add it here' | translate}}!</div>
    </h3>
    <div class="text">
        {{::'If we are unfamiliar with the product or don\'t have it in stock, we will give you a call' | translate}}
    </div>
</div>

<form name="cantFindItem" ng-submit="addToCart(cantFindItem, $event)" novalidate>

    <div class="form-required-fields">{{'Required fields are marked with *' | translate}}</div>
    <div class="sp-kikar-input">
        <label for="pseudoProductName" ng-bind="::('Product name' | translate) + ' *'"></label>
        <input id="pseudoProductName" type="text" name="pseudoProductName" ng-model="line.product.name" ng-maxlength="200" required sp-inline-error/>
    </div>

    <sp-kikar-dropdown sp-model="line.product.category" class="transparent-arrow input">
        <sp-kikar-text>
            {{line.product.category ? (line.product.category.names | name) : ('Choose category' | translate)}}
        </sp-kikar-text>
        <sp-kikar-option ng-repeat="category in categories" sp-value="category">
            {{category.names | name}}
        </sp-kikar-option>
    </sp-kikar-dropdown>

    <div class="quantity">
        <span ng-bind="::('Quantity' | translate) + ':'"></span>
        <sp-quantity cart-line="line"
                     on-plus="changeQuantity(1)"
                     on-minus="changeQuantity(-1)"
                     on-change="true"
                     design="landscape"
                     plus-alt="Increase the amount"
                     minus-alt="Reduce the amount">
        </sp-quantity>
    </div>

    <div class="sp-kikar-input comments">
        <label for="comments" ng-bind="::'Comments' | translate"></label>
        <input id="comments" type="text" ng-model="line.comments" maxlength="500"/>
    </div>

    <button type="submit" class="add-to-cart" style="text-transform:uppercase" ng-bind="::('add to cart' | translate).replace('{cart}', $root.config.retailer.settings.setCartNameToBasket ? $root.config.retailer.settings.setCartNameToBasket : 'cart')"></button>
</form>

