$color: #616161;
$mainColor: '{{mainColor}}';

.dialog-wrapper .dialog.cant-find-item .dialog-body {
  width: 34.0625em;
  color: $color;
  overflow: visible;

  .form-required-fields, .transparent-arrow, .add-to-cart {
    margin-top: 15px;
  }

  .comments {
    margin-top: 12px;
  }

  .quantity {
    margin-top: 15px;
  }

  > form {
    padding-right: 1em;
    padding-left: 1em;

    > h1, > h2, > p {
      font-weight: 700;
      text-align: center;
    }

    > h1, > h2, label, span {
      color: $color;
      padding: 0;
      font-weight: 700;
    }

    > div.quantity, > sp-kikar-dropdown {
      font-size: 1.125em;
    }

    > p, > .sp-kikar-input, > sp-kikar-dropdown {
      margin-bottom: 0.70em;
    }

    > h1 {
      font-size: 4.25em;
    }

    > h2 {
      font-size: 2.875em;
    }

    > p {
      margin-top: 1.5em;
      font-size: 1.25em;
    }

    > .sp-kikar-input {
      padding: 0;
      width: 100%;
    }

    > sp-kikar-dropdown {
      display: block;
      padding: 0.4em 0;
      border: 0;
      border-radius: 0;
      border-bottom: 1px solid $color;
      z-index: 2;

      > .sp-dropdown-text {
        padding: 0;
      }
    }

    > div.quantity {
      margin-top: 1.5em;

      > * {
        display: inline-block;
        vertical-align: middle;
      }

      > .sp-quantity {
        font-size: 0.8em;
      }

      & + {
        margin-top: 0;
      }
    }

    > button {
      background: #414141;
      color: #ffffff;
      border-radius: 1.25em;
      padding: 0.5em 1.5em;
      display: block;
      margin: 0.75em auto;
    }
  }


  > .content {
    padding-right: 1em;
    padding-left: 1em;
    padding-top: 1.5em;

    > .img {
      margin-top: -1.5em;
      text-align: center;
      height: 3.5em;

      > img {
        height: 100%;
      }
    }

    > h3 {
      padding-top: 0.5em;
      text-align: center;

      .gray {
        color: #606060;
      }

      .cant-find {
        color: $mainColor;
        font-weight: 700;
      }

      .add-here {
        margin-top: 7px;
        color: #000000;
      }
    }

    > .text {
      font-size: 0.95em;
      color: #403e3e;
      text-align: center;
    }

  }

}

.ltr .dialog-wrapper .dialog.cant-find-item .dialog-body {
  > form {
    > sp-kikar-dropdown > .arrow {
      float: right;
    }

    > div.quantity > span {
      margin-right: 1em;
    }
  }
}

.rtl .dialog-wrapper .dialog.cant-find-item .dialog-body {
  > form {
    > sp-kikar-dropdown > .arrow {
      float: left;
    }

    > div.quantity > span {
      margin-left: 1em;
    }
  }
}
