<div class="discard-loyalty-discounts" name="loyaltyDiscountsWarning">
    <h4 ng-bind="::'Pay attention' | translate" ></h4>
    <p>{{'Paying with different payment method will' | translate}} <br/> {{'discard your loyalty club discounts' | translate}}.</p>
    <p ng-bind="::('Do you want to continue' | translate) + '?'"></p>
    <div class="buttons">
        <button ng-click="hide(true)" class="continue">{{'Continue without club discounts' | translate}}</button>
        <button ng-click="hide(false)" class="return">{{'Return and pay with loyalty credit card' | translate}}</button>
    </div>
</div>