<div class="register-fields" ng-if="loyaltyCtrl.isRegisterEnabled()">
    <h6 class="bold"
        ng-if="!loyaltyCtrl.connectClubActive && loyaltyCtrl.joinClubActive"
        ng-bind="::'New Member' | translate">
    </h6>

    <h6
      ng-bind-html="$root.config.retailer.loyaltyClubDriver.clientConfig.text.registerClubText || ('Join our membership and enjoy exclusive benefits and promotions' | translate)">
    </h6>

    <div class="form-required-fields">{{'Required fields are marked with *' | translate}}</div>

    <div ng-repeat="field in loyaltyCtrl.registerFields">
        <input ng-if="field.type" type="{{field.type}}" ng-model="loyaltyCtrl.registerData[field.key]"
           name="{{field.key}}" sp-inline-error
           placeholder="{{(field.name | translate) + (field.required ? ' *' : '')}}"
           ng-required="field.required" ng-maxlength="field.maxLength"/>
        <select ng-if="field.options" ng-model="loyaltyCtrl.registerData[field.key]"
            name="{{field.key}}" sp-inline-error
            placeholder="{{(field.name | translate) + (field.required ? ' *' : '')}}"
            ng-required="field.required"
            ng-options="option as (option | translate) for option in field.options">
        </select>
    </div>
</div>

<div class="buttons" ng-if="loyaltyCtrl.isRegisterEnabled()">
    <button
        ng-click="loyaltyCtrl.registerNewMember()"
        class="block"
        ng-bind="(loyaltyCtrl.loyaltyClubDriver.clientConfig.joinClub && loyaltyCtrl.loyaltyClubDriver.clientConfig.joinClub[$root.config.language.id]) || 'Join our membership club' | translate">
    </button>
</div>

<div>
    <h6 ng-if="!loyaltyCtrl.isRegisterEnabled()"
        ng-bind="'Registration is closed right now' | translate">
    </h6>
</div>
