.ng-hide.ng-hide-animate {
  display: none !important;
}

html {
  background-color: #FFFFFF;

  font-size: 16px;

  section.main {
    margin-top: $headerHeight * -1;
    padding-top: $headerHeight;
    height: 100%;
    box-sizing: border-box;

    &.ios-scroll-workaround {
      -webkit-overflow-scrolling: touch;
      overflow: auto;
      position: relative;
    }
  }

  &.hub-child section.main {
    margin-top: $headerHeightWithHub * -1;
    padding-top: $headerHeightWithHub;
  }

  &.ltr {
    &.close-sidenav, &.hide-sidenav {
      section.view {
        margin-right: 0;
      }
    }

    section.view {
      margin-right: $sidenavWidth;
    }
  }

  &.rtl {
    &.close-sidenav, &.hide-sidenav {
      section.view {
        margin-left: 0;
      }
    }

    section.view {
      margin-left: $sidenavWidth;
    }
  }

  &.ltr, &.rtl {
    &.category-products, &.search-products, &.specials, &.special, &.checkout {
      section.view {
        padding-top: 0;

        > div[ng-view] {
          background-color: transparent;
        }
      }
    }

    &.cart-summary, &.checkout, &.finish {
      div.fixed-banner {
        @include fixed();
        z-index: 1;
        top: $headerHeight;
        left: 0;
        width: 100%;
        height: 5em;
        padding: 0 1em;
        background-color: #ffffff;
        @include box-sizing(border-box);
      }

      &.hub-child div.fixed-banner {
        top: $headerHeightWithHub;
      }
    }
  }

  &.dialog-open {
    overflow: hidden;
  }

  //a class added by sp-in-view-watcher
  .sp-not-in-view {
    overflow: hidden;
    opacity: 0;
  }
}

html > body > nagishli#NagishLiTag * {
  &:focus {
    outline: 3px #000000 double !important;
    border: 2px #ffffff solid !important;
    outline-offset: -3px;
    -moz-outline-radius: 5px;
    border-radius: 5px;
  }
}

nagishli#NagishLiTag > div#NagishLiBar {
  > div#NagishLiBarStrip {
    width: 51px !important;
    height: 51px !important;
    box-shadow: none !important;
    background: url('https://d226b0iufwcjmj.cloudfront.net/nagishli/nl-files/accessibility_2.png') !important;
    > #NagishLiLogo {
      margin-left: -5px !important;
      display: none !important;
    }

    > #NagishLiTitle, > #NagishLiMove {
      display: none !important;
    }
  }

  > #NagishLiMenus {
    > li:nth-child(2), li:nth-child(6), #NagishLiInfo > li:nth-child(1) {
      display: none;
    }
  }
}

section {
  &.main {
    height: 100%;
    box-sizing: border-box;
  }

  &.view {
    display: block;
    position: relative;
    height: 100%;
    @include box-sizing(border-box);

    > div[ng-view] {
      width: 100%;
      height: 100%;
    }
  }
}

.home {
  section.view {
    margin-right: 0;
  }
}

/* Global */
.image-wrapper {
  position: relative;
  text-align: center;
  height: 100%;

  /*> img.image {
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
  }*/

  > .image {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    &.coupon-image{
      width: 65% !important;
    }
  }

  > div.details {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    text-align: center;
    @include transition(opacity 0.2s);
    @include opacity(0);

    > img {
      display: inline-block;
      vertical-align: middle;
    }
  }
}

.wait {
  cursor: wait;
}

.clickable {
  cursor: pointer;
  @include user-select(none);
}

.for-vertical-align {
  height: 100% !important;
  width: 0 !important;
  vertical-align: middle !important;
  display: inline-block !important;
  float: none !important;
}

.ltr {
  direction: ltr;
}

.angular-google-map-container {
  height: 400px;
}

.classic-square {
  /*@include box-shadow(0 0 10px -2px #CCCCCC);*/
  background-color: #FFFFFF;
  border: 1px solid #ADADAD;
  @include border-radius(0.313em);
}

.rtl {
  direction: rtl;

  .classic-square > .line {
    float: right;
  }
}

.clear {
  clear: both;
  width: 100%;
  height: 0;
}

hr {
  border: 0 solid #aaaaaa;
  //border-top-width: 1px;
}

.default-text-align {
  text-align: left;
}

.rtl .default-text-align {
  text-align: right;
}

.reverse-text-align {
  text-align: right;
}

.rtl .reverse-text-align {
  text-align: left;
}

.text-align-center {
  text-align: center;
}

.left {
  float: left;
}

.right {
  float: right;
}

.bold {
  font-weight: bold;
}

.rtl {
  .left {
    float: right;
  }

  .right {
    float: left;
  }
}

.middle {
  display: inline-block;
  vertical-align: middle;
}

@for $i from 1 to 7 {
  h#{$i} {
    font-weight: 400;
    font-size: #{(0.725 + (6 - $i) * 0.48)}em;
    padding: 1em 0;
    margin: 0;
  }
}

sp-table table tr {
  td, th {
    text-align: left;
  }
}

.rtl sp-table table tr {
  td, th {
    text-align: right;
  }
}

sp-table table tr {
  td, th {
    &.product-details {
      @media screen and (max-width: 1750px) {
        min-width: 9em !important;
      }
      
      @media screen and (max-width: 1575px) {
        min-width: 7em !important;
      }
      
      @media screen and (max-width: 1400px) {
        min-width: 5em !important;
      }
    }

    &.new-promotion {
      width: 12em;
      min-width: 12em;
      max-width: 12em;
      padding: 0 1em;
      position: relative;
      cursor: pointer;
      
      @media screen and (max-width: 1750px) {
        min-width: auto;
      }
    }

    &.new-promotion-hide {
      display: none;
    }

    > .sp-promotion > .promotion-tooltip {
      top: 0;
      left: 1em;
      right: 1em;
    }
  }
}

.error-message {
  color: #d44949;
  white-space: nowrap;
  padding-bottom: 0.5em;

  > * {
    display: inline-block;
    vertical-align: middle;
  }

  > img {
    width: 2em;
    height: auto;
    padding: 0 0.3em;
  }

  .text {
    font-size: 0.86em;
    font-weight: bold;
    line-height: 1.2em;
  }
}

//Visible only to screen-reader
.sr-only-element {
  border: 0;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.sp-focus-trap {
  width: 0 !important;
  height: 0 !important;
  display: inline-block !important;
  vertical-align: middle !important;
  padding: 0 !important;
  flex: none !important;
  position: absolute;
}

html.sidenav-history-order-shown {
  &, body {
    height: 100%;
  }

  section.main section.view {
    height: auto;
    min-height: 100%;

    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: 10;
      background-color: rgba(0, 0, 0, 0.5);
    }
  }
}

@media screen and (max-width: 1575px) {
  html {
    section.main {
      margin-top: $responsive1575HeaderHeight * -1;
      padding-top: $responsive1575HeaderHeight;
    }

    &.hub-child section.main {
      margin-top: $responsive1575HeaderHeightWithHub * -1;
      padding-top: $responsive1575HeaderHeightWithHub;
    }

    &.ltr section.view {
      margin-right: $responsive1575SidenavWidth;
    }

    &.rtl section.view {
      margin-left: $responsive1575SidenavWidth;
    }

    &.ltr, &.rtl {
      &.cart-summary, &.checkout, &.finish {
        div.fixed-banner {
          top: $responsive1575HeaderHeight;
        }

        &.hub-child div.fixed-banner {
          top: $responsive1575HeaderHeightWithHub;
        }
      }
    }
  }
}
$special-dialog: '.dialog-wrapper .dialog &';
  #{$special-dialog} {
    &.suggestions.text-1 {
      top: 86%;
    }
    &.suggestions.text-2 {
      top: 88%;
    }
  }

/* Accessibility */
$invertTextColor: #000000;
html body[nl-colors="invert"], html body[nl-colors="grayscale"] {
   > header {
     > .toolbar {
       color: $invertTextColor;
       > .data > .search-wrapper > .input > input[type="search"].placeholder {
         color: $invertTextColor;
       }
     }
     >.categories-wrapper>.categories>.category {
       >.category-name, >.sub-categories {
         color: $invertTextColor;
       }
     }
   }

  .sp-kikar-input {
    color: $invertTextColor;

    input {
      color: $invertTextColor;
    }
  }

  .special-item>.special-product>.data>.brand-and-weight {
    >.brand, >.weight {
      color: $invertTextColor;
    }
  }

  sp-product {
    >.specials-wrapper .special>span, >.specials-wrapper .main-product-tag-text, >.data {
      color: $invertTextColor;
    }
  }

  .dialog-wrapper .dialog.choose-area-dialog .dialog-body {
    > form.choose-area {
      .typed-area, .address, >.single-area>.main-data .delivery-method-title {
        color: $invertTextColor;
      }
    }

    > form.filter-areas>.pickup>span>span {
      color: $invertTextColor;
    }
  }

  div.sidenav>section.cart>.collapsible>section.cart>.product-in-cart>div.product-content>.data {
    >.brand-and-weight, >.name, >button.add-comment {
      color: $invertTextColor;
    }
  }

  .carousel-product-item>.data {
    >.brand-and-weight, >.name {
      color: $invertTextColor;
    }
  }

  .sp-list-items-wrapper table > tbody  {
    > tr.category  {
      > th {
        color: $invertTextColor;
      }
    }
    > tr.line {
      > td.name, > td.unit-price {
         > .brand-and-weight, > .name, > div.sp-product-price > .price {
          color: $invertTextColor;
        }
      }
    }
  }

  div.sp-quantity>.btns-row>button>svg,
  .sp-list-items-wrapper table>tbody>tr.line>td.comments>.remove>svg{
    fill: $invertTextColor;
  }

  div.dialog.product>.dialog-body>.product-details .product-details {
    .brand-and-weight, .name {
      color: $invertTextColor;
    }
  }

  .dialog.login-or-register>.dialog-body>h1,
  sp-tabs>.sp-tabs-selector>button, label.checkbox>span.label,
  div.sp-product-price>.regular-price,
  input[type="text"], input[type="password"], input[type="email"], input[type="tel"], input[type="number"], input[type="date"], textarea,
  input::placeholder, textarea::placeholder,
  sp-kikar-dropdown.input {
    color: $invertTextColor;
  }

}

html.cart-summary body[nl-colors="invert"] section.view>div, html.cart-summary body[nl-colors="grayscale"] section.view>div {
  color: $invertTextColor;
  >.cart-summary-wrapper>.tools {
    >div.sort-by, >button, sp-kikar-dropdown {
      color: $invertTextColor;
    }
  }
}

html.checkout body[nl-colors="invert"] section.view, html.checkout body[nl-colors="grayscale"] section.view {
  .checkout-content {
    .tab {
      h1, h2 {
        color: $invertTextColor;
      }
      >.details section.delivery-details>.data {
        .details-region>h3, >.details-region>.substitute-preferences {
          color: $invertTextColor;
        }

        >.details-region .sp-slider-picker .slider-items-wrapper .slider-items>.slider-item>.slider-item-content>ng-include {
          >.date-name, >.date {
            color: $invertTextColor;
          }
        }
      }

      >.summary>div.summary-container {
        .payment-details h5, >.paymentForm {
          color: $invertTextColor;
        }

        >.summary-details .summary-line {
          .price, h4, h5 {
            color: $invertTextColor;
          }
        }
      }
    }
  }
}