<div ng-if="loyaltyCtrl.isMultiLoyalty && !loyaltyCtrl.loyaltyClubDriver" class="multi-loyalties">
    <h1 class="title">
        {{'Not a club member yet? Join and save' | translate}}!
    </h1>
    <h2 class="sub-title">
        {{'Club membership gives you unique benefits, discounts and promotions' | translate}}<br/>
        {{'Choose to which club you want to join/sign up' | translate}}
    </h2>

    <div class="drivers-wrapper">
        <div ng-repeat="driver in $root.config.retailer.loyaltyClubDrivers" class="driver"
             ng-click="!loyaltyCtrl.userClubsByDriversObject[driver.loyaltyClubDriverId] && !loyaltyCtrl.userClubsByDriversObject[driver.loyaltyClubDriverId].loyaltyCardId ? loyaltyCtrl.selectDriver(driver) : ''">
            <img ng-src="{{(driver.clientConfig && driver.clientConfig.banners && driver.clientConfig.banners.loyaltyClubPicture) || 'https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/loyalty-club-default-pic.png'}}">
            <div class="text-wrapper">
                <div class="text">
                    <div class="name">{{driver.name || $root.config.retailer.title}}</div>
                    <div class="description" ng-if="!loyaltyCtrl.userClubsByDriversObject[driver.loyaltyClubDriverId] && !loyaltyCtrl.userClubsByDriversObject[driver.loyaltyClubDriverId].loyaltyCardId">
                        {{driver.clientConfig && driver.clientConfig.promotionSentence}}
                    </div>
                    <div class="description" ng-if="!!loyaltyCtrl.userClubsByDriversObject[driver.loyaltyClubDriverId] && !!loyaltyCtrl.userClubsByDriversObject[driver.loyaltyClubDriverId].loyaltyCardId">
                        {{loyaltyCtrl.user.firstName + ' ' + loyaltyCtrl.user.lastName + ', ' + loyaltyCtrl.user.phonesObj['3'].phoneNumber}}
                    </div>
                    <div class="description"
                         ng-if="!!loyaltyCtrl.userClubsByDriversObject[driver.loyaltyClubDriverId] && loyaltyCtrl.userClubsByDriversObject[driver.loyaltyClubDriverId].loyaltyClubExpiration"
                         ng-class="{'is-expired': loyaltyCtrl.userClubsByDriversObject[driver.loyaltyClubDriverId].isExpired}">
                        {{('Validity' | translate) + ': ' + (loyaltyCtrl.userClubsByDriversObject[driver.loyaltyClubDriverId].loyaltyClubExpiration | date: ($root.isUs ? 'MM/dd/yyyy' : 'dd/MM/yyyy'):'UTC')
                    + (loyaltyCtrl.userClubsByDriversObject[driver.loyaltyClubDriverId].isExpired ? (' ' + ('Expired' | translate)) : '')}}
                    </div>
                </div>
                <sp-captcha is-invalid="loyaltyCtrl.captchaIsInvalid"></sp-captcha>
                <div class="connect-btn" ng-if="!loyaltyCtrl.userClubsByDriversObject[driver.loyaltyClubDriverId] && !loyaltyCtrl.userClubsByDriversObject[driver.loyaltyClubDriverId].loyaltyCardId">
                    {{'Connect' | translate}} >
                </div>
                <div class="card-num"
                     ng-if="!!loyaltyCtrl.userClubsByDriversObject[driver.loyaltyClubDriverId] && !!loyaltyCtrl.userClubsByDriversObject[driver.loyaltyClubDriverId].loyaltyCardId"
                     ng-class="{'is-expired': loyaltyCtrl.userClubsByDriversObject[driver.loyaltyClubDriverId].isExpired}">
                    <div class="icon">
                        <svg focusable="false">
                            <use xlink:href="#sp-icons-white-v"></use>
                        </svg>
                        <span>{{'logged' | translate}}</span>
                    </div>
                    <div class="num">{{('no.' | translate) + ' ' + loyaltyCtrl.userClubsByDriversObject[driver.loyaltyClubDriverId].loyaltyCardId}}</div>
                </div>
            </div>
        </div>
        <div class="continue-btn-wrapper">
            <button class="no-design" ng-click="loyaltyCtrl.hide()">
                {{(loyaltyCtrl.user.loyaltyClubs && loyaltyCtrl.user.loyaltyClubs.length ? 'loyalty_club_continue' : 'Continue without a club') | translate}}
            </button>
        </div>
    </div>
</div>

<div class="membership-form-wrapper" ng-if="!!loyaltyCtrl.loyaltyClubDriver">
    <button class="no-design back-button" ng-if="loyaltyCtrl.isMultiLoyalty" ng-click="loyaltyCtrl.resetDrivers()">
        <span class="text"> {{'Back' | translate}} </span> <span>{{' >'}}</span>
    </button>
    <form ng-controller="LoyaltyKikarCtrl"  id="membershipForm" name="membershipForm" ng-if="!loyaltyCtrl.connected" novalidate>
        <h1 id="loyalty_dialog_title" ng-if="loyaltyCtrl.isRegisterNotInProgress()">
            {{('Join {clubName} membership account' | translate).replace('{clubName}', loyaltyCtrl.loyaltyClubDriver.name || $root.config.retailer.title)}}
        </h1>
        <h1 ng-if="!loyaltyCtrl.isRegisterNotInProgress()">
            {{('Connect your {clubName} membership account' | translate).replace('{clubName}', loyaltyCtrl.loyaltyClubDriver.name || $root.config.retailer.title)}}
        </h1>

        <div class="content">
            <div class="fields-wrapper" ng-class="{'without-register': !loyaltyCtrl.isRegisterNotInProgress()}">
                <div ng-if="!loyaltyCtrl.isLookupEnabled()">
                    <ng-include src="'template/dialogs/loyalty/register/index.html'"></ng-include>
                </div>
                <sp-tabs ng-if="loyaltyCtrl.isLookupEnabled()" ng-class="{'hidden': ((!loyaltyCtrl.connectClubActive && loyaltyCtrl.joinClubActive) || (!loyaltyCtrl.joinClubActive && loyaltyCtrl.connectClubActive))}">
                    <sp-tabs-pane ng-if="(loyaltyCtrl.isRegisterEnabled() && (!loyaltyCtrl.connectClubActive && !loyaltyCtrl.joinClubActive)) || loyaltyCtrl.joinClubActive"
                                  title="{{::'New Member' | translate}}"
                                  tab-hidden="!loyaltyCtrl.isRegisterNotInProgress() || loyaltyCtrl.connectClubActive"
                                  on-select="loyaltyCtrl.existMemberSelected=false">
                        <ng-include src="'template/dialogs/loyalty/register/index.html'"></ng-include>
                    </sp-tabs-pane>
                    <sp-tabs-pane title="{{::'Existing Member' | translate}}"
                                  tab-hidden="!loyaltyCtrl.isRegisterNotInProgress() || loyaltyCtrl.joinClubActive"
                                  selected="!loyaltyCtrl.isRegisterNotInProgress() || loyaltyCtrl.connectClubActive"
                                  on-select="loyaltyCtrl.existMemberSelected=true">
                        <ng-include src="'template/dialogs/loyalty/exist-member/index.html'"></ng-include>
                    </sp-tabs-pane>
                    <sp-tabs-pane ng-if="(!loyaltyCtrl.isRegisterEnabled() && (!loyaltyCtrl.connectClubActive && !loyaltyCtrl.joinClubActive)) || loyaltyCtrl.joinClubActive"
                                  title="{{::'New Member' | translate}}"
                                  tab-hidden="!loyaltyCtrl.isRegisterNotInProgress() || loyaltyCtrl.connectClubActive"
                                  on-select="loyaltyCtrl.existMemberSelected=false">
                        <ng-include src="'template/dialogs/loyalty/register/index.html'"></ng-include>
                    </sp-tabs-pane>
                </sp-tabs>
            </div>

            <div class="continue-btn-wrapper">
                <button class="no-design" ng-click="loyaltyCtrl.hide()">{{'Continue without a club' | translate}}</button>
            </div>

            <div class="loyalty-page-link">
                <a ui-sref="app.userEdit.loyalty" ng-click="$dialog.hide()">
                    {{('Show full details in {clubName} club page' | translate).replace('{clubName}', loyaltyCtrl.loyaltyClubDriver.name || $root.config.retailer.title)}}
                </a>
            </div>

            <div class="error-message" aria-hidden="false" ng-if="loyaltyCtrl.showError">
                <img src="https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/login-err-icon.png" alt=""/>
                <span class="text">
                    {{::'Sorry' | translate}},<br/>
                    <span>
                        {{loyaltyCtrl.existMemberSelected ? 'We did not find your membership club account' : 'We are not able to register your membership club account' | translate}}.<br/>
                        {{::'Please make sure your details are correct or try again later' | translate}}.<br/>
                        {{loyaltyCtrl.errorMessage | translate}}
                    </span>
                </span>
            </div>
        </div>
    </form>

    <div class="connected" ng-if="loyaltyCtrl.connected">
        <span class="for-vertical-align"></span><!--
    --><div>
        <h1 id="connected_title_1">{{::'You\'ve logged in successfully' | translate}}!</h1>
        <h2 id="connected_title_2">{{::'You can now enjoy the club specials' | translate}}</h2>

        <div class="buttons">
            <button type="button" class="block" id="continue_shop_btn" ng-click="loyaltyCtrl.hide(true);"
                    aria-describedby="connected_title_1 connected_title_2">
                {{::'Continue shopping' | translate}}
            </button>
            <button type="button" class="block no-design back-to-clubs" ng-click="loyaltyCtrl.resetDrivers();">
                {{::'Back to loyalty clubs' | translate}}
            </button>
        </div>
    </div>
    </div>
</div>
