.dialog.loyalty > .dialog-body {
  width: 48.875em;
  height: 43.563em;

  .multi-loyalties {
    height: 100%;
    text-align: center;
    overflow: auto;

    > .title {
      font-size: 2.5em;
      line-height: 1.4em;
      text-align: center;
      padding: 0 0 0.4em 0;
    }

    > .sub-title {
      padding: 0 0 1em 0;
      font-size: 1.563em;
      line-height: 1.5em;
      font-weight: normal;
      text-align: center;
      color: #606060;
    }

    > .drivers-wrapper {
      text-align: left;
      margin: 0 auto 5em auto;
      padding: 0 2em;

      > .driver {
        width: 20.5em;
        display: inline-block;
        border: 1px solid #F2F4F7;
        box-sizing: border-box;
        border-radius: 15px;
        margin: 0 0.5em 1em 0.5em;
        box-shadow: 3px 3px 17px 0 #c5c5c5b3;
        vertical-align: top;

        > img {
          height: 8.750em;
          width: 100%;
          border-top-left-radius: 15px;
          border-top-right-radius: 15px;
        }

        > .text-wrapper {
          padding: 0.7em;
          height: 4em;
          position: relative;

          .text {
            display: inline-block;
            vertical-align: middle;
            text-align: left;

            .name {
              font-size: 1.2em;
              font-weight: bold;
              line-height: 1.3em;
            }

            .description {
              color: #78797A;
              line-height: 1.4em;

              &.is-expired {
                color: #DA3B39;
                font-weight: bold;
              }
            }
          }

          .connect-btn {
            text-decoration: underline;
            color: #1A395B;
            position: absolute;
            bottom: 0.7em;
            right: 0.7em;
            cursor: pointer;
          }

          .card-num {
            font-size: 0.9em;
            position: absolute;
            right: 0.7em;
            top: 0.7em;
            text-align: right;

            .icon {
              svg {
                width: 1em;
                height: 1em;
                vertical-align: middle;
              }

              span {
                line-height: 1.5em;
                font-weight: bold;
              }
            }
          }
        }
      }
    }

    .continue-btn-wrapper {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      padding-top: 1.5em;
      padding-bottom: 1.5em;
      background-color: #ffffffcc;
      text-align: center;
      box-shadow: 0px -2px 8px #e9e9e9bf;

      button {
        font-size: 1.250em;
        border: 1px solid;
        padding: 0.3em 1em;
        color: #A5A5A6;
        width: 50%;
        border-radius: 35px;
      }
    }
  }

  .membership-form-wrapper {
    .back-button {
      background: transparent;
      color: #000000;
      position: absolute;
      top: 0;
      left: 0;
      margin: 0.5em;

      .text {
        text-decoration: underline;
      }
    }

    > form, > div > div {
      width: 30em;
      margin: auto;
      > h1 {
        font-size: 2.7em;
        font-weight: normal;
        line-height: 1.4em;
        text-align: center;
        color: #606060;
        padding-bottom: 0.5em;
      }

      > h2 {
        padding-top: 0;
        font-size: 1.6em;
        font-weight: normal;
        text-align: center;
        color: #606060;
      }

      > h4 {
        padding-top: 0;
      }

      > div.content {
        .buttons {
          margin-top: 3em;
          box-sizing: border-box;

          > button {
            width: 13em;
            margin: 0 auto;
            border-radius: 21px;
            background-color: #414141;
          }
        }

        > .fields-wrapper {
          white-space: nowrap;
          position: relative;
          text-align: center;

          &.without-register sp-tabs > .sp-tabs-selector {
            display: none;
          }

          > div {
            display: inline-block;
            vertical-align: top;
            box-sizing: border-box;
            padding: 0 4em;

            > div {
              margin-bottom: 0.5em;

              input, select {
                &[disabled] {
                  opacity: 0.5;
                }
              }
            }
          }

          ::-webkit-input-placeholder {
            text-transform: capitalize;
          }

          ng-include {
            width: 70%;
            margin: auto;
            white-space: normal;

            div {
              padding: 0.7em;

              input {
                padding-left: 5px;
              }

              h6 {
                text-align: start;
                font-size: 1.2em;
                color: #414141;
                line-height: 1.1em;
              }

              .form-required-fields {
                text-align: left;
              }
            }
          }
        }

        .continue-btn-wrapper {
          padding-top: 1em;
          padding-bottom: 2em;
          background-color: #ffffffab;
          text-align: center;
          margin: 0 auto;

          button {
            border: 1px solid;
            padding: 0.3em 1em;
            color: #A5A5A6;
            border-radius: 21px;
          }
        }
        > .loyalty-page-link {
          padding-top: 3em;
          text-align: center;
        }

        > .error-message {
          padding: 2em 4em 0 4em;
        }

        .register-fields {
          input {
            padding-left: 5px;
          }
        }
      }
    }
  }

  .connected {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    > div {
      width: 100%;
      .buttons {
        padding-top: 1em;

        button {
          margin: 0 auto 1em auto;
          width: 50%;

          &.no-design {
            padding: 7px;
            border-radius: 3px;
            color: #A5A5A6;
            border: 1px solid;
            display: block;
          }
        }
      }
    }
  }

  > div {
    > div {
      margin-top: -3em;
      display: inline-block;
      vertical-align: middle;

      > h1 {
        padding-top: 0;
      }

      > .buttons {
        padding: 0 10em;
      }
    }
  }
}

html.rtl {
  .dialog.loyalty > .dialog-body {
    .multi-loyalties > .drivers-wrapper {
      text-align: right;

      > .driver > .text-wrapper {
        .text {
          text-align: right;
        }

        .connect-btn {
          left: 0.7em;
          right: auto;
        }

        .card-num {
          text-align: left;
          left: 0.7em;
          right: auto;
        }
      }
    }
    .membership-form-wrapper {
      > form > div.content > .fields-wrapper ng-include div,
      .dialog.loyalty > .dialog-body > div > div > div.content > .fields-wrapper ng-include div {
        .form-required-fields {
          text-align: right;
        }
      }
    }
  }
}
