.home-page-wrapper .sp-carousel {
  .carousel-component-product-item {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: transparent;
    padding: 0 0.56875em;

    > sp-product {
      box-shadow: 0 0 43px 0 rgba(0,0,0,.15);

      &.large-product {
        width: 100%;
      }
    }
  }
}