.sp-carousel {
  position: relative;
  width: 100%;
  height: 100%;

  > {
    .items {
      margin: 0 2em;
      height: 100%;

      > .scroller {
        margin: 0 auto;
        overflow: hidden;
        height: 100%;

        .ltr & {
          text-align: left;
        }
        .rtl & {
          text-align: right;
        }

        > .transform-wrapper {
          white-space: nowrap;
          margin: 0;
          height: 100%;
          transition: transform 600ms;
          -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
        }
      }

      ng-include {
        height: 100%;
        display: inline-block;
        box-sizing: border-box;
        white-space: normal;
        overflow: hidden;
        vertical-align: top;
        outline: 0;

        .ltr & {
          padding-right: 1em;
        }
        .rtl & {
          padding-right: 1em;
        }
      }
    }
    .action {
      position: absolute;
      top: 0;
      height: 100%;
      width: 2em;
      overflow: hidden;

      &.previous {
        .ltr & {
          left: 0;
        }
        .rtl & {
          right: 0;
        }
      }

      &.next {
        .ltr & {
          right: 0;
        }
        .rtl & {
          left: 0;
        }

        .loading-wrapper {
          width: 100%;
          height: 100%;
        }
      }

      button {
        width: 100%;
        height: 100%;
        padding: 0 0.59375em;
        vertical-align: middle;

        > svg {
          height: 100%;
          width: 100%;
          fill: #414141;
        }
      }
    }
  }
}