.dialog-wrapper .dialog.loyalty-iframe-dialog > .dialog-body {
  width: calc(100vw - 1em);
  max-width: initial;
  height: calc(100vh - 1em);
  max-height: initial;
  margin: 0;
  padding: 0;
  background: none;
  overflow: hidden;

  > .iframe-wrapper {
    width: 100%;
    height: 100%;

    > #external_login {
      width: 100%;
      height: 100%;
    }

    > #iframe-not-loaded {
      border-radius: 1.5rem;
      box-shadow: 1px 2px 10px #3a3a35;
      margin: 10vh auto;
      height: 100%;
      width: 800px;
      background: #B2B2B2;
    }
  }
}
