<div class="gift-card-exclude-message">
    <p class="gift-card-exclude-message-content" id="add_gift_card_title">{{message}}</p>
    <div class="gift-card-exclude-message-button">
        <button
          ng-click="$dialog.hide(true)">
            {{ 'Confirm' | translate }}
        </button>
    </div>

</div>
