.gift-card-exclude-message-container {
  .dialog-body {
    max-width: 669px !important;
    box-sizing: border-box;
  }
}
.gift-card-exclude-message {
  &-content {
    font-size: 25px;
    text-align: center;
    margin-top: 20px;
  }

  &-button {
    margin: 20px auto auto;
    width: max-content;
    font-size: 20px;

    min-width: 275px;
    button {
      min-width: 275px;
      max-width: 100%;
      border-radius: 30px;
    }
  }
}
