html.checkout .dialog-wrapper .dialog.cart-summary-dialog, .notice-sale-date {
  .dialog-body {
    overflow: auto;
    max-width: 90%;
    min-width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .list-wrapper {
    width: 100%;
    box-sizing: border-box;
    height: max-content;
    overflow: hidden;
    padding: 0.2em;
    border: 1px solid #eaeaea;
    border-radius: 3px;

    .sp-list-items-wrapper {
      height: 100%;

      .elastic-row {
        background-color: #ffffff;
      }

      .content-table {
        overflow: auto;
        height: 100%;
        box-sizing: border-box;
      }
    }
  }

  .sale-description {
    height: 5em;
    margin-bottom: 1em;
    line-height: 2em;
    font-size: 1.4em;
    font-weight: normal;
    padding: 0 0.1em;

    &-subtitle {
      font-size: 18px;
      color: #787878;
    }
  }

  .bottom-sales-items-description {
    margin-top: 0.2em;
    padding: 1em 0;
    display: flex;
    justify-content: space-between;

    .apply-button {
      padding: 0 1.5em;
      font-size: 1.2em;
      width: max-content;
      min-width: 10em;
      line-height: 3em;
      color: #ffffff;
      font-weight: bold;
      border-radius: 2em;
      border: 1px solid;
      &.change-date-button {
        background-color: #fff;
        border-color: #787878;
        color: #787878;
        margin-right: 10px;
      }
    }

    .new-cart-estimate {
      padding: 0 1em;
      font-size: 1.4em;
      line-height: 3em;

      > span:after {
        display: inline;
        content: ',';
      }

      > span:last-child:after {
        content: '';
      }
    }
  }
  tbody>tr.line:hover>td.quantity>.sp-cart-line-count {
    display: block !important;
  }
}

.rtl .notice-sale-date {
  .apply-button {
    &.change-date-button {
      margin-left: 10px !important;
      margin-right: 0 !important;
    }
  }
}

@media screen and (max-width: 1300px) {
  html.checkout .dialog-wrapper .dialog.cart-summary-dialog {
    font-size: 0.86em;
    .list-wrapper {
      height: 70%;
    }
  }
}

@media screen and (max-width: 1160px) {
  html.checkout .dialog-wrapper .dialog.cart-summary-dialog .list-wrapper {
    height: 65%;
  }
}