.irre-sales {
  .carousel-wrapper {
    .new-promotion {
      // fix cut off text at bottom -> override prutah style
      height: inherit;
    }
  }

  .dialog-footer {
    button {
      border-radius: 1.875em;
    }
  }
}