$backgroundHeight: 46.1875em;
$sideImagesMargin: 0.625em;

$carouselHeight: 21.125em;
$carouselNewHeight: 21.125em;
$productsCarouselHeight: 21.125em;
$productsCarouselNewHeight: 21.125em;
$largeProductsCarouselHeight: 21.125em;
$largeProductsCarouselNewHeight: 21.125em;
$LinksCarouselHeight: 23.75em;

$componentHorizontalPadding: 3.5em;
$transformElementPadding: 0.5em;
$carouselArrowPadding: 3.5em;
$titleAsItemPadding: 1em;
$componentArrowPadding: $carouselArrowPadding;
$carouselTitleItemWidth: 16em;

html.home, html.home > body {
  height: 100%;
}

html.home {
  header {
    //height: $toolbarHeight;

    > .menu {
      $background: rgba(255, 255, 255, 0.88);

      background: $background;

      .next-delivery-more-details {
        background: $background;
      }
    }
  }

  &.hub-child header {
    //height: $toolbarHeight + $hubHeaderHeight;
  }

  section.main {
    padding-top: 0;
    height: auto;

    section.view {
      width: 100%;
      height: auto;

      padding-top: $toolbarHeight;

      .home-page-wrapper {
        display: flex;
        flex-direction: column;

        .special-product {
          box-shadow: none;

          &.suggestions.text-1 {
            top: 80%;
          }
          &.suggestions.text-2 {
            top: 88%;
          }
          &.suggestions.outline {
            top: 64%;
          }
        }
        .carousel-component-product-item {
          padding: .75em;

          sp-product {
            border-radius: 5px;
            box-shadow: 0px 1px 4px 0px #00000040;

            .image-wrapper {
              .general-image-wrapper {
                .suggestions.outline {
                  left: 50%;
                  transform: translateX(-50%);
                }
                .out-of-stock.suggestions {
                  font-size: 0.75em;
                  font-weight: 700;
                  left: 50%;
                  transform: translateX(-50%);
                  z-index: 3;

                  &.text-1 {
                    color: #F86B2F;
                    top: 85%;
                  }
                  &.text-2 {
                    color: #505050;
                    top: 93%;
                  }
                }
                .suggestions.outline {
                  top: 72%;
                }
              }
            }
            &.large-product {
              border: none;
              .out-of-stock.suggestions {
                &.text-1 {
                  top: 68% !important
                }
                &.text-2 {
                  top: 74% !important;
                }
              }
              .suggestions.outline {
                top: 60% !important;
              }
            }

            > #product_name {
              padding-block: .5em;
            }
          }
        }
        .specials-carousel {
          .special-product {
            &.suggestions.text-1 {
              top: 80%;
            }
            &.suggestions.text-2 {
              top: 89%;
            }
            &.suggestions.outline {
              top: 65%;
            }
          }
        }
        .special-details {
          &.suggestions.text-1 {
            top: 66%;
          }
          &.suggestions.text-2 {
            top: 72%;
          }
          &.suggestions.outline {
            top: 57%;
          }
        }
        .background-wrapper {
          width: 100%;
          height: 375px;

          box-sizing: border-box;

          transition: padding 0.3s linear;

          .background {
            height: 100%;
            position: relative;
            width: 100%;

            > .img-wrapper {
              position: absolute;
              width: 100%;
              height: 100%;

              > .img {
                position: absolute;
                display: block;
                width: 100%;
                height: 100%;
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
                opacity: 0;
                transition: 1s;

                border-radius: 5px;

                &.active {
                  opacity: 1;
                  z-index: 1;
                }
              }

              > .choose-image {
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: 2;

                text-align: center;

                display: flex;
                align-items: center;
                justify-content: center;
                gap: 12px;

                transform: translateY(100%) translateY(16px);

                > button {
                  $size: 0.7em;

                  width: $size;
                  height: $size;

                  border-radius: 50%;

                  background-color: #C8C8C8;
      
                  transition: background-color 0.3s linear;

                  &.active {
                    background-color: #282828;
                  }
                }
              }

              > .pause-auto-change {
                position: absolute;
                left: 0.5em;
                bottom: 0.5em;
                z-index: 3;

                display: none;

                > img.pause-icon {

                }
              }
            }
          }

          &.with-side-images {
            display: flex;

            .side-images {
              height: 100%;
              max-width: 50%;

              flex: 0 0 auto;

              position: relative;

              padding-left: $sideImagesMargin;
              padding-right: $sideImagesMargin;

              > * {
                display: block;
                height: 50%;
                box-sizing: border-box;

                overflow: hidden;

                border-radius: 5px;

                img {
                  display: block;

                  height: 100%;
                  width: 100%;

                  object-fit: cover;
                  object-position: center;

                  border-radius: 5px;
                }
              }

              > .top-image {
                padding-bottom: $sideImagesMargin / 2;
              }

              > .bottom-image {
                padding-top: $sideImagesMargin / 2;
              }
            }

            .background {
              flex: 1 1 auto;
            }
          }
        }

        > .content {
          display: flex;
          flex-direction: column;
          gap: 3.5em;

          text-align: center;
          $dotSize: 2px;
          $dotSpace: 16px;
          background-image: url('https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/new-template/home-specials-background.png'), radial-gradient(#e8e8e8 $dotSize, transparent $dotSize), radial-gradient(#e8e8e8 $dotSize, transparent $dotSize);
          background-position: bottom left, 0 0, ($dotSpace / 2) ($dotSpace / 2);
          background-size: auto, 16px 16px, 16px 16px;
          background-repeat: no-repeat, repeat, repeat;

          transition: padding 0.3s linear;

          padding-inline-start: $componentHorizontalPadding;
          padding-top: 4.5em;
          padding-bottom: 3.5em;

          //to prevent margin of children from moving this element
          position: relative;
          z-index: 1;

          > .component {
            display: flex;
            flex-direction: column;
            gap: 1.375em;

            padding-top: 1.3em;
            padding-bottom: .75em;

            border-radius: 5px;

            &.item-as-title {
              justify-content: space-between;

              > .header-wrapper {
                justify-content: flex-end;
  
                padding-inline-end: .75em;
              }

              > .content-wrapper {
                &.has-sp-point-redemption {
                  > .sp-carousel {
                    width: calc(70% - #{$carouselTitleItemWidth});
                  }

                  > .sp-point-redemption {
                    width: 30%;
                  }
                }

                > .sp-carousel {
                  width: calc(100% - #{$carouselTitleItemWidth})
                }

                > .title-as-item {
                  width: $carouselTitleItemWidth;
  
                  flex: 0 0 auto;
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  gap: 1.2em;
  
                  box-sizing: border-box;
  
                  padding-inline-start: .75em;
  
                  > h3, h4 {
                    font-size: 2.2em;
  
                    text-align: start;
                  }
  
                  > h5 {
                    font-size: 1.6em;
  
                    text-align: start;
                  }
  
                  > a.title-link {
                    text-align: start;
                  }
                }
              }
            }

            &.loading {
              // render the element, but hide it while loading
              visibility: hidden;
              height: 0;
              padding-top: 0;
              padding-bottom: 0;
              overflow: hidden;
            }

            h3, h4, h5 {
              padding: 0;
            }

            h3, h4 {
              font-size: 3em;
            }

            h5 {
              font-size: 2em;
              color: #4B4B4B;
              line-height: 1;
            }

            a.title-link {
              font-size: 1.1em;
              color: #747474;

              text-decoration: underline;
            }

            > .header-wrapper {
              display: flex;
              align-items: center;
              justify-content: space-between;
              gap: 1em;

              padding-inline: .75em;
              > .header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 1em;

                width: 100%;
  
                > .title {
                  flex: 1 1 auto;
                  padding: 0;
  
                  h5 {
                    margin-top: 0.4286em;
                  }
                }
  
                > .link {
                  flex: 0 0 auto;
  
                  margin-inline-end: 1em;
                }
              }

              > .carousel-btns-wrapper {
                display: flex;
                align-items: center;
                gap: 1em;
  
                > .action {
                  height: 3.5em;
                  width: 3.5em;
    
                  padding: 0;
    
                  > .loading-wrapper {
                    display: inline-block;
    
                    width: 100%;
                    height: 100%;
                  }
    
                  &.next {
                    button > svg {
                      transform: rotate(180deg);
                    }
                  }
    
                  button {
                    background-color: #E9E9E9;
    
                    border: none;
    
                    width: 100%;
                    height: 100%;
    
                    border-radius: 50%;
    
                    display: flex;
                    align-items: center;
                    justify-content: center;
    
                    &.disabled {
                      opacity: 1;
    
                      svg {
                        use {
                          fill: #CCCCCC;
                        }
                      }
                    }
    
                    & > svg {
                      width: 12.93px;
                      height: 19.83px;
    
                      use {
                        fill: #124781;
                      }
                    }
                  }
                }
              }
            }

            > .content-wrapper {
              justify-content: space-between;
              &.carousel-content {
                display: flex;
                flex-direction: row;
                padding-left: 0;
                padding-right: 0;
              }

              > .sp-carousel,
              > .sp-point-redemption {
                $carouselProductBorder: 1px solid #e5edec;
                width: 100%;
                height: $carouselHeight + 1.5em;

                &.new-promotion {
                  height: $carouselNewHeight + 1.5em;
                  &.show-original-price {
                    height: $productsCarouselNewHeight + 4.3em;
                  }
                }

                &.normal-products-carousel {
                  height: $productsCarouselHeight + 1.5em;

                  &.new-promotion {
                    height: $productsCarouselNewHeight + 1.5em;
                  }

                  ng-include {
                    padding: 0;

                    overflow: visible;
                  }
                }

                &.large-products-carousel {
                  height: $largeProductsCarouselHeight + 1.5em;

                  &.new-promotion {
                    height: $largeProductsCarouselNewHeight + 1.5em;
                  }

                  sp-product {
                    .large-product {
                      border: none;
                      >.description {
                        margin-bottom: 1em;
                      }
                    }
                  }
                }

                &.specials-carousel {
                  .special-item {
                    padding: .75em;

                    > .special-product, > .special {
                      box-shadow: 0px 1px 4px 0px #00000040;
                      border-radius: 5px;
                    }
  
                    > .sale-icon {
                      top: $specialItemDistance;
                    }
                  }
                }

                &.links-carousel {
                  height: $LinksCarouselHeight + 1.5em;

                  > .items > .scroller {
                    box-shadow: none;
                    height: 100%;

                    .transform-wrapper {
                      box-sizing: border-box;
                    }

                    .links-carousel-item {
                      padding: .75em;
                      a.link {
                        border-radius: 5px;

                        background-position: center bottom;

                        .gradient-background {
                          border-radius: 5px;
                        }

                        .content {
                          bottom: 30px;
                        }
                      }
                    }
                  }
                }

                > .items {
                  margin: 0;

                  .scroller {
                    overflow-y: visible;

                    height: 100%;
                    max-width: 100%;

                    box-sizing: border-box;

                    margin: 0;
                  }
                }
              }

              > .sp-point-redemption {
                margin-inline-end: .75em;
                border-radius: 5px;
                > .loyalty-member-content {
                  > .loyalty-heading {
                    font-size: 32px;
                  }
                  > .loyalty-sub-heading {
                    font-size: 16px;
                  }
                  > .loyalty-button-container {
                    > .loyalty-button-item {
                      > .member-loyalty-links {
                        > .coupons-description,
                        > .specials-description,
                        > .regis-loyalty-description {
                          font-size: 16px;
                        }
                      }
                    }
                  }
                }
              }

              &.posters-content {
                text-align: start;

                padding-inline: .75em;
                > .poster {
                  width: 50%;
                  height: 25em;
                  position: relative;
                  display: inline-block;
                  vertical-align: top;
  
                  > .link {
                    display: block;
                    height: 100%;
                    width: 100%;
  
                    > .image {
                      height: 100%;
                      width: 100%;
                      background-repeat: no-repeat;
                      background-position: center;
                      background-size: cover;
  
                      border-radius: 5px;
                    }
                  }
  
                  > .content {
                    height: 100%;
                    width: 100%;
                    background-color: #333333;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    box-sizing: border-box;
                    padding: 2em;
                    text-align: center;
  
                    border-radius: 5px;
  
                    > h5 {
                      color: #fff;
                      margin-top: 2em;
                    }
  
                    > a.title-link {
                      background-color: transparent;
                      color: #fff;
                      margin-top: 4em;
  
                      text-decoration: underline;
  
                      border: none;
                    }
                  }
                }
              }

              &.has-sp-point-redemption {
                > .sp-carousel {
                  width: 70%;
                }

                > .sp-point-redemption {
                  width: 30%;
                }
              }
            }

            .sp-carousel {
              width: 100%;
              > .items {
                ng-include {
                  padding: 0;
                }
              }
            }

            .links-content {
              padding-inline: .5em;
              sp-items-grid {
                > .sp-grid-item {
                  height: 13.9375em;

                  padding: .25em;
                  > a {
                    display: block;
                    height: 100%;
                    width: 100%;
                    position: relative;
  
                    border-radius: 5px;
  
                    background-color: #C3AA5A;
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-size: cover;
  
                    > .transparent-background {
                      display: block;
                      width: 100%;
                      height: 100%;
                      background-color: rgba(0, 0, 0, 0.3);
  
                      border-radius: 5px;
                    }
  
                    > .content {
                      position: absolute;
                      top: 0;
                      left: 0;
                      width: 100%;
                      height: 100%;
                      display: flex;
                      flex-direction: column;
                      align-items: center;
                      justify-content: center;
                      gap: 2px;
                      color: #ffffff;
                      text-align: center;
  
                      > * {
                        display: block;
                      }
  
                      > .title {
                        font-size: 1.125em;
                      }
  
                      > .name {
                        font-size: 1.5em;
                        font-weight: bold;
                      }
                    }
                  }
                }
              }
            }
          }

          > .loading-wrapper {
            padding: 1em;
          }

          > .enter-specials-button {
            font-size: 1.5em;
            height: 2.45834em;
            border-radius: 29.5px;
            background-color: #414141;
            margin: 3.3334em 0 4.8333em 0;
            color: #ffffff;
            padding: 0 1em;
            clear: both;

            > * {
              display: inline-block;
              vertical-align: middle;
            }
          }
        }
      }
    }
  }

  &.rtl section.main section.view .home-page-wrapper > .content {
    > .component {
      > .header-wrapper {
        > .carousel-btns-wrapper {
          .action {
            &.previous > button > svg {
              transform: rotate(180deg);
            }
            &.next > button > svg {
              transform: rotate(0deg);
            }
          }
        }
      }
      > .content-wrapper.carousel-content {
        > .sp-point-redemption {
          > .loyalty-member-content {
            > .loyalty-button-container {
              > .loyalty-button-item {
                > .member-loyalty-links {
                  > .coupons-description,
                  > .specials-description {
                    text-align: right;
                  }
                  > svg {
                    transform: translateY(-100%) rotate(180deg);
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  &.hub-child section.main {
    padding-top: $headerHeightWithHub - $menuHeight;
  }

  section.view .home-page-wrapper > .background-wrapper {
    padding-inline-end: $sidenavWidth + .75em;
  }

  section.view .home-page-wrapper > .content {
    padding-inline-end: $sidenavWidth;
  }

  &.close-sidenav, &.hide-sidenav {
    &.ltr, &.rtl {
      section.view .home-page-wrapper > .background-wrapper {
        padding-inline: 0;
      }

      section.view .home-page-wrapper > .content {
        padding-inline: $componentArrowPadding;

        > .component {
          &.item-as-title {
            > .content-wrapper {
              &.has-sp-point-redemption {
                > .content-wrapper {
                  > .sp-carousel {
                    width: calc(70% - #{$carouselTitleItemWidth});
                  }
                  > .sp-point-redemption {
                    width: 30%;
                  }
                }
              }
            }
          }
        } 
      }
    }

    &.ltr section.main section.view .home-page-wrapper > .content {
      > .component {
        > .content-wrapper.carousel-content {
          > .sp-point-redemption {
            > .loyalty-member-content {
              > .loyalty-button-container {
                > .loyalty-button-item {
                  > .member-loyalty-links {
                    > .coupons-description,
                    > .specials-description,
                    > .regis-loyalty-description {
                      font-size: 16px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  &.ltr {
    section.main section.view .home-page-wrapper > .content {
      > .loading-wrapper {
        padding-right: $sidenavWidth + $componentHorizontalPadding;
      }

      > .component > .content-wrapper {
        &.posters-content {
          padding-inline-start: 0.5em;

          text-align: left;
        }
      }
    }
  }

  &.rtl {
    section.main section.view .home-page-wrapper {
      > .content {
        > .loading-wrapper {
          padding-left: $sidenavWidth;
        }

        > .component > .content-wrapper {
          &.posters-content {
            text-align: right;
          }

          > .title-as-item {
            padding-right: $carouselArrowPadding;
            padding-left: $titleAsItemPadding;
          }
        }
      }

      .background-wrapper .background > .img-wrapper > .pause-auto-change {
        left: auto;
        right: 0.5em;

        display: none;
      }
    }
  }
}

.enter-specials-button {
  display: none;
}

@media screen and (max-width: 1575px) {
  html.home {
    section.main {
      section.view {
        padding-top: $responsive1575ToolbarHeight;
      }
    }
  }

  html.home section.main section.view .home-page-wrapper > .content > .component > .content-wrapper.posters-content > .poster {
    height: 25em;
  }

  html.home {
    section.view .home-page-wrapper > .background-wrapper {
      padding-inline-end: $responsive1575SidenavWidth + .75em;
    }

    section.view .home-page-wrapper > .content {
      padding-inline-end: $responsive1575SidenavWidth;
    }

    section.main section.view .home-page-wrapper > .content > .component {
      > .content-wrapper {
        &.has-sp-point-redemption {
          > .sp-carousel {
            width: 60%;
          }

          > .sp-point-redemption {
            width: 40%;
          }
        }
      }
      &.item-as-title {
        > .content-wrapper {
          &.has-sp-point-redemption {
            > .sp-carousel {
              width: calc(60% - #{$carouselTitleItemWidth});
            }

            > .sp-point-redemption {
              width: 40%;
            }
          }
        }
      }
    }

    &.close-sidenav, &.hide-sidenav {
      &.rtl section.main section.view .home-page-wrapper > .content,
      &.ltr section.main section.view .home-page-wrapper > .content {
        > .component {
          > .content-wrapper {
            &.has-sp-point-redemption {
              > .sp-carousel {
                width: 70%;
              }
  
              > .sp-point-redemption {
                width: 30%;
              }
            }
            > .sp-point-redemption {
              width: 45%;
            }
          }
        }
      }
    }
  }

  html.home {
    &.ltr {
      section.main section.view .home-page-wrapper > .content {
        &.old-design {
          > .component, > .loading-wrapper {
            padding-left: $responsive1180MenuCategoriesTitleWidth + $componentHorizontalPadding;
          }
        }
      }
    }

    &.rtl {
      section.main section.view .home-page-wrapper > .content {
        &.old-design {
          > .component, > .loading-wrapper {
            padding-right: $responsive1180MenuCategoriesTitleWidth + $componentHorizontalPadding;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  html.home {
    section.view .home-page-wrapper > .background-wrapper {
      padding-inline-end: $responsive1575SidenavWidth + .75em;
    }

    section.view .home-page-wrapper > .content {
      padding-inline-end: $responsive1575SidenavWidth;
    }

    section.main section.view .home-page-wrapper > .content > .component {
      > .header.has-loyalty-member {
        width: 55%;
      }

      > .content-wrapper {
        > .sp-carousel.has-loyalty-member {
          width: 45%;
        }
        > .sp-point-redemption {
          width: 55%;

          > .loyalty-member-content {
            > .loyalty-heading {
              font-size: 2.5em;
            }

            > .loyalty-sub-heading {
              font-size: 1.2em;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  html.home {
    section.main section.view .home-page-wrapper > .content > .component > .content-wrapper.posters-content > .poster {
      width: 100%;
    }

    section.main section.view .home-page-wrapper > .content > .component {
      > .content-wrapper {
        &.has-sp-point-redemption {
          > .sp-carousel {
            width: 55%;
          }
          > .sp-point-redemption {
            width: 45%;
          }
        }
      }
      &.item-as-title {
        > .content-wrapper {
          > .title-as-item {
            width: 12em;
          }

          &.has-sp-point-redemption {
            > .sp-carousel {
              width: calc(55% - 12em);
            }
            > .sp-point-redemption {
              width: 45%;
            }
          }
        }
      }

      .sp-point-redemption {
        > .loyalty-member-content {
          > .loyalty-heading {
            font-size: 2em;
          }

          > .loyalty-sub-heading {
            font-size: 1em;
          }
        }
      }
    }

    &.close-sidenav, &.hide-sidenav {
      &.rtl section.main section.view .home-page-wrapper > .content,
      &.ltr section.main section.view .home-page-wrapper > .content {
        > .component {
          > .content-wrapper {
            &.has-sp-point-redemption {
              > .sp-carousel {
                width: 60%;
              }
  
              > .sp-point-redemption {
                width: 40%;
              }
            }
          }
        }
      }
    }
  }
}