<svg focusable="false" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="{{'0 0 ' + actualWidth + ' 2.1'}}" class="sp-kikar-round-text">
    <!--<path d="M0,2.1 C0,2.1 3.768,0 7.536,2.1 7.536,2.1 Z" stroke="black"/>-->
    <!--<circle cx="5" cy="0" r="0.1" fill="red"></circle>-->
    <defs>
        <path id="textPath" d="M0,2.1 C0,2.1 3.768,0 7.536,2.1 7.536,2.1 Z"/>
        <!-- ''M0,2.1 C0,2.1 ' + ((width || 10) / 2) + ',-0.9 ' + actualWidth + ',2.1 ' + actualWidth + ',2.1 ' + ((width || 10) / 2) + ',-0.9 0,2.1 Z'-->
    </defs>
    <text font-size="1" x="4.2" text-anchor="middle">
        <textPath xlink:href="#textPath" ng-transclude></textPath>
    </text>
</svg>