<div class="title">
    <div class="name" ng-bind=":: (picker.deliveryMethod.id === $root.SP_SERVICES.DELIVERY_TYPES.DELIVERY ? 'Delivery Time' : 'Pickup Time') | translate"></div>
    <div class="day"><span>{{('day' + sliderPickerCtrl.dropDownItem.value.day) | translate}}</span>
        <span>{{sliderPickerCtrl.dropDownItem.value.isToday ? ('Today' | translate) : (sliderPickerCtrl.dropDownItem.value.date | date: ($root.config.isUs ? 'MM/dd' : 'dd/MM'):'UTC')}}</span>
    </div>
  </div><!--
--><div class="dropdown-items-wrapper">
    <div ng-if="$root.config.retailer.isAsapActive && !sliderPickerCtrl.isFromEditOrder" class="asap"><!--
    sp-disabled="spModel[picker.key] != dropDownItem.value"
        --><sp-checkbox sp-model="sliderPickerCtrl.dropDownItem.value.asap"
                        sp-change="sliderPickerCtrl.dropDownItem.value.asap && sliderPickerCtrl.selectDropDownItem(sliderPickerCtrl.dropDownItem.dropDown.items[0])"
                        ng-click="$event.stopPropagation()" tabindex="-1">
            {{picker.delivery ? ('Send the delivery sooner, if possible' | translate) : ('Prepare the order sooner, if possible' | translate)}}
        </sp-checkbox><!--
    --></div><!--
    --><div class="dropdown-items"><!--
    --><label ng-repeat="item in sliderPickerCtrl.dropDownItem.dropDown.items | orderBy:('fromDisplay' || 'from')" class="dropdown-item"
            ng-class="{
                'selected': (spModel[sliderPickerCtrl.dropDownItem.dropDown.key] == (item.value || item) || sliderPickerCtrl.isDefaultTimeDropDown($index, sliderPickerCtrl.dropDownItem.value.date, sliderPickerCtrl.dropDownItem.dropDown.key)),
                'full': item.disabled,
                'us-format': $root.config.isUs,
                'with-specials': sliderPickerCtrl.dropDownItem.dropDown.withSpecials,
                'focus': item._inFocus
              }"><!--
            --><span class="input-wrapper">
                    <input type="radio" role="radio"
                           ng-model="spModel[sliderPickerCtrl.dropDownItem.dropDown.key]"
                           ng-value="(item.value || item)"
                           ng-change="sliderPickerCtrl.selectDropDownItem(item, $root.config.retailer.isAsapActive ? $event : '');"
                           ng-focus="item._inFocus = true"
                           ng-blur="item._inFocus = false"
                           ng-disabled="item.disabled"
                           name="dropdown-item-radio-button"
                           aria-checked="{{spModel[sliderPickerCtrl.dropDownItem.dropDown.key] == (item.value || item)}}">
               </span><!--
            --><span class="dropdown-item-content"><!--
                --><span ng-if="item.specials.length" class="specials-wrapper">
                    <sp-sale-icon product-special="item.specials[0]" without-actions="true"></sp-sale-icon>

                    <span class="specials-tooltip">
                        <span class="specials-arrow"></span><!--
                        --><span class="specials-content">
                            <span class="special-content" ng-repeat="special in item.specials">
                                <sp-sale-icon product-special="special" without-actions="true"></sp-sale-icon>
                                <span class="description">* {{special.descriptions && special.descriptions[$root.config.language.culture] ? special.descriptions[$root.config.language.culture] : special.description}}</span>
                            </span>
                        </span>
                    </span>
                </span><!--
                --><span class="time">{{item.label}}</span><!--
                --><span class="price">{{('Price' | translate) + ': ' + (item.price !== 0 ? (item.price | currency) : '')}} {{(item.price == 0 ? 'Free' : '') | translate}}</span><!--
            --></span><!--
           --><span class="two-hour-law" ng-if="spModel[sliderPickerCtrl.dropDownItem.dropDown.key] == (item.value || item) && $root.config.retailer.twoHourLaw && picker.deliveryMethod.id === $root.SP_SERVICES.DELIVERY_TYPES.DELIVERY"><!--
                --><span>{{'the waiting period will not exceed two hours' | translate}}</span><!--
            --></span><!--
    --></label><!--
    --></div>
</div>