html.checkout section.view .checkout-content .tab>.details section.delivery-details {
  .dropdown-options-wrapper > .dropdown-options ng-include {
    display: flex !important;
    color: #414141;

    .title {
      color: #414141;
      width: auto;
      padding: 3em;
      height: 100%;
      box-sizing: border-box;
      white-space: nowrap;
      position: relative;

      .day {
        font-size: 1.875em;
      }

      &:after {
        content: '';
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        margin: 1em 0;
        width: 1px;
        background-color: #dbdbdb;
      }
    }

    .dropdown-items-wrapper {
      width: 70%;
      padding: 1.125em 1.875em;
      overflow: auto;

      .dropdown-items > .dropdown-item {
        border: 0;
        border-radius: 2em;
        font-size: 0.875em;
        width: 16.5em;
        box-sizing: border-box;
        padding: 0.2857em 1.285em;
        cursor: pointer;
        margin-bottom: 0.3em;
        position: relative;
        display: block;

        > .input-wrapper {
          display: inline-block !important;
          width: 0 !important;
          height: 0 !important;
          padding: 0 !important;
          margin: 0 !important;
          overflow: hidden !important;
          position: absolute;
        }

        > .dropdown-item-content {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: start;

          > .time, > .price {
            box-sizing: border-box;
          }

          > .time {
            flex: 1 1 auto;
          }

          > .price {
            flex: 0 0 auto;
          }

          .specials-wrapper {
            flex: 0 0 auto;

            .sp-sale-icon {
              position: relative;
              width: 1.5em;
              height: 1.5em;

              svg {
                width: 100%;
                height: 100%;
              }
            }

            .specials-tooltip {
              $width: 11em;
              $arrowWrapperWidth: 0.5em;
              position: absolute;
              display: none;
              width: $width;
              top: 0;
              z-index: 3;
              left: 100%;

              > .specials-arrow {
                $arrowSize: 0.9375em;
                display: inline-block;
                vertical-align: top;
                width: $arrowWrapperWidth;
                height: $arrowSize;
                position: relative;
                overflow: hidden;
                margin-top: 0.65em;

                &:after {
                  content: '';
                  position: absolute;
                  display: inline-block;
                  width: $arrowSize;
                  transform: rotate(45deg);
                  margin-left: $arrowWrapperWidth * 0.75;
                  height: 100%;
                  background-color: #ffffff;
                  box-shadow: 0.1px 1px 7px 0 rgba(0, 0, 0, 0.22);
                }
              }

              > .specials-content {
                display: inline-block;
                vertical-align: top;
                $fontSize: 0.75em;
                font-size: $fontSize;
                width: ($width - $arrowWrapperWidth) / $fontSize * 1em;
                box-shadow: 0.1px 1px 7px 0 rgba(0, 0, 0, 0.22);
                background-color: #ffffff;
                padding: 1em 0.5em;
                @include box-sizing(border-box);

                > .special-content {
                  display: flex;
                  flex-direction: row;
                  align-items: center;
                  justify-content: start;
                  padding-bottom: 0.4em;

                  .sp-sale-icon {
                    flex: 0 0 auto;
                    margin-right: 0.2em;
                  }

                  .description {
                    flex: 1 1 auto;
                    font-weight: 400;
                    display: block;
                  }

                  &:last-child {
                    padding-bottom: 0;
                  }
                }
              }
            }
          }
        }

        > .two-hour-law {
          display: inline-block;
          font-size: 0.8em;
          margin-top: 0.3em;
        }

        &.selected {
          font-weight: 700;
        }

        &:hover {
          background-color: #ededed;

          > .dropdown-item-content .specials-wrapper .specials-tooltip {
            display: block;
          }
        }

        &.us-format {
          width: 20em;

          > .time {
            width: 62%;
          }

          > .price {
            width: 38%;
          }
        }

        &.with-specials {
          width: 18em;

          .dropdown-item-content > .time {
            margin-left: 0.2em;
          }
        }
      }
    }
  }
}

html.checkout.rtl {
  section.view .checkout-content .tab>.details section.delivery-details .dropdown-options-wrapper > .dropdown-options ng-include {
    .title:after {
      right: auto;
      left: 0;
    }

    .dropdown-items-wrapper .dropdown-items > .dropdown-item {
      .dropdown-item-content .specials-wrapper {
        right: 0;
        left: auto;

        .specials-tooltip {
          $arrowWrapperWidth: 0.5em;
          right: 100%;
          left: auto;

          .specials-arrow:after {
            margin-right: $arrowWrapperWidth * 0.75;
          }

          > .specials-content > .special-content .sp-sale-icon {
            margin-right: 0;
            margin-left: 0.2em;
          }
        }
      }

      &.with-specials .dropdown-item-content > .time {
        margin-left: 0;
        margin-right: 0.2em;
      }
    }
  }
}