<sp-sale-icon product="item.item" special="item" class="reminder-to-side" ng-if="$root.config.retailer.settings.isNewPromotionDesignEnabled !== 'true'"></sp-sale-icon>

<a class="special default-text-align clickable" ng-if="!$root.util.isSingleItemSpecial(item)" ng-class="{'with-expiration': $root.config.retailer.showSpecialsValidity}"
   tabindex="0" sp-focus-in>
    <h1 class="sr-only-element">{{($root.config.retailer.settings.showPriceWithoutBottleDeposit &&
            item.names[$root.config.language.id].nameWithoutDeposit) ?
            item.names[$root.config.language.id].nameWithoutDeposit : item.names[$root.config.language.id].name}}</h1>
    <product-image line="item.item.singleLine" product="item" image-key="frontendImageUrl" size="medium" is-product-out-of-stock="{{ item.branch.isOutOfStock || item.item.branch.isOutOfStock }}"></product-image>
    <div class="action-title" ng-class="{'disabled': item.branch.isOutOfStock || item.item.branch.isOutOfStock }" ng-bind="'Select from variety' | translate" ng-if="$root.config.retailer.settings.isNewPromotionDesignEnabled !== 'true'"></div>
    <div class="special-details" ng-class="{'disabled': item.branch.isOutOfStock || item.item.branch.isOutOfStock }" ng-if="$root.config.retailer.settings.isNewPromotionDesignEnabled !== 'true'">
        <div class="description-wrapper">
            <!--<svg focusable="false">-->
                <!--<use xlink:href="#sp-icons-sale-small"></use>-->
            <!--</svg>-->
            <div class="description" special-description-split="{{item.description}}" use-ellipsis="true"></div>
        </div>
        <div class="expiration" ng-bind="($root.config.retailer.settings.isNewPromotionDesignEnabled === 'true' ? ('special_exp_new' | translate) : ('special_exp' | translate)) + ' ' + (item.endDate | date: ($root.config.isUs ? 'MM/dd/yyyy' : 'dd/MM/yyyy'):'UTC')"></div>
    </div>
    <div class="actions landscape show-on-hover large-actions" ng-class="{'disabled': item.branch.isOutOfStock || item.item.branch.isOutOfStock }">
        <span class="for-vertical-align"></span><!--
        --><button class="no-design add-to-cart select aria-show-focus" aria-hidden="true">
            <svg focusable="false">
                <use xlink:href="#sp-icons-add-to-cart"></use>
            </svg>
            <span class="text">{{::'Select' | translate}}</span>
        </button>
    </div>
    <div class="promotion" ng-if="$root.config.retailer.settings.isNewPromotionDesignEnabled === 'true'"
         ng-class="{'disabled': item.branch.isOutOfStock || item.item.branch.isOutOfStock }"
         ng-click="$event.currentTarget.blur();" role="none" tabindex="-1">
        <sp-promotion special="item" is-special="true"></sp-promotion>
        <span class="promotion-description" ng-if="item.names[$root.config.language.id].name || item.names[$root.config.language.id].nameWithoutDeposit"
              ng-bind="($root.config.retailer.settings.showPriceWithoutBottleDeposit && item.names[$root.config.language.id].nameWithoutDeposit) ? item.names[$root.config.language.id].nameWithoutDeposit : item.names[$root.config.language.id].name">
        </span>
        <div class="original-price-wrapper" ng-if="$root.util.isShowOriginalPriceEnabled()"></div>
        <div class="promotion-info" ng-if="$root.config.retailer.showSpecialsValidity || item.names[$root.config.language.id].limitText">
            <span class="realizations" ng-if="item.names[$root.config.language.id].limitText" ng-bind="item.names[$root.config.language.id].limitText"></span>
            <span class="expiration highlight" ng-if="$root.config.retailer.showSpecialsValidity">
                {{'special_exp_new' | translate}}
                {{item.endDate | date: ($root.config.isUs ? 'MM.dd.yyyy' : 'dd.MM.yyyy'):'UTC'}}
            </span>
        </div>
    </div>
    
</a>

<div class="special-product default-text-align clickable" ng-if="$root.util.isSingleItemSpecial(item)" ng-class="{'with-expiration': $root.config.retailer.showSpecialsValidity}"
     tabindex="0" sp-focus-in>
    <h1 class="sr-only-element">{{($root.config.retailer.settings.showPriceWithoutBottleDeposit &&
            item.names[$root.config.language.id].nameWithoutDeposit) ?
            item.names[$root.config.language.id].nameWithoutDeposit : item.names[$root.config.language.id].name}}</h1>
    <sp-unit-weight class="show-on-hover" product="item.item" ng-if="item.item.productDisplayModeId === $root.PRODUCT_DISPLAY.WEIGHT_AND_UNIT.id && $root.config.retailer.enableSwitchUnitWeight && $root.util.isUnitsWeighable(item.item)" cart-line="item.item.singleLine" ng-click="$event.stopPropagation();" product-id="item.item.id"></sp-unit-weight>
    <img class="product-main-tag-icon" ng-if="item.item | productMainTag:(boostProductTags || $root.PermanentFilters.values[$root.PermanentFilters.TYPES.PRODUCT_TAGS])"
         ng-src="{{(item.item | productMainTag:(boostProductTags || $root.PermanentFilters.values[$root.PermanentFilters.TYPES.PRODUCT_TAGS])).languages | name:'iconResourceUrl'}}"
         alt="{{(item.item | productMainTag:(boostProductTags || $root.PermanentFilters.values[$root.PermanentFilters.TYPES.PRODUCT_TAGS])).languages | name:'displayName'}}"/>
    <product-image line="item.item.singleLine" product="item" image-key="frontendImageUrl" size="medium" is-product-out-of-stock="{{ item.branch.isOutOfStock || item.item.branch.isOutOfStock }}"></product-image>
    <sp-product-pricing-method is-case="item.item.isCaseMode" is-pack="isPack" product="item.item" ng-if="$root.config.retailer.settings.isNewPromotionDesignEnabled !== 'true'"></sp-product-pricing-method>
    <div class="data" ng-if="$root.config.retailer.settings.isNewPromotionDesignEnabled !== 'true'"  ng-class="{'disabled': item.branch.isOutOfStock || item.item.branch.isOutOfStock }">
        <div class="brand-and-weight">
            <span class="brand">
                {{item.item.brand.names | name}}
            </span>
            {{item.item.brand.names && item.item.weight ? ' | ' : ''}}
            <span class="weight reverse-text-align" ng-if="item.item.weight">
                {{ item.item | productWeight }}
            </span>
        </div>

        <div class="name" ellipsis title="{{item.item | productName}}"></div>
        <sp-product-price
                regular-price="item.item | regularPrice"
                sale-price="item.item | salePrice"
                product="item.item"
                show-weight-unit="item.item.isWeighable && !item.item.isCaseMode"
                pack-quantity="isPack && item.item.branch.packQuantity"
        ></sp-product-price>
        <div class="special-details">
            <div class="description-wrapper">
                <!--<svg focusable="false">-->
                    <!--<use xlink:href="#sp-icons-sale-small"></use>-->
                <!--</svg>-->
                <div class="description" special-description-split="{{item.description}}" use-ellipsis="true"></div>
            </div>
            <div class="expiration" ng-bind="($root.config.retailer.settings.isNewPromotionDesignEnabled === 'true' ? ('special_exp_new' | translate) : ('special_exp' | translate)) + ' ' + (item.endDate | date: ($root.config.isUs ? 'MM/dd/yyyy' : 'dd/MM/yyyy'):'UTC')"></div>
        </div>
    </div>
    <product-actions class="show-on-hover large-actions"
        text="{{::'Add' | translate}}"
        cart="$root.cart"
        product="item.item"
        is-case="false"
        is-pack="isPack"
        hide-add-button="!!item.item.productProperties && !!item.item.productProperties.length"
        open-product="clickOnItem(item, $index)">
    </product-actions>
    <div class="promotion" ng-if="$root.config.retailer.settings.isNewPromotionDesignEnabled === 'true'"
         ng-class="{'disabled': item.branch.isOutOfStock || item.item.branch.isOutOfStock }"
         ng-click="$event.currentTarget.blur();" role="none" tabindex="-1">
        <sp-promotion special="item" is-special="true"></sp-promotion>
        <span class="promotion-description" ng-if="item.names[$root.config.language.id].name || item.names[$root.config.language.id].nameWithoutDeposit" ng-bind="($root.config.retailer.settings.showPriceWithoutBottleDeposit && item.names[$root.config.language.id].nameWithoutDeposit) ? item.names[$root.config.language.id].nameWithoutDeposit : item.names[$root.config.language.id].name"></span>
        <div class="original-price-wrapper" ng-if="$root.util.isShowOriginalPriceEnabled()">
            <sp-product-price regular-price="item.item | regularPrice"
                product="item.item" pack-quantity="isPack && item.item.branch.packQuantity">
            </sp-product-price>
        </div>
        <div class="promotion-info" ng-if="$root.config.retailer.showSpecialsValidity || item.names[$root.config.language.id].limitText">
            <span class="realizations" ng-if="item.names[$root.config.language.id].limitText" ng-bind="item.names[$root.config.language.id].limitText"></span>
            <span class="expiration highlight" ng-if="$root.config.retailer.showSpecialsValidity">
                {{'special_exp_new' | translate}}
                {{item.endDate | date: ($root.config.isUs ? 'MM.dd.yyyy' : 'dd.MM.yyyy'):'UTC'}}
            </span>
        </div>
    </div>
    <sp-cart-line-count line="item.item.singleLine"></sp-cart-line-count>
</div>
