$specialItemVerticalPadding: 0.56875em;
$specialDescriptionSvgWidth: 2.2942em;
$specialDescriptionHeight: 18.5776%;
$specialDescriptionPaddingLeft: 0.7058em;
$specialImagePadding: 1em;
$specialImageHeight: 100 - $specialDescriptionHeight;
$specialProductImageHeight: 54.6218%;
$specialExpirationFontSize: 0.7534em;
$specialExpirationPadding: (($specialDescriptionSvgWidth + $specialDescriptionPaddingLeft) / $specialExpirationFontSize) * 1em;

.special-item {
  position: relative;
  box-sizing: border-box;
  padding: $specialItemVerticalPadding;
  height: 22.3125em;
  text-align: center;

  .original-price-wrapper{
    height: 2.3em;

    .rtl & div.sp-product-price {
      direction: rtl;
    }

    >div{
      display: grid;
      .normalize-price {
        margin-top: 0.25em;
        font-weight: 300;
        font-size: 0.7em;
      }
    }
  }

  .disabled {
    opacity: 0.35;
    pointer-events: none;
  }
  
  .out-of-stock {
    position: absolute;
    top: 50%;
    height: 2em;
    line-height: 2em;
    padding: 0 0.4em;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    margin-top: -0.75em;
    color: #ffffff;
    border-radius: 16px;
    font-size: 0.75em;
    white-space: nowrap;
    background-color: #F86B2F;
    width: auto;
    left: 50%;
    transform: translateX(-50%);
  }

  .out-of-stock {
    top: 84%;
  }

  > .sale-icon {
    position: absolute;
    right: $specialItemDistance + $specialItemVerticalPadding;
    top: $specialItemDistance + $specialItemVerticalPadding;
    height: 3.188em;
    width: 3.313em;
    z-index: 2;

    > svg {
      height: 100%;
      width: 100%;
    }

    &.club-icon > svg {
      fill: $clubIconFill;
    }
  }

  > a.special, > .special-product {
    position: relative;
    display: block;
    height: 100%;
    background-color: #ffffff;
    box-shadow: 0 0 43px 0 rgba(0, 0, 0, 0.15);
    padding: 0.875em;
    box-sizing: border-box;

    > .image-wrapper {
      width: 100%;
      padding: $specialImagePadding;
      box-sizing: border-box;
    }

    > .actions {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: $specialProductImageHeight;
      text-align: center;
      z-index: 4;

      > .select {
        text-align: center;
        padding: 0;
      }
    }

    // > .sp-unit-weight {
    //   position: absolute;
    //   z-index: 2;
    //   top: 25%;
    //   left: 50%;
    //   transform: translate(-50%, -25%);
    //   @include transition(0.2s);
    // }

    > .special-details, > .data > .special-details {
      font-size: 1.0625em;
      border-top: 1px dashed #bebebe;
      padding-top: 0.76470em;
      box-sizing: border-box;

      > .description-wrapper {
        display: flex;
        color: #010101;
        font-weight: bold;

        $height: 2.6em;

        > svg {
          flex: 0 0 auto;
          height: $height;
          width: $specialDescriptionSvgWidth;
        }

        > .description {
          flex: 1 1 auto;
          height: $height;
          word-break: break-word;
          font-size: 0.9em;
          line-height: 1.2;
          max-width: 100%;
          //padding-left: $specialDescriptionPaddingLeft;
        }
      }

      > .expiration {
        display: none;
        font-size: $specialExpirationFontSize;
        padding-top: 0.1em;
        text-align: right;
      }
    }

    &.with-expiration {
      > .special-details, > .data > .special-details {
        padding-top: 0.46470em;

        > .expiration {
          display: block;
        }
      }
    }
  }

  .new-promotion & {
    a.special,
    .special-product {
      padding: 1.125em;

      > .image-wrapper {
        height: 9em;
        padding: 0;
      }

      > .promotion {
        display: grid;
        margin-top: 2em;

        > .promotion-description {
          height: 2.5em;
          line-height: 1.25em;
          display: grid;
          align-items: center;
          margin-block: 1em;
          font-size: 14px;
          @include ellipsis(2);
        }

        > .promotion-info {
          display: grid;
          grid-row-gap: 0.5em;
          padding: 0.5em 0;
          font-size: 12px;
          color: #78797A;
          border-top: 1px dashed #A0A0A0;

          > .realizations,
          > .expiration {
            color: #78797a;
            font-size: 12px;
            line-height: 14px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

          }
        }
      }

      > .sp-unit-weight {
        position: absolute;
        z-index: 2;
        top: 48%;
        left: 50%;
        transform: translate(-50%, -48%);
        @include transition(0.2s);
      }
    }
  }

  > a.special {
    > .image-wrapper {
      height: 9em;

      > .image {
        height: 100%;
      }
    }

    > .action-title {
      padding-top: 7%;
      height: 100% - $specialProductImageHeight - $specialDescriptionHeight;
      box-sizing: border-box;
    }

    > .special-details {
      height: $specialDescriptionHeight;
    }
  }

  > .special-product {
    > * {
      box-sizing: border-box;
      display: block;
    }

    > .image-wrapper {
      height: 9em;
    }

    > .product-pricing-method {
      z-index: 2;
      top: 0;
      left: 0;
      width: 2.3em;
      height: 4em;
      border-radius: 0 0 19px 19px;

      &.extended{
        height: 6em;
      }

      > button {
        border: none;
        width: 28px;
        height: 28px;
        font-size: 0.487em;
        color: #414141;
        text-align: center;
        margin: auto;
        display: block;

        &.pack {
          font-size: 0.487em;
        }

        &.selected {
          border: none;
          border-radius: 50%;
          font-weight: bold;
          color: #414141;
          background-color: #ffffff;
          // box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.24);
        }

        &:first-child {
          //border-radius: $toggleIsCaseButtonsBorderRadius 0 0 0;
        }
        &:last-child {
          //border-radius: 0 0 0 $toggleIsCaseButtonsBorderRadius;
        }

      }
    }

    .image-wrapper {
      height: 9em!important;
    }

    > .data {
      height: 100% - $specialProductImageHeight;
      box-sizing: border-box;
      $horizontalPadding: 0.35em;
      $weightAndBrandHeight: 11%;
      $descriptionHeight: 40.9395%;
      $priceHeight: 24.3322%;

      > .brand-and-weight {
        $fontSize: 0.8em;
        font-size: $fontSize;
        padding: 0 ($horizontalPadding / clear-units($fontSize));
        color: #a8a8a8;
        font-weight: 400;
        height: $weightAndBrandHeight;

        > .brand, > .weight {
          display: inline-block;
          vertical-align: middle;
          text-overflow: ellipsis;
          overflow: hidden;
          height: 1em;
          max-width: 40%;
          white-space: nowrap;
        }

      }

      > .name {
        $fontSize: 0.99375em;
        font-size: $fontSize;
        padding: 0 ($horizontalPadding / clear-units($fontSize));
        line-height: 1.2em;
        height: 100% - $weightAndBrandHeight - $descriptionHeight - $priceHeight;
      }

      > .sp-product-price, > .special-details > .description-wrapper {
        color: #010101;
        font-weight: bold;
      }

      > .sp-product-price {
        height: $priceHeight;
        $fontSize: 1.1375em;
        font-size: $fontSize;
        padding: 0 ($horizontalPadding / clear-units($fontSize));
        text-align: right;
      }

      > .special-details {
        height: ($specialDescriptionHeight * 100) / (100 - $specialProductImageHeight) * 1%;
      }
    }

    > .sp-cart-line-count {
      &.is-out-of-stock {
        top: 2.5em;
      }
      position: absolute;
      top: 4.5em;
      left: 0;
      width: 100%;
    }
  }

  .show-on-hover {
    opacity: 0;
    transition: opacify 0.4s;
  }

  &:hover, &:focus-within, .special.focus-mode, .special-product.focus-mode {
    .show-on-hover {
      opacity: 4;
    }
  }
  
  &:not(:hover) .show-on-hover:focus {
    opacity: 0;
  }
}

.rtl .special-item {
  > .sale-icon {
    right: auto;
    left: $specialItemDistance + $specialItemVerticalPadding;
  }

  > a.special, > .special-product {
    > .actions {
      left: auto;
      right: 0;
    }

    > .product-pricing-method {
      left: auto;
      right: 0;
    }

    > .data > .sp-product-price {
      text-align: left;
    }

    > .special-details, > .data > .special-details {
      /*> .description-wrapper > .description {
        padding-left: 0;
        padding-right: $specialDescriptionPaddingLeft;
      }*/

      > .expiration {
        text-align: left;
      }
    }
  }
}

.disclaimer {
  position: absolute;
  font-weight: 500;
  right: 0;
  font-size: 16px;
  top: 130px;
}

@media screen and (max-width: 1575px) {
  .special-item > a.special > .action-title {
    font-size: 1.1em;
  }
}