.special-item {
  > .sale-icon > svg {
    fill: $mainColor;
  }

  > .special-product {
    .general-image-wrapper {
      .suggestion.outline {
        left: 3.7em;
      }
    }
    > .product-pricing-method {
      background-color:$secondaryColor;
      > button {
        background-color: $secondaryColor;
      }
    }

  }
}