.sp-kikar-input {
  position: relative;
  color: #939393;
  display: inline-block;

  > * {
    font-size: 1.6em;
  }

  > label {
    position: absolute;
    height: 1em;
    top: calc(1.6em - 10px);
    font-size: 1.10625em;
    transition: 0.4s;
    font-weight: 700;
    pointer-events: none;
    padding: 5px;
  }

  input {
    background: none;
    color: #616161;
    padding-left: 5px;
  }

  &.floating-label > label {
    top: 0;
    font-size: 0.975em;
  }

  .sp-inline-error {
    font-size: 0.975em;
    padding-top: 0;
  }

  &.sp-inline-error-invalid > label {
    color: #ff0000;
  }

  button {
    &.rounded {
      overflow: hidden;
      border-radius: 10em;
      border: 1px solid;
      padding: 0.2em 0.4em;
      font-size: 16px;
      margin-top: 10px;
    }
  }
}
