.dialog-wrapper .dialog {
  &.enable-close .dialog-body {
    padding: 1.2em;
  }

  &.common-dialog .dialog-body {
    min-width: 18em;

    .common-dialog {
      text-align: center;

      > .buttons, > div.common-dialog-content-wrapper > div.common-dialog-content > div.header {
        text-align: center;
      }

      > div.common-dialog-content-wrapper > div.common-dialog-content > div.header > .exclamation-icon {
        display: none;
      }

      > .buttons > button {
        min-width: 7em;
      }
    }
  }

  .dialog-body .close-dialog-corner-button {
    padding-bottom: 0.5em;
    margin-right: -0.5em;
    margin-left: -0.5em;
    margin-top: -0.5em;

    > svg {
      height: 1.2em;
      width: 1.2em;
      fill: #414141;
    }
  }
}

@media screen and (max-width: 1575px) {
  .dialog-wrapper .dialog {
    .dialog-body {
      font-size: 1.05em;
    }

    &.recipe .dialog-body {
      font-size: 1.15em;
    }
  }

  .dialog-wrapper .dialog.common-dialog .dialog-body .common-dialog {
    font-size: 1.1em;
  }
}

@media screen and (max-width: 1366px) {
  .dialog-wrapper .dialog {
    font-size: 0.9em;
  }
}