sp-tabs > .sp-tabs-selector {
  text-align: center;

  > button {
    $fontSize: 1.2em;
    $verticalPadding: 0.625em;
    $horizontalPadding: 1.25em;
    $minWidth: 11em;
    font-size: $fontSize;
    cursor: pointer;
    padding: ($verticalPadding / $fontSize * 1em) ($horizontalPadding / $fontSize * 1em);
    display: inline-block;
    border-color: #666666;
    border-style: solid;
    border-width: 0 0 1px 0;
    transition: color 200ms ease-out;
    color: #616161;
    box-sizing: border-box;
    min-width: $minWidth / $fontSize * 1em;
    text-align: center;

    &.is-selected {
      border-width: 5px 1px 0 1px;
      font-weight: 700;
    }
  }
}

sp-tabs {
  &.hidden {
    .sp-tabs-selector {
      display: none;


      > button {
        &.is-selected {
          border: none !important;
        }
      }


    }
    sp-tabs-pane {
      .bold {
        text-align: center !important;
      }
    }


    + .sp-inline-error {
      padding: 0 5px!important;
    }
  }
}
