<div class="iframe-wrapper">
    <div id="iframe-not-loaded"></div>
    <iframe id="loyalty_iframe" ng-if="loyaltyIframeCtrl.iframeUrl"
        ng-src="{{$root.util.trustSrc(loyaltyIframeCtrl.iframeUrl)}}">
    </iframe>
</div>
