.sp-slider-picker-wrapper .sp-slider-picker {
  > .slider-items-padding-wrapper > .slider-items-wrapper > .slider-items > .slider-item {
    &.selected {
      > .slider-item-content{
        background-color: $mainColor;
      }

      &.has-next .arrow-icon img {
        background-color: $mainColor;
      }
    }

    &.dropdown-shown > .slider-item-content {
      border-color: $mainColor;
    }
  }

  > .slider-primary-item > .slider-primary-item-btn.selected {
    background-color: $mainColor;
  }

  > .dropdown-options {
    border-color: $secondaryColor;

    > .dropdown-arrow-wrapper > .arrow {
      border-color: $secondaryColor;
    }
  }
}