<form role="form" aria-labelledby="contact-us-form-title" ng-show="!contactUsCtrl.isSent" name="contactUsForm" ng-submit="contactUsCtrl.send(contactUsForm, $event)" ng-style="{padding: contactUsCtrl.content[ENUM.LEAVE_A_MESSAGE][LANGUAGE].isUseBackgroundColor && '10px 20px', 'border-radius': contactUsCtrl.content[ENUM.LEAVE_A_MESSAGE][LANGUAGE].isUseBackgroundColor && '10px' ,'background-color': contactUsCtrl.content[ENUM.LEAVE_A_MESSAGE][LANGUAGE].isUseBackgroundColor && contactUsCtrl.content[ENUM.LEAVE_A_MESSAGE][LANGUAGE].backgroundColor}" novalidate>
    <div id="contact-us-form-title" ng-if="contactUsCtrl.content[ENUM.LEAVE_A_MESSAGE][LANGUAGE].title.able" class="leave-message" ng-style="{color: contactUsCtrl.content[ENUM.LEAVE_A_MESSAGE][LANGUAGE].title.color}">{{contactUsCtrl.content[ENUM.LEAVE_A_MESSAGE][LANGUAGE].title.value || 'leave_us_a_message' | translate}}</div>
    <div class="input-wrapper" ng-repeat="input in contactUsCtrl.content[ENUM.LEAVE_A_MESSAGE][LANGUAGE].selection.components">
        <input ng-style="{'color': contactUsCtrl.content[ENUM.LEAVE_A_MESSAGE][LANGUAGE].selection.color}" type="text" name="{{input.name}}" placeholder="{{input.value || input.name | translate}}" ng-model="contactUsCtrl.details[input.name]" ng-required="input.is_mandatory" sp-inline-error />
    </div>
    <div class="contact-us-bg-captcha">
        <sp-captcha is-invalid="contactUsCtrl.captchaIsInvalid"  ng-if="contactUsCtrl.showCaptcha"></sp-captcha>
    </div>

    <button type="submit" class="send-btn" ng-bind="::'Send' | translate"></button>
</form>
<div aria-labelledby="message-sent-title" ng-show="contactUsCtrl.isSent" class="contact-us-bg-sent-wrapper">
    <img class="types-icon" ng-if="contactUsCtrl.content[ENUM.LEAVE_A_MESSAGE][LANGUAGE].icon" src="{{contactUsCtrl.content[ENUM.LEAVE_A_MESSAGE][LANGUAGE].icon}}" alt="Image">
    <div id="message-sent-title" class="types-detail contact-us-bg-sent-wrapper-title" ng-style="{color: contactUsCtrl.content[ENUM.LEAVE_A_MESSAGE][LANGUAGE].messageSendTitle.color}">
        <span>{{contactUsCtrl.content[ENUM.LEAVE_A_MESSAGE][LANGUAGE].messageSendTitle.value || 'your_message_has_been_sent' | translate}}</span>
    </div>
    <div class="types-detail contact-us-bg-sent-wrapper-message" ng-style="{color: contactUsCtrl.content[ENUM.LEAVE_A_MESSAGE][LANGUAGE].messageSendSubtitle.color}">
        <span>{{contactUsCtrl.content[ENUM.LEAVE_A_MESSAGE][LANGUAGE].messageSendSubtitle.value || 'thank_you_for_contact_us' | translate}}</span>
    </div>
</div>