.contact-us-bg {
    padding-top: 2em;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 2em;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-sizing: border-box;

    .contact-us-wrapper {
        width: 60%;
        margin-bottom: 30px;
    }

    input {
        &:focus, &:focus-visible {
            outline: none!important;
        }
    }

    .contact-us-title {
        line-break: anywhere;
        padding-top: 0;
        padding-bottom: 0;
        font-weight: 600;
        font-size: 60px;
    }

    .contact-us-subtitle {
        line-break: anywhere;
        margin-bottom: 1em;
        font-weight: 500;
        font-size: 30px;
        line-height: 40.85px;
    }
    
    .contact-info-group {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 10px;

        .contact-info-item {
            flex: 1; /* 25% width - 10px margin */
            // margin: 6px;
            background-color: #f0f0f0;
            border: 1px solid #ccc;
            box-sizing: border-box;
            text-align: center;
            border-radius: 10px;
            border: none;
            box-sizing: border-box;
            padding: 1em;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            min-height: 115px;

            .types-icon {
                width: 40px;
                height: 40px;
            }

            .types-detail { 
                width: 100%;
                span,a {
                    word-wrap: break-word; 
                }
                a {
                    text-decoration: underline;
                }
            }
        }
    }
    
    form {
        margin-top: 3em;
        .leave-message {
            font-weight: 600;
            font-size: 24px;
            line-height: 32px;
        }

        .form-required-fields {
            display: none;
        }
        .input-wrapper {

            margin-top: 2em;
            width: 100%;
        
            > * {
                width: 100%;
                padding: 0.5em;
                border: 1px solid gray;
                border-radius: 5px;
                height: 100%;
                background: #fff;
            }
        
            .title {
                font-size: 1em;
                padding: 1em;
            }
        
            textarea {
                font-size: 1em;
            }
        }
        .send-btn {
            width: 100%;
            margin-top: 1em;
        }
    }

    &-sent {
        &-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 1em;
            margin-top: 150px;
            width: 100%;

            .types-icon {
                width: 100px;
                height: 100px;
            }

            &-title {
                font-size: 24px;
            }

            &-message {
                font-size: 18px;
                font-weight: 600;
            }
        }
    }

    &-captcha {
        margin-top: 2em;
    }
}
