html.finish {
  height: 100%;

  > body {
    height: 100%;
  }

  section.view {
    background: #f3f3f3;
    text-align: center;

    > [ui-view] {
      height: 100%;

      > .checkout-content {
        height: 100%;

        > .tab {
          height: 100%;
          text-align: center;

          > .finish-content {
            display: inline-block;
            vertical-align: middle;
            background: #ffffff;
            padding: 3.25em 3.25em 0 3.25em;
            width: $checkoutWidth;

            > svg.delivery {
              height: 2em;
              fill: #333333;
              padding: 0;
            }

            > .thank-you {
              font-size: 1.625em;
              padding: 0.7em 0;
              color: #000000;
            }

            > svg.approval {
              height: 2em;
              fill: #57c10d;
              padding-top: 0.7em;
            }

            > .order-confirmation {
              font-size: 1.25em;
              line-height: 1.3em;
              padding: 0.7em 0;
            }

            > .order-type {
              padding-bottom: 0.3em;
            }

            > .order-time {
              padding-bottom: 0.4em;
              font-size: 1.625em;
              line-height: 1.2em;

              > .footnote {
                font-size: 0.5em;
              }
            }

            > button.continue-shopping {
              font-size: 1.5625em;
              height: 2em;
              border-radius: 2em;
              color: #414141;
              font-weight: 700;
              padding: 0 2em;
            }

            > .edit-order-wrapper {
              padding: 3em 0 0.5em 0;
              > button {
                border-radius: 2em;
                background-color: transparent;
                border: 1px solid #000000;
                padding: 0.5em 1em;
              }

              .last-update {
                text-align: center;
                font-size: 1.25em;
                margin-top: 1em;
              }
            }
          }
        }
      }
    }
  }

  checkout-bottom-banner {
    display: none;
  }
}

@media screen and (max-width: 1280px) {
  html.finish {
    section.view {
      > div > .checkout-content > .tab > .finish-content {
        width: 100%;
        box-sizing: border-box;
      }
    }
  }
}