$grayColor: #616161;
$backgroundColor: #f3f3f3;
$toolsActionSvgMarginRight: 0.8em;
$productsSuggestionsHeight: 13em;
$productsSuggestionsNameWidth: 4.5em;
$productsSuggestionsOpenNameWidth: 10em;
$closedProductsSuggestionsNameFontSize: 1.5em;
$openedProductsSuggestionsNameFontSize: 1.8em;
$closedProductsSuggestionsCarouselMarginLeft: -100%;
$openedProductsSuggestionsCarouselMarginLeft: 0;
$openedProductsSuggestionsShadow: 0 0 18px 0 rgba(0, 0, 0, 0.18);
$carouselHeight: 19.9375em;
$carouselNewHeight: 22em;
$carouselCouponHeight: 21.75em;
$carouselTipDonationHeight: 8em;

$suggestionsAnimationDuration: 1s;

@import "./animations";

html.cart-summary {
  &,
  body {
    height: 100%;
  }

  section.view {
    height: auto;
    min-height: 100%;

    background: $backgroundColor;

    &.split-view {
      padding-bottom: 5.5em;

      > div {
        width: 100%;
        display: flex;

        > .last-minute-recommendations {
          width: 50%;
          height: calc((100vh / var(--zoom)) - 10.25em);
          margin-bottom: -6em;
          overflow: auto;
          overflow: overlay;
          background-color: #f0f0f0;
          
          sp-product {
            .out-of-stock.suggestions.text-1 {
              top: 44% !important;
              transform: translateX(-50%);
            }
            .out-of-stock.suggestions.text-2 {
              top: 52% !important;
              transform: translateX(-50%);
            }
          }

          > .header {
            height: 10em;
            position: relative;

            > .background-image {
              height: 13em;
              position: relative;

              > img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
              }
            }

            > .stars {
              position: absolute;
              top: 0;
              bottom: 0;
              left: 0;
              right: 0;

              > img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }

            > .headline {
              width: calc(100% - 1em);
              //height: 3.75em;
              line-height: 1.75em;
              position: absolute;
              //padding: 2em 3em 0;
              @include ellipsis(2);

              h2 {
                padding: 0 0.25em;
                font-size: 20px;
                font-family: inherit;
                color: #ffffff;

                &.image {
                  border-radius: 0.5em;
                  background: rgba(0, 0, 0, 0.3);
                }
              }
            }

            > .lms-header {
              display: flex;
              margin: 1% 0.5em 0 0.5em;
              align-items: center;

              > .lms-title {
                width: 55%;
              }

              > .lms-loyalty-component {
                min-width: 440px;
                display: flex;
                justify-content: end;
                margin-inline-end: 1.5em;
                color: white;

                > .loyalty-package-lms-page {
                  width: 440px;
                  height: 84px;
                  border-radius: 9px;
                  font-size: 24px;
                  display: flex;
                  justify-content: center;
                  align-items: center;

                  > span {
                    width: 75%;
                    text-align: center;
                    height: fit-content;
                    font-weight: 900;
                    font-size: 80%;
                  }
                }
              }
            }
          }

          > .sections {
            margin: -3em 0 2em;
            position: relative;

            > .section {
              width: calc(100% - 3em);
              display: grid;
              margin: 0 2em 1em;
              background-color: #ffffff;
              border-radius: 0.5em;

              &.loading {
                height: 0;
                margin: 0;
                padding: 0;
                overflow: hidden;
                visibility: hidden;
              }

              > .title {
                > h3 {
                  margin: 0 1em;
                  padding: 0.5em;
                  font-size: 20px;
                  font-family: inherit;
                  color: #282828;
                  border-bottom: 1px solid #f0f0f0;
                }
              }

              > .carousel {
                width: calc((50vw / var(--zoom)) - 4em);
                max-width: calc((100vw / var(--zoom)) - 960px - 4em);
                height: $carouselHeight;
                padding: 0.5em 0;
                background-color: #ffffff;

                @media screen and (max-width: 1600px) {
                  max-width: calc((100vw / var(--zoom)) - 720px - 4em);
                }
      
                @media screen and (max-width: 1300px) {
                  max-width: calc((100vw / var(--zoom)) - 640px - 4em);
                }

                &.new-promotion {
                  height: $carouselNewHeight;

                  &.show-original-price {
                    height: $carouselNewHeight + 1em;
                  }

                  > .items > .scroller > .transform-wrapper > .item {
                    > .product-item,
                    > .special-item {
                      height: $carouselNewHeight;
                    }
                  }
                }

                &.tip-donation-carousel {
                  height: $carouselTipDonationHeight;
                  padding: 1em 0;

                  > .items > .scroller > .transform-wrapper > .item {
                    padding: 0 0.5em;

                    > .tip-donation-item {
                      height: 100%;

                      > .carousel-product-item {
                        > .data > .name {
                          @include ellipsis(2);
                        }

                        > .product-actions {
                          display: flex;
                          justify-content: end;
                        }
                      }
                    }
                  }
                }

                > .items > .scroller > .transform-wrapper > .item {
                  padding: 0;

                  > .product-item,
                  > .special-item {
                    width: 100%;
                    height: $carouselHeight;
                    padding: 0;
                  }

                  > .special-item {
                    border: 0;
                  }

                  > .coupon-item {
                    height: $carouselCouponHeight;
                  }
                }
              }
            }
          }

          @media screen and (max-width: 1575px) {
            height: calc((100vh / var(--zoom)) - 9.25em);
          }
        }
      }
    }

    > div {
      width: $checkoutWidth;
      margin: auto;
      color: $grayColor;

      > .cart-summary-wrapper {
        &.split-view {
          width: calc(50% - 2em);
          min-width: calc(960px - 2em);
          left: auto;
          right: 0;
          padding: 0 1em;

          &.two-lines {
            > .tools {
              display: grid;
              grid-template-columns: auto auto 1fr;
              grid-row-gap: 0.5em;

              > * {
                &:nth-child(3) {
                  &::after {
                    display: none;
                  }
                }
              }
            }
          }

          > h1 {
            padding: 0.375em 0;
          }

          > .tools {
            display: flex;
            padding-bottom: 1em;
            font-size: 14px;

            > * {
              padding: 0 1em;
            }

            > .sort-by {
              > span {
                margin: 0 0.5em;
              }

              > .sp-radio-buttons > .sp-radio-option {
                min-width: 6em;
                padding: 0.5em 0.5em;
              }
            }

            > .add-coupon > form > input {
              padding: 0.4em 0 0.2em 0;
            }

            > .clear-cart {
              text-align: left;
              > svg {
                margin-right: 0.5em;
              }
            }

            > sp-kikar-dropdown > .sp-dropdown-text > span > svg {
              margin-right: 0.5em;
            }
          }

          @media screen and (max-width: 1575px) {
            min-width: calc(720px - 2em);
            font-size: 12px;

            > h1 {
              font-size: 2.5em;
            }

            > .tools {
              display: grid;
              grid-template-columns: repeat(3, auto);
              row-gap: 0.25em;
              justify-content: start;
              font-size: 12px;
            }
          }

          @media screen and (max-width: 1300px) {
            min-width: calc(640px - 2em);

            > .tools {
              grid-template-columns: repeat(2, auto);
            }
          }
        }

        > h1 {
          padding: 0.8em 0;
          color: inherit;
        }

        > .tools {
          border-bottom: 1px solid #cccccc;
          padding-bottom: 1.25em;
          white-space: nowrap;
          position: relative;
          z-index: 3;

          > * {
            display: inline-block;
            vertical-align: middle;
            padding: 0 1.375em;
            position: relative;

            &:after {
              $height: 1.6875em;
              content: "";
              display: block;
              position: absolute;
              top: 50%;
              right: 0;
              width: 1px;
              height: $height;
              margin-top: $height / -2;
              background-color: #cccccc;
            }

            &:last-child:after {
              display: none;
            }
          }

          svg:not(.arrow) {
            width: 1.6em;
            height: 2em;
            fill: #989898;
          }

          > div.sort-by {
            color: #616161;

            > * {
              vertical-align: middle;
            }

            > span {
              font-weight: 700;
              margin: 0 0.8em 0 0.8em;
            }

            > .sp-radio-buttons > .sp-radio-option {
              padding-top: 0.68em;
              padding-bottom: 0.68em;
              min-width: 8.9em;
            }

            > svg {
              width: 1.625em;
              height: 1.5em;
              fill: #a4a4a4;
            }
          }

          > div.add-coupon {
            input {
              width: 10em;
              margin-right: 0.8em;
            }

            button {
              color: #ffffff;
              background: #414141;
              border-radius: 3em;
              padding: 0.5em 1.5625em;
              line-height: 1em;
            }
          }

          > button,
          sp-kikar-dropdown {
            font-weight: 700;
            color: $grayColor;

            > .sp-dropdown-text {
              padding: 0;

              > span > svg {
                margin-right: $toolsActionSvgMarginRight;
              }
            }

            > * {
              vertical-align: middle;
            }
          }

          > .clear-cart > svg {
            margin-right: $toolsActionSvgMarginRight;
          }
        }

        > .sp-list-items-wrapper {
          &.split-view {
            height: calc((100vh / var(--zoom)) - 24em);
            overflow: auto;

            &.two-lines {
              height: calc((100vh / var(--zoom)) - 26.5em);
            }

            > .elastic-row {
              display: none;
            }

            > .content-table > table > tbody > tr {
              position: relative;

              &:hover,
              &:focus-within,
              &.hover-mode {
                > td.unit-price,
                > td.total-price{
                  display: none;
                }

                > td.unit-weight,
                > td.actions-wrapper {
                  display: table-cell;
                }
              }

              > td.name {
                position: relative;

                > .sp-promotion {
                  > .promotion-wrapper {
                    display: flex;
                    padding: 0.25em 0 0;
                    background: none;

                    > .tag {
                      padding: 0;
                    }

                    > div {
                      width: 16px;
                      height: 16px;

                      > span {
                        display: none;
                      }
                    }
                  }

                  > .promotion-tooltip {
                    height: calc(100% - 0.25em);
                    display: grid;
                    top: 0.125em;
                    left: 0;
                    right: 0;
                    bottom: 0.125em;

                    > .tooltip {
                      max-height: calc(100% - 1.125em);
                      margin-top: auto;
                    }
                  }
                }

                > .product-properties {
                  width: auto;
                  display: flex;
                  grid-column-gap: 1em;
                  align-items: center;
                  padding: 0.5em 0 0;
                  font-size: 14px;
                  overflow: initial;

                  .property-name {
                    padding: 0;
                  }

                  .dropdown-wrapper {
                    min-width: 15em;

                    sp-kikar-dropdown {
                      height: 2em;

                      .sp-dropdown-text {
                        width: calc(100% - 1em);
                        padding: 0 0.5em;

                        svg {
                          position: absolute;
                          right: 0.5em;
                          top: 50%;
                          transform: translateY(-50%);
                        }
                      }

                      .sp-dropdown-options-wrapper {
                        width: 100%;
                        left: -2px;
                        padding: 0;

                        .sp-kikar-option {
                          padding: 0;

                          &:last-child {
                            border-bottom: 0;
                          }

                          button {
                            padding: 0.5em 0.75em;

                            .for-vertical-align {
                              display: none !important;
                            }

                            .option-content {
                              display: grid;
                              grid-row-gap: 0.25em;
                              padding: 0;

                              .value-name {
                                padding: 0;
                              }

                              .value-desc {
                                font-size: 12px;
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }

                > .cart-line-comments-wrapper {
                  margin: 0.25em 0 0;

                  > .comments-wrapper {
                    height: 26px;
                    align-items: center;
                    font-size: 14px;

                    > svg {
                      margin: 0 0.5em;
                    }

                    > span {
                      max-width: 30em;
                      line-height: 26px;
                      padding: 0 0.25em;
                    }

                    > input {
                      padding: 0.25em 0.25em;
                    }
                  }
                }
              }

              > td.total-price > .sp-product-price {
                display: grid;
              }

              > td.coupon-info {
                padding: 0;

                > .actions {
                  //display: grid;
                  //grid-row-gap: 0.25em;
                  position: absolute;
                  right: 1em;
                  transform: translateY(-50%);
                  justify-items: end;
                  padding: 0;
                  top: 65%;
                  z-index: 1;

                  > * {
                    display: inline-block;
                  }

                  > button {
                    width: 10em;
                    height: 2em;
                    //display: flex;
                    //grid-column-gap: 0.5em;
                    align-items: center;
                    justify-content: center;
                    padding: 0.25em 0.5em;
                    font-size: 14px;
                    background: white;
                    color: #787878;
                    border: 1px solid #a0a0a0;
                  }

                  > .error {
                    height: calc(2em + 4px);
                    //display: grid;
                    align-items: center;
                    font-size: 12px;
                    font-weight: bold;
                    color: #d6353a;
                    position: relative;

                    > .question-mark {
                      border: 1px solid;
                      border-radius: 100%;
                      padding: 0.02em 0.2em;
                    }

                    > .error-tooltip {
                      position: absolute;
                      bottom: 100%;
                      background-color: #ffffff;
                      text-align: left;
                      left: 0;
                      right: -30%;
                      box-shadow: 0 0 0.6em 0 rgba(0, 0, 0, 0.36);
                      display: none;
                      border-radius: 5px 5px 0 0;

                      .title {
                        background-color: #ffebeb;
                        padding: 0.7em;
                        border-radius: 5px 5px 0 0;
                      }

                      .description {
                        color: #787878;
                        font-weight: 400;
                        padding: 0.8em;
                        line-height: 1.25em;
                        font-size: 0.9em;
                      }

                      > * {
                        white-space: break-spaces;
                      }
                    }

                    &:hover, &:focus-within {
                      > .error-tooltip {
                        display: block;
                      }
                    }
                  }
                }
              }

              > td.actions-wrapper {
                display: none;
              }

              > td.actions-wrapper {
                padding: 0;

                > .actions {
                  display: grid;
                  grid-row-gap: 0.25em;
                  position: absolute;
                  right: 1em;
                  transform: translateY(-50%);

                  > button {
                    width: 10em;
                    height: 2em;
                    display: flex;
                    grid-column-gap: 0.5em;
                    align-items: center;
                    justify-content: center;
                    padding: 0.25em 0.5em;
                    font-size: 14px;
                    background: white;
                    color: #787878;
                    border: 1px solid #a0a0a0;
                  }
                }
              }

              &.coupon {
                > td.actions-wrapper > .actions {
                  top: 27%;
                }
              }
            }

            @media screen and (max-width: 1575px) {
              height: calc((100vh / var(--zoom)) - 27.5em);
            }
          }
        }

        > .products-suggestions-wrapper {
          position: fixed;
          bottom: 0;
          z-index: 99;
          transition: background 0.5s;
          background: transparent;

          &.open {
            top: 0;
            background: rgba(0, 0, 0, 0.3);
            transition-delay: $suggestionsAnimationDuration / 2;

            > .products-suggestions {
              box-sizing: border-box;
              pointer-events: all;
              box-shadow: $openedProductsSuggestionsShadow;

              > .name {
                width: $productsSuggestionsOpenNameWidth;

                > span {
                  font-size: $openedProductsSuggestionsNameFontSize;
                  height: auto;
                  display: inline-block;
                  vertical-align: middle;
                  writing-mode: unset;
                }
              }

              > .sp-carousel {
                opacity: 1;

                * {
                  visibility: visible;
                }
              }
            }
          }

          &.open-animations,
          &.close-animations {
            > .products-suggestions {
              animation-duration: $suggestionsAnimationDuration;

              > .name {
                animation-duration: $suggestionsAnimationDuration;

                > span {
                  animation-duration: $suggestionsAnimationDuration;
                }
              }

              > .sp-carousel {
                animation-duration: $suggestionsAnimationDuration;
              }
            }
          }

          > .close {
            position: fixed;
            bottom: $productsSuggestionsHeight + $checkoutBottomBannerHeight +
              0.5em;

            > svg {
              width: 1.25em;
              height: 1.25em;
              fill: #ffffff;
            }
          }

          > .products-suggestions {
            position: fixed;
            z-index: 1;
            bottom: $checkoutBottomBannerHeight;
            width: 100%;
            height: $productsSuggestionsHeight;
            pointer-events: none;
            box-sizing: border-box;

            > .name {
              position: absolute;
              z-index: 2;
              bottom: 0;
              height: 100%;
              padding: 1em;
              box-sizing: border-box;
              width: $productsSuggestionsNameWidth;
              text-align: center;
              color: #ffffff;
              pointer-events: all;
              white-space: nowrap;

              > span {
                display: inline-block;
                vertical-align: middle;
                white-space: normal;
                font-size: $closedProductsSuggestionsNameFontSize;
                width: 100%;
                font-weight: 100;
                writing-mode: vertical-rl;
                overflow: hidden;
              }
            }

            > .sp-carousel {
              $actionWidth: 3em;

              background: #f3f3f3
                url("https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/products-suggestions-background.jpg")
                center center no-repeat;
              opacity: 0.5;
              background-size: cover;
              //transition: margin 0.5s ease-in, opacity 0.5s;

              * {
                visibility: hidden;
              }

              > .action {
                width: $actionWidth;
                text-align: center;

                > button {
                  $buttonSize: 2.5em;

                  display: inline-block;
                  vertical-align: middle;
                  height: $buttonSize;
                  width: $buttonSize;
                  border-radius: $buttonSize;
                  font-size: 1em;
                  background: #414141;
                  padding: 0.7em;

                  > svg {
                    fill: #ffffff;
                  }
                }
              }

              > .items {
                margin: 0 $actionWidth;
                box-sizing: border-box;

                .item {
                  padding: 0.5em;
                }
              }
            }
          }
        }
      }

      .fade {
        width: 50%;
        min-width: 960px;
        position: absolute;
        background: #000000;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: 90;
        opacity: 0.7;

        &.hide {
          display: none;
        }

        &:not(.hide) {
          animation: fadeOut 3s forwards;
          animation-delay: 5s;

          @keyframes fadeOut {
            from {
              opacity: 0.7;
              visibility: visible;
            }
            to {
              opacity: 0;
              visibility: hidden;
            }
          }
        }

        @media screen and (max-width: 1575px) {
          min-width: 720px;
        }

        @media screen and (max-width: 1300px) {
          min-width: 640px;
        }
      }
    }
  }
}

html.ltr.cart-summary section.view {
  .products-suggestions-wrapper {
    left: 0;

    &.open {
      right: 0;

      > .products-suggestions {
        margin-left: 0;

        > .name {
          left: 0;

          > span {
            transform: rotate(0deg);
          }
        }

        > .sp-carousel {
          margin-left: $openedProductsSuggestionsCarouselMarginLeft;
        }
      }
    }

    &.open-animations {
      > .products-suggestions {
        animation-name: ltrOpenSuggestions;

        > .name {
          animation-name: ltrOpenSuggestionsName;

          > span {
            animation-name: ltrOpenSuggestionsNameSpan;
          }
        }

        > .sp-carousel {
          animation-name: ltrOpenSuggestionsCarousel;
        }
      }
    }

    &.close-animations {
      > .products-suggestions {
        animation-name: ltrCloseSuggestions;

        > .name {
          animation-name: ltrCloseSuggestionsName;

          > span {
            animation-name: ltrCloseSuggestionsNameSpan;
          }
        }

        > .sp-carousel {
          animation-name: ltrCloseSuggestionsCarousel;
        }
      }
    }

    > .close {
      right: 0.5em;
    }

    > .products-suggestions {
      left: 0;
      padding-left: $productsSuggestionsOpenNameWidth;
      margin-left: -($productsSuggestionsOpenNameWidth -
            $productsSuggestionsNameWidth);

      > .name {
        left: $productsSuggestionsOpenNameWidth - $productsSuggestionsNameWidth;

        > span {
          transform: rotate(180deg);
        }
      }

      > .sp-carousel {
        margin-left: $closedProductsSuggestionsCarouselMarginLeft;
      }
    }
  }
}

html.rtl.cart-summary section.view {
  > div > .cart-summary-wrapper {
    > .tools {
      > *:after {
        right: auto;
        left: 0;
      }

      > div.add-coupon input {
        margin-right: auto;
        margin-left: 0.8em;
      }

      > .clear-cart > svg,
      > sp-kikar-dropdown > .sp-dropdown-text > span > svg {
        margin-right: auto;
        margin-left: $toolsActionSvgMarginRight;
      }
    }

    > .sp-list-items-wrapper.split-view > .content-table tbody > tr {
      > td.actions-wrapper, > td.coupon-info {
        > .actions {
          left: 1em;
          right: auto;
        }
      }

      > td.coupon-info {
        > .actions > .error > .error-tooltip {
          text-align: right;
          left: -30%;
          right: 0;
        }
      }
    }
  }

  .products-suggestions-wrapper {
    right: 0;

    &.open {
      left: 0;

      > .products-suggestions {
        margin-right: 0;

        > .name {
          right: 0;
        }

        > .sp-carousel {
          margin-right: $openedProductsSuggestionsCarouselMarginLeft;
        }
      }
    }

    &.open-animations {
      > .products-suggestions {
        animation-name: rtlOpenSuggestions;

        > .name {
          animation-name: rtlOpenSuggestionsName;

          > span {
            animation-name: rtlOpenSuggestionsNameSpan;
          }
        }

        > .sp-carousel {
          animation-name: rtlOpenSuggestionsCarousel;
        }
      }
    }

    &.close-animations {
      > .products-suggestions {
        animation-name: rtlCloseSuggestions;

        > .name {
          animation-name: rtlCloseSuggestionsName;

          > span {
            animation-name: rtlCloseSuggestionsNameSpan;
          }
        }

        > .sp-carousel {
          animation-name: rtlCloseSuggestionsCarousel;
        }
      }
    }

    > .close {
      left: 0.5em;
    }

    > .products-suggestions {
      right: 0;
      padding-right: $productsSuggestionsOpenNameWidth;
      margin-right: -($productsSuggestionsOpenNameWidth -
            $productsSuggestionsNameWidth);

      > .name {
        right: $productsSuggestionsOpenNameWidth - $productsSuggestionsNameWidth;
      }

      > .sp-carousel {
        margin-right: $closedProductsSuggestionsCarouselMarginLeft;
      }
    }
  }

  .fade {
    left: 0;
    right: auto;
  }
}

@media screen and (max-width: 1575px) {
  html.cart-summary
    section.view
    > div
    > .cart-summary-wrapper
    > .products-suggestions-wrapper
    > .products-suggestions
    > .sp-carousel
    > .items
    .item {
    font-size: 1.2em;
  }
}

@media screen and (max-width: 1220px) {
  html.cart-summary section.view {
    > div {
      width: auto;

      > .cart-summary-wrapper {
        font-size: 0.85em;

        > h1 {
          padding-top: 0.5em;
          padding-bottom: 0.5em;
        }
      }
    }
  }
}
