html.cart-summary section.view {
  .products-suggestions-wrapper > .products-suggestions {
    > .name {
      background: $mainColor;
    }

    > .sp-carousel > .items .item > .suggestion > .sale-icon > svg {
      fill: $mainColor;
    }
  }

  .last-minute-recommendations > .header.default-background {
    background-color: $mainColor;
  }

  .cart-summary-wrapper.split-view .cart-line-comments-wrapper input {
    border-color: $mainColor;
  }
}
