<div class="component-wrapper legal-text-component"
     ng-init="premiumLoyaltyCtrl.initGeneralComponent(component)"
     ng-style="{'background-color': component.content.componentBackgroundColor}">
    <p ng-style="{'color': component.content.titleColor}">
        {{component.content.titleText[$root.config.language.culture]}}
    </p>
</div>
