<div class="component-wrapper coupons-component" ng-if="premiumLoyaltyCtrl.coupons.length">
    <h2 ng-style="{'color': component.content.titleColor}"
        ng-if="component.content.isTitleTextOn">
        {{component.content.titleText[$root.config.language.culture] || ('My Coupons' | translate)}}
    </h2>

    <sp-carousel class="carousel coupons-carousel"
                 template-url="template/views/cart-summary/partials/carousel-coupon-item/index.html"
                 items="premiumLoyaltyCtrl.coupons"
                 functions="premiumLoyaltyCtrl.couponAction"
                 item-width="161"
                 rows="{default:1}">
    </sp-carousel>
</div>