<div class="component-wrapper points-accumulation-progress-bar">
    <div class="not-eligible" ng-if="(premiumLoyaltyCtrl.userPoints || premiumLoyaltyCtrl.userPoints === 0) && premiumLoyaltyCtrl.userPoints < premiumLoyaltyCtrl.loyaltyClub.minPointsNum"
         ng-style="{'background-image': 'url(' + premiumLoyaltyCtrl.loyaltyClub.banners.desktopLpdProgressBar + ')'}">
        <h2 ng-if="component.content.isNotEligibleTitleTextOn" class="text" ng-style="{'color': component.content.notEligibleTitleColor}">
            {{(component.content.notEligibleTitleText[$root.config.language.culture] || ('Hi {Customer Name}, You\'ve accumulated {points accumulation} points on Foodies program' | translate))
                | replaceAll:'{points accumulation}':premiumLoyaltyCtrl.userPoints | replaceAll:'{Customer Name}':premiumLoyaltyCtrl.userData.firstName
            }}
        </h2>
        <div class="points-progress-bar">
            <div class="progress-bar" ng-style="{'background-color': component.content.progressBarColor}">
                <div class="inner-progress-bar" ng-style="{'width': (premiumLoyaltyCtrl.precentsPointsOutOfMin + '%'), 'background-color': component.content.indicatorColor}"></div>
                <div class="progress-bar-max">{{premiumLoyaltyCtrl.loyaltyClub.minPointsNum}}</div>
            </div>
        </div>

        <div ng-if="component.content.isNotEligibleDescriptionTextOn" class="description"
             ng-style="{'color': component.content.notEligibleDescriptionColor}">
            {{(component.content.notEligibleDescriptionText[$root.config.language.culture] || ('With an additional accumulation of {money value} ,you\'ll be able to redeem cashback.' | translate))
                .replace('{money value}', premiumLoyaltyCtrl.monyeToRedeem | currency:null:premiumLoyaltyCtrl.loyaltyClubDriver.clientConfig.pointsDecimalRound)}}
        </div>
    </div>

    <div class="eligible" ng-if="premiumLoyaltyCtrl.userPoints && premiumLoyaltyCtrl.userPoints >= premiumLoyaltyCtrl.loyaltyClub.minPointsNum && !premiumLoyaltyCtrl.isUsedPoints"
         ng-style="{'background-image': 'url(' + premiumLoyaltyCtrl.loyaltyClub.banners.desktopLpdProgressBar + ')'}"
    ng-class="{'isOneTimeUser': premiumLoyaltyCtrl.isOneTimeUser}">
        <h2 ng-if="component.content.isNotEligibleTitleTextOn" class="text" ng-style="{'color': component.content.notEligibleTitleColor}">
            {{(component.content.notEligibleTitleText[$root.config.language.culture] || ('Hi {Customer Name}, You\'ve accumulated {points accumulation} points on Foodies program' | translate))
                | replaceAll:'{points accumulation}':premiumLoyaltyCtrl.userPoints | replaceAll:'{Customer Name}':premiumLoyaltyCtrl.userData.firstName
            }}
        </h2>
        <button ng-if="!premiumLoyaltyCtrl.isOneTimeUser"
                ng-style="{'background-color': component.content.redeemButtonBackgroundColor, 'color': component.content.redeemButtonColor}"
                ng-click="premiumLoyaltyCtrl.redeemPoints()">
            {{component.content.redeemButtonText[$root.config.language.culture] || ('Redeem now' | translate)}}
        </button>
        <div class="point-calculation">
            <span>{{premiumLoyaltyCtrl.userPointsToMoney | currency:null:premiumLoyaltyCtrl.loyaltyClubDriver.clientConfig.pointsDecimalRound}}</span>
            <span>({{premiumLoyaltyCtrl.userPoints + ' ' +
                    (premiumLoyaltyCtrl.loyaltyClubDriver.clientConfig.loyaltyPages.purchaseSummary[$root.config.language.culture].cashbackLabel ||
                    premiumLoyaltyCtrl.loyaltyClubDriver.clientConfig.loyaltyPages.purchaseSummary[$root.config.retailer.culture].cashbackLabel ||
                    ('Points' | translate))}})</span>
        </div>
    </div>

    <div class="redeemed" ng-if="premiumLoyaltyCtrl.userPoints && premiumLoyaltyCtrl.userPoints >= premiumLoyaltyCtrl.loyaltyClub.minPointsNum && premiumLoyaltyCtrl.isUsedPoints"
    ng-style="{'background-image': 'url(' + premiumLoyaltyCtrl.loyaltyClub.banners.desktopLpdProgressBar + ')'}">
        <div ng-if="component.content.isAfterRedeemedTitleTextOn" class="animation-wrapper"
             ng-style="{'background-image': premiumLoyaltyCtrl.showAnimation ? 'url(' + premiumLoyaltyCtrl.loyaltyClub.banners.desktopLpdAfterRedeemedAnimation + ')' : ''}">
            <h2 ng-style="{'color': component.content.afterRedeemedTitleColor}">
                {{(component.content.afterRedeemedTitleText[$root.config.language.culture] || ('Hi {Customer Name}, Congrats! {cashback amount} is waiting for you on the cart' | translate))
                    | replaceAll:'{cashback amount}':(premiumLoyaltyCtrl.userPointsToMoney | currency:null:premiumLoyaltyCtrl.loyaltyClubDriver.clientConfig.pointsDecimalRound) | replaceAll:'{Customer Name}':premiumLoyaltyCtrl.userData.firstName
                }}
            </h2>
            <button class="no-design" ng-style="{'color': component.content.afterRedeemedButtonColor}"
                    ng-click="premiumLoyaltyCtrl.unredeemedPoints()">
                {{component.content.afterRedeemedButtonText[$root.config.language.culture] || ('Unredeemed' | translate)}}
            </button>
        </div>
    </div>
</div>
