<div class="component-wrapper potential-coupons">
    <img ng-if="premiumLoyaltyCtrl.loyaltyClubDriver.clientConfig.banners.desktopLpdPotentialCouponsComponent"
         ng-src="{{premiumLoyaltyCtrl.loyaltyClubDriver.clientConfig.banners.desktopLpdPotentialCouponsComponent}}"
         alt="{{component.content.desktopCouponsBannerAccessibility}}">
</div>

<ng-include ng-if="premiumLoyaltyCtrl.userType === $root.LOYALTY_PAGE_METHODS.NON_LOYALTY_MEMBER && !!premiumLoyaltyCtrl.signInComponentTypesObj[component.type]"
            src="$root.LOYALTY_PAGE_COMPONENT_TYPES.BY_VALUE[$root.LOYALTY_PAGE_COMPONENT_TYPES.BY_NAME.SIGN_IN_COMPONENT].templateUrl">
</ng-include>