<div class="component-wrapper q-and-a-component"
     ng-init="premiumLoyaltyCtrl.initGeneralComponent(component)"
     ng-style="{'background-color': component.content.componentBackgroundColor}">
    <h2 ng-style="{'color': component.content.titleColor}">
        {{component.content.titleText[$root.config.language.culture] || ('Questions And Answers' | translate)}}
    </h2>

    <div class="questions-wrapper">
        <div class="question-item" ng-repeat="item in (component.content.questionsList[$root.config.language.culture] || [])"
             ng-click="item.isExpended = !item.isExpended" aria-expanded="{{!!item.isExpended}}"
             ng-if="!!item.question && !!item.answer"
             ng-style="{'color': component.content.titleColor}">
            <div class="question-row">
                <div>{{item.question}}</div>
                <svg ng-if="!item.isExpended" focusable="false"
                     ng-style="{'fill': component.content.titleColor}">
                    <use xlink:href="#sp-icons-plus-circle"></use>
                </svg>
                <svg ng-if="item.isExpended" focusable="false"
                     ng-style="{'fill': component.content.titleColor}">
                    <use xlink:href="#sp-icons-minus-circle"></use>
                </svg>
            </div>
            <div class="answer" ng-if="item.isExpended">{{item.answer}}</div>
        </div>
    </div>
</div>