<div class="component-wrapper stores-component"
     ng-init="premiumLoyaltyCtrl.initGeneralComponent(component)"
     ng-style="{'background-color': component.content.componentBackgroundColor}">
    <h2 ng-style="{'color': component.content.titleColor  || premiumLoyaltyCtrl.defaultTextColor}"
        ng-if="component.content.isTitleTextOn">
        {{component.content.titleText[$root.config.language.culture] || ('The locations in which you can redeem your rewards' | translate)}}
    </h2>
    <img ng-if="premiumLoyaltyCtrl.loyaltyClubDriver.clientConfig.banners.desktopLpdStoresComponent"
         ng-src="{{premiumLoyaltyCtrl.loyaltyClubDriver.clientConfig.banners.desktopLpdStoresComponent}}"
         alt="{{component.content.desktopStoresBannerAccessibility}}">
</div>

<ng-include ng-if="premiumLoyaltyCtrl.userType === $root.LOYALTY_PAGE_METHODS.NON_LOYALTY_MEMBER && !!premiumLoyaltyCtrl.signInComponentTypesObj[component.type]"
            src="$root.LOYALTY_PAGE_COMPONENT_TYPES.BY_VALUE[$root.LOYALTY_PAGE_COMPONENT_TYPES.BY_NAME.SIGN_IN_COMPONENT].templateUrl">
</ng-include>
