<div class="shop-list-container" refresher="$root.config.language.id">
    <div class="title-wrapper">
        <div class="back" ><a class="clickable" ng-click="goBack()">< {{'Back to my shopping lists' | translate}}</a></div>
        <h1 id="page_title">{{'Shopping list' | translate}}: {{shopListCtrl.shopList.name}}</h1>
        <div class="list-actions">
            <button class="no-design" ng-click="shopListCtrl.createNewCart();">
                <div class="icon-wrapper">
                    <svg focusable="false">
                        <use xlink:href="#sp-icons-plus"></use>
                    </svg>
                </div>
                <div class="desc" ng-bind="::('create new cart' | translate).replace('{cart}', $root.config.retailer.settings.setCartNameToBasket ? $root.config.retailer.settings.setCartNameToBasket : 'cart')"></div>
            </button><!--
            --><button class="no-design" ng-click="shopListCtrl.addToCart(); ">
            <div class="icon-wrapper">
                <svg focusable="false">
                    <use xlink:href="#sp-icons-add-to-cart"></use>
                </svg>
            </div>
            <div class="desc" ng-bind="::('add to cart' | translate).replace('{cart}', $root.config.retailer.settings.setCartNameToBasket ? $root.config.retailer.settings.setCartNameToBasket : 'cart')"></div>
        </button>
        </div>

        <div class="check-all">
            <sp-checkbox sp-model="shopListCtrl.checkAllIsActive" sp-change="shopListCtrl.checkAll()">{{::'Check all' | translate}}</sp-checkbox>
        </div>
    </div>

    <sp-table class="{{'sp-table-shopping-list' + (shopListCtrl.sortByCategories ? ' sort-by-categories' : '') + ($root.config.retailer.settings.isNewPromotionDesignEnabled === 'true' ? ' new-promotion' : '')}}"
              sort-by-categories="shopListCtrl.sortByCategories"
              items="shopListCtrl.sortByCategories ? shopListCtrl.sortedListByTree : shopListCtrl.shopList.items"
              actions="shopListCtrl.actions"
              default-sort-by="(product.names | name).long"
              colspan="$root.config.retailer.settings.isNewPromotionDesignEnabled === 'true' ? 9 : 8">
        <sp-table-column title="{{'Select' | translate}}" style-class="select">
            <sp-checkbox sp-disabled="item.quantity <= 0" sp-model="item.actionsChecked" ng-class="{'disabled': item.isProductOutOfStock}"></sp-checkbox>
        </sp-table-column>
        <sp-table-column title="{{'Quantity' | translate}}" sort-by="quantity" style-class="quantity">
            <div class="quantity-text"  ng-class="{'disabled': item.isProductOutOfStock}">
                {{$root.util.isWeightQuantity(item.product) ? (item.product | productWeight:item.isCase:null:item.quantity) : item.quantity}}
            </div>
            <div class="quantity-actions"  ng-class="{'disabled': item.isProductOutOfStock}">
                <button class="no-design" ng-click="setQuantity(item, 1);">
                    <svg focusable="false" aria-labelledby="quantity_plus_title" role="img">
                        <title id="quantity_plus_title">{{'plus' | translate}}</title>
                        <use xlink:href="#sp-icons-plus"></use>
                    </svg>
                </button>
                <div class="input-wrapper">
                    <input type="number" ng-model="item.quantity"/><!--
                --><span ng-if="$root.util.isWeightQuantity(item.product)" class="unit-name">{{(item.product | unitNames | name)}}</span>
                </div>
                <button class="no-design" ng-click="setQuantity(item, -1);">
                    <svg focusable="false" aria-labelledby="quantity_minus_title" role="img">
                        <title id="quantity_minus_title">{{'minus' | translate}}</title>
                        <use xlink:href="#sp-icons-minus"></use>
                    </svg>
                </button>
            </div>
        </sp-table-column>
        <sp-table-column title="" style-class="image">
            <div class="image-wrapper general-image-wrapper">
                <img ng-src="{{item.product | productImage:'small'}}" ng-class="{'disabled': item.isProductOutOfStock}" alt="{{item.product ? (item.product | productName:item.isCase) : item.name}}"/>
                <span ng-if="!item.product._suggestions && (item.isProductOutOfStock || item.isNeedToShowOutOfStockLabel)" class="out-of-stock">{{'Out of stock' | translate}}</span>
                <span class="out-of-stock suggestions text-1" ng-if="item.product._suggestions && (item.isProductOutOfStock || item.isNeedToShowOutOfStockLabel)" ng-click="openSuggestions(item)">{{'Out of Stock' | translate}}</span>
                <span class="out-of-stock suggestions text-2" ng-if="item.product._suggestions && (item.isProductOutOfStock || item.isNeedToShowOutOfStockLabel)" ng-click="openSuggestions(item)">
                    <span><svg role="presentation" class="replace-arrow" focusable="false"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{'#sp-icons-replace-arrow-' + $root.config.language.direction}}"></use></svg></span>
                    <span>{{'replace_2' | translate}}</span>
                </span>
                <span class="suggestions" ng-if="item.product._suggestions && (item.isProductOutOfStock || item.isNeedToShowOutOfStockLabel)">
                    <svg class="outline-large" focusable="false"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#sp-icons-out-of-stock-outline"></use></svg>
                    <svg class="outline-small" focusable="false"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#sp-icons-out-of-stock-outline-small"></use></svg>
                </span>
            </div>
        </sp-table-column>
        <sp-table-column title="{{'Name' | translate}}" style-class="product-details">
            <span>
                <span ng-if="!!item.product" class="name">
                    <div ng-class="{'disabled': item.isProductOutOfStock}" class="brand">{{(item.product.brand.names | name) + (item.product.brand.names && item.product.weight ? ' | ' : '') + (item.product.weight ? (item.product | productWeight:item.product.isCaseMode) : '')}}</div>
                    <div ng-class="{'disabled': item.isProductOutOfStock}" class="product-name">{{(item.product ? (item.product | productName:item.isCase) : item.name)}}</div>
                    <div ng-class="{'disabled': item.isProductOutOfStock}" class="specials" ng-if="item.product.branch && item.product.branch.specials && $root.config.retailer.settings.isNewPromotionDesignEnabled !== 'true'">
                        <div class="special-desc" ng-repeat="special in item.product.branch.specials">{{('Special' | translate) + ': ' + special.description}}</div>
                    </div>
                </span>
                <span ng-class="{'disabled': item.isProductOutOfStock}" ng-if="!item.product" class="name">{{'Not active' | translate}}</span>
            </span>
        </sp-table-column>
        <sp-table-column style-class="{{$root.config.retailer.settings.isNewPromotionDesignEnabled === 'true' ? 'new-promotion' : 'new-promotion-hide'}}">
            <div ng-class="{'disabled': item.isProductOutOfStock}">
                <sp-promotion product="item.product" is-list="true" ng-if="item.product && item.product.branch.specials.length"></sp-promotion>
            </div>
        </sp-table-column>
        <sp-table-column title="{{'Unit price' | translate}}" sort-by="product | regularPrice">
            <span ng-class="{'disabled': item.isProductOutOfStock}">{{item.product | regularPrice:item.isCase | currency}}</span>
        </sp-table-column>
        <sp-table-column title="{{'Price' | translate}}" sort-by="(product | regularPrice) * quantity" style-class="price">
            <span ng-class="{'disabled': item.isProductOutOfStock}">
                <span class="product-price-with-disclaimer" ng-if="!$root.util.isUnitsWeighable(item.product) && !item.isCase">
                {{(item.product | regularPrice:item.isCase) * item.quantity | currency}}
                    <span ng-if="$root.config.retailer.settings.showPriceWithoutBottleDeposit && item.product && item.product.branch && item.product.branch.linkedProductPrice"
                          class="bottle-deposit-disclaimer">
                        <img className="bottle-deposit-disclaimer-img" style="width:20px; height:20px" ng-src="{{'https://d226b0iufwcjmj.cloudfront.net/global/mobile/images/icons/info-icon.png'}}"/>
                        <span class="bottle-deposit-disclaimer-content">
                            <span class="text">{{$root.config.retailer.settings.disclaimerOnCartPages[$root.config.language.id] || ('Price includes bottle deposit' | translate)}}</span>
                            <span class="arrow"></span>
                        </span>
                    </span>
                </span>
                <span ng-if="$root.util.isUnitsWeighable(item.product) && !item.isCase">
                    {{ (item.product | regularPrice:item.isCase) * item.product.weight * item.quantity | currency }}
                </span>
            </span>
        </sp-table-column>
        <sp-table-column title="{{'Product properties' | translate}}" style-class="{{item.isProductOutOfStock ? 'disabled' : ''}}">
            <product-properties item="item" ng-if="item.product.productProperties && item.product.productProperties.length"></product-properties>
        </sp-table-column>
        <sp-table-column title="{{'Comments' | translate}}">
            <span ng-class="{'disabled': item.isProductOutOfStock}">{{item.comments}}</span>
        </sp-table-column>
    </sp-table>
    <div class="save-button-container">
        <div class="save-button">
            <button class="no-design" ng-click="shopListCtrl.save()" ng-bind="'Save' | translate"></button>
        </div>
    </div>
</div>
