<div class="bypass-blocks-wrapper"
     ng-include="'template/views/header/partials/bypass-blocks/index.html'"></div>
<div class="hub-header" ng-style="{'background-color': $root.config.hubRetailer.siteColor}"
     ng-include="'template/views/header/partials/hub-header/index.html'">
</div>
<div class="toolbar">
    <span class="logo">
        <a ui-sref="app.home"><!--
            --><span class="for-vertical-align"></span><!--
            --><img ng-src="{{::$root.config.retailer.logoUrl | image}}" alt="{{::$root.config.retailer.title + ' ' + ('Home page link' | translate)}}"/><!--
     --></a>
    </span>

    <div class="accessibility-statement" ui-sref="app.accessibilityStatement" ng-if="$root.config.retailer.settings.accessibilityStatementEnabled === 'true'">
        <svg focusable="false" class="accessibility-statement-logo" role="presentation">
            <use xlink:href="#sp-icons-accessibility"></use>
        </svg>
        <span class="accessibility-statement-content">
            <span class="for-vertical-align"></span>
            <span class="text default-text-align">
                <span>{{'Accessibility Statement' | translate}}</span>
            </span>
        </span>
    </div>

    <span class="data">
        <span class="search-wrapper" role="search" aria-label="{{'search' | translate}}"
              ng-class="::{'has-permanent-filters': $root.config.retailer.isPermanentViewFiltersActive}">
            <span class="input">
                <input class="search-input"
                       ng-focus="headerCtrl.showAutocomplete()"
                       ng-model="headerCtrl.searchQuery" sp-escape="headerCtrl.closeList($event)"
                       type="search" sp-placeholder="{{$root.searchText && $root.searchText[$root.config.language.culture].replace(
                        ('searchtext_storename_placeholder' | translate), $root.config.retailer.title
                    ) || (('Search'|translate)+ ' '  + $root.config.retailer.title)}}"
                       autocomplete="off"
                       ng-change="headerCtrl.searchQuery.length > 200 && (headerCtrl.searchQuery = headerCtrl.searchQuery.substring(0, 200));"
                       aria-autocomplete="inline" aria-haspopup="true"/>
                <sp-search-autocomplete
                        sp-escape
                        ng-if="$root.config.retailer.searchAutocompleteIsActive"
                        sp-model="headerCtrl.searchQuery">
                </sp-search-autocomplete>
                <button title="{{'Search' | translate}}" type="button" ng-click="headerCtrl.searchProducts($event);" class="no-design icon dark">
                    <svg focusable="false">
                        <use xlink:href="#sp-icons-search"></use>
                    </svg>
                </button>

                <sp-autocomplete
                        ng-if="!$root.config.retailer.searchAutocompleteIsActive"
                        sp-model="headerCtrl.searchQuery"
                        sp-get-options="headerCtrl.getAutoCompleteOptions()"
                        sp-choose="headerCtrl.searchProducts($event)"
                        sp-filters-template-url="template/views/header/partials/autocomplete-filter-option/index.html"
                        sp-filters="headerCtrl.autoCompleteFilters()"
                        sp-show-on-focus="true">
                </sp-autocomplete>
            </span>

            <span class="permanent-filters padding" ng-if="::$root.config.retailer.isPermanentViewFiltersActive">
                <button class="no-design" ng-click="$root.PermanentViewFiltersDialog.show()">
                    <span class="main-flex" ng-if="!$root.PermanentFilters.values[$root.PermanentFilters.TYPES.PRODUCT_TAGS].length">
                        <span class="main-title block">{{($root.config.retailer.permanentViewFiltersTexts | name).buttonMainText || ( "What's your lifestyle?" | translate)}}</span>
                        <span class="sub-title block">{{($root.config.retailer.permanentViewFiltersTexts | name).buttonSubText || ('Filter entire store' | translate)}}</span>
                    </span>
                    <span class="main-flex main-title" ng-if="$root.PermanentFilters.values[$root.PermanentFilters.TYPES.PRODUCT_TAGS].length">
                        {{'Store is filtered' | translate}}
                    </span>

                    <svg focusable="false">
                        <use xlink:href="#sp-icons-arrow-down"></use>
                    </svg>
                </button>
            </span>
        </span>

        <div class="settings" role="navigation" aria-label="{{'settings' | translate}}">
            <span title="{{'Sign up for the newsletter' | translate}}" class="newsletter" ng-click="headerCtrl.showNewsletterPopup()" ng-show="$root.config.retailer.settings.newsletterAllowPopup && !headerCtrl.hubData">
                <svg focusable="false" aria-labelledby="newsletter_title" role="img">
                    <title id="newsletter_title">{{'newsletter' | translate}}</title>
                    <use xlink:href="#sp-icons-news-letter"></use>
                </svg>
            </span><!--

            --><span class="border" ng-show="$root.config.retailer.settings.newsletterAllowPopup && !headerCtrl.hubData"></span><!--

            --><span class="retailer-data">
                <!--return true at the end of the on close event to allow closing the drop down-->
                <sp-kikar-dropdown role="menubar" aria-label="{{'retailer details' | translate}}"
                                   on-open="headerCtrl.toolbarDropDownOpen = true;"
                                   on-close="headerCtrl.toolbarDropDownOpen = false; true">
                    <sp-kikar-text>
                        <div class="retailer-data" ng-include="'template/partials/retailer-data/index.html'"></div>
                    </sp-kikar-text>
                    <sp-kikar-option sp-click="headerCtrl.openContactUs()" ng-if="$root.config.retailer.settings.isHiddenCrmActive !== 'true'">
                        <div class="img-container">
                            <svg focusable="false">
                                <use xlink:href="#sp-icons-contact-us"></use>
                            </svg>
                        </div>
                        <span>
                            {{'Contact Us' | translate}}
                        </span>
                    </sp-kikar-option>
                    <sp-kikar-option sp-sref="app.retailerDetails.storeInformation">
                        <div class="img-container">
                            <svg focusable="false">
                                <use xlink:href="#sp-icons-store-location"></use>
                            </svg>
                        </div>
                        <span>
                            {{$root.config.retailer.branches.length > 1 ? 'Stores Info' : 'Store Info' | translate}}
                        </span>
                    </sp-kikar-option>
                    <sp-kikar-option sp-sref="app.retailerDetails.times">
                        <div class="img-container">
                            <svg focusable="false">
                                <use xlink:href="#sp-icons-delivery-times"></use>
                            </svg>
                        </div>
                        <span>
                            {{($root.config.retailer.pickup && !$root.config.retailer.delivery ? 'Pickup Times & Areas' : 'Delivery Times & Areas') | translate}}
                        </span>
                    </sp-kikar-option>
                    <sp-kikar-option sp-sref="app.accessibilityStatement" ng-if="$root.config.retailer.settings.accessibilityStatement">
                        <div class="img-container">
                            <svg focusable="false">
                                <use xlink:href="#sp-icons-accessibility"></use>
                            </svg>
                        </div>
                        <span>
                            {{'Accessibility Statement' | translate}}
                        </span>
                    </sp-kikar-option>
                    <sp-kikar-option ng-if="$root.config.chooseAreaEvent !== $root.SP_SERVICES.CHOOSE_AREA_EVENT.NONE"
                                     sp-click="$root.ChooseAreaDialog.show(false, null, null, $event)">
                        <div class="img-container">
                            <svg focusable="false">
                                <use xlink:href="#sp-icons-change-store"></use>
                            </svg>
                        </div>
                        <span>
                            {{'Change Store' | translate}}
                        </span>
                    </sp-kikar-option>
                </sp-kikar-dropdown>
            </span><!--

            --><span class="border"></span><!--

            --><span class="language">
                <span class="for-vertical-align"></span><!--
            --><sp-kikar-dropdown sp-model="$root.config.language" role="menu" aria-label="{{'languages' | translate}}">
                <sp-kikar-text>
                    <svg focusable="false" aria-labelledby="language_title"  role="presentation">
                        <title id="language_title">{{'language' | translate}}</title>
                        <use xlink:href="#sp-icons-language"></use>
                    </svg><!--
                    --><span class="lang-name">{{$root.config.language.short}}</span>
                </sp-kikar-text>
                <sp-kikar-option ng-repeat="(key, lang) in $root.config.languages track by $index" sp-value="lang">
                    {{lang.short}}
                </sp-kikar-option>
            </sp-kikar-dropdown>
            </span><!--

            --><span class="border"></span><!--

            --><span class="user-details">
                <span class="for-vertical-align"></span><!--
            --><sp-kikar-dropdown ng-if="headerCtrl.user.session.userId" role="menubar" aria-label="{{'account' | translate}}">
                <sp-kikar-text>
                    <svg focusable="false" aria-labelledby="account_title" role="presentation">
                        <title id="account_title">{{'account' | translate}}</title>
                        <use xlink:href="#sp-icons-user"></use>
                    </svg>
                    <div class="user-name-wrapper">
                        <div class="user-name" ng-if="(headerCtrl.user.data.firstName + ' ' + headerCtrl.user.data.lastName).length > 20">
                            {{headerCtrl.user.data.firstName.substring(0, 11)}}<br/>
                            {{headerCtrl.user.data.lastName.substring(0, 11)}}
                        </div>
                        <div class="user-name" ng-if="(headerCtrl.user.data.firstName + ' ' + headerCtrl.user.data.lastName).length <= 20">
                            {{headerCtrl.user.data.firstName + ' ' + headerCtrl.user.data.lastName}}
                        </div>
                        <div class="verify" ng-if="!headerCtrl.user.isVerified()">
                            <a ng-click="$root.UserVerificationDialog.show(); $event.stopPropagation();">
                                {{'Verify account' | translate}}
                            </a>
                        </div>
                        <div class="organization-name" title="{{headerCtrl.user.data.organization.name}}" ng-if="headerCtrl.user.data.organization && headerCtrl.user.data.organization.name && headerCtrl.user.isVerified()">
                            {{headerCtrl.user.data.organization.name}}
                        </div>
                    </div>
                </sp-kikar-text>
                <sp-kikar-option ng-if="headerCtrl.user.session.userId && headerCtrl.retailerLoyaltyClubConfig.menu.isActive && headerCtrl.user.data.loyaltyClubs.length > 0" sp-sref="{{ 'app.userEdit.' + headerCtrl.membershipClubState.state + (headerCtrl.membershipClubState.stateParams ? ('(' + headerCtrl.membershipClubState.stateParams + ')') : '') }}" class="sp-kikar-option-point" ng-style="{'background-color': headerCtrl.retailerLoyaltyClubConfig.menu.backgroundColor, 'color': headerCtrl.retailerLoyaltyClubConfig.menu.textColor}">
                    <div class="user-info-wrapper">
                        <div class="user-name">
                            {{ (headerCtrl.retailerLoyaltyClubConfig.menu.personalMessageText[headerCtrl.language]).replace('{full name}', headerCtrl.userFullname).replace('{first name}', headerCtrl.user.data.firstName) }}
                        </div>
                    </div>
                    <div class="user-point-wrapper" >
                        <img alt="{{'coin'}}" class="" src="{{headerCtrl.retailerLoyaltyClubConfig.menu.icon}}"/>
                        <p ng-if="headerCtrl.userPoints === 0">{{headerCtrl.retailerLoyaltyClubConfig.menu.pointsAccumulationText.textZeroPoints[headerCtrl.language]}}</p>
                        <p ng-if="headerCtrl.userPoints > 0">{{headerCtrl.retailerLoyaltyClubConfig.menu.pointsAccumulationText.textAccumulatedPoints[headerCtrl.language].replace('{points amount}', headerCtrl.userPoints) }}</p>
                        <md class="arrow" tabindex="-1"></md>
                    </div>
                </sp-kikar-option>
                <sp-kikar-option sp-sref="app.userEdit.accountInfo">
                    {{'My Account' | translate}}
                </sp-kikar-option>
                <sp-kikar-option sp-sref="app.myCoupons" ng-if="$root.config.retailer.settings.enablePersonalizedCoupons">
                    <span class="text">
                        <span class="text-content">{{('My Coupons' | translate)}}</span>
                        <span class="coupons-number" ng-if="headerCtrl.numberOfCoupons">{{headerCtrl.numberOfCoupons}}</span>
                    </span>
                </sp-kikar-option>
                <sp-kikar-option sp-click="headerCtrl.user.logout()">
                    {{'Logout' | translate}}
                </sp-kikar-option>
                <!--<sp-kikar-option sp-click="$root.util.openTemp();">-->
                <!--{{'Open temp' | translate}}-->
                <!--</sp-kikar-option>-->
            </sp-kikar-dropdown>
                <button ng-if="!headerCtrl.user.session.userId" class="no-design login" ng-click="headerCtrl.openLoginDialog()">
                    {{'Login' | translate}}
                </button>
            </span><!--
        --></div>
    </span>
</div>
<div kikar-menu-change class="menu" ng-class="{'toolbar-drop-down-open': headerCtrl.toolbarDropDownOpen, 'delivery-disclaimer-icon-hovered': headerCtrl.deliveryDisclaimerIconHovered}" id="categories_menu" tabindex="-1">
    <div class="categories-title" id="categories-title" ng-class="{'open': headerCtrl.isCategoriesShown}" ng-mouseenter="headerCtrl.toggleCategories(false, true);"
        ng-mouseleave="headerCtrl.toggleCategories(false, false);" ng-click="headerCtrl.toggleCategories(true);"
        aria-haspopup="true" aria-expanded="{{headerCtrl.isCategoriesShown}}" role="navigation" aria-label="{{'main menu' | translate}}">
        <span class="for-vertical-align"></span><!--
            --><span class="categories-title-text">{{$root.cart.total.lines ? 'All Departments' : 'Start Shopping' | translate}}</span>

        <svg focusable="false" class="categories-icon">
            <use xlink:href="" ng-attr-xlink:href="{{'#sp-icons-' + ($root.cart.total.lines ? 'categories-hamburger' : 'plus')}}"></use>
        </svg>
    </div><!--
    --><ul class="menu-navigation-bar" id="menu-navigation-bar" role="navigation" aria-label="{{'shortcuts' | translate}}">
        <li class="navigation-link coupons-link" ui-sref-active="active" ng-if="$root.config.retailer.settings.enablePersonalizedCoupons && headerCtrl.user.session.userId">
            <span class="for-vertical-align"></span><!--
            --><a ui-sref="app.myCoupons">
                <span class="text">
                    <span class="text-content">
                        {{('My Coupons' | translate)}}
                        <span class="arrow-wrapper"></span>
                    </span>
                    <span class="coupons-number" ng-if="headerCtrl.numberOfCoupons">{{headerCtrl.numberOfCoupons}}</span>
                </span>
                <span class="icon">
                    <svg focusable="false" aria-labelledby="coupons_title" role="img">
                        <title id="coupons_title">{{'My Coupons' | translate}}</title>
                        <use xlink:href="#sp-icons-coupons"></use>
                    </svg>
                    <span class="coupons-number" ng-if="headerCtrl.numberOfCoupons">{{headerCtrl.numberOfCoupons}}</span>
                </span>
            </a>
        </li><!--
        --><li ng-if="headerCtrl.displaySpecials" class="navigation-link specials-link" ui-sref-active="active">
            <span class="for-vertical-align"></span><!--
            --><a ui-sref="app.specials">
                <span class="text">
                    <span class="text-content">
                        {{'Specials' | translate | retailerNameReplacement}}
                        <span class="arrow-wrapper"></span>
                    </span>
                </span>
                <span class="icon">
                    <svg focusable="false" aria-labelledby="specials_title" role="img">
                        <title id="specials_title">{{'specials' | translate}}</title>
                        <use xlink:href="" ng-attr-xlink:href="{{'#sp-icons-sale%translate%' | translateImage:{'he': '-he'} }}"></use>
                    </svg>
                </span>
            </a>
        </li><!--
        --><li class="navigation-link previous-orders-link" ui-sref-active="active">
            <span class="for-vertical-align"></span><!--
            --><a ui-sref="app.ordersHistory">
                <span class="text">
                    <span class="text-content">
                        {{'Previous Orders' | translate}}
                        <span class="arrow-wrapper"></span>
                    </span>
                </span>
                <span class="icon">
                    <svg focusable="false" aria-labelledby="history_title" role="img">
                        <title id="history_title">{{'Previous Orders' | translate}}</title>
                        <use xlink:href="#sp-icons-history-clock"></use>
                    </svg>
                </span>
            </a>
        </li><!--
        --><li class="navigation-link shop-lists-link" ui-sref-active="active">
            <span class="for-vertical-align"></span><!--
            --><a ui-sref="app.shopLists">
                <span class="text">
                    <span class="text-content">
                        {{'My Shopping Lists' | translate}}
                        <span class="arrow-wrapper"></span>
                    </span>
                </span>
                <span class="icon">
                    <svg focusable="false" aria-labelledby="shop_lists_title" role="img">
                        <title id="shop_lists_title">{{'My Shopping Lists' | translate}}</title>
                        <use xlink:href="#sp-icons-list"></use>
                    </svg>
                </span>
            </a>
        </li><!--
        --><li class="navigation-link loyalty-link" ui-sref-active="active" ng-if="headerCtrl.showLoyaltyShortcut">
            <span class="for-vertical-align"></span><!--
            --><a ui-sref="{{headerCtrl.isPremiumLoyaltyClub ? 'app.userEdit.premiumLoyaltyClub({loyaltyClubDriverId: ' + $root.config.retailer.loyaltyClubDrivers[0].loyaltyClubDriverId + '})'  : 'app.userEdit.loyalty'}}" aria-label="{{'Membership club' | translate}}">
                <span class="text">
                    <span class="text-content">
                        {{'Membership club' | translate}}
                        <span class="arrow-wrapper"></span>
                    </span>
                </span>
                <span class="icon">
                    <svg focusable="false" aria-labelledby="Membership_title" role="img">
                        <title id="Membership_title">{{'Membership club' | translate}}</title>
                        <use xlink:href="#sp-icons-club"></use>
                    </svg>
                </span>
            </a>
        </li><!--
        --><li class="navigation-link retailer-link" ng-repeat="link in $root.config.retailer.toolbar | filter: {location: $root.LINK_LOCATIONS.TOP}" ui-sref-active="active" ng-class="{'active': headerCtrl.isCurrentPath(link.url)}">
            <span class="for-vertical-align"></span><!--
            --><a  ui-sref="app.links({linkId: link.id})" ng-if="link.embedded && !headerCtrl.isInternalUrl(link.url)">
                <span class="text">
                    <span class="text-content">
                        {{link.name}}
                        <span class="arrow-wrapper"></span>
                    </span>
                </span>
                <span class="icon">
                    <img ng-src="{{::link.imageUrl}}" alt="{{::link.name}}"/>
                </span>
            </a><!--
            --><a ng-href="{{link.url}}" ng-if="link.embedded && headerCtrl.isInternalUrl(link.url)">
                <span class="text">
                    <span class="text-content">
                        {{link.name}}
                        <span class="arrow-wrapper"></span>
                    </span>
                </span>
                <span class="icon">
                    <img ng-src="{{::link.imageUrl}}" alt="{{::link.name}}"/>
                </span>
            </a><!--
            --><a ng-href="{{link.url}}" ng-if="!link.embedded" target="_blank">
                <span class="text">
                    <span class="text-content">
                        {{link.name}}
                        <span class="arrow-wrapper"></span>
                    </span>
                </span>
                <span class="icon">
                    <img ng-src="{{::link.imageUrl}}" alt="{{::link.name}}"/>
                </span>
            </a>
        </li><!--
        --><li class="navigation-link retailer-link" ui-sref-active="active"
               ng-repeat="webPage in $root.config.retailer.publishedWebPages | filter: {locationInWebsite: $root.WEB_PAGE_LOCATIONS.HEADER}">
            <span class="for-vertical-align"></span><!--
            --><a ui-sref="app.webPage({id: webPage.id})">
                <span class="text">
                    <span class="text-content">
                        {{:: webPage.name}}
                        <span class="arrow-wrapper"></span>
                    </span>
                </span>
                <span class="icon">
                    <img ng-src="{{:: webPage.iconUrl}}" alt="{{:: webPage.name}}"/>
                </span>
            </a>
        </li>
        <li class="menu-hamburger-out" id="menu-hamburger-out">
            <span class="for-vertical-align"></span>
            <span class="hidden-links-count" id="hidden-links-count"></span>
            <svg focusable="false" class="categories-icon">
                <use xlink:href="" ng-attr-xlink:href="{{'#sp-icons-categories-hamburger'}}"></use>
            </svg>
            <ul id="menu-hidden-links"></ul>
        </li>
    </ul>

    <div ng-if="$root.config.retailer.settings.shippingNoAvailableSlotsPopupEnable" class="no-available-slots-wrapper"
         id="no-available-slots-wrapper"
         ng-class="{'has-popup': $root.config.retailer.settings.shippingNoAvailableSlotsPopupEnable}"
         ng-click="headerCtrl.deliveryNoAvailableSlotsPopup()"
         ng-show="$root.noAvailableDeliverySlots">
        <span class="for-vertical-align"></span>
        <span class="no-deliveries-icon right">
                <svg focusable="false">
                    <use xlink:href="#sp-icons-no-delivery-slots"></use>
                </svg>
                <span class="for-vertical-align"></span>
            </span>

        <div class="no-deliveries-text left">
            <span>{{'No available deliveries in the upcoming days' | translate}}</span>
        </div>

        <svg focusable="false" class="sp-icons-arrow-down">
            <use xlink:href="#sp-icons-arrow-down"></use>
        </svg>
    </div>

    <div ng-if="!$root.config.retailer.settings.shippingNoAvailableSlotsPopupEnable" class="no-available-slots-wrapper"
         id="no-available-slots-wrapper"
         ng-class="{'has-popup': $root.config.retailer.settings.shippingNoAvailableSlotsPopupEnable}"
         ng-show="$root.noAvailableDeliverySlots">
        <span class="for-vertical-align"></span>
        <span class="no-deliveries-icon right">
                <svg focusable="false">
                    <use xlink:href="#sp-icons-no-delivery-slots"></use>
                </svg>
                <span class="for-vertical-align"></span>
            </span>

        <div class="no-deliveries-text left">
            <span>{{'No available deliveries in the upcoming days' | translate}}</span>
        </div>

        <svg focusable="false" class="sp-icons-arrow-down">
            <use xlink:href="#sp-icons-arrow-down"></use>
        </svg>
    </div>

    <div class="next-delivery-wrapper" id="next-delivery-wrapper" ng-class="{'show-more-details': headerCtrl.nextDelivery.showMoreDetails, 'shown': headerCtrl.nextDelivery.times.length}" role="menu">
        <div class="next-delivery-content-wrapper">
            <div class="next-delivery-content" ng-repeat="time in headerCtrl.nextDelivery.times" ng-class="{'active': time._isActiveInNav}"
                 ng-click="headerCtrl.toggleNextDeliveryMoreDetails()" aria-label="{{'delivery times' | translate}}"
                 aria-expanded="{{headerCtrl.nextDelivery.showMoreDetails}}">
                <span class="for-vertical-align"></span><!--
                --><span class="border"></span>
                <span class="next-delivery-icon">
                    <svg ng-if="headerCtrl.nextDelivery.currentNextDeliveryTypeId === $root.SP_SERVICES.DELIVERY_TYPES.DELIVERY"
                         focusable="false" aria-labelledby="delivery_title" role="img">
                        <title id="delivery_title">{{'delivery times' | translate}}</title>
                        <use xlink:href="#sp-icons-next-delivery"></use>
                    </svg>
                    <svg ng-if="headerCtrl.nextDelivery.currentNextDeliveryTypeId === $root.SP_SERVICES.DELIVERY_TYPES.PICKUP"
                        focusable="false" class="store-icon">
                        <use xlink:href="#sp-icons-retailer-details"></use>
                    </svg>
                </span><!--
                --><span class="next-delivery-text">
                    <div class="title-wrapper">
                        <span ng-if="headerCtrl.nextDelivery.currentNextDeliveryTypeId !== $root.SP_SERVICES.DELIVERY_TYPES.PICKUP"
                            class="title">{{'Next Delivery' | translate}}:</span>
                        <span ng-if="headerCtrl.nextDelivery.currentNextDeliveryTypeId === $root.SP_SERVICES.DELIVERY_TYPES.PICKUP"
                            class="title">{{'Next Pickup' | translate}}:
                        </span>
                        <span ng-if="headerCtrl.isEnableDeliveryDisclaimerPopUp" class="tooltips-icon" 
                            tabindex="0"
                            ng-mouseover="headerCtrl.deliveryDisclaimerIconHovered = true"
                            ng-mouseleave="headerCtrl.deliveryDisclaimerIconHovered = false"
                            aria-label="{{headerCtrl.deliveryDisclaimerPopUpMessage[$root.config.language.id] || 'delivery_disclaimer_default_text' | translate}}"
                            sp-tooltip="{{(headerCtrl.deliveryDisclaimerPopUpMessage[$root.config.language.id] || 'delivery_disclaimer_default_text') | translate }}"
                            sp-tooltip-remove-previous="true" sp-tooltip-checking-over="true">
                            <svg class="icons-exclamation-mark-circle" focusable="false" role="presentation" ng-style="{'color': sp.themeConfig.mainColor}">
                                <use xlink:href="#sp-icons-exclamation-mark-circle"></use>
                            </svg>
                        </span>
                    </div>

                    <span ng-if="::time.type == $root.DELIVERY_TIMES_TYPES.DELIVERY_WITHIN_HOURS">
                        {{'Get it within' | translate}} {{:: time.timeRange | date: 'H:mm':'UTC' }} {{'hrs' | translate}}
                    </span>
                    <span ng-if="::time.type == $root.DELIVERY_TIMES_TYPES.DELIVERY_WITHIN_DAYS">
                        {{'Get it within' | translate}} {{:: time.daysRange}} {{'business days' | translate}}
                    </span>

                    <span ng-if=":: time.type == $root.DELIVERY_TIMES_TYPES.REGULAR">
                        {{time.isToday ? 'Today' : ('day' + time.dayInWeek) | translate}}
                        {{time.date | date:($root.config.isUs ? 'MM/dd': 'dd/MM'):'UTC' }}
                        <span class="times">
                            {{($root.config.retailer.twoHourLaw && headerCtrl.nextDelivery.currentNextDeliveryTypeId !== $root.SP_SERVICES.DELIVERY_TYPES.PICKUP ? time.fromDisplay : time.from) | date:($root.config.isUs ? 'hh:mm a': 'HH:mm'):'UTC' }}
                            <span ng-if="!$root.config.retailer.twoHourLaw || headerCtrl.nextDelivery.currentNextDeliveryTypeId === $root.SP_SERVICES.DELIVERY_TYPES.PICKUP">
                                -
                                {{time.to | date:($root.config.isUs ? 'hh:mm a': 'HH:mm'):'UTC' }}
                            </span>
                        </span>
                    </span>
                </span><!--
                 --><span class="next-delivery-sale-icon" ng-if="time.deliveryProduct && time.deliveryProduct.branch.specials && !time.deliveryProduct.branch.specials[0].isCoupon">
                    <svg focusable="false" aria-labelledby="delivery_sale_title" role="img">
                        <title id="delivery_sale_title">{{'sale' | translate}}</title>
                        <use xlink:href="" ng-attr-xlink:href="{{'#sp-icons-sale%translate%' | translateImage:{'he': '-he'} }}"></use>
                    </svg>
                </span><!--
                --><svg focusable="false" class="arrow" aria-labelledby="arrow_icon_title" role="img">
                    <title id="arrow_icon_title">{{headerCtrl.nextDelivery.showMoreDetails ? 'close' : 'open' | translate}}</title>
                    <use xlink:href="#sp-icons-arrow-down"></use>
                </svg>
            </div>
        </div>

        <span class="special-tooltip" ng-if="headerCtrl.nextDelivery.times[0].deliveryProduct && headerCtrl.nextDelivery.times[0].deliveryProduct.branch.specials &&
        !headerCtrl.nextDelivery.times[0].deliveryProduct.branch.specials[0].isCoupon">
            <span class="text-content">
                <span ng-repeat="special in headerCtrl.nextDelivery.times[0].deliveryProduct.branch.specials">{{special.descriptions && special.descriptions[$root.config.language.culture] ? special.descriptions[$root.config.language.culture] : special.description}}</span>
                <span class="arrow-wrapper"></span>
            </span>
        </span>

        <div class="next-delivery-more-details">
            <div class="more-details-content">
                <div class="delivery-type-buttons">
                    <button ng-repeat="(type, areasSlots) in headerCtrl.nextDelivery.moreSlots"
                            ng-click="headerCtrl.setCurrentMoreSlots(areasSlots, type);"
                            class="no-design" ng-class="{'active': headerCtrl.selectedDeliveryType == type}"
                            ng-if="headerCtrl.nextDelivery.moreSlotsTypes.length > 1">
                        {{'delivery_type_' + type + '_times' | translate}}
                    </button>
                </div>
                <div tabindex="0" ng-if="headerCtrl.isEnableDeliveryDisclaimerPopUp" class="next-delivery-message-pop-up" ng-style="{'background-color': headerCtrl.deliveryDisclamerPopupColor.backgroundColor, 'color': headerCtrl.deliveryDisclamerPopupColor.textColor}" class="ng-binding"> {{headerCtrl.deliveryDisclaimerPopUpMessage[headerCtrl.languageId] || 'delivery_disclaimer_default_text' | translate }}</div>
                <div class="slots" ng-repeat="(areaId, area) in headerCtrl.nextDelivery.currentMoreSlots.areas">
                    <div class="area-name" ng-if="headerCtrl.nextDelivery.currentMoreSlots.length > 1" ng-bind=":: area.areaName"></div>

                    <ul>
                        <li class="slot" ng-if="area.slots[$root.DELIVERY_TIMES_TYPES.DELIVERY_WITHIN_HOURS]">
                            {{'Within' | translate}}
                            {{::area.slots[$root.DELIVERY_TIMES_TYPES.DELIVERY_WITHIN_HOURS].timeRange | date:'H:mm':'UTC' }}
                            {{'hrs' | translate}}
                        </li>
                        <li class="slot" ng-if="area.slots[$root.DELIVERY_TIMES_TYPES.DELIVERY_WITHIN_DAYS]">
                            {{'Within' | translate}}
                            {{::area.slots[$root.DELIVERY_TIMES_TYPES.DELIVERY_WITHIN_DAYS].daysRange}}
                            {{'Business Days' | translate}}
                        </li>
                        <li class="slot" ng-repeat="slot in area.slots[$root.DELIVERY_TIMES_TYPES.REGULAR]">
                            <span class="slot-title">
                                {{slot.isToday ? 'Today' : ('day' + slot.day) | translate}} {{slot.date | date:($root.config.isUs ? 'MM/dd': 'dd/MM'):'UTC' }}
                            </span> &nbsp;
                            <ul class="slot-times">
                                <li class="time" ng-repeat="time in slot.times | orderBy:('fromDisplay' || 'from')" ng-if="!time.disabled">
                                    <svg focusable="false" ng-if=" time.deliveryProduct && time.deliveryProduct.branch.specials &&
                                    !time.deliveryProduct.branch.specials[0].isCoupon" aria-labelledby="time_sale_icon" role="img">
                                        <title id="time_sale_icon">{{'sale' | translate}}</title>
                                        <use xlink:href="" ng-attr-xlink:href="{{'#sp-icons-sale%translate%' | translateImage:{'he': '-he'} }}"></use>
                                    </svg>
                                    <span class="times">
                                    {{($root.config.retailer.twoHourLaw && slot.deliveryTypeId == headerCtrl.DELIVERY_TYPES.DELIVERY ? time.fromDisplay : time.from) | date:($root.config.isUs ? 'hh:mm a': 'HH:mm'):'UTC' }}
                                    {{$root.config.retailer.twoHourLaw && slot.deliveryTypeId == headerCtrl.DELIVERY_TYPES.DELIVERY ? '': '-'}}
                                    {{$root.config.retailer.twoHourLaw && slot.deliveryTypeId == headerCtrl.DELIVERY_TYPES.DELIVERY ? '' : (time.to | date:($root.config.isUs ? 'hh:mm a': 'HH:mm'):'UTC')}}
                                   </span>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <button class="no-design close-more-details" ng-click="headerCtrl.toggleNextDeliveryMoreDetails()">
                {{'Close' | translate}}
            </button>
        </div>
    </div>
</div>

<nav class="categories-wrapper" ng-controller="HeaderKikarCtrl" ng-mouseenter="headerCtrl.toggleCategories(false, true);"
     ng-mouseleave="headerCtrl.closeOpenCategory(); headerCtrl.toggleCategories(false, false);"
     ng-class="{shown: headerCtrl.isCategoriesShown, 'has-open': headerCtrl.hasOpenCategory || headerCtrl.hasOpenPermanently}">
    <ul class="categories" role="menu" tabindex="0" sp-focus-management previous-element-selector="body > header > .menu > .categories-title"
        next-element-selector="body > header > div.menu.ng-scope > ul > :first-child a">
        <li class="category" ng-repeat="category in headerCtrl.categories track by category.id"
            aria-haspopup="true" aria-expanded="{{headerCtrl.isOpen(category)}}"
            ng-mouseenter="headerCtrl.openCategoryAndCloseTheOpen(category);"
            role="menuitem"
            ng-class="{
                open: headerCtrl.isOpen(category),
                current: headerCtrl.isCurrentCategory(category.id)
             }">

            <div class="category-name" ng-click="headerCtrl.toggleCategoryPermanently(category); category.action();">
                <div class="name-wrapper">
                    <span class="image">
                        <span class="for-vertical-align"></span><!--
                        --><img class="normal" ng-src="{{category.iconImage || category.imageUrl}}" alt="{{category.names | name}}"/>
                        <!--<img class="current" ng-src="{{category.iconSelectedImage || (category.imageUrl || '').replace('normal', 'hover')}}" alt="{{category.names | name}}"/>-->
                    </span>

                    <span class="for-vertical-align"></span><!--
                    --><span class="name">
                        {{category.names | name}}
                    </span>
                </div>

                <svg focusable="false" class="arrow" aria-labelledby="category_arrow_title" role="img">
                    <title id="category_arrow_title">{{'show category' | translate}}</title>
                    <use xlink:href="#sp-icons-arrow-right"></use>
                </svg>
            </div>

            <div class="sub-categories" ng-if="category.subCategories && category.firstOpen">
                <div class="background-image" ng-if="category.siteMenuBackgroundImage">
                    <img ng-src="{{category.siteMenuBackgroundImage}}" alt=""/>
                </div>
                <div class="category-title-wrapper">
                    <div class="category-title">
                        {{category.names | name | retailerNameReplacement}}
                    </div>
                </div>
                <div class="sub-categories-wrapper">
                    <div class="sub-category-block" ng-repeat="subCategory in category.subCategories track by subCategory.id">
                        <div class="sub-category-shadow">
                            <ul class="sub-category">
                                <li class="sub-category-link category-title-sales" ng-if="$index === 0 && $root.config.isSpecialCategory[category.id]">
                                    <a ui-sref="app.specials({filters: {category: [category.id]}})">
                                        {{'Go to Specials' | translate | retailerNameReplacement}}
                                    </a>
                                </li>
                                <li class="sub-category-link">
                                    <a ui-sref="app.categoryProducts({cid: subCategory.id, filters: undefined, sort: undefined})">
                                        {{subCategory.names | name}}
                                    </a>
                                </li>
                                <li class="sub-sub-category" ng-repeat="subSubCategory in subCategory.subCategories track by subSubCategory.id">
                                    <a ui-sref="app.categoryProducts({cid: subSubCategory.id, filters: undefined, sort: undefined})" ng-click="headerCtrl.toggleCategories(true ,false);">
                                        {{subSubCategory.names | name}}
                                    </a>
                                </li>
                            </ul>
                            <div class="dots">
                                <span class="for-vertical-align"></span><!--
                                --><span class="dot" ng-repeat="dot in (22|arrayInLength)"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </li>
    </ul>
</nav>
