body > header {
  > .toolbar > .data > .search-wrapper {
    > .input > .auto-complete .option.filter-option .filter-option-content .option-filter-value {
      color: $mainColor;
    }

    > .permanent-filters > button {
      border-color: $mainColor;

      .main-title {
        color: $mainColor;
      }
    }
  }

  > .menu {
    > .categories-title {
      background-color: $secondaryColor;
    }

    > .menu-navigation-bar {
      > .navigation-link {
        &.active {
          border-bottom: 5px solid $secondaryColor;
        }

        &.coupons-link {
          color: $mainColor;
        }

        &.specials-link > a > .icon > svg {
          fill: $mainColor;
        }
      }
    }

    > .next-delivery-wrapper {
      color: $mainColor;

      > .next-delivery-content-wrapper > .next-delivery-content {
        > .border {
          background-color: $mainColor;
        }
        > .next-delivery-icon svg, > .arrow, .next-delivery-sale-icon svg {
          fill: $mainColor;
        }
      }

      > .next-delivery-more-details {
        > .more-details-content > .delivery-type-buttons > button.active {
          border-top-color: $secondaryColor;
        }

        > .close-more-details {
          background-color: $mainColorSecondary;
        }

        > .more-details-content > .slots > ul .slot > .slot-times > .time > svg {
          fill: $mainColor;
        }
      }
    }
  }

  > .categories-wrapper > .categories > .category {
    &.open {
      > .category-name > .name-wrapper {
        background-color: $secondaryColor;
      }

      &:hover > .category-name > .name-wrapper {
        background-color: '{{secondaryColor-#000000-95}}';
      }
    }

    > .sub-categories {
      > .category-title-wrapper {
        font-family: $creativeFontFamily;
      }

      > .sub-categories-wrapper > .sub-category-block > .sub-category-shadow > .sub-category {
        > .sub-category-link, > .sub-sub-category {
          &:hover > a {
            border-color: $secondaryColor;
          }

          &.category-title-sales {
            color: $mainColor;
          }
        }
      }
    }
  }
}