<div class="ebt-payment-finish">
    <div class="ebt-payment-finish__details">
        <div class="container">
            <div class="wrapper">
                <div>
                    <svg>
                        <use xlink:href="#sp-icons-light-green-v"></use>
                    </svg>
                </div>
                <div>
                    <h1 class="title">{{'Your order has been updated' | translate}}</h1>
                    <p>{{'Order ID' | translate}}: {{ebtFinishPaymentCtrl.orderId}}</p>
                </div>
                <div>
                    <p>{{'Please check your email for order details.' | translate}}</p>
                    <p>{{'Thank you' | translate}}!</p>
                </div>
                <div>
                    <button class="button" ng-click="ebtFinishPaymentCtrl.toHomePage(false)">
                        {{'Home Page' | translate}}
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="ebt-payment-finish__summary">
        <div class="container">
            <div class="ebt-payment-finish__summary--details">
                <p class="title">{{'Summary' | translate}}</p>
                <p>{{'Order id' | translate}}: {{ebtFinishPaymentCtrl.orderId}}</p>
                <p class="delivery">{{ebtFinishPaymentCtrl.deliveryType | translate}}:
                    <span>{{ebtFinishPaymentCtrl.deliveryTimes.from | date:'EEEE MM/dd':'UTC'}}</span>
                    <span>{{ebtFinishPaymentCtrl.deliveryTimes.from | date: 'hh:mma':'UTC'}} - {{ebtFinishPaymentCtrl.deliveryTimes.to | date: 'hh:mma':'UTC'}}</span>
                </p>
            </div>
            <div class="ebt-payment-finish__summary--final-payments">
                <div ng-repeat="column in ebtFinishPaymentCtrl.columns" class="column">
                    <div ng-repeat="group in column">
                        <p ng-repeat="line in group" ng-class="line.classes"
                           ng-if="line.value || line.withoutValue">
                            <span>{{line.text | translate}}{{!line.hideColon ? ':' : ''}}</span> <span>{{(line.hasCurrency && line.value) && $root.config.retailer.currencySymbol}}{{line.value}}</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>