$green: #88AE37;

.ebt-payment-finish {
  width: 1100px;
  margin: 0 auto;
  text-align: center;

  & > div {
    width: 100%;
  }

  .container {
    background: white;
    width: 100%;
    padding: 30px;
  }

  &__details {
    margin: 50px 0;

    h1 {
      font-size: 35px !important;
      padding: 15px 0;
    }

    p, button {
      font-size: 22px;
    }

    svg {
      width: 50px;
      height: 50px;
    }

    .wrapper {
      width: 700px;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 auto;
      gap: 20px;
    }
  }
  &__summary {
    margin-bottom: 110px;

    &--details {
      margin-bottom: 40px;
      & > p:not(:last-child) {margin-bottom: 10px}

      .title {
        font-weight: bold;
        font-size: 22px;
      }

      .delivery {
        font-weight: bold;
      }
    }

    &--final-payments {
      display: flex;
      justify-content: space-between;

      .column {
        flex: .3;

        div {
            margin-bottom: 10px;
        }

        p {
          display: flex;
          justify-content: space-between;
          line-height: 1.3;
        }
      }
    }
  }
}