.ebt-payment-finish {
  .title {
    color: $mainColor;
  }

  &__details {
    .button {
      &, &:hover {
        background-color: $mainColor !important;
      }
    }
  }
  &__summary {

    .delivery {
      font-weight: bold;
    }

    .colored {
      color: $mainColor;
    }
  }
}