<div class="checkout-bottom-banner-wrapper">
    <div class="loyalty-banner" ng-if="extraBanner">
        <img ng-src="{{extraBanner}}" alt="{{'Membership club' | translate}}"
             ng-click="$root.util.showLoyaltyClubDialog()">
    </div>
    <div class="checkout-banner">
        <span class="for-vertical-align"></span><!--
        --><div class="content">
            <div class="help-buttons">
                <button class="no-design continue-shopping" ng-click="continueShopping();" ng-if="!withoutContent">
                    {{'Continue Shopping' | translate}}
                </button>
            </div>

            <div class="total-summary" ng-if="!withoutContent"
                 ng-class="{'back-only': withoutNextAction && withoutTotal && hasBackAction}">
                <div class="membership-savings club-savings" ng-if="$root.cart.total.colleagueForView">
                    <span class="price">
                        <span class="title">{{'Est. employee savings' | translate}}:</span>
                        <span class="value">{{$root.cart.total.colleagueForView | currency}}</span>
                    </span>
                </div>
                <div class="membership-savings club-savings"
                        ng-if="$root.config.retailer.loyaltyClubDriver.isActive && !$root.cart.total.clubsGiftsForView &&
                            $root.cart.total.simulateClubsGiftsForView && !withoutTotal && !$root.isCreditCustomer">
                    <svg focusable="false">
                        <use xlink:href="" ng-attr-xlink:href="{{'#sp-icons-sale%translate%' | translateImage:{'he': '-he'} }}"></use>
                    </svg><!--
                        --><span class="price">
                            <span class="title">{{'Could save' | translate}}</span>
                            <span class="value">{{$root.cart.total.simulateClubsGiftsForView | currency}}</span>
                        </span>
                </div>
                <div class="membership-savings club-savings"
                     ng-if="!withoutTotal && $root.config.retailer.loyaltyClubDriver.isActive &&
                     $root.config.retailer.loyaltyClubDriver.clientConfig.showCashbackLabel && $root.cart.total.lines && !$root.isCreditCustomer">
                    <svg focusable="false">
                        <use xlink:href="" ng-attr-xlink:href="{{'#sp-icons-sale%translate%' | translateImage:{'he': '-he'} }}"></use>
                    </svg><!--
                    --><span class="text"
                          ng-bind-html="$root.util.getCashbackLabel((userData.loyaltyClubCardId ?
                                   $root.config.retailer.loyaltyClubDriver.clientConfig.text.customerSavingLabel :
                                   $root.config.retailer.loyaltyClubDriver.clientConfig.text.customerCouldSaveLabel),
                                   $root.cart.total.finalPriceForView)">
                    </span>
                </div>
                <div class="membership-savings club-savings" ng-if="$root.cart.total.clubsGiftsForView && !withoutTotal && !$root.isCreditCustomer">
                    <svg focusable="false">
                        <use xlink:href="" ng-attr-xlink:href="{{'#sp-icons-sale%translate%' | translateImage:{'he': '-he'} }}"></use>
                    </svg><!--
                    --><span class="price">
                        <span class="title">{{'Membership savings' | translate}}</span>
                        <span class="value">{{$root.cart.total.clubsGiftsForView | currency}}</span>
                    </span>
                </div><!--
                --><div class="you-save you-save-sale" ng-if="$root.cart.total.giftsForView && !withoutTotal && !$root.isCreditCustomer">
                    <svg focusable="false">
                        <use xlink:href="" ng-attr-xlink:href="{{'#sp-icons-sale%translate%' | translateImage:{'he': '-he'} }}"></use>
                    </svg><!--
                    --><span class="price">
                        <span class="title">{{'You save' | translate}}</span>
                        <span class="value">{{$root.cart.total.giftsForView | currency}}</span>
                    </span>
                </div><!--
                --><div class="multipass-discount" ng-if="$root.cart.total.multiPassGift && !withoutTotal && !$root.isCreditCustomer">
                    <span>{{'Estimated employee savings' | translate}}: <span class="price">{{$root.cart.total.multiPassGift | currency}}</span></span>
                </div><!--
                --><div class="you-save credit-customer" ng-if="$root.isCreditCustomer">
                    <svg focusable="false" class="wallet-icon">
                        <use xlink:href="" ng-attr-xlink:href="#sp-icons-wallet"></use>
                    </svg><!--
                   --><span class="price">
                        <span class="title">{{'Remaining credit' | translate}}</span>
                        <span class="price" ng-class="{'not-enough': $root.creditCustomerRemainingSum < $root.cart.total.finalPriceForView }">{{$root.creditCustomerRemainingSum | currency:' '}}</span>
                    </span>
                </div>
                <div class="total-price" ng-if="!withoutTotal">
                    <div class="number-of-items">
                        <span class="number">{{$root.cart.total.lines}}</span>
                        <svg focusable="false">
                            <use xlink:href="#sp-icons-cart"></use>
                        </svg>
                    </div><!--
                    --><div class="price">
                        <div class="title" aria-hidden="true">{{'Total' | translate}}</div>
                        <div class="value"><span class="sr-only-element">{{'cart_total' | translate}}</span>

                            {{deliveryCheckoutOrServiceFee ? ($root.cart.total.finalPriceForViewWithDeliveryFee || $root.cart.total.finalPriceForView | currency) : ($root.cart.total.finalPriceForView | currency)}}</div>
                <div ng-if="$root.config.retailer.settings.includeDeliveryFeeInCart === 'true' && !sideNavCtrl.isEmptyObjectWithDelivery($root.cart.lines) &&
                     $root.config.getBranchArea().deliveryTypeId && $root.config.deliveryAreaPrice" class="value" style="font-size: 1em !important;">
                    <span class="delivery-info">{{'includes_delivery_type_' + $root.config.getBranchArea().deliveryTypeId + '_fee' | translate}}</span>
                </div>
                    </div>
                </div><!--
                --><button class="no-design back-button" ng-click="back();" ng-if="hasBackAction">
                    {{'Back' | translate}}
                </button><!--
                --><button class="no-design disabled-opacity next-button" ng-click="nextAction();"
                           ng-disabled="nextDisabled || !$root.cart.sendingSucceeded" ng-if="!withoutNextAction">
                    {{btnText}}
                </button>
            </div>
        </div>
    </div>
</div>
