<div class="input-wrapper gap-8"
    ng-class="{ 'unrecognized-address-error': !checkoutCtrl.detailsData.address.text1 && checkoutCtrl.detailsData.address.isShowEditAddress }">
    <div class="sp-kikar-input flex-50">
        <label for="street" class="label">{{'Street' | translate}} *</label>
        <input class="content" id="street" type="text" name="street" autocomplete="off"
            ng-model="checkoutCtrl.detailsData.address.street" required sp-inline-error />
    </div>
    <div class="sp-kikar-input flex-50">
        <label for="house_num_input" class="label second">{{'House Number' | translate}} *</label>
        <input class="content" id="house_num_input" type="number" name="houseNum" min="1"
            ng-model="checkoutCtrl.detailsData.address.houseNumber" required sp-inline-error />
    </div>
</div>