<div class="checkout-content">
    <div class="tab" ui-view="checkoutTab"></div>
</div>
<checkout-bottom-banner
    class="checkout-bottom-banner"
    ng-class="{'join-buttons': checkoutCtrl.isSummaryTab}"
    without-content="checkoutCtrl.isFinishTab"
    next-action="checkoutCtrl.nextTab();"
    btn-text="{{'NEXT' | translate}}"
    without-total="checkoutCtrl.isSummaryTab"
    extra-banner="!$root.config.retailer.loyaltyClubDriver.isActive || checkoutCtrl.userLoyaltyClubCardId || checkoutCtrl.isSummaryTab ?
    '' : checkoutCtrl.userLoyaltyVerificationStatus == 1 ?
        ($root.config.retailer.loyaltyClubDriver.clientConfig.banners.connectToCard || '') :
        ($root.config.retailer.loyaltyClubDriver.clientConfig.banners.registrationCheckout || '')"
    faq-text="{{'What happens if something I ordered is not available?' | translate}}"
    has-back-action="true"
    next-disabled="checkoutCtrl.checkingOut"
    without-next-action="checkoutCtrl.isSummaryTab"
    role="region" aria-label="{{'checkout footer' | translate}}">
</checkout-bottom-banner>