$selectorBase: ' section.view .checkout-content .tab';
$checkoutSelector: 'html.checkout' + $selectorBase;
$checkoutLtrSelector: 'html.checkout.ltr' + $selectorBase;
$checkoutRtlSelector: 'html.checkout.rtl' + $selectorBase;

$radioColumnWidth: 1em;

html.checkout section.view {
  background: #f3f3f3;

  .checkout-content {
    .tab {
      width: $checkoutWidth;
      margin: auto;
      padding-bottom: 1em;

      .delivery-details {
        padding: 1.5em 0;

        .input-wrapper {
          .label {
            .asap-selected {
              display: block;
              font-size: 0.75em;
              padding-top: 1em;
            }
          }
        }
      }

      > .tab-container {
        margin: auto;
      }

      h1, h2 {
        color: #616161;
      }
    }
  }
}

.dialog.did-you-mean {
  h4 {
    padding: 0;
  }

  .address {
    padding: 1em 0;
    cursor: pointer;

    .sp-radio-buttons > label.sp-radio-option {
      display: block;

      .label {
        padding: 0 1em;
      }
    }
  }

  .buttons {
    padding-top: 1em;
    display: block;
    text-align: center;

    button {
      min-height: 2.5em;
      min-width: 8em;
      margin: 0 .7em;

      .cancel {
        border: 2px solid;
        padding: 7px;
        border-radius: 5px;
        background-color: #FFFFFF;
      }
    }
  }
}

@media screen and (max-width: 1220px) {
  html.checkout section.view {
    > div {
      font-size: 0.85em;
    }

    .checkout-content {
      .tab {
        width: 100%;
      }
    }
  }
}