<span class="for-vertical-align" ng-class="{'summary-data': finishCtrl.order && finishCtrl.order.id}"></span><!--
-->
<div class="finish-content" ng-class="{'summary-data': finishCtrl.order && finishCtrl.order.id}">
    <svg focusable="false" class="delivery">
        <use xlink:href="#sp-icons-next-delivery"></use>
    </svg>
    <svg focusable="false" class="approval" ng-if="finishCtrl.order.id">
        <use xlink:href="#sp-icons-approval"></use>
    </svg>
    <h1 class="thank-you" id="page_title">
        {{'Your order has been updated' | translate}}<br/>
    </h1>
    <svg focusable="false" class="approval" ng-if="!finishCtrl.order.id">
        <use xlink:href="#sp-icons-approval"></use>
    </svg>
    <div class="order-confirmation">
        {{('Order ID' | translate) + ' ' + (updateOrderCtrl.oid || updateOrderCtrl.order.id)}}
    </div>
    <h4>
        {{'Please check your email for order details' | translate}}.<br/>
        {{'Thank you' | translate}}!
    </h4>
    <button class="no-design continue-shopping" ng-click="finishCtrl.continue();">{{'HomePageNavigation' | translate}}
    </button>
    <div class="edit-order-wrapper">
        {{'Forgot something' | translate}}? {{'You can still edit your order' | translate}}&nbsp
        <button class="no-design" ng-click="finishCtrl.editOrder()">{{'Edit order' | translate}}</button>
    </div>
</div>
<div class="wrapper" ng-if="finishCtrl.order.id">
    <div class="summary">
        <h3>{{'Summary' | translate}}</h3>
        <p>{{'Order ID' | translate}}: {{updateOrderCtrl.oid || updateOrderCtrl.order.id || finishCtrl.order.id}}</p>
        <div class="summary-delivery strong">
            {{finishCtrl.order.branchDeliveryTypeId  == $root.SP_SERVICES.DELIVERY_TYPES.DELIVERY ? 'Delivery' : 'Pickup' | translate}}:
            <p><span>{{finishCtrl.order.formattedDeliveryDate}}</span><span>{{finishCtrl.order.formattedDeliveryTime}}</span></p>
        </div>

        <div class="summary-content">
            <div class="summary-content-info">
                <div ng-repeat="column in finishCtrl.columns" class="column">
                    <p ng-repeat="line in column" ng-class="line.classes"
                       ng-if="line.value || line.withoutValue">
                        <span>{{line.text | translate | creditCardName}}{{!line.hideColon ? ':' : ''}}</span>
                        <span>{{line.hasCurrency ? ((line.hasCurrency && line.value) && (line.value | currency)) : line.value}}</span>
                    </p>
                </div>
            </div>
        </div>
        <p>{{'An order summary email was sent to your inbox' | translate}}</p>
    </div>
</div>

