html.finish {
  height: 100%;

  > body {
    height: 100%;
  }

  section.view {
    background: #f3f3f3;
    text-align: center;

    > [ui-view] {
      height: 100%;

      > .checkout-content {
        height: 100%;

        > .tab {
          height: 100%;
          text-align: center;

          > .finish-content {
            display: inline-block;
            vertical-align: middle;
            background: #ffffff;
            padding: 3.25em 3.25em 0 3.25em;
            width: $checkoutWidth;


            > svg.delivery {
              height: 2em;
              fill: #333333;
              padding: 0;
            }

            > .thank-you {
              font-size: 1.625em;
              padding: 0.7em 0;
              color: #000000;
            }

            > svg.approval {
              height: 2em;
              fill: #57c10d;
              padding-top: 0.7em;
            }

            > .order-confirmation {
              font-size: 1.25em;
              line-height: 1.3em;
              padding: 0.7em 0;
            }

            > .order-type {
              padding-bottom: 0.3em;
            }

            > .order-time {
              padding-bottom: 0.4em;
              font-size: 1.625em;
              line-height: 1.2em;

              > .footnote {
                font-size: 0.5em;
              }
            }

            > button.continue-shopping {
              font-size: 1.5625em;
              height: 2em;
              border-radius: 2em;
              color: #414141;
              font-weight: 700;
              padding: 0 2em;
            }

            > .edit-order-wrapper {
              padding: 3em 0 0.5em 0;

              > button {
                border-radius: 2em;
                background-color: transparent;
                border: 1px solid #000000;
                padding: 0.5em 1em;
              }
            }
          }
        }
      }
    }
  }

  checkout-bottom-banner {
    display: none;
  }

  .checkout-bottom-banner-wrapper {
    display: none;
  }

  .summary-data {
    padding-top: 1em !important;

    &.for-vertical-align {
      display: none !important;
    }

    .edit-order-wrapper {
      padding-top: 1em !important;
    }

    .delivery {
      display: none !important;
    }

    .thank-you {
      &::before {
        display: none !important;
      }
    }

    h1 {
      padding: 0.1em 0 !important;
    }

    .approval {
      display: inline !important;
      padding-bottom: .7em;
      padding-top: 0 !important;
    }
  }
}

.wrapper {
  background-color: #f3f3f3;
  display: inline-block;

  .summary {
    width: 72.5rem;
    display: grid;
    justify-content: center;
    align-content: center;
    text-align: center;
    background-color: white;
    padding: 0 3.25em;
    margin-top: 1em;

    p {
      margin-bottom: 10px;
    }

    &-delivery {
      display: flex;
      justify-content: center;

      p {
        display: flex;
        margin-left: 5px;

        & span {
          &:first-of-type {
            margin-right: 1em;
          }
        }
      }
    }

    &-content {
      flex: 1;
      display: flex;
      width: 700px;
      margin-bottom: 20px;

      &-info {
        display: flex;
        flex: 1;

        > .column {
          padding: 20px;
          flex-basis: 50%;

          &:first-of-type {
            border-right: 1px solid #DEDEDE;
          }
        }

        p {
          display: flex;
          justify-content: space-between;
        }
      }
    }

    .strong {
      font-weight: bold;
    }
  }
}

@media screen and (max-width: 1280px) {
  html.finish {
    section.view {
      > div > .checkout-content > .tab > .finish-content {
        width: 100%;
        box-sizing: border-box;
      }
    }
  }
}
