html.finish section.view > div > .checkout-content > .tab > .finish-content > button.continue-shopping {
  background: $secondaryColor;
}

html.finish section.view > [ui-view] > .checkout-content > .tab > .finish-content {
  > .thank-you {
    font-family: $defaultFontFamily;
  }
}

.summary {
  .colored {
    color: $mainColor;
  }

  h1 {
    color: $mainColor;
  }
}

