<div class="tab-container details" ng-controller="KikarCheckoutDetailsTabCtrl">
    <div class="switcher-wrapper" role="region" aria-label="{{'delivery method' | translate}}">
        <h1 ng-bind="detailsCtrl.primaryTitle() | translate" id="page_title"></h1>
        <sp-radio
                options="detailsCtrl.deliveryMethodOptions"
                sp-model="checkoutCtrl.detailsData.deliveryMethod"
                sp-change="detailsCtrl.onDeliveryMethodChanged();"
                class="switcher"
                ng-if="detailsCtrl.deliveryMethodOptions.length > 1"
                role="radiogroup"
                aria-label="{{'Delivery method options' | translate}}'"
                sp-aria-label="{{option.label | translate}}">
            <span>{{option.label | translate}}</span>
            <span class="for-vertical-align"></span>
        </sp-radio>
    </div>

    <form name="checkoutCtrl.detailsForm"
          ng-click="detailsCtrl.formOnClick($event)"
          novalidate aria-label="{{'main display' | translate}}"
          ng-submit="checkoutCtrl.nextTab()">
        <div class="form-required-fields">{{'Required fields are marked with *' | translate}}</div>

        <section ng-if="!detailsCtrl.isEnabledAddressSettings" class="delivery-address" aria-labelledby="delivery_address_title" tabindex="0">
            <h2 id="delivery_address_title">
                {{(checkoutCtrl.detailsData.deliveryMethod.id !== $root.SP_SERVICES.DELIVERY_TYPES.PICKUP ? 'Delivery Address' : 'Your Details') | translate}}</h2>
            <div class="data">
                <div class="error-wrapper">
                    <label aria-live="assertive" class="server-err-msg"></label>
                    <span ng-if="checkoutCtrl.otherBranchResponse && checkoutCtrl.detailsData.deliveryMethod.id !== $root.SP_SERVICES.DELIVERY_TYPES.PICKUP">
                        {{'Sorry, branch change required' | translate}}.
                        <button type="button" class="switch-stores-button no-design"
                                ng-click="detailsCtrl.changeStore($event)">
                            {{'Change Store' | translate}}
                        </button>
                        <br/>
                        {{'This address could only be delivered from branch' | translate}}
                        {{checkoutCtrl.otherBranchResponse.branchName}}
                    </span>
                </div>
                <div class="sp-kikar-input"
                     ng-class="{'for-zipcode-smaller': (checkoutCtrl.detailsData.deliveryMethod.id !== $root.SP_SERVICES.DELIVERY_TYPES.PICKUP &&
                     (detailsCtrl.deliveryAreaMethod === $root.SP_SERVICES.DELIVERY_AREA_METHODS.ZIP_CODE || detailsCtrl.deliveryAreaMethod === $root.SP_SERVICES.DELIVERY_AREA_METHODS.CITY))}">
                    <label for="friendlyName" ng-bind="('Full Name' | translate) + ' *'"></label>
                    <input
                            id="friendlyName"
                            type="text"
                            ng-model="checkoutCtrl.detailsData.friendlyName"
                            name="fullName"
                            sp-inline-error
                            sp-inline-error-attach-to-parent="div"
                            required/>
                </div><!--
                -->
                <div ng-class="{'for-zipcode': (checkoutCtrl.detailsData.deliveryMethod.id !== $root.SP_SERVICES.DELIVERY_TYPES.PICKUP &&
                        (detailsCtrl.deliveryAreaMethod === $root.SP_SERVICES.DELIVERY_AREA_METHODS.ZIP_CODE || detailsCtrl.deliveryAreaMethod === $root.SP_SERVICES.DELIVERY_AREA_METHODS.CITY))}">
                    <label ng-if="detailsCtrl.editPhoneMode" class="static-label custom-phone-validation-kikar-label"
                           for="mobile_input" ng-bind="('Phone Number' | translate) + ' *'"></label>
                    <div ng-class="{'custom-phone-validation single-input': detailsCtrl.editPhoneMode}"
                         class="sp-kikar-input input-wrapper">
                        <label ng-if="!detailsCtrl.editPhoneMode" class="static-label" for="mobile_input"
                               ng-bind="('Phone Number' | translate) + ' *'"></label>
                        <span class="custom-phone-validation-item" data-dropdown="countryCodeMobile"
                              ng-if="detailsCtrl.editPhoneMode && $root.config.retailer.customPhoneValidation.countryCodes && $root.config.retailer.customPhoneValidation.countryCodes.length">
                            <sp-kikar-dropdown
                                    sp-invalid=" detailsCtrl.phoneNumber != checkoutCtrl.detailsData.mobilePhone.phoneNumber ? !detailsCtrl.validateCountryCode(checkoutCtrl.detailsData.mobilePhone.countryCode) : false"
                                    sp-model="checkoutCtrl.detailsData.mobilePhone.countryCode">
                              <sp-kikar-text>
                                    {{checkoutCtrl.detailsData.mobilePhone.countryCode}}
                              </sp-kikar-text>
                              <sp-kikar-option
                                      ng-repeat="countryCode in $root.config.retailer.customPhoneValidation.countryCodes"
                                      sp-value="countryCode">
                                 {{countryCode}}
                              </sp-kikar-option>
                             </sp-kikar-dropdown>
                    </span>
                        <span class="custom-phone-validation-item" data-dropdown="areaCodeMobile"
                              ng-if="detailsCtrl.editPhoneMode && $root.config.retailer.customPhoneValidation.areaCodes && $root.config.retailer.customPhoneValidation.areaCodes.length">
                            <sp-kikar-dropdown
                                    sp-invalid=" detailsCtrl.phoneNumber != checkoutCtrl.detailsData.mobilePhone.phoneNumber ? !detailsCtrl.validateAreaCode(checkoutCtrl.detailsData.mobilePhone.areaCode) : false"
                                    sp-model="checkoutCtrl.detailsData.mobilePhone.areaCode">
                              <sp-kikar-text>
                                    {{checkoutCtrl.detailsData.mobilePhone.areaCode}}
                              </sp-kikar-text>
                              <sp-kikar-option
                                      ng-repeat="areaCode in $root.config.retailer.customPhoneValidation.areaCodes"
                                      sp-value="areaCode">
                                 {{areaCode}}
                              </sp-kikar-option>
                             </sp-kikar-dropdown>
                    </span><!--
                --><input class="mobile-input" id="mobile_input" type="tel" name="phone"
                          ng-model="checkoutCtrl.detailsData.mobilePhone.customPhoneNumber"
                          ng-if="detailsCtrl.editPhoneMode && detailsCtrl.customPhoneValidation"
                          ng-pattern="detailsCtrl.customPhoneRegExp"
                          ng-click="detailsCtrl.phoneEditMode($event, true)"
                          required
                          sp-inline-error/>
                        <input class="mobile-input" id="mobile_input" type="tel" name="phone"
                               ng-model="checkoutCtrl.detailsData.mobilePhone.phoneNumber"
                               ng-if="!detailsCtrl.customPhoneValidation"
                               ng-pattern="detailsCtrl.phoneRegExp"
                               ng-click="detailsCtrl.phoneEditMode($event, true)"
                               required
                               sp-inline-error/>
                        <input required sp-inline-error ng-focus="detailsCtrl.phoneEditMode($event, true)"
                               ng-if="!detailsCtrl.editPhoneMode && detailsCtrl.customPhoneValidation" class="content"
                               type="tel" ng-model="checkoutCtrl.compiledPhoneNumber"/>
                        <button type="button" ng-if="detailsCtrl.editPhoneMode"
                                class="custom-phone-validation-cancel-button"
                                ng-click="detailsCtrl.phoneEditMode($event, false)">Cancel
                        </button>
                        <span class="phone-length-message"
                              ng-if="detailsCtrl.editPhoneMode &&
                          $root.config.retailer.customPhoneValidation.phoneNumberRange.min &&
                           $root.config.retailer.customPhoneValidation.phoneNumberRange.max">
                            {{('custom-phone-validation-range' | translate).replace('{min}', $root.config.retailer.customPhoneValidation.phoneNumberRange.min).replace('{max}', $root.config.retailer.customPhoneValidation.phoneNumberRange.max)}}
                        </span>
                        <span class="phone-length-message" ng-if="detailsCtrl.editPhoneMode &&
                           $root.config.retailer.customPhoneValidation.phoneNumberRange.min &&
                           !$root.config.retailer.customPhoneValidation.phoneNumberRange.max">{{('custom-phone-validation-min' | translate).replace('{min}', $root.config.retailer.customPhoneValidation.phoneNumberRange.min)}}</span>
                        <span class="phone-length-message" ng-if="detailsCtrl.editPhoneMode &&
                          !$root.config.retailer.customPhoneValidation.phoneNumberRange.min &&
                           $root.config.retailer.customPhoneValidation.phoneNumberRange.max">{{('custom-phone-validation-max' | translate).replace('{max}', $root.config.retailer.customPhoneValidation.phoneNumberRange.max)}}</span>
                    </div>
                </div><!--
                -->
                <div class="sp-kikar-input whole-line side-button"
                     ng-if="$root.config.retailer.settings.autocompleteAddressField && checkoutCtrl.detailsData.deliveryMethod.id === $root.SP_SERVICES.DELIVERY_TYPES.DELIVERY">
                    <label for="autocomplete_address">{{'Please type in your Zip code' | translate | retailerNameReplacement}} *</label>
                    <div class="container">
                        <input type="text" id="autocomplete_address" name="autocomplete_address"
                               class="content"
                               ng-model="checkoutCtrl.detailsData.address.zipCode"/>
                        <button class="no-design select rounded" ng-disabled="!checkoutCtrl.detailsData.address.zipCode"
                                ng-click="detailsCtrl.openAutocompleteAddress($event)">
                            <span class="text">{{::'Find address' | translate}}</span>
                        </button>
                    </div>
                </div>
                <div class="sp-kikar-input"
                     ng-if="$root.config.retailer.settings.enableDefaultCountry && checkoutCtrl.detailsData.deliveryMethod.id === $root.SP_SERVICES.DELIVERY_TYPES.DELIVERY">
                    <label for="country_autocomplete_input" class="label">{{'Country' | translate}} *</label>
                    <input type="text" id="country_autocomplete_input" name="country"
                           class="content"
                           ng-disabled="($root.config.retailer.settings.autocompleteAddressField && !checkoutCtrl.hasAddressDetails &&
                           !checkoutCtrl.detailsData.address.country) || $root.config.retailer.settings.activeZipProvider.isLockedAddress"
                           ng-change="detailsCtrl.filterCountryNames()"
                           ng-blur="detailsCtrl.onCountryBlur()"
                           ng-model="checkoutCtrl.detailsData.address.country"
                           sp-inline-error
                           required />
                    <sp-autocomplete sp-model="checkoutCtrl.detailsData.address.country"
                                     sp-get-options="checkoutCtrl.countryNames"
                    ></sp-autocomplete>
                </div>
                <div class="sp-kikar-input"
                     ng-if="checkoutCtrl.detailsData.deliveryMethod.id !== $root.SP_SERVICES.DELIVERY_TYPES.PICKUP && (
                            detailsCtrl.deliveryAreaMethod === $root.SP_SERVICES.DELIVERY_AREA_METHODS.POLYGON ||
                            detailsCtrl.deliveryAreaMethod === $root.SP_SERVICES.DELIVERY_AREA_METHODS.GOOGLE_MAPS
                        )">
                    <label for="city" ng-bind="('City' | translate | retailerNameReplacement) + ' *'"></label>
                    <input
                            ng-if="!detailsCtrl.isAddressVerificationEnabled"
                            id="city"
                            type="text"
                            ng-model="checkoutCtrl.detailsData.address.city"
                            name="city"
                            ng-keyup="detailsCtrl.setDeliveryTimesAfterInactivity()"
                            ng-blur="detailsCtrl.setDeliveryTimes();"
                            ng-disabled="($root.config.retailer.settings.autocompleteAddressField && !checkoutCtrl.hasAddressDetails &&
                            !checkoutCtrl.detailsData.address.city) || $root.config.retailer.settings.activeZipProvider.isLockedAddress"
                            sp-inline-error
                            sp-inline-error-attach-to-parent="div"
                            required/>
                    <input
                            ng-if="detailsCtrl.isAddressVerificationEnabled"
                            id="city"
                            type="text"
                            name="city"
                            ng-keyup="detailsCtrl.setDeliveryTimesAfterInactivity()"
                            ng-blur="detailsCtrl.onCityBlur()"
                            ng-change="detailsCtrl.onCityChange()"
                            ng-model="checkoutCtrl.detailsData.address.city"
                            ng-disabled="($root.config.retailer.settings.autocompleteAddressField && !checkoutCtrl.hasAddressDetails &&
                            !checkoutCtrl.detailsData.address.city) || $root.config.retailer.settings.activeZipProvider.isLockedAddress"
                            required
                            sp-inline-error
                            sp-inline-error-attach-to-parent="div"
                            autocomplete="off"
                            ng-class="{ 'form-control-error': detailsCtrl.formErrorCtrl.city }" />
                    <sp-autocomplete
                            ng-if="detailsCtrl.isAddressVerificationEnabled"
                            sp-model="checkoutCtrl.detailsData.address.city"
                            sp-choose="detailsCtrl.onCityChosen($event)"
                            sp-get-options="detailsCtrl.getCityAutoCompleteOptions()"
                            sp-value="option.name">
                    </sp-autocomplete>
                </div><!--
                -->
                <div class="sp-kikar-input"
                     ng-if="(checkoutCtrl.detailsData.deliveryMethod.id !== $root.SP_SERVICES.DELIVERY_TYPES.PICKUP && (
                            detailsCtrl.deliveryAreaMethod === $root.SP_SERVICES.DELIVERY_AREA_METHODS.POLYGON ||
                            detailsCtrl.deliveryAreaMethod === $root.SP_SERVICES.DELIVERY_AREA_METHODS.GOOGLE_MAPS
                        )) && !$root.config.retailer.settings.autocompleteAddressField">
                    <label for="zipCode" ng-bind="'Zip Code' | translate | retailerNameReplacement"></label>
                    <input
                            id="zipCode"
                            type="text"
                            ng-model="checkoutCtrl.detailsData.address.zipCode"
                            name="zipCode"
                            ng-keyup="detailsCtrl.setDeliveryTimesAfterInactivity()"
                            ng-disabled="($root.config.retailer.settings.staticZipCode && $root.config.retailer.settings.staticZipCode.length) || $root.config.retailer.settings.autocompleteAddressField"
                            sp-inline-error
                            sp-inline-error-attach-to-parent="div"/>
                </div><!--
                -->
                <div class="whole-line sp-kikar-input"
                     ng-if="checkoutCtrl.detailsData.deliveryMethod.id !== $root.SP_SERVICES.DELIVERY_TYPES.PICKUP && (
                            detailsCtrl.deliveryAreaMethod === $root.SP_SERVICES.DELIVERY_AREA_METHODS.POLYGON ||
                            detailsCtrl.deliveryAreaMethod === $root.SP_SERVICES.DELIVERY_AREA_METHODS.GOOGLE_MAPS
                        )"
                     ng-class="{ 'unrecognized-address-error': !checkoutCtrl.detailsData.address.text1 && checkoutCtrl.detailsData.address.isShowEditAddress }">
                    <label for="text1"
                           ng-bind="('Address' | translate | retailerNameReplacement) + ((detailsCtrl.streetIsRequire || detailsCtrl.isAddressVerificationEnabled) ? ' *' : '')"></label>
                    <span ng-if="checkoutCtrl.detailsData.address.isShowEditAddress" class="gg-map-confirmation-text">
                        {{ 'Is this address correct? You can now edit and refine it' | translate }}
                    </span>
                    <input
                            id="text1"
                            type="text"
                            ng-model="checkoutCtrl.detailsData.address.text1"
                            name="text1"
                            ng-keyup="detailsCtrl.setDeliveryTimesAfterInactivity()"
                            ng-keydown="detailsCtrl.onAddressInputKeyDown()"
                            ng-blur="detailsCtrl.onAddressBlur()"
                            ng-disabled="($root.config.retailer.settings.autocompleteAddressField && !checkoutCtrl.hasAddressDetails &&
                            !checkoutCtrl.detailsData.address.text1) || $root.config.retailer.settings.activeZipProvider.isLockedAddress || checkoutCtrl.detailsData.address.isDisabledAddressField"
                            sp-inline-error
                            sp-inline-error-attach-to-parent="div"
                            ng-required="!checkoutCtrl.detailsData.address.geoCoordinates && (detailsCtrl.streetIsRequire || detailsCtrl.isAddressVerificationEnabled)"
                            ng-change="detailsCtrl.onAddressChange()"
                            autocomplete="off"
                            ng-class="{ 'form-control-error': detailsCtrl.isAddressVerificationEnabled && detailsCtrl.formErrorCtrl.text1 && !checkoutCtrl.detailsData.address.geoCoordinates}" />
                    <sp-autocomplete
                            ng-if="detailsCtrl.isAddressVerificationEnabled && !detailsCtrl.streetIsRequire"
                            sp-model="checkoutCtrl.detailsData.address.text1"
                            sp-choose="detailsCtrl.onAddressChosen($event)"
                            sp-get-options="detailsCtrl.getAddressAutoCompleteOptions()"
                            sp-value="option.name">
                    </sp-autocomplete>
                    <sp-autocomplete-address-and-map
                            ng-if="detailsCtrl.isAddressVerificationEnabled && detailsCtrl.streetIsRequire && checkoutCtrl.detailsData.address.hasHouseNumberAndRoute"
                            hide-if-empty="true"
                            sp-value="option.name"
                            sp-model="checkoutCtrl.detailsData.address.text1"
                            sp-choose="detailsCtrl.onAddressChosen($event)"
                            sp-get-options="detailsCtrl.getAddressAutoCompleteOptions()"
                            sp-open-google-map="detailsCtrl.openGoogleMapDialog()">
                    </sp-autocomplete-address-and-map>
                    <div ng-if="checkoutCtrl.detailsData.address.isShowEditAddress" ng-click="detailsCtrl.editUnrecognizedAddress()"
                        class="btn-edit-address">
                        <svg focusable="false" width="24" height="24">
                            <use xlink:href="#sp-icons-black-edit"></use>
                        </svg>
                        <span class="btn-edit-address__tooltip">{{ 'Edit Your Address' | translate }}</span>
                    </div>
                </div><!--
                -->
                <div class="sp-kikar-input auto-complete-container"
                     ng-if="checkoutCtrl.detailsData.deliveryMethod.id !== $root.SP_SERVICES.DELIVERY_TYPES.PICKUP &&
                        (detailsCtrl.deliveryAreaMethod === $root.SP_SERVICES.DELIVERY_AREA_METHODS.ZIP_CODE || detailsCtrl.deliveryAreaMethod === $root.SP_SERVICES.DELIVERY_AREA_METHODS.CITY)"
                     ng-class="{'for-zipcode-smaller': (checkoutCtrl.detailsData.deliveryMethod.id !== $root.SP_SERVICES.DELIVERY_TYPES.PICKUP &&
                        (detailsCtrl.deliveryAreaMethod === $root.SP_SERVICES.DELIVERY_AREA_METHODS.ZIP_CODE || detailsCtrl.deliveryAreaMethod === $root.SP_SERVICES.DELIVERY_AREA_METHODS.CITY))}">
                    <label for="city_autocomplete" ng-bind="('City' | translate) + ' *'"></label>
                    <input
                            id="city_autocomplete"
                            type="text"
                            ng-model="checkoutCtrl.detailsData.address.city"
                            name="city"
                            ng-change="detailsCtrl.onCityChange()"
                            ng-blur="detailsCtrl.onCityChosen()"
                            sp-inline-error
                            sp-inline-error-attach-to-parent="div"
                            required
                            autocomplete="off"/>
                    <sp-autocomplete
                            sp-model="checkoutCtrl.detailsData.address.city"
                            sp-choose="detailsCtrl.onCityChosen()"
                            sp-get-options="detailsCtrl.getCityAutoCompleteOptions()"
                            sp-value="option.name"
                            sp-require-match="true">
                    </sp-autocomplete>
                </div><!--
                -->
                <div class="split"
                     ng-if="checkoutCtrl.detailsData.deliveryMethod.id !== $root.SP_SERVICES.DELIVERY_TYPES.PICKUP && (detailsCtrl.deliveryAreaMethod === $root.SP_SERVICES.DELIVERY_AREA_METHODS.ZIP_CODE || detailsCtrl.deliveryAreaMethod === $root.SP_SERVICES.DELIVERY_AREA_METHODS.CITY)"
                     ng-class="{'for-zipcode': (checkoutCtrl.detailsData.deliveryMethod.id !== $root.SP_SERVICES.DELIVERY_TYPES.PICKUP &&
                        (detailsCtrl.deliveryAreaMethod === $root.SP_SERVICES.DELIVERY_AREA_METHODS.ZIP_CODE || detailsCtrl.deliveryAreaMethod === $root.SP_SERVICES.DELIVERY_AREA_METHODS.CITY))}"><!--
                -->
                    <div class="sp-kikar-input auto-complete-container street">
                        <label for="street"
                               ng-bind="('Street' | translate) + (detailsCtrl.streetIsRequire ? ' *' : '')"></label>
                        <input id="street"
                               type="text"
                               ng-model="checkoutCtrl.detailsData.address.street"
                               name="street"
                               ng-disabled="($root.config.retailer.settings.autocompleteAddressField && !checkoutCtrl.hasAddressDetails &&
                               !checkoutCtrl.detailsData.address.street) || $root.config.retailer.settings.activeZipProvider.isLockedAddress"
                               sp-inline-error
                               sp-inline-error-attach-to-parent="div"
                               ng-required="detailsCtrl.streetIsRequire"
                               autocomplete="off"
                               ng-change="detailsCtrl.onStreetBlur();"/>
                        <sp-autocomplete
                                sp-choose="detailsCtrl.onStreetBlur();"
                                sp-model="checkoutCtrl.detailsData.address.street"
                                sp-get-options="detailsCtrl.getStreetAutoCompleteOptions()"
                                sp-require-match="detailsCtrl.streetRequireMatch"
                                sp-reload-options-on="checkout.city.change">
                        </sp-autocomplete>
                    </div><!--
                    -->
                    <div class="sp-kikar-input"
                         ng-class="{'is-enable-entrance': $root.config.retailer.enableFloorApartment}">
                        <label for="houseNumber"
                               ng-bind="('House No.' | translate) + (detailsCtrl.streetIsRequire ? ' *' : '')"></label>
                        <input id="houseNumber"
                               type="number"
                               ng-model="checkoutCtrl.detailsData.address.houseNumber"
                               name="houseNum"
                               ng-required="detailsCtrl.streetIsRequire"
                               ng-disabled="($root.config.retailer.settings.autocompleteAddressField && !checkoutCtrl.hasAddressDetails &&
                               !checkoutCtrl.detailsData.address.houseNumber) || $root.config.retailer.settings.activeZipProvider.isLockedAddress"
                               sp-inline-error
                               sp-inline-error-attach-to-parent="div"
                               ng-keyup="detailsCtrl.setDeliveryTimesAfterInactivity()"
                               ng-blur="detailsCtrl.setDeliveryTimes()"/>
                    </div><!--
                -->
                    <div class="sp-kikar-input" ng-if="!$root.config.retailer.enableFloorApartment">
                        <label for="entry" ng-bind="'Entrance' | translate"></label>
                        <input id="entry"
                               type="text"
                               ng-model="checkoutCtrl.detailsData.address.entry"
                               name="entry"
                               ng-disabled="($root.config.retailer.settings.autocompleteAddressField && !checkoutCtrl.hasAddressDetails &&
                               !checkoutCtrl.detailsData.address.entry) || $root.config.retailer.settings.activeZipProvider.isLockedAddress"
                               sp-inline-error
                               sp-inline-error-attach-to-parent="div"
                               placeholder="{{'Select' | translate}}"
                               ng-keyup="detailsCtrl.setDeliveryTimesAfterInactivity()"
                               ng-blur="detailsCtrl.setDeliveryTimes()"/>
                        <sp-autocomplete
                                sp-model="checkoutCtrl.detailsData.address.entry"
                                sp-get-options="detailsCtrl.getEntriesAutoComplete()"
                                sp-reload-options-on="checkout.city.change"
                                sp-require-match="!!checkoutCtrl.detailsData.address.entry"
                                sp-show-on-focus="true">
                        </sp-autocomplete>
                    </div><!--
                --></div><!--
                -->
                <div class="sp-kikar-input whole-line"
                     ng-class="{'more-details-for-zipcode': (checkoutCtrl.detailsData.deliveryMethod.id !== $root.SP_SERVICES.DELIVERY_TYPES.PICKUP &&
                        (detailsCtrl.deliveryAreaMethod === $root.SP_SERVICES.DELIVERY_AREA_METHODS.ZIP_CODE || detailsCtrl.deliveryAreaMethod === $root.SP_SERVICES.DELIVERY_AREA_METHODS.CITY))}"
                     ng-if="checkoutCtrl.detailsData.deliveryMethod.id !== $root.SP_SERVICES.DELIVERY_TYPES.PICKUP && !$root.config.retailer.enableFloorApartment">
                    <label for="text2" ng-bind="'More Details' | translate | retailerNameReplacement"></label>
                    <input
                            id="text2"
                            type="text"
                            ng-model="checkoutCtrl.detailsData.address.text2"
                            name="text2"
                            sp-inline-error
                            sp-inline-error-attach-to-parent="div"
                            ng-keyup="detailsCtrl.setDeliveryTimesAfterInactivity()"
                            ng-blur="detailsCtrl.setDeliveryTimes();"
                            maxlength="255"
                            placeholder="{{(detailsCtrl.deliveryAreaMethod !== $root.SP_SERVICES.DELIVERY_AREA_METHODS.ZIP_CODE && detailsCtrl.deliveryAreaMethod !== $root.SP_SERVICES.DELIVERY_AREA_METHODS.CITY ?
                       (('Entrance' | translate) + ', ') : '') + ('Apartment, Suite, Building, Floor, etc.' | translate)}}"/>
                </div>
                <div ng-if="$root.config.retailer.enableFloorApartment && checkoutCtrl.detailsData.deliveryMethod.id !== $root.SP_SERVICES.DELIVERY_TYPES.PICKUP"
                     class="sp-kikar-input floor-apartment more-details">
                    <label for="moreDetails" ng-bind="'More Details' | translate | retailerNameReplacement"></label><!--
                    --><input id="moreDetails"
                              type="text"
                              name="text2"
                              ng-model="checkoutCtrl.detailsData.address.text2"
                              sp-inline-error
                              sp-inline-error-attach-to-parent="div"
                              maxlength="255"/><!--
            --></div><!--
              -->
                <div class="split floor-apartment"
                     ng-if="$root.config.retailer.enableFloorApartment && checkoutCtrl.detailsData.deliveryMethod.id !== $root.SP_SERVICES.DELIVERY_TYPES.PICKUP"><!--
                 -->
                    <div class="sp-kikar-input">
                        <label for="entry1" ng-bind="'Entrance' | translate"></label>
                        <input id="entry1"
                               type="text"
                               ng-model="checkoutCtrl.detailsData.address.entry"
                               name="entry"
                               ng-disabled="$root.config.retailer.settings.autocompleteAddressField && !checkoutCtrl.hasAddressDetails && !checkoutCtrl.detailsData.address.entry"
                               sp-inline-error
                               sp-inline-error-attach-to-parent="div"
                               placeholder="{{'Select' | translate}}"
                               ng-keyup="detailsCtrl.setDeliveryTimesAfterInactivity()"
                               ng-blur="detailsCtrl.setDeliveryTimes()"/>
                        <sp-autocomplete
                                sp-model="checkoutCtrl.detailsData.address.entry"
                                sp-get-options="detailsCtrl.getEntriesAutoComplete()"
                                sp-reload-options-on="checkout.city.change"
                                sp-require-match="!!checkoutCtrl.detailsData.address.entry"
                                sp-show-on-focus="true">
                        </sp-autocomplete>
                    </div><!--
                -->
                    <div class="sp-kikar-input"><!--
                    --><label for="floor" ng-bind="'Floor' | translate"></label><!--
                    --><input id="floor"
                              type="number"
                              name="floor"
                              step="1"
                              ng-model="checkoutCtrl.detailsData.address.floor"
                              ng-disabled="$root.config.retailer.settings.autocompleteAddressField && !checkoutCtrl.hasAddressDetails && !checkoutCtrl.detailsData.address.floor"
                              sp-inline-error
                              sp-inline-error-attach-to-parent="div"/><!--
                --></div><!--
                 -->
                    <div class="sp-kikar-input"><!--
                    --><label for="apartment" ng-bind="'Apartment' | translate"></label><!--
                    --><input id="apartment"
                              type="text"
                              name="apartment"
                              ng-model="checkoutCtrl.detailsData.address.apartment"
                              ng-disabled="$root.config.retailer.settings.autocompleteAddressField && !checkoutCtrl.hasAddressDetails && !checkoutCtrl.detailsData.address.apartment"
                              sp-inline-error
                              sp-inline-error-attach-to-parent="div"/><!--
                --></div><!--
                --></div><!--
            --></div>
        </section>
        <section ng-if="detailsCtrl.isEnabledAddressSettings" class="delivery-address" aria-labelledby="delivery_address_title" tabindex="0">
            <div ng-include="'template/views/checkout/partials/checkout-address/index.html'" class="address-form-settings-wrapper"></div>
        </section>


        <section class="delivery-details" role="region" aria-labelledby="delivery_details_title waiting_time available_days" tabindex="0">
            <div class="delivery-details-lbl" style="width: 23%; display: inline-block;padding: 0 1em;">
                <h2 id="delivery_details_title"
                    ng-bind="checkoutCtrl.detailsData.deliveryMethod.id !== $root.SP_SERVICES.DELIVERY_TYPES.PICKUP ? 'Delivery Details' : 'Pickup Details' | translate"></h2>
                <div id="waiting_time"
                     ng-if="$root.config.retailer.twoHourLaw && checkoutCtrl.detailsData.deliveryMethod.id !== $root.SP_SERVICES.DELIVERY_TYPES.PICKUP">
                    {{'The waiting period will not exceed two hours' | translate}}
                </div>
                <div id="available_days" ng-if="$root.config.retailer.deliveryCustomerDisplayDays && !checkoutCtrl.isDeliveryWithinDaysOnly">
                    &#x200E;({{($root.config.retailer.deliveryCustomerDisplayDays) + ' ' + ('available days' | translate)}})
                </div>
            </div>
            <div class="data">
                <div class="details-region" role="region" aria-labelledby="pickup_branch_title">

                <div ng-class="{'pickup-method':checkoutCtrl.detailsData.deliveryMethod.id === $root.SP_SERVICES.DELIVERY_TYPES.PICKUP}">
                    <div class="change-to-delivery-method"  ng-if="detailsCtrl.deliveryMethodOptions.length > 1">
                        <img ng-if="checkoutCtrl.detailsData.deliveryMethod.id !== $root.SP_SERVICES.DELIVERY_TYPES.PICKUP"
                             class="pickup-image"
                             ng-src="https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/icon-pickup-tab-grey.png" alt="pickupImage"/>
                        <img ng-if="checkoutCtrl.detailsData.deliveryMethod.id === $root.SP_SERVICES.DELIVERY_TYPES.PICKUP"
                             class="delivery-image"
                             ng-src="https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/icon-delivery-tab-grey.png" alt="deliveryImage"/>
                        <button type="button" class="no-design" ng-click="detailsCtrl.changeToDeliveryMethod()">
                            {{'Change to ' + (checkoutCtrl.detailsData.deliveryMethod.id !== $root.SP_SERVICES.DELIVERY_TYPES.PICKUP ? 'pickup' : 'delivery') | translate}}</button>
                    </div>
                </div>

                    <div ng-if="checkoutCtrl.detailsData.deliveryMethod.id === $root.SP_SERVICES.DELIVERY_TYPES.PICKUP && !checkoutCtrl.areasOptions.length">
                        <div id="pickup_branch_title" class="branch-title">
                            {{'The pickup will be picked from' | translate}}
                        </div>
                        <div class="branch-data" ng-if="!detailsCtrl.selectedPickupArea.isPickupAddressDisplayed">
                            {{checkoutCtrl.area.branchName}},
                            {{$root.config.branch.location || ''}} {{$root.config.branch.city}}
                        </div>
                        <div class="branch-data" ng-if="detailsCtrl.selectedPickupArea.isPickupAddressDisplayed">
                            {{detailsCtrl.selectedPickupArea.name}}
                        </div>
                    </div>
                    <div>
                        <button ng-if="checkoutCtrl.detailsData.deliveryMethod.id === $root.SP_SERVICES.DELIVERY_TYPES.PICKUP"
                                ng-click="detailsCtrl.changeStore()" type="button" class="switch-stores-button no-design">
                            {{'Change Store' | translate}}
                        </button>
                    </div>
                    <div ng-if="checkoutCtrl.areasOptions.length" class="sp-kikar-input full">
                        <label for="area"
                               ng-bind=":: (checkoutCtrl.detailsData.deliveryMethod.id === $root.SP_SERVICES.DELIVERY_TYPES.PICKUP ? 'Pickup Address' : 'Delivery Area' | translate) + ' *'"></label>
                        <input id="area"
                               type="text"
                               ng-model="checkoutCtrl.areaQuery"
                               autocomplete="off"
                               name="areaQuery"
                               sp-inline-error
                               sp-inline-error-class="autocomplete-error"
                               sp-inline-error-attach-to-parent="div"
                               ng-change="detailsCtrl.setDeliveryTimesFromAutocomplete()"
                               required/>
                        <sp-autocomplete
                                sp-model="checkoutCtrl.areaQuery"
                                sp-option-model="checkoutCtrl.areaChosenOption"
                                sp-get-options="checkoutCtrl.areasOptions"
                                sp-choose="detailsCtrl.setDeliveryTimesFromAutocomplete($event)"
                                sp-value="option.name"
                                sp-identifier="option.id"
                                sp-require-match="true"
                                sp-show-on-focus="true"
                                threshold="0">
                        </sp-autocomplete>
                    </div>
                </div>

                <div class="details-region" role="region" aria-labelledby="pickup_branch_title"
                     ng-if="checkoutCtrl.area.deliveryProviderId === $root.SP_SERVICES.DELIVERY_PROVIDERS.MANUAL && checkoutCtrl.area.providerExtraData.showShippingInputAtCheckout">
                    <div class="sp-kikar-input shipping-carrier full">
                        <label class="label"
                               for="shipping_carrier_input">{{:: checkoutCtrl.area.providerExtraData.shippingInputTitle}}</label><!--
                        --><input id="shipping_carrier_input"
                                  type="text"
                                  ng-model="checkoutCtrl.detailsData.shippingCarrierCode"
                                  name="shippingCarrier"
                                  sp-inline-error
                                  ng-required=":: checkoutCtrl.area.providerExtraData.isShippingInputRequired"/>
                        <div class="input-description"
                             ng-if="checkoutCtrl.area.providerExtraData.shippingInputDescription">
                            {{checkoutCtrl.area.providerExtraData.shippingInputDescription}}
                        </div>
                    </div>
                </div>

                <div class="details-region" role="region" aria-labelledby="select_date_title"
                     ng-if="!checkoutCtrl.isDeliveryWithinDaysOnly">
                    <h3 id="select_date_title" class="select-date-and-time-title"
                        ng-bind="checkoutCtrl.detailsData.deliveryMethod.id !== $root.SP_SERVICES.DELIVERY_TYPES.PICKUP ? 'Select delivery date & time' : 'Select pickup date & time' | translate"></h3>

                    <div class="senior-citizen-section"
                         ng-if="$root.config.retailer.isSeniorCitizenActive && checkoutCtrl.detailsData.deliveryMethod.id !== $root.SP_SERVICES.DELIVERY_TYPES.PICKUP">
                        <button type="button" class="main-indication"
                                ng-click="detailsCtrl.showSeniorCitizen()"
                                ng-if="!detailsCtrl.isSeniorCitizen">
                            {{'I am a senior citizen' | translate}}
                        </button>
                        <span ng-if="detailsCtrl.isSeniorCitizen" class="main-indication">
                            <svg focusable="false">
                                <use xlink:href="#sp-icons-v"></use>
                            </svg>
                            {{'I am a senior citizen' | translate}}
                        </span>
                        <span class="disclaimer">
                            * {{'May grant you priority delivery slots' | translate}}
                        </span>
                    </div>

                    <sp-slider-pickers
                            class="full-size"
                            direction="'horizontal'"
                            sp-model="checkoutCtrl.detailsData.delivery"
                            sp-change="detailsCtrl.deliveryTimeError = null;"
                            picker="checkoutCtrl.timesOption.picker"
                            items="6"
                            sp-inline-error="{{detailsCtrl.deliveryTimeError}}"
                            sp-inline-error-class="bold"
                            id="content"
                            ng-class="{'with-asap': $root.config.retailer.isAsapActive}"
                            sp-disable-items="detailsCtrl.checkingAddressInProgress"
                            sp-disabled-selected="detailsCtrl.disabledTimeChosen();"
                            sp-on-last-option="detailsCtrl.setDeliveryTimes({scroll: scroll})">
                    </sp-slider-pickers>
                    <div class="business-days-disclaimer"
                         ng-if="checkoutCtrl.timesOption.picker.primaryItem.customData.deliveryTimeTypeId === $root.DELIVERY_TIMES_TYPES.DELIVERY_WITHIN_DAYS">
                        * {{'Business days' | translate}}
                    </div>
                </div>
                <div class="details-region delivery-within-days-line" ng-if="checkoutCtrl.isDeliveryWithinDaysOnly">
                    <div class="img">
                        <img ng-src="https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/express-{{::checkoutCtrl.timesOption.picker.primaryItem.customData.deliveryTypeStr}}-grey.png"
                             alt="{{'express delivery' | translate}}">
                    </div>
                    <div class="delivery-text">
                        <div class="title">
                            {{'Delivery within' | translate}}
                            {{checkoutCtrl.timesOption.picker.primaryItem.dropDown.items[0].daysRange}}
                            {{'Days' | translate}}*
                        </div>
                        <div class="price">
                            <div class="main-row">
                                {{'Delivery price' | translate}}:
                                <span ng-if="::checkoutCtrl.timesOption.picker.primaryItem.price">
                                    {{::checkoutCtrl.timesOption.picker.primaryItem.price | currency}}
                                </span>
                                <span ng-if="::!checkoutCtrl.timesOption.picker.primaryItem.price">
                                    {{'Free' | translate}}
                                </span>
                            </div>

                            <div class="specials-wrapper"
                                 ng-if="checkoutCtrl.timesOption.picker.primaryItem.specials.length">
                                <div class="special-content"
                                     ng-repeat="primarySpecial in checkoutCtrl.timesOption.picker.primaryItem.specials">
                                    <sp-sale-icon product-special="primarySpecial"
                                                  without-actions="true"></sp-sale-icon>
                                    <span class="description">{{primarySpecial.descriptions && primarySpecial.descriptions[$root.config.language.culture] ? primarySpecial.descriptions[$root.config.language.culture] : primarySpecial.description}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="delivery-disclaimer">
                        {{'We will contact you in order to' | translate}}<br/>
                        {{'schedule the delivery hours' | translate}}<br/>
                        <span class="business-days-disclaimer">* {{'Business days' | translate}}</span>
                    </div>
                </div>

                <div class="details-region" role="region" aria-labelledby="substitutions_title">
                    <div class="substitute-preferences" ng-if="detailsCtrl.shownSubstitutePreferences.length > 1">
                        <div id="substitutions_title" class="title">{{'Allow Substitutions' | translate}}?</div>
                        <sp-radio options="detailsCtrl.shownSubstitutePreferences"
                                  value-key="option"
                                  sp-model="checkoutCtrl.detailsData.substitutePreferences"
                                  role="radiogroup"
                                  aria-label="{{'Substitute preference options' | translate}}">
                            {{('substitute_preference_' + option + '_label' | translate) + (checkoutCtrl.detailsData.substitutePreferences === option ? ' - ' + ('substitute_preference_' + option + '_description' | translate) : '')}}
                        </sp-radio>
                    </div>

                    <sp-checkbox sp-model="checkoutCtrl.detailsData.leaveByTheDoor" class="leave-by-the-door"
                                 ng-if="$root.config.retailer.isLeaveByTheDoorEnabled && checkoutCtrl.detailsData.deliveryMethod.id === $root.SP_SERVICES.DELIVERY_TYPES.DELIVERY">
                        {{'Please leave the order outside the door if nobody\'s home' | translate}}
                    </sp-checkbox>

                    <div class="substitute-preferences" ng-if="detailsCtrl.isReceiptOption">
                        <div class="title">{{'Receipt' | translate}}</div>
                        <sp-radio options="detailsCtrl.receiptOptions"
                                  value-key="option"
                                  sp-model="checkoutCtrl.detailsData.receiptOption"
                                  role="radiogroup"
                                  aria-label="{{'Substitute preference options' | translate}}">
                            {{('receipt_option_title_' + option | translate) + ' - ' + ('receipt_option_' + option | translate)}}
                        </sp-radio>
                    </div>

                    <div class="comments">
                        <input type="text"
                               name="comments"
                               ng-model="checkoutCtrl.detailsData.comments"
                               placeholder="{{'Comments' | translate}}"
                               sp-inline-error>
                    </div>
                </div>
            </div>
        </section>
    </form>
</div>
