$dataMargin: 5%;

#{$checkoutSelector} > .details {
  $sectionPaddingTop: 3.25em;
  $inputWidth: 45%;
  $dataWidth: 70%;

  section {
    background: #ffffff;
    margin-top: 0.625em;
    padding-top: $sectionPaddingTop;
    padding-bottom: 1em;

    > * {
      display: inline-block;
      vertical-align: top;
    }

    $titleWidth: 23%;

    > h2 {
      width: $titleWidth;
      padding: 0 1em;
      box-sizing: border-box;
    }

    > .delivery-details-lbl {
      width: $titleWidth;
      box-sizing: border-box;

      h2 {
        padding: 0 1em;
      }

      div {
        padding: 1em 2.7em 0 2.7em;
        font-size: 1em;
        line-height: 1.5em;
      }
    }

    > div.data {
      width: $dataWidth;
    }
  }

  .change-to-delivery-method{
    display: flex;
    justify-content: flex-end;

    .pickup-image {
      width: 1.3em;
      margin-bottom: 0.15em;
    }

    .delivery-image {
      width: 2.3em;
      height: 1em;
      margin-top: 0.3em;
    }

    > button {
      text-decoration: underline;
    }

    > img {
      margin-right: 0.3em;
    }
  }

  .switcher-wrapper {
    padding-top: 1em;

    h1 {
      display: inline-block;
      vertical-align: middle;
      padding: 0;
    }

    .switcher {
      margin: 1em;
      font-size: 1.5em;
    }
  }

  button.switch-stores-button {
    color: #414141;
    border: 2px solid #414141;
    font-weight: 700;
    padding: 0 1em;
    border-radius: 3em;
    margin: 0 0.5em 1em 0.5em;
  }

  section.delivery-address > div.data {
    position: relative;

    > *:not(.server-err-msg) {
      display: inline-block;
      width: $inputWidth;
      margin: 0 $dataMargin 2.375em 0;
      padding: 0;
    }

    .auto-complete-wrapper {
      display: inline-block;

      > .auto-complete {
        z-index: 91;
        max-height: 8em;
        overflow: auto;

        > .option, .btn-map {
          padding: 0.3em 0.4em;
          font-size: 0.9em;
        }
      }
    }

    .split {
      > * {
        width: 20%;
        margin-left: 6%;

        &.is-enable-entrance {
          width: 46%;
        }
      }

      .street {
        width: 48%;
        margin-left: 0;
      }
    }

    .for-zipcode {
      width: 60%;
    }

    .for-zipcode-smaller {
      width: 30%;
    }

    .whole-line {
      width: 100% - $dataMargin;

      .container {
        display: block;
        position: relative;

        button {
          position: absolute;
          top: 0;
          right: 0;
          z-index: 1;

          &:disabled {
            opacity: .2;
          }
        }
      }
    }


    .more-details-for-zipcode {
      width: 100% - $dataMargin;
    }

    .floor-apartment {
      &.more-details {
        width: 45%;
        margin-right: 0;
      }
      &.split {
        width: 46%;
        margin-left: 4%;
        > * {
          width: 30%;
          margin-left: 3%;
        }
      }
    }

    div.error-wrapper {
      margin: (($sectionPaddingTop / -2) - 0.5em) 0 1em 0;
      width: 100%;
      color: #FF0000;
      font-weight: bold;
      line-height: 1.2;
    }

    label.server-err-msg {
      padding: 0;

      &.shown {
        display: inline-block;
      }
    }
  }

  section.delivery-details {
    > .data {
      width: $dataWidth - ($dataWidth / 100% * $dataMargin);
      > .details-region {
        > .sp-kikar-input {
          margin-bottom: 3em;
          z-index: 0;
          &.auto-complete-options-shown{
            z-index: 10;
          }

          &.full {
            display: block;
          }

          &.shipping-carrier > div.input-description {
            margin-top: 0.25em;
            font-size: 1.1em;
            color: #000000;
          }
        }

        > h3 {
          font-size: 1.1063em;
          font-weight: 700;
          color: #616161;
          padding: 0;
        }

          .branch-title {
            display: inline-block;
            font-weight: 700;
          }

        .select-date-and-time-title {
          padding-bottom: 1em;
        }

        .branch-data {
          margin-top: 0.5em;
          margin-bottom: 1em;
        }

        .sp-slider-picker-wrapper.horizontal {
          .sp-slider-picker>.dropdown-options {
            height: 9.1em;
          }

          &.with-asap {
            .sp-slider-picker>.dropdown-options {
              height: 10em;
            }
          }
        }

        .sp-slider-picker {
          .slider-primary-item, .slide-btn-wrapper {
            height: 5.75em;

            > .slider-primary-item-btn {
              box-shadow: 0.9px 0.5px 7px 0 rgba(0, 0, 0, 0.24);
              @include border-radius(0 0 0 0);
              position: relative;

              &.selected > ng-include {
                color: #414141;
              }

              > ng-include {
                font-style: italic;
                font-size: 0.8em;

                > .time {
                  color: #1f0000;
                  font-weight: 700;
                  line-height: 1.3;
                }

                > .delivery-type {
                  color: #1f0000;
                  font-size: 0.87em;
                }

                > .price {
                  color: #1f0000;
                  font-weight: bold;
                  font-size: 0.87em;
                }

                > img {
                  max-height: 1.5em;
                  //padding: 0.4em 0.3em 0 0.3em;
                }

                > .tool-tip {
                  $width: 15em;

                  display: none;
                  position: absolute;
                  z-index: 2;
                  top: 100%;
                  left: 50%;
                  width: $width;
                  margin-left: -($width / 2);
                  border: 1px solid;
                  margin-top: 1em;
                  background-color: #ffffff;
                  padding: 0.5em;
                  white-space: normal;
                  box-sizing: border-box;

                  &:before {
                    $size: 1em;

                    content: '';
                    position: absolute;
                    top: -0.65em;
                    left: 50%;
                    margin-left: -($size / 2);
                    border-left: 1px solid;
                    border-top: 1px solid;
                    transform: rotate(45deg);
                    width: $size;
                    height: $size;
                    background-color: #ffffff;
                  }
                }
              }

              &:hover > ng-include > .tool-tip {
                display: block;
              }
            }
          }

          .slider-items-wrapper {
            .slider-items {
              height: 5.75em;

              > .slider-item {
                &.selected > .slider-item-content > ng-include {
                  > .date, > .date.today, > .date-name {
                    color: #414141;
                  }

                  .selected-time {
                    display: block;
                  }

                  .time {
                    line-height: 1.4;
                  }
                }

                &.disabled > .slider-item-content {
                  box-shadow: none;
                  border: none;
                  background: repeating-linear-gradient(-45deg, #EDEDED -2px, #EDEDED 0px, #fff 1px, #fff 6px);
                }

                > .slider-item-content {
                  box-shadow: 0.9px 0.5px 7px 0 rgba(0, 0, 0, 0.24);
                  border-radius: 0;
                  width: 6em;

                  > ng-include {
                    text-align: center;

                    > * {
                      white-space: normal;
                    }

                    > .date {
                      color: #616161;
                      font-size: 0.7em;
                      padding-bottom: 0.3em;
                      font-weight: normal;

                      &.today {
                        font-weight: normal;
                      }
                    }

                    > .date-name {
                      color: #616161;
                      padding-top: 0.3em;
                      font-size: 1.5em;
                      text-transform: uppercase;
                    }

                    .selected-time {
                      padding-top: 0.2em;
                      direction: ltr;
                      display: none;
                      color: #414141;
                      font-size: 0.7em;

                      > div {
                        line-height: 100%;
                      }
                    }

                    .shipping-day {
                      font-size: 0.8em;
                    }
                  }
                }
              }
            }
          }
        }

        .sp-radio-option {
          display: block;
        }

        .senior-citizen-section {
          margin-top: -0.2em;
          padding-bottom: 1em;

          > .main-indication {
            display: inline-block;
            vertical-align: middle;
            background: #fff;
            border: 1px solid #a5a5a6;
            box-sizing: border-box;
            border-radius: 1em;
            padding: 0.4em 1em;
            font-size: 1em;
            line-height: 1;
          }

          button.main-indication {
            color: #000;
          }

          span.main-indication {
            color: #289d5d;

            svg {
              width: 1em;
              height: 0.75em;
              fill: #67ac5b;
            }
          }

          .disclaimer {
            // resets
            position: static;
            font-weight: normal;
            right: auto;
            top: auto;

            color: #9f9f9f;
            font-size: 0.875em;
            display: inline-block;
            vertical-align: middle;
            padding: 0 1em;
          }
        }

        > .substitute-preferences {
          margin-top: 3.1875em;
          color: #616161;

          > .title {
            font-weight: 700;
            font-size: 1.1438em;
          }

          > .sp-radio-buttons {
            margin-top: 1.25em;
            font-size: 0.8929em;
          }
        }

        > .leave-by-the-door {
          margin: 1em 0;
          padding: 5px;
        }

        > .comments {
          margin: 3.5em 0 1.8em 0;

          input {
            padding: 0.1em 0.1em 0.1em 5px;
          }
        }

        .business-days-disclaimer {
          font-size: 0.9em;
          text-align: right;
          padding: 0.3em 0.3em 0 0.3em;
        }

        &.delivery-within-days-line {
          height: auto;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: start;

          .img {
            padding: 0 1em;

            img {
              width: 3.2em;
              display: block;
            }
          }

          .delivery-text {
            padding-right: 2em;

            .title {
              font-size: 1.125em;
              font-weight: bold;
              color: #76bfa3;
              padding-bottom: 0.3em;
            }

            .price {
              font-size: 0.875em;
              color: #000;

              .main-row {
                display: block;
              }

              .specials-wrapper {
                display: block;
                padding-top: 0.5em;

                .special-content {
                  display: flex;
                  flex-direction: row;
                  align-items: center;
                  justify-content: start;
                  color: #000;
                  font-weight: 400;
                  background-color: #fff;

                  .sp-sale-icon {
                    flex: 0 0 auto;
                    position: relative;
                    left: auto;
                    right: auto;
                    top: auto;
                    bottom: auto;
                    width: 1.5em;
                    height: 1.5em;

                    svg {
                      width: 100%;
                      height: 100%;
                    }
                  }

                  .description {
                    flex: 1 1 auto;
                    white-space: normal;
                    padding: 0 0.3em 0.3em 0.3em;

                    &:last-child {
                      padding-bottom: 0;
                    }
                  }
                }
              }
            }
          }

          .delivery-disclaimer {
            font-size: 0.875em;
            color: #78797a;
            padding: 0.3em 1em;
            border-left: 1px solid #d2d2d3;
            line-height: 1.2;

            .business-days-disclaimer {
              display: inline-block;
              padding-left: 0;
              padding-right: 0;
            }
          }
        }
      }
    }
  }


  .address-form-settings-wrapper {
    display: flex;
    width: 100%;

    .cancel-drop-pin-button-wrapper {
      display: flex;
      align-items: center;
      gap: 2em;

      .cancel-droppin-button {
        border: 1px solid;
        padding: 2px;
        border-radius: 5px;
        font-size: 1em;
      }

      .cancel-droppin-msg{
        font-size: 1.2em;
      }
    }


    .left-col{
      flex: 24;

      #delivery_address_title{
        padding: 0 1em;
      }
    }

    .right-col{
      flex: 80;
      display: flex;
      flex-direction: column;

      .error-wrapper {
        margin: (($sectionPaddingTop / -2) - 0.5em) 0 1em 0;
        width: 100%;
        color: #FF0000;
        font-weight: bold;
        line-height: 1.2;
      }

      .address-form-settings{
        width: 95%;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        
        .input-wrapper{
          display: flex;
          align-items: baseline;

          .valid-input-icon {
            color: green;
            font-size: 1.8em;
            position: absolute;
            left: 93%;
            bottom: 10%;
          }

          .container {
            display: block;
            position: relative;
    
            button {
              position: absolute;
              top: 0;
              right: 0;
              z-index: 1;
    
              &:disabled {
                opacity: .2;
              }
            }
          }

          & .auto-complete {
            z-index: 91;
            max-height: 8em;
            overflow: auto;
    
            >.option,
            .btn-map {
              padding: 0.3em 0.4em;
              font-size: 0.9em;
            }
          }
        
          .sp-kikar-input {
            > label {
              height: fit-content;
            }
          }
    
        }

        .btn-edit-address {
          top: 40%;
        }

        .w-full{
          width: 100%;
        }

        .btn-edit-address__tooltip {
          width: fit-content;
        }

        .input-with-edit-icon {
          padding-right: 2rem;
        }
  
        $flex-percents: 15, 20, 30, 35, 50, 60;
        @each $percent in $flex-percents {
          .flex-#{$percent} {
            flex: $percent;
          }
        }
  
        $gaps: 2, 4, 6, 8;
        @each $gap in $gaps {
          .gap-#{$gap} {
            gap: $gap * 0.25rem;
          }
        }
      }

      $margin-tops: 2, 4, 6, 8;
      @each $mt in $margin-tops {
        .mt-#{$mt} {
          margin-top: $mt * 0.25rem;
        }
      }
    }

  }
}

#{$checkoutRtlSelector} > .details {
  section.delivery-details > .data > .details-region {
    .business-days-disclaimer {
      text-align: left;
    }

    &.delivery-within-days-line {
      .delivery-text {
        padding-right: 0;
        padding-left: 2em;
      }

      .delivery-disclaimer {
        border-left-width: 0;
        border-right: 1px solid #d2d2d3;
      }
    }
  }

    .change-to-delivery-method {
      > img {
        margin-left: 0.2em;
      }
    }

  section.delivery-address > div.data {
    > * {
      margin-right: 0;
      margin-left: $dataMargin;
    }

    .split {
      > * {
        margin-left: 0;
        margin-right: 6%;
      }

      .street {
        margin-right: 0;
      }
    }

    .floor-apartment {
      &.more-details {
        margin-left: 0;
      }

      &.split {
        margin-right: 4%;

        > * {
          margin-right: 3%;
        }
      }
    }
  }
}

.sp-inline-error.autocomplete-error {
  z-index: 0;
}

@media screen and (max-width: 1575px) {
  #{$checkoutSelector} > .details section.delivery-details > .data > .details-region > .substitute-preferences > .sp-radio-buttons {
    font-size: 0.98em;
  }
}

@media screen and (max-width: 1220px) {
  #{$checkoutSelector} > .details {
    .switcher-wrapper {
      .switcher {
        margin-top: 0.5em;
        margin-bottom: 0.5em;
      }
    }
  }
}

.form-control-error {
  border-bottom: 1px solid red !important;
}

section.delivery-address {
  display: flex;
  
  > div.data {
    display: flex !important;
    flex-wrap: wrap;

    div.floor-apartment {
      display: flex !important;
    }
  }
}

.btn-edit-address {
  position: absolute;
  right: 1%;
  top: 60%;
  width: fit-content;
  cursor: pointer;

  &__tooltip {
    position: absolute;
    top: 120%;
    left: -6%;
    z-index: 1;
    transform: translateX(-50%);
    display: block;
    padding: 10px 12px;
    width: 120px;
    border-radius: 6px;
    font-size: 14px;
    color: #fff;
    text-align: center;
    background-color: #282828;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s;

    &::after {
      content: '';
      position: absolute;
      top: -18px;
      left: 50%;
      margin-left: -5px;
      border-width: 10px;
      border-style: solid;
      border-color: transparent transparent #282828 transparent;
    }
  }

  &:hover &__tooltip {
      visibility: visible;
      opacity: 1;
  }
}

.gg-map-confirmation-text {
  position: relative;
  top: 30%;
  display: block;
  height: 24px;
  font-size: 14px;
  padding-left: 5px;
}

.rtl {
  #mobile_input {
    text-align: right;
  }
  .btn-edit-address {
    right: unset;
    left: 1%;
  }
  .valid-input-icon {
    left: 2% !important;
  }

  .address-form-settings-wrapper {
    .input-with-edit-icon {
      padding-right: unset !important;
      padding-left: 2rem;
    }
  }

}

.unrecognized-address-error label {
  top: 0;
}