div.sp-product-price {
  direction: ltr;

  > * {
    font-weight: 700;
    display: inline-block;
    direction: ltr;
  }

  .new-promotion & {
    > .sale-price {
      color: #e15856;
    }
  }

  > .price, > .normalize-price {
    color: #000000;
  }

  > .regular-price {
    font-size: 0.68681em;
    color: #adadad;
    text-decoration: line-through;
  }

  > .normalize-price {
    display: block;
    font-size: 0.9em;
    font-weight: bold;
  }
}

.product-bottle-deposit-disclaimer {
  font-size: 14px;
}

.bottle-deposit-disclaimer {
  font-weight: normal;
  display: flex!important;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  z-index: 10;

  &:hover {
    .bottle-deposit-disclaimer-content {
      display: flex;
    }
  }

  &-content {
    align-items: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    justify-content: flex-end;
    width: 100%;
    right: 1em;
    z-index: 100;
    min-width: 220px;
    margin-right: 10px;
    display: none;

    .arrow {
      width: 0;
      height: 0;
      border-top: 5px solid transparent;
      border-bottom: 5px solid transparent;
      border-left: 5px solid rgba(40, 40, 40, 0.76);
      display: block;
    }
    .text {
      background-color:  rgba(40, 40, 40, 0.76);
      padding: 12px;
      white-space: break-spaces;
      border-radius: 2px;
      font-size: 14px;
      color: white;
    }
  }
}

.rtl div.sp-product-price {
  direction: ltr;

  //don't do this to sale price because it switches out the "-" for coupons
  > .price {
    direction: ltr;
  }

  > .normalize-price {
    direction: rtl;
  }


  .bottle-deposit-disclaimer {
    right: 0!important;

    &-content {
      left: -165px!important;
      flex-direction: row!important;
      min-width: 200px;
      margin: 0!important;

      .text {
        text-align: right;
      }

      .arrow {
        border-right:unset!important;
        border-left: 5px solid rgba(40, 40, 40, 0.76) !important;
      }
    }
  }
}

@media screen and (max-width: 1575px) {
  .bottle-deposit-disclaimer {
    &-content {
      min-width: 160px;
    }
  }
}
