<div class="user-edit" refresher="$root.config.language.id">
    <ul class="account-options" role="navigation" aria-label="{{'navigation' | translate}}">
        <li class="option-btn clickable" ui-sref-active="selected" ng-repeat="tab in userEditCtrl.tabs">
            <a ui-sref="{{tab.state === 'myCoupons' ? ('app.myCoupons({fromAccount: true})') : ('app.userEdit.' + tab.state + (tab.stateParams ? ('(' + tab.stateParams + ')') : ''))}}" ng-click="userEditCtrl.switchTab()">
                <svg focusable="false">
                    <use xlink:href="" ng-attr-xlink:href="{{'#sp-icons-' + tab.icon}}"></use>
                </svg>
                <span ng-bind="::tab.title | translate"></span>
            </a>
        </li>

        <li class="continue-shopping-button">
            <a ui-sref="app.home">
                <svg focusable="false">
                    <use xlink:href="#sp-icons-arrow-left"></use>
                </svg>
                <span>{{'Continue Shopping' | translate}}</span>
            </a>
        </li>
        <div class="accumulation-redemption-history-btn" ng-style="{'background': userEditCtrl.retailerAccumulation.content.btnBgColor, 'color': userEditCtrl.retailerAccumulation.content.btnTextColor}"
            ng-click="userEditCtrl.openAccumulationRedemptionDialog()" ng-if="userEditCtrl.currentState.name === 'app.userEdit.premiumLoyaltyClub' && userEditCtrl.retailerAccumulation.isActive">
            <img src="{{userEditCtrl.retailerLoyaltyClubBanner.accumulationAndRedemptionBtnIcon || 'https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/points-accumulation/accumulate_btn_icon.png'}}" alt="">
            {{userEditCtrl.retailerAccumulationContent.btnText[$root.config.language.culture] || userEditCtrl.accumulationDefaultText.btnText[$root.config.language.culture]}}
        </div>
    </ul>

    <ui-view name="tab" role="region" aria-label="{{'main display' | translate}}" class="{{userEditCtrl.$state.current.views.tab.controller}}"></ui-view>
</div>
