$formInputTitleWidth: 22%;
$formInputWidth: 67%;
$saveButtonMarginRight: 7.5%;
$grayColor: #616161;
$backgroundColor: #f3f3f3;
$optionsFontSize: 0.875em;

html.user-edit {
  &, body {
    height: 100%;
  }

  section.view {
    height: auto;
    min-height: 100%;

    background: $backgroundColor;
  }

  .contact-us-bg {
    width: 100%;
  }

  .account-options {
    position: fixed;
    padding-top: 1em;
    width: $menuCategoriesTitleWidth / $optionsFontSize * 1em;
    font-size: $optionsFontSize;
    overflow: hidden;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    color: #616161;

    ul {
      width: 90%;
    }

    .option-btn {
      width: 100%;
      height: 3.875em;
      line-height: 3.875em;
      padding: 0 1em 0 1.8em;
      box-sizing: border-box;
      white-space: nowrap;
      overflow: hidden;

       svg {
        display: inline-block;
        width: 10%;
        max-height: 100%;
        vertical-align: middle;
        fill: #a4a4a4;
      }

       span {
        display: inline-block;
        width: 88%;
        vertical-align: middle;
        box-sizing: border-box;
        padding: 0 0.5em;
      }

      &.selected {
        border-radius: 0 30px 30px 0;
        background-color: #e8e8e8;
        color: #414141;
        font-weight: 700;
        padding-left: 1em;

         svg {
          fill: #414141;
        }
      }
    }

    .continue-shopping-button {
      width: fit-content;
      margin: 1em auto;
      text-align: center;
      border-radius: 48px;
      box-sizing: border-box;

      a {
        display: block;
        height: 100%;
        width: 100%;
        padding: 1.2em 3em;
        box-sizing: border-box;

        > * {
          display: inline-block;
          vertical-align: middle;
        }

        svg {
          height: 1em;
          width: 1em;
          fill: #616161;
        }
      }
    }

    .accumulation-redemption-history-btn{
      color: #fff;
      font-weight: bold;
      box-shadow: -1.478883981704712px 1.478883981704712px 5.915535926818848px 0px rgba(0, 0, 0, 0.29);
      padding: 10px;
      display: flex;
      align-items: center;
      margin: 20px;
      gap: 4px;
      border-radius: 50px;
      text-align: center;
      cursor: pointer;
      &>img{
        width: 40px;
      }
    }
  }

  ui-view {
    display: inline-block;
    width: 100%;
    color: #606060;
    box-sizing: border-box;
    padding: 0 ($menuCategoriesTitleWidth + 1em) 3em ($menuCategoriesTitleWidth + 1em);

    &.PremiumLoyaltyClubCtrl {
      padding: 0 0 3em $menuCategoriesTitleWidth ;
    }
    &.ContactUsCtrl {
      padding: 0 0 3em $menuCategoriesTitleWidth ;
    }    
  }

  .detail-title {
    padding: 0.5em 0;
    color: $grayColor;
  }

  .coupon-points-info {
    height: 100px;
    position: absolute;
    top: 0;
    right: $menuCategoriesTitleWidth + 1em;
    display: flex;
    grid-column-gap: 0.5em;
    align-items: center;

    > * {
      font-size: 20px;
    }

    > .coupon-points {
      display: flex;
      align-items: center;
      padding: 0.125em 1em;
      border-radius: 1em;
      background: #ffffff;

      > svg,
      > img {
        width: 1.25em;
        height: 1.25em;
      }
    }
  }

  .detail-container {
    width: 100%;
    background-color: #ffffff;
    margin-bottom: 1em;

    .detail-subtitle, .detail-content {
      display: inline-block;
      box-sizing: border-box;
    }

    .detail-subtitle {
      width: 17%;
      padding: 0.5em 0.7em;
      font-size: 2.5em;
      color: $grayColor;
      vertical-align: top;
    }

    .detail-content {
      width: 83%;
      padding: 2em 2em 0 2em;

      .sub-sub-title {
        font-weight: bold;
        padding-bottom: 0.4em;
      }

      > .sp-kikar-input {
        width: 80.5%;
      }

      .checkbox-input {
        margin-bottom: 1em;

        label.checkbox > span.label {
          color: #939393;
          font-weight: bold;
        }
      }

      &.account-info {
        .input-group {
          width: 43.5%;
          box-sizing: border-box;
          padding: 0.5em 7% 0.5em 0;

           .sp-gender-kikar-input {
            display: flex;
            gap: 20px;
           }

           .sp-kikar-input {
             margin-bottom: 2em;
             width: 100%;

             &.sp-radio {
               padding-top: 1.5em;
               margin-bottom: 0;

               .gender-buttons {
                display: flex;
                flex-direction: column;
               }

               * {
                 font-size: 1em;
                 vertical-align: baseline;
               }

               .input-desc {
                 font-weight: 700;
               }
             }
           }

          .split {
            margin-bottom: 2em;

            &.splite50 > .sp-kikar-input{
              width: 50%;
            }

            .sp-kikar-input {
              width: 33%;
              box-sizing: border-box;
              margin-bottom: 0;
            }

            :first-child {
              padding-right: 0.5em;
            }

            :last-child {
              padding-left: 0.5em;
            }
          }

          .input-wrapper.phone-wrapper {
            padding: 0;

            .sp-kikar-input {
              width: 100%;
            }
          }
        }
      }

      &.credit-card-details {
        .card-option {
          .sp-radio-option {
            * {
              vertical-align: middle;
            }

            .card-no {
              padding-right: 0.5em;
            }

            .remove-btn {
              display: none;

              svg {
                width: 1em;
                height: 1em;
                fill: #7a7a7a;
              }

              span, svg {
                vertical-align: middle;
              }
            }

            &.checked {
              .remove-btn {
                display: inline-block;
              }
            }
          }

          button {
            border-left: 1px solid;
            padding: 0 0.5em;
            font-weight: 700;
            font-size: 0.85em;
          }
        }

        > * {
          padding-bottom: 1em;
          margin-bottom: 1em;
          border-bottom: 1px solid #d4d4d4;

          &:last-child {
            padding-bottom: 0;
            margin-bottom: 0;
            border-bottom-width: 0;
          }
        }
      }

      .add-card-btn-wrapper {
        .add-btn {
          > * {
            vertical-align: middle;
          }

          svg {
            width: 2em;
            height: 2em;
            fill: #616161;
          }

          span {
            padding: 0 0.5em;
          }
        }
      }
    }

    &.address-form-field-wrapper {
      .detail-body{
        display: flex;
      }
  
      .input-flex-wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1.5rem;
        align-items: baseline;
        padding: 2rem;
        justify-content: space-between;
      }

      .inline-error-wrapper {
        position: unset;
      }
  
      .input-flex-item {
        width: 47%;
      }

      .error-message-wrapper {
        padding: 2rem 2rem 0;
      }

      .form-control-error {
        border-bottom: 1px solid red !important;
      }

      .detail-footer {
        padding: 1rem;
      }

      .submit-button-wrapper {
        .submit-button {
          background-color: #414141;
          border-radius: 30em;
          font-weight: 700;
          padding: 0.5em 1em;
          color: #ffffff;
        }
      }

      > :last-child {
        padding-bottom: 1rem;
      }

      .promotions-checkbox {
        padding-bottom: 0.5rem;
      }

      .btn-edit-address {
        top: 40%;
      }
      
      .valid-input-icon {
        color: green;
        font-size: 1.8em;
        position: absolute;
        left: 90%;
        bottom: 10%;
      }

      .cancel-drop-pin-button-wrapper {
        display: flex;
        align-items: center;
        gap: 2em;
  
        .cancel-droppin-button {
          border: 1px solid;
          padding: 2px;
          border-radius: 5px;
          font-size: 1em;
        }
  
        .cancel-droppin-msg{
          font-size: 1.2em;
        }
      }

      .unrecognized-address-error label {
        top: 0;
      }

      .sp-gender-kikar-input {
        display: flex;
        gap: 1rem;
        align-items: center;

        .gender-label {
          font-weight: 700;
        }
        
        .gender-buttons {
          display: flex;
          gap: 1rem;
        }
      }

      .input-disable {
        pointer-events: none;
        opacity: 0.5;
      }

      .auto-complete {
        z-index: 91;
        max-height: 8em;
        overflow: auto;

        >.option,
        .btn-map {
          padding: 0.3em 0.4em;
          font-size: 0.9em;
        }
      }

      .btn-edit-address__tooltip {
        width: fit-content;
      }

      .input-with-edit-icon {
        padding-right: 2rem;
      }

      .w-full{
        width: 100%;
      }
  
      $widths: 30, 35, 70;
      @each $width in $widths {
        .w-#{$width} {
          width: $width * 1%;
        }
      }

      $margin-tops: 2, 4, 6, 8;
      @each $mt in $margin-tops {
        .mt-#{$mt} {
          margin-top: $mt * 0.25rem;
        }
      }
    }

    .detail-footer {
      padding-top: 1.875em;
      text-align: center;
      font-weight: 700;
      position: relative;

      label.checkbox>span {
        &.label {
          color: #414141;
        }

        &.box {
          border:1px solid #414141;

          svg {
            fill: #414141;
          }
        }
      }

      .save-button {
        position: absolute;
        bottom: -1em;
        width: 100%;

        button {
          background-color: #414141;
          border-radius: 30em;
          font-weight: 700;
          padding: 0.5em 1em;
          color: #ffffff;
        }
      }

      .promotions-checkbox {
        .checkbox {
          display: block;
          width: fit-content;
          margin: auto;
          padding-right: 20px;

          .box {
            margin: 5px
          }

          .label {
            padding: 5px;
            white-space: nowrap;
          }
        }
      }
    }

    > :last-child {
      padding-bottom: 2em;
    }
  }

  .detail-subtitle {
    font-size: 0.875em;
    font-weight: 400;
    padding-bottom: 1em;
  }

  .sp-radio-buttons > label.sp-radio-option {
    display: block;

    &:before {
      margin: 0 0.5em;
    }

    .label {
      display: inline-block;
      vertical-align: middle;
    }
  }

  .link-back {
    color: blue;
  }

  button:disabled {
    opacity: 0.2;
  }

  .auto-complete-scroll {
    max-height: 280px;
    overflow-y: scroll;
  }


  .premium-loyalty-club .components .loyalty-specials .sp-carousel .special-item  {
    a.special, .special-product {
      > .actions {
        > div.sp-quantity {
          width: auto !important;
        }

        > button.add-to-cart {
          width: 6em !important;
        }
      }
    }
  }
}

.rtl {
  .user-edit .single-ticket.open-ticket > .extra .user-comment > .attachment .title {
    margin-right: -1.2em;
  }

  .user-edit {
    .account-options .continue-shopping-button a svg {
      transform: scaleX(-1);
    }

    ui-view {
      &.PremiumLoyaltyClubCtrl {
        padding: 0 $menuCategoriesTitleWidth 3em 0;
      }
      &.ContactUsCtrl {
        padding: 0 $menuCategoriesTitleWidth 3em 0;
      }
    }

    .account-options {
      .option-btn {
        padding: 0 1.5em 0 1em;

        &.selected {
          border-radius: 30px 0 0 30px;
          padding-right: 1em;
          border-left-width: 0;
        }
      }
    }

    .coupon-points-info {
      left: $menuCategoriesTitleWidth + 1em;
      right: auto;
    }

    .detail-container .detail-content {
      &.account-info {
        .input-group {
          padding: 0.5em 0 0.5em 6%;

          .split {
            :first-child {
              padding-right: 0;
              padding-left: 0.5em;
            }
            :last-child {
              padding-left: 0;
              padding-right: 0.5em;
            }
          }
        }
      }
      &.credit-card-details .card-option .sp-radio-option {
        &.checked .remove-btn {
          border-left-width: 0;
          border-right: 1px solid;
        }

        .card-no {
          padding-right: 0;
          padding-left: 0.5em;
        }
      }
    }

    .detail-container.address-form-field-wrapper {
      .input-with-edit-icon {
        padding-right: unset;
        padding-left: 2rem;
      }
    }
  }
}

@media screen and (max-width: 1575px) {
  html {
    &.user-edit {
      .account-options {
        width: $responsive1575MenuCategoriesTitleWidth / $optionsFontSize * 1em;
      }

      ui-view {
        padding-right: 10em;
        padding-left: $responsive1575MenuCategoriesTitleWidth + 1em;

        &.PremiumLoyaltyClubCtrl {
          padding-left: $responsive1575MenuCategoriesTitleWidth;
        }
        &.ContactUsCtrl {
          padding-left: $responsive1575MenuCategoriesTitleWidth;
        }
      }
    }

    &.rtl {
      &.user-edit {
        ui-view {
          padding-left: 10em;
          padding-right: $responsive1575MenuCategoriesTitleWidth + 1em;

          &.PremiumLoyaltyClubCtrl {
            padding-right: $responsive1575MenuCategoriesTitleWidth;
            padding-left: 0;
          }
          &.ContactUsCtrl {
            padding-right: $responsive1575MenuCategoriesTitleWidth;
            padding-left: 0;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1180px) {
  html {
    &.user-edit {
      .account-options {
        width: $responsive1180MenuCategoriesTitleWidth / $optionsFontSize * 1em;
      }

      ui-view {
        padding-right: 8em;
        padding-left: $responsive1180MenuCategoriesTitleWidth + 1em;

        &.PremiumLoyaltyClubCtrl {
          padding-right: 0;
          padding-left: $responsive1180MenuCategoriesTitleWidth;
        }
        &.ContactUsCtrl {
          padding-right: 0;
          padding-left: $responsive1180MenuCategoriesTitleWidth;
        }
      }
    }

    &.rtl {
      &.user-edit {
        ui-view {
          padding-left: 8em;
          padding-right: $responsive1180MenuCategoriesTitleWidth + 1em;

          &.PremiumLoyaltyClubCtrl {
            padding-right: $responsive1180MenuCategoriesTitleWidth;
            padding-left: 0;
          }
          &.ContactUsCtrl {
            padding-right: $responsive1180MenuCategoriesTitleWidth;
            padding-left: 0;
          }
        }
      }
    }
  }
}

.smaller-font-size {
  font-size: 2.2em !important;
}
