html.user-edit {
  .account-options {
    .continue-shopping-button {
      background-color: $secondaryColor;
    }
  }
  .selected {
    border-left: 0.8em solid $secondaryColor;
  }

  .detail-footer {
    background-color: $secondaryColor;
  }

  .accumulation-redemption-history-btn{
    background: $mainColor;
  }

  .address-form-field-wrapper {
    .cancel-drop-pin-button-wrapper {
      color: $mainColor;
    }
  }
}

.rtl {
  .user-edit {
    .account-options .option-btn {
        &.selected {
          border-right: 0.5em solid $secondaryColor;
        }
    }
  }
}