<div class="single-order-container" refresher="$root.config.language.id">
    <div class="title-wrapper">
        <div class="title">
<!--            <h1 id="page_title">{{'Order number' | translate}}: {{order.id}}</h1>-->
        </div>
        <div class="actions">
            <button class="no-design" ng-click="singleOrderItemCtrl.createNewCart(); ">
                <span class="icon-wrapper">
                    <svg focusable="false">
                        <use xlink:href="#sp-icons-plus"></use>
                    </svg>
                </span>
                <span class="desc" ng-bind="::('create new cart' | translate).replace('{cart}', $root.config.retailer.settings.setCartNameToBasket ? $root.config.retailer.settings.setCartNameToBasket : 'cart')"></span>
            </button>
            <button class="no-design" ng-click="singleOrderItemCtrl.addToCart(); ">
                <span class="icon-wrapper">
                    <svg focusable="false">
                        <use xlink:href="#sp-icons-add-to-cart"></use>
                    </svg>
                </span>
                <span class="desc" ng-bind="::('add to cart' | translate).replace('{cart}', $root.config.retailer.settings.setCartNameToBasket ? $root.config.retailer.settings.setCartNameToBasket : 'cart')"></span>
            </button>
        </div>
    </div>

    <sp-table class="{{'single-order-table' + ($root.config.retailer.settings.isNewPromotionDesignEnabled === 'true' ? ' new-promotion' : '')}}"
              items="order.lines"
              actions="singleOrderItemCtrl.actions"
              on-select="singleOrderItemCtrl.checkedItemsLength = selectedCount;"
              selected-change-event="singleOrder.lines.checkedChanged">
        <sp-table-column style-class="action-checkbox" template="actionsCheckboxes"></sp-table-column>
        <sp-table-column title="" sort-by="" style-class="unit-weight">
            <sp-unit-weight  product="item.product" cart-line="item" ng-if="item.product.productDisplayModeId === $root.PRODUCT_DISPLAY.WEIGHT_AND_UNIT.id && $root.config.retailer.enableSwitchUnitWeight && $root.util.isUnitsWeighable(item.product)" ng-click="$event.stopPropagation();" product-id="item.product.id" on-unit="onUnitClick(item)" on-weight="onWeightClick(item)"></sp-unit-weight>
        </sp-table-column>
        <sp-table-column title="{{'Quantity' | translate}}" sort-by="quantity" style-class="quantity">
            <div ng-if="!!item.product" ng-class="{'disabled': item.isProductOutOfStock}">
                <div>
                    <div class="quantity-text" ng-class="{'in-stock': !item.isProductOutOfStock}">
                        {{soldBy === $root.PRODUCT_DISPLAY.WEIGHT.name || $root.util.isWeightQuantity(item.product) ? (item.product | productWeight:item.isCase:null:item.quantity:soldBy) : item.quantity}}
                    </div>
                    <div class="quantity-actions" ng-if="!item.isProductOutOfStock">
                        <sp-quantity cart-line="item" on-plus="setQuantity(item, 1)" on-minus="setQuantity(item, -1)"
                                    on-change="true" design="landscape"></sp-quantity>
                    </div>
                </div>
            </div>
        </sp-table-column>
        <sp-table-column title="" style-class="image">
            <div class="image-wrapper general-image-wrapper">
                <img ng-src="{{item.product | productImage:'small'}}" alt="{{item.product ? (item.product | productName:item.isCase) : item.name}}" ng-class="{'disabled': item.isProductOutOfStock}"/>
                <span ng-if="!item.product._suggestions && (item.isProductOutOfStock || item.isNeedToShowOutOfStockLabel)" class="out-of-stock">{{'Out of stock' | translate}}</span>
                <span class="out-of-stock suggestions text-1" ng-if="item.product._suggestions && (item.isProductOutOfStock || item.isNeedToShowOutOfStockLabel)" ng-click="openSuggestions(item)">{{'Out of Stock' | translate}}</span>
                <span class="out-of-stock suggestions text-2" ng-if="item.product._suggestions && (item.isProductOutOfStock || item.isNeedToShowOutOfStockLabel)" ng-click="openSuggestions(item)">
                <span><svg role="presentation" class="replace-arrow" focusable="false"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{'#sp-icons-replace-arrow-' + $root.config.language.direction}}"></use></svg></span>
                <span>{{'replace_2' | translate}}</span>
                </span>
                <span class="suggestions" ng-if="item.product._suggestions && (item.isProductOutOfStock || item.isNeedToShowOutOfStockLabel)">
                    <svg class="outline-large" focusable="false"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#sp-icons-out-of-stock-outline"></use></svg>
                    <svg class="outline-small" focusable="false"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#sp-icons-out-of-stock-outline-small"></use></svg>
                </span>
            </div>
        </sp-table-column>
        <sp-table-column title="{{'Name' | translate}}" style-class="product-details">
            <span ng-class="{'disabled': item.isProductOutOfStock}">
                <span ng-if="!!item.product" class="name">
                    <div title="{{(item.product.brand.names | name) + (item.product.brand.names && item.product.weight ? ' | ' : '') + (item.product.weight ? (item.product | productWeight:item.product.isCaseMode) : '')}}" class="brand">{{(item.product.brand.names | name) + (item.product.brand.names && item.product.weight ? ' | ' : '') + (item.product.weight ? (item.product | productWeight:item.product.isCaseMode) : '')}}</div>
                    <div title="{{(item.product ? (item.product | productName:item.isCase) : item.name)}}" class="product-name">{{(item.product ? (item.product | productName:item.isCase) : item.name)}}</div>
                    <div class="specials" ng-if="item.product.branch && item.product.branch.specials && $root.config.retailer.settings.isNewPromotionDesignEnabled !== 'true'">
                        <div title="{{('Special' | translate) + ': ' + special.description}}" class="special-desc" ng-repeat="special in item.product.branch.specials">{{('Special' | translate) + ': ' + special.description}}</div>
                    </div>
                </span>
                <span ng-if="!item.product" class="name">{{'Not active' | translate}}</span>
            </span>
            <span ng-if="!item.product" class="name">{{item.name + ' ' + '(Not active)' | translate}}</span>
        </sp-table-column>
        <sp-table-column style-class="{{$root.config.retailer.settings.isNewPromotionDesignEnabled === 'true' ? 'new-promotion' : 'new-promotion-hide'}}">
            <div ng-class="{'disabled': item.isProductOutOfStock}">
                <sp-promotion product="item.product" is-list="true" ng-if="item.product && item.product.branch.specials.length"></sp-promotion>
            </div>
        </sp-table-column>
        <sp-table-column title="{{'Unit price' | translate}}" sort-by="product | regularPrice">
            <span ng-if="!!item.product" ng-class="{'disabled': item.isProductOutOfStock}">
                {{item.product | regularPrice:item.isCase | currency}}
            </span>
        </sp-table-column>
        <sp-table-column title="{{'Price' | translate}}" sort-by="(product | regularPrice) * quantity" style-class="price">
            <span ng-if="!!item.product" ng-class="{'disabled': item.isProductOutOfStock}">
                {{(item.product | regularPrice:item.isCase) * (item.isWeightable ? item.actualQuantity : item.quantity) | currency}}
            </span>
        </sp-table-column>
        <sp-table-column title="{{'Product properties' | translate}}" style-class="smart-list-quantity {{item.isProductOutOfStock ? 'disabled' : ''}}">
            <product-properties item="item" ng-if="item.product.productProperties && item.product.productProperties.length"></product-properties>
        </sp-table-column>
        <sp-table-column title="{{'Comments' | translate}}">
            <span ng-if="!!item.product" ng-class="{'disabled': item.isProductOutOfStock}">
                {{item.comments}}
            </span>
        </sp-table-column>
    </sp-table>
</div>
