$labelWidth: 20%;
$contentWidth: 95%;
$sliderHeight: 8em;
$sliderWidth: 7.7em;
$dateFontSize: 1.5em;
$dateNameFontSize: 1.5em;
$selectdTimeFontSize: 1em;
$dropDownDateFontSize: 1.5em;

.timeslot {
  // .line {
  //   margin-top: 1em;
  // }

  .delivery-time {
    width: $contentWidth;
    margin: auto;
    margin-bottom: 2em;

    .grid-container {
      display: grid;
      grid-template-columns: fit-content(20%);
      row-gap: 0.5em;
      column-gap: 2em;
      padding-bottom: 0.5em;
      
      .address-title {
        grid-column: 1;
        grid-row: 1;
        font-weight: bold;
      }
      .address-content{
        grid-column: 2;
        grid-row: 1;
      }

      .delivery-time-title {
        grid-column: 1;
        grid-row: 2;
        font-weight: bold;
      }
      .delivery-time-content{
        grid-column: 2;
        grid-row: 2;
      }
    }

    .title {
      font-weight: bold;
    }

    .times {
      direction: ltr;
      display: inline-block;
    }

    .line {
      margin-bottom: 1em;
      border-style: inset;
      border-width: 1px;
      border-color: #f0eeeeaa;
    }

    .empty-space {
      padding-bottom: 1.5em;
      min-width: 2em;
    }
  }

  .content {
    width: $contentWidth;
    margin: auto;

    >.sp-kikar-input {
      margin-bottom: 3em;
      z-index: 0;

      &.auto-complete-options-shown {
        z-index: 10;
      }

      &.full {
        display: block;
      }

      &.shipping-carrier>div.input-description {
        margin-top: 0.25em;
        font-size: 1.1em;
        color: #000000;
      }
    }

    .sp-slider-picker-wrapper.horizontal {
      .sp-slider-picker {
        .slide-btn-wrapper.slide-up>button{
          width: 2.2em;
        }

        >.dropdown-options {
          height: 11em;
        }
      }

      &.with-asap {
        .sp-slider-picker>.dropdown-options {
          height: 10em;
        }
      }
    }

    .sp-slider-picker-wrapper {
      .sp-slider-picker {

        .slide-btn-wrapper {
          height: $sliderHeight;

        }

        .slider-items-wrapper {
          .slider-items {
            height: $sliderHeight;

            >.slider-item {
              &.selected>.slider-item-content>ng-include {

                >.date,
                >.date.today,
                >.date-name {
                  color: #414141;
                }

                .selected-time {
                  display: block;
                }

                .time {
                  line-height: 1.4;
                }
              }

              &.disabled>.slider-item-content {
                box-shadow: none;
                border: none;
                background: repeating-linear-gradient(-45deg, #EDEDED -2px, #EDEDED 0px, #fff 1px, #fff 6px);
              }

              >.slider-item-content {
                box-shadow: 0.9px 0.5px 7px 0 rgba(0, 0, 0, 0.24);
                border-radius: 0;
                width: $sliderWidth;

                >ng-include {
                  text-align: center;

                  >* {
                    white-space: normal;
                  }

                  >.date {
                    color: #616161;
                    font-size: $dateFontSize;
                    padding-bottom: 0.3em;
                    font-weight: normal;

                    &.today {
                      font-weight: normal;
                    }
                  }

                  >.date-name {
                    color: #616161;
                    padding-top: 0.3em;
                    font-size: $dateNameFontSize;
                    text-transform: uppercase;
                  }

                  .selected-time {
                    direction: ltr;
                    display: none;
                    color: #414141;
                    font-size: $selectdTimeFontSize;

                    >div {
                      line-height: 100%;
                    }
                  }

                  .shipping-day {
                    font-size: 0.8em;
                  }
                }
              }
            }
          }
        }
      }
    }

    .sp-radio-option {
      display: block;
    }

    .dropdown-options-wrapper>.dropdown-options ng-include {
      display: flex !important;
      color: #414141;

      .title {
        color: #414141;
        width: auto;
        padding: 3em;
        height: 100%;
        box-sizing: border-box;
        white-space: nowrap;
        position: relative;

        .day {
          font-size: $dropDownDateFontSize;
        }

        &:after {
          content: '';
          display: block;
          position: absolute;
          right: 0;
          top: 0;
          bottom: 0;
          margin: 1em 0;
          width: 1px;
          background-color: #dbdbdb;
        }
      }

      .dropdown-items-wrapper {
        width: 70%;
        padding: 1.125em 1.875em;
        overflow: auto;

        .dropdown-items>.dropdown-item {
          border: 0;
          border-radius: 2em;
          font-size: 1.4em;
          width: 16.5em;
          box-sizing: border-box;
          padding: 0.2857em 1.285em;
          cursor: pointer;
          margin-bottom: 0.3em;
          position: relative;
          display: block;

          >.input-wrapper {
            display: inline-block !important;
            width: 0 !important;
            height: 0 !important;
            padding: 0 !important;
            margin: 0 !important;
            overflow: hidden !important;
            position: absolute;
          }

          >.dropdown-item-content {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: start;

            >.time,
            >.price {
              box-sizing: border-box;
            }

            >.time {
              flex: 1 1 auto;
            }

            >.price {
              flex: 0 0 auto;
            }

            .specials-wrapper {
              flex: 0 0 auto;

              .sp-sale-icon {
                position: relative;
                width: 1.5em;
                height: 1.5em;

                svg {
                  width: 100%;
                  height: 100%;
                }
              }

              .specials-tooltip {
                $width: 11em;
                $arrowWrapperWidth: 0.5em;
                position: absolute;
                display: none;
                width: $width;
                top: 0;
                z-index: 3;
                left: 100%;

                >.specials-arrow {
                  $arrowSize: 0.9375em;
                  display: inline-block;
                  vertical-align: top;
                  width: $arrowWrapperWidth;
                  height: $arrowSize;
                  position: relative;
                  overflow: hidden;
                  margin-top: 0.65em;

                  &:after {
                    content: '';
                    position: absolute;
                    display: inline-block;
                    width: $arrowSize;
                    transform: rotate(45deg);
                    margin-left: $arrowWrapperWidth * 0.75;
                    height: 100%;
                    background-color: #ffffff;
                    box-shadow: 0.1px 1px 7px 0 rgba(0, 0, 0, 0.22);
                  }
                }

                >.specials-content {
                  display: inline-block;
                  vertical-align: top;
                  $fontSize: 0.75em;
                  font-size: $fontSize;
                  width: ($width - $arrowWrapperWidth) / $fontSize * 1em;
                  box-shadow: 0.1px 1px 7px 0 rgba(0, 0, 0, 0.22);
                  background-color: #ffffff;
                  padding: 1em 0.5em;
                  @include box-sizing(border-box);

                  >.special-content {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: start;
                    padding-bottom: 0.4em;

                    .sp-sale-icon {
                      flex: 0 0 auto;
                      margin-right: 0.2em;
                    }

                    .description {
                      flex: 1 1 auto;
                      font-weight: 400;
                      display: block;
                    }

                    &:last-child {
                      padding-bottom: 0;
                    }
                  }
                }
              }
            }
          }

          >.two-hour-law {
            display: inline-block;
            font-size: 0.8em;
            margin-top: 0.3em;
          }

          &.selected {
            font-weight: 700;
          }

          // &.selected,
          // &.selected:hover {
          //   //TO DO: apply color from theme
          //   background-color: blue;
          //   background-color: $secondaryColor;
          // }

          &:hover {
            background-color: #ededed;

            >.dropdown-item-content .specials-wrapper .specials-tooltip {
              display: block;
            }
          }

          &.us-format {
            width: 20em;

            >.time {
              width: 62%;
            }

            >.price {
              width: 38%;
            }
          }

          &.with-specials {
            width: 18em;

            .dropdown-item-content>.time {
              margin-left: 0.2em;
            }
          }
        }
      }
    }

  }

  &.text {
    margin: 1em auto;
    max-width: 23em;
  }


  .buttons {
    padding-top: 1em;
    text-align: center;

    >button {
      font-weight: 700;
      min-width: 20em;
      min-height: 3em;
      margin: 0 .7em;
      border-radius: 1.3125em;
      font-size: large;
    }
  }

  &:last-child {
    padding-bottom: 0;
  }

  >.slider {
    text-align: center;
  }

}