.timeslot .content .dropdown-options-wrapper>.dropdown-options ng-include .dropdown-items-wrapper .dropdown-items>.dropdown-item.selected {
  background-color: $secondaryColor;
}

.timeslot .content .dropdown-options-wrapper>.dropdown-options ng-include .dropdown-items-wrapper .dropdown-items>.dropdown-item.selected:hover {
  background-color: $secondaryColor;
}

.timeslot>.content .dropdown-options-wrapper>.dropdown-options ng-include {
  >.dropdown-options {
    border: 2px solid $mainColor;
  
    .dropdown-arrow-wrapper .arrow {
      border: 2px solid $mainColor;
    }
  
    .title {
      color: $mainColor;
    }
  }
}

.timeslot .content .sp-slider-picker-wrapper {
  .sp-slider-picker .slider-items > .slider-item {
    &.dropdown-shown > .slider-item-content {
      border-color: $secondaryColor;
    }

    &.selected > .slider-item-content {
      background-color: $secondaryColor;
      border-color: $secondaryColor;
    }

    .slider-item-content:hover {
      border-color: $secondaryColor;
    }
  }
}
