html.category-products {
    .category-products-wrapper {
    //     .item-wrapper {
            .product-item {
                sp-product {
                    .general-image-wrapper {
                        .out-of-stock.suggestions {
                            &.text-1 {
                                color: #F86B2F;
                                top: 83%;
                            }
                            &.text-2 {
                                color: #505050;
                                top: 91%;
                            }
                        }
                        .suggestions.outline {
                            top: 70%;
                        }
                            
                    }
                }
            }
    //     }
    }
}