.forgot-something-v2 {
  background-color: $mainColor;

  .title-wrapper {
    color: $mainColorSecondary
  }

  .btn-wrapper {
    .update-button {
      border-radius: 3em;
    }
  }
}

.forgot-something {
  background-color: $mainColor;

  .btn-wrapper {
    .update-button {
      border-radius: 3em;
    }
  }
}