.dialog-wrapper .dialog.permanent-view-filters-dialog .dialog-body {
  padding-top: 0;
  width: 59.875em;

  > section {
    header {
      text-align: center;

      h4 {
        font-size: 1.875em;
        padding-bottom: 0.2em;
      }

      .sub-title {
        font-size: 1.125em;
      }
    }

    .content, .inner-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .content {
      min-height: 26.5em;

      .sp-carousel {
        padding: 1.75em 0;
      }

      .store-icon {
        width: 6.875em;
        height: 5.75em;
      }

      &.saving div {
        padding-top: 1em;
      }

      .product-tags-preview {
        display: block;
        margin: 0 auto;
        width: 40em;
        text-align: center;

        .product-tag-preview {
          display: inline-flex;
          vertical-align: middle;
          height: 1.75em;
          padding: 0.2em 0.7em;
          flex-direction: row;
          align-items: center;
          justify-content: start;
          white-space: nowrap;

          img {
            max-width: 1.75em;
            max-height: 100%;
          }
        }
      }

      .inner-content {
        padding-top: 2em;
        flex: 1 1 auto;
      }

      .legal-text {
        font-size: 0.6875em;
        color: #a5a5a6;
        text-align: center;
        margin: 0 5.1637em 1em 5.1637em;
      }
    }

    footer {
      margin: 0 3.55em;
      padding-top: 1.1em;
      border-top: 1px solid #d2d2d3;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: stretch;

      > button {
        border: 1px solid #A5A5A6;
        border-radius: 3em;
        padding: 0.64em 1em;
        min-width: 14.375em;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        > svg {
          fill: #000;
          height: 1.1em;
          width: 1.1em;
          display: inline-block;
          vertical-align: middle;
        }

        &.main {
          color: #fff;

          > svg {
            fill: #fff;
          }
        }

        &:disabled {
          opacity: 0.7;
        }
      }
    }
  }
}