html.product-tag-products {
  .category-products-wrapper {
    .content-top {
      height: 100%;
    }

     .banner-padding {
      padding-right: 2em;
      padding-left: 2em;
      padding-top: 5em;
    }

    .tag-message {
      padding: 1em 4em;
    }
  }

  .banner-link {
    display: block;
    width: 100%;
    height: fit-content;
    
    img {
      width: 100%;
      height: 100%;
      display: block;
      object-fit: contain;
    }
  }
}

.specials-container {
  .items-wrapper {
    padding-top: 0!important;
  }
}