.google-map-dialog {
    width: 760px;
    &__title {
        padding: 0;
        font-size: 48px;
        color:#124781 !important;
    }
    &__hint {
        font-size: 20px;
        color: #124781;
        display: inline-block;
        margin: 12px 0;
    }
    &__address {
        font-size: 18px;
        color: #787878;
        width: 95%;
    }
    &__btn-save {
        margin-top: 16px;
        min-width: 80px;
        border-radius: 2px;
        color: #fff;
        text-align: center;
        background-color: #124781 !important;
        &:disabled {
            opacity: 0.7;
            cursor: not-allowed;
        }
    }
    &__search {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 8px;
        margin: 12px 0;
        border-bottom: 1px solid #ccc;
        input {
            outline: none !important;
            border: none;
            padding: 8px;
            display: block;
        }
    }
    &__map {
        margin-top: 20px;
        #map {
            width: 100%;
            height: 500px;
        }
        &__error {
            display: flex;
            align-items: center;
            justify-content: center;

            width: 100%;
            height: 500px;
            color: #ED1C24;
            background-color: #E5E3DF;
        }
    }
}