<form class="filter-areas" ng-submit="chooseAreaCtrl.filterAreas.submit(true);"
      ng-if="chooseAreaCtrl.visibleState === chooseAreaCtrl.filterAreas">
    <h1 id="choose_area_dialog_title" class="title">
        {{chooseAreaCtrl.isChangeArea ? (('Change ' + ($root.config.isZipCodeArea ? 'zip code' : 'area') | translate)) :(chooseAreaCtrl.chooseAreaText && !!chooseAreaCtrl.chooseAreaText.title.length ? chooseAreaCtrl.chooseAreaText.title : 'Welcome' | translate)}}
    </h1>

    <h2 class="sub-title secondary-font">{{chooseAreaCtrl.chooseAreaText && !!chooseAreaCtrl.chooseAreaText.explanation.length ? chooseAreaCtrl.chooseAreaText.explanation : 'Let\'s make sure we\'re available in your area' | translate}}.</h2>

    <div class="check-address-icon">
        <svg focusable="false" class="icon">
            <use xlink:href="#sp-icons-check-delivery-address"></use>
        </svg>
        <svg focusable="false" class="background-icon">
            <use xlink:href="#sp-icons-check-delivery-address-background"></use>
        </svg>
    </div>

    <div class="sp-kikar-input">
        <label for="filter-areas-input"
               ng-bind="chooseAreaCtrl.chooseAreaText && !!chooseAreaCtrl.chooseAreaText.placeholder.length ? chooseAreaCtrl.chooseAreaText.placeholder : (
                    chooseAreaCtrl.chooseAreaMode === $root.SP_SERVICES.CHOOSE_AREA_MODE.TYPE_GOOGLE_ADDRESS ?
                    'Please enter a delivery address' :
                    'Please enter a ' + ($root.config.isZipCodeArea ? 'zip code' : 'city')
                ) | translate"></label>
        <input id="filter-areas-input" type="text" ng-model="chooseAreaCtrl.area" autocomplete="off"
               name="{{$root.config.isZipCodeArea ? 'zipCode' : 'area'}}" required
               ng-change="chooseAreaCtrl.chooseArea.resetErrors();"/>
        <!-- TODO: check if choose can submit the form instead of copy the "ng-submit" -->
        <sp-autocomplete sp-model="chooseAreaCtrl.area"
                         sp-get-options="chooseAreaCtrl.filterAreas.autoComplete()"
                         threshold="300"
                         sp-choose="chooseAreaCtrl.filterAreas.submit(true);"
                         hide-if-empty="!chooseAreaCtrl.addressChoices.length">
        </sp-autocomplete>
    </div>

    <div class="enter-full-address-error error" ng-if="chooseAreaCtrl.filterAreas.enterFullAddressError">
        {{'Please add street and house number' | translate}}
    </div>

    <div class="invalid-address-error error" ng-if="chooseAreaCtrl.filterAreas.invalidAddressError">
        {{'Please enter a valid address' | translate}}
    </div>

    <button type="submit" ng-bind=":: 'Check' | translate" class="no-design"></button>

    <div class="pickup" ng-if="chooseAreaCtrl.pickupAreas.length">
        <svg focusable="false" class="pickup-icon">
            <use xlink:href="#sp-icons-retailer-details"></use>
        </svg>
        <span>
            <a ng-click="chooseAreaCtrl.filterAreas.pickup();"
               ng-bind=":: 'Or select a store for pickup' | translate"></a>
            <span ng-bind=":: 'Choose a convenient time & pickup your order at one of our stores' | translate"></span>
        </span>
    </div>
</form>

<form class="choose-area" ng-class="{'store-list': chooseAreaCtrl.chooseArea.foundAreas.length > 5}" ng-if="chooseAreaCtrl.visibleState === chooseAreaCtrl.chooseArea">
    <a ng-click="chooseAreaCtrl.goToFilterAreas()"
       ng-if="chooseAreaCtrl.chooseAreaMode !== $root.SP_SERVICES.CHOOSE_AREA_MODE.CHOOSE_RETAILER"
       ng-bind=":: '<< Back' | translate" class="back"></a>

    <div ng-class="{'store-list-title': chooseAreaCtrl.chooseArea.foundAreas.length > 5}" ng-if="chooseAreaCtrl.chooseArea.foundAreas.length > 1 && !chooseAreaCtrl.isBranchNameHidden()">
        <h1 class="title"
            ng-bind="::(chooseAreaCtrl.chooseArea.isOnlyPickupResults ? ('Pickup service only' | translate) :
                (!chooseAreaCtrl.chooseArea.isPickupButton ? ('Yes' | translate) + '!' :
                (chooseAreaCtrl.chooseArea.foundAreas.length === 1 ? (('See you soon' | translate) + '!') : ('Select a store for pickup' | translate))))">
        </h1>

        <h2 class="sub-title secondary-font"
            ng-bind="::(!chooseAreaCtrl.chooseArea.isPickupButton && !chooseAreaCtrl.chooseArea.isOnlyPickupResults ? 'We serve your area' :
                (chooseAreaCtrl.chooseArea.foundAreas.length === 1 ? 'The order will wait for you at the store' : 'Choose the pickup location')) | translate">
        </h2>
    </div>

<!--    <div class="typed-area" ng-if="!chooseAreaCtrl.chooseArea.isPickupButton && chooseAreaCtrl.chooseAreaMode !== $root.SP_SERVICES.CHOOSE_AREA_MODE.CHOOSE_RETAILER">-->
<!--        {{chooseAreaCtrl.area}}-->
<!--    </div>-->

    <div class="filter-areas-input-wrapper" ng-class="{'store-list': chooseAreaCtrl.chooseArea.foundAreas.length > 5}">
        <div class="sp-kikar-input filter-areas-input" ng-class="{'store-list': chooseAreaCtrl.chooseArea.foundAreas.length > 5}" ng-if="chooseAreaCtrl.chooseArea.foundAreas.length > 3">
            <label ng-if="chooseAreaCtrl.chooseArea.foundAreas.length < 5" for="choose-area-query-input" ng-bind=":: 'Search' | translate"></label>
            <span ng-if="chooseAreaCtrl.chooseArea.foundAreas.length > 5">
                <svg focusable="false">
                    <use xlink:href="#sp-icons-search"></use>
                </svg>
            </span>
            <input id="choose-area-query-input" type="text"
                   ng-model="chooseAreaCtrl.chooseAreaQuery"
                   ng-keydown="chooseAreaCtrl.onKeyDown($event)" sp-placeholder="{{:: 'Search' | translate}}"/>
        </div>
    </div>

    <div class="single-area" ng-if="chooseAreaCtrl.chooseArea.foundAreas.length === 1 || chooseAreaCtrl.isBranchNameHidden()">
        <div class="main-data">
<!--            <div class="delivery-method-title" ng-if="chooseAreaCtrl.chooseArea.foundAreas[0].deliveryTypeId !== $root.SP_SERVICES.DELIVERY_TYPES.PICKUP">-->
<!--                {{'Delivery method in this area' | translate}}:-->
<!--            </div>-->

            <div class="store-icon" ng-if="$root.config.multiRetailers">
                <img ng-src="{{chooseAreaCtrl.chooseArea.foundAreas[0].branch.logoUrl || chooseAreaCtrl.chooseArea.foundAreas[0].retailer.logoUrl}}"
                     alt="{{'Branch Logo' | translate}}"/>
            </div>

            <svg focusable="false">
                <use xlink:href="#sp-icons-delivery" ng-if="chooseAreaCtrl.chooseArea.foundAreas[0].deliveryTypeId === $root.SP_SERVICES.DELIVERY_TYPES.DELIVERY"></use>
                <use xlink:href="#sp-icons-express-delivery" ng-if="chooseAreaCtrl.chooseArea.foundAreas[0].deliveryTypeId === $root.SP_SERVICES.DELIVERY_TYPES.EXPRESS_DELIVERY"></use>
                <use xlink:href="#sp-icons-retailer-details" ng-if="chooseAreaCtrl.chooseArea.foundAreas[0].deliveryTypeId === $root.SP_SERVICES.DELIVERY_TYPES.PICKUP"></use>
            </svg>

            <div class="delivery-method-name">
                <span>
                    {{:: ('delivery_type_' + chooseAreaCtrl.chooseArea.foundAreas[0].deliveryTypeId) | translate}}
                </span>
            </div>

            <h1 class="title"
                ng-bind="::(chooseAreaCtrl.chooseArea.isOnlyPickupResults ? ('Pickup service only' | translate) : (
                !chooseAreaCtrl.chooseArea.isPickupButton ? ('Yes' | translate) + '!' :
                (chooseAreaCtrl.chooseArea.foundAreas.length === 1 ? (('See you soon' | translate) + '!') : ('Select a store for pickup' | translate))))">
            </h1>

            <h2 class="sub-title secondary-font"
                ng-bind="::(!chooseAreaCtrl.chooseArea.isPickupButton && !chooseAreaCtrl.chooseArea.isOnlyPickupResults ? 'We serve your area' :
                (chooseAreaCtrl.chooseArea.foundAreas.length === 1 ? 'The order will wait for you at the store' : 'Choose the pickup location')) | translate">
            </h2>


            <span class="limit" ng-if="chooseAreaCtrl.chooseArea.foundAreas[0].deliveryItemsLimit">
                {{:: ('Limited to {deliveryItemsLimit} products' | translate).replace('{deliveryItemsLimit}', chooseAreaCtrl.chooseArea.foundAreas[0].deliveryItemsLimit)}}
            </span>

            <span class="delivery-within-days">
                <span class="limit" ng-if="chooseAreaCtrl.isShowDeliveryWithinDaysWarning(chooseAreaCtrl.chooseArea.foundAreas[0])">
                    {{::('Limited to products marked with "{tagName}" tag only' | translate)
                        .replace('{tagName}', (chooseAreaCtrl.deliveryWithinDaysTag.languages | name:'displayName'))}}
                </span>
            </span>

            <div class="address">
                <span ng-if="chooseAreaCtrl.isBranchNameHidden()">{{chooseAreaCtrl.area}}</span>
                <span ng-if="!chooseAreaCtrl.isBranchNameHidden()">{{:: ('From Branch' | translate) + ': ' + ((chooseAreaCtrl.chooseArea.foundAreas[0].isPickupAddressDisplayed) ? (chooseAreaCtrl.chooseArea.foundAreas[0].name) : (chooseAreaCtrl.getBranchLocation(chooseAreaCtrl.chooseArea.foundAreas[0])))}}</span>
            </div>

<!--            <div class="description" ng-if="chooseAreaCtrl.chooseArea.foundAreas[0].name && chooseAreaCtrl.chooseArea.foundAreas[0].deliveryTypeId !== $root.SP_SERVICES.DELIVERY_TYPES.PICKUP">-->
<!--                {{:: chooseAreaCtrl.chooseArea.foundAreas[0].name}}-->
<!--            </div>-->

<!--            <div class="description" ng-if="chooseAreaCtrl.chooseArea.foundAreas[0].deliveryProviderId === $root.SP_SERVICES.DELIVERY_PROVIDERS.MANUAL">-->
<!--                {{:: chooseAreaCtrl.chooseArea.foundAreas[0].providerName}}-->
<!--            </div>-->
        </div>

        <button type="button" ng-click="chooseAreaCtrl.chooseArea.submit(chooseAreaCtrl.chooseArea.foundAreas[0]);"
                ng-bind=":: 'Continue Shopping' | translate"></button>
    </div>

    <div class="areas" ng-class="{'store-list': chooseAreaCtrl.chooseArea.foundAreas.length > 5}" ng-if="chooseAreaCtrl.chooseArea.foundAreas.length > 1 && !chooseAreaCtrl.isBranchNameHidden()">
        <div ng-repeat="foundArea in chooseAreaCtrl.chooseArea.foundAreas | filter:chooseAreaCtrl.filterFoundAreas | orderBy:'-preferredRetailerSort'" tabindex="0">
            <div class="icons">
                <div class="store-icon" ng-if="$root.config.multiRetailers">
                    <img ng-src="{{foundArea.branch.logoUrl || foundArea.retailer.logoUrl}}"
                        alt="{{'Branch Logo' | translate}}"/>
                </div>
                <svg focusable="false">
                    <use xlink:href="#sp-icons-delivery" ng-if="foundArea.deliveryTypeId === $root.SP_SERVICES.DELIVERY_TYPES.DELIVERY"></use>
                    <use xlink:href="#sp-icons-express-delivery" ng-if="foundArea.deliveryTypeId === $root.SP_SERVICES.DELIVERY_TYPES.EXPRESS_DELIVERY"></use>
                    <use xlink:href="#sp-icons-retailer-details" ng-if="foundArea.deliveryTypeId === $root.SP_SERVICES.DELIVERY_TYPES.PICKUP"></use>
                </svg>
            </div>
            <div class="main-info">
                <div class="main-row">
                    {{::('delivery_type_' + foundArea.deliveryTypeId) | translate}}
                </div>
                <span class="limit" ng-if="foundArea.deliveryItemsLimit">
                    {{::('Limited to {deliveryItemsLimit} products' | translate).replace('{deliveryItemsLimit}', foundArea.deliveryItemsLimit)}}
                </span>
                <span class="delivery-within-days">
                    <span class="limit" ng-if="chooseAreaCtrl.isShowDeliveryWithinDaysWarning(foundArea)">
                        {{::('Limited to products marked with "{tagName}" tag only' | translate)
                            .replace('{tagName}', (chooseAreaCtrl.deliveryWithinDaysTag.languages | name:'displayName'))}}
                    </span>
                </span>
                <div class="address" ng-if="foundArea.deliveryTypeId === $root.SP_SERVICES.DELIVERY_TYPES.PICKUP">
                    {{::chooseAreaCtrl.getBranchLocation(foundArea)}}
                </div>
                <div class="address" ng-if="foundArea.deliveryTypeId !== $root.SP_SERVICES.DELIVERY_TYPES.PICKUP">
                    {{::foundArea.branch.name}}
                </div>
                <div class="description" ng-if="foundArea.deliveryTypeId !== $root.SP_SERVICES.DELIVERY_TYPES.PICKUP">
                    {{::foundArea.name}}
                </div>
                <div class="description" ng-if="foundArea.deliveryProviderId === $root.SP_SERVICES.DELIVERY_PROVIDERS.MANUAL">
                    {{::foundArea.providerName}}
                </div>
            </div>
            <button type="button" class="choose-button" ng-click="chooseAreaCtrl.chooseArea.submit(foundArea);"
                    aria-label="{{::('Choose' | translate) + ' ' + (foundArea.deliveryTypeId === $root.SP_SERVICES.DELIVERY_TYPES.PICKUP ? chooseAreaCtrl.getBranchLocation(foundArea) : foundArea.branch.name)}}"
                    ng-bind=":: 'Choose' | translate"></button>
        </div>
    </div>

    <div class="not-found-area-message" role="alert" aria-relevant="additions"
         ng-if="!(chooseAreaCtrl.chooseArea.foundAreas | filter:chooseAreaCtrl.filterFoundAreas).length">
        {{'Unfortunately we didn\'t find any stores in this area' | translate}}.<br/>
        {{'Try a different area name' | translate}}.
    </div>
</form>

<form class="area-not-found" name="areaNotFoundForm" ng-submit="chooseAreaCtrl.areaNotFoundLog.submit();"
      ng-if="chooseAreaCtrl.visibleState === chooseAreaCtrl.areaNotFoundLog">
    <h1 id="area_not_found_title" ng-bind=":: ('Apologies' | translate) + '...'"></h1>

    <h2 id="area_not_found_sub_title" class="sub-title secondary-font">
        {{'Sorry, We do not deliver to your area' | translate}}
        <br/><br/><br/>
        {{'Please type in your email And we will let you know when we expand to your location' | translate}}.
    </h2>

    <div class="sp-kikar-input">
        <label for="emailAddress" ng-bind=":: 'Email Address' | translate"></label>
        <input id="emailAddress" type="email" ng-model="chooseAreaCtrl.userEmail" name="emailAddress" required
               aria-describedby="area_not_found_title area_not_found_sub_title"/>
    </div>

    <button class="no-design" type="submit" ng-disabled="areaNotFoundForm.$invalid"
    ng-bind=":: 'Keep in Touch' | translate"></button>
    
    <div class="bottom-wrapper">
        
        <a ng-click="chooseAreaCtrl.goToFilterAreas()" class="back">
            {{'Try a different location' | translate}}
        </a>
        
        <div class="customer-service" ng-bind=":: ('Customer Service' | translate) + ' ' + $root.config.retailer.contactPhone"></div>
    </div>
</form>
