$checkDeliveryBackgroundIconRight: 2.884em;
$chooseAreaInputWidth: 20.3125em;

.dialog-wrapper .dialog.choose-area-dialog {
  overflow: auto;

  .dialog-body {
    padding: 3em 3em 1em 3em;
    width: auto;
    max-height: none;
    min-height: 29em;
    overflow: visible;
    text-align: center;
    $color: #616161;
    $warningColor: #d44949;
    $buttonColor: #414141;

    h1, h2 {
      padding: 0;
      color: #000000;
    }

    h1 {
      font-size: 3.75em;
      padding-top: 0.2553em;
    }

    h2 {
      font-size: 1.375em;
      padding-top: 0.348em;
    }

    > form {
      button {
        padding: 0.563em 2.3125em;
        border-radius: 2.5em;
        font-weight: 700;
        color: #ffffff;
      }

      > button[type="submit"] {
        background-color: #414141;
        width: 9em;
        display: block;
        margin: auto;
      }

      .sp-kikar-input {
        margin: 1em 0;
        $inputFontSize: 0.903955em;
        font-size: $inputFontSize;
        width: $chooseAreaInputWidth / clear-units($inputFontSize);

        > label {
          font-weight: normal;
        }
      }

      &.filter-areas {
        width: 29em;
        > .check-address-icon {
          width: 13.60625em;
          height: 7.56875em;
          position: relative;
          margin: 3.75em auto 0.4em auto;

          > .icon {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            fill: $color;
            z-index: 1;
          }

          > .background-icon {
            position: absolute;
            bottom: 0.1em;
            width: 8.1375em;
            height: 7.30625em;
            z-index: 0;
          }
        }

        .auto-complete {
          font-size: 1em;
        }

        .error {
          border-radius: 5px;
          background-color: #ff8a00;
          box-sizing: border-box;
          color: #fff;
          padding: 0.5em;
          width: $chooseAreaInputWidth;
          text-align: center;
          margin: 0 auto;
        }

        > button[type="submit"] {
          margin-top: 1.1875em;
        }

        > .pickup {
          margin-top: 4.125em;

          > * {
            vertical-align: middle;
            display: inline-block;
            text-align: initial;
          }

          > svg {
            fill: #787878;
            width: 2em;
            height: 2em;
          }

          > span {
            > a {
              display: block;
              color: #2f80ed;
              text-decoration: underline;
              cursor: pointer;
            }

            > span {
              font-size: 0.75em;
              color: #787878;
              line-height: 1.5em;
            }

            $margin: 0.25em;
            .ltr & {
              margin-left: $margin;
            }
            .rtl & {
              margin-right: $margin;
            }
          }
        }
      }

      &.choose-area {
        width: 29em;
        &.store-list {
          width: 32em;
          padding: 1.81em 3em;
        }
        > .store-list-title {
          padding: 0 2em;
        }

        $border: 1px solid #ededed;

        > a.back {
          position: absolute;
          top: 1.375em;
          left: 1.375em;
          cursor: pointer;
          text-decoration: underline;
        }

        .filter-areas-input-wrapper {
          &.store-list {
            margin-top: 1.4375em;
          }
          .ltr & {
            text-align: left;
          }
          .rtl & {
            text-align: right;
          }

          .sp-kikar-input {      
            margin: 0.3em 0;
            width: 14.4505em;      
            &.store-list {
              $borderRadius: 28.5px;
              display: flex;
              align-items: center;
              justify-content: center;
              padding: .6em 1em;
              border-radius: $borderRadius;
              border: 1px solid #D1D1D1;
              > input[type="text"] {
                border: none;
                padding: 0 0.6em;
                font-size: 1.2em;
                color: #494949;
                &:focus-visible {
                  border: none;
                  outline: none !important;
                  outline-offset: 0;
                  box-shadow: none !important;
                }
              }
              > span {
                display: inline-block;
                box-sizing: content-box;
                width: 1em;
                height: 1em;
                > svg {
                  transform: rotate(270deg);
                  width: 100%;
                  height: 100%;
                  fill: #494949;
                }
              }
            }
          }
        }

        .typed-area {
          color: #939393;
          font-size: 0.75em;
          margin-top: 1em;
        }

        > .single-area, > .areas {
          //border-top: $border;
          margin-top: 1.4375em;
        }

        > .single-area {
          > .main-data {
            //height: 18.75em;
            display: flex;
            flex-direction: column;
            border-bottom: $border;
            justify-content: center;
            align-items: center;
            color: #282828;
            margin-top: 3em;

            .delivery-method-title {
              font-size: 0.875em;
              color: #787878;
              margin-bottom: 1.2858em;
            }

            > svg {
              height: 2.8125em;
              width: 100%;
              fill: #505050;
            }

            .delivery-method-name {
              font-size: 1.125em;
              font-weight: bold;
              margin-top: 0.6667em;
            }

            .limit {
              margin-top: 0.375em;
            }

            .address {
              font-size: 0.875em;
              margin: 2em 0 6em 0;
            }

            .description {
              margin-top: 1.875em;
            }
          }

          > button {
            margin-top: 2.125em;
          }
        }

        > .areas.store-list {
          max-height: 26em;
          padding: 0 1em;
          overflow-y: scroll;
          &::-webkit-scrollbar {
            background-color: transparent;
            width: 8px;
          }

          &::-webkit-scrollbar-thumb {
            @include border-radius(5px);
            background-color: rgba(96, 96, 96, 0.2);

            &:hover, &:focus-within {
              background-color: rgba(96, 96, 96, 0.7);
            }

            &:active {
              background-color: rgba(96, 96, 96, 1);
            }
          }
        }

        > .areas > div {
          display: flex;
          flex-direction: row;
          align-items: center;
          padding: 0;
          border-bottom: $border;
          height: 6.875em;
          box-sizing: border-box;
          color: #282828;

          > * {
            flex: 0 0 auto;
          }

          > .icons {
            $chooseAreaSvgPaddingRight: 1.875em;
            .ltr & {
              padding-right: $chooseAreaSvgPaddingRight;
            }
            .rtl & {
              padding-left: $chooseAreaSvgPaddingRight;
            }

            > svg {
              width: 4.25em;
              height: 2.875em;
              fill: $color;
            }
          }

          > div.main-info {
            flex: 1 1 auto;

            .ltr & {
              text-align: left;
            }
            .rtl & {
              text-align: right;
            }

            > * {
              font-size: 0.875em;
              width: 100%;
            }

            > .main-row {
              font-size: 1.125em;
              font-weight: bold;
              padding-top: 0.33334em;
              padding-bottom: 0.27778em;
            }

            .limit {
              display: inline-block;
              vertical-align: top;
              width: auto;
            }

            .delivery-within-days {
              padding: 0.2em 0;

              .limit {
                display: inline;
              }
            }

            .address, .description {
              margin-top: 0.4286em;
            }
          }

          > div.secondary-info {
            font-size: 0.875em;
            width: 10.1429em;
          }
        }

        .limit {
          color: #ffffff;
          background-color: #616161;
          padding: 0.1em 0.3em;
          line-height: 1.1;
        }

        .delivery-within-days {
          display: block;
          padding: 0.4em 2em;

          .limit {
            display: inline;
            vertical-align: middle;
            padding: 0;
          }
        }

        .store-icon {
          max-width: 7.1429em;
          height: 1.5em;
          margin: 0 auto 0.3em auto;

          img {
            max-width: 100%;
            max-height: 100%;
          }
        }

        .address {
          color: #787878;
        }

        .description {
          font-weight: bold;
        }

        .not-found-area-message {
          font-weight: bold;
          font-size: 0.875em;
          margin-top: 0.8572em;

          .ltr & {
            text-align: left;
          }
          .rtl & {
            text-align: right;
          }
        }
      }

      &.area-not-found {
        > .sub-title {
          font-size: 1.25em;
          padding-top: 0.9em;
          padding-bottom: 1.5em;
        }

        > .bottom-wrapper{
          bottom: 2em;
          position: absolute;
          left: 0;
          width: 100%;
          font-size: 1.5em;

          a.back {
            display: block;
            color: #22a9f6;
            cursor: pointer;
            line-height: 2.5em;
          }

          > .customer-service {
          }
        }


        button[type="submit"] {
          width: 11.875em;
          margin-top: 0.25em;
        }
      }
    }
  }
}

html.ltr {
  .dialog-wrapper .dialog.choose-area-dialog .dialog-body {
    .filter-areas > .check-address-icon {
      > * {
        transform: scaleX(-1);
      }

      > .background-icon {
        right: $checkDeliveryBackgroundIconRight;
      }
    }
  }
}

html.rtl {
  .dialog-wrapper .dialog.choose-area-dialog .dialog-body {
    .filter-areas > .check-address-icon {
      > .background-icon {
        left: $checkDeliveryBackgroundIconRight;
      }
    }
  }
}

@media screen and (max-width: 1525) {
  .dialog-wrapper .dialog.choose-area-dialog {
    .dialog-body { 
      > form {
        &.choose-area {
          > .areas.store-list {
            max-height: 20em !important;
          }
        }
      }
    }
  }
}