.dialog-wrapper .dialog.choose-area-dialog .dialog-body {
  > form {
    &.filter-areas > .check-address-icon > .background-icon {
      fill: $secondaryColor;
    }

    &.choose-area .description {
      color: $mainColorSecondary;
    }
  }
}
