section.view {
  sp-items {
    > .cant-find-item {
      > img, > .text-wrapper > .text {
        background-color: $mainColor;
      }
    }

    > .fixed-wrapper {
      > .bread-crumbs {
        font-family: $secondaryFontFamily;

        > span > a:hover {
          border-color: $secondaryColor;
        }
      }

      > .title-and-side-bar {
        > .title {
          font-family: $creativeFontFamily;
        }

        > .side-bar > .filter-item > .filter > .filter-content > .filter-button-wrapper {
          &.selected, &.selected:hover {
            background-color: white;
            color: $mainColor!important;
          }
          &.coupon-item-special-side, &.coupon-item-special-side:hover {
            background-color: white !important;
            color: $mainColor !important;
          }
        }
      }

      > .filtering-filters-wrapper > .add-coupon > .filtering-filters {
        .filters-group {
          > .filters-item, > .coupon-item-special {
            background-color: $mainColor;
            opacity: 0.7;
          }
        }

        button.link {
          color: $mainColor;
        }
      }

      > .side-bar > .filter-item > .filter > .filter-content > .coupon-item-special {
          background-color: white;
          color: $mainColor;
      }

      > coupon-item > .filtering-filters-wrapper > .add-coupon > .filtering-filters .filters-group > .filters-item > .name{
        color: black;
      }

      > .filtering-filters-wrapper > .add-coupon >  .filtering-filters .filters-group > .filters-item > .no-design > .items-close{
        fill: black;
      }

    }

    > .items-wrapper {
      > .add-coupon > .coupon-points-info > .coupon-points > svg {
        fill: $mainColor;
      }
      > .add-coupon > .filtering-filters .filters-group > .filters-item {
        background-color: $secondaryColor;
      }

      > .add-coupon > .filtering-filters .filters-group > .coupon-item-special {
        background-color: $mainColor;
        opacity: 0.7;
      }

      > .add-coupon > .filtering-filters .filters-group > .filters-item > .no-design > .items-close{
        fill: black;
      }
    }

    .add-coupon > .no-design > .add-coupon-svg {
      width: 20px;
      height: 20px;
    }

  }
}
