<div class="dialog-content">
  <div class="lines">
    <div class="line" ng-repeat="line in displayLines">
      <h5>{{ line.mainTitle | translate | retailerNameReplacement }}.</h5>
      <span ng-class="{'regular-price': line.items.length !== 1}">
        {{ line.subTitle | translate }}.
      </span>
      <div class="carousel-wrapper" ng-class="line.className">
        <sp-carousel
          template-url="{{line.itemTemplateUrl}}"
          items="line.items"
          item-width="180"
          class="new-promotion"
          rows="{default:1}"
          data="data"
          shownSize="3"
        >
        </sp-carousel>
      </div>
    </div>
  </div>
  <div class="total-bill">
    <span class="new-cart-estimate" ng-if="displayChoosenDateButton">
      <span ng-if="lineTypes[$root.SP_SERVICES.CART_LINE_TYPES.PRODUCT]">
        {{('Price of Updated Cart (Est.)' | translate) + ' ' +
        (totalPriceUpdate | currency)}}
      </span>
      <span ng-if="lineTypes[$root.SP_SERVICES.CART_LINE_TYPES.DELIVERY]">
        {{('Price of Updated Service Fee (Est.)' | translate) + ' ' +
        ($root.cart.total.deliveryCost.finalPriceForViewPotential | currency)}}
      </span>
    </span>
  </div>
  <div class="dialog-footer">
    <button ng-if="displayChoosenDateButton" class="change-date-button" ng-click="$dialog.hide(false);">
      {{'Change chosen time' | translate}}
    </button>
    <button  class="apply-button right" ng-click="$dialog.hide(true);">
      {{'Ok, continue' | translate}}
    </button>
  </div>
</div>
