html.update-order .summary > div {
  > .summary-details .summary-line.total-line span.you-save > svg {
    fill: $mainColor;
  }

  .payment-details {
    .check-out-button button {
      background-color: $secondaryColor;
    }

    h5 {
      font-family: $defaultFontFamily;
    }

    .credit-card-details .credit-cards-wrapper table .cvv-explain {
      .question-mark {
        border-color: $mainColor;
        color: $mainColor;
      }
    }

    .ebt-details .ebt-card-wrapper {
      .ebt-card-number-wrapper .balance-button button {
        border-color: $mainColor;
      }

      .ebt-amount > .title {
        color: $mainColor;
      }

      .ebt-update >.checkbox > .title {
        color: $mainColor;
      }
    }
  }
}