<section ng-if="!seniorCitizenVerificationCtrl.userData.isSeniorCitizen">
    <h2 id="senior_citizen_dialog_title">
        {{($root.config.retailer.seniorCitizenTexts | name:'title') || ('Delivery precedence for senior citizens!' | translate)}}
    </h2>
    <h4>
        {{($root.config.retailer.seniorCitizenTexts | name:'explanation') ||
          ('We keep delivery slots for senior citizens to allow high availability in this challenging time' | translate)}}
    </h4>

    <form novalidate name="seniorCitizenForm" ng-submit="seniorCitizenVerificationCtrl.verify(seniorCitizenForm)">
        <label for="senior_citizen_id" class="input-title">
            {{'Enter your id number' | translate}}
        </label>
        <div class="input-sub-title">
            ({{'Used for verification only, we arn\'t saving this number' | translate}})
        </div>
        <div class="input-wrapper">
            <input type="text" id="senior_citizen_id" name="seniorCitizenId"
                   ng-model="seniorCitizenVerificationCtrl.seniorCitizenId"
                   minlength="9" maxlength="9" pattern="[0-9]+" ng-required="true" sp-inline-error/>
        </div>

        <button class="main-button" type="submit">
            {{'Check' | translate}}
        </button>
        <button class="link-button" ng-click="seniorCitizenVerificationCtrl.hideDialog()">
            {{'Another time, continue shopping' | translate}}
        </button>
    </form>
</section>
<section class="success-section" ng-if="seniorCitizenVerificationCtrl.userData.isSeniorCitizen">
    <h2 id="senior_citizen_dialog_title">
        {{'The verification was successful' | translate}}
    </h2>
    <h4>
        {{'Your account is now tagged as "Senior Citizen"' | translate}}
    </h4>

    <button class="main-button" ng-click="seniorCitizenVerificationCtrl.hideDialog()">
        {{'Continue shopping' | translate}}
    </button>
</section>

<section class="disclaimer-section">
    * {{'Subject to delivery slots availability out of senior citizens allocation' | translate}}
</section>