<div class="sp-list-items-wrapper">
    <div class="elastic-row">
        <span class="quantity" ng-bind="::'Quantity' | translate"></span>
        <span class="image"></span>
        <span class="name" ng-bind="::'Product name' | translate"></span>
        <span ng-if="!splitView"><span class="sr-only-element">{{'Specials' | translate}}</span></span>
        <span class="unit-weight"></span>
        <span ng-bind="::'Unit price' | translate"></span>
        <span ng-bind="::'Price' | translate"></span>
        <span ng-bind="::'Product properties' | translate" ng-if="!splitView"></span>
        <span ng-bind="::'Comments' | translate" ng-if="!splitView"></span>
    </div>
    <div class="content-table" ng-controller="ElasticHeaderCtrl">
        <table>
            <thead ng-if="hiddenHeader ? false : true">
                <tr class="static-row">
                    <th class="quantity" ng-bind="::'Quantity' | translate"></th>
                    <th class="image"></th>
                    <th class="name" ng-bind="::'Product name' | translate"></th>
                    <th ng-if="!splitView"><span class="sr-only-element">{{'Specials' | translate}}</span></th>
                    <th class="unit-weight"></th>
                    <th ng-bind="::'Unit price' | translate"></th>
                    <th ng-bind="::'Price' | translate"></th>
                    <th ng-bind="::'Product properties' | translate" ng-if="!splitView"></th>
                    <th ng-bind="::'Comments' | translate" ng-if="!splitView"></th>
                </tr>
            </thead>
            <tbody class="delivery-fee"
                ng-if="$root.config.retailer.settings.includeDeliveryFeeInCart === 'true' && $root.config.deliveryAreaPrice"
                ng-click="openDeliveryFeePopup()">
                <tr class="delivery-fee-row" ng-if="deliveryFeeLine">
                    <td></td>
                    <td></td>
                    <td class="label">{{'delivery_type_' + $root.config.getBranchArea().deliveryTypeId + '_fee' |
                        translate}}</td>
                    <td></td>
                    <td></td>
                    <td class="price">
                        {{(deliveryFeeLine.totalPriceForView || deliveryFeeLine.regularPrice ||
                        (deliveryFeeLine.product && deliveryFeeLine.product.branch &&
                        deliveryFeeLine.product.branch.regularPrice) || '0.00') | currency}}
                    </td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
            <tbody ng-if="coupons.length">
                <tr class="category">
                    <th colspan="9" class="creative-font-family">
                        {{'Coupons' | translate}}
                    </th>
                </tr>
                <tr ng-repeat="item in coupons | orderBy:'item.names | name'  track by item.id"
                    class="line coupon static-row-content" ng-if="!splitView">
                    <td class="icon">
                        <svg focusable="false" class="icon main-color"
                            ng-class="{'disabled': item.isCouponActive === false}">
                            <use xlink:href="#sp-icons-coupon-indication"></use>
                        </svg>
                    </td>
                    <td class="image">
                        <div ng-if="item.isCouponActive == false" class="coupon-expired">{{'Expired' | translate}}</div>
                    </td>
                    <td class="name">
                        <div class="title main-color" ng-class="{'disabled': item.isCouponActive === false}"
                            ng-bind="('Coupon' | translate) + ':'">
                        </div>
                        <div class="name" ng-class="{'disabled': item.isCouponActive === false}"
                            ng-bind="item.product | productName:item.isCase:'long'">
                        </div>
                    </td>
                    <td colspan="4" class="coupon-actions">
                        <div ng-if="$root.cart.specialReminders.onCoupons[item.product.branch.specials[0].id] && !$root.cart.specialReminders.onCoupons[item.product.branch.specials[0].id].awarded"
                            ng-class="{'disabled': item.isCouponActive === false}">
                            {{couponReminder = $root.cart.specialReminders.onCoupons[item.product.branch.specials[0].id];""}}
                            <div class="error">
                                <div class="error-tooltip"
                                     ng-if="$root.userCouponsById[item.product.id] && $root.userCouponsById[item.product.id].description">
                                    <div class="title">{{$root.userCouponsById[item.product.id].couponName || $root.userCouponsById[item.product.id].localName}}</div>
                                    <div class="description">{{$root.userCouponsById[item.product.id].description}}</div>
                                </div>
                                <span class="text" ng-bind="'coupon_requirements_error' | translate"></span>
                                <span class="question-mark">?</span>
                            </div>
                            <button
                                    ng-if="couponReminder.showProductsFrom && item.isCouponActive"
                                    ng-click="$root.util.showCouponDetailsDialog(item.product);"
                                    class="highlight">
                                <span ng-if="couponReminder.purchaseType === 1"
                                    ng-bind="((
                                       (couponReminder.remaining === 1 && 'add_unit_cart_coupon')
                                       || ($root.COUPON_MEANINGLESS_REMAINING_VALUES.includes(couponReminder.remaining) && 'Add Products')
                                       || 'add_units_cart_coupon') | translate).replace('{remaining}', couponReminder.remaining)">
                                </span>
                                <span ng-if="couponReminder.purchaseType === 2"
                                      ng-bind="('add_currency_cart_coupon' | translate).replace('{remaining}', couponReminder.remaining | currency)">
                                </span>
                                <span ng-if="couponReminder.purchaseType === 3"
                                      ng-bind="('add_measure_cart_coupon' | translate).replace('{remaining}', couponReminder.remaining).replace('{unit}', $root.defaultWeightUnit.names[$root.config.language.id])">
                                </span>
                                <span ng-if="!couponReminder.purchaseType"
                                      ng-bind="'Add Products' | translate">
                                </span>
                            </button>
                        </div>
                    </td>
                    <!--<td class="line-special-details"></td>-->
                    <!--<td class="unit-price"></td>-->
                    <!--<td class="total-price"></td>-->
                    <td class="comments">
                        <button class="remove no-design" ng-click="removeItem(item)"
                            ng-if="item.type !== $root.SP_SERVICES.CART_LINE_TYPES.DELIVERY">
                            <svg focusable="false" role="img">
                                <title>{{'remove coupon' | translate}}</title>
                                <use xlink:href="#sp-icons-remove"></use>
                            </svg>
                        </button>
                    </td>
                </tr>
                <tr ng-repeat="item in coupons | orderBy:'item.names | name'  track by item.id"
                    class="line coupon static-row-content" ng-if="splitView">
                    <td class="icon">
                        <svg focusable="false" class="icon main-color"
                            ng-class="{'disabled': item.isCouponActive === false}">
                            <use xlink:href="#sp-icons-coupon-indication"></use>
                        </svg>
                        <span class="audience bg-main-color"
                            ng-init="special = $root.util.filterProductSpecials(line.product.branch)[0]"
                            ng-if="special.icons[special.loyaltyClubsIds[0]][$root.config.language.id].description || special.icons[special.loyaltyClubsIds[0]][2].description"
                            ng-bind="special.icons[special.loyaltyClubsIds[0]][$root.config.language.id].description || special.icons[special.loyaltyClubsIds[0]][2].description">
                        </span>
                        <img class="audience"
                            ng-if="item.product | productMainTag:$root.PermanentFilters.values[$root.PermanentFilters.TYPES.PRODUCT_TAGS]"
                            ng-src="{{(item.product | productMainTag:$root.PermanentFilters.values[$root.PermanentFilters.TYPES.PRODUCT_TAGS]).languages | name:'iconResourceUrl'}}"
                            alt="{{(item.product | productMainTag:$root.PermanentFilters.values[$root.PermanentFilters.TYPES.PRODUCT_TAGS]).languages | name:'displayName'}}" />
                    </td>
                    <td class="image">
                        <div ng-if="item.isCouponActive == false" class="coupon-expired">{{'Expired' | translate}}</div>
                    </td>
                    <td class="name">
                        <div class="title main-color" ng-class="{'disabled': item.isCouponActive === false}"
                            ng-bind="('Coupon' | translate) + ':'">
                        </div>
                        <div class="name" ng-class="{'disabled': item.isCouponActive === false}"
                            ng-bind="item.product | productName:item.isCase:'long'">
                        </div>
                    </td>
                    <td colspan="2" class="coupon-info">
                        <div ng-if="$root.cart.specialReminders.onCoupons[item.product.branch.specials[0].id] && !$root.cart.specialReminders.onCoupons[item.product.branch.specials[0].id].awarded"
                            class="actions" ng-class="{'disabled': item.isCouponActive === false}">
                            {{couponReminder = $root.cart.specialReminders.onCoupons[item.product.branch.specials[0].id];""}}
                            <div class="error">
                                <div class="error-tooltip"
                                     ng-if="$root.userCouponsById[item.product.id] && $root.userCouponsById[item.product.id].description">
                                    <div class="title">{{$root.userCouponsById[item.product.id].couponName || $root.userCouponsById[item.product.id].localName}}</div>
                                    <div class="description">{{$root.userCouponsById[item.product.id].description}}</div>
                                </div>
                                <span class="text" ng-bind="'coupon_requirements_error' | translate"></span>
                                <span class="question-mark">?</span>
                            </div>
                            <button
                                    ng-if="couponReminder.showProductsFrom && item.isCouponActive"
                                    ng-click="$root.util.showCouponDetailsDialog(item.product);"
                                    class="highlight">
                                <span ng-if="couponReminder.purchaseType === 1"
                                    ng-bind="((
                                       (couponReminder.remaining === 1 && 'add_unit_cart_coupon')
                                       || ($root.COUPON_MEANINGLESS_REMAINING_VALUES.includes(couponReminder.remaining) && 'Add Products')
                                       || 'add_units_cart_coupon') | translate).replace('{remaining}', couponReminder.remaining)">
                                </span>
                                <span ng-if="couponReminder.purchaseType === 2"
                                      ng-bind="('add_currency_cart_coupon' | translate).replace('{remaining}', couponReminder.remaining | currency)">
                                </span>
                                <span ng-if="couponReminder.purchaseType === 3"
                                      ng-bind="('add_measure_cart_coupon' | translate).replace('{remaining}', couponReminder.remaining).replace('{unit}', $root.defaultWeightUnit.names[$root.config.language.id])">
                                </span>
                                <span ng-if="!couponReminder.purchaseType"
                                      ng-bind="'Add Products' | translate">
                                </span>
                            </button>
                        </div>
                    </td>
                    <td class="actions-wrapper" colspan="2">
                        <div class="actions">
                            <button ng-if="line.type !== $root.SP_SERVICES.CART_LINE_TYPES.DELIVERY"
                                ng-click="removeItem(item)" ng-focus="hoverMode($event);">
                                <img class="remove-icon"
                                    src="https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/trash-small.png"
                                    alt="{{('remove from cart' | translate).replace('{cart}', $root.config.retailer.settings.setCartNameToBasket ? $root.config.retailer.settings.setCartNameToBasket : 'cart')}}" />
                                <span>{{'Remove' | translate}}</span>
                            </button>

<!--                            <button
                                ng-if="$root.cart.specialReminders.onCoupons[item.product.branch.specials[0].id].showProductsFrom && item.isCouponActive"
                                ng-click="$root.util.showCouponDetailsDialog(item.product);"
                                ng-bind="'Add Products' | translate" class="highlight">
                            </button>-->
                        </div>
                    </td>
                </tr>
            </tbody>
            <tbody
                ng-repeat="category in (radioValue == 'category' ? itemsByCategories : itemsByOrder) | orderBy:'(names ? (names | name) : (name | translate))' track by category.id">
                <tr class="category" ng-if="isShowCategory && category.items.length" role="presentation">
                    <th colspan="9" class="creative-font-family" role="presentation">
                        {{category.names ? (category.names | name) : (category.name | translate)}}
                    </th>
                </tr>
                <tr ng-repeat="line in category.items track by line.id" sp-focus-in
                    class="line sp-quantity-actions-on-hover static-row-content" tabindex="0"
                    aria-label="{{(line.product.names | name).long}}"
                    ng-class="{'removed sp-quantity-hide-actions': line.removed && !line.isProductOutOfStock}"
                    ng-if="!splitView"
                    id="{{ 'item_line_' + line.id }}"
                    ng-mouseenter="toggleProductActions('mouseenter', line.id)"
                    ng-mouseleave="toggleProductActions('mouseleave', line.id)"
                    ng-include="tagSellDate ? 'template/views/cart-summary/partials/product-row-tag-sell-date/index.html' : 'template/views/cart-summary/partials/product-row/index.html'"
                >

                </tr>
                <tr ng-repeat="line in category.items track by line.id" sp-focus-in
                    class="line sp-quantity-actions-on-hover static-row-content" tabindex="0"
                    aria-label="{{(line.product.names | name).long}}"
                    ng-class="{'removed sp-quantity-hide-actions': line.removed && !line.isProductOutOfStock}"
                    ng-if="splitView"
                    id="{{ 'item_line_' + line.id }}"
                    ng-mouseenter="toggleProductActions('mouseenter', line.id)"
                    ng-mouseleave="toggleProductActions('mouseleave', line.id)">
                    <td class="quantity">
                        <sp-quantity
                            ng-if="line.type !== $root.SP_SERVICES.CART_LINE_TYPES.DELIVERY && !line.isProductOutOfStock"
                            read-only="line.type === $root.SP_SERVICES.CART_LINE_TYPES.COUPON" cart-line="line"
                            design="landscape" sp-aria-live="true"></sp-quantity>
                        <sp-cart-line-count line="line" text-before=""></sp-cart-line-count>
                    </td>
                    <td class="image">
                        <div>
                            <product-image line="line" simple-image="true" product="line.product"
                                is-product-out-of-stock="{{line.isProductOutOfStock}}"
                                is-need-to-show-out-of-stock-label="{{line.isNeedToShowOutOfStockLabel}}"
                                image-url="line.product.image.url" size="small"
                                alt="{{(line.product.names | name).long}}">
                            </product-image>
                        </div>
                    </td>
                    <td class="name">
                        <div class="brand-and-weight" ng-class="{disabled: line.isProductOutOfStock}">
                            <span class="brand" ng-bind="::line.product.brand.names | name"></span>
                            <span class="weight">
                                {{::line.product.brand.names && line.product.weight ? ' | ' : ''}}
                                {{::line.product | productWeight:product.isCaseMode}}
                                <span ng-if="$root.config.retailer.settings.showPriceWithoutBottleDeposit && line.product && line.product.branch && line.product.branch.linkedProductPrice" id="{{'bottle_disclaimer_' + product.id}}" class="bottle-deposit-disclaimer">
                                    <img className="bottle-deposit-disclaimer-img" style="width:20px; height:20px" ng-src="{{'https://d226b0iufwcjmj.cloudfront.net/global/mobile/images/icons/info-icon.png'}}"/>
                                    <span class="bottle-deposit-disclaimer-content">
                                        <span class="text">{{$root.config.retailer.settings.disclaimerOnCartPages[$root.config.language.id]  || ('Price includes bottle deposit' | translate)}}</span>
                                        <span class="arrow"></span>
                                    </span>
                                </span>
                            </span>
                        </div>
                        <div class="name" ng-class="{disabled: line.isProductOutOfStock}"
                            ng-bind="::(line.product.names | name).long">
                        </div>
                        <sp-promotion product="line.product" is-list="true"
                            ng-if="line.product && $root.util.filterProductSpecials(line.product.branch).length">
                        </sp-promotion>
                        <product-properties item="line"
                            ng-if="line.product.productProperties && line.product.productProperties.length">
                        </product-properties>
                        <sp-cart-line-comments sp-line="line" show-product-property="false" sp-hide="!line._showComment"
                            sp-blur="line._showComment = false" sp-set-focus="line._showComment"
                            ng-if="line.type !== $root.SP_SERVICES.CART_LINE_TYPES.COUPON && line.type !== $root.SP_SERVICES.CART_LINE_TYPES.DELIVERY && !line.isProductOutOfStock">
                        </sp-cart-line-comments>
                    </td>
                    <td class="unit-weight">
                        <sp-unit-weight product="line.product" cart-line="line" ng-if="line.product.productDisplayModeId === $root.PRODUCT_DISPLAY.WEIGHT_AND_UNIT.id && $root.config.retailer.enableSwitchUnitWeight && $root.util.isUnitsWeighable(line.product)" product-id="line.product.id"></sp-unit-weight>
                    </td>
                    <td class="unit-price">
                        <sp-product-price ng-class="{disabled: line.isProductOutOfStock}"
                            ng-if="line.type !== $root.SP_SERVICES.CART_LINE_TYPES.COUPON"
                            regular-price="line.product | regularPrice: item.isCase"
                            show-weight-unit="!item.isCase && item.product.isWeighable" product="item.product"
                            hide-normalize-price="true">
                        </sp-product-price>
                    </td>
                    <td class="total-price">
                        <sp-product-price ng-class="{disabled: line.isProductOutOfStock}"
                            regular-price="line.totalPriceForView" sale-price="line.finalPriceForView" type="line.type"
                            hide-normalize-price="true">
                        </sp-product-price>
                    </td>
                    <td class="actions-wrapper" colspan="2">
                        <div class="actions">
                            <button ng-if="line.type !== $root.SP_SERVICES.CART_LINE_TYPES.DELIVERY"
                                ng-click="removeItem(line)" ng-focus="hoverMode($event);">
                                <img class="remove-icon"
                                    src="https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/trash-small.png"
                                    alt="{{('remove from cart' | translate).replace('{cart}', $root.config.retailer.settings.setCartNameToBasket ? $root.config.retailer.settings.setCartNameToBasket : 'cart')}}" />
                                <span>{{'Remove' | translate}}</span>
                            </button>

                            <button ng-if="!line.isProductOutOfStock" ng-click="line._showComment = true"
                                ng-focus="hoverMode($event);">
                                <img class="remove-icon"
                                    src="https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/edit-small.png"
                                    alt="{{'add note for product' | translate}}" />
                                <span>
                                    {{ line.comments ? ('Edit comment' | translate) : ('Add comment' | translate) }}
                                </span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
            <tbody ng-if="hasSpecialReminders" class="special-reminders">
                <tr class="category">
                    <th colspan="9" class="creative-font-family" ng-bind=":: 'More Specials' | translate"></th>
                </tr>
                <tr ng-repeat="(specialId, specialData) in $root.cart.specialReminders.inCart track by specialId"
                    class="line static-row-content special-reminder" sp-in-view-watcher ng-if="!splitView && !specialData.isUsedRemainder">
                    <td></td>
                    <td class="sale-icon">
                        <svg focusable="false" role="img">
                            <use ng-if="specialData.awarded && !specialData.showProductsFrom"
                                xlink:href="#sp-icons-done"></use>
                            <use ng-if="!specialData.awarded || specialData.showProductsFrom" xlink:href=""
                                ng-attr-xlink:href="{{'#sp-icons-sale%translate%' | translateImage:{'he': '-he'} }}">
                            </use>
                        </svg>
                    </td>
                    <td class="name" colspan="2">
                        <div class="bold"
                            ng-bind="(specialData.awarded ? (specialData.showProductsFrom ? 'Select your benefit' : 'special_reminder_awarded_bubble_title') : 'special_reminder_bubble_title') | translate">
                        </div>
                        <div ng-bind="specialData.names && specialData.names[$root.config.language.culture] ? specialData.names[$root.config.language.culture] : specialData.description"></div>
                    </td>
                    <td class="actions" colspan="4">
                        <button ng-click="$root.util.showSpecialDetailsDialog(specialId, specialData.showProductsFrom);"
                            ng-if="specialData.showProductsFrom" ng-bind="::'Select' | translate">
                        </button>
                    </td>
                </tr>
                <tr ng-repeat="(specialId, specialData) in $root.cart.specialReminders.inCart track by specialId"
                    class="line static-row-content special-reminder" ng-if="splitView && !specialData.isUsedRemainder">
                    <td class="sale-icon">
                        <svg focusable="false" role="img">
                            <use ng-if="specialData.awarded && !specialData.showProductsFrom"
                                xlink:href="#sp-icons-done"></use>
                            <use ng-if="!specialData.awarded || specialData.showProductsFrom" xlink:href=""
                                ng-attr-xlink:href="{{'#sp-icons-sale%translate%' | translateImage:{'he': '-he'} }}">
                            </use>
                        </svg>
                    </td>
                    <td class="name" colspan="3">
                        <div class="bold"
                            ng-bind="(specialData.awarded ? (specialData.showProductsFrom ? 'Select your benefit' : 'special_reminder_awarded_bubble_title') : 'special_reminder_bubble_title') | translate">
                        </div>
                        <div ng-bind="specialData.names && specialData.names[$root.config.language.culture] ? specialData.names[$root.config.language.culture] : specialData.description"></div>
                    </td>
                    <td class="actions">
                        <button ng-click="$root.util.showSpecialDetailsDialog(specialId, specialData.showProductsFrom);"
                            ng-if="specialData.showProductsFrom" ng-bind="::'Select' | translate">
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
