$backgroundColor: #f3f3f3;
$quantityPadding: 1em;
$thVerticalPadding: 1em;
$thHorizontalPadding: 0.4444em;
$removeButtonSize: 3.125em;
$imageWidth: 6em;

.sp-list-items-wrapper {
  .elastic-row {
    visibility: hidden;
    font-size: 1.125em;
    position: absolute;
    z-index: 2;
    background-color: $backgroundColor;
    white-space: nowrap;

    > span {
      display: inline-block;
      vertical-align: top;
      font-weight: bold;
      padding: $thVerticalPadding $thHorizontalPadding;
      box-sizing: border-box;
      line-height: 1em;
      white-space: nowrap;

      &.quantity {
        text-align: center;
      }
    }
  }

  table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;

    > thead {
      font-size: 1.125em;

      > tr > th {
        white-space: nowrap;
        text-align: left;
        padding: $thVerticalPadding $thHorizontalPadding;

        &.quantity {
          text-align: center;
        }
      }
    }

    > tbody {
      > tr.category {
        text-align: center;
        background: #ebe8e8;

        > th {
          color: #616161;
          border-bottom: 0.1875em solid $backgroundColor;
          line-height: 1.9615em;
          font-size: 1.3em;
        }
      }

      > tr.line {
        background: #ffffff;

        &:hover,
        &.focus-mode,
        &:focus-within {
          > td.comments > .remove {
            display: block;
          }
        }

        &.removed {
          background: $backgroundColor;
          box-shadow: 0 0 0 2px rgba(240, 240, 240, 0.7);

          > td > * {
            opacity: 0.5;
          }

          > td.line-special-details > .removed {
            display: block;
          }

          &:hover,
          &:focus-within {
            > td {
              &.line-special-details > .removed {
                > .text {
                  display: none;
                }

                > button {
                  display: inline-block;
                  opacity: 1;
                }
              }

              &.comments > .remove {
                opacity: 1;
              }
            }
          }
        }

        &.special-reminder {
          background-color: #fef5e0;
        }

        > td {
          vertical-align: middle;
          padding: 1.3em 0.5em;
          border-bottom: 0.785em solid $backgroundColor;

          &.quantity {
            width: 8em;
            min-width: 8em;
            padding-left: $quantityPadding;
            text-align: center;
            > .sp-cart-line-count {
              display: inline-block;
              vertical-align: middle;

              > div {
                $size: 2.8572em;
                min-width: $size;
                width: auto;
                height: $size;
                background-color: #eaeaea;
                padding: 0.2em 0.4em;
                box-sizing: border-box;
                border-radius: $size;
              }
            }

            .sp-quantity {
              display: none;
              position: relative;

              .btns-row {
                > .quantity-wrapper {
                  height: 100%;
                  display: inline-block;
                }
              }
            }
          }

          &.image {
            position: relative;
            text-align: center;
            width: $imageWidth;

            img {
              max-height: 4em;
              max-width: $imageWidth;
            }

            > .sale-icon {
              position: absolute;
              right: 0;
              top: -0.5em;
              z-index: 1;
              width: 2.4em;
              height: 2.4em;
              padding: 0 0.5em;

              > svg {
                width: 100%;
                height: 100%;
              }

              &.club-icon > svg {
                fill: $clubIconFill;
              }
            }
          }

          &.name {
            > .brand-and-weight {
              font-size: 0.875em;
              color: #a8a8a8;
              display: flex;
              align-items: center;
              gap: 6px;

              .weight {
                display: flex;
                align-items: center;
                overflow: visible;

                .bottle-deposit-disclaimer {
                  margin-left: 1em;
                  align-items: center;
                  background-color:  #ebe8e8;
                  color: #adadad;
                  border-radius: 5px;
                  padding: 3px;


                  img {
                    filter: grayscale(100%);
                  }

                  &-content {
                    display: flex;
                    position: unset;
                    z-index: 1;
                    justify-content: flex-start;
                    margin: 0 0 0 10px;
                    min-width: fit-content;

                    .text {
                      background-color: transparent;
                      padding: 0;
                      color: inherit;
                      line-height: 0;
                      white-space: nowrap;
                    }
                    .arrow {
                      display: none;
                    }
                  }
                }
              }
            }

            > .name {
              color: #787878;
              margin-top: 0.3em;
            }
          }

          &.line-special-details {
            width: 15em;
            line-height: 1.2;
            position: relative;

            > .sp-promotion {
              > .promotion-wrapper {
                display: flex;
                padding: 0.25em 0 0;
                background: none;

                > .tag {
                  padding: 0;
                }

                > div {
                  width: 16px;
                  height: 16px;

                  & > svg {
                    width: 0.7em;
                  }

                  > span {
                    display: none;
                  }
                }
              }

              > .promotion-tooltip {
                height: calc(100% + 0.25em);
                display: grid;
                top: 0.125em;
                left: 0;
                right: 0;
                bottom: 0.125em;

                > .tooltip {
                  max-height: calc(100% + 1.125em);
                  margin-top: auto;
                }
              }
            }

            > .removed {
              display: none;
              position: absolute;
              top: 0;
              right: 0;
              bottom: 0;
              left: 0;
              text-align: center;
              opacity: 1;
              color: #414141;

              > button,
              > .text {
                display: inline-block;
                vertical-align: middle;
                box-shadow: 0.5px 0.9px 7px 0 rgba(0, 0, 0, 0.24);
                padding: 0.532em 1em;
                border-radius: 1em;
                background: #ffffff;
                font-weight: 900;
                opacity: 0.5;
              }

              > button {
                display: none;
              }
            }
          }

          &.unit-price > div.sp-product-price {
            // height: 2.1em;

            > .price {
              font-weight: 400;
              color: #787878;
            }
          }

          &.total-price > .sp-product-price {
            // height: 2.1em;
            line-height: 1.2;

            > * {
              display: block;
            }

            > .regular-price {
              font-size: 0.9em;
            }
          }

          &.product-properties {
            width: 14em;
            &.large-property {
              > .product-properties {
                > .dropdown-wrapper {
                  width: 60%;
                }
              }
            }
          }

          &.comments {
            max-width: 13.8125em;
            position: relative;
            padding-right: 1.25em;

            > .remove {
              display: none;
              position: absolute;
              top: 50%;
              height: $removeButtonSize;
              width: $removeButtonSize;
              margin-top: $removeButtonSize / -2;
              text-align: center;
              border-radius: $removeButtonSize;
              border-width: 2px;
              border-style: solid;
              box-shadow: 0.9px 0.5px 7px 0 rgba(0, 0, 0, 0.24);
              background-color: #ffffff;

              > svg {
                display: inline-block;
                vertical-align: top;
                height: 100%;
                width: 1.6125em;
                fill: #9c9c9c;
                margin-left: 1px;
              }
            }
          }
        }

        &.coupon > td {
          &.icon {
            text-align: center;

            > .audience {
              position: absolute;
              top: 1.25em;
              left: 3.25em;
              font-size: 0.75em;
              border-radius: 4px;
              border: 1px solid;
              color: #ffffff;
            }

            > span.audience {
              padding: 0.25em;
            }

            > img.audience {
              height: 1.5em;
            }

            > svg {
              $size: 2.5em;
              width: $size;
              height: $size;
            }
          }

          &.name > div.title {
            font-weight: 700;
          }

          &.coupon-actions > div {
            text-align: center;

            > div.error {
              margin: 0.5em 0;
              color: #d6353a;
              font-weight: 700;
              position: relative;

              > .question-mark {
                border: 1px solid;
                border-radius: 100%;
                padding: 0.05em 0.25em;
              }

              > .error-tooltip {
                position: absolute;
                bottom: 100%;
                background-color: #ffffff;
                text-align: left;
                left: 30%;
                right: 0;
                box-shadow: 0 0 0.6em 0 rgba(0, 0, 0, 0.36);
                display: none;
                border-radius: 5px 5px 0 0;

                .title {
                  background-color: #ffebeb;
                  padding: 0.7em;
                  border-radius: 5px 5px 0 0;
                }

                .description {
                  color: #787878;
                  font-weight: 400;
                  padding: 0.8em;
                  line-height: 1.2em;
                  font-size: 0.85em;
                }

                > * {
                  white-space: break-spaces;
                }
              }

              &:hover {
                .error-tooltip {
                  display: block;
                }
              }
            }

            > button {
              font-weight: 700;
              padding: 0.2em 2em;
            }
          }

          .disabled {
            opacity: 0.35;
            pointer-events: none;
          }

          .coupon-expired {
            height: 1.5em;
            line-height: 1.5em;
            padding: 0 0.4em;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            border-radius: 16px;
            text-align: center;
            margin-top: 0.5em;
            color: #ffffff;
            font-size: 0.75em;
            white-space: nowrap;
            background-color: #f86b2f;
          }
        }

        &:hover,
        &:focus-within {
          > td.quantity {
            > .sp-quantity {
              display: block;
            }

            > .sp-cart-line-count {
              display: none;
            }
          }
        }
      }

      &.special-reminders {
        > tr.line > td.sale-icon {
          text-align: center;

          > svg {
            width: 3em;
            height: 3em;
          }
        }
      }
    }
  }

  .disabled {
    opacity: 0.35;
    pointer-events: none;
  }

  .out-of-stock {
    position: absolute;
    top: 50%;
    height: 2em;
    line-height: 2em;
    padding: 0 0.4em;
    border-radius: 16px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    margin-top: -0.75em;
    color: #ffffff;
    font-size: 0.75em;
    white-space: nowrap;
    background-color: #f86b2f;
    width: auto;
    left: 50%;
    transform: translateX(-50%);
  }

  .hide-product-actions .quantity .sp-quantity .btns-row button{
    display: none;
  }
}

html.ltr .sp-list-items-wrapper {
  .elastic-row > span {
    text-align: left;

    &.quantity {
      text-align: center;
    }
  }

  table {
    > tbody > tr.line > td.comments > .remove {
      right: $removeButtonSize / -2;
    }
  }
}

html.rtl .sp-list-items-wrapper {
  .elastic-row > span {
    text-align: right;

    &.quantity {
      text-align: center;
    }
  }

  table {
    > thead > tr > th {
      text-align: right;

      &.quantity {
        text-align: center;
      }
    }

    > tbody > tr.line {
      > td.icon {
        > svg {
          transform: scale(-1);
        }

        > .audience {
          left: auto;
          right: 3.25em;
        }
      }

      > td.quantity {
        padding-left: 0;
        padding-right: $quantityPadding;
      }

      > td.comments > .remove {
        left: $removeButtonSize / -2;
      }
    }
  }

  .bottle-deposit-disclaimer {
    margin-right: 10px!important;

    &-content {
      .text {
        padding-right: 10px!important;
      }
    }
  }

}

@media screen and (max-width: 1575px) {
  .sp-list-items-wrapper table > tbody > tr.category > th {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 1220px) {
  $responsive1220RemoveRight: 0.75em;

  html.ltr .sp-list-items-wrapper {
    table {
      > tbody > tr.line > td.comments > .remove {
        right: $responsive1220RemoveRight;
      }
    }
  }

  html.rtl .sp-list-items-wrapper {
    table > tbody > tr.line > td.comments > .remove {
      left: $responsive1220RemoveRight;
    }
  }
}
