html {
  $topBoxShadow: inset 0 2px 0 0 $secondaryColor;
  $bottomBoxShadow: inset 0 -2px 0 0 $secondaryColor;
  $leftBoxShadow: inset 2px 0 0 0 $secondaryColor;
  $rightBoxShadow: inset -2px 0 0 0 $secondaryColor;

  .sp-list-items-wrapper table > tbody > tr.line {
    &:hover > td, &.focus-mode > td {
      box-shadow: $topBoxShadow, $bottomBoxShadow;

      &:first-child {
        box-shadow: $topBoxShadow, $bottomBoxShadow, $leftBoxShadow;
      }

      &:last-child {
        box-shadow: $topBoxShadow, $bottomBoxShadow, $rightBoxShadow;
      }
    }

    &.removed:hover {
      td.comments > .remove > svg {
        fill: $mainColor;
      }
    }

    > td {
      &.image > .sale-icon > svg, &.sale-icon > svg {
        fill: $mainColor;
      }

      &.comments > .remove {
        border-color: $secondaryColor;
      }

      &.line-special-details {
        color: $highlightColor;
      }
    }
  }

  &.rtl {
    .sp-list-items-wrapper table > tbody > tr.line {
      &:hover > td, &.focus-mode > td {
        &:first-child {
          box-shadow: $topBoxShadow, $bottomBoxShadow, $rightBoxShadow;
        }

        &:last-child {
          box-shadow: $topBoxShadow, $bottomBoxShadow, $leftBoxShadow;
        }
      }
    }
  }
}