<section class="cart" refresher="$root.config.language.id" ng-controller="SidenavKikarTemplateCtrl" aria-label="{{('shopping cart' | translate).replace('{cart}', $root.config.retailer.settings.setCartNameToBasket ? $root.config.retailer.settings.setCartNameToBasket : 'cart')
}}"
     ng-class="{
        'history-order-shown': sideNavCtrl.orderHistoryOpenPermanently || sideNavCtrl.orderHistoryOpen,
        'history-order-not-loaded': !sideNavCtrl.historyOrder,
        'orders-history-shown': sideNavCtrl.ordersHistoryOpen,
        'edit-order-shown': sideNavCtrl.ordersService.orderInEdit
     }" ng-init="sideNavCtrl.reloadCart()">
    <header>
        <div class="data">
            <div class="number-of-items">
                <span class="number" ng-class="{'enlarged-font': $root.cart.total.lines < 100}">{{$root.cart.total.lines}}<span class="sr-only-element">{{$root.cart.total.lines === 1 ? 'item' : 'items' | translate}}</span></span>
                <svg focusable="false">
                    <use xlink:href="#sp-icons-cart"></use>
                </svg>
            </div>
            <div class="price">
                <span class="sr-only-element">{{'cart_total' | translate}}</span>
                {{$root.config.retailer.settings.includeDeliveryFeeInCart === 'true' && !sideNavCtrl.isEmptyObjectWithDelivery($root.cart.lines)
                && sideNavCtrl.deliveryCheckoutOrServiceFee ? ($root.cart.total.finalPriceForViewWithDeliveryFee || sideNavCtrl.finalPriceForViewWithDeliveryFee | currency) :
                ($root.cart.total.finalPriceForView | currency)}}
            </div>
            <button class="no-design" ng-click="sideNavCtrl.checkoutV2();" ng-disabled="!$root.cart.total.actualLines">{{(sideNavCtrl.ordersService.orderInEdit ? 'Update Order' : 'Checkout') | translate}}</button>
        </div>
        <div class="edit-order">
            <span class="for-vertical-align"></span>
            <div class="details">
                <div>{{('Order Id' | translate) + ': ' + sideNavCtrl.ordersService.orderInEdit.id}}</div>
                <div ng-if="sideNavCtrl.ordersService.orderInEdit.deliveryTimeTypeId !== $root.DELIVERY_TIMES_TYPES.DELIVERY_WITHIN_DAYS">
                    {{sideNavCtrl.ordersService.orderInEdit.shippingTimeFrom | date:'EEEE':'UTC' | translate}},
                    <span ng-if="!$root.config.retailer.twoHourLaw || sideNavCtrl.ordersService.orderInEdit.branchDeliveryTypeId != $root.SP_SERVICES.DELIVERY_TYPES.DELIVERY">
                        {{(sideNavCtrl.ordersService.orderInEdit.shippingTimeFromDisplay || sideNavCtrl.ordersService.orderInEdit.shippingTimeFrom) | date:($root.config.isUs ? 'hh:mma' : 'HH:mm'):'UTC'}}
                        -
                        {{sideNavCtrl.ordersService.orderInEdit.shippingTimeTo | date:($root.config.isUs ? 'hh:mma' : 'HH:mm'):'UTC'}}
                    </span>
                    <span ng-if="$root.config.retailer.twoHourLaw && sideNavCtrl.ordersService.orderInEdit.branchDeliveryTypeId == $root.SP_SERVICES.DELIVERY_TYPES.DELIVERY">
                        {{(sideNavCtrl.ordersService.orderInEdit.shippingTimeFromDisplay || sideNavCtrl.ordersService.orderInEdit.shippingTimeFrom) | date:($root.config.isUs ? 'hh:mma' : 'HH:mm'):'UTC'}}
                    </span>
                </div>
                <div ng-if="sideNavCtrl.ordersService.orderInEdit.deliveryTimeTypeId === $root.DELIVERY_TIMES_TYPES.DELIVERY_WITHIN_DAYS">
                    {{sideNavCtrl.ordersService.orderInEdit.shippingTimeFrom | date:($root.config.isUs ? 'MM.dd.yyyy' : 'dd.MM.yyyy'):'UTC' }},<br/>
                    {{'Within' | translate}} {{::sideNavCtrl.ordersService.orderInEdit.deliveryTimeDaysRange}} {{'business days' | translate}}
                </div>
            </div>
            <button class="no-design right" ng-bind="::'Cancel Update' | translate" ng-click="sideNavCtrl.editOrderCancel();"></button>
        </div>
        <button class="previous-orders no-design" ng-click="sideNavCtrl.toggleOrdersHistory()" ng-disabled="sideNavCtrl.ordersService.orderInEdit.id">
            <div class="remove" tabindex="0" ng-if="$root.cart.total.lines && !sideNavCtrl.ordersHistoryOpen"
            aria-label="{{'Delete shopping cart' | translate}}" ng-click="$event.stopPropagation(); sideNavCtrl.clearCart()">
                <svg focusable="false" class="clear-cart-icon">
                    <use xlink:href="#sp-icons-remove"></use>
                </svg>
            </div>
            <span class="for-vertical-align"></span><!--
            --><span ng-if="!sideNavCtrl.ordersService.orderInEdit.id">
                <span>{{'Previous Orders' | translate}}</span>
                <svg focusable="false">
                    <use xlink:href="" ng-attr-xlink:href="{{'#sp-icons-' + (sideNavCtrl.ordersHistoryOpen ? 'clear-search' : 'drag-to-open')}}"></use>
                </svg>
            </span>
        </button>
        <button class="no-design toggle" ng-click="sideNavCtrl.toggleCart();" aria-expanded="{{!sideNavCtrl.isCartClosed}}">
            <svg focusable="false" aria-labelledby="toggle_cart_title" role="img">
                <title id="toggle_cart_title">{{ sideNavCtrl.isCartClosed ? ('open cart' | translate) : ('close cart' | translate)}}</title>
                <use xlink:href="#sp-icons-arrow-up"></use>
            </svg>
        </button>
    </header>
    <section class="collapsible">
        <div class="motivation-message">
            <button class="promotion" ng-if="$root.util.isRetailerPromotionActive()" ng-click="$root.util.openPromotionDialog();">
                {{$root.config.retailer.promotion.name}}
            </button>
        </div>
        <section class="lets-adding-items" ng-if="!$root.cart.total.actualLines && !$root.cart.total.coupons && !sideNavCtrl.updatedOrder && !$root.config.retailer.isSmartListDisplayEnabled">
            <h4>{{"Let\'s start" | translate}}</h4>
            <h3>{{'Adding some items' | translate}}</h3>
            <svg focusable="false" class="arrow">
                <use xlink:href="#sp-icons-cart-adding-some-items"></use>
            </svg>
        </section>

        <section class="lets-adding-items empty-cart-smart-list" ng-if="!$root.cart.total.actualLines && !$root.cart.total.coupons && !sideNavCtrl.updatedOrder && !sideNavCtrl.editOrderCancelled && $root.config.retailer.isSmartListDisplayEnabled && sideNavCtrl.cartIsEmpty === true">
            <h4>{{'Your time is precious' | translate}}!</h4>
            <h5>{{'We have prepared a list of products you usually purchase' | translate}}</h5>
            <button ng-click="sideNavCtrl.goToSmartList()">
                <span>{{'Add products from the list' | translate}}</span>
            </button>
        </section>

        <section class="orders-history">
            <h1 class="title">{{'Choose an order' | translate}}</h1>
            <div class="orders-list-wrapper">
                <div class="order-in-history" ng-repeat="order in sideNavCtrl.ordersHistory"
                     ng-click="sideNavCtrl.openHistoryOrder(order.id, true)" ng-class="{open: sideNavCtrl.openHistoryOrderId == order.id}"
                     ng-mouseenter="sideNavCtrl.openHistoryOrder(order.id)" ng-mouseleave="sideNavCtrl.closeOrderHistory()">
                    <svg focusable="false" class="arrow-icon" aria-labelledby="arrow_icon_title" role="img">
                        <title id="arrow_icon_title">{{'show order' | translate}}</title>
                        <use xlink:href="#sp-icons-arrow-left"></use>
                    </svg><!--
                    --><span class="items-count-wrapper">
                        <span class="items-count">
                            <span class="for-vertical-align"></span><!--
                            --><span>{{order.itemsCount}}</span>
                        </span>
                        <svg focusable="false">
                            <use xlink:href="#sp-icons-order-items"></use>
                        </svg>
                    </span><!--
                    --><span class="order-data creative-font-family">
                        <span class="day">{{order.timePlaced | date:'EEEE':'UTC' | translate}}</span>
                        <span class="date">{{order.timePlaced | date:($root.config.isUs ? 'MM/dd/yyyy' : 'dd/MM/yyyy'):'UTC'}}</span>
                    </span>
                </div>
                <button ng-click="sideNavCtrl.addOrdersHistoryChunk()" ng-if="sideNavCtrl.ordersHistoryTotal && sideNavCtrl.ordersHistoryTotal != sideNavCtrl.ordersHistory.length">
                    {{'Load More' | translate}}
                </button>
            </div>
        </section>

        <section class="updated-order" ng-show="sideNavCtrl.updatedOrder && !$root.cart.total.actualLines && !$root.cart.total.coupons">
            <svg focusable="false">
                <use xlink:href="#sp-icons-v-circle"></use>
            </svg><!--
            --><h2 class="order-details">{{'Your Order' | translate}}<br/>{{'has been Updated' | translate}}</h2>
            <div class="order-number">
                {{'Order ID' | translate}}: {{sideNavCtrl.updatedOrder.id}}
            </div>
            <div class="order-text">
                {{'Please check your email for order details' | translate}}.<br/>
                {{'Thank you' | translate}}!
            </div>
        </section>
        <section class="cart cart-scrollable" ng-if="$root.cart.total.actualLines || $root.cart.total.coupons" ng-class="{'new-promotion': $root.config.retailer.settings.isNewPromotionDesignEnabled === 'true'}">
            <div class="delivery-item" ng-if="$root.config.retailer.settings.includeDeliveryFeeInCart === 'true' && $root.config.deliveryAreaPrice">
                <div ng-if="line.type == $root.SP_SERVICES.CART_LINE_TYPES.DELIVERY && line.id > 0"
                     ng-repeat="(id, line) in $root.cart.lines">
                    <div class="delivery-fee" ng-click="sideNavCtrl.openDeliveryFeePopup()">
                        <span class="label">{{'delivery_type_' + $root.config.getBranchArea().deliveryTypeId + '_fee' | translate}}</span>
                        <span class="price">
                            <span ng-if="!(line.totalPriceForView > 0 || line.product.branch.regularPrice)">0.00</span>
                            <sp-product-price class="reverse-text-align"
                                                              ng-if="line.totalPriceForView > 0 || line.product.branch.regularPrice"
                                                              regular-price="line.removed ? (line.product | regularPrice: line.isCase) : line.totalPriceForView"
                                                              sale-price="line.removed ? (line.product | salePrice: line.isCase) : line.finalPriceForView"
                                                              product="line.removed && line.product"
                                                              type="line.type"
                                                              ng-class="{'disabled': line.isProductOutOfStock}"
                                                              show-disclaimer-on-cart-pages="$root.config.retailer.settings.showPriceWithoutBottleDeposit"
                                                              hide-normalize-price="true">
                                </sp-product-price></span>
                    </div>
                    <div class="delivery-fee-explain" ng-if="$root.config.retailer.settings.legalTermsDeliveryText">
                        <span ng-bind-html="$root.config.retailer.settings.legalTermsDeliveryText"></span>
                    </div>
                    <div class="delivery-fee-explain" ng-if="!$root.config.retailer.settings.legalTermsDeliveryText">
                        <span>{{'delivery-fee-explain-default' | translate}}</span>
                    </div>
                </div>
            </div>

            <div ng-if="!sideNavCtrl.sortCartByCategories && (line.type == $root.SP_SERVICES.CART_LINE_TYPES.PRODUCT || line.type == $root.SP_SERVICES.CART_LINE_TYPES.COUPON || line.type == $root.SP_SERVICES.CART_LINE_TYPES.REGISTER_LOYALTY)"
                 id="sidenav_line_{{line.$key}}"
                 class="product-in-cart sp-quantity-actions-on-hover"
                 ng-repeat="line in $root.cart.lines | orderObjectBy:'sort' track by line.id" sp-in-view-watcher fixedScrollParent="true" sp-in-view-watcher-refresh-on="['cart.lines.add', 'cart.lines.remove', 'cart.update.complete']"
                 ng-class="{'removed sp-quantity-hide-actions': line.removed && !line.isProductOutOfStock, 'out-stock': line.isProductOutOfStock, 'coupon': line.type == $root.SP_SERVICES.CART_LINE_TYPES.COUPON}"
                 ng-hide="line.isHideFromCart"
                 ng-click="line.type === $root.SP_SERVICES.CART_LINE_TYPES.PRODUCT && line.product && !line.isProductOutOfStock && $root.util.openProduct(line.product)"
                 aria-label="{{(line.product.names | name).short}}" sp-focus-in
                 tabindex="0"
                 role="presentation"
                 ng-mouseenter="sideNavCtrl.toggleProductActions('mouseenter', line.id)"
                 ng-mouseleave="sideNavCtrl.toggleProductActions('mouseleave', line.id)">
                <button ng-hide="line.type != $root.SP_SERVICES.CART_LINE_TYPES.DELIVERY"
                        ng-if="!sideNavCtrl.ordersService.orderInEdit || line.type !== $root.SP_SERVICES.CART_LINE_TYPES.REGISTER_LOYALTY"
                        aria-label="{{(line.product.names | name).short}}"
                        tabindex="0"
                        role="application"
                        sp-click-event="line.type === $root.SP_SERVICES.CART_LINE_TYPES.PRODUCT && line.product && !line.isProductOutOfStock && $root.util.openProduct(line.product)">
                </button>
                <button ng-if="!sideNavCtrl.ordersService.orderInEdit || line.type !== $root.SP_SERVICES.CART_LINE_TYPES.REGISTER_LOYALTY"
                        class="no-design remove"
                        ng-keydown="$event.stopPropagation();"
                        ng-click="$root.cart.removeLine(line); $event.stopPropagation();">
                    <svg focusable="false" aria-labelledby="remove_line_title" role="img">
                        <title id="remove_line_title">{{'remove' | translate}}</title>
                        <use xlink:href="#sp-icons-remove"></use>
                    </svg>
                </button>

                <div class="removed" ng-click="$event.stopPropagation();">
                    <span class="for-vertical-align"></span><!--
                    --><span class="text">
                        {{'Removed' | translate}}
                    </span><!--
                    --><button class="no-design" ng-click="$root.cart.addLine(line)">
                        {{'Restore' | translate}}
                    </button>
                </div>

                <div class="product-content"
                     ng-if="line.type === $root.SP_SERVICES.CART_LINE_TYPES.PRODUCT || line.type === $root.SP_SERVICES.CART_LINE_TYPES.REGISTER_LOYALTY">
                    <img class="product-main-tag-icon" ng-if="line.product | productMainTag:$root.PermanentFilters.values[$root.PermanentFilters.TYPES.PRODUCT_TAGS]"
                         ng-src="{{(line.product | productMainTag:$root.PermanentFilters.values[$root.PermanentFilters.TYPES.PRODUCT_TAGS]).languages | name:'iconResourceUrl'}}"
                         alt="{{(line.product | productMainTag:$root.PermanentFilters.values[$root.PermanentFilters.TYPES.PRODUCT_TAGS]).languages | name:'displayName'}}"/>
                    <div class="quantity-wrapper"
                         ng-click="$event.stopPropagation();"
                         tabindex="-1">
                        <span class="product-actions-wrapper" ng-if="!line.isProductOutOfStock">
                            <span class="for-vertical-align"></span><!--
                            --><product-actions
                                line="line"
                                product="line.product"
                                mode="portrait"
                                sp-aria-live="true">
                               </product-actions>
                        </span>

                        <span class="for-vertical-align"></span><!--
                        --><sp-cart-line-count line="line" text-before=""></sp-cart-line-count>
                    </div><!--
                    --><div class="data" ng-class="{'disabled': line.isProductOutOfStock}">
                        <div class="brand-and-weight">
                            <span class="brand">
                                {{line.product.brand.names | name}}
                            </span>
                            <span class="weight" ng-if="(!!line.soldBy && $root.util.isUnitsWeighable(line.product) && line.soldBy === $root.PRODUCT_DISPLAY.UNIT.name) || !line.soldBy">
                                {{line.product.brand.names && line.product.weight ? ' | ' : ''}}
                                {{line.product | productWeight:product.isCaseMode}}
                            </span>
                        </div>
                        <div class="name" ellipsis title="{{line.product ? (line.product | productName:line.isCase) : line.name}}"></div>

                        <sp-unit-weight class="hover-action" product="line.product" cart-line="line" ng-if="line.product.productDisplayModeId === $root.PRODUCT_DISPLAY.WEIGHT_AND_UNIT.id && $root.config.retailer.enableSwitchUnitWeight && $root.util.isUnitsWeighable(line.product)" ng-click="$event.stopPropagation();" product-id="line.product.id"></sp-unit-weight>

                        <sp-product-price class="reverse-text-align"
                                          ng-class="{'disabled': line.isProductOutOfStock}"
                                          regular-price="line.removed ? (line.product | regularPrice: line.isCase) : line.totalPriceForView"
                                          sale-price=" line.removed ? (line.product | salePrice: line.isCase) : line.finalPriceForView"
                                          product="line.removed && line.product"
                                          type="line.type"
                                          hide-normalize-price="true"
                                          show-disclaimer-on-cart-pages="$root.config.retailer.settings.showPriceWithoutBottleDeposit"></sp-product-price>
                        <button class="no-design add-comment" ng-click="$event.stopPropagation(); line._showSideNavComments = true;"
                                ng-if="!line.removed && !line.isProductOutOfStock && !line.comments && !line._showSideNavComments">
                            <svg focusable="false">
                                <use xlink:href="#sp-icons-edit"></use>
                            </svg>
                            {{::'Add Comment' | translate}}
                        </button>
                    </div><!--
                    --><div class="image">
                    <svg focusable="false" class="sale-icon" aria-labelledby="sale_icon_title" role="img" ng-class="{'club-icon': sideNavCtrl.checkLineLoyaltyGift(line)}"
                         ng-if="line.totalPriceForView !== line.finalPriceForView && !line.isProductOutOfStock && !line.isPseudo && $root.config.retailer.settings.isNewPromotionDesignEnabled !== 'true'">
                        <title id="sale_icon_title">{{(sideNavCtrl.checkLineLoyaltyGift(line) ? 'club ' : '') + 'sale' | translate}}</title>
                        <use xlink:href=""
                             ng-attr-xlink:href="{{'#sp-icons-' + (sideNavCtrl.checkLineLoyaltyGift(line) ? 'sale-club' : 'sale') + '%translate%' | translateImage:{'he': '-he'} }}"></use>
                    </svg>
                    <product-image in-cart-suggestion="true"
                                   simple-image="true"
                                   product="line.product"
                                   image-url="line.product.image.url"
                                   size="small"
                                   is-product-out-of-stock="{{line.isProductOutOfStock}}"
                                   is-need-to-show-out-of-stock-label="{{line.isNeedToShowOutOfStockLabel}}" 
                                   alt="{{line.product ? (line.product | productName:line.isCase) : line.name}}">
                    </product-image>
                    </div>
                    <sp-promotion product="line.product" is-cart="true" ng-if="$root.util.filterProductSpecials(line.product.branch).length && $root.config.retailer.settings.isNewPromotionDesignEnabled === 'true'"></sp-promotion>
                </div>

                <div class="coupon-content" ng-if="line.type === $root.SP_SERVICES.CART_LINE_TYPES.COUPON && !line.isProductOutOfStock">
                    <div class="error"
                         ng-if="$root.cart.specialReminders.onCoupons[line.product.branch.specials[0].id] && !$root.cart.specialReminders.onCoupons[line.product.branch.specials[0].id].awarded"
                         ng-mouseover="sideNavCtrl.setErrorTooltipPosition($event, 203)" ng-focus="sideNavCtrl.setErrorTooltipPosition($event, 203)"
                         ng-mouseleave="sideNavCtrl.errorTooltipStyle = {}" ng-blur="sideNavCtrl.errorTooltipStyle = {}">
                        <div class="error-tooltip"
                             ng-style="sideNavCtrl.errorTooltipStyle"
                             ng-if="$root.userCouponsById[line.product.id] && $root.userCouponsById[line.product.id].description">
                            <div class="title">{{$root.userCouponsById[line.product.id].couponName || $root.userCouponsById[line.product.id].localName}}</div>
                            <div class="description">{{$root.userCouponsById[line.product.id].description}}</div>
                        </div>
                        <span class="text" ng-bind="::('coupon_requirements_error' | translate)"></span>
                        <span class="question-mark" ng-if="$root.userCouponsById[line.product.id] && $root.userCouponsById[line.product.id].description">?</span>
                    </div>
                    <div class="data">
                        <div class="coupon-icon" ng-class="{'disabled': line.isCouponActive === false}">
                            <svg focusable="false" class="icon">
                                <use xlink:href="#sp-icons-coupon-indication"></use>
                            </svg>
                            <span class="audience"
                                  ng-init="special = $root.util.filterProductSpecials(line.product.branch)[0]"
                                  ng-if="special.icons[special.loyaltyClubsIds[0]][$root.config.language.id].description || special.icons[special.loyaltyClubsIds[0]][2].description"
                                  ng-bind="special.icons[special.loyaltyClubsIds[0]][$root.config.language.id].description || special.icons[special.loyaltyClubsIds[0]][2].description">
                            </span>
                            <img class="audience"
                                 ng-if="line.product | productMainTag:$root.PermanentFilters.values[$root.PermanentFilters.TYPES.PRODUCT_TAGS]"
                                 ng-src="{{(line.product | productMainTag:$root.PermanentFilters.values[$root.PermanentFilters.TYPES.PRODUCT_TAGS]).languages | name:'iconResourceUrl'}}"
                                 alt="{{(line.product | productMainTag:$root.PermanentFilters.values[$root.PermanentFilters.TYPES.PRODUCT_TAGS]).languages | name:'displayName'}}" />
                        </div>
                        <div class="name" title="{{:: line.product | productName:line.isCase:'long'}}"
                             ng-class="{'disabled': line.isCouponActive === false}"
                             ng-bind=":: line.product | productName:line.isCase:'long'"></div>
                        <div ng-if="line.isCouponActive === false"  class="coupon-expired">{{'Expired' | translate}}</div>
                    </div>
                    <button ng-if="$root.cart.specialReminders.onCoupons[line.product.branch.specials[0].id].showProductsFrom && line.isCouponActive"
                            class="add-items" ng-class="{link: $root.cart.specialReminders.onCoupons[line.product.branch.specials[0].id].awarded}"
                            ng-click="$root.util.showCouponDetailsDialog(line.product);">
                        {{couponReminder = $root.cart.specialReminders.onCoupons[line.product.branch.specials[0].id];""}}
                        <span ng-if="couponReminder.purchaseType === 1"
                              ng-bind="(( (couponReminder.remaining === 1 && 'add_unit_cart_coupon') 
                                              || ($root.COUPON_MEANINGLESS_REMAINING_VALUES.includes(couponReminder.remaining) && 'Add Products') 
                                              || 'add_units_cart_coupon')  | translate).replace('{remaining}', couponReminder.remaining)">
                        </span>
                        <span ng-if="couponReminder.purchaseType === 2"
                              ng-bind="('add_currency_cart_coupon' | translate).replace('{remaining}', couponReminder.remaining | currency)">
                        </span>
                        <span ng-if="couponReminder.purchaseType === 3"
                              ng-bind="('add_measure_cart_coupon' | translate).replace('{remaining}', couponReminder.remaining).replace('{unit}', $root.defaultWeightUnit.names[$root.config.language.id])">
                        </span>
                        <span ng-if="!couponReminder.purchaseType"
                              ng-bind="'Add Products' | translate">
                        </span>
                    </button>
                    <svg ng-if="$root.couponsWithPoints.includes(line.product.id) && !$root.config.retailer.settings.loyaltyPointsIcon">
                        <use xlink:href="#sp-icons-coupon-coin"></use>
                    </svg>
                    <img ng-if="$root.couponsWithPoints.includes(line.product.id) && $root.config.retailer.settings.loyaltyPointsIcon" ng-src="{{$root.config.retailer.settings.loyaltyPointsIcon}}" />
                </div>

                <sp-cart-line-comments
                    ng-if="line.type === $root.SP_SERVICES.CART_LINE_TYPES.PRODUCT"
                    sp-line="line"
                    sp-text-area="true"
                    sp-hide="!line.comments && !line._showSideNavComments"
                    sp-blur="line._showSideNavComments = false"
                    sp-set-focus="line._showSideNavComments"
                    show-product-property="true">
                </sp-cart-line-comments>
            </div>

            <div ng-if="sideNavCtrl.sortCartByCategories" class="products product-by-category products-scrollable-wrapper" ng-class="{'has-delivery-item': $root.config.retailer.settings.includeDeliveryFeeInCart === 'true' && $root.config.deliveryAreaPrice}">
                <div class="product-by-category-outer" ng-repeat="items in sideNavCtrl.sortedCartByTree">
                    <div class="product-by-category-outer-name">
                        {{items[0].type === 3 ? ('Coupons' | translate) : ''}}
                        {{items[0].isPseudo ? items[0].product.categories && items[0].product.categories[0] ? (items[0].product.categories[0].names | name) : ('Unknown' | translate) : (items[0].product.family.categories[0].names | name)}}
                    </div>
                    <div class="product-in-cart sp-quantity-actions-on-hover"
                         id="sidenav_line_{{line.$key}}"
                         ng-repeat="line in items"
                         ng-class="{'removed sp-quantity-hide-actions': line.removed && !line.isProductOutOfStock, 'out-stock': line.isProductOutOfStock, 'coupon': line.type == $root.SP_SERVICES.CART_LINE_TYPES.COUPON}"
                         ng-if="line.type == $root.SP_SERVICES.CART_LINE_TYPES.PRODUCT || line.type == $root.SP_SERVICES.CART_LINE_TYPES.COUPON || line.type == $root.SP_SERVICES.CART_LINE_TYPES.REGISTER_LOYALTY"
                         ng-hide="line.isHideFromCart"
                         aria-label="{{(line.product.names | name).short}}"
                         tabindex="0"
                         role="application"
                         sp-in-view-watcher fixedScrollParent="true"
                         sp-in-view-watcher-refresh-on="['sidenav.cart.refresh']"
                         sp-click-event="line.type === $root.SP_SERVICES.CART_LINE_TYPES.PRODUCT && line.product && !line.isProductOutOfStock && $root.util.openProduct(line.product)"
                         ng-init="sideNavCtrl.scrollToAffectedLine(line.id, '.products-scrollable-wrapper')"
                         ng-mouseenter="sideNavCtrl.toggleProductActions('mouseenter', line.id)"
                         ng-focus="sideNavCtrl.toggleProductActions('focus', line.id)"
                         ng-blur="sideNavCtrl.toggleProductActions('blur', line.id)"
                         ng-mouseleave="sideNavCtrl.toggleProductActions('mouseleave', line.id)">
                        <button ng-if="!sideNavCtrl.ordersService.orderInEdit || line.type !== $root.SP_SERVICES.CART_LINE_TYPES.REGISTER_LOYALTY"
                                class="no-design remove"
                                ng-keydown="$event.stopPropagation();"
                                ng-click="$root.cart.removeLine(line); $event.stopPropagation();">
                            <svg focusable="false" aria-labelledby="remove_line_title" role="img">
                                <title id="remove_line_title">{{'remove' | translate}}</title>
                                <use xlink:href="#sp-icons-remove"></use>
                            </svg>
                        </button>

                        <div class="removed" ng-click="$event.stopPropagation();">
                            <span class="for-vertical-align"></span><!--
                    --><span class="text">
                        {{'Removed' | translate}}
                    </span><!--
                    --><button class="no-design" ng-click="$root.cart.addLine(line)">
                            {{'Restore' | translate}}
                        </button>
                        </div>

                        <div class="product-content" ng-if="line.type === $root.SP_SERVICES.CART_LINE_TYPES.PRODUCT || line.type === $root.SP_SERVICES.CART_LINE_TYPES.REGISTER_LOYALTY">
                            <img class="product-main-tag-icon" ng-if="line.product | productMainTag:$root.PermanentFilters.values[$root.PermanentFilters.TYPES.PRODUCT_TAGS]"
                                 ng-src="{{(line.product | productMainTag:$root.PermanentFilters.values[$root.PermanentFilters.TYPES.PRODUCT_TAGS]).languages | name:'iconResourceUrl'}}"
                                 alt="{{(line.product | productMainTag:$root.PermanentFilters.values[$root.PermanentFilters.TYPES.PRODUCT_TAGS]).languages | name:'displayName'}}"/>
                            <div class="quantity-wrapper"
                                 ng-click="$event.stopPropagation();"
                                 role="none"
                                 tabindex="-1">
                                <span class="product-actions-wrapper" ng-if="!line.isProductOutOfStock">
                                    <span class="for-vertical-align"></span><!--
                                    --><product-actions
                                        line="line"
                                        product="line.product"
                                        mode="portrait"
                                        sp-aria-live="true">
                                    </product-actions>
                                </span>

                                <span class="for-vertical-align"></span><!--
                                --><sp-cart-line-count line="line" text-before=""></sp-cart-line-count>
                            </div><!--
                            --><div class="data" ng-class="{'disabled': line.isProductOutOfStock}">
                                <div class="brand-and-weight">
                                    <span class="brand">
                                        {{line.product.brand.names | name}}
                                    </span>
                                    <span class="weight" ng-if="(!!line.soldBy && $root.util.isUnitsWeighable(line.product) && line.soldBy === $root.PRODUCT_DISPLAY.UNIT.name) || !line.soldBy">
                                        {{line.product.brand.names && line.product.weight ? ' | ' : ''}}
                                        {{line.product | productWeight:product.isCaseMode}}
                                    </span>
                                </div>
                                <div class="name" ellipsis title="{{line.product ? (line.product | productName:line.isCase) : line.name}}"></div>

                                <sp-unit-weight class="hover-action" ng-class="{'removed': line.removed}" product="line.product" cart-line="line" ng-if="line.product.productDisplayModeId === $root.PRODUCT_DISPLAY.WEIGHT_AND_UNIT.id && $root.config.retailer.enableSwitchUnitWeight && $root.util.isUnitsWeighable(line.product)" ng-click="$event.stopPropagation();" product-id="line.product.id"></sp-unit-weight>
                                
                                <sp-product-price class="reverse-text-align"
                                              ng-class="{'disabled': line.isProductOutOfStock}"
                                              regular-price="line.removed ? (line.product | regularPrice: line.isCase) : line.totalPriceForView"
                                              sale-price=" line.removed ? (line.product | salePrice: line.isCase) : line.finalPriceForView"
                                              product="line.removed && line.product"
                                              type="line.type"
                                                  show-disclaimer-on-cart-pages="$root.config.retailer.settings.showPriceWithoutBottleDeposit"
                                              hide-normalize-price="true"></sp-product-price>
                                <button class="no-design add-comment" ng-click="$event.stopPropagation(); line._showSideNavComments = true;"
                                    ng-if="!line.removed && !line.isProductOutOfStock && !line.comments && !line._showSideNavComments">
                                    <svg focusable="false">
                                        <use xlink:href="#sp-icons-edit"></use>
                                    </svg>
                                    {{::'Add Comment' | translate}}
                                </button>
                            </div><!--
                    --><div class="image">
                            <svg focusable="false" class="sale-icon" aria-labelledby="sale_icon_title" role="img" ng-class="{'club-icon': sideNavCtrl.checkLineLoyaltyGift(line)}"
                                 ng-if="line.totalPriceForView !== line.finalPriceForView && !line.isProductOutOfStock && !line.isPseudo && $root.config.retailer.settings.isNewPromotionDesignEnabled !== 'true'">
                                <title id="sale_icon_title">{{(sideNavCtrl.checkLineLoyaltyGift(line) ? 'club ' : '') + 'sale' | translate}}</title>
                                <use xlink:href=""
                                     ng-attr-xlink:href="{{'#sp-icons-' + (sideNavCtrl.checkLineLoyaltyGift(line) ? 'sale-club' : 'sale') + '%translate%' | translateImage:{'he': '-he'} }}"></use>
                            </svg>
                            <product-image simple-image="true"
                                           product="line.product"
                                           image-url="line.product.image.url"
                                           size="small"
                                           is-product-out-of-stock="{{line.isProductOutOfStock}}"
                                           is-need-to-show-out-of-stock-label="{{line.isNeedToShowOutOfStockLabel}}"
                                           alt="{{line.product ? (line.product | productName:line.isCase) : line.name}}">
                            </product-image>
                        </div>
                        <sp-promotion product="line.product" is-cart="true" ng-if="$root.util.filterProductSpecials(line.product.branch).length && $root.config.retailer.settings.isNewPromotionDesignEnabled === 'true'"></sp-promotion>
                        </div>

                        <div class="coupon-content" ng-if="line.type === $root.SP_SERVICES.CART_LINE_TYPES.COUPON && !line.isProductOutOfStock">
                            <div class="error"
                                 ng-if="$root.cart.specialReminders.onCoupons[line.product.branch.specials[0].id] && !$root.cart.specialReminders.onCoupons[line.product.branch.specials[0].id].awarded"
                                 ng-mouseover="sideNavCtrl.setErrorTooltipPosition($event, 203)" ng-focus="sideNavCtrl.setErrorTooltipPosition($event, 203)"
                                 ng-mouseleave="sideNavCtrl.errorTooltipStyle = {}" ng-blur="sideNavCtrl.errorTooltipStyle = {}">
                                <div class="error-tooltip"
                                     ng-style="sideNavCtrl.errorTooltipStyle"
                                     ng-if="$root.userCouponsById[line.product.id] && $root.userCouponsById[line.product.id].description">
                                    <div class="title">{{$root.userCouponsById[line.product.id].couponName || $root.userCouponsById[line.product.id].localName}}</div>
                                    <div class="description">{{$root.userCouponsById[line.product.id].description}}</div>
                                </div>
                                <span class="text" ng-bind="::('coupon_requirements_error' | translate)"></span>
                                <span class="question-mark" ng-if="$root.userCouponsById[line.product.id] && $root.userCouponsById[line.product.id].description">?</span>
                            </div>
                            <div class="data">
                                <div class="coupon-icon" ng-class="{'disabled': line.isCouponActive === false}">
                                    <svg focusable="false" class="icon">
                                        <use xlink:href="#sp-icons-coupon-indication"></use>
                                    </svg>
                                    <span class="audience"
                                          ng-init="special = $root.util.filterProductSpecials(line.product.branch)[0]"
                                          ng-if="special.icons[special.loyaltyClubsIds[0]][$root.config.language.id].description || special.icons[special.loyaltyClubsIds[0]][2].description"
                                          ng-bind="special.icons[special.loyaltyClubsIds[0]][$root.config.language.id].description || special.icons[special.loyaltyClubsIds[0]][2].description">
                                    </span>
                                    <img class="audience"
                                         ng-if="line.product | productMainTag:$root.PermanentFilters.values[$root.PermanentFilters.TYPES.PRODUCT_TAGS]"
                                         ng-src="{{(line.product | productMainTag:$root.PermanentFilters.values[$root.PermanentFilters.TYPES.PRODUCT_TAGS]).languages | name:'iconResourceUrl'}}"
                                         alt="{{(line.product | productMainTag:$root.PermanentFilters.values[$root.PermanentFilters.TYPES.PRODUCT_TAGS]).languages | name:'displayName'}}" />
                                </div>
                                <div class="name" title="{{:: line.product | productName:line.isCase:'long'}}"
                                     ng-class="{'disabled': line.isCouponActive === false}"
                                     ng-bind=":: line.product | productName:line.isCase:'long'"></div>
                                <div ng-if="line.isCouponActive === false"  class="coupon-expired">{{'Expired' | translate}}</div>
                            </div>
                            <button ng-if="$root.cart.specialReminders.onCoupons[line.product.branch.specials[0].id].showProductsFrom && line.isCouponActive"
                                    class="add-items" ng-class="{link: $root.cart.specialReminders.onCoupons[line.product.branch.specials[0].id].awarded}"
                                    ng-click="$root.util.showCouponDetailsDialog(line.product);">
                                    {{couponReminder = $root.cart.specialReminders.onCoupons[line.product.branch.specials[0].id];""}}
                                <span ng-if="couponReminder.purchaseType === 1"
                                      ng-bind="(( (couponReminder.remaining === 1 && 'add_unit_cart_coupon') 
                                      || ($root.COUPON_MEANINGLESS_REMAINING_VALUES.includes(couponReminder.remaining) && 'Add Products') 
                                      || 'add_units_cart_coupon')  | translate).replace('{remaining}', couponReminder.remaining)">
                                </span>
                                <span ng-if="couponReminder.purchaseType === 2"
                                      ng-bind="('add_currency_cart_coupon' | translate).replace('{remaining}', couponReminder.remaining | currency)">
                                </span>
                                <span ng-if="couponReminder.purchaseType === 3"
                                      ng-bind="('add_measure_cart_coupon' | translate).replace('{remaining}', couponReminder.remaining).replace('{unit}', $root.defaultWeightUnit.names[$root.config.language.id])">
                                </span>
                                <span ng-if="!couponReminder.purchaseType"
                                      ng-bind="'Add Products' | translate">
                                </span>
                            </button>
                            <svg ng-if="$root.couponsWithPoints.includes(line.product.id) && !$root.config.retailer.settings.loyaltyPointsIcon">
                                <use xlink:href="#sp-icons-coupon-coin"></use>
                            </svg>
                            <img ng-if="$root.couponsWithPoints.includes(line.product.id) && $root.config.retailer.settings.loyaltyPointsIcon" ng-src="{{$root.config.retailer.settings.loyaltyPointsIcon}}" />
                        </div>

                        <sp-cart-line-comments
                                ng-if="line.type === $root.SP_SERVICES.CART_LINE_TYPES.PRODUCT"
                                sp-line="line"
                                sp-text-area="true"
                                sp-hide="!line.comments && !line._showSideNavComments"
                                sp-blur="line._showSideNavComments = false"
                                sp-set-focus="line._showSideNavComments"
                                show-product-property="true">
                        </sp-cart-line-comments>
                    </div>
                </div>
            </div>

            <div class="special-reminders" ng-class="sideNavCtrl.isSpecialRemindersExpanded ? 'expanded' : 'collapse'">
                <div ng-repeat="(specialId, specialData) in $root.cart.specialReminders.inCart track by specialId"
                     ng-if="!specialData.isUsedRemainder"
                     class="special-reminder-wrapper" sp-in-view-watcher fixedScrollParent="true">
                    <div class="special-reminder">
                        <svg focusable="false" class="sale-icon" role="img">
                            <use ng-if="specialData.awarded && !specialData.showProductsFrom" xlink:href="#sp-icons-done"></use>
                            <use ng-if="!specialData.awarded || specialData.showProductsFrom" xlink:href=""
                                 ng-attr-xlink:href="{{'#sp-icons-sale%translate%' | translateImage:{'he': '-he'} }}"></use>
                        </svg>
                        <div class="data">
                            <div class="bold" ng-bind="(specialData.awarded ? (specialData.showProductsFrom ? 'Select your benefit' : 'special_reminder_awarded_bubble_title') : 'special_reminder_bubble_title') | translate"></div>
                            <div ng-bind="specialData.names && specialData.names[$root.config.language.culture] ? specialData.names[$root.config.language.culture] : specialData.description"></div>
                        </div>
                        <button ng-if="specialData.showProductsFrom" ng-bind=":: 'Select' | translate"
                                ng-click="$root.util.showSpecialDetailsDialog(specialId, specialData.showProductsFrom);"></button>
                    </div>
                </div>
                <button class="no-design" ng-click="sideNavCtrl.toggleSpecialReminders();"
                        ng-bind="('Show ' + (sideNavCtrl.isSpecialRemindersExpanded ? 'Less' : 'More') + ' Specials') | translate"
                        ng-if="sideNavCtrl.specialRemindersLength > 1"></button>
            </div>
        </section>

        <footer>
            <div class="you-save credit-customer" ng-if="$root.isCreditCustomer">
                <svg focusable="false" class="wallet-icon">
                    <use xlink:href="" ng-attr-xlink:href="{{'#sp-icons-wallet'}}"></use>
                </svg>
                <span class="text">{{'Remaining Credit' | translate}}:</span>
                <span class="price" ng-class="{'not-enough': $root.creditCustomerRemainingSum < $root.cart.total.finalPriceForView }">{{$root.creditCustomerRemainingSum | currency:' '}}</span>
            </div>
            <div class="you-save you-save-sale" ng-if="$root.cart.total.giftsForView && !$root.isCreditCustomer">
                <svg focusable="false">
                    <use xlink:href="" ng-attr-xlink:href="{{'#sp-icons-sale%translate%' | translateImage:{'he': '-he'} }}"></use>
                </svg>
                <span class="text">{{'You save' | translate}}:</span>
                <span class="price" ng-class="{'has-value': $root.cart.total.giftsForView}">{{$root.cart.total.giftsForView | currency}}</span>
            </div>
            <div class="you-save club-savings"
                 ng-if="$root.config.retailer.loyaltyClubDriver.isActive && $root.cart.total.clubsGiftsForView && !$root.isCreditCustomer">
                <svg focusable="false">
                    <use xlink:href="" ng-attr-xlink:href="{{'#sp-icons-sale-club%translate%' | translateImage:{'he': '-he'} }}"></use>
                </svg>
                <span class="text">{{'Membership savings' | translate}}:</span>
                <span class="price" ng-class="{'has-value': $root.cart.total.clubsGiftsForView}">
                    {{$root.cart.total.clubsGiftsForView | currency}}
                </span>
            </div>
            <div class="you-save club-savings" ng-if="$root.cart.total.colleagueForView">
                <span class="text">{{'Est. employee savings' | translate}}:</span>
                <span class="price">{{$root.cart.total.colleagueForView | currency}}</span>
            </div>
            <div class="you-save club-savings"
                 ng-if="$root.config.retailer.loyaltyClubDriver.isActive && !$root.cart.total.clubsGiftsForView && !sideNavCtrl.userData.loyaltyClubCardId && $root.cart.total.simulateClubsGiftsForView && !$root.isCreditCustomer">
                <svg focusable="false">
                    <use xlink:href="" ng-attr-xlink:href="{{'#sp-icons-sale-club%translate%' | translateImage:{'he': '-he'} }}"></use>
                </svg>
                <span class="text">{{'Could save' | translate}}:</span>
                <span class="price" ng-class="{'has-value': $root.cart.total.simulateClubsGiftsForView}">
                    {{$root.cart.total.simulateClubsGiftsForView | currency}}</span>
            </div>
            <div class="you-save club-savings" ng-if="$root.config.retailer.loyaltyClubDriver.isActive &&  $root.config.retailer.loyaltyClubDriver.clientConfig.showCashbackLabel && $root.cart.total.lines && !$root.isCreditCustomer">
                <svg focusable="false">
                    <use xlink:href="" ng-attr-xlink:href="{{'#sp-icons-sale-club%translate%' | translateImage:{'he': '-he'} }}"></use>
                </svg><!--
                --><span class="text saving-label" ng-bind-html="$root.util.getCashbackLabel((sideNavCtrl.userData.loyaltyClubCardId ?
                                            $root.config.retailer.loyaltyClubDriver.clientConfig.text.customerSavingLabel :
                                            $root.config.retailer.loyaltyClubDriver.clientConfig.text.customerCouldSaveLabel), $root.cart.total.finalPriceForView)"></span>
                <span class="join-or-connect" ng-if="!sideNavCtrl.userData.loyaltyClubCardId" ui-sref="app.userEdit.loyalty"
                      ng-bind="::(sideNavCtrl.userData.loyaltyVerificationStatus ? 'Connect' : 'Join') | translate"></span>
            </div>
            <div class="you-save multipass-discount" ng-if="!$root.isCreditCustomer && $root.cart.total.multiPassGift">
                <span class="text">{{'Estimated employee savings' | translate}}:</span>
                <span class="price">{{$root.cart.total.multiPassGift | currency}}</span>
            </div>

            <div class="have-point" id="loyalty-point" ng-if="!sideNavCtrl.isAccumulatedPointsDriver && sideNavCtrl.moneyToPoint && $root.config.retailer.loyaltyClubDriver.isActive && sideNavCtrl.loyaltyClubClientConfig && sideNavCtrl.loyaltyClubClientConfig.loyaltyPages.accumulatedPointElementInCartComponent.isActive"
                ng-style="{'background-color': sideNavCtrl.loyaltyClubClientConfig.loyaltyPages.accumulatedPointElementInCartComponent.backgroundColor, 'border-color': sideNavCtrl.loyaltyClubClientConfig.loyaltyPages.accumulatedPointElementInCartComponent.backgroundColor}">
                <span class="point-icon">
                    <img ng-src="{{sideNavCtrl.loyaltyClubClientConfig.loyaltyPages.visibility.clubPointIcon}}"
                        alt="{{'club' | translate}}" ng-if="sideNavCtrl.loyaltyClubClientConfig.loyaltyPages.visibility.clubPointIcon" />
                </span><!--
                                    --><span class="text"
                    ng-style="{'color': sideNavCtrl.loyaltyClubClientConfig.loyaltyPages.accumulatedPointElementInCartComponent.textColor}">{{sideNavCtrl.loyaltyClubClientConfig.loyaltyPages.accumulatedPointElementInCartComponent.textNames[$root.config.language.culture]}}</span>
                <span class="point-container">
                    <span class="point">{{sideNavCtrl.moneyToPoint}}</span>
                    <span ng-if="sideNavCtrl.loyaltyClubClientConfig.loyaltyPages.visibility.tex[$root.config.language.culture]">{{sideNavCtrl.loyaltyClubClientConfig.loyaltyPages.visibility.tex[$root.config.language.culture]}}</span>
                    <span ng-if="!sideNavCtrl.loyaltyClubClientConfig.loyaltyPages.visibility.tex[$root.config.language.culture]">{{'points' | translate}}</span>
                </span>
            </div>

            <div class="have-point" ng-if="sideNavCtrl.isAccumulatedPointsDriver"
                 ng-style="{'background-color': (sideNavCtrl.accumulatedPointsBgColor || '#fff'), 'border-color': (sideNavCtrl.accumulatedPointsBgColor || '#fff')}">
                <span class="point-icon">
                    <img ng-src="{{sideNavCtrl.clubPointIcon}}"
                         alt="{{'club' | translate}}" ng-if="sideNavCtrl.clubPointIcon"/>
                </span>
                <span class="text"
                      ng-style="{'color': sideNavCtrl.accumulatedPointsTextColor}">
                    {{sideNavCtrl.componentPointsText}}
                </span>
                <span class="point-container">
                    <span class="point">{{sideNavCtrl.moneyToPoint}}</span>
                    <span>{{sideNavCtrl.accumulatedPointsUnit}}</span>
                </span>
            </div>

            <button ng-class="{'includes-delivery-fee': $root.config.retailer.settings.includeDeliveryFeeInCart === 'true' && !sideNavCtrl.emptyObjectWithdelivery &&
                          $root.config.getBranchArea().deliveryTypeId && $root.config.deliveryAreaPrice}" class="checkout no-design checkout-price" ng-click="sideNavCtrl.checkoutV2();" ng-disabled="!$root.cart.total.actualLines">
                <span class="for-vertical-align"></span>
                <svg focusable="false" class="loading-wrapper">
                    <use xlink:href="#sp-icons-loading-circle"></use>
                </svg>
                <svg focusable="false" class="left refresh-icon">
                    <use xlink:href="#sp-icons-refresh"></use>
                </svg>
                <span class="text">{{(sideNavCtrl.ordersService.orderInEdit ? 'Update Order' : 'Checkout') | translate}}</span>
                <div class="price right price-wrap">
                    <span>{{$root.config.retailer.settings.includeDeliveryFeeInCart === 'true' && !sideNavCtrl.isEmptyObjectWithDelivery($root.cart.lines)
                        && sideNavCtrl.deliveryCheckoutOrServiceFee ? ($root.cart.total.finalPriceForViewWithDeliveryFee || sideNavCtrl.finalPriceForViewWithDeliveryFee | currency) :
                        ($root.cart.total.finalPriceForView | currency)}}</span>
                    <span ng-if="$root.config.retailer.settings.includeDeliveryFeeInCart === 'true' && !sideNavCtrl.isEmptyObjectWithDelivery($root.cart.lines) &&
                          $root.config.getBranchArea().deliveryTypeId && $root.config.deliveryAreaPrice"
                          class="delivery-info">{{'includes_delivery_type_' + $root.config.getBranchArea().deliveryTypeId + '_fee' | translate}}</span>
                </div>
            </button>

            <button ng-click="$root.util.openEditOrderDialog('TIMESLOT', false, sideNavCtrl.ordersService.orderInEdit.id);" class="checkout invert-color disabled-opacity no-design "
               ng-if="$root.util.isEnableUpdateTimeSlot()" 
               ng-disabled="!sideNavCtrl.isCanUpdateTimeSlot(sideNavCtrl.ordersService.orderInEdit)">
               <span class="for-vertical-align"></span> 
               <span>
                    <!-- <img ng-if="sideNavCtrl.ordersService.orderInEdit" src="https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/circle-arrow.png" alt=""/> -->
                    <span>
                        {{(sideNavCtrl.ordersService.orderInEdit.branchDeliveryTypeId === $root.SP_SERVICES.DELIVERY_TYPES.PICKUP ?
							'Save & Change Pickup Time' : 'Save & Change Delivery Time') | translate}}
                        &nbsp;
                    </span>
                </span>
            </button>
        </footer>
    </section>

    <section class="history-order" ng-mouseenter="sideNavCtrl.reopenJustClosedOrder()">
        <header>
            <div class="close-header">
                <button ng-click="sideNavCtrl.closeOrderHistory(true)" class="no-design">
                    <svg focusable="false" aria-labelledby="close_order_title" role="img">
                        <title id="close_order_title">{{'close order' | translate}}</title>
                        <use xlink:href="#sp-icons-clear-search"></use>
                    </svg>
                </button>
            </div>
            <div class="title">
                <span class="items-count-wrapper">
                    <span class="items-count">
                        <span class="for-vertical-align"></span><!--
                        --><span>{{sideNavCtrl.historyOrder.lines.length}}</span>
                    </span>
                    <svg focusable="false">
                        <use xlink:href="#sp-icons-order-items"></use>
                    </svg>
                </span><!--
                --><span class="order-data creative-font-family">
                    <span class="day">{{sideNavCtrl.historyOrder.timePlaced | date:'EEEE':'UTC' | translate}}</span>
                    <span class="date">{{sideNavCtrl.historyOrder.timePlaced | date:($root.config.isUs ? 'MM/dd/yyyy' : 'dd/MM/yyyy'):'UTC'}}</span>
                </span><!--
                --><button ng-if="!$root.util.isOrderEditable(sideNavCtrl.historyOrder)"
                           class="add-items-button" ng-click="sideNavCtrl.addCheckedHistoryOrderLines()">
                    <span class="for-vertical-align"></span><!--
                    --><span>{{'Add' | translate}} {{sideNavCtrl.historyOrderCheckedLinesTotal}} {{'items' | translate}}</span><!--
                    --><span class="arrow-icon">
                        <svg focusable="false">
                            <use xlink:href="#sp-icons-double-arrow"></use>
                        </svg>
                    </span>
                </button>
                <button class="edit-history-order"
                        ng-if="$root.util.isOrderEditable(sideNavCtrl.historyOrder)"
                        ng-click="$root.util.editOrder(sideNavCtrl.historyOrder.id, { isFromCart: true })">
                    <span>{{'Edit Order' | translate}}</span>
                </button>
            </div>
            <div class="clear-selection">
                <button class="no-design" ng-click="sideNavCtrl.checkAllHistoryOrderLines(!sideNavCtrl.historyOrderCheckedLinesTotal)">
                    <svg focusable="false">
                        <use xlink:href="" ng-attr-xlink:href="{{'#sp-icons-' + (sideNavCtrl.historyOrderCheckedLinesTotal ? 'x' : 'v') + '-circle'}}"></use>
                    </svg><!--
                    --><span>
                        {{(sideNavCtrl.historyOrderCheckedLinesTotal ? 'Uncheck' : 'Check') + ' all' | translate}}
                    </span>
                </button>
            </div>
        </header>

        <div class="order-lines-list">
            <div class="order-line" ng-repeat="line in sideNavCtrl.historyOrder.lines">
                <div class="order-line-content">
                    <span class="checkbox-wrapper" ng-class="{'disabled': line.isProductOutOfStock}">
                        <span class="for-vertical-align"></span><!--
                        --><sp-checkbox sp-model="line.checked" sp-change="sideNavCtrl.onCheckHistoryOrderLine(line);"></sp-checkbox>
                    </span>

                    <span class="product-data"
                          ng-click="line.type === $root.SP_SERVICES.CART_LINE_TYPES.PRODUCT && line.product && !line.isProductOutOfStock && $root.util.openProduct(line.product)"
                          role="{{line.type === $root.SP_SERVICES.CART_LINE_TYPES.PRODUCT && line.product && !line.isProductOutOfStock ? 'button' : ''}}"
                          tabindex="{{line.type === $root.SP_SERVICES.CART_LINE_TYPES.PRODUCT && line.product && !line.isProductOutOfStock ? 0 : -1}}"
                          ng-class="{'disabled': line.isProductOutOfStock}">
                        <span class="data" ellipsis
                              title="{{line.product.brand.names && (line.product.brand.names | name)}}{{line.product.brand.names && line.product.weight ? ' | ' : '' }}{{line.product.weight && (line.product | productWeight:line.isCase)}}">
                        </span>
                        <span class="name" ellipsis title="{{line.product ? (line.product | productName:line.isCase) : line.name}}"></span>

                        <sp-product-price
                            regular-price="line.product ? (line.product | regularPrice:line.isCase) : line.regularPrice"
                            sale-price="line.product && !line.isCase && (line.product | salePrice)"
                            product="line.product"
                            hide-normalize-price="true">
                        </sp-product-price>
                    </span>

                    <span class="product-image-wrapper"
                          ng-init="productSpecials = $root.util.filterProductSpecials(line.product.branch); hasClubSpecial = $root.util.productHasClubSpecial(line.product.branch)">
                        <svg focusable="false" class="sale-icon" ng-if="productSpecials.length" aria-labelledby="product_sale_icon_title" role="img"  ng-class="{'disabled': line.isProductOutOfStock}">
                            <title id="product_sale_icon_title">{{(hasClubSpecial ? 'club ' : '') + 'sale' | translate}}</title>
                            <use ng-if="!hasClubSpecial" xlink:href=""
                                 ng-attr-xlink:href="{{'#sp-icons-sale%translate%' | translateImage:{'he': '-he'} }}"></use>
                            <use xlink:href="#sp-icons-sale-club" ng-if="hasClubSpecial"></use>
                        </svg>
                        <product-image product="line.product" image-key="images" size="{{size || 'medium'}}" is-product-out-of-stock="{{line.isProductOutOfStock}}" is-need-to-show-out-of-stock-label="{{line.isNeedToShowOutOfStockLabel}}" ></product-image>
                    </span>

                    <sp-cart-line-comments
                        ng-if="line.type === $root.SP_SERVICES.CART_LINE_TYPES.PRODUCT"
                        sp-line="line"
                        sp-text-area="true"
                        sp-hide="!line.comments && !line._showSideNavComments"
                        sp-blur="line._showSideNavComments = false"
                        sp-set-focus="line._showSideNavComments"
                        show-product-property="true"
                        sp-readonly-comments="true">
                    </sp-cart-line-comments>
                </div>

                <button class="add-button no-design" ng-if="!(line.isProductOutOfStock || $root.cart.isSuggestionsActive(line))" ng-click="sideNavCtrl.addHistoryOrderLine(line, sideNavCtrl.historyOrder);">
                    <svg focusable="false">
                        <use xlink:href="#sp-icons-double-arrow"></use>
                    </svg>
                    <span class="text" ng-bind="('add to cart' | translate).replace('{cart}', $root.config.retailer.settings.setCartNameToBasket ? $root.config.retailer.settings.setCartNameToBasket : 'cart')"></span>
                </button>
            </div>
        </div>
    </section>
</section>
