$sidenavFooterYouSaveHeight: 1.5em;

$productActionsMargin: 3%;
$productDeleteButton: 0.5em;
$productRemoveSvgWidth: 1.05625em;
$productRemoveSvgHeight: 1.375em;

$sideNavBackgroundColor: #f0f0f0;

$ordersHistoryOrderArrowMarginRight: 1.875em;
$ordersHistoryOrderItemsCountIconPaddingRight: 0.5625em;
$ordersHistoryOrderDataMarginLeft: 1.625em;
$orderInHistoryHeight: 7.375em;
$orderInHistoryPadding: 1.125em;
$orderInHistoryHorizontalMargin: 1em;
$openHistoryOrderBorderWidth: 2px;
$historyOrderHeaderTitlePaddingLeft: 1.1875em;
$historyOrderAddItemsButtonMarginLeft: 1.1875em;
$historyOrderAddItemsButtonPaddingRight: 0.375em;
$historyOrderAddItemsButtonPaddingLeft: 1em;
$historyOrderCheckBoxWrapperPaddingLeft: 0.875em;
$historyOrderCheckBoxWrapperPaddingRight: 1.75em;
$historyOrderProductImagePadding: 0.875em;
$historyOrderProductImageWidth: 6.9375em;
$historyOrderLineAddButtonsSize: 3.4375em;

$sideNavTransitionTime: 0.4s;

$scrollBarWidth: 7px;

html {
  &.rtl .delivery-fee .price {
    float: left !important;
  }
}

html {
  div.sidenav {
    @include fixed();
    top: $toolbarHeight;
    right: 0;
    bottom: 0;
    z-index: 92;
    width: $sidenavWidth;
    box-sizing: border-box;

    > section.cart {
      position: relative;
      padding-top: $sidenavHeaderHeight;
      box-sizing: border-box;
      height: 100%;
      transition: height $sideNavTransitionTime;
      z-index: 1;

      > header {
        position: absolute;
        z-index: 2;
        top: 0;
        width: 100%;
        color: #ffffff;

        > .data {
          display: flex;
          padding: 0.8em;
          height: $sidenavHeaderDataHeight;
          box-sizing: border-box;

          > .number-of-items {
            position: relative;
            height: 100%;
            margin-top: 0.2em;
            margin-left: 0.4em;

            > span.number {
              position: absolute;
              border: 2px solid #ffffff;
              width: 2.6em;
              height: 2.6em;
              border-radius: 100%;
              box-sizing: border-box;
              text-align: center;
              line-height: 2.3em;
              font-size: 0.625em;
              top: -0.7em;
              left: -0.8em;

              &.enlarged-font {
                width: 2em;
                height: 2em;
                line-height: 1.7em;
                font-size: 0.8em;
                top: -0.5em;
                left: -0.6em;
              }
            }

            > svg {
              fill: #ffffff;
              height: 100%;
              width: 3em;
            }
          }

          > .price {
            flex: 1 1 auto;
            font-size: 1.625em;
            font-weight: 300;
            padding: 0.344em 0.25em;
            direction: ltr;
            text-align: right;
          }

          > button {
            border: 2px solid #ffffff;
            border-radius: 1.5em;
            font-weight: 900;

            //additions for larger-button design (fits russian text):
            min-width: 7em;
            padding: 0;
            height: 3.2em;

            //small-button design (didn't work for russian translation):
            // padding: 0.625em 1em;
            // white-space: nowrap;
          }
        }

        > .edit-order {
          $padding: 0.8em;

          display: none;
          padding: $padding;
          height: $sidenavHeaderBlock;
          box-sizing: border-box;

          > div.details {
            display: inline-block;
            vertical-align: middle;
            font-size: 0.8em;
          }

          > button {
            background: #ffffff;
            border-radius: 1em;
            height: $sidenavHeaderBlock - ($padding * 2);
            padding: 0 0.8em;
            box-sizing: border-box;
            font-size: 0.8em;
          }
        }

        > .previous-orders {
          width: 100%;
          height: $sidenavHeaderBlock;
          text-align: center;
          opacity: 1;

          > span {
            display: inline-block;
            vertical-align: middle;

            > * {
              display: block;
              margin: auto;
            }

            > svg {
              fill: #ffffff;
              width: 1em;
              height: 0.3125em;
              margin-top: 0.7em;
            }
          }
        }

        > button.toggle {
          position: absolute;
          right: 1em;
          bottom: -1.1em;
          width: 4.125em;
          height: 4.125em;
          border-radius: 100%;
          background: #ffffff;
          box-shadow: 0 0 12px 1px rgba(0, 0, 0, 0.27);

          > svg {
            fill: #414141;
            width: 100%;
            height: 100%;
            padding: 1.5em;
            box-sizing: border-box;
            transition: transform $sideNavTransitionTime;
          }
        }
      }

      > .collapsible {
        position: relative;
        background: $sideNavBackgroundColor;
        height: 100%;
        box-sizing: border-box;
        transition: height $sideNavTransitionTime; //padding-bottom $sideNavTransitionTime,
        overflow: hidden;
        box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.36);
        display: flex;
        flex-direction: column;

        > section {
          height: 100%;
          overflow: auto;

          &.lets-adding-items {
            text-align: center;
            overflow: hidden;

            > * {
              color: #6e6e6e;
              fill: #6e6e6e;
            }

            > h4 {
              font-size: 1.5em;
              padding: 6em 0 0 0;
            }

            > h3 {
              font-size: 1.75em;
              font-weight: 700;
              padding: 0;
            }

            > svg {
              padding-top: 1em;
              height: 8em;
            }

            &.empty-cart-smart-list {
              display: block;

              h4 {
                font-size: 1.6em;
                padding: 3em 0 0 0;
                margin: 0 0 0.5em 0;
              }

              h5 {
                font-size: 1em;
                width: 70%;
                margin: 0 auto;
                padding: 0;
              }

              button {
                font-size: 1em;
                margin: 0.7em 1em 1em 1em;
                padding: 0.5em 2em;
                border-radius: 3em;
                color: white;

                span {
                  display: block;
                }
              }
            }
          }

          &.empty-cart-smart-list {
            display: block;
            transition: flex-grow $sideNavTransitionTime, flex-shrink $sideNavTransitionTime, height $sideNavTransitionTime;
            text-align: center;
            overflow: hidden;

            h4 {
              padding: 4.2em 0 0 0;
              font-size: 1.7em;
              margin-bottom: 0;
            }

            h5 {
              font-size: 1.2em;
              width: 70%;
              margin: 0 auto;
            }

            button {
              font-size: 1em;
              margin: 0.1em 1em;
              padding: 0.6em 2em;

              span {
                display: block;
              }
            }
          }

          &.lets-adding-items, &.cart, &.orders-history, &.updated-order {
            transition: flex-grow $sideNavTransitionTime, flex-shrink $sideNavTransitionTime, height $sideNavTransitionTime;
          }

          &.cart {
            flex: 1 1 auto;
            overflow: overlay;
  
            &::-webkit-scrollbar {
              background-color: transparent;
              width: 8px;
            }
  
            &::-webkit-scrollbar-thumb {
              @include border-radius(5px);
              background-color: rgba(96, 96, 96, 0.2);
  
              &:hover, &:focus-within {
                background-color: rgba(96, 96, 96, 0.7);
              }
  
              &:active {
                background-color: rgba(96, 96, 96, 1);
              }
            }

            &.new-promotion {
              .product-in-cart > div.product-content {
                > .data > button.add-comment {
                  height: 1.2em;
                  font-size: 0.9em;
                }

                > .sp-promotion {
                  > .promotion-tag,
                  > .save {
                    position: absolute;
                    bottom: 0.5em;
                    right: 0.5em;
                    width: 30%;
                    margin: 0 2px;
                    padding: 0.5em 0.125em;
                    border-radius: 2em;

                    &.small {
                      padding: 0.3em 0.25em;
                    }

                    .rtl & {
                      left: 1em;
                      right: auto;
                    }
                  }

                  >.save.small {
                    bottom: 2.5em;
                  }
                }
              }
            }

            $margin: 0.8em;

            .product-in-cart {
              $padding: 0.625em;

              position: relative;
              background: #ffffff;
              margin: $margin;
              box-sizing: border-box;
              border: 2px solid transparent;
              cursor: pointer;
              $quantityWidth: 21%;
              $imageWidth: 30%;

              &:not(:first-of-type) {
                margin-bottom: 0;
              }

              &.border-animation {
                box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.18);
                animation-name: product-in-cart-border;
                animation-duration: 2s;
              }

              > .remove {
                position: absolute;
                z-index: 2;
                top: $productDeleteButton;
                width: $productRemoveSvgWidth;
                height: $productRemoveSvgHeight;
                box-sizing: content-box;
                visibility: visible;

                > svg {
                  fill: rgba(156, 156, 156, 0.95);
                  width: 100%;
                  height: 100%;

                  &.rtl {
                    margin-right: 17.3em;
                  }
                }
              }

              > .removed {
                display: none;
                position: absolute;
                z-index: 1;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background: rgba(240, 240, 240, 0.7);
                box-shadow: 0 0 0 2px rgba(240, 240, 240, 0.7);
                text-align: center;

                > button, > .text {
                  display: inline-block;
                  vertical-align: middle;
                  box-shadow: 0.5px 0.9px 7px 0 rgba(0, 0, 0, 0.24);
                  padding: 0.532em 1em;
                  border-radius: 1em;
                  background: #ffffff;
                  font-weight: 900;
                  opacity: 0.5;
                }

                > button {
                  display: none;
                  color: #414141;
                }

                &:hover, &:focus-within {
                  > .text {
                    display: none;
                  }

                  > button {
                    display: inline-block;
                    opacity: 1;
                  }
                }
              }

              &.removed {
                > .remove {
                  $toBeSize: 2.375em;
                  width: $productRemoveSvgWidth;
                  height: $productRemoveSvgHeight;
                  padding: (($toBeSize - $productRemoveSvgHeight) / 2) (($toBeSize - $productRemoveSvgWidth) / 2);
                  background-color: #ffffff;
                  box-shadow: 0.5px 0.9px 7px 0 rgba(0, 0, 0, 0.24);
                  border-radius: 100%;
                }

                > .removed {
                  display: block;
                }
              }

              &.out-stock {
                > .remove {
                  $toBeSize: 2.375em;
                  width: $productRemoveSvgWidth;
                  height: $productRemoveSvgHeight;
                  padding: (($toBeSize - $productRemoveSvgHeight) / 2) (($toBeSize - $productRemoveSvgWidth) / 2);
                  background-color: #ffffff;
                  box-shadow: 0.5px 0.9px 7px 0 rgba(0, 0, 0, 0.24);
                  border-radius: 100%;
                }
              }

              > div.product-content {
                height: 7.5em;
                padding: $padding;

                > * {
                  display: inline-block;
                  vertical-align: middle;
                }

                > .quantity-wrapper {
                  position: relative;
                  width: $quantityWidth;
                  height: 100%;
                  font-size: 0.875em;
                  vertical-align: top;

                  > * {
                    width: 100%;
                  }

                  > .product-actions-wrapper {
                    position: absolute;
                    top: 0;
                    height: 100%;
                    visibility: hidden;
                    text-align: center;

                    > .product-actions {
                      display: inline-block;
                      vertical-align: middle;

                      > .add-to-cart {
                        display: none;
                      }

                      .btns-row {
                        > button {
                          $size: 2.2857em;
                          width: $size;
                          height: $size;
                        }

                        > .quantity-wrapper {
                          height: 2.8em;
                        }
                      }
                    }
                  }

                  > .sp-cart-line-count {
                    display: inline-block;
                    vertical-align: middle;

                    > div {
                      $size: 2.8572em;
                      min-width: $size;
                      width: auto;
                      height: $size;
                      background-color: #eaeaea;
                      padding: 0.2em 0.4em;
                      box-sizing: border-box;
                      border-radius: $size;
                    }
                  }
                }

                > .data {
                  position: relative;
                  height: 100%;
                  width: 100% - $imageWidth - $quantityWidth - $productActionsMargin;

                  > .brand-and-weight {
                    font-size: 0.875em;
                    color: #a8a8a8;
                    height: 1em;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                  }

                  > .name {
                    $line-height: 1.2;
                    font-size: 1em;
                    height: $line-height * 2em;
                    line-height: $line-height;
                    padding-top: 0.25em;
                    color: #787878;
                  }

                  > .sp-unit-weight {
                    position: absolute;
                    font-size: 0.8em;
                    left: 0;
                    top: 70%;
                    z-index: 1;
                    transform: translate(0, -70%);
                    > .weight-option,
                    > .unit-option {
                      min-width: 50px;
                    }
                    &.removed {
                      z-index: -1;
                    }
                  }

                  > button.add-comment, > .sp-product-price {
                    position: absolute;
                    background: white;
                    bottom: 0;
                  }

                  > .sp-product-price {
                    padding-top: 2em;
                    font-size: 1.125em;
                    height: 1em;
                    white-space: nowrap;

                    > .regular-price {
                      font-size: 0.77em;
                    }
                  }

                  > button.add-comment {
                    line-height: 1em;
                    height: 1em;
                    width: 100%;
                    color: #a3a3a3;
                    white-space: nowrap;

                    > svg {
                      width: 1em;
                      height: 1em;
                      fill: #9c9c9c;
                    }
                  }
                }

                > .image {
                  width: $imageWidth;
                  text-align: center;
                  position: relative;

                  > svg.sale-icon {
                    height: 1.3em;
                    width: 1.3em;
                    position: absolute;
                    top: 1.8em;
                    right: 20%;

                    &.club-icon {
                      fill: $clubIconFill;
                    }
                  }

                  > span {
                    > img {
                      max-width: 100%;
                      max-height: 100%;
                    }
                  }
                }
                .disabled {
                  opacity: 0.35;
                  pointer-events: none;
                }

                .out-of-stock {
                  position: absolute;
                  top: 50%;
                  height: 2em;
                  line-height: 2em;
                  padding: 0 0.4em;
                  -webkit-box-sizing: border-box;
                  box-sizing: border-box;
                  text-align: center;
                  margin-top: -0.75em;
                  color: #ffffff;
                  border-radius: 16px;
                  font-size: 0.75em;
                  white-space: nowrap;
                  background-color: #F86B2F;
                  width: auto;
                  left: 50%;
                  transform: translateX(-50%);
                }
              }

              > div.coupon-content {
                display: flex;
                grid-column-gap: $padding;
               // align-items: center;
                min-height: 3.5em;
                padding: $padding;
                flex-direction: column;
                flex-wrap: wrap;

                .disabled {
                  opacity: 0.35;
                  pointer-events: none;
                }
          
                .coupon-expired {
                  height: auto;
                  line-height: 2.2em;
                  padding: 0 0.4em;
                  -webkit-box-sizing: border-box;
                  box-sizing: border-box;
                  border-radius: 16px;
                  text-align: center;
                  margin-top: 0.5em;
                  color: #ffffff;
                  font-size: 0.75em;
                  white-space: nowrap;
                  background-color: #F86B2F;
                  width: fit-content;
                }

                > div.error {
                  color: #d6353a;
                  font-weight: 700;
                  padding: 0 2em 0 0.3em;
                  white-space: nowrap;
                  font-size: 0.9em;

                  .question-mark {
                    border: 1px solid;
                    border-radius: 100%;
                    padding: 0 0.24em;
                    font-size: 0.9em;
                  }

                  .error-tooltip {
                    position: fixed;
                    bottom: 93%;
                    background-color: #ffffff;
                    width: 90%;
                    display: none;
                    width: 83%;
                    z-index: 10;

                    .title {
                      font-size: 1.2em;
                      background-color: #ffebeb;
                      padding: 0.7em;
                      line-height: 1.1em;
                    }

                    .description {
                      color: #787878;
                      font-weight: 400;
                      padding: 1em;
                      line-height: 1.2em;
                      background-color: #ffffff;
                      box-shadow: 0 4px 0.3em 0 rgba(0, 0, 0, 0.36);
                    }

                    > * {
                      white-space: break-spaces;
                    }
                  }

                  &:hover {
                    .error-tooltip {
                      display: block;
                    }
                  }
                }

                > div.data {
                  flex: 1 1 auto;
                  display: flex;
                  flex-direction: row;
                  grid-row-gap: $padding;
                  font-size: 0.8125em;
                  min-width: 0;
                  align-items: center;

                  > div.coupon-icon {
                    position: relative;
                    flex: 0 0 auto;

                    > .audience {
                      position: absolute;
                      top: 0.25em;
                      left: -0.5em;
                      font-size: 12px;
                      border-radius: 4px;
                      border: 1px solid;
                      color: #ffffff;
                    }

                    > span.audience {
                      padding: 0.25em;
                    }

                    > img.audience {
                      height: 1.5em;
                      margin: 0;
                    }

                    > svg,
                    > img {
                      width: 2.5em;
                      height: 2.5em;
                      margin: 0.5em;
                    }
                  }

                  > div.name {
                    //white-space: nowrap;
                    overflow: hidden;
                    //text-overflow: ellipsis;
                    padding-right: 2em;
                    line-height: 1.1em;
                  }

                  > button {
                    min-height: 1.5em;
                    align-self: flex-end;
                    font-weight: 700;
                    padding: 0 $padding;

                    &.link {
                      background: transparent !important;
                      color: #a3a3a3;
                      text-decoration: underline;
                      padding: $padding 0 0;
                    }
                  }
                }

                > button.add-items {
                  min-height: 1.5em;
                  align-self: flex-end;
                  font-weight: 700;
                  padding: 0 $padding;

                  &.link {
                    background: transparent !important;
                    color: #a3a3a3;
                    text-decoration: underline;
                    padding: $padding 0 0;
                  }
                }

                > svg,
                > img {
                  width: 1.5em;
                  height: 1.5em;
                  position: absolute;
                  top: $padding;
                  right: $padding;
                  align-self: normal;
                  opacity: 0.5;
                }
              }

              > div.cart-line-comments-wrapper {
                padding: 0.25em 0.5em;
                min-height: 1em;
                border-top: 1px dashed #cccccc;

                > .cart-line-property {
                  padding: 0.5em 0;
                }
                
                .comments-wrapper {
                  line-height: 1.2em;
                  padding: 0.5em 0;
              
                  > svg {
                    margin: 0;
                    margin-right: 0.5em;

                    .rtl & {
                      margin: 0;
                      margin-left: 0.5em;
                    }
                  }
                }
              }

              &.coupon {
                border-style: dashed;
              }

              &:hover, &.active, &.focus-mode {
                > div.product-content > .quantity-wrapper {
                  > .product-actions-wrapper {
                    visibility: visible;
                  }
                }
              }

              &:hover, &.active, &.focus-mode {
                > div.product-content > .quantity-wrapper {
                  > .sp-cart-line-count {
                    display: none;
                  }
                }
              }

              &.focus-mode, &:focus-within {
                > .removed {
                  > .text {
                    display: none;
                  }

                  > button {
                    display: inline-block;
                    opacity: 1;
                  }
                }
              }

              &:not(:hover):not(.active):not(.focus-mode) {
                > .remove, > div.product-content > div.data > button.add-comment {
                  display: none;
                }
              }

              &:not(:hover):not(:focus-within):not(.active):not(.focus-mode) {
                > .remove, > div.product-content > div.data > .sp-unit-weight {
                  display: none;
                }
              }

              &:not(:hover):not(.active):not(.focus-mode) > div.coupon-content {
                > svg,
                > img {
                  opacity: 1;
                }
              }

              &:not(.removed):hover, &:not(.removed):focus-within, &:not(.removed).active, &:not(.removed).focus-mode {
                border-style: solid;
                box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.18);
              }
            }

            .product-by-category {
              height: 100%;
              overflow: auto;

              &.has-delivery-item {
                height: 90%;
              }

              &-outer {
                &-name  {
                  background-color: #D2D2D3;
                  text-align: center;
                  padding: 5px 0;
                }

                .product-in-cart {
                  @extend .product-in-cart;

                   .remove {
                    right: $productDeleteButton;
                  }
                }
              }
            }

            > div.special-reminders {
              $fontSize: 0.9em;

              font-size: $fontSize;

              $specialReminderHeight: 4em;
              $specialReminderPadding: 0.25em;
              $specialReminderMargin: ($margin / $fontSize) * 1em;
              $moreButtonPadding: 0.25em;

              > div.special-reminder-wrapper {
                overflow: hidden;
                height: $specialReminderHeight;
                line-height: 1.1em;
                margin: 0 $specialReminderMargin;
                padding: $specialReminderPadding;
                border: 1px solid #c8c8c8;
                background-color: #FEF5E0;
                transition: 0.4s, opacity 0s;

                > div.special-reminder {
                  display: flex;
                  flex-direction: row;
                  height: 100%;

                  > svg {
                    flex: 0 0 auto;
                    width: 2.5em;
                    height: 2.5em;
                    align-self: center;
                  }

                  > div.data {
                    flex: 1 1 auto;
                    align-self: center;
                    padding: 0 0.5em;

                    > div.bold {
                      margin-bottom: 0.1em;
                    }
                  }

                  > button {
                    align-self: flex-end;
                    padding: 0.2em 0.5em;
                  }
                }
              }

              &.collapse {
                > div.special-reminder-wrapper:nth-child(n+2) {
                  height: 0;
                  border-top-width: 0;

                  > div.special-reminder {
                    visibility: hidden;
                  }
                }

                > div.special-reminder-wrapper:nth-child(n+4) {
                  padding: 0;
                  border: none;
                }

                > button {
                  margin-top: (-0.5em - ($moreButtonPadding * 2));
                  line-height: 1em;
                }
              }

              > div.special-reminder-wrapper:first-child, &.expanded > div.special-reminder-wrapper {
                margin-top: $specialReminderMargin;
                border-top-width: 1px;

                > div.special-reminder {
                  visibility: visible;
                }
              }

              > button {
                display: block;
                margin: $specialReminderMargin auto 0 auto;
                border: 1px solid #a0a0a0;
                background-color: #ffffff;
                padding: $moreButtonPadding 1em;
                border-radius: 1em;
              }
            }
          }

          &.orders-history {
            visibility: hidden;
            position: relative;
            flex: 0 0 auto;
            height: 0;
            overflow: hidden;
            background-color: $sideNavBackgroundColor;
            $titleHeight: 2.5em;
            $titlePaddingTop: 1.8125em;
            $titlePaddingBottom: 0.4375em;
            $orderMarginTop: 0.75em;

            > .title {
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              text-align: center;
              $fontSize: 2.5em;
              font-size: $fontSize;
              color: #616161;
              height: $titleHeight / $fontSize * 1em;
              padding: ($titlePaddingTop / $fontSize * 1em) 0 ($titlePaddingBottom / $fontSize * 1em) 0;
              background-color: $sideNavBackgroundColor;
            }

            > .orders-list-wrapper {
              position: absolute;
              top: $titlePaddingTop + $titlePaddingBottom + $titleHeight;
              bottom: 0;
              left: 0;
              right: 0;
              overflow: hidden;
              text-align: center;
              z-index: 1;

              > .order-in-history {
                height: $orderInHistoryHeight;
                margin: $orderMarginTop $orderInHistoryHorizontalMargin 0 $orderInHistoryHorizontalMargin;
                background-color: #ffffff;
                padding: $orderInHistoryPadding;
                white-space: nowrap;
                box-sizing: border-box;
                cursor: pointer;

                svg {
                  fill: #6e6e6e;
                }

                > * {
                  display: inline-block;
                  vertical-align: middle;
                }

                > .arrow-icon {
                  height: 100%;
                  width: 0.5em;
                }

                &.open {
                  border-style: solid;
                  border-top-width: $openHistoryOrderBorderWidth;
                  border-bottom-width: $openHistoryOrderBorderWidth;
                  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.18);
                }
              }

              > button {
                margin-top: $orderMarginTop;
                display: inline-block;
              }
            }
          }

          &.updated-order {
            text-align: center;

            svg {
              padding: 3em 0 1.7em 0;
              fill: #8dc63f;
              width: 3.5em;
              height: 3.5em;
            }

            .order-details {
              padding: 0;
              font-size: 2.2em;
            }

            .order-number {
              padding: 1em 0;
              font-size: 1.4em;
            }

            .order-text {
              color: #616161;
              line-height: 1.5em;
            }
          }
        }
        .motivation-message{
          padding-top: 1em;
          display: flex;
          justify-content: center;
        }
        > footer {
          box-sizing: border-box;
          padding: 0.8em;
          flex: 0 0 auto;

          > * {
            margin-top: 0.75em;
          }

          > :first-child {
            margin-top: 0;
          }

          > .you-save {
            display: flex;
            height: $sidenavFooterYouSaveHeight;

            &.multipass-discount {
              height: 1.3em;
              font-size: 0.94em;
              margin-top: 0.5em;
            }

            > * {
              display: inline-block;
              vertical-align: middle;
              line-height: $sidenavFooterYouSaveHeight;
            }

            > svg {
              height: 104%;
              width: 2em;
            }

            > .text {
              flex: 1 1 auto;
              padding: 0 1em;
              font-weight: 700;

              &.saving-label {
                font-size: 0.8em;
              }
            }

            > .price {
              padding: 0 1em;

              &.has-value {
                font-weight: bold;
              }
            }

            &.club-savings > svg {
              fill: $clubIconFill;
            }

            .join-or-connect {
              cursor: pointer;
              border: 1px solid #414141;
              padding: 0 1em;
              border-radius: 1.3125em;
              vertical-align: middle;
            }
          }

          .have-point {
            height: 32px;
            border-radius: 10px;
            position: relative;
            border: solid 2px;
            filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.20));
            justify-content: space-between;
            align-items: center;
            display: flex;
            padding: 5px 10px;
            margin: 4px 0;
            gap: 5px;
            transition: scale 0.3s ease-in-out;
            top: 5px;
            > .text {
              width: 70%;
              font-size: 12px;
              flex-grow: 1;
              font-weight: normal;
            }

            > .point-container {
              min-width: 43px;
              color: var(--grey-1, #282828);
              text-align: center;
              font-family: Open Sans;
              font-size: 12px;
              > .point{
                font-size: 1.2em;
                font-style: normal;
                font-weight: 700;
                font-size: 14px;
                line-height: 10px;
              }
            }

            > .point-icon {

              > svg {
                width: 30px;
                height: 20px;
                vertical-align: middle;
              }
              
              > img {
                max-width: 30px;
                max-height: 20px;
                vertical-align: middle;
              }
            }
            
            &::after {
              top: 43px;
              left: 7%;
              content: " ";
              position: absolute;
              border-top: 4px solid;
              border-color: inherit;
              border-left: 5px solid transparent;
              border-right: 5px solid transparent;
            }
          }

          .point-scale{
            scale: 1.05;
          }

          > button {
            width: 100%;
            align-items: center;
            background: #414141;
            border-radius: 1.3125em;
            color: #ffffff;
            font-weight: 900;
            padding: 0.5em;
            position: relative;

            > * {
              vertical-align: middle;
            }

            > .refresh-icon {
              display: none;
              width: 1.7em;
              height: 1.7em;
              fill: #ffffff;
            }

            > .loading-wrapper {
              position: absolute;
              top: 0;
              left: 0;
              margin: 0.45em;
              width: 1.7em;
              height: 1.7em;
              background: #414141;
              fill: #c5c2c2;
              animation-name: loading-animation;
              animation-duration: 500ms;
              animation-iteration-count: infinite;
              animation-timing-function: linear;
            }

            @keyframes loading-animation {
              from {
                transform: rotate(0deg);
              }
              to {
                transform: rotate(360deg);
              }
            }

            > span {
              height: 100%;
            }

            > span.price {
              direction: ltr;
              background: rgba(255, 255, 255, 0.1);
              box-sizing: border-box;
              border-radius: 0.875em;
              padding: 0.125em 0.5em;
            }
          }
          .invert-color {
            height: 3em;
            color: #414141;
            background:  #ffffff;
            border-color: #414141;
            border: solid;
          }
        }
      }

      > .history-order {
        position: absolute;
        top: 0;
        bottom: 4.5em;
        z-index: 1;
        width: 21.8125em;
        background-color: #ffffff;
        box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.18);
        border: $openHistoryOrderBorderWidth solid transparent;
        display: none;
        margin-bottom: $openHistoryOrderBorderWidth * -2;

        > header {
          > .close-header {
            height: 1em;
            padding: 0.62em 0.75em 0 0.75em;

            > button {
              display: inline-block;
              vertical-align: top;
              height: 100%;

              > svg {
                display: inline-block;
                vertical-align: top;
                height: 100%;
                width: 1em;
              }
            }
          }

          > .title {
            padding-top: 0.75em;
            padding-bottom: 0.75em;

            > .items-count-wrapper {
              font-size: 0.68em;
            }

            > .order-data {
              > .date, > .day {
                font-size: 1.53125em;
              }
            }

            > .add-items-button {
              display: inline-block;
              vertical-align: middle;
              font-weight: 700;
              $height: 2.625em;
              height: $height;
              border-radius: $height;
              color: #ffffff;
              padding: 0;

              > * {
                display: inline-block;
                vertical-align: middle;
              }

              > .arrow-icon {
                text-align: center;
                width: 2em;
                height: 2em;
                border-radius: 1em;

                > svg {
                  width: 0.75em;
                  height: 100%;
                  fill: #ffffff;
                }
              }
            }

            > .edit-history-order {
              display: inline-block;
              vertical-align: middle;
              font-weight: 700;
              $height: 2.625em;
              height: $height;
              border-radius: $height;
              color: #ffffff;
              padding: 0.5em;
            }
          }

          > .clear-selection {
            font-size: 0.75em;
            padding: 0.6em 0;
            border-bottom: 1px solid #dddddd;

            > button {
              display: inline-block;
              vertical-align: top;
              padding: 0 0.1667em;
              height: 1.25em;
              line-height: 1.25em;

              > * {
                display: inline-block;
                vertical-align: middle;
              }

              > svg {
                height: 100%;
                width: 1.25em;
                fill: #7a7a7a;
              }

              > span {
                padding: 0 0.4em;
              }
            }
          }
        }

        > .order-lines-list {
          position: absolute;
          top: 8.355em;
          left: 0;
          right: 0;
          bottom: 0;
          overflow: auto;
          margin: 5px;

          .disabled {
            opacity: 0.35;
            pointer-events: none;
          }

          // must not be used for suggestions
          .out-of-stock:not(.suggestions) {
            position: absolute;
            top: 50%;
            height: 2em;
            line-height: 2em;
            padding: 0 0.4em;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            text-align: center;
            margin-top: -0.75em;
            color: #ffffff;
            border-radius: 16px;
            font-size: 0.75em;
            white-space: nowrap;
            background-color: #F86B2F;
            width: auto;
            left: 50%;
            transform: translateX(-50%);
          }

          > .order-line {
            padding: 0;
            margin: 0 0.875em;
            position: relative;
            box-sizing: border-box;

            &:after {
              content: '';
              right: 0;
              left: 0;
              top: -2px;
              height: 1px;
              display: block;
              position: absolute;
              background-color: #dddddd;
            }

            &:first-child:after {
              height: 0;
            }

            &:hover, &:focus-within {
              > .order-line-content {
                box-shadow: -1.8px 0.8px 6px 0 rgba(0, 0, 0, 0.25);
                border-radius: 2px;
              }

              > .add-button {
                opacity: 1;
              }

              &:after {
                height: 0;
              }

              + .order-line:after {
                height: 0;
              }
            }

            > .order-line-content {
              display: grid;
              grid-template-columns: auto 1fr auto;
              border: 2px solid transparent;
              height: 100%;
              box-sizing: border-box;
              padding: 0.3125em 0;

              > .checkbox-wrapper {
                > * {
                  display: inline-block;
                  vertical-align: middle;
                }

                label.checkbox {
                  $historyOrderCheckBoxSize: 2.5em;
                  $historyOrderCheckBoxFontSize: 0.9375em;

                  > span {
                    &.box {
                      width: $historyOrderCheckBoxSize / $historyOrderCheckBoxFontSize * 1em;
                      height: $historyOrderCheckBoxSize / $historyOrderCheckBoxFontSize * 1em;
                      font-size: $historyOrderCheckBoxFontSize;
                      border-radius: 100%;
                      border-width: 2px;
                      margin-top: 0;

                      > svg {
                        width: 1em;
                      }
                    }

                    &.label {
                      display: none;
                    }
                  }
                }
              }

              > .product-data {
                height: 100%;
                position: relative;
                flex: 1 1 auto;
                padding: 0.5em 0;
                box-sizing: border-box;

                > * {
                  display: inline-block;
                }

                > .data {
                  color: #a8a8a8;
                  font-size: 0.875em;
                  height: 1.1em;
                }

                > .name {
                  $line-height: 1.2;
                  font-size: 1em;
                  height: $line-height * 2em;
                  line-height: $line-height;
                  padding: 0.25em 0;
                  color: #787878;
                }
              }

              > .product-image-wrapper {
                width: $historyOrderProductImageWidth;
                padding: $historyOrderProductImagePadding;
                box-sizing: border-box;
                position: relative;

                > .sale-icon {
                  position: absolute;
                  top: $historyOrderProductImagePadding;
                  $size: 2.3125em;
                  width: $size;
                  height: $size;
                  z-index: 1;
                }
              }
              
              > .cart-line-comments-wrapper {
                min-height: 1em;
                grid-column: 1/4;
                padding: 0.25em 0.5em;
                border-top: 1px dashed #cccccc;

                > .cart-line-property {
                  padding: 0.5em 0;
                }
                
                .comments-wrapper {
                  line-height: 1.2em;
                  padding: 0.5em 0;
              
                  > svg {
                    margin: 0;
                    margin-right: 0.5em;
                  }
                }
              }
            }

            > .add-button {
              position: absolute;
              top: 50%;
              margin-top: $historyOrderLineAddButtonsSize / -2;
              width: $historyOrderLineAddButtonsSize;
              height: $historyOrderLineAddButtonsSize;
              border-radius: $historyOrderLineAddButtonsSize;
              text-align: center;
              padding: 0.375em;
              box-sizing: border-box;
              opacity: 0;
              z-index: 1;

              > svg {
                display: block;
                width: 100%;
                height: 0.75em;
                fill: #ffffff;
              }

              > .text {
                display: inline-block;
                padding: 0.6em;
                font-size: 0.625em;
                color: #ffffff;
                line-height: 1.1em;
              }
            }
          }

          &::-webkit-scrollbar {
            background-color: #d0d0d0;
            border-radius: $scrollBarWidth;
            width: $scrollBarWidth;
          }

          &::-webkit-scrollbar-thumb {
            background-color: #9c9c9c;
            border-radius: $scrollBarWidth;
          }
        }
      }

      > .collapsible > section.orders-history, > .history-order > header {
        .items-count-wrapper {
          display: inline-block;
          vertical-align: middle;
          position: relative;
          height: 3.9375em;
          width: 3.125em;
          box-sizing: border-box;
          padding-top: 0.5em;

          > .items-count {
            position: absolute;
            display: block;
            top: 0;
            box-sizing: border-box;
            font-size: 1.01875em;
            border-radius: 2em;
            $size: 1.84049em;
            min-width: $size;
            height: $size;
            color: #ffffff;
            text-align: center;
            padding: 0 0.36809em;
            z-index: 1;

            > span {
              display: inline-block;
              vertical-align: middle;
            }
          }

          > svg {
            height: 100%;
            width: 100%;
          }
        }

        .order-data {
          display: inline-block;
          vertical-align: middle;
          color: #616161;
          max-width: 6.4em;

          > * {
            display: block;
            font-weight: 400;
          }

          > .day {
            font-size: 1.53125em;
            padding-bottom: 0.24489em;
          }

          > .date {
            font-size: 2.5em;
          }
        }
      }

      &.history-order-shown {
        > .history-order {
          display: block;
        }

        &.history-order-not-loaded > .history-order > * {
          opacity: 0;
        }
      }

      &.orders-history-shown {
        > header > .previous-orders > span > svg {
          height: 0.575em;
        }

        > .collapsible {
          > section.lets-adding-items, > section.cart {
            height: 0;
            flex-grow: 0;
            flex-shrink: 0;
          }

          > section.orders-history {
            visibility: visible;
            height: 100%;
            flex-grow: 1;
            flex-shrink: 1;

            > .orders-list-wrapper {
              overflow: auto;
            }
          }

          > section.cart {
            visibility: hidden;
          }
        }

        > .history-order {
          z-index: 0;
        }
      }

      &.edit-order-shown {
        padding-top: $sidenavHeaderHeight + $sidenavHeaderBlock;

        > header > .edit-order, > .collapsible > footer > button > svg {
          display: block;
        }
      }
    }

    button[disabled] {
      opacity: 0.3;
    }
  }

  &.hub-child div.sidenav {
    top: $toolbarHeight + $hubHeaderHeight;
  }

  &.hide-sidenav div.sidenav {
    display: none;
  }

  &.close-sidenav div.sidenav {
    pointer-events: none;

    > section.cart {
      > header {
        pointer-events: all;

        > button.toggle > svg {
          transform: rotate(180deg);
          z-index: 90;
        }
      }

      > .collapsible {
        height: 0;
        padding-bottom: 0;
      }
    }
  }

  &.ltr {
    div.sidenav > section.cart {
      > .collapsible > section.orders-history > .orders-list-wrapper > .order-in-history {
        &.open {
          margin-left: $openHistoryOrderBorderWidth * -1;
          padding-left: $orderInHistoryHorizontalMargin + $orderInHistoryPadding;
          border-right-width: $openHistoryOrderBorderWidth;
        }

        > .arrow-icon {
          margin-right: $ordersHistoryOrderArrowMarginRight;
        }
      }

      > header {
        > .data {
          > .price {
            text-align: left;
          }
        }
      }

      > .history-order {
        right: 100%;

        > header > .title, .clear-selection {
          padding-left: $historyOrderHeaderTitlePaddingLeft;

          > .order-data {
            margin-left: 0.625em;
          }

          > .add-items-button {
            margin-left: $historyOrderAddItemsButtonMarginLeft;
            padding-right: $historyOrderAddItemsButtonPaddingRight;
            padding-left: $historyOrderAddItemsButtonPaddingLeft;

            > .arrow-icon {
              margin-left: $historyOrderAddItemsButtonPaddingRight;

              > svg {
                transform: scaleX(-1);
              }
            }
          }

          > .edit-history-order {
            margin-left: $historyOrderAddItemsButtonMarginLeft;
          }
        }

        > .order-lines-list > .order-line {
          > .order-line-content {
            > .checkbox-wrapper {
              padding-right: $historyOrderCheckBoxWrapperPaddingRight;
              padding-left: $historyOrderCheckBoxWrapperPaddingLeft;
            }

            > .product-image-wrapper > .sale-icon {
              right: $historyOrderProductImagePadding;
            }
          }

          > .add-button {
            right: $historyOrderProductImageWidth/ 2;
            margin-right: $historyOrderLineAddButtonsSize / -2;

            > svg {
              transform: scaleX(-1);
            }
          }
        }
      }

      &.history-order-shown {
        > .collapsible {
          margin-left: $openHistoryOrderBorderWidth * -1;
          padding-left: $openHistoryOrderBorderWidth;

          > section.orders-history {
            margin-left: $openHistoryOrderBorderWidth * -1;

            > * {
              padding-left: $openHistoryOrderBorderWidth;
            }
          }

          > footer {
            left: $openHistoryOrderBorderWidth;
          }
        }

        > .history-order {
          box-shadow: 9.1px 4.1px 18px 0 rgba(0, 0, 0, 0.18);
        }
      }

      > .collapsible {
        > section.cart .product-in-cart {
          > .remove {
            right: $productDeleteButton;
          }

          > div.product-content {
            > .quantity-wrapper {
              margin-right: $productActionsMargin;
            }

            > button.add-comment, > .sp-product-price {
              right: 0;
            }
          }
        }

        > section.orders-history, > .history-order > header {
          .items-count-wrapper {
            padding-right: $ordersHistoryOrderItemsCountIconPaddingRight;

            > .items-count {
              right: 0;
            }

            > svg {
              transform: scaleX(-1);
            }
          }

          .order-data {
            margin-left: $ordersHistoryOrderDataMarginLeft;
            text-align: left;
          }
        }
      }
    }
  }

  &.rtl {    
    div.sidenav {
      right: auto;
      left: 0;

      > section.cart {
        > header {
          > button.toggle {
            left: auto;
            right: 1em;
          }
        }

        > .collapsible {
          > section {
            &.cart {
              .product-in-cart {
                $padding: 0.625em;

                > .remove {
                  left: $productDeleteButton;
                  right: auto;
                }
  
                > div.product-content {
                  > .quantity-wrapper {
                    margin-left: $productActionsMargin;
                  }
  
                  > .data {
                    > .sp-unit-weight {
                      left: 100%;
                      top: 70%;
                      transform: translate(-100%, -70%);
                    }
                  }

                  > button.add-comment, > .sp-product-price {
                    right: 0;
                  }
  
                  > .image > svg.sale-icon {
                    right: auto;
                    left: 20%;
                  }
                }

                > div.coupon-content {
                  > div.error {
                    padding-left: 2em;
                    padding-right: 0;
                  }

                  > div.data {
                    > div.coupon-icon {
                      > .audience {
                        right: -0.5em;
                        left: auto;
                      }

                      > svg {
                        @include flipH();
                      }
                    }

                    > div.name {
                      padding-left: 2em;
                      padding-right: 0;
                    }
                  }

                  > svg,
                  > img {
                    left: $padding;
                    right: auto;
                  }
                }

                > .cart-line-comments-wrapper > .comments-wrapper > svg {
                  margin: 0;
                  margin-left: 0.5em;
                }
              }

              &.new-promotion .product-in-cart > div.product-content {
                > .data {
                  > .sp-product-price {
                    direction: rtl;
                  }

                  > button.add-comment {
                    text-align: right;
                  }
                }

                > .sp-promotion {
                  > .promotion-tag,
                  > .save {
                    left: 1em;
                    right: auto;
                  }
                }
              }
            }
          }

          > footer > button > .loading-wrapper {
            right: 0;
            left: auto;
          }
        }

        > .history-order {
          left: 100%;

          > header > .title, .clear-selection {
            padding-right: $historyOrderHeaderTitlePaddingLeft;

            > .order-data {
              margin-right: 0.625em;
            }

            > .add-items-button {
              margin-right: $historyOrderAddItemsButtonMarginLeft;
              padding-left: $historyOrderAddItemsButtonPaddingRight;
              padding-right: $historyOrderAddItemsButtonPaddingLeft;

              > .arrow-icon {
                margin-right: $historyOrderAddItemsButtonPaddingRight;
              }
            }

            > .edit-history-order {
              margin-right: $historyOrderAddItemsButtonMarginLeft;
            }
          }

          > .order-lines-list > .order-line {
            > .order-line-content {
              > .checkbox-wrapper {
                padding-right: $historyOrderCheckBoxWrapperPaddingLeft;
                padding-left: $historyOrderCheckBoxWrapperPaddingRight;
              }

              > .product-image-wrapper > .sale-icon {
                left: $historyOrderProductImagePadding;
              }

              > .cart-line-comments-wrapper > .comments-wrapper > svg {
                margin: 0;
                margin-left: 0.5em;
              }
            }

            > .add-button {
              left: $historyOrderProductImageWidth/ 2;
              margin-left: $historyOrderLineAddButtonsSize / -2;
            }
          }
        }

        &.history-order-shown {
          > .collapsible {
            margin-right: $openHistoryOrderBorderWidth * -1;
            padding-right: $openHistoryOrderBorderWidth;

            > section.orders-history {
              margin-right: $openHistoryOrderBorderWidth * -1;

              > * {
                padding-right: $openHistoryOrderBorderWidth;
              }
            }

            > footer {
              right: $openHistoryOrderBorderWidth;
            }
          }

          > .history-order {
            box-shadow: -9.1px 4.1px 18px 0 rgba(0, 0, 0, 0.18);
          }
        }

        > .collapsible > section.orders-history > .orders-list-wrapper > .order-in-history {
          &.open {
            margin-right: $openHistoryOrderBorderWidth * -1;
            padding-right: $orderInHistoryHorizontalMargin + $orderInHistoryPadding;
            border-left-width: $openHistoryOrderBorderWidth;
          }

          > .arrow-icon {
            margin-left: $ordersHistoryOrderArrowMarginRight;
            transform: scaleX(-1);
          }
        }

        > .collapsible > section.orders-history, > .history-order > header {
          .items-count-wrapper {
            padding-left: $ordersHistoryOrderItemsCountIconPaddingRight;

            > .items-count {
              left: 0;
            }
          }

          .order-data {
            margin-right: $ordersHistoryOrderDataMarginLeft;
            text-align: right;
          }
        }
      }
    }
  }
}

.delivery-fee {
  border-bottom: 1px solid #e7e7e7;
  padding: 1em 0.5em;
  margin-top: 0.5em;
  background-color: white;
  cursor: pointer;

  .label {
    padding-left: 1em;
    color: #636363;
  }

  .price {
    float: right;
    font-weight: 700;
    color: #505050 !important;
    font-size: small;
  }
}

.delivery-fee-explain {
  display: none;
  z-index: 4;
  position: fixed;
  max-width: 100%;
  padding: 1em 1.5em;
  background-color: white;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.16);
  font-weight: 300;
  line-height: 105.19%;
  color: #78797A;
}

.delivery-item:hover {
  .delivery-fee-explain {
    display: block;
  }
}

.delivery-fee-row {
  height: 2.5em;
  td {
    vertical-align: middle !important;
    padding: 1.3em 0.5em;
    border-bottom: 0.785em solid #f3f3f3;
  }
}

.delivery-fee-row:nth-child(1) {
  width: 8em;
}

.delivery-fee-row:nth-child(2) {
  width: 6em;
}

.delivery-fee-row .label {
    padding-left: 0.5em !important;
}

.delivery-fee-row:nth-child(4) {
  width: 15em;
}

.delivery-fee-row .price {
  font-size: 100% !important;
}

.delivery-info {
  font-size: 10px;
  font-weight: 500;
  padding-bottom: 5px;

  span {
    text-transform: lowercase;
  }
}

.checkout-price {
  display: flex;

  &.includes-delivery-fee {
    height: 2.5em;

    .price-wrap {
      height: 100%;
      display: flex;
      align-items: center;

      span {
        display: block;
        text-align: left;
        line-height: 0;
        padding: 5px 5px 0;
        white-space: nowrap;
      }
    }
  }

  .text {
    width: 50%;
  }

  .price-wrap {
    max-width: 50%;
    background: #545355;
    border: 1px solid #545355;
    border-radius: 1.3125em;
    padding: 2%;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    span {
      padding: 0;
    }
  }
}

.hide-product-actions {
  .product-actions-wrapper, button.remove {
    visibility: hidden;
  }
}

@media screen and (max-width: 1575px) {
  $responsive1575SideNavFontSize: 0.9em;

  html {
    div.sidenav {
      font-size: $responsive1575SideNavFontSize;
      width: $responsive1575SidenavWidth / $responsive1575SideNavFontSize * 1em;
      top: $responsive1575ToolbarHeight / $responsive1575SideNavFontSize * 1em;
    }

    &.hub-child div.sidenav {
      top: ($responsive1575ToolbarHeight + $hubHeaderHeight) / $responsive1575SideNavFontSize * 1em;
    }
  }
}
