<div class="order-details-wrapper" refresher="$root.config.language.id">
    <p class="title">{{ ::'Thank you for your order!' | translate }}</p>
    <div class="order-details">
        <span class="order-number">
            {{($root.BRANCH_AREA_TYPES.PICKUP == editOrderCtrl.order.branchAreaTypeId) ? ('Pickup' | translate) : ('Delivery' | translate)}} {{'Order ' | translate}} {{editOrderCtrl.order.id}}
        </span>
        <a class="view-order" ui-sref="app.ordersHistory.order({ oid: editOrderCtrl.order.id })">
            {{::'View Order' | translate}}
        </a>
    </div>
    <div class="delivery-time" ng-if="editOrderCtrl.order.deliveryTimeTypeId !== $root.DELIVERY_TIMES_TYPES.DELIVERY_WITHIN_DAYS">
        {{editOrderCtrl.order.shippingTimeFrom | date:'EEEE':'UTC' | translate}},
        {{editOrderCtrl.order.shippingTimeFrom | date:($root.config.isUs ? 'MM/dd/yyyy' : 'dd.MM.yy'):'UTC'}}
        <span ng-if="!$root.config.retailer.twoHourLaw || editOrderCtrl.order.branchDeliveryTypeId != $root.SP_SERVICES.DELIVERY_TYPES.DELIVERY" class="times">
            {{(editOrderCtrl.order.shippingTimeFromDisplay || editOrderCtrl.order.shippingTimeFrom) | date:($root.config.isUs ? 'hh:mma' : 'HH:mm'):'UTC' }}
            -
            {{editOrderCtrl.order.shippingTimeTo | date:($root.config.isUs ? 'hh:mma' : 'HH:mm'):'UTC' }}
        </span>
        <span ng-if="$root.config.retailer.twoHourLaw && editOrderCtrl.order.branchDeliveryTypeId == $root.SP_SERVICES.DELIVERY_TYPES.DELIVERY">
            {{('at_hour' | translate)}}
            {{((editOrderCtrl.order.shippingTimeFromDisplay || editOrderCtrl.order.shippingTimeFrom) | date:($root.config.isUs ? 'hh:mma' : 'HH:mm'):'UTC')}},
            {{'the waiting period will not exceed two hours' | translate}}
        </span>
    </div>
    <div class="delivery-time" ng-if="editOrderCtrl.order.deliveryTimeTypeId === $root.DELIVERY_TIMES_TYPES.DELIVERY_WITHIN_DAYS">
        {{'Ordered' | translate}}:
        {{editOrderCtrl.order.shippingTimeFrom | date:($root.config.isUs ? 'MM/dd/yyyy' : 'dd.MM.yy'):'UTC'}},<br/>
        {{'Delivery within' | translate}} {{::editOrderCtrl.order.deliveryTimeDaysRange}} {{'business days' | translate}}
    </div>
    <div class="order-status-wrapper">
        <span class="circle active">
            <svg focusable="false">
                <use xlink:href="#sp-icons-order-status-received"></use>
            </svg>
            <span class="label" ng-bind="::'Received' | translate"></span>
        </span><!--
        --><span class="circle" ng-class="{active: !$root.util.isOrderInStatuses(editOrderCtrl.order, $root.ORDER_STATUS_STAGES.RECEIVED)}">
            <svg focusable="false">
                <use xlink:href="#sp-icons-order-status-in-process"></use>
            </svg>
            <span class="label" ng-bind="::'In Process' | translate"></span>
        </span><!--
        --><span class="circle" ng-class="{active: $root.util.isOrderInStatuses(editOrderCtrl.order, $root.ORDER_STATUS_STAGES.READY)}">
            <svg focusable="false" class="order-ready">
                <use xlink:href="#sp-icons-order-status-ready"></use>
            </svg>
            <span class="label" ng-bind="::'Ready' | translate"></span>
        </span>
    </div>
    <div class="help">
        {{::'Need Help' | translate}} ? <span class="phoneNumber">{{::config.retailer.contactPhone}}</span>
    </div>
</div>

<ng-include ng-if="$root.util.checkIsPremiumEditOrderToggled()"
    src=" 'template/views/home/partials/home-page-bubble/forgot-something/forgot-something-v2.html' ">
</ng-include>

<footer class="forgot-something" ng-if="!$root.util.checkIsPremiumEditOrderToggled()">
    <span class="for-vertical-align"></span><!--
    --><span class="title-wrapper">
        <img src="https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/forgot.png" alt="">
        <span class="title">
            {{'Forgot Something' | translate}}?
        </span>
    </span><!--
    --><span class="btn-wrapper reverse-text-align">
        <button class="no-design" ng-disabled="editOrderCtrl.ordersService.orderInEdit" ng-class="{disabled: !$root.util.isOrderEditable(editOrderCtrl.order)}" ng-click="editOrderCtrl.editOrder($event);">
            {{'Edit Your Order' | translate}}
        </button>
    </span>
</footer>