<div class="arrow-wrapper"
	 ng-if="homePageBubbleCtrl.hpMessages[$root.config.language.id] || homePageBubbleCtrl.hasOrder">
	<svg focusable="false">
		<use xlink:href="#sp-icons-round-arrow-up"></use>
	</svg>
</div>

<div class="bubble-close" ng-if="!homePageBubbleCtrl.hasOrder" ng-click="homePageBubbleCtrl.close()"></div>

<div class="home-page-bubble-nav" ng-if="homePageBubbleCtrl.hasOrder && homePageBubbleCtrl.hpMessages[$root.config.language.id]">
    <svg ng-click="homePageBubbleCtrl.pageNext()" focusable="false" class="nav-arrow nav-arrow-left"><use xlink:href="#sp-icons-arrow-left"></use></svg>
    <div class="nav-counter">{{homePageBubbleCtrl.currentNum + 1}}/2</div>
    <svg ng-click="homePageBubbleCtrl.pagePrev()" focusable="false" class="nav-arrow nav-arrow-right"><use xlink:href="#sp-icons-arrow-left"></use></svg>
</div>

<div class="bubble-bg">
    <ng-include
            ng-show="!homePageBubbleCtrl.currentNum || !homePageBubbleCtrl.hpMessages[$root.config.language.id]"
            ng-if="homePageBubbleCtrl.hasOrder"
            ng-controller="EditOrderBubbleCtrl as editOrderCtrl"
            class="edit-order-bubble"
            ng-class="{'with-paging': homePageBubbleCtrl.hpMessages[$root.config.language.id]}"
            src="'template/views/home/partials/home-page-bubble/edit-order.html'">
    </ng-include>

    <ng-include
            ng-show="homePageBubbleCtrl.currentNum || !homePageBubbleCtrl.hasOrder"
            ng-if="homePageBubbleCtrl.hpMessages[$root.config.language.id]"
            ng-class="{'with-paging': homePageBubbleCtrl.hasOrder}"
            class="home-page-bubble-message"
            src="'template/views/home/partials/home-page-bubble/message.html'">
    </ng-include>
</div>