.edit-order-bubble {
  .order-details-wrapper {
    .order-details{
      color: $mainColor;
    }

    .order-status-wrapper .circle {
      &.active {
        border: 2px solid $mainColor;
        border-color: $mainColor;

        >.label {
          color: $mainColor;
        }

        >svg {
          fill: $mainColor;
        }

        &:not(:last-child):before {
          background-color: $mainColor;
        }
      }

      &:not(.active) {
        border: 2px solid #A0A0A0;
        border-color: #A0A0A0;

        >svg {
          fill: #A0A0A0;
        }
      }

      .forgot-something {
        background-color: $mainColor;
      }
    }
  }
}

.ltr .edit-order-bubble {
  .order-details-wrapper .order-status-wrapper .circle.active+:not(.active):before {
    background: linear-gradient(to right, $mainColor);
  }
}

.rtl .edit-order-bubble {
  .order-details-wrapper .order-status-wrapper .circle.active+:not(.active):before {
    background: linear-gradient(to left, $mainColor);
  }
}