<div class="my-shop-lists" refresher="$root.config.language.id">
    <div class="title-wrapper">
        <h1 id="page_title" ng-bind="::'My Shopping Lists' | translate"></h1>

        <button class="no-design" ng-click="shopListsCtrl.createShopList();">
            <div class="icon-wrapper">
                <svg focusable="false">
                    <use xlink:href="#sp-icons-plus"></use>
                </svg>
            </div>
            <div class="desc" ng-bind="::'Create new shopping list' | translate"></div>
        </button>
    </div>

    <sp-table ng-if="shopListsCtrl.shopLists && shopListsCtrl.shopLists.length"
              items="shopListsCtrl.shopLists"
              actions="shopListsCtrl.shopListActions"
              style-class="high-columns"
              row-ng-click="openShopList(item)">
        <sp-table-column title="{{'Name' | translate}}" style-class="shopping-lists-name" sort-by="name">
            <span ng-if="item.isSmartList">{{item.name | translate}}</span>
            <span ng-if="!item.isSmartList">{{item.name}}</span>
        </sp-table-column>
        <sp-table-column title="{{'Items' | translate}}" sort-by="itemsCount">
            {{item.itemsCount}}
        </sp-table-column>
        <sp-table-column title="{{'Creation date' | translate}}" style-class="date-column" sort-by="creationDate">
            {{item.creationDate | date: ($root.config.isUs ? 'MM/dd/yyyy' : 'dd/MM/yyyy'):'UTC'}}
            <span class="arrow"></span>
        </sp-table-column>
        <sp-table-column title="" style-class="actions">
            <div class="buttons-wrapper" ng-if="item.id">
                <button class="no-design" ng-click="createNewCart(item, $event);" ng-keydown="$event.stopPropagation();">
                    <div class="icon-wrapper">
                        <svg focusable="false">
                            <use xlink:href="#sp-icons-plus"></use>
                        </svg>
                    </div>
                    <div class="desc" ng-bind="::('create new cart' | translate).replace('{cart}', $root.config.retailer.settings.setCartNameToBasket ? $root.config.retailer.settings.setCartNameToBasket : 'cart')"></div>
                </button><!--
            --><button class="no-design" ng-click="addToCart(item, $event);" ng-keydown="$event.stopPropagation();">
                <div class="icon-wrapper">
                    <svg focusable="false">
                        <use xlink:href="#sp-icons-add-to-cart"></use>
                    </svg>
                </div>
                <div class="desc" ng-bind="::('add to cart' | translate).replace('{cart}', $root.config.retailer.settings.setCartNameToBasket ? $root.config.retailer.settings.setCartNameToBasket : 'cart')"></div>
            </button><!--
            --><button class="no-design" ng-click="remove(item, $event);" ng-keydown="$event.stopPropagation();">
                <div class="icon-wrapper">
                    <svg focusable="false">
                        <use xlink:href="#sp-icons-remove"></use>
                    </svg>
                </div>
                <div class="desc" ng-bind="::'Remove' | translate"></div>
                </button>
            </div>
        </sp-table-column>
    </sp-table>

    <div ng-if="!shopListsCtrl.shopLists || !shopListsCtrl.shopLists.length">
        {{'No shopping list created yet' | translate}}
    </div>
</div>
