$topBoxShadow: inset 0 2px 0 0 $secondaryColor;
$bottomBoxShadow: inset 0 -2px 0 0 $secondaryColor;
$leftBoxShadow: inset 2px 0 0 0 $secondaryColor;
$rightBoxShadow: inset -2px 0 0 0 $secondaryColor;

html.shop-lists section.view {
  > div .my-shop-lists sp-table table tbody {
    tr:hover, tr:focus-within {
      td {
        box-shadow: $topBoxShadow, $bottomBoxShadow;

        &:first-child {
          box-shadow: $topBoxShadow, $bottomBoxShadow, $leftBoxShadow;
        }

        &:last-child {
          box-shadow: none;
        }

        &.date-column {
          box-shadow: $topBoxShadow, $bottomBoxShadow, $rightBoxShadow;

          .arrow:after {
            border: 2px solid $secondaryColor;
          }
        }

        &.actions {
          .buttons-wrapper {
            button:hover, button:focus {
              .icon-wrapper {
                box-shadow: 0.1px 0px 10px 0.5px $secondaryColor;

              }
            }
          }
        }
      }
    }
  }
}

html.rtl.shop-lists section.view {
  > div .my-shop-lists sp-table table tbody tr:hover td {
    &:first-child {
      box-shadow: $topBoxShadow, $bottomBoxShadow, $rightBoxShadow;
    }

    &.date-column {
      box-shadow: $topBoxShadow, $bottomBoxShadow, $leftBoxShadow;
    }
  }
}