<div class="product-more-info">
    <div class="more-details">

        <h3 ng-if="
        (productCtrl.product.data | name).ingredients ||
        (productCtrl.product.data | name).containAllergens ||
        (productCtrl.product.data | name).mightContainAllergens">
            {{'Recipes and Allergies' | translate}}
        </h3>

        <div class="row" ng-if="(productCtrl.product.data | name).ingredients">
            <div class="header" ng-bind="::'List of Ingredients' | translate"></div>
            <div ng-bind-html="(productCtrl.product.data | name).ingredients"></div>
        </div>
        <div class="row" ng-if="(productCtrl.product.data | name).containAllergens">
            <div class="header" ng-bind="::'Allergies Contained' | translate"></div>
            <div ng-bind-html="(productCtrl.product.data | name).containAllergens"></div>
        </div>
        <div class="row" ng-if="(productCtrl.product.data | name).mightContainAllergens">
            <div class="header" ng-bind="::'Possible Allergies' | translate"></div>
            <div ng-bind-html="(productCtrl.product.data | name).mightContainAllergens"></div>
        </div>
        <div class="row" ng-if="(productCtrl.product.data | name).freeFromAllergens">
            <div class="header" ng-bind="::'Free from' | translate"></div>
            <div ng-bind-html="(productCtrl.product.data | name).freeFromAllergens"></div>
        </div>
        <div class="row" ng-if="(productCtrl.product.data | name).preparationAndUsage">
            <div class="header" ng-bind="::'Preparation and Usage' | translate"></div>
            <div ng-bind-html="(productCtrl.product.data | name).preparationAndUsage"></div>
        </div>

        <h3 ng-if="(productCtrl.product.data | name).description && productCtrl.product.categoryType !== $root.CATEGORIES_TYPES.LARGE_ITEMS">{{'About the Product' | translate}}</h3>

        <div class="row" ng-if="(productCtrl.product.data | name).description && productCtrl.product.categoryType !== $root.CATEGORIES_TYPES.LARGE_ITEMS">
<!--            <h3 ng-bind="::'Product Description' | translate"></h3>-->
            <p ng-bind-html="(productCtrl.product.data | name).description | trustHtml"></p>
        </div>

        <div class="row" ng-if="(productCtrl.product.data | name).productStory && productCtrl.product.categoryType !== $root.CATEGORIES_TYPES.LARGE_ITEMS">
            <p ng-bind-html="(productCtrl.product.data | name).productStory | trustHtml"></p>
        </div>

        <div class="row" ng-if="(productCtrl.product.data | name).brand && productCtrl.product.categoryType !== $root.CATEGORIES_TYPES.LARGE_ITEMS">
            <h3 ng-bind="::'Brand' | translate"></h3>
            <p ng-bind-html="(productCtrl.product.data | name).brand | trustHtml"></p>
        </div>

        <div class="row" ng-if="(productCtrl.product.data | name).manufacturersAddress && productCtrl.product.categoryType !== $root.CATEGORIES_TYPES.LARGE_ITEMS">
            <h3 ng-bind="::'Manufacturer' | translate"></h3>
            <p ng-bind-html="(productCtrl.product.data | name).manufacturersAddress | trustHtml"></p>
        </div>

        <h3 ng-if="productCtrl.hasSupervisions">{{'Supervisions' | translate}}</h3>

        <div class="row" ng-repeat="supervisions in productCtrl.product.supervisionArray" ng-if="supervisions.values.length">
            <div class="header">{{$root.SUPERVISION_TAGS[supervisions.id] | translate}}</div>
            <div>
                 <span ng-repeat="supervision in supervisions.values">{{
                        (supervision | name) +
                        ($index === (supervisions.values.length -1) ? '' : ', ')
                        }}
                 </span>
            </div>
        </div>

        <h3 ng-if="
        (productCtrl.product.data | name).direction ||
        (productCtrl.product.data | name).storageInstructions ||
        (productCtrl.product.data | name).warnings ||
         productCtrl.product.metaData.fatPercentage ||
         productCtrl.product.metaData.creamPercentage ||
         productCtrl.product.metaData.fruitPercentage ||
         productCtrl.product.metaData.alcoholPercentage ||
         productCtrl.product.metaData.ph">
            {{'Extra Info and Instructions' | translate}}
        </h3>

        <div class="row" ng-if="(productCtrl.product.data | name).direction">
            <div ng-bind-html="(productCtrl.product.data | name).direction | trustHtml"></div>
        </div>

        <div class="row" ng-if="(productCtrl.product.data | name).storageInstructions">
            <div class="header" ng-bind="::'Storage Instructions' | translate"></div>
            <div ng-bind-html="(productCtrl.product.data | name).storageInstructions | trustHtml"></div>
        </div>

        <div class="row" ng-if="(productCtrl.product.data | name).warnings">
            <div class="header" ng-bind="::'Usage Warnings' | translate"  ng-if="productCtrl.product.gs1ProductId || productCtrl.product.externalId"></div>
            <div class="header" ng-bind="::'Possible Allergies' | translate"  ng-if="!(productCtrl.product.gs1ProductId || productCtrl.product.externalId)"></div>
            <div ng-bind-html="(productCtrl.product.data | name).warnings"></div>
        </div>




        <div class="row" ng-if="productCtrl.product.metaData.fatPercentage">
            <div class="header" ng-bind="::'Fat Percentage' | translate"></div>
            <div ng-bind="::productCtrl.product.metaData.fatPercentage + '%'"></div>
        </div>

        <div class="row" ng-if="productCtrl.product.metaData.creamPercentage">
            <div class="header" ng-bind="::'Cream Percentage' | translate"></div>
            <div ng-bind="::productCtrl.product.metaData.creamPercentage + '%'"></div>
        </div>

        <div class="row" ng-if="productCtrl.product.metaData.fruitPercentage">
            <div class="header" ng-bind="::'Fruit Percentage' | translate"></div>
            <div ng-bind="::productCtrl.product.metaData.fruitPercentage + '%'"></div>
        </div>

        <div class="row" ng-if="productCtrl.product.metaData.alcoholPercentage">
            <div class="header" ng-bind="::'Alcohol Percentage' | translate"></div>
            <div ng-bind="::productCtrl.product.metaData.alcoholPercentage + '%'"></div>
        </div>

        <div class="row" ng-if="productCtrl.product.metaData.ph">
            <div class="header" ng-bind="::'PH' | translate"></div>
            <div ng-bind="::productCtrl.product.metaData.ph"></div>
        </div>

        <h3 ng-if="
        productCtrl.attributesList.length ||
        productCtrl.product.metaData.originCountries.length ||
        productCtrl.product.dataEffectiveTime ||
        productCtrl.product.dimensions.height ||
        productCtrl.product.dimensions.depth ||
        productCtrl.product.dimensions.width ||
        productCtrl.product.dimensions.netWeight ||
        productCtrl.product.dimensions.grossWeight">
            {{'General Information' | translate}}
        </h3>

        <div class="row" ng-if="productCtrl.product.metaData.originCountries.length">
            <div class="header" ng-bind="::'Country of Origin' | translate"></div>
            <div>
                <span ng-repeat="country in productCtrl.product.metaData.originCountries">{{
                    (country.names | name) +
                        ($index === (productCtrl.product.metaData.originCountries.length -1) ? '' : ', ')
                        }}</span>
            </div>
        </div>

             
        <div class="row" ng-if="productCtrl.attributesList.length" 
            ng-repeat="attribute in productCtrl.attributesList">
            <div class="header" ng-bind="::attribute.key"></div>
            <div ng-bind="::attribute.value"></div>
        </div>


        <div class="row" ng-if="productCtrl.product.dataEffectiveTime">
            <div class="header" ng-bind="::'Date taken into Effect' | translate"></div>
            <div ng-bind="::productCtrl.product.dataEffectiveTime"></div>
        </div>

        <div class="row" ng-if="productCtrl.product.dimensions.height">
            <div class="header" ng-bind="::'Height' | translate"></div>
            <div ng-bind="::productCtrl.product.dimensions.height.value + ' ' + (productCtrl.product.dimensions.height.unitOfMeasure.names | name)"></div>
        </div>

        <div class="row" ng-if="productCtrl.product.dimensions.depth">
            <div class="header" ng-bind="::'Depth' | translate"></div>
            <div ng-bind="::productCtrl.product.dimensions.depth.value + ' ' + (productCtrl.product.dimensions.depth.unitOfMeasure.names | name)"></div>
        </div>

        <div class="row" ng-if="productCtrl.product.dimensions.width">
            <div class="header" ng-bind="::'Width' | translate"></div>
            <div ng-bind="::productCtrl.product.dimensions.width.value + ' ' + (productCtrl.product.dimensions.width.unitOfMeasure.names | name)"></div>
        </div>

        <div class="row" ng-if="productCtrl.product.dimensions.netWeight">
            <div class="header" ng-bind="::'Net Width' | translate"></div>
            <div ng-bind="::productCtrl.product.dimensions.netWeight.value + ' ' + (productCtrl.product.dimensions.netWeight.unitOfMeasure.names | name)"></div>
        </div>

        <div class="row" ng-if="productCtrl.product.dimensions.grossWeight">
            <div class="header" ng-bind="::'Gross Width' | translate"></div>
            <div ng-bind="::productCtrl.product.dimensions.grossWeight.value + ' ' + (productCtrl.product.dimensions.grossWeight.unitOfMeasure.names | name)"></div>
        </div>
    </div>

    <section   class="nutrition-values" ng-if="productCtrl.product.nutritionValues && (!$root.config.isUs || productCtrl.product.dataEnrichmentTypeId === 3)"
               ng-class="{ 'width-fit-content': productCtrl.product.nutritionValues.sizes.length > 2, 'width-min-content': productCtrl.product.nutritionValues.sizes.length < 3}"
    >
        <div class="table-wrapper non-us">
            <div class="title">{{'Nutrition Facts' | translate}}</div>

            <table>
                <thead>
                <tr>
                    <th>{{'Amount Per Serving' | translate}}</th>
                    <th ng-repeat="size in productCtrl.product.nutritionValues.sizes">
                        {{size.names | name}}
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="value in productCtrl.product.nutritionValues.values">
                    <th>{{(value.names | name) || (value.name | translate)}}</th>
                    <td ng-repeat="sizeValue in value.sizeValues">
                       
                            {{sizeValue.value}}&nbsp{{sizeValue.unitOfMeasure.names | name}}
                       
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>

    <div class="nutrition-facts" ng-if="!productCtrl.product.nutritionValues && productCtrl.nutritionFacts && productCtrl.nutritionFacts.calories && productCtrl.nutritionFacts.calories.value">
        <header class="clearfix">
            <h1 ng-bind="::'Nutrition Facts' | translate"></h1>
            <p>{{::'Serving Size' | translate}}&nbsp{{productCtrl.nutritionFacts.servingSize.value + ' ' + (productCtrl.nutritionFacts.servingSize | unitNames | name)}}</p>
            <p>{{::'Servings Per Container' | translate}}&nbsp{{productCtrl.nutritionFacts.servingsPerContainer.value}}</p>
            <h2 ng-bind="::'Amount Per Serving' | translate"></h2>
            <dl>
                <dt ng-bind="::(('Calories' | translate) + ' ')"></dt>
                <dd ng-bind="productCtrl.nutritionFacts.calories.value"></dd>
            </dl>
            <dl>
                <dt ng-bind="::(('Calories From Fat' | translate) + ' ')"></dt>
                <dd ng-bind="productCtrl.nutritionFacts.caloriesFromFat.value || 0"></dd>
            </dl>
        </header>

        <table class="main-table">
            <thead>
            <tr>
                <th colspan="4">&#37; {{::'Daily Value' | translate}}&#42;</th>
            </tr>
            </thead>

            <tbody class="first">
            <tr>
                <td colspan="3">{{::'Total Fat' | translate}}&nbsp<span class="grams">{{productCtrl.nutritionFacts.totalFat.value + ' ' + (productCtrl.nutritionFacts.totalFat | unitNames | name)}}</span>
                </td>
                <td>{{productCtrl.nutritionFacts.totalFat.dailyVal || 0}}&#37;</td>
            </tr>
            <tr>
                <td class="indent"></td>
                <td colspan="2">{{::'Saturated Fat' | translate}}&nbsp<span class="grams">{{productCtrl.nutritionFacts.saturatedFat.value || 0 }} {{:: 'g' | translate }}</span>
                </td>
                <td>{{productCtrl.nutritionFacts.saturatedFat.dailyVal || 0}}&#37;</td>
            </tr>
            <tr>
                <td class="indent"></td>
                <td colspan="2">{{::'Trans Fat' | translate}}&nbsp<span class="grams">{{productCtrl.nutritionFacts.transFat.value || 0 }}  {{:: 'g' | translate }}</span>
                </td>
                <td>{{productCtrl.nutritionFacts.transFat.dailyVal || 0}}&#37;</td>
            </tr>
            <tr ng-if="productCtrl.nutritionFacts.polyunsaturatedFat">
                <td class="indent"></td>
                <td colspan="2">{{::'Polyunsaturated Fat' | translate}}&nbsp<span class="grams">{{productCtrl.nutritionFacts.polyunsaturatedFat.value + ' ' + (productCtrl.nutritionFacts.polyunsaturatedFat | unitNames | name)}}</span>
                </td>
                <td ng-if="productCtrl.nutritionFacts.polyunsaturatedFat.dailyVal">{{productCtrl.nutritionFacts.polyunsaturatedFat.dailyVal}}&#37;</td>
            </tr>
            <tr ng-if="productCtrl.nutritionFacts.monounsaturatedFat">
                <td class="indent"></td>
                <td colspan="2">{{::'Monounsaturated Fat' | translate}}&nbsp<span class="grams">{{productCtrl.nutritionFacts.monounsaturatedFat.value + ' ' + (productCtrl.nutritionFacts.monounsaturatedFat | unitNames | name)}}</span>
                </td>
                <td ng-if="productCtrl.nutritionFacts.monounsaturatedFat.dailyVal">{{productCtrl.nutritionFacts.monounsaturatedFat.dailyVal}}&#37;</td>
            </tr>
            <tr>
                <td colspan="3">{{::'Cholesterol' | translate}}&nbsp<span class="grams">{{productCtrl.nutritionFacts.cholesterol.value + ' ' + (productCtrl.nutritionFacts.cholesterol | unitNames | name)}}</span>
                </td>
                <td>{{productCtrl.nutritionFacts.cholesterol.dailyVal || 0}}&#37;</td>
            </tr>
            <tr>
                <td colspan="3">{{'Sodium' | translate}}&nbsp
                    <span class="grams" ng-bind="productCtrl.nutritionFacts.sodium.value + ' ' + (productCtrl.nutritionFacts.sodium | unitNames | name)"></span>
                </td>
                <td>{{productCtrl.nutritionFacts.sodium.dailyVal || 0}}&#37;</td>
            </tr>
            <tr>
                <td colspan="3">{{::'Total Carbohydrate' | translate}}&nbsp<span class="grams">{{productCtrl.nutritionFacts.totalCarbohydrates.value + ' ' + (productCtrl.nutritionFacts.totalCarbohydrates | unitNames | name)}}</span>
                </td>
                <td>{{productCtrl.nutritionFacts.totalCarbohydrates.dailyVal || 0}}&#37;</td>
            </tr>
            <tr>
                <td class="indent"></td>
                <td colspan="2">{{::'Dietary Fiber' | translate}}&nbsp<span class="grams">{{productCtrl.nutritionFacts.dietaryFiber.value || 0 }} {{:: 'g' | translate }}</span>
                </td>
                <td>{{productCtrl.nutritionFacts.dietaryFiber.dailyVal || 0}}&#37;</td>
            </tr>
            <tr>
                <td class="indent"></td>
                <td colspan="2">{{::'Sugars' | translate}}&nbsp<span class="grams">{{productCtrl.nutritionFacts.sugars.value || 0 }} {{:: 'g' | translate }}</span></td>
            </tr>
            <tr>
                <td colspan="4">{{::'Protein' | translate}}&nbsp<span class="grams">{{productCtrl.nutritionFacts.protein.value + ' ' + (productCtrl.nutritionFacts.protein | unitNames | name)}}</span>
                </td>
            </tr>
            </tbody>

            <tbody class="second">
            <tr>
                <td colspan="3" ng-bind="::'Vitamin A' | translate"></td>
                <td>{{productCtrl.nutritionFacts.vitaminA.value || 0}}&#37;</td>
            </tr>
            <tr>
                <td colspan="3" ng-bind="::'Vitamin C' | translate"></td>
                <td>{{productCtrl.nutritionFacts.vitaminC.value || 0}}&#37;</td>
            </tr>
            <tr>
                <td colspan="3" ng-bind="::'Calcium' | translate"></td>
                <td>{{productCtrl.nutritionFacts.calcium.value || 0}}&#37;</td>
            </tr>
            <tr>
                <td colspan="3" ng-bind="::'Iron' | translate"></td>
                <td>{{productCtrl.nutritionFacts.iron.value || 0}}&#37;</td>
            </tr>
            </tbody>
        </table>
        <p ng-bind="::'Percent Daily' | translate"></p>
    </div>
    <div class="product-info-disclaimer" ng-bind="'product info disclaimer' | translate"></div>
    <div class="product-page-message" ng-if="productCtrl.productPageMessage && productCtrl.productPageMessage.text"
        ng-bind-html="productCtrl.trustedHtml(productCtrl.productPageMessage.text)"
    ></div>
</div>
