$topBoxShadow: inset 0 2px 0 0 $secondaryColor;
$bottomBoxShadow: inset 0 -2px 0 0 $secondaryColor;
$leftBoxShadow: inset 2px 0 0 0 $secondaryColor;
$rightBoxShadow: inset -2px 0 0 0 $secondaryColor;

html.smart-list section.view > div {
  .smart-list-container {

    .actions {
      button {
        .icon-wrapper {
          border: 2px solid $secondaryColor;
        }
      }
    }


    sp-table table tbody tr {
      td {
        &.product-details > .specials {
          color: $mainColor;
        }

        &.image svg {
          fill: $mainColor;
        }

        &.select label.checkbox>.box {
          border: 2px solid $secondaryColor;

          svg {
            fill: $secondaryColor;
          }
        }

        &.quantity .smart-list-in-cart {
          background-color: $mainColor;
        }
      }

      &:hover {
        td {
          box-shadow: $topBoxShadow, $bottomBoxShadow;

          &:first-child {
            box-shadow: $topBoxShadow, $bottomBoxShadow, $leftBoxShadow;
          }

          &:last-child {
            box-shadow: $topBoxShadow, $bottomBoxShadow, $rightBoxShadow;
          }
        }
      }
    }

    .save-button-container {
      background-color: $secondaryColor;
    }

    .disabled {
      opacity: 0.35;
      pointer-events: none;
    }

    sp-table .out-of-stock {
      position: absolute;
      top: 50%;
      height: 2em;
      line-height: 2em;
      padding: 0 0.4em;
      -webkit-box-sizing: border-box;
      border-radius: 16px;
      box-sizing: border-box;
      text-align: center;
      margin-top: -0.75em;
      color: #ffffff;
      font-size: 0.75em;
      white-space: nowrap;
      background-color: #F86B2F;
    }
  }
}

html.rtl.smart-list section.view > div .smart-list-container sp-table table tbody tr:hover td {
  &:first-child {
    box-shadow: $topBoxShadow, $bottomBoxShadow, $rightBoxShadow;
  }

  &:last-child {
    box-shadow: $topBoxShadow, $bottomBoxShadow, $leftBoxShadow;
  }
}