$primary-color: #FEC131;
$medium-border-radius: 8px; 
$medium-gap: 6px;

.sp-point-redemption {
  display: flex;
  justify-content: center;
  align-items: center;
  font: 700 1em 'Open Sans Hebrew';
  // background-image: url('https://storai-my.sharepoint.com/:i:/g/personal/long_d_stor_ai/EZM2bLHlnslGv6MEO7O-AjkBkIIubQhrrsn5hJsUBepAcg?e=NsEOEG');
  background-color: transparent;
  background-repeat: none;
  background-position: center;
  background-size: cover;

  > .loyalty-member-content {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 14px;
    box-sizing: border-box;
    &.type-1, &.type-2{
      padding: 0 12px;
    }
    &.type-3{
      padding: 0 24px;
      height: 100%;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }
    > .loyalty-heading {
      font: 400 48px 'Karantina';
      color: $primary-color;
      padding: 0 0.6em 0;
      &.type-1,
      &.type-3, 
      &.type-4 {
        text-transform: none;
      }
      &.type-2 {
        text-transform: uppercase;
      }
    }
    > .loyalty-sub-heading {
      display: block;
      font-size: 14px;
      font-weight: 700;
      color: #fff;
      &.type-1 {
        font-size: 20px;
      }
    }
    > .points-progress-bar-wrapper {
      background-color: #ECECEC;
      border-radius: $medium-border-radius;
      padding: 5px 10px;
      .progress-bar-description {
        text-align: start;
        font: 700 12px 'Inter', sans-serif;
      }
      .points-progress-bar {
        display: flex;
        align-items: center;
        .progress-bar {
          width: 90%;
          height: 7px;
          border-radius: 24.5746px;
          background-color: #000;
          border: 1.26023px solid #BCBCBC;
          margin-inline-end: 0.5em;
          .inner-progress-bar {
            background-color: #F1BB16;
            border-radius: 24.5746px;
            width: 385px;
            height: 7px;
          }
        }
        span {
          font-size: 14px;
        }
      }
    }
    > .loyalty-button-container {
      display: flex;
      justify-content: space-between;
      gap: $medium-gap;

      &.has-one-button {
          justify-content: center;
      }
      &.type-3{
        justify-content: center;
        > .loyalty-button-item {
          flex: none;
          border-radius: 0;
          padding: 12px;
          width: fit-content;
          justify-content: center;
          > .member-loyalty-links {
            width: fit-content;
            > .regis-loyalty-description {
              font-size: 17px;
            }
          }
        }
      }
      > .loyalty-button-item {
        box-sizing: border-box;
        display: flex;
        width: 45%;
        align-items: center;
        justify-content: space-between;
        flex: 1;
        gap: $medium-gap;
        padding: 12px;
        color: #000;
        background-color: $primary-color;
        border-radius: $medium-border-radius;
        transition: all 0.2s ease;
        cursor: pointer;
        &.has-one-button {
          flex: none;
          max-width: fit-content;
          width: 50%;
        }
        &:hover{
          background-color: inherit;
          opacity: 0.9;
        }
        > .member-loyalty-links {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: $medium-gap;
          > .coupons-icon,
          > .specials-icon {
            display: inline-block;
            width: 32px;
            height: 32px;
            object-fit: contain;
          }
          > .number-of-coupons,
          > .number-of-specials {
            width: 40%;
            display: inline-block;
            font: 300 52px 'Karantina';
            text-align: center;
          }
          > .coupons-description,
          > .specials-description,
          > .regis-loyalty-description {
            display: inline-block;
            font-size: 14px;
            color: inherit;
            font-weight: 700;
            text-transform: capitalize;
          }
          > .coupons-description,
          > .specials-description {
            text-align: left;
          }
          > .regis-loyalty-description {
            text-align: center;
          }
          > svg {
            flex: 0 0 6px;
            min-width: 6px;
            align-self: flex-end;
            transform: translateY(-100%)
          }
        }
      }
    }
  }
}
