<div class="auto-complete auto-complete-and-map" ng-show="autocompleteAddressAndMapCtrl.shown"
    id="{{ autocompleteAddressAndMapCtrl.elementId }}" role="listbox" aria-label="{{ ariaLabel }}"
    ng-class="{ 'auto-complete--hovered-btn-map': autocompleteAddressAndMapCtrl.isHoverOnBtnMap }">
    <!-- sp-autocomplete -->
    <span class="option default-text-align"
        ng-class="{ 'current': autocompleteAddressAndMapCtrl.currentIndex == $index, 'filter-option': !!option.filter }"
        ng-repeat="option in autocompleteAddressAndMapCtrl.options"
        ng-click="autocompleteAddressAndMapCtrl.chooseOption($index)"
        ng-mouseenter="autocompleteAddressAndMapCtrl.currentIndex = $index;" tabindex="-1" role="option"
        id="{{ autocompleteAddressAndMapCtrl.elementId }}_option_{{ $index }}"
        aria-selected="{{ autocompleteAddressAndMapCtrl.currentIndex == $index }}">
        <span ng-if="!!option.filter" class="filter-option-content" ng-include="filtersTemplateUrl"></span>
        <sp-search-highlight ng-if="!option.filter" query="model" option="option.value"></sp-search-highlight>
    </span>
    <!-- Map Button -->
    <div class="btn-map-wrapper" ng-mouseenter="autocompleteAddressAndMapCtrl.isHoverOnBtnMap = true"
        ng-mouseleave="autocompleteAddressAndMapCtrl.isHoverOnBtnMap = false" ng-click="autocompleteAddressAndMapCtrl.openGoogleMap()">
        <div class="btn-map">
            <svg focusable="false"  xmlns="http://www.w3.org/2000/svg" width="23" height="34" viewBox="0 0 23 34" fill="none">
                <use xlink:href="#sp-icons-gg-map-marker"></use>
            </svg>
            <div class="btn-map__hint">
                <span class="btn-map__hint__title">{{ 'autocomplete_adrs_didnt_find' | translate }}</span>
                <span class="btn-map__hint__text">{{ 'autocomplete_adrs_choose_location' | translate }}</span>
            </div>
        </div>
    </div>
</div>