.store-information-wrapper {
  .single-branch {
    position: relative;
    padding: 1.875em;
    box-shadow: 0 0 7px 0 rgba(0,0,0,0.05);
    margin: 1em 0;
    overflow: hidden;
    background-color: #ffffff;

    > .basic {
      cursor: pointer;
      color: #616161;

      svg {
        position: absolute;
        height: 1.188em;
        width: 1.188em;
        right: 2em;
        top: 2.9em;
        fill: #414141;
      }

      .branch-name {
        color: #616161;
        padding: 0;
        display: inline-block;
        font-size: 3.125em;
      }

      .branch-address {
        padding: 0 0.5em;
        font-size: 1.25em;
      }
    }

    > .extra {
      height: 0;
      white-space: nowrap;
      @include transition(height 0.4s);
      overflow: hidden;
      visibility: hidden;

      > * {
        display: inline-block;
        vertical-align: top;
        white-space: normal;
      }

      .details-wrapper {
        width: 27%;
        padding: 1.7em 1em 1em 0;
        @include box-sizing(border-box);

        > div.details-section {
          padding-bottom: 2em;

          .section-title {
           font-size: 0.963em;
            color: #616161;
            font-weight: 700;
            padding: 0 0 0.5em 0;
          }

          .branch-hours {
            line-height: 2em;
          }

          span, a {
            font-weight: 300;
          }
        }
      }

      > .map-wrapper {
        height: 18.688em;
        width: 73%;
        padding-top: 1.8em;

        .sp-google-maps-wrapper {
          height: 100%;

          .sp-google-maps {
            height: 98%;
            width: 98%;
          }
        }
      }
    }

    &.open-info {
      > .extra {
        height: 21em;
        overflow-y: auto;
        overflow-x: hidden;
        margin-top: 1.5em;
        border-top: 1px solid #cecece;
        visibility: visible;
      }
    }

    &.only-one {
      border-width: 0;
      padding: 0;

      > .basic {
        cursor: auto;

        .toggle-branch {
          display: none;
        }
      }

      > .extra {
        height: auto;
        overflow: hidden;
      }
    }

    &.open-info {
      .basic {
        svg {
          transform: rotate(180deg);
        }
      }
    }

    &:first-child {
      margin-top: 0;
    }
  }
}